<?php
/** @var \ParadoxLabs\TokenBase\Block\Customer\Form $block */
// @codingStandardsIgnoreFile
?>
<?php $code = $block->escapeQuote($block->getCode()); ?>

<div class="block-title">
    <h2>
        <?php if ($block->isEdit()): ?>
            <?= $block->escapeHtml(__('Editing %1', $block->getCard()->getLabel())) ?>
        <?php else: ?>
            <?= $block->escapeHtml(__('Add a Credit Card')) ?>
        <?php endif; ?>
    </h2>
</div>

<form action="<?= $block->escapeUrl($block->getAction()) ?>" method="post" id="form-validate" class="checkout-payment-method" data-hasrequired="<?= $block->escapeQuote(__('* Required Fields')) ?>">
    <?= $block->getBlockHtml('formkey') ?>
    <input type="hidden" name="card_id" value="<?= $block->getCard()->getId() ? $block->escapeQuote($block->getCard()->getHash()) : '' ?>" />
    <input type="hidden" name="method" value="<?= $code ?>" />
    <input type="hidden" name="source" value="paymentinfo" />
    <input type="hidden" id="<?= $code ?>-communicator" value="" />
    <fieldset class="fieldset address row">
        <legend class="legend"><span><?= $block->escapeHtml(__('Cardholder Information')) ?></span></legend><br>

        <div class="field preferred required col-lg-4">
        <label class="label" for="preferred card type"><span><?= $block->escapeHtml(__('Preferred Card')) ?></span></label>
        <div class="control">
        <select id="region-id" name="billing[region_id]" title="<?= $block->escapeQuote(__('Preferred Card type')) ?>" class="validate-select" <?=(!$block->getConfig('general/preferred/display_all')) ?  : '' ?>>
            <option value=""><?= $block->escapeHtml(__('No')) ?></option>
        </select>
        </div>
        </div>

        <?= $block->getNameBlockHtml() ?>
        <div class="field company col-lg-4">
            <label class="label" for="company"><span><?= $block->escapeHtml(__('Company')) ?></span></label>
            <div class="control">
                <input type="text" name="billing[company]" id="company" title="<?= $block->escapeQuote(__('Company')) ?>" value="<?= $block->escapeQuote($block->getAddress()->getCompany()) ?>" class="input-text <?= $block->escapeQuote($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('company')) ?>">
            </div>
        </div>

        <?php $_streetValidationClass = $block->escapeQuote($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street')); ?>
        <div class="field street required col-lg-8">
            <div class="outer-control street1">         
                <label for="street" class="label"><span><?= $block->escapeHtml(__('Street Address')) ?></span></label>
                <div class="control left">
                    <input type="text" name="billing[street][]" value="<?= $block->escapeQuote($block->getStreetLine(1)) ?>" title="<?= $block->escapeQuote(__('Street Address')) ?>" id="street" class="input-text <?= $_streetValidationClass ?>"  />
                </div>
            </div>
     
        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
        <?php /** NB: Secure Acceptance only supports 2 street lines according to documentation */ ?>
        <?php for ($_i = 1, $_n = min(2, $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines()); $_i < $_n; $_i++): ?>
                    <?php $lineNo = (int)($_i+1); ?>
                    <div class="control street2">
                        <label>Street 2</label>
                        <input type="text" name="billing[street][]" value="<?= $block->escapeQuote($block->getStreetLine($lineNo)) ?>" title="<?= $block->escapeQuote(__('Street Address %1', $lineNo)) ?>" id="street_<?= $lineNo ?>" class="input-text <?= $_streetValidationClass ?>">
                    </div>
        <?php endfor; ?>
        </div>
    </fieldset>
    <fieldset class="fieldset address mid row">

        <!-- </?php $_streetValidationClass = $block->escapeQuote($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street')); ?>
        <div class="field street required col-lg-4">
            <label for="street" class="label"><span></?= $block->escapeHtml(__('Street')) ?></span></label>
            <div class="control">
                <input type="text" name="billing[street][]" value="</?= $block->escapeQuote($block->getStreetLine(1)) ?>" title="</?= $block->escapeQuote(__('Street Address')) ?>" id="street" class="input-text </?= $_streetValidationClass ?>"  />
                <div class="nested">
                    </?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                    </?php /** NB: Secure Acceptance only supports 2 street lines according to documentation */ ?>
                    </?php for ($_i = 1, $_n = min(2, $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines()); $_i < $_n; $_i++): ?>
                        </?php $lineNo = (int)($_i+1); ?>
                        <div class="field additional">
                            <label class="label" for="street_</?= $lineNo ?>">
                                <span></?= $block->escapeHtml(__('Street Address %1', $lineNo)) ?></span>
                            </label>
                            <div class="control">
                                <input type="text" name="billing[street][]" value="</?= $block->escapeQuote($block->getStreetLine($lineNo)) ?>" title="</?= $block->escapeQuote(__('Street Address %1', $lineNo)) ?>" id="street_</?= $lineNo ?>" class="input-text </?= $_streetValidationClass ?>">
                            </div>
                        </div>
                    </?php endfor; ?>
                </div>
            </div>
        </div> -->
        <div class="field city required col-lg-4">
            <label class="label" for="city"><span><?= $block->escapeHtml(__('City')) ?></span></label>
            <div class="control">
                <input type="text" name="billing[city]" value="<?= $block->escapeQuote($block->getAddress()->getCity()) ?>" title="<?= $block->escapeQuote(__('City')) ?>" class="input-text <?= $block->escapeQuote($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city')) ?>" id="city">
            </div>
        </div>

        <div class="field region required col-lg-4">
            <label class="label" for="region-id"><span><?= $block->escapeHtml(__('State/Province')) ?></span></label>
            <div class="control left">
                <select id="region-id" name="billing[region_id]" title="<?= $block->escapeQuote(__('State/Province')) ?>" class="validate-select" <?=(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '' ?>>
                    <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                </select>
                <input type="text" id="region" name="billing[region]" value="<?= $block->escapeQuote($block->getRegion()) ?>"  title="<?= $block->escapeQuote(__('State/Province')) ?>" class="input-text <?= $block->escapeQuote($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region')) ?>"<?=(!$block->getConfig('general/region/display_all')) ? ' disabled="disabled"' : '' ?>/>
            </div>
        </div>

        <div class="field zip required col-lg-4">
            <label class="label" for="zip"><span><?= $block->escapeHtml(__('Zip/Postal Code')) ?></span></label>
            <div class="control">
                <input type="text" name="billing[postcode]" value="<?= $block->escapeQuote($block->getAddress()->getPostcode()) ?>" title="<?= $block->escapeQuote(__('Zip/Postal Code')) ?>" id="zip" class="input-text validate-zip-international <?= $block->escapeQuote($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
            </div>
        </div>

        <!-- <div class="field zip required col-lg-4">
            <label class="label" for="zip"><span></?= $block->escapeHtml(__('Zip/Postal Code')) ?></span></label>
            <div class="control">
                <input type="text" name="billing[postcode]" value="</?= $block->escapeQuote($block->getAddress()->getPostcode()) ?>" title="</?= $block->escapeQuote(__('Zip/Postal Code')) ?>" id="zip" class="input-text validate-zip-international </?= $block->escapeQuote($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
            </div>
        </div> -->
        <div class="field country required col-lg-4">
            <label class="label" for="country"><span><?= $block->escapeHtml(__('Country')) ?></span></label>
            <div class="control">
                <?= $block->getCountryHtmlSelect($block->getAddress()->getCountryId(), 'billing[country_id]') ?>
            </div>
        </div>

        <?php $phoneValidation = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('telephone'); ?>
        <div class="col-lg-4 field telephone<?php if (strpos($phoneValidation, 'required') !== false): ?> required<?php endif; ?>">
            <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label>
            <div class="control left">
                <input type="text" name="billing[telephone]" value="<?= $block->escapeQuote($block->getAddress()->getTelephone()) ?>" title="<?= $block->escapeQuote(__('Phone Number')) ?>" class="input-text <?= $block->escapeQuote($phoneValidation) ?>" id="telephone">
            </div>
        </div>

        <div class="field fax required col-lg-4">
            <label class="label" for="fax"><span><?= $block->escapeHtml(__('Fax')) ?></span></label>
            <div class="control">
                <input type="text" name="billing[postcode]" value="<?= $block->escapeQuote($block->getAddress()->getPostcode()) ?>" title="<?= $block->escapeQuote(__('Fax')) ?>" id="zip" class="input-text validate-fax-international <?= $block->escapeQuote($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('faxcode')) ?>">
            </div>
        </div>

    </fieldset>

    <fieldset class="fieldset address last row">
        <legend class="legend"><span><?= $block->escapeHtml(__('Credit Card Information')) ?></span></legend><br>
        <div class="field credit required col-lg-4">
        <label class="label" for="credit card type"><span><?= $block->escapeHtml(__('Credit Card Type')) ?></span></label>
        <div class="control">
        <select id="region-id" name="billing[region_id]" title="<?= $block->escapeQuote(__('Credit Card type')) ?>" class="validate-select" <?=(!$block->getConfig('general/credit/display_all')) ?  : '' ?>>
            <option value=""><?= $block->escapeHtml(__('-- Please Select --')) ?></option>
        </select>
        </div>
        </div>
        <div class="col-lg-4 field credit num required">
            <label class="label" for="credit card type"><span><?= $block->escapeHtml(__('Credit Card Number')) ?></span></label>
            <div class="control left">
                <input type="text" name="billing[telephone]" value="<?= $block->escapeQuote($block->getAddress()->getTelephone()) ?>" title="<?= $block->escapeQuote(__('Phone Number')) ?>" class="input-text <?= $block->escapeQuote($phoneValidation) ?>" id="telephone">
            </div>
        </div>
        <div class="field expiration required col-lg-4">
        <label class="label" for="expiration date type"><span><?= $block->escapeHtml(__('Expiration Date')) ?></span></label>
        <div class="control expires">
        <select id="expire-id" name="billing[region_id]" title="<?= $block->escapeQuote(__('Expiry Date')) ?>" class="validate-select1" <?=(!$block->getConfig('general/credit/display_all')) ?  : '' ?>>
            <option value=""><?= $block->escapeHtml(__('07')) ?></option>
        </select>
        <select id="expire-id" name="billing[region_id]" title="<?= $block->escapeQuote(__('Expiry Date')) ?>" class="validate-select" <?=(!$block->getConfig('general/credit/display_all')) ?  : '' ?>>
            <option value=""><?= $block->escapeHtml(__('Year')) ?></option>
        </select>
        </div>
        </div>
        <div class="col-lg-4 field verification required">
            <label class="label" for="card verification type"><span>Card Verification Number</span></label>
            <div class="control">
                <input type="text" name="billing[telephone]" value="<?= $block->escapeQuote($block->getAddress()->getTelephone()) ?>" title="<?= $block->escapeQuote(__('Card Verification')) ?>" class="input-text <?= $block->escapeQuote($phoneValidation) ?>" id="Card Verification">
            </div>
        </div>
        
        <div class="verify-authorized col-lg-8">
            <div class="authorize-text">
            <img class="authorize-img" src='<?php echo $this->getViewFileUrl('images/image90.svg'); ?>' alt="Demo">
            <span>Nexus Cellular does not store any customer credit card information on our severs. 
            Your information is stored by Authotize.net on their secure servers.</span>
            </div>
        </div>
    </fieldset>

    <div class="actions-toolbar address">
        <div class="primary button-sets">
            <button type="button" class="action primary submit-button" id="submit-address">
                <span><?= $block->escapeHtml(__('Submit')) ?></span>
            </button>
            <button type="button" class="action primary cancel-button" id="submit-address">
                <span><?= $block->escapeHtml(__('Cancel')) ?></span>
            </button>
        </div>
    </div>
    <fieldset class="fieldset address">
        <!-- <legend class="legend"><span><//?= $block->escapeHtml(__('Payment Information')) ?></span></legend><br> -->

        <!-- <div class="field">
            <p></?= $block->escapeHtml(__('Please confirm your address to enter payment info.')) ?></p>
        </div> -->
    </fieldset>
    <fieldset class="fieldset payment" style="display:none">
        <legend class="legend"><span><?= $block->escapeHtml(__('Cardholder Information')) ?></span></legend><br>

        <div class="field" id="<?= $code ?>-address">
            <address></address>
            <button type="button" class="action" id="edit-address">
                <span><?= $block->escapeHtml(__('Edit')) ?></span>
            </button>
        </div>
    </fieldset>
    <fieldset class="fieldset payment <?php echo $code ?>" style="display:none">
        <div class="field required">
            <div class="control">
                <iframe src="about:blank" frameborder="0" id="<?= $code ?>_iframe" name="<?= $code ?>_iframe" style="width:100%;min-width:300px;max-width:550px;height:600px;"></iframe>
            </div>
        </div>
    </fieldset>
</form>
<script type="text/x-magento-init">
    {
        "#form-validate": {
            "validation": {},
            "cybersourcePaymentInfoForm": {
                "target": "<?= $code ?>_iframe",
                "paramUrl": "<?= $block->escapeJs($block->getUrl('pdl_cybs/secureAccept/getParams')) ?>",
                "successUrl": "<?= $block->escapeJs($block->getUrl('*/*', ['method' => $code])) ?>"
            }
        },
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?=($block->getConfig('general/region/display_all') ? 'true' : 'false') ?>,
                "regionListId": "#region-id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "<?= (int)$block->getRegionId() ?>",
                "countriesWithOptionalZip": <?= $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
            }
        }
    }
</script>
