<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
 $helper = $this->helper('Esparksinc\Custom\Helper\Data');
?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\ReviewList\HeaderLine $block */ ?>
<?php if ($block->isTwoPageDesign()) : ?>

<div class="review-with-see-all-review">
<button 
 <?php if(!$helper->getCustomerId()>0){
            echo "class=test-not-looged-in";
        } ?> 
 id="cutom-write-a-review">Write a Review</button>  
<div class="prar-reviews">
     <?= __('<a href="%2">see all reviews</a>', $block->getTotalCount(), $block->getAllReviewsUrl()) ?>
</div>
</div>
<?php else : ?>
<div class="review-with-see-all-review">
        <button      <?php if(!$helper->getCustomerId()>0){
            echo "class=test-not-looged-in";
        } ?> 

         id="cutom-write-a-review">Write a Review</button>
<div class="prar-reviews">
    <?= __('%1 customer reviews', $block->getTotalCount()) ?>
</div>
</div>
<?php endif; ?>


 <script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){
        <?php if($helper->getCustomerId()): ?>
     $(document).on('click',"#cutom-write-a-review" , function(){
        $("#prar-btn-write-a-review").trigger("click");
      });

     <?php else: ?>
        $(document).on('click',".test-not-looged-in" , function(){
    $(".block.block-customer-login.block-header-customer-login").addClass("open");

 });
 <?php endif;?>


     });
 </script>
