<?php
/**
 * Mega Menu HTML File.
 *
 * @category  Site Search & Navigation
 * @package   Root_Mega_Menu
 * @author    Developer RootwaysInc <developer@rootways.com>
 * @copyright 2017 Rootways Inc. (https://www.rootways.com)
 * @license   Rootways Custom License
 * @link      https://www.rootways.com/shop/media/extension_doc/license_agreement.pdf
*/
/*  $objectManager = \Magento\Framework\App\ObjectManager::getInstance();

 $storeManager = $objectManager->Create('\Magento\Store\Model\StoreRepository');    


    $categories = $objectManager->Create('\Magento\Catalog\Model\ResourceModel\Category\Collection')
                   ->addAttributeToSelect(['megamenu_type_class','name'])
				   ->addAttributeToFilter('level',2)
                   ->addAttributeToSort('path', 'asc');

        //$categories->setStore($storeManager->getStore()); 

    foreach($categories as $category){

      echo "<pre>";print_r($category->getData());die();
        echo '<br>';

    } */
	
$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $this->helper('Rootways\Megamenu\Helper\Data');
$storeManager = $_objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$base_url = $storeManager->getStore()->getBaseUrl();
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
->getStore()
->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$phone = $mediaPath."/porto/web/images/phone.svg";
if ($helper->getConfig('rootmegamenu_option/general/enable') == 1) { ?>
    
<style>
    @media screen and (max-width: 999px){
ul.header.links {
    position: relative;
    top: 205px;
}
.nav-sections .parts_back_main, .nav-sections .parts_back, .nav-sections .last_level, .nav-sections .end_level, .back_air_level{
position: relative;
    top: -16px;   
}
span.header_account_link_list.logout{
    display:none;
}
span.header_account_link_list.myaccount{
    display:none;
}
.customer-header-profile-menu-myaccount-container{
    display:none;
}
ul.tabbing_lev4> li {
    display: block !important;
}
.toogle-header.maintsf{
    color:#FF7200 !important;
}

}
@media screen and (max-width: 767px){
    .toogle-header.maintsf{
    color:#FF7200 !important;
}
}
    </style>
 <div class="defg">

    <div class="row">
        <div class="sectndign"> 

        <ul class="account-icon"><li><img src="<?php echo $block->getMediaUrl() . 'media/porto/web/images/user.svg'; ?>" style="width: 20px;vertical-align: middle;"></li>
        
        </ul>
		</div>
		  <div class="sectndign">

          <?php $customerSession = $objectManager->create('Magento\Customer\Model\Session');
            ?> <p>Welcome 
                <?php 
                 if ($customerSession->isLoggedIn()) {
                    echo $customerSession->getCustomer()->getName();
                 }
                 else{
                    echo 'Guest'; 
                 }
                 ?>               
            </p>            

            		 <!--new added code-->
            <?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) : ?>
	<p><span class="header_account_link_list logoutcstm">
		<a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/logout");?>"><?php echo __('Logout')?></a>
	</span></p>
<?php else: ?>
	<p><span class="header_account_link_list logincstm">
		<a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/login");?>"><?php echo __('Login or Register')?></a>
	</span>
<?php endif;?>
            <!--end-->
        
        </div>
       

    </div>

<div class="row" style="padding-top:20px;">
 <ul class="tab-list">
<li><a class="showsec" href="#tab-1">Menu</a></li>
<li><a class="hidesec" href="#tab-2">My Account</a></li>
 </ul>
	
</div>

   </div>

<style>
 .nav-sections .mobile-contact p {opacity:0;font-size:0;}
.tab-list{padding:0;} 
.tab-list li{float:left;}
.tab-list li{list-style: none;}
.tab-outer{
    display: inline-block;
    width: 100%;	
}
#tab-2 .sectndign{
    position: relative;
   
	}
	.sectndign p:nth-child(3) {
    font-family: 'Exo';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    color: #FF7200;
}
 .tab-containers{
	color: rgb(51, 51, 51);
 }
  .tab-list li.active .menubtn,.tab-list li.active .menuacc{
	 color: #FF7200;
    border: 1px solid #FF7200;
	 
 } 
 
</style>
<script>
require(['jquery'], function($){ 
   $('.tab-containers').hide();
		$('.tab-containers:first').show();
		$('ul.tab-list li:first').addClass('active');
		
		$('ul.tab-list li a').click(function(){
			$('ul.tab-list li').removeClass('active');
			$(this).parent().addClass('active');
			var currentTab = $(this).attr('href');
			$('.tab-containers').hide();
			$(currentTab).show();
			return false;  
		});


$('.hidesec').click(function(){

    $('.header.links').hide();
});

$('.showsec').click(function(){

    $('.header.links').show();
});




	});	
</script>

      <div class="page-main">
	<div class="tab-outer">		 
			 <div class="tab-containers" id="tab-1">
		   
		   
        <nav class="rootmenu" data-action="navigation">
            <ul id="rw-menutop" class="mobile-sub rootmenu-list">
                <?php if ($helper->getConfig('rootmegamenu_option/general/show_home_link') == 1) { ?>
                    <li><a <?php if ( $this->getIsHomePage() == 1 ) { echo 'class="active"'; } ?>href="<?php echo $base_url;?>" title="Home" ><span class="fa fa-home homeicon"></span><em><?php echo __('Home');?></em></a></li>
                <?php }
                echo $this->viewAllCategoriesHTML();
                $view_more_array = array();
                $main_cat_cnt = 1;
                foreach ($categories as $category) {
					//echo "<pre>";print_r($category->getData());die();
                    $main_category_load = $_objectManager->create('Magento\Catalog\Model\Category')->load($category->getId());
                    echo $this->getCustomLinks($main_category_load->getId());
                    
                    if ($helper->getConfig('rootmegamenu_option/general/show_view_more') == 1) {
                        if ($helper->getConfig('rootmegamenu_option/general/view_more') == '') {
                            $view_more_after = 8;
                        } else {
                            $view_more_after = $helper->getConfig('rootmegamenu_option/general/view_more');
                        }
                        if ($main_cat_cnt > $view_more_after) {
                            $view_more_array[$main_category_load->getName()] = $main_category_load->getURL();
                            continue;
                        }
                    }
                    
                    if (!$main_category_load->getIsActive()) {
                        continue;
                    }
                    $active_cls = $this->_getMenuItemAttributes($category);
                    //file_put_contents('vishmenu.txt','ELSE = '.$request->getFullActionName().print_r($item->getId(), true), FILE_APPEND);
                    $custom_cls = '';
                    if ($main_category_load->getMegamenuTypeClass() != '') {
                       $custom_cls .= $main_category_load->getMegamenuTypeClass();
                    }
                    if ($main_category_load->getMegamenuTypeHalfPos() == 1) {
                       $custom_cls .= ' dropdown_left';
                    }
                    if ($custom_cls == '') {
                        $custom_cls .= 'nav-'.$main_cat_cnt.' category-item';
                    } else {
                        $custom_cls .= ' nav-'.$main_cat_cnt.' category-item';
                    }
                    if ($main_category_load->getMegamenuType() == 2) {
                         $custom_cls .= ' rw-vertical-menu';
                    }
                    ?>
                    <li class="<?php echo $custom_cls; ?>">
                       <a class="<?php echo $active_cls; ?>" href="<?php echo $categoryHelper->getCategoryUrl($main_category_load) ?>">
                            <?php if ( $helper->getConfig('rootmegamenu_option/general/topmenu_icon') == 1 && $main_category_load->getImageUrl() != '') { ?>
                                <span class="main-category-name">
                                    <i class="main-category-icon"><img src="<?php echo $main_category_load->getImageUrl(); ?>"/></i>
                                    <em><?php echo $category->getName();?></em>
                                </span>
                            <?php } else {
                                echo $main_category_load->getName();
                            } ?>
                           <?php if ( $main_category_load->getMegamenuTypeLabeltx() != '' ) {
                                echo '<span class="roottag"><em class="rootmenutag" style="background-color: #'.$main_category_load->getMegamenuTypeLabelclr().'">'.$main_category_load->getMegamenuTypeLabeltx().'</em></span>'; 
                            } ?>
                        </a>
                        <?php
                        if ($main_category_load->getMegamenuType() == 1) {
                            echo $this->simpletMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 2) {
                            echo $this->megadropdown($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 3) {
                            echo $this->dropdownTitle($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 4) {
                            echo $this->halfMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 5) {
                             echo $this->halfTitleMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 6) {
                             echo $this->fullWidthMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 7) {
                            echo $this->fullTitleMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 8) {
                            echo $this->tabMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 9) {
                            echo $this->tabHorizontal($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 10) {
                            echo $this->productMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 14) {
                            echo $this->categoryProductMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 11) {
                            echo $this->multiTabbing($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 12) {
                            echo $this->halfMenuContentOnly($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 13) {
                            echo $this->fullWidthContentOnly($category, $main_cat_cnt);
                        } else {
                            echo $this->simpletMenu($category, $main_cat_cnt);
                        } ?>
                    </li>
                    <?php $main_cat_cnt++; ?>
                <?php } ?>

                <?php echo $this->getCustomLinks(false);?>

                <?php if ($helper->getConfig('rootmegamenu_option/general/show_contactus') == 1 ||
                        $helper->getConfig('rootmegamenu_option/general/show_contactus') == 2) { ?>
                     <?php echo $this->contactus(); ?>
                <?php } ?>

                <?php if ( $view_more_array != NULL ) { ?>
                    <li class="level0-view-more">
                        <a class="has-sub-cat" href="javaScript:void(0);"><?= __('View More') ?> <i aria-hidden="true" class="fa fa-angle-down"></i></a>
                        <ul class="rootmenu-submenu topmenu_main dropdown-leftside">
                            <?php foreach ( $view_more_array as $key => $value ) { ?>
                                <li><a href="<?=$value?>"><?=$key?></a></li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php } ?>
                <?php /* ?>
                <li>
                <?php echo $this->getChildHtml("store_language_nav"); ?>
                </li>
                <?php */ ?>
                <li><span class="hotline" id="hotlinemobile"><img src="<?= $phone ?>"  style="width: 20px;vertical-align: middle;" /><a href="tel:+18776141001">Hotline: <span>+1-877-614-1001</span></a></span></li>
            </ul>
            <span class="hotline" id="hotlinedesktop"><img src="<?= $phone ?>"  style="width: 20px;vertical-align: middle;" /><a href="javascript:void(0);">Hotline: <span>+1-877-614-1001</span></a></span>
            <?php if( $this->act() != '' ) {
                echo $act_data = base64_decode($this->act());
            } ?>
        </nav>

       </div>
			 <div class="tab-containers" id="tab-2">
		         <div class="sectndign">

                 <?php $customerSession = $objectManager->create('Magento\Customer\Model\Session');
            ?> <p>Welcome 
                <?php 
                 if ($customerSession->isLoggedIn()) {
                    echo $customerSession->getCustomer()->getName();
                 }
                 else{
                    echo 'Guest'; 
                 }
                 ?>               
            </p>
           
            <!-- <p>Sign</p> -->
			<!-- <p>Create Account</p> -->
            <!--new added code-->
            <?php 

$customerSession = $objectManager->create('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()) : ?>
	<p><span class="header_account_link_list logoutcstm">
		<a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/logout");?>"><?php echo __('Logout')?></a>
	</span></p>
<?php else: ?>
	<p><span class="header_account_link_list logincstm">
		<a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/login");?>"><?php echo __('Sign')?></a>
	</span>
<?php endif;?>
            <!--end-->
        </div>
		    </div>
		</div>
	
	</div>
<?php } else { ?>
   
    <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
    <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

    <nav class="navigation testn" data-action="navigation">
        <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
            <?php /* @escapeNotVerified */ echo $_menu; ?>
            <?php /* @escapeNotVerified */ echo $block->getChildHtml(); ?>
        </ul>
    </nav>

<?php }


