<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var \Magento\Framework\View\Element\Template $block */ ?>
<div class="wrapper">
    <div class="page">
        <div class="main-container col1-layout">
            <div class="main">
                <div class="col-main">
                    <?php if ($block->getChildBlock('review_form')) : ?>
                        <?= $block->getChildHtml('review_form') ?>
                    <?php elseif ($formBlock = $block->getLayout()->getBlock('product.review.form')) : ?>
                        <?= $formBlock->toHtml() ?>
                    <?php endif; ?>
                </div>
            </div>
        </div>
    </div>
</div>
