<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\Reminder\Unsubscribe\Success $block */ ?>

<form id="reminder-unsubscribe-form" method="post" action="<?php echo $block->getSubmitReasonUrl(); ?>" data-mage-init='{"validation":{}}'>
    <p><?= __('If you have a moment, please let us know why you unsubscribed'); ?></p>
    <fieldset>
        <?php foreach($block->getActiveReasons() as $reason): ?>
            <div class="field">
                <label class="label" for="reason"><?php echo __(''); ?></label>
                <input id="reason-<?= $reason->getId(); ?>" class="radio required-entry" data-validate="{'validate-one-required-by-name':true}" type="radio" name="reason" value="<?= $reason->getId(); ?>"/>
                <label for="reason-<?= $reason->getId(); ?>"><?= $reason->getStoreLabel(); ?></label>
                <?php if($block->isUseTextarea($reason)):?>
                    <textarea style="display:none;" class="input-text validate-length minimum-length-3 maximum-length-160" name="custom[<?= $reason->getId(); ?>]"></textarea>
                <?php endif; ?>
            </div>
        <?php endforeach; ?>
        <input type="hidden" name="token" value="<?= $block->getToken(); ?>"/>
        <?= $block->getBlockHtml('formkey') ?>
        <input class="action primary" type="button" value="<?php echo __('Submit Feedback'); ?>"/>
    </fieldset>
</form>

<div class="unsubscribe-success-message">
    <?= $block->getChildHtml('success.message'); ?>
    <strong class="success-additional-message">Thanks, we really appreciate your feedback!</strong>
</div>

<script type="text/x-magento-init">
{
    "#reminder-unsubscribe-form": {
        "Plumrocket_AdvancedReviewAndReminder/js/view/reminder-unsubscribe-reason": {}
    }
}
</script>
