<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */?>
<?php /** @var $block \Plumrocket\AdvancedReviewAndReminder\Block\Carousel */?>

<?php if ($block->showImageGallery() && $mediaItems = $block->getCustomerImages()) : ?>
    <div  class="prar-products products list items product-items ">
        <h2 class="prar-products-title"><?= __('Customer images') ?></h2>
            <div class="owl-carousel prar-owl">
                <?php foreach ($mediaItems as $item) :?>
                    <div style="background-image: url(<?= $item['url'] ?>);
                                background-size: cover;
                                background-repeat: no-repeat;
                                background-position: center;"
                         class="prar-review-item-photo prar-review-from-gallery"
                         data-review-id="<?= $item['reviewId']?>"
                         data-review-img-id="<?= $item['orderNumber']?>"
                         data-src="<?= $block->escapeUrl($item['url']) ?>"></div>
                <?php endforeach;?>
            </div>
            <button class="prar-popup-media" type="button" data-popup-show="true">
                <?= __('See all (%1) customer images', $block->getAllCustomerImages()) ?>
            </button>
    </div>

<script>
    require(['jquery', 'prReviewUtils', 'prOwlcarousel', 'domReady!'], function ($, prReviewUtils) {
        var options = {
            loop: false,
            autoWidth: true,
            margin: 10,
        };

        if (prReviewUtils.isMobile()) {
            options.navText = ['',''];
            options.dots = false;
        } else {
            options.dots = false;
            options.nav = true;
        }

        $('.prar-owl').owlCarousel(options);

    });
</script>
<?php endif; ?>
