<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php
/**
 * @codingStandardsIgnoreFile
 *
 * @var \Plumrocket\AdvancedReviewAndReminder\Block\Form $block
 */
?>

<div id="arar-form-add" class="prar-form-add">
    <ul class="messages" id="arar-form-messages"></ul>
    <?php if ($block->isOpen()) : ?>
        <script>
            require([
                'jquery',
                'loader'
            ], function ($) {
                var reviewForm = $('#arar-form-add');
                reviewForm.loader({
                    icon: '<?= $block->escapeJs($block->escapeUrl($block->getViewFileUrl('images/loader-1.gif'))) ?>'
                });
                reviewForm.loader('show');

            });
        </script>
    <?php endif; ?>

    <div id="arar-form-validation" data-bind="scope: 'pr-review-form'">
        <!-- ko template: getTemplate() --><!-- /ko -->
    </div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": <?= $block->getJsLayout() ?>,
            "youTubeValidationMethod": {}
        }
    }
</script>

<script type="text/x-magento-template" data-template="img-uploader">
    <div id="<%- data.id %>" class="file-row <%- data.rowclass %> comment-file">
        <div class="file-info">
            <div width="62" height="46" class="img-upload">
                <a href="#" class="file-delete">
                    <span><?php echo __('Delete') ?></span>
                </a>
            </div>
        </div>
        <div class="progressbar-container">
            <div class="progressbar upload-progress" style="width: 0;"></div>
        </div>
        <div class="clear"></div>
        <input type="hidden" name="file[<%- data.id %>][name]" value="<%- data.name %>" />
        <input type="hidden" name="file[<%- data.id %>][size]" value="<%- data.size %>" />
        <input type="hidden" name="file[<%- data.id %>][filename]" value="<%- data.filename %>" class="filename" />
    </div>
</script>
    <div id="success_review_submit" style="display: none"><?= $block->getChildHtml('review.success.message') ?></div>
</div>
