<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\ReviewList\HeaderLine $block */ ?>
<?php if ($block->isTwoPageDesign()) : ?>
<div class="prar-reviews">
    <?= __('%1 customer reviews (<a href="%2">see all reviews</a>)', $block->getTotalCount(), $block->getAllReviewsUrl()) ?>
</div>
<?php else : ?>
<div class="prar-reviews">
    <?= __('%1 customer reviews', $block->getTotalCount()) ?>
</div>
<?php endif; ?>
