<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\ReviewList\Components $block */ ?>
<div class="prar-box-reviews prar-review-list"
     id="customer-reviews-box"
     data-bind="scope: 'pr-review-list'"
>
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<?= $block->getToolbarJsHtml() ?>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": <?= $block->getJsLayout() ?>
        }
    }
</script>
