<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\Product\View\Review $block */ ?>

<?= $block->getChildHtml('advancedrar.config') ?>

<?php if ($block->isEnabledRichSnippet()) : ?>
    <?php $productRatingSummary = $block->getProductRatingSummaryData(); ?>
    <?php if ($productRatingSummary['count']) : ?>
        <div itemprop="aggregateRating" itemscope itemtype="https://schema.org/AggregateRating">
            <span itemprop="ratingValue" content="<?= $productRatingSummary['rating'] ?>"></span>
            <span itemprop="reviewCount" content="<?= $productRatingSummary['count'] ?>"></span>
            <span itemprop="bestRating" content="5"></span>
            <span itemprop="itemReviewed" itemscope itemtype="http://schema.org/Product">
                <span itemprop="name" content="<?= $productRatingSummary['name'] ?>"></span>
                <div itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating">
                    <span itemprop="ratingValue" content="<?= $productRatingSummary['rating'] ?>"></span>
                    <span itemprop="reviewCount" content="<?= $productRatingSummary['count'] ?>"></span>
                </div>
            </span>
        </div>
    <?php endif; ?>
<?php endif; ?>

<div id="prar_review_list_header_anchor"></div>
<?= $block->getChildHtml('pr.review.header') ?>

<?php if ($this->getChildBlock('review_form')) : ?>
    <?= $this->getChildHtml('review_form') ?>
<?php elseif ($formBlock = $block->getLayout()->getBlock('product.review.form')) : ?>
    <?= $formBlock->toHtml() ?>
<?php endif; ?>

<?= $block->getChildHtml('pr.media.carousel') ?>
<?= $block->getChildHtml('pr.review.popup') ?>
<?= $block->getChildHtml('pr.review.most.helpful') ?>
<?= $block->getChildHtml('pr.review.header.line') ?>

<?= $block->getChildHtml('pr.review.list') ?>
