<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\MostHelpful $block */ ?>
<?php // if positive review no exist we dont display this block
    //if critical review no exist we display only positive block the entire width of the screen
?>
<?php if ($block->canShowBlock() && $positiveReview = $block->getPositiveReview()) : ?>
<div class="prar-review-helpful">

        <div class="prar-review-helpful-positive">
            <h3><?= __('Most Helpful Positive Review') ?></h3>
            <?php if ($ratingPercentPositive = $positiveReview->getAggregateRatingPercent()) :?>
                <div class="prar-review-item-rat">
                    <div class="rating-summary">
                        <div class="rating-result" title="<?= $ratingPercentPositive . '%'?>">
                            <span style="width:<?= $ratingPercentPositive . '%'?>" ></span>
                        </div>
                    </div>
                    <span>
                        <?= $block->getFormattedDate($positiveReview) ?>
                    </span>
                </div>
            <?php endif; ?>
            <?php if ($title = $positiveReview->getTitle()) : ?>
                <div class="prar-helpful-title"><?= $title ?></div>
            <?php endif; ?>


            <div class="prar-helpful-detail"><?= $block->formatText($positiveReview->getDetail()) ?></div>

            <div class="prar-helpful-pros-cons">
                <?php if ($pros = $positiveReview->getPros()) : ?>
                    <div class="prar-pros-cons-wrap">
                        <strong><?= __('Pros:')?></strong>
                        <div class="arar-helpful-pros"><?= $block->formatText($pros) ?></div>
                    </div>
                    <?php endif; ?>
                    <?php if ($cons = $positiveReview->getCons()) : ?>
                        <div class="prar-pros-cons-wrap">
                            <strong><?= __('Cons:')?></strong>
                            <div class="arar-helpful-pros"><?= $block->formatText($cons) ?></div>
                        </div>
                        <?php endif; ?>
                    </div>
                    <a class="prar-read-full" href="<?= $block->getReviewUrl($positiveReview)?>" class="" ><?= __('Read full review')?></a>

                    <span class="prar-helpful-cust-amount">
                        <?= __('%1 customers found this review helpful', $positiveReview->getHelpfulPositive())?>
                    </span>
                </div>
    <?php if ($criticalReview = $block->getCriticalReview()) :?>
        <div class="prar-review-helpful-critical">
            <h3><?= __('Most Helpful Critical Review') ?></h3>
            <?php if ($ratingPercentCritical = $criticalReview->getAggregateRatingPercent()) :?>
                <div class="prar-review-item-rat">
                    <div class="rating-summary">
                        <div class="rating-result" title="<?= $ratingPercentCritical . '%'?>">
                            <span style="width:<?= $ratingPercentCritical . '%'?>" ></span>
                        </div>
                    </div>
                    <span>
                        <?= $block->getFormattedDate($criticalReview) ?>
                    </span>
                </div>
            <?php endif; ?>
            <?php if ($title = $criticalReview->getTitle()) : ?>
                <div class="prar-helpful-title"><?= $title ?></div>
            <?php endif; ?>


            <div class="prar-helpful-detail"><?= $block->formatText($criticalReview->getDetail()) ?></div>

            <div class="prar-helpful-pros-cons">
                <?php if ($pros = $criticalReview->getPros()) : ?>
                    <div class="prar-pros-cons-wrap">
                        <strong><?= __('Pros:')?></strong>
                        <div class="arar-helpful-pros"><?= $block->formatText($pros) ?></div>
                    </div>
                    <?php endif; ?>
                    <?php if ($cons = $criticalReview->getCons()) : ?>
                        <div class="prar-pros-cons-wrap">
                            <strong><?= __('Cons:')?></strong>
                            <div class="arar-helpful-pros"><?= $block->formatText($cons) ?></div>
                        </div>
                        <?php endif; ?>
                    </div>
                    <a class="prar-read-full" href="<?= $block->getReviewUrl($criticalReview)?>" class="" ><?= __('Read full review')?></a>

                    <span class="prar-helpful-cust-amount">
                        <?= __('%1 customers found this review helpful', $criticalReview->getHelpfulPositive())?>
                    </span>
                </div>
                <?php endif; ?>
            </div>
<?php endif; ?>
