<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php
/** @codingStandardsIgnoreFile */
/** @var \Plumrocket\AdvancedReviewAndReminder\Block\View $block */
/** @var \Plumrocket\AdvancedReviewAndReminder\Helper\Data $dataHelper */
$dataHelper = $this->helper(\Plumrocket\AdvancedReviewAndReminder\Helper\Data::class);
$product = $block->getProductData();
?>

<?php if ($product->getId() && $dataHelper->moduleEnabled()) : ?>
<div class="product-review arar-rew-item" id="arar-product-review">
    <div class="product-img-box">
        <div class="page-title">
            <h2><?= __('Product Details') ?></h2>
        </div>
        <div class="prar-product-info">
            <a class="product-image"
               href="<?= $product->getProductUrl(); ?>"
               title="<?= $block->escapeHtml($product->getName()) ?>">
                <?= $block->getImage(
                    $product,
                    'product_small_image',
                    ['width' => 125, 'height' => 125]
                )->toHtml() ?>
            </a>
            <div class="prar-product-description">
                <h2 class="product-name">
                    <a href="<?= $block->escapeUrl($product->getProductUrl()); ?>">
                        <?php echo $block->escapeHtml($product->getName()); ?>
                    </a>
                </h2>
                <span class="product-price">
                    <?= $block->getChildHtml('product.info.price'); ?>
                </span>
                <?= $block->getChildHtml('product.info');?>
            </div>
        </div>
        <?= $block->getChildHtml('product.info.main');?>
    </div>
    <div class="product-details prar-details">
        <?= $block->getChildHtml('page.main.title'); ?>

        <!-- @ Rating -->
        <?php if ($block->getRating() && $block->getRating()->getSize()) : ?>

            <h3><?= __('Product Rating:') ?></h3>
            <table class="ratings-table">
            <?php foreach ($block->getRating() as $rating) : ?>
                <?php if ($rating->getPercent()) : ?>
                    <?php echo $block->getRatingHtml($rating->getPercent()); ?>
                <?php endif; ?>
            <?php endforeach; ?>
            </table>
        <?php endif; ?>
        <?= $block->getChildHtml('pr.review.list') ?>
        <?= $block->getChildHtml('pr.single.review.rich.snippet') ?>
    </div>


    <div class="buttons-set">
        <p class="back-link"><a href="<?= $block->getBackUrl() ?>#customer-reviews-box"><small>&laquo; </small><?= __('Back to Product Reviews') ?></a></p>
    </div>
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Review/js/process-reviews": {
                "productReviewUrl": "<?= $block->escapeJs($block->escapeUrl($block->getProductReviewUrl())) ?>",
                "reviewsTabSelector": "#tab-label-reviews"
            }
        }
    }
</script>

<?php endif; ?>
