<div class="addthis_toolbox">
  <div class="custom_images"> 
  <div class="txtshre"><span>Share This Product</span></div>
  <div class="allicosol"> 
<a class="addthis_button_twitter">
<img src='<?php echo $this->getViewFileUrl("images/Twitter.png"); ?>' alt="Twitter" width="28" height="28"></a>
    <a class="addthis_button_pinterest"><img src='<?php echo $this->getViewFileUrl("images/pinterest.png"); ?>' alt="pinterest" width="28" height="28" ></a>
<a class="addthis_button_instagram"><img src='<?php echo $this->getViewFileUrl("images/Instagram.png"); ?>' alt="Instagram" width="28" height="28"></a>   
    <a class="addthis_button_facebook"><img src='<?php echo $this->getViewFileUrl("images/Facebook.png"); ?>' alt="Facebook" width="28" height="28"></a>   

  </div>
</div>
</div>

<?php
    $porto_helper = $this->helper('Smartwave\Porto\Helper\Data');
    echo $porto_helper->getConfig('porto_settings/product/custom_social');
?>




