<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

/**
 * Product view template
 *
 * @var $block \Magento\Catalog\Block\Product\View
 */
?>




<?php 
    $_helper = $this->helper(Magento\Catalog\Helper\Output::class); 
    $_product = $block->getProduct(); 
    $_portohelper = $this->helper('Smartwave\Porto\Helper\Data');
    $_product_label_config = $_portohelper->getConfig('porto_settings/product_label');
?>

<div class="setlableontop">



                    <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label"><span>SALE</span>'.' -'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }else if($_product->getTypeId() == "configurable"){
                                    $product_label .= '<div class="product-label sale-label" style="display:none;"><span>SALE</span>'.' -0%'.'</div>';
                                }
                            }


                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                $new_arrival = $_product->getResource()->getAttribute('custitem_f3_new_arrival')->getFrontend()->getValue($_product);
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }else  if($new_arrival  == "Yes"){
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }else  if($new_arrival  == "Yes"){
                                    $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                }
                            }
                            $grade = strtoupper($_product->getData('custitem_grade_value'));
                            $grade = strtoupper($_product->getResource()->getAttribute('custitem_grade')->getFrontend()->getValue($_product));
                            if($grade == "PREMIUM")
                                $bk_color = '#BB9BFF';
                            else if($grade == "PLUS")
                                $bk_color = '#da7a2e';
                            else if($grade == "DYNAMIC")
                                $bk_color = '#bb4e4e';
                            else if($grade == "VALUE")
                                $bk_color = '#7d5b1e';
                            else if($grade == "SPECIAL")
                                $bk_color = '#1a1f25';
                            else if($grade == "OEM RECLAIM A")
                                $bk_color = '#55565a';
                            else if($grade == "OEM RECLAIM C")
                                $bk_color = '#cacaca';
                            else if($grade == "NEW ORIGINAL")
                                $bk_color = '#3967a5';
                            else
                            $bk_color = '#000000';                
                            $style = "style=background-color:".$bk_color;
                            if(!empty($grade))
                            $product_label .= '<div class="product-label grade-label" '. $style .' >'.$grade.'</div>';
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                        ?>



</div>
