<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get(\Magento\Framework\App\Request\Http::class);
$route= $request->getFullActionName();
$Purchases = ['customer_account_index'=>'Account Dashboard',
'customer_account_edit'=>'Account Information',
'customer_address_index'=>'Address Book',
'transaction_index_addlocation'=>'Add location',
'transaction_index_addnewuser'=>'Add New User',
'newsletter_manage_index'=>'Newsletter Subscription'
];

$Billing = ['sales_order_history'=>'My Orders',
'transaction_index_listtransaction'=>'All Transactions',
'mpsavecart_dashboard'=>'Saved for Later',
'transaction_index_quickorder'=>'Import Order'
];
$relatedbilling = ['transaction_index_view'];
$cases = [
'storecredit_customer_accountfff'=>'Member Reward',
'storecredit_customer'=>'Screen Buyback',
'returnauthorization_index_returnlist'=>'Product Returns',
'transaction_index_listcases'=>'Support Tickets'
];
$relatedCasesLink = ['transaction_index_viewcase'];
$settings = ['companycredit_customer_account'=>'Account Balance',
'transaction_index_storecredit'=>'Store Credit',
'transaction_index_savedcreditcards'=>'Saved Credit Cards',
'transaction_index_statements'=>'Statements'
];
?>


<nav id="side-nav" class="myaccount-layout-side-nav"><!-- TEMPLATE STARTS: menu_tree-->
    <div class="menu-tree-node">
        <!-- <a class="menu-tree-node-item-anchor <?php echo ($route == "customer_account_index") ? 'no_child' : '' ?>" href="<?= $this->getUrl('customer/account/index') ?>">Overview</a> -->
    </div>
    <div class="menu-tree-node firstnode">
        <a class="menu-tree-node-item-anchor parent"> My Account <span class="menu-tree-node-item-icon"></span></a>
        <div class="menu-tree-node-submenu-wrapper" style="display:none">
        <?php foreach($Purchases as $fullAction => $label): ?>
            <div class="menu-tree-node">
                <a class="<?php echo strtolower($label); ?> menu-tree-node-item-anchor child <?php echo ($route == $fullAction) ? 'active' : '' ?>" href="<?= $this->getUrl(str_replace('_','/',$fullAction)) ?>"><?= __($label) ?></a>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
    <div class="menu-tree-node">
        <a  class="menu-tree-node-item-anchor parent"> Order Information <span class="menu-tree-node-item-icon"></span></a>
        <div class="menu-tree-node-submenu-wrapper" style="display:none">
        <?php foreach($Billing as $fullAction => $label): ?>
            <div class="menu-tree-node">
            <?php $addNewclass = '';
             if($route == $fullAction || (in_array($route,$relatedbilling) && $label == "Transaction History")): 
                $addNewclass = 'active';
             ?>
            <?php endif; ?>
                <a class="menu-tree-node-item-anchor child <?php echo $addNewclass ?>"  href="<?= $this->getUrl(str_replace('_','/',$fullAction)) ?>"><?= __($label) ?></a>
            </div>
        <?php endforeach; ?>
        </div>
    </div>
    <div class="menu-tree-node">
        <a class="menu-tree-node-item-anchor parent"> Payment Information <span class="menu-tree-node-item-icon"></span></a>
        <div class="menu-tree-node-submenu-wrapper" style="display:none">
            <?php foreach($settings as $fullAction => $label): ?>
                <div class="menu-tree-node">
                    <a class="menu-tree-node-item-anchor child <?php echo ($route == $fullAction) ? 'active' : '' ?>" href="<?= $this->getUrl(str_replace('_','/',$fullAction)) ?>"><?= __($label) ?></a>
                </div>
            <?php endforeach; ?>
        </div>
    </div>   
    <div class="menu-tree-node">
        <a class="menu-tree-node-item-anchor parent"> Service and Support <span class="menu-tree-node-item-icon"></span></a>
        <div class="menu-tree-node-submenu-wrapper services" style="display:none">
        <?php foreach($cases as $fullAction => $label): ?>
            <div class="menu-tree-node">
                <a class="menu-tree-node-item-anchor child <?php echo (($route == $fullAction) || (in_array($route,$relatedCasesLink) && $label == 'Support Cases')) ? 'active' : '' ?>"  href="<?= $this->getUrl(str_replace('_','/',$fullAction)) ?>" href="/purchases"><?= __($label) ?></a>
            </div>
        <?php endforeach; ?>   
        </div>
    </div>  
</nav>
<!-- TEMPLATE ENDS: menu_tree --></nav>
<script>
        require(["jquery"], function ($) {
            var collapseSelector = '.menu-tree-node .parent';
            $(collapseSelector).click(function (e) {
                $('#side-nav .menu-tree-node-submenu-wrapper').slideUp(300);
				if(jQuery(this).hasClass('_active')){
					jQuery(this).removeClass('_active');
                    $(this).next().slideUp(300);
                    $('#side-nav .menu-tree-node-item-anchor').removeClass('_active');
				}else{
                    $('#side-nav .menu-tree-node-item-anchor').removeClass('_active');
					jQuery(this).addClass('_active');
					$(this).next().slideDown(300);
                }
            });
            collapseSelector = '.menu-tree-node .child';
            $(collapseSelector).each(function (e) {
                if(jQuery(this).hasClass('active')){
                 $(this).parents('.menu-tree-node-submenu-wrapper').show();
                 $(this).parents('.menu-tree-node-submenu-wrapper').prev().addClass('_active');
                }
            });
            $('.case-detail-messages-accordion').click(function (e) {
				if(jQuery(this).hasClass('_active')){
					jQuery(this).removeClass('_active');
                    $(this).next().slideUp(300);
				}else{
					jQuery(this).addClass('_active');
					$(this).next().slideDown(300);
                }
            });
        });
    </script>
<style>
   .case-list-header-button-new{
    padding: 8.5px 20px;
    letter-spacing: 0.5px;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    background-color: #666;
    color: #fff !important;
    }
    .case-list-header-button-new:hover{background: #756c6c;
    color: #fff;
    text-decoration: none;}
    .return-authorization-list .case-list-header-button-new{float:right;position: absolute;
    right: 0;
    top: 15px;}   
.account h1.page-title{margin-top: 20px !important;}
.account h1.page-title span{font-weight: 400;
    text-transform: capitalize;
    color: #231f20;
    line-height: 1.2;
    font-size: 30px;}
    .myaccount-case-new-section button,select,textarea{border-radius:0;}
    .myaccount-case-new-section select,.myaccount-case-new-section input[type="text"]{height:40px;width:30%;}
    .myaccount-case-new-section{padding: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;border: 1px solid #c2c2c2;}
a.menu-tree-node-item-anchor{
    display: block;
    line-height: 1em;
    padding: 15px;
    background-color: #FF7200;
    border-bottom: 1px solid #c9631c;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}
a.menu-tree-node-item-anchor.parent{color: #fff !important;}
.fieldset > .fields > .field > .label {
    font-weight: 600;
    color: #231f20;
    font-size:14px;
}
.case-new-title{color: #231f20;}
.myaccount-case-new-section{color: #231f20;}

a.menu-tree-node-item-anchor.parent._active,a.menu-tree-node-item-anchor.parent:hover, a.menu-tree-node-item-anchor.parent:focus, a.menu-tree-node-item-anchor.parent:active {
    background-color: #666;
    color: #fff !important;
    text-decoration:none;
}
a.menu-tree-node-item-anchor.no_child{ background-color: #666;color: #fff !important;text-decoration:none;}
.menu-tree-node-submenu-wrapper a.active{color:#FF7200}
.menu-tree-node-submenu-wrapper a.menu-tree-node-item-anchor:hover{
    color:#FF7200;
    background-color:none;
    text-decoration:none;
}
.menu-tree-node-submenu-wrapper {
    border-bottom: 1px solid #c2c2c2;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-tree-node-submenu-wrapper .menu-tree-node-item-anchor:hover, .menu-tree-node-submenu-wrapper .menu-tree-node-item-anchor.active {
    color: #FF7200;
}
.menu-tree-node-submenu-wrapper .menu-tree-node-item-anchor {
    background-color: #fff;
    padding: 10px;
    font-size: 14px;
    text-transform: none;
    font-weight: normal;
    padding: 10px 20px;
    border-bottom: none;
    color: #231f20;
}
.menu-tree-node .menu-tree-node-item-anchor .menu-tree-node-item-icon:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    line-height: 15px;
    color: inherit;
    content: '\f807';
    font-family: 'porto-icons';
    margin: 0 0 0 5px;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}

.menu-tree-node .menu-tree-node-item-anchor._active .menu-tree-node-item-icon:after {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 25px;
    line-height: 15px;
    color: inherit;
    content: '\f804';
    font-family: 'porto-icons';
    margin: 0 0 0 5px;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.menu-tree-node .menu-tree-node-item-icon{float:right}
.case-detail-header-col-left,.case-detail-header-col-right{}
.case-detail-label-type{color: #231f20;font-size: 14px;font-weight: 600;}
.case-detail-value-type{font-size:14px;}
button.case-detail-close-case-button{
    color: #FF7200;
    font-weight: 600;
    background-color: #ebebeb ;
    display: inline-block;
    padding: 10px 15px;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    border-radius:0;
    line-height: 1;
}
.case-detail-accordion-head-toggle:hover{text-decoration:none;}
.case-detail-accordion-head{font-size: 14px;font-weight: 600;}
.case-detail-accordion-head-toggle{display: block;cursor: pointer;
    background-color: #fff;
    height: 100%;
    line-height: 44px;
    padding: 0 20px;
    font-size: 14px;
    border: 1px solid #c2c2c2;
    color: #8d8d8d;
    font-weight: 700;}
.case-detail-messages-accordion .accordion-toggle-icon:after{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 32px;
    color: #FF7200;
    content: '\f807';
    font-family: 'porto-icons';
    float:right;
    vertical-align: top;
    display: inline-block;
    font-weight: normal;
    overflow: hidden;
    speak: none;
    text-align: center;
}
.case-detail-messages-accordion._active .accordion-toggle-icon:after{
    content: '\f804';
}
.case-detail-accordion-container{overflow: hidden;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    border-top: 0px;
    width: 100%;
}
.case-detail-message-row {
    margin: 0px;
    padding: 15px;
}
.case-detail-message {
    padding: 5px;
    font-size: 14px;
}
.case-detail-field-message-author {
    font-weight: 700;
}
.case-detail-message-date-section {
    margin-left: 20px;
    margin-right: 20px;
}
.case-detail-field-message-date {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 5;
    color: #c4c4c4;
}
.case-detail-message-date-section:before {
    content: "";
    display: block;
    border-top: solid 1px #dde5e9;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}
.case-detail-message-date-section {
    position: relative;
    margin-top: 20px;
    text-align: center;
}
.case-detail-field-message-field-message-time {
    color: #c4c4c4;
}
.case-detail-field-message-text {
    padding-left: 5px;
    color: #79777b;
}
.case-detail{color:#000;}
.case-detail-header-status-info,.case-detail-reply-section{text-align:right}
.case-detail-header-col-left{float:left}
.case-detail-header-col-right button:hover{
    background-color:#FF7200;
    color:#ebebeb;
}
.block-companycredit{
    padding: 30px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 30px;
    border: 1px solid #c2c2c2;
    color: #231f20;
}
.block-companycredit .block-title strong {
    font-size: 22px;
    color: #231f20;
    margin-bottom: 30px;
}
.balance-indicator {margin-bottom: 25px;}
.information-box, .balance-indicator, .balance-summary-credits-card, .balance-summary-account-details-card {width: 100%;border: 1px solid #c2c2c2;background-color: #fff;}
.information-box-body, .balance-indicator-body, .balance-summary-credits-body, .balance-summary-account-details-body {padding: 20px;}
.balance-indicator-title {margin-bottom: 20px;}
.balance-indicator-bar {width: 100%;background-color: #e8edf0;height: 35px;margin-bottom: 30px;}
.balance-indicator-bar-progress {height: 100%;width: 0;background-color: #2d9e6f;}
.balance-indicator-details-outstanding-balance,.balance-indicator-details-available-credit{width: 50%;float: left;}
.balance-indicator-details-outstanding-reference {background-color: #2d9e6f;}
.balance-indicator-details-outstanding-reference, .balance-indicator-details-available-credit-reference {width: 15px;height: 15px; display: block;float: left;margin-right: 15px;margin-top: 5px;}
.balance-indicator-details-outstanding-label{color: #231f20;font-size: 14px;font-weight: 600;}
.balance-indicator-details-outstanding-value{color: #231f20;font-size: 14px;}
.balance-indicator-details-available-credit-reference {background-color: #e8edf0;}
.information-box-summary, .balance-indicator-summary {padding: 10px 20px;}
.information-box-summary, .balance-indicator-summary {padding: 10px 15px;border-top: 1px solid #c2c2c2;background-color: #f0f3f5;}
.balance-indicator-details{overflow:hidden;}
.balance-indicator-details-outstanding-balance{margin-bottom: 15px;}
.balance-summary-account-details-title {margin-bottom: 15px;font-weight: 700;}
.balance-summary-account-terms {margin-bottom: 15px;}
.balance-summary-account-details-body{color: #231f20;font-size: 14px;}
.list-header-view-accordion-body-calendar-icon,.to-calender-icon{top:11px !important;}
.overview-home-orders-title > span,.overview-home-invoice-title span{font-size: 20px;color: #231f20;}
.overview-home-orders-title,.overview-home-invoice-title{padding: 8px 0;}
.overview-home-orders-title{border-top:1px solid #c2c2c2;}
.overview-home-orders-title-link{float:right;margin-top: 4px;}
.recordviews-row{border-bottom: 1px solid #c2c2c2;}
.my-account-pagination-links li{float: left;height: 44px;text-align: center;display: block;}
.my-account-pagination-links li a{display: block;text-decoration: none;height: 35px;line-height: 35px;border: 1px solid #c2c2c2;margin-left: 5px;padding: 0 10px;text-transform:uppercase;background-color: #FF7200;color: #FFF;}
 .list-paginator{float:right;margin-top: 15px;}   
.my-account-pagination-links li .pagination-link.active{cursor:default;background: none;color: #FF7200;}
.track-button-toggle-icon:after{-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;content: '\f807';font-family: 'porto-icons';margin: 0 0 0 5px;vertical-align: top;display: inline-block;font-weight: normal;overflow: hidden;
    text-align: center;
}
button.order-history-list-tracking-number-control-button {background-color: #ebebeb;color: #FF7200;}
button.order-history-list-tracking-number-control-button:hover{border: 1px solid #ccc;color:#fff;background-color: #FF7200;}
.order-history-list-tracking-number-control-numbers ul li{list-style: none;}
.order-history-list-tracking-number-control-numbers ul{padding: 5px 12px 0px 5px;position: absolute;background-color: #fff;border: 1px solid #c2c2c2;}
.order-history-tracking-content{float:right}
.order-history-packages-header-container-right{float:right}
.order-history-list-tracking-number-control-numbers {display:none}
.show.order-history-list-tracking-number-control-numbers {display:block}
.order-history-packages-header-col-shipping-method{clear:both;}
.order-history-packages-header-container-title{display:inline-block;position:relative;}
.order-history-packages-accordion-head-toggle{border: 1px solid #c2c2c2;display: block;cursor: pointer; background-color: #fff; height: 100%; line-height: 30px; padding: 0 20px; font-size: 14px;}
.invoice-details-accordion-toggle-icon {float: right;height: 24px;line-height: 27px;font-size: 33px;color: #FF7200;}
.invoice-details-accordion-toggle-icon:after{-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;content: '\f807';font-family: 'porto-icons';margin: 0 0 0 5px;vertical-align: top;display: inline-block;font-weight: normal;overflow: hidden;
    text-align: center;
}
.open .invoice-details-accordion-toggle-icon:after{content: '\f804';}
.order-history-packages-header-container-left{display:inline-block}
.order-history-packages-header-container{overflow: hidden;border-bottom:none;}
.open .order-history-packages-header-container{border-bottom: 1px solid #c2c2c2;}
.open .order-history-packages-accordion-head-toggle{border-bottom: none;}
.order-history-packages-accordion-body,.invoice-details-accordion-body{border:1px solid #c2c2c2;border-top:none;}
.invoice-details-button-download-as-pdf{color:#FFF !important;}
.order-history-packages-dropdown-menu .address-details-info p{margin-bottom:0;font-size:12px;}
.order-history-packages-dropdown-menu address{margin-bottom:0;}
</style>