<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Customer\Block\Widget\Name;

/** @var \Magento\Customer\Block\Form\Edit $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */
?>
<form class="form form-edit-account"
      action="<?= $block->escapeUrl($block->getUrl('customer/account/editPost')) ?>"
      method="post" id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      autocomplete="off">
    <fieldset class="fieldset info account-information">
    <?= $block->getBlockHtml('formkey') ?>
        <legend class="legend"><span><?= $block->escapeHtml(__('Account Information')) ?></span></legend><br>
       <div class="account-parent">

        <?= $block->getLayout()->createBlock(Name::class)->setObject($block->getCustomer())->toHtml() ?>
        <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
        <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
        <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
        <?php if ($_dob->isEnabled()): ?>
            <?= $_dob->setDate($block->getCustomer()->getDob())->toHtml() ?>
        <?php endif ?>
        <?php if ($_gender->isEnabled()): ?>
            <?= $_gender->setGender($block->getCustomer()->getGender())->toHtml() ?>
        <?php endif ?>
        </div> 
 
 <div class="field choice for-email" style="display: none;">
            <input checked="true" type="checkbox" name="change_email" id="change-email" data-role="change-email" value="1"
                   title="<?= $block->escapeHtmlAttr(__('Change Email')) ?>" class="checkbox" />
            <label class="label" for="change-email">
                <span><?= $block->escapeHtml(__('Change Email')) ?></span>
            </label>
        </div>

        <div class="field choice row email-fields">
    <div class="field email required col-lg-4" data-container="change-email">
            <label class="label" for="email"><span><?= $block->escapeHtml(__('Email Address')) ?></span></label>
            <div class="control relative">
                <input type="email" name="email" id="email" autocomplete="email" data-input="change-email"
                       value="<?= $block->escapeHtmlAttr($block->getCustomer()->getEmail()) ?>"
                       title="<?= $block->escapeHtmlAttr(__('Email')) ?>"
                       class="input-text"
                        data-validate="{required:true, 'validate-email':true}"/>
            <a href="#" class="edit-in-input">Edit</a>            
            </div>
        </div>         
            <input type="checkbox" name="change_password" id="change-password" data-role="change-password" value="1"
                   title="<?= $block->escapeHtmlAttr(__('Change Password')) ?>"
                <?php if ($block->getChangePassword()): ?> checked="checked"<?php endif; ?> class="checkbox" />
            <div class="col-lg-4">
                <div class="hidden-div" style="opacity: 0; visibility: hidden;">
                  opacitynone
                </div>
            <label class="label change-password" id="passwordfieldsshow">
                <span><?= $block->escapeHtml(__('Change Password')) ?></span>
            </label>
        </div>
        </div>
<div class="outer-password">
    <fieldset class="fieldset password row" data-container="change-email-password">

       
        <div class="field password current required col-lg-4">
            <label class="label" for="current-password">
                <span><?= $block->escapeHtml(__('Current Password')) ?></span>
            </label>
            <div class="control">
                <input type="password" class="input-text" name="current_password" id="current-password"
                       data-input="current-password"
                       autocomplete="off" />
            </div>
        </div>
        <div class="field new password required col-lg-4" data-container="new-password">
            <label class="label" for="password"><span><?= $block->escapeHtml(__('New Password')) ?></span></label>
            <div class="control">
                <?php $minCharacterSets = $block->getRequiredCharacterClassesNumber() ?>
                <input type="password" class="input-text" name="password" id="password"
                    data-password-min-length="<?= $block->escapeHtml($block->getMinimumPasswordLength()) ?>"
                    data-password-min-character-sets="<?= $block->escapeHtml($minCharacterSets) ?>"
                    data-input="new-password"
                    data-validate="{required:true, 'validate-customer-password':true}"
                    autocomplete="off" />
            </div>
        </div>
        <div class="field confirmation password required col-lg-4" data-container="confirm-password">
            <label class="label" for="password-confirmation">
                <span><?= $block->escapeHtml(__('Confirm New Password')) ?></span>
            </label>
            <div class="control">
                <input type="password" class="input-text" name="password_confirmation" id="password-confirmation"
                    data-input="confirm-password"
                    autocomplete="off" />
            </div>
        </div>
    </fieldset>
</div>

    </fieldset>


    <?= $block->getChildHtml('form_additional_info') ?>

 <div class="manage-your-notification">
 <div class="inner-manage-your-notification">
    <div class="emails-section">
 <div class="title">
     <h1>Manage Your Notifications</h1>
 </div>
 <div class="subtitle">
     <h4>Emails</h4>
 </div> 
    <div class="field manage-emails">
             <label class="email-for-manage-label">
                 <span>
                    You will receive emails at 
                 </span>
             </label>  
             <div class="control">
              <input type="email" name="email">   
             </div> 
            </div>  
             <div class="par">
              <p>Turn on the Email notification you wish to receive</p>   
             </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="checkbox-with-title">
            <label class="switch owncustom">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label>
<p>Sales Order Submit</p>
</div>
        </div>
          <div class="col-lg-6">
            <div class="checkbox-with-title">
            <label class="switch owncustom">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label>
<p>Sales Order Product Missing</p>
</div>
        </div>
      </div>
      <div class="row second-checkbox-line">
          <div class="col-lg-6">
            <div class="checkbox-with-title">
            <label class="switch owncustom">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label>
<p>Sales Order Shipment</p>
</div>
        </div>
          <div class="col-lg-6">
            <div class="checkbox-with-title">
            <label class="switch owncustom">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label>
<p>Sales Order Billing</p>
</div>
        </div>

    </div>  
    </div>  
    <div class="text-message-section">
         <div class="subtitle">
     <h4>Text Message</h4>
 </div> 
  <div class="field manage-number">
             <label class="number-for-manage-label">
                 <span>
                    You will receive text message at
                 </span>
             </label>  
             <div class="control">
              <input type="text" name="message">   
             </div> 
            </div>  
             <div class="par">
              <p>Turn on the notification you wish to receive</p>   
             </div>
               <div class="row">
        <div class="col-lg-6">
            <div class="checkbox-with-title">
            <label class="switch owncustom">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label>
<p>Sales Order Product Missing</p>
</div>
        </div>
          <div class="col-lg-6">
            <div class="checkbox-with-title">
            <label class="switch owncustom">
  <input type="checkbox" checked>
  <span class="slider round"></span>
</label>
<p>Sales Order Shipment</p>
</div>
        </div>
    </div>
    </div>     
 </div>   
</div>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" title="<?= $block->escapeHtmlAttr(__('Save')) ?>">
                <span><?= $block->escapeHtml(__('Save')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>">
                <span><?= $block->escapeHtml(__('Go back')) ?></span>
            </a>
        </div>
    </div>
</form>
<?php $ignore = /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null';
$scriptString = <<<script
    require([
        "jquery",
        "mage/mage"
    ], function($){
        var dataForm = $('#form-validate');
        var ignore = {$ignore};

        dataForm.mage('validation', {
script;
if ($_dob->isEnabled()):
    $scriptString .= <<<script
            errorPlacement: function(error, element) {
                if (element.prop('id').search('full') !== -1) {
                    var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter(element.parent());
                    dobElement.find('.validate-custom').addClass(errorClass)
                        .after('<div class="' + errorClass + '"></div>');
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
script;
else:
    $scriptString .= <<<script
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
script;
endif;
$scriptString .= <<<script
        });

    });
script;
?>
<?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false) ?>
<?php $changeEmailAndPasswordTitle = $block->escapeHtml(__('Change Email and Password')) ?>

<script type="text/javascript">
     require(['jquery', 'jquery/ui'], function($){ 
    $(".form-edit-account .outer-password").hide();    
        $(document).on("click", "#passwordfieldsshow", function() {
       $(".form-edit-account .outer-password").toggle(); 
        });
    
 });
</script>