
<div class="TransactionList"><!-- TEMPLATE STARTS: support_cases-->
  <section class="return-authorization-list" style="position:relative">
        <header class="return-authorization-list-header" >
            <!-- <h2>Support Cases</h2></header> -->
            <div class="case-list-buttons">
            <a class="case-list-header-button-new" id="create-new-ticket">Create New Ticket</a>
            <!-- <button class="case-list-header-button-new-create">Increase Limit</button> -->
            </div>
            <div ><!-- TEMPLATE STARTS: list_header_view-->
            <div class="list-header-view" >
                <div class="list-header-view-accordion"><div class="list-header-view-accordion-link"></div>
               
              
        </div>
        <!-- TEMPLATE ENDS: list_header_view --></div>
        <div class="return-authorization-list-container"> 
            <table class="return-authorization-list-results-list">
                <thead class="return-authorization-list-content-table">
                    <tr class="return-authorization-list-content-table-header-row">
                        <th class="return-authorization-list-content-table-header-row-title">
                            <span>Ticket ID</span>
                        </th>
                        <th class="return-authorization-list-content-table-header-row-date"><span>Subject</span></th>
                        <th class="return-authorization-list-content-table-header-row-currency"><span>Date Created</span></th>
                        <th class="return-authorization-list-content-table-header-row-status"><span>Last Message</span></th>
                        <th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
                        <th class="return-authorization-list-content-table-header-row-replies"><span>Replies</span></th>
                        <th class="return-authorization-list-content-table-header-row-view"><span></span></th>
                    </tr>
                </thead>
                <tbody class="return-authorization-list-records-list">
                <tr class="recordviews-row">
                    <td class="recordviews-title">
                        <span class="recordviews-title-value">  
                    <a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/viewcase/id/150/'); ?>">Case #80</a></span></td> 
                    <td class="recordviews-date"><span class="recordviews-value">Mohsin Test</span></td>
                    <td class="recordviews-date"> 
                        <span class="recordviews-value">2019-12-16</span>
                    </td>
                    <td class="recordviews-date"> 
                        <span class="recordviews-value">2019-12-16</span>
                    </td>
                    <td class="recordviews-status">
                        <span class="recordviews-value complete">Complete</span>
                    </td>
                    <td class="recordviews-replies">
                        <span class="recordviews-value">Completed</span>
                    </td>
                    <td class="recordviews-view">
                        <span class="recordviews-view-link">  
                        <a class="recordviews-view-anchor conversation"
                        >View</a></span>
                    </td>            
                </tr>
                <tr class="recordviews-row">
                    <td class="recordviews-title">
                        <span class="recordviews-title-value">  
                    <a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/viewcase/id/124/'); ?>">Case #73</a></span></td> 
                    <td class="recordviews-date"><span class="recordviews-value">Test Case from Mohsin</span></td>
                    <td class="recordviews-date"> 
                        <span class="recordviews-value">2019-6-7</span>
                    </td>
                    <td class="recordviews-date"> 
                        <span class="recordviews-value">2019-6-7</span>
                    </td>
                    <td class="recordviews-status">
                        <span class="recordviews-value complete">Complete</span>
                    </td>
                    <td class="recordviews-replies">
                        <span class="recordviews-value">Completed</span>
                    </td>
                    <td class="recordviews-view">
                        <span class="recordviews-view-link">  
                        <a class="recordviews-view-anchor conversation">View</a></span>
                    </td> 
                </tr>
                <tr class="recordviews-row">
                    <td class="recordviews-title">
                        <span class="recordviews-title-value">  
                    <a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/viewcase/id/109/'); ?>">Case #60</a></span></td> 
                    <td class="recordviews-date"><span class="recordviews-value">[TEST] Mobile Phone Not Working</span></td>
                    <td class="recordviews-date"> 
                        <span class="recordviews-value">2018-12-12</span>
                    </td>
                    <td class="recordviews-date"> 
                        <span class="recordviews-value">2018-12-12</span>
                    </td>
                    <td class="recordviews-status">
                        <span class="recordviews-value review">Review</span>
                    </td> 
                    <td class="recordviews-replies">
                        <span class="recordviews-value">Completed</span>
                    </td>
                    <td class="recordviews-view">
                        <span class="recordviews-view-link">  
                        <a class="recordviews-view-anchor conversation">View</a></span>
                    </td> 
                </tr>
                <tr class="recordviews-row end">
                    <td class="recordviews-title">
                        <span class="recordviews-title-value">  
                    <a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/viewcase/id/106/'); ?>">Case #57</a></span></td> 
                    <td class="recordviews-date"><span class="recordviews-value">Defective Accessory return policy</span></td>
                    <td class="recordviews-date"> 
                        <span class="recordviews-value">2018-11-28</span>
                    </td>
                    <td class="recordviews-date"> 
                        <span class="recordviews-value">2018-11-28</span>
                    </td>
                    <td class="recordviews-status">
                        <span class="recordviews-value complete">Complete</span>
                    </td> 
                    <td class="recordviews-replies">
                        <span class="recordviews-value">Completed</span>
                    </td>
                    <td class="recordviews-view">
                        <span class="recordviews-view-link">  
                        <a class="recordviews-view-anchor conversation">View</a></span>
                    </td> 
                </tr>
                </tbody>
            </table>
    </div>
</section>  
<div class="list-header-view-accordion-body " >
                <div class="list-header-view-accordion-body-header ">
                    <p class="item">4 Item(s)</p>
                    <!-- <span class="list-header-view-sorts"><label class="list-header-view-filters">
                    <label class="list-header-view-filters">
                    <select name="filter" class="list-header-view-accordion-body-select" data-action="filter">  
                            <option value="'datecreated'" >By creation Date</option> 
                        </select>
                        </label>
                        <button class="list-header-view-accordion-body-button-sort" data-order='desc'>
                            <i class="list-header-view-accordion-body-button-sort-up fa fa-arrow-up"></i>
                                <i class="list-header-view-accordion-body-button-sort-down listheader-filter-sortorder-arrow-selected fa fa-arrow-down"></i>
                        </button>
                    </span> -->
                    <label class="list-header-view-filters">
                        <span class="shop-by">Show by</span>
                        <select name="status_filter" class="list-header-view-accordion-body-select" data-action="filter"> 
                            <option value="1,2,3,4,5" selected="">10 items</option> 
                            <option value="1">Not Started</option> 
                            <option value="2">In Progress</option>  
                            <option value="3">Escalated</option>  
                            <option value="4">Re-Opened</option> 
                            <option value="5">Closed</option>
                        </select>
                    </label>
                </div>
             </div>
<!-- TEMPLATE ENDS: return_authorization_list --></div>
<div id="modal-content">
    <div class="modal-inner-content create-new-ticket">
        <h1 class="modal-title">Create new support ticket</h1>
       <p class="label">Message</p>
       <textarea cols="90" rows="5"></textarea>
<div class="choose-file-outer">
   <div class="control file"> <label for="file-upload" class="custom-file-upload" > <img class="upload-img" src='<?php echo $this->getViewFileUrl('images/upload.svg'); ?>' alt="Demo"> Choose file </label> <label class="no-selected">Attachment (10 Mb Limit)</label> <input id="file-upload" type="file"/> </div>
</div> 

    </div>
</div>


<div id="discussion-on-ticket-popup" class="discussion-on-ticket-popup">
    <div class="modal-body-content">
        <h2 class="modal-title"><?= $block->escapeHtml(__('Discussion on Ticket #13599 ')) ?></h2>
    <div class="discussion-on-ticket-content row">
       <div class="col-lg-6 pdding-zero">
         <p>Created Date:<span class="bold">15th July 2021</span></p>  
       </div>
        <div class="col-lg-6 pdding-zero">
               <p>User:<span class="bold">Yaroslav Basov</span></p>  
       </div>
        <div class="col-lg-6 pdding-zero">
              <p>User Company:<span class="bold">Wireless Source Link</span></p>   
       </div>
        <div class="col-lg-6 pdding-zero">
               <p>User Email:<span class="bold">hello@basovdesign.com</span></p>  
       </div> 
    </div>
    <div class="purchase-product-limit">
        <div class="head row">
           <div class="col-lg-6 pdding-zero">
             <div class="name">
             <img src='<?php echo $this->getViewFileUrl('images/user.svg'); ?>' alt="Demo">
               <span>Yaroslav Basov</span>
             </div>  
           </div> 
           <div class="col-lg-6 pdding-zero">
            <div class="post-date">
              Posted on – 15th July 2021 16:14PM  
            </div>   
           </div> 
        </div>
        <div class="body">
            <p class="par">I want to increase my purchase product limit.</p>
        </div>
    </div>
    <div class="subtitle">
        <h1>This ticket has been closed.</h1>
    </div>
    <div class="back-button-ticket">
        <button class="button">
          Back to my Support Ticket  
        </button>
    </div>
    </div>
</div>


<div id="modal-conversation">
    <div class="modal-body-content">
    
<section class="conversation-section">
<div class="conversation">
  <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
  <p>Hello. How are you today?</p>
  <span class="time-right">11:00</span>
</div>

<div class="conversation darker">
  <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Hey! I'm fine. Thanks for asking!</p>
  <span class="time-left">11:01</span>
</div>

<div class="conversation">
  <img src="https://www.w3schools.com/w3images/bandmember.jpg" alt="Avatar" style="width:100%;">
  <p>Sweet! So, what do you wanna do today?</p>
  <span class="time-right">11:02</span>
</div>

<div class="conversation darker">
  <img src="https://www.w3schools.com/w3images/avatar_g2.jpg" alt="Avatar" class="right" style="width:100%;">
  <p>Nah, I dunno. Play soccer.. or learn more coding perhaps?</p>
  <span class="time-left">11:05</span>
</div>

<div class="control">
    <div class="input-text">
        <textarea placeholder="Type your text here..." type="text" name=""></textarea>
    </div>
    <div class="button">
        <button>Send</button>
    </div>
</div>

</section>
    </div>
</div>


<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ],function($, modal) {

        var options = {
            type: 'popup',
            responsive: true,
            title: false,
            buttons: [{
                text: $.mage.__('Submit'),
                class: 'submit',
                click: function () {
                    this.closeModal();
                    var popup = modal(options, $('#discussion-on-ticket-popup'));
                    $('#discussion-on-ticket-popup').modal('openModal');
                $(".modal-popup").addClass("discussion-on-ticket"); 
                }
            },
            {
                text: $.mage.__('Cancel'),
                class: 'action-close close2',
                click: function () {
                $(".modal-popup").removeClass("discussion-on-ticket"); 
                    this.closeModal();
                }
            }],

        };

        var popup = modal(options, $('#modal-content'));
        $("#create-new-ticket").click(function() {
            $('#modal-content').modal('openModal');
        });
        $(document).on("click",".modal-popup .action-close",function() {
          $(".modal-popup").removeClass("discussion-on-ticket");  
        });
    });
</script>

<script type="text/javascript">
    require([
        "jquery",
        "Magento_Ui/js/modal/modal"
    ],function($, modal) {

        var options = {
            type: 'popup',
            responsive: true,
            title: 'Conversation',
            modalClass: 'conversation-popup'
        };

        var popup = modal(options, $('#modal-conversation'));
        $(".conversation").click(function() {
            $('#modal-conversation').modal('openModal');
        });
    });
</script>