<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */?>
<?php if ($block->getRatingSummary()->getCount()): ?>
    <div class="rating-box">
        <div class="rating"></div>
    </div>
    <?= /* @noEscape */ $secureRenderer->renderStyleAsTag(
        "width:" . /* @noEscape */ ceil($block->getRatingSummary()->getSum() /
            ($block->getRatingSummary()->getCount())) . "%;",
        'div.rating-box div.rating'
    ) ?>
<?php else: ?>
    <?= $block->escapeHtml(__("Rating isn't Available")) ?>
<?php endif; ?>
