.header-rightbar{
    .customer-welcome {
        margin-left: 0px;
        top: 21px;
        .user-body:before {
            right: -32px;
            top: -12px;
            width: 2.6em;
        }
        .user-body:after {
            width: 10px;
            height: 10px;
            right: -27px;
            top: -24px;
        }
    }    
}



html.fotorama__fullscreen {
    
        header.page-header.type2.header-newskin {
        z-index: 999 !important;
    }

}

.catalog-product-view{


.block.related.owl-top-narrow {
    margin-top: 40px;
}


    .block.upsell {
        margin-top: 27px !important;
        .title {
             background: none !important;
        }
    }

    button.action.notify-product.primary {
            padding: 18.5px 48px !important;
            margin-right: 10px;
        }
    .product.alert.stock {
        padding-left: 0px;
         clear: both;
        a {
            padding-left: 0px;
        }
    }
        .product.media{
            display: block;
            .fotorama-item.fotorama{
                .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
                    text-align: center;
                    .fotorama__thumb-border{
                        display: none;
                            border: none;
                    }
                    .fotorama__nav__frame--thumb.fotorama__active {
                        .fotorama__thumb {
                            border: 1px solid #000000 !important;
                        }
                    }
                    .fotorama__nav__frame--thumb {
                        .fotorama__thumb {
                            .fotorama__img{
                                padding: 5px;
                            }
                        }
                    }

                }    
            }
        }
    .addthis_toolbox{
            clear: both;
            text-align: center;
            width: 100%;
            overflow: hidden;
                margin-top: 50px;
            .txtshre {
                span {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                    color: #AAAAAA;
                    display: block;
                    margin-bottom: 6px;
                }
            }
            a {
                margin-bottom: 5px;
                line-height: initial;
                margin-left: 18px;
            }
            .addthis_button_twitter{
                margin-left: 0px;
            }
    }

    .page-main{
            max-width: 1440px;
            padding-left: 15px !important;
            padding-right: 15px !important;
    }
    .product-info-main{
        padding-top: 0px !important;
        .price-option-social-box{
                padding-top: 25px;
                margin-bottom: 60px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
        }
        .product-social-links{
            padding-top: 0px;
            margin-bottom: 0px;
            .product-addto-links{
                .action.towishlist{
                    width: auto;
                    height: auto;
                    border:  none;
                    &:before{
                            content: url(../images/wishlistgrid.png);
                            padding: 0px 10px;
                            display: inline-block;
                            vertical-align: sub;
                                line-height: 0;

                    }
                    span{
                            display: inline-block;
                            font-weight: 700;
                            line-height: 1;
                            font-family: 'Exo';
                            text-transform: capitalize;
                    }
                }
            }
        }
      .product-info-price {
            display: block;
             width: auto;
             margin-bottom: 0px;
             padding-right: 45px;
            .price-box{
                margin-top: 0px !important;
                display: block;
                .price-wrapper {
                   margin-top: 0px; 
                   margin-bottom: 0px; 
                }
                .price {
                            font-family: Exo;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 32px !important;
                            color: #000000 !important;
                    }
                .normal-price {
                    .price {
                            font-family: Exo;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 32px !important;
                            color: #000000 !important;
                    }
                }    
            }
          
        }

    
        h1.page-title {
                padding: 0px 0 15px;
                margin-top: -10px;
            .base {
                font-family: Exo;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 1.5;
            }
        }
        .product-line-sku-container{
            padding-bottom: 12px;
            .product-line-sku-label{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';
            }
            .product-line-sku-value{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';   
            }
        }
        .swatch-attribute.color{
            .swatch-option {
                    margin-right: 24px;
                }
                .swatch-option.color {
                    height: 32px;
                    border: 0;
                    width: 32px;
                    border-radius: 50%;
                } 
                .swatch-option.image {
                    height: 32px !important;
                    width: 32px !important;
                    background-size: cover !important;
                    border-radius: 50%;
                }
                .swatch-option.color.selected{
                    outline: none; 
                }   
        }
        .color-section{
                margin-bottom: 10px;
            .color-label {
                font-family: Exo;
                font-weight: bold;
                font-size: 16px;
            }
            .color-value {
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
            }
        } 

        .box-tocart {
            .actions {
                .action.tocart.primary {
                    position: relative;
                    bottom: initial;
                    border-radius: 32px;
                    height: 56px;
                    width: 170px;
                    img{
                        display: none;
                    }
                    span{
                        font-size: 16px;
                        font-weight: 700;
                        font-family: 'Exo';
                        letter-spacing: normal;
                          text-transform: capitalize;
                    }
                }    
            }
            
            }


            .product-reviews-summary {
                clear: both;
                padding-bottom: 20px;
                .reviews-actions {
                    &:before {
                        color: #D2D2D2;
                        font-size: 16px;
                    }
                    .action.view{
                        span{
                            color: #FF7200;
                        }
                    }
                    a {
                            line-height: 20px;
                            font-size: 14px;
                            font-weight: 400;
                            color: ##707070;
                            font-family: 'Inter'; 
                            padding-left: 0px;
                            border-left: none;  
                    }
                }
            }
            .product.overview {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.005em;
                line-height: 27px;
                border-bottom: solid 1px #dae2e6;
                border-top: solid 1px #dae2e6;
            }




            .product-info-price {
                    .old-price {
                        display: block;
                        .price-wrapper {
                            .price {
                                font-size: 16px !important;
                                color: #AAAAAA  !important;
                                font-weight: 700  !important;
                                display: block;
                            }
                        }
                    }
                }
                .fieldset {
                    >.field.qty {
                            position: relative;
                            width: 159px;
                            background-color: #f3f3f3;
                            height: 56px;
                            border-radius: 48px;
                            overflow: hidden;
                            display: inline-flex;
                            margin-right: -52px;
                            align-items: center;
                    }
                }
                .nested.options-list {
                    >.field.qty {
                        position: relative;
                        width: 106px;
                    }
                }
                .qty.field {
                    .control {
                        margin-left: 40px;
                        position: relative;
                    }
                    .qty-changer {
                        margin-left: 11px;
                        >a {
                            position: absolute;
                            top: 0;
                            left: -15px;
                            height: 30px;
                            width: 15px;
                            line-height: 30px;
                            text-align: center;
                            margin: 0;
                            border-color: none;
                            border:  none;
                            &:first-child {
                                left: auto;
                                right: 0px;
                            }
                            .porto-icon-up-dir {
                                &:before {
                                    content: '\f882';
                                    color: #61605a;
                                }
                            }
                            .porto-icon-down-dir {
                                &:before {
                                    content: '\f883';
                                    color: #61605a;
                                }
                            }
                        }
                    }
                }
                .box-tocart {
                    .input-text.qty {
                        font-family: 'Inter';
                            display: inline-block;
                            vertical-align: middle;
                            height: 30px;
                            width: 30px !important;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: center;
                            color: #000000;
                            margin: 0;
                            border-color: none;
                            border: none;
                            background-color: transparent;
                    }
                }

                 .mess-out-of-stock{
                    display: block;
                    float: none; 
                    clear: both;
                    padding-top: 0px;
                    .product-item-actions {
                        float: none !important;
                    }
                }
                .product-info-price{
                    span.old-price.sly-old-price.no-display {
                            position: relative;
                            display: block;
                            bottom: 0px;
                            color: #AAAAAA;
                            .price{
                                font-size: 16px !important;
                                color: #AAAAAA !important;
                                    line-height: 1;
                                font-family: 'Exo' !important;
                            }
                        }
               }







            
    }

    .product.info.detailed{
        position: relative;
        &:before {
            content: "";
            background-color: #f3f3f3;
            position: absolute;
            top: 0px;
            height: 68px;
            padding: 10px 0px;
            border-radius: 8px;
            width: 100%;
        }
        padding: 15px 0px 0px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        .product.data.items {
            >.item.title {
                padding: 7px 30px 0px 0px;
                &:first-child {
                    padding-left: 40px;
                }
                >.switch {
                    font-size: 14px;
                    font-weight: 700;
                    color: #000000;
                    border: none;
                    border-radius: 0;
                        height: 46px;
                    background: none;
                    padding: 0;
                }
                &:not(.disabled) {
                    >.switch {
                        &:focus {
                            background: none;
                            color: #FF7200;
                        }
                        &:hover {
                            background: none;
                            color: #FF7200;
                        }
                    }
                }
            }
            >.item.title.active {
                >.switch {
                    color: #FF7200;
                    position: relative;
                    border-bottom: #FF7200 solid 2px !important;
                    &:focus {
                        color: #FF7200;
                        position: relative;
                        border-bottom: #FF7200 solid 2px !important;
                    }
                    &:hover {
                        color: #FF7200;
                        position: relative;
                        border-bottom: #FF7200 solid 2px !important;
                    }
                }
            }
            >.item.content {
                ul{
                    color: #000000 !important;
                    font-family: 'Inter';
                    font-size: 14px !important;
                    font-weight: 400;
                }
                padding: 32px 0 0;
                margin-top: 53px;
                background-color: #fff;
                box-shadow: none;
                border: none;
                color: #000000;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 400;

            }
        }
       
        .review-add{
            .review-legend{
                 span {
                    font-family: 'Inter';
                    font-size: 14px;
                    color: #000000;
                    font-weight: 600;
                } 
                strong {
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 400 !important;
                    color: #000000;
                } 
            }  
        }
        
    }  
    
    .block-title.title {
        margin-bottom: 35px !important;
            strong {
            font-family: Exo;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            background-color: #fff !important;
        }
    }
    .block-content.content{

            .owl-item{
                border: 1px solid #ccc;
                padding: 10px 20px 0px;
                 border-right: 0px;   

                .product-item{
                    padding: 0px !important;
                }
                &:first-child{
                    border-left: 0px !important;
                }
                .product-labels{
                    .product-label.grade-label
                    {
                        line-height: 13px !important;
                    }    
                }
                
                
            }
            .owl-controls{
                        position: initial;
                        right: 0;
                        top: 50%;
                        margin: 0;
                    .owl-nav{
                        top: 50%;
                        position: absolute;
                        width: 100%;
                        transform: translateY(-50%);
                    }
                }
                .owl-stage-outer{
                    border-right: 1px solid #D2D2D2;
                     border-left: 1px solid #ccc;
                }
                .price-outstock{
                    .stockunstocsk {
                            clear: both;
                                font-size: 14px;
                            font-family: 'Inter';
                            height: 20px;
                            margin-bottom: 12px;
                            display: block;
                        }
                        .price-box.price-final_price{
                            margin-top: 0px;
                            .old-price{
                                margin-top: -18px;
                            }
                        }
                }
               
        }



        
}



@media screen and (max-width:  999px){

  .catalog-product-view{


    .block-title.title strong {
            font-size: 20px;
        }
    .block.related{
            padding: 0 0px;
    }
    .block-content.content{
            .owl-item{
                border: 1px solid #ccc;
                padding: 10px 10px 0px;
                 border-right: 0px;   

                .product-item{
                    padding: 0px !important;
                }
                
            }
    }

 .product-item-details{
     .product-item-actions {
    
            clear: both;
        }
 }


  }

.fotorama__fullscreen.catalog-product-view {
    .fotorama-item.fotorama.fotorama--fullscreen{
        margin-top: 120px;
    }
}


   .catalog-product-view {

        .product.media {
            margin-top: 10px;
            overflow: hidden;
            margin-bottom: 0px;
        }
        .columns{
            width: 100%;
        }
         .page-title-wrapper{
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 18px;
            h1.page-title {
                margin-top: 0px;
                .base {
                        font-size: 24px;
                        font-family: Exo;
                        font-style: normal;
                            color: #000000;
                        font-weight: bold;
                        line-height: 1;
                    }
            }
        }
        .product-line-sku-container {
            float: left;
                padding-left: 15px;
            .product-line-sku-label{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';
            }
            .product-line-sku-value{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';   
            }
        }
        .product-reviews-summary {
            float: right;
                padding-right: 15px;
            clear: none !important;
            padding-bottom: 0px !important;
                .reviews-actions {
                    &:before {
                        color: #D2D2D2 !important;
                        font-size: 16px !important;
                    }
                    a {
                            line-height: 20px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #FF7200;
                            font-family: 'Inter'; 
                            padding-left: 0px;
                            border-left: none;  
                    }
                }
            
            
            .action.add{
                display: none;
            }
        }
    
    .product-info-main {
        padding: 0px  0px !important;
        

       > *:first-child {
            padding-left: 0px;
        }
        .price-option-social-box{
            display: block;
            margin-bottom: 0px;
            .product-options-bottom {
                margin-top: 20px;
            }  
            .product-options-bottom{
                display: inline-flex;
            }  
            .product-social-links{
                    padding-top: 25px;
                    text-align: center;
                    clear: both;
            }
        }
        
    }
    .breadcrumbs{
        padding-top: 110px !important;
        display: block;
        padding-left: 15px !important;
        padding-right: 15px !important;
        .items {
            .item {
                a {
                    font-size: 12px;
                }
                strong{
                    font-size: 12px;
                }
            }
        }
    }

/*
   .product.info.detailed {
        .product.data.items {
            > .item.title:first-child {
                padding-left: 15px !important;
            }
            > .item.content {
                float: right !important;
                margin-left: -100% !important;
                width: 100%;
            }
             > .item.title {
                float: left !important;
                width: auto !important;
                padding: 7px 15px 0px 0px !important;
                a{
                    &:after{
                        content: none;
                    }
                 }
            }
        }
   }*/
   .product-info-price{
        span.old-price.sly-old-price.no-display {
                position: relative;
                display: block;
                bottom: 0px;
                color: #AAAAAA;
                .price{
                    font-size: 16px !important;
                    color: #AAAAAA !important;
                }
            }
   }
    .mess-out-of-stock
   {
        padding-top: 20px !important;
   } 

   .addthis_toolbox {
        margin-top: 0px;
        .txtshre {
                span {
                    margin-bottom: 0px;
                    padding-top: 6px;
                }
            }
    }  
   .custom_images {
            display: flex;
        justify-content: space-between;
        align-self: center;
        align-content: center;
        align-self: center;
        padding: 15px 0px 30px;
    }

}
}


.catalog-product-view{
    .block-content{
        .product-item-details{
            overflow: visible;
        }
        .owl-stage-outer{
            .owl-stage{
               display: flex; 

            }       
        }

        .product-item-info{
                strong.product.name.product-item-name
            {
                height: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                white-space: normal !important;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                min-height: 40px;
                .product-item-link{
                    height: auto;
                    white-space: revert;
                }
            }

           }
            

            .product_addtional_data{
                       margin-bottom: 0px;
                        height: auto;
                        min-height: 45px;
                .color-desc{
                    display: none !important;
                }
            }

         
    }
    
}




            
.catalog-product-view{

    
.product-item-details{

    .proceboxsetd {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


     .product-item-actions {
        .actions-primary{
            .addnonty{
                   background: #F3F3F3;
                    border-radius: 48px;
                    padding: 11.5px 36.1px !important;
                    height: auto;
                    color: #707070;
                    margin-right: 6px;
                    font-family: 'Exo';
                    font-weight: 700;
                    font-size: 14px; 
            }
        }

     }
     

}   

    .product-item-details{

        .product-item-actions{
            float: right;
            .actions-primary{
                 .action.primary {
                        position: relative;
                            margin-bottom: 0px;
                            bottom: initial;
                            top: 1px;
                            right: -9px;
                            padding: 3px 0px;
                        span{
                            font-size: 0px;
                            &:before {
                                content: "";
                                background-image: url(../images/cart-icon.png);
                                background-repeat: no-repeat;
                                background-size: cover;
                                font-size: 12px;
                                border: none;

                                line-height: 40px;
                                padding: 4px 22px 0px 1px;
                            }
                        }

                        
                }
            }
        }
    }
     
                     
}



.catalog-product-view{
    .main-upsell-product-detail{
        background-color: #ffffff;
        padding: 0px 15px 40px;
        margin-top: 0px;
        .container-box{
            max-width: 1440px ;
            padding: 0px 35px ;
            margin-left: auto;
            margin-right: auto;
            .owl-next{
                right: 0px !important;
            }
        }
    }
     .product-labels{
                    .product-label{
                        font-size: 10px;
                        padding: 7px 8px !important;

                    }
                    .product-label.sale-label {
                        padding: 0px 5px !important;
                        height: 18px;
                        
                    }
                    
                }
                .product-labels{
                .product-label{
                    font-size: 12px;
                    font-family: 'Inter';

                }
                .product-label.sale-label {
                    position: absolute;
                    top: -10px;
                    bottom: initial;
                    height: auto;
                    left: 0px;
                    width: auto;
                    padding: 4px 8px !important;
                    span {
                        display: initial;
                    }
                }
            }
}



@media screen and (max-width:  999px){
.catalog-product-view {

    .product-labels {
        .product-label {
            font-size: 10px;
        }
    }
    .product.media{
        width: 100% !important;
    }
    .product-info-main{
        width: 100% !important;
    }
    .main-upsell-product-detail {
        .container-box {
            padding: 0px 0px;
        }
    }
}




}



@media screen and (max-width:  550px){
    .catalog-product-view {
        .product-item-details{
            .proceboxsetd {
                display: block;
                .product-item-inner {
                    clear: both;
                }
            }

        } 
        .block-content.content .price-outstock 
        .price-box.price-final_price .old-price {
            margin-top: 0px !important;
        }

        .product-labels {
            .product-label.sale-label {
                padding: 0px 5px !important;
            }
            .product-label {
                padding: 3px 5px !important;
            }
        }

    }

}


@media screen and (max-width:  414px){




.catalog-product-view {

.addthis_toolbox a {
    margin-bottom: 5px;
    line-height: initial;
    margin-left: 10px;
}

 /*   .product.info.detailed .product.data.items > .item.title > .switch {
    font-size: 12px;
}
.product.info.detailed .product.data.items > .item.title:first-child {
    padding-left: 6px !important;
}

.product.info.detailed .product.data.items > .item.title {
    padding: 7px 5px 0px 0px !important;
}*/


        .block-content{
            .product-item-details{
                .proceboxsetd {
                   .qty-box{
                     left: 0px !important;
                   }
                   .addctr{
                    &:before{
                        line-height: 35px !important;
                    }
                   } 
                }

            } 
        }
        
    }
}



.catalog-product-view{
    .product-item{
        .product-item-info{
            .proceboxsetd{
                .price-box{
                    span.old-price.sly-old-price.no-display {
                        position: relative;
                        bottom: -2px;
                    }    
                }
            }
        }    
    }    
}





.catalog-product-view{


    .product.info.detailed{
        .data.switch{
            .counter{
                color: #FF7200;
            }    
        }    
    }  
    
    #reviews{
        .block-title{
                strong {
                    font-size: 22px;
                    font-family: 'Exo';
                    font-weight: 600 !important;
                }
                
        }

        .block-content{
           
           

                    button.action.submit.primary {
                        height: auto;
                        border-radius: 20px;
                        span {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: bold;
                            text-transform: capitalize;
                            font-size: 16px;
                            padding: 16px 10px;
                            display: block;
                            line-height: 0;
                        }
                    }
                }


        .review-author  {
            strong{
                font-family: 'Inter';
                font-weight: 400 !important;
                font-size: 14px;
                text-transform: capitalize !important;    
            }
            span{
                font-family: 'Inter';
                font-weight: 400 !important;
                font-size: 14px;
                text-transform: capitalize !important;    
            }
            
        }
        .review-title
         {
            margin: 15px 0 15px;
            font-family: 'Exo';
            font-weight: 700;
            font-size: 16px;
         }
        .review-ratings{

            float: none;
            max-width: 100%;
            width: 100%;
            ~ .review-content {
                margin-left: 0px !important;
            }
            ~ .review-details {
                margin-left: 0px !important;
            }
            .comtabsrat {
                display: flex;
                .verfied{
                    color: #707070;
                    font-size: 14px;
                    position: relative;
                    padding-left: 15px;
                    font-family: 'Inter';
                    &:before{
                        content: none;
                    }
                    &:after{
                        content: "|";
                        position: absolute;
                        color: #D2D2D2;
                        left: -5px;

                    }
                 }
            }
            .rating-result{
                    width: 120px;
                    span{
                           display: inline-block;
                    }
                 &:before{
                        color: #c3c5c9;
                        font-size: 20px;
                        height: 20px;
                        line-height: 20px;
                 }  
                 > span{
                    &:before {
                        font-size: 20px;
                        height: 20px;
                        line-height: 20px;
                    }
                 } 
                 

            }
            .review-content {
                    font-size: 16px;
                    font-family: 'Inter';
                    font-weight: 400;
                }

        }

        
    }
    
}



@media screen and (max-width:  999px){
     .catalog-product-view {
        .product.info.detailed{
            overflow-x: scroll;
            &:before {
             
                    height: 62px;
                    content: none;
            }
            .product.data.items{
               border-bottom: 0px;

                 > .item.title {
                    padding: 15px 30px 1px 30px;
                    background-color: #F3F3F3;
                    margin-bottom: 5px;
                    border-radius: 5px;
                    &:first-child{
                        padding-left: 30px;
                    }
                    a:after {
                    font-size: 30px;
                    }
                }
                .item.content {
                    padding: 15px 0 15px;
                        margin-top: 0px;
                }

            }
        }
     }

     .footer{
        .line{
            display: none;
        }
     }
}





@media screen and (max-width: 414px){
    a.qtyplus {
        left: 3px !important;
    }
}


@media screen and (max-width: 500px){
    .catalog-product-view{
        .block-content{



            strong.product.name.product-item-name {
                    height: auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    white-space: normal !important;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    width: 100%;
                     min-height: auto !important;
                    .product-item-link{
                        height: auto;
                        overflow: initial;
                    }
                }
            .proceboxsetd{
                .price-box.price-final_price{
                        display: flex;
                        flex-direction: column;
                        min-height: 55px;
                        justify-content: center;
                }
                .product-item-inner {
                    margin: 0px;
                    width: 100%;
                    text-align: center;
                    float: none;
                    margin-right: 0px !important;
                    > .product-item-actions{
                        text-align: center;
                        width: 100%;
                        .actions-primary{
                            text-align: center;
                            width: 100%;
                            .qty-box {
                                margin-left: auto !important;
                            }
                        }
                    }
                }
           }     
        }    
    }
    
   
}

.catalog-product-view{
    .product.media{
        .fotorama__fullscreen-icon {
            top: 30px;
        }
        .setlableontop{
            .product-labels {
                    top: 0px !important;
                    .product-label {
                        line-height: 13px !important;
                    }
                    .product-label.new-label {
                        top: 0px;
                        bottom: initial;
                        left: 48px;
                        right: initial;
                        width: auto;
                        padding: 5px 8px !important;
                        position: absolute;
                        display: block;
                    }
                    .product-label.sale-label {
                        top: 0px;
                    }
                    .product-label.grade-label{
                        top: 0px !important;
                    } 
                }
        }
        
    }
}

html.fotorama__fullscreen{
  .fotorama__fullscreen-icon {
            top: 0px;
        }  
}





@media screen and (max-width: 500px){
    .catalog-product-view{
        .product-info-main {
            .mess-out-of-stock{
                    display: block;
                     
                        .actions.product-item-actions{
                                width: 100%;
                                right: 0px;
                                display: block;
                                .action.notify-product.primary{
                                        padding: 18px 44px 15px !important;
                                        margin-right: 0px;
                                        width: 100%;
                                }
                        }
            }
        }
       .price-option-social-box{
          .product-options-bottom{
                width: 100%;
            .box-tocart{
                width: 100%;
                .fieldset{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    > .field.qty {
                        width: 100%;
                        justify-content: center;
                        .control {
                            margin-left: -20px;
                        }
                    }
                     > .actions {
                        width: 100%;
                        .action.tocart.primary {
                                width: 100%;
                        }
                    }
                }
            }
          }
       }
    }
}





@media screen and (max-width:  425px){
    .catalog-product-view {

        product-reviews-summary {
            .reviews-actions {
                .action.view{
                    margin-right: 0px;
                }
            }
        }

      .block-content{

        .products-grid {
                .list {
                    .actions-primary{
                        width: 100%;
                    }
                    .qty-box {
                               width: 100% !important;
                                justify-content: space-between;
                                padding-right: 0px;
                                input {
                                        left: 0px;
                                    }
                                    a.qtyminus {
                                        left: 5px;
                                    }
                                    a.qtyplus {
                                        left: -5px !important;
                                    }

                        }
                        button.action.notify-product.primary {
                            width: 100%;
                            position: relative;
                        }
                    button.action.tocart.primary {
                        right: 0px !important;
                    
                    }
                    .owl-nav{
                         .owl-next {
                                right: -15px !important;
                            }
                            .owl-prev {
                                left: -15px !important;
                            }
                    }
                   

                }
            }

      }  
    
}

}








/*
@media screen and (max-width: 500px){
    .catalog-product-view{
        .fotorama__nav__shaft {
            counter-reset: dots;
            &:after {
                counter-increment: dot;
                content: counter(dot) " / "counter(dots);
                font-size: 14px;
            }
        }
        .fotorama__nav__frame--dot {
            &:before {
                counter-increment: dots;
                content: "s "counter(dots);
            }
        }
    }
}*/





body.catalog-product-view._has-modal {
            .page-header.type2.header-newskin {
                z-index: 9 !important;
            }
        }

.catalog-product-view {

    .product.info.detailed{
        a#writereview {
            display: block;
            background-color: #F3F3F3;
            width: 100%;
            max-width: 163px;
            padding: 20px 15px;
            text-decoration: none;
            margin-left: auto;
            color: #000000;
            text-align: center;
            border-radius: 50px;
            font-family: Exo;
            font-weight: bold;
            font-size: 16px;
            &:hover{
                box-shadow: 0px 4px 5px 0px rgba(0, 0, 0 , 0.2);
                -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0 , 0.2);
                -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);

            }
        }
    }

    .review-detail-modal{
        .modal-inner-wrap{
            max-width: 1140px;
                width: 96%;
            border-radius: 8px;
            overflow: hidden;
            .modal-header{
                .action-close{
                    &:before{
                        content: "";
                        background-image: url(../images/btnclose.png);
                        padding: 20px 20px;
                        background-repeat: no-repeat;
                        position: absolute;
                        right: 30px;
                        z-index: 1;
                    }
                    
                }    
            }
            
            .midconthere{
                align-self: center;
            }
            .modal-content{
                    padding: 30px 55px;
                    .col-md-6{
                        padding-left: 16px;
                        padding-right: 16px;
                    }
            }
            .reviewboxtexts {
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        overflow: hidden;
                        padding: 25px 25px;
                        .titlerevws {
                            h2 {
                                color: #000000;
                                font-size: 24px;
                                font-weight: 700;
                                font-family: 'Exo';
                            }
                        }
                        .pararevws {
                            p {
                                font-size: 16px;
                                font-family: 'Inter';
                                color: #000;
                                    margin-top: 15px;
                                margin-bottom: 20px;
                            }
                        }
                        .orderparadetau {
                            ul {
                                padding-left: 0px;
                                li {
                                    font-family: 'Inter';
                                    font-size: 16px;
                                    list-style: none;
                                    span{
                                        color: #000;
                                        display: inline-block;
                                        width: 90%;
                                    }
                                    .contnmbr{
                                         color: #ff7200;
                                            font-size: 16px;
                                            width: 25px;
                                            font-weight: 600;
                                            vertical-align: top;
                                    }

                                }
                            }
                        }


                    }
            .review-add{
                .review-control-vote:before {
                    content: '\f844' '\f844' '\f844' '\f844' '\f844';
                }
                .review-control-vote label:before, 
                .review-control-vote:before {
                    font-size: 38px;
                    line-height: 38px;
                    height: 38px;
                    letter-spacing: 10px;
                }

                .block-title{
                    display: block;
                    strong {
                        color: #000000;
                        font-size: 32px;
                        font-family: 'Exo';
                        font-weight: 700;
                    }
                }
                .label{
                    span {
                        font-size: 14px;
                        color: #000;
                        font-family: 'Inter';
                        font-weight: 600;
                    }    
                }


                .review-form{


                    input.input-text::placeholder {
                        color: #000;
                    }
                    textarea#review_field::placeholder {
                        color: #000;
                    }
                    input.input-text {
                        background-color: #F3F3F3;
                        border-radius: 50px;
                        border: 1px solid #F3F3F3;
                        color: #000;
                        font-family: 'Inter';
                        font-size: 14px;
                        font-weight: 400;
                        padding: 2px 20px;
                        height: 40px;
                    }
                    textarea#review_field {
                            background-color: #F3F3F3;
                            border: 1px solid #F3F3F3;
                            min-height: 117px;
                            border-radius: 20px;
                                padding: 15px 20px;
                        }


                    .field.review-field-nickname.required {
                        float: left;
                        width: 48%;
                        margin-right: 8px;
                    }
                    .field.review-field-summary.required {
                        float: left;
                        width: 48%;
                        margin-left: 8px;
                    }
                    .field.review-field-text.required {
                        clear: both;
                    }
                    .review-form-actions{
                        .primary.actions-primary{
                            display: flex;
                            button.action.submit.primary {
                            font-family: 'Exo';
                            font-weight: 700;
                            text-transform: capitalize;
                            font-size: 16px;
                            height: 56px;
                            width: 162px;
                            border-radius: 32px;
                        }  
                        .close-btn-set{
                            font-family: 'Exo';
                            font-weight: 700;
                            text-transform: capitalize;
                            font-size: 16px;
                            height: 56px;
                            margin-left: 16px;
                            color: #000;
                            line-height: 56px;
                            cursor: pointer;
                            display: inline-block;
                            background-color: #F3F3F3;
                            width: 162px;
                            border-radius: 32px;
                        }
                        }
                          
                    }
                    

                }
                 
            } 
            
        }
    }



        
}



@media screen and (max-width:  999px){
    .catalog-product-view {

        .review-detail-modal.modal-popup.modal-slide._inner-scroll .modal-inner-wrap{
            max-width: 90% !important;
        }
        .review-detail-modal {
            left: 0;
            .modal-inner-wrap {
                margin: 5rem auto;
                .modal-content {
                    padding: 20px 15px;
                }
            }
        }
    }
}

@media screen and (max-width:  767px){


.catalog-product-view {
    .review-detail-modal {
        .modal-inner-wrap {
             .modal-header {
                    background-color: #fff;
                .action-close:before {
                    right: 10px;
                    top: 4px;
                }
             }
            .review-add {
                .review-form{

                    .field.review-field-nickname.required {
                        float: none;
                        width: 100%;
                        margin-right: 0px;
                    }
                    .field.review-field-summary.required {
                        float: none;
                        width: 100%;
                        margin-left: 0px;
                    }

                }
            }
        }
    }
}


}





@media screen and (min-width: 1000px){
    .catalog-product-view{
        .product.media{
            .fotorama__wrap{
                .fotorama__stage{
                        padding-bottom: 50px;
                    &:after{
                        width: 100%;
                        content: "Roll over image to zoom in";
                        bottom: 15px;
                        text-align: center;
                        position: absolute;
                        right: auto;
                        font-size: 14px;
                        color: #AAAAAA;
                        display: block;
                        font-family: 'Inter';
                        left: auto;
                    }
                }    
            }    
        }
        
        
    }
}
