.catalog-product-view{





    .block.upsell .title {
         background: none !important;
    }

    button.action.notify-product.primary {
            padding: 18.5px 48px !important;
            margin-right: 10px;
        }
    .product.alert.stock {
        padding-left: 0px;
         clear: both;
        a {
            padding-left: 0px;
        }
    }
        .product.media{
            display: block;
            .fotorama-item.fotorama{
                .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
                    text-align: center;
                    .fotorama__thumb-border{
                        display: none;
                            border: none;
                    }
                    .fotorama__nav__frame--thumb.fotorama__active {
                        .fotorama__thumb {
                            border: 1px solid #000000 !important;
                        }
                    }
                    .fotorama__nav__frame--thumb {
                        .fotorama__thumb {
                            .fotorama__img{
                                padding: 5px;
                            }
                        }
                    }

                }    
            }
        }
    .addthis_toolbox{
            clear: both;
            text-align: center;
            width: 100%;
            overflow: hidden;
                margin-top: 50px;
            .txtshre {
                span {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                    color: #AAAAAA;
                    display: block;
                    margin-bottom: 6px;
                }
            }
            a {
                margin-bottom: 5px;
                line-height: initial;
                margin-left: 18px;
            }
            .addthis_button_twitter{
                margin-left: 0px;
            }
    }

    .page-main{
            max-width: 1440px;
            padding-left: 15px !important;
            padding-right: 15px !important;
    }
    .product-info-main{
        padding-top: 0px !important;
        .price-option-social-box{
                padding-top: 25px;
                margin-bottom: 60px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
        }
        .product-social-links{
            padding-top: 0px;
            margin-bottom: 0px;
            .product-addto-links{
                .action.towishlist{
                    width: auto;
                    height: auto;
                    border:  none;
                    &:before{
                            content: url(../images/wishlistgrid.png);
                            padding: 0px 10px;
                            display: inline-block;
                            vertical-align: sub;
                                line-height: 0;

                    }
                    span{
                            display: inline-block;
                            font-weight: 700;
                            line-height: 1;
                            font-family: 'Exo';
                            text-transform: capitalize;
                    }
                }
            }
        }
      .product-info-price {
            display: block;
             width: auto;
             margin-bottom: 0px;
             padding-right: 45px;
            .price-box{
                margin-top: 0px !important;
                display: block;
                .price-wrapper {
                   margin-top: 0px; 
                   margin-bottom: 0px; 
                }
                .price {
                            font-family: Exo;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 32px !important;
                            color: #000000 !important;
                    }
                .normal-price {
                    .price {
                            font-family: Exo;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 32px !important;
                            color: #000000 !important;
                    }
                }    
            }
          
        }

    
        h1.page-title {
                padding: 0px 0 15px;
            .base {
                font-family: Exo;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 1.5;
            }
        }
        .product-line-sku-container{
            padding-bottom: 12px;
            .product-line-sku-label{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';
            }
            .product-line-sku-value{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';   
            }
        }
        .swatch-attribute.color{
            .swatch-option {
                    margin-right: 24px;
                }
                .swatch-option.color {
                    height: 32px;
                    border: 0;
                    width: 32px;
                    border-radius: 50%;
                } 
                .swatch-option.image {
                    height: 32px !important;
                    width: 32px !important;
                    background-size: cover !important;
                    border-radius: 50%;
                }
                .swatch-option.color.selected{
                    outline: none; 
                }   
        }
        .color-section{
                margin-bottom: 10px;
            .color-label {
                font-family: Exo;
                font-weight: bold;
                font-size: 16px;
            }
            .color-value {
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
            }
        } 

        .box-tocart {
            .actions {
                .action.tocart.primary {
                    position: relative;
                    bottom: initial;
                    border-radius: 32px;
                    height: 56px;
                    width: 170px;
                    img{
                        display: none;
                    }
                    span{
                        font-size: 16px;
                        font-weight: 700;
                        font-family: 'Exo';
                        letter-spacing: normal;
                          text-transform: capitalize;
                    }
                }    
            }
            
            }


            .product-reviews-summary {
                clear: both;
                padding-bottom: 20px;
                .reviews-actions {
                    &:before {
                        color: #D2D2D2;
                        font-size: 16px;
                    }
                    a {
                            line-height: 20px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #FF7200;
                            font-family: 'Inter'; 
                            padding-left: 0px;
                            border-left: none;  
                    }
                }
            }
            .product.overview {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.005em;
                line-height: 27px;
                border-bottom: solid 1px #dae2e6;
                border-top: solid 1px #dae2e6;
            }




            .product-info-price {
                    .old-price {
                        display: block;
                        .price-wrapper {
                            .price {
                                font-size: 16px !important;
                                color: #AAAAAA  !important;
                                font-weight: 700  !important;
                                display: block;
                            }
                        }
                    }
                }
                .fieldset {
                    >.field.qty {
                            position: relative;
                            width: 159px;
                            background-color: #f3f3f3;
                            height: 56px;
                            border-radius: 48px;
                            overflow: hidden;
                            display: inline-flex;
                            margin-right: -52px;
                            align-items: center;
                    }
                }
                .nested.options-list {
                    >.field.qty {
                        position: relative;
                        width: 106px;
                    }
                }
                .qty.field {
                    .control {
                        margin-left: 40px;
                        position: relative;
                    }
                    .qty-changer {
                        margin-left: 11px;
                        >a {
                            position: absolute;
                            top: 0;
                            left: -15px;
                            height: 30px;
                            width: 15px;
                            line-height: 30px;
                            text-align: center;
                            margin: 0;
                            border-color: none;
                            border:  none;
                            &:first-child {
                                left: auto;
                                right: 0px;
                            }
                            .porto-icon-up-dir {
                                &:before {
                                    content: '\f882';
                                    color: #61605a;
                                }
                            }
                            .porto-icon-down-dir {
                                &:before {
                                    content: '\f883';
                                    color: #61605a;
                                }
                            }
                        }
                    }
                }
                .box-tocart {
                    .input-text.qty {
                        font-family: 'Inter';
                            display: inline-block;
                            vertical-align: middle;
                            height: 30px;
                            width: 30px !important;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: center;
                            color: #000000;
                            margin: 0;
                            border-color: none;
                            border: none;
                            background-color: transparent;
                    }
                }

                 .mess-out-of-stock{
                    display: block;
                    float: none; 
                    clear: both;
                    padding-top: 0px;
                    .product-item-actions {
                        float: none !important;
                    }
                }
                .product-info-price{
                    span.old-price.sly-old-price.no-display {
                            position: relative;
                            display: block;
                            bottom: 0px;
                            color: #AAAAAA;
                            .price{
                                font-size: 16px !important;
                                color: #AAAAAA !important;
                            }
                        }
               }







            
    }

    .product.info.detailed{
        position: relative;
        &:before {
            content: "";
            background-color: #f3f3f3;
            position: absolute;
            top: 0px;
            height: 68px;
            padding: 10px 0px;
            border-radius: 8px;
            width: 100%;
        }
        padding: 15px 0px 0px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
        .product.data.items {
            >.item.title {
                padding: 7px 30px 0px 0px;
                &:first-child {
                    padding-left: 40px;
                }
                >.switch {
                    font-size: 14px;
                    font-weight: 700;
                    color: #000000;
                    border: none;
                    border-radius: 0;
                        height: 46px;
                    background: none;
                    padding: 0;
                }
                &:not(.disabled) {
                    >.switch {
                        &:focus {
                            background: none;
                            color: #FF7200;
                        }
                        &:hover {
                            background: none;
                            color: #FF7200;
                        }
                    }
                }
            }
            >.item.title.active {
                >.switch {
                    color: #FF7200;
                    position: relative;
                    border-bottom: #FF7200 solid 2px !important;
                    &:focus {
                        color: #FF7200;
                        position: relative;
                        border-bottom: #FF7200 solid 2px !important;
                    }
                    &:hover {
                        color: #FF7200;
                        position: relative;
                        border-bottom: #FF7200 solid 2px !important;
                    }
                }
            }
            >.item.content {
                ul{
                    color: #000000 !important;
                    font-family: 'Inter';
                    font-size: 14px !important;
                    font-weight: 400;
                }
                padding: 32px 0 0;
                margin-top: 53px;
                background-color: #fff;
                box-shadow: none;
                border: none;
                color: #000000;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 400;

            }
        }
       
        .review-add{
            .review-legend{
                 span {
                    font-family: 'Inter';
                    font-size: 14px;
                    color: #000000;
                    font-weight: 600;
                } 
                strong {
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 400 !important;
                    color: #000000;
                } 
            }  
        }
        
    }  
    
    .block-title.title {
        margin-bottom: 35px;
            strong {
            font-family: Exo;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            background-color: #fff !important;
        }
    }
    .block-content.content{
            .owl-item{
                border: 1px solid #ccc;
                padding: 10px 20px 0px;
                 border-right: 0px;   

                .product-item{
                    padding: 0px !important;
                }
                
            }
            .owl-controls{
                        position: initial;
                        right: 0;
                        top: 50%;
                        margin: 0;
                    .owl-nav{
                        top: 50%;
                        position: absolute;
                        width: 100%;
                        transform: translateY(-50%);
                    }
                }
                .owl-stage-outer{
                    border-right: 1px solid #D2D2D2;
                     border-left: 1px solid #ccc;
                }
                .price-outstock{
                    .stockunstocsk {
                            clear: both;
                                font-size: 14px;
                            font-family: 'Inter';
                            height: 20px;
                            margin-bottom: 12px;
                            display: block;
                        }
                        .price-box.price-final_price{
                            margin-top: 0px;
                            .old-price{
                                margin-top: -18px;
                            }
                        }
                }
               
        }



        
}



@media screen and (max-width:  999px){

  .catalog-product-view{


    .block-title.title strong {
            font-size: 20px;
        }
    .block.related{
            padding: 0 0px;
    }
    .block-content.content{
            .owl-item{
                border: 1px solid #ccc;
                padding: 10px 10px 0px;
                 border-right: 0px;   

                .product-item{
                    padding: 0px !important;
                }
                
            }
    }

 .product-item-details{
     .product-item-actions {
    
            clear: both;
        }
 }


  }

.fotorama__fullscreen.catalog-product-view {
    .fotorama-item.fotorama.fotorama--fullscreen{
        margin-top: 120px;
    }
}


   .catalog-product-view {

        .product.media {
          
            overflow: hidden;
            margin-bottom: 0px;
        }
        .columns{
            width: 100%;
        }
         .page-title-wrapper{
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 18px;
            h1.page-title {
                .base {
                        font-size: 24px;
                        font-family: Exo;
                        font-style: normal;
                            color: #000000;
                        font-weight: bold;
                        line-height: 1;
                    }
            }
        }
        .product-line-sku-container {
            float: left;
                padding-left: 15px;
            .product-line-sku-label{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';
            }
            .product-line-sku-value{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';   
            }
        }
        .product-reviews-summary {
            float: right;
                padding-right: 15px;
            clear: none !important;
            padding-bottom: 0px !important;
                .reviews-actions {
                    &:before {
                        color: #D2D2D2 !important;
                        font-size: 16px !important;
                    }
                    a {
                            line-height: 20px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #FF7200;
                            font-family: 'Inter'; 
                            padding-left: 0px;
                            border-left: none;  
                    }
                }
            
            
            .action.add{
                display: none;
            }
        }
    
    .product-info-main {
        padding: 0px  0px !important;
        

       > *:first-child {
            padding-left: 0px;
        }
        .price-option-social-box{
            display: block;
            margin-bottom: 0px;
            .product-options-bottom {
                margin-top: 20px;
            }  
            .product-options-bottom{
                display: inline-flex;
            }  
            .product-social-links{
                    padding-top: 25px;
                    text-align: center;
                    clear: both;
            }
        }
        
    }
    .breadcrumbs{
        padding-top: 110px !important;
        display: block;
        padding-left: 15px !important;
        padding-right: 15px !important;
        .items {
            .item {
                a {
                    font-size: 12px;
                }
                strong{
                    font-size: 12px;
                }
            }
        }
    }


   .product.info.detailed {
        .product.data.items {
            > .item.title:first-child {
                padding-left: 15px !important;
            }
            > .item.content {
                float: right !important;
                margin-left: -100% !important;
                width: 100%;
            }
             > .item.title {
                float: left !important;
                width: auto !important;
                padding: 7px 15px 0px 0px !important;
                a{
                    &:after{
                        content: none;
                    }
                 }
            }
        }
   }
   .product-info-price{
        span.old-price.sly-old-price.no-display {
                position: relative;
                display: block;
                bottom: 0px;
                color: #AAAAAA;
                .price{
                    font-size: 16px !important;
                    color: #AAAAAA !important;
                }
            }
   }
    .mess-out-of-stock
   {
        padding-top: 20px !important;
   } 

   .addthis_toolbox {
        margin-top: 0px;
        .txtshre {
                span {
                    margin-bottom: 0px;
                    padding-top: 6px;
                }
            }
    }  
   .custom_images {
            display: flex;
        justify-content: space-between;
        align-self: center;
        align-content: center;
        align-self: center;
        padding: 15px 0px 30px;
    }

}
}


.catalog-product-view{
    .block-content{
        .product-item-details{
            overflow: hidden;
        }
        .owl-stage-outer{
            .owl-stage{
               display: flex; 

            }       
        }
         
    }
    
}




            
.catalog-product-view{

    
.product-item-details{

    .proceboxsetd {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


     .product-item-actions {
        .actions-primary{
            .addnonty{
                   background: #F3F3F3;
                    border-radius: 48px;
                    padding: 11.5px 36.1px !important;
                    height: auto;
                    color: #707070;
                    margin-right: 6px;
                    font-family: 'Exo';
                    font-weight: 700;
                    font-size: 14px; 
            }
        }

     }
     

}   

    .product-item-details{

        .product-item-actions{
            float: right;
            .actions-primary{
                 .action.primary {
                        position: relative;
                            margin-bottom: 0px;
                            bottom: initial;
                            top: 1px;
                            right: -9px;
                            padding: 3px 0px;
                        span{
                            font-size: 0px;
                            &:before {
                                content: "";
                                background-image: url(../images/cart-icon.png);
                                background-repeat: no-repeat;
                                background-size: cover;
                                font-size: 12px;
                                border: none;

                                line-height: 40px;
                                padding: 4px 22px 0px 1px;
                            }
                        }

                        
                }
            }
        }
    }
     
                     
}



.catalog-product-view{
    .main-upsell-product-detail{
        background-color: #ffffff;
        padding: 0px 15px 40px;
        margin-top: 0px;
        .container-box{
            max-width: 1440px ;
            padding: 0px 35px ;
            margin-left: auto;
            margin-right: auto;
            .owl-next{
                right: 0px !important;
            }
        }
    }
     .product-labels{
                    .product-label{
                        font-size: 10px;
                        padding: 7px 8px !important;

                    }
                    .product-label.sale-label {
                        padding: 0px 5px !important;
                        height: 18px;
                        
                    }
                    
                }
                .product-labels{
                .product-label{
                    font-size: 12px;
                    font-family: 'Inter';

                }
                .product-label.sale-label {
                    position: absolute;
                    top: -10px;
                    bottom: initial;
                    height: auto;
                    left: 0px;
                    width: auto;
                    padding: 5px 8px !important;
                    span {
                        display: initial;
                    }
                }
            }
}



@media screen and (max-width:  999px){
.catalog-product-view .main-upsell-product-detail .container-box {
    padding: 0px 0px;
}


}



@media screen and (max-width:  550px){
    .catalog-product-view {
        .product-item-details{
            .proceboxsetd {
                display: block;
                .product-item-inner {
                    clear: both;
                }
            }

        } 
        .block-content.content .price-outstock 
        .price-box.price-final_price .old-price {
            margin-top: 0px !important;
        }

    }

}


@media screen and (max-width:  414px){
.catalog-product-view {

.addthis_toolbox a {
    margin-bottom: 5px;
    line-height: initial;
    margin-left: 10px;
}

    .product.info.detailed .product.data.items > .item.title > .switch {
    font-size: 12px;
}
.product.info.detailed .product.data.items > .item.title:first-child {
    padding-left: 6px !important;
}

.product.info.detailed .product.data.items > .item.title {
    padding: 7px 5px 0px 0px !important;
}


        .block-content{
            .product-item-details{
                .proceboxsetd {
                   .qty-box{
                     left: 0px !important;
                   }
                   .addctr{
                    &:before{
                        line-height: 35px !important;
                    }
                   } 
                }

            } 
        }
        
    }
}