.header-rightbar{
    .customer-welcome {
        margin-left: 0px;
        top: 21px;
        .user-body:before {
            right: -32px;
            top: -12px;
            width: 2.6em;
        }
        .user-body:after {
            width: 10px;
            height: 10px;
            right: -27px;
            top: -24px;
        } 
    }     
}



html.fotorama__fullscreen {
    
        header.page-header.type2.header-newskin {
        z-index: 999 !important;
    }
   .fotorama__fullscreen-icon:before{
            content: "\f819";

   }

         .fotorama__zoom-in, 
         .fotorama__zoom-out{
            display: none;
        }

.fotorama__fullscreen-icon:focus:after{
    content: none;
}

.fotorama__nav__shaft {
    display: none;
}



}

.catalog-product-view{

/*.product.alert.stock {
    display: none !important;
}*/

.block.related.owl-top-narrow {
    margin-top: 40px;
}


    .block.upsell {
        margin-top: 27px !important;
        .title {
             background: none !important;
             position: relative;
        }
    }

    button.action.notify-product.primary {
            padding: 19.5px 48px !important;
            margin-right: 10px;
        }
    .product.alert.stock {
        padding-left: 0px;
         clear: both;
        a {
            padding-left: 0px;
        }
    }
        .product.media{
            display: block;
            .fotorama-item.fotorama{
                .fotorama__nav-wrap.fotorama__nav-wrap--horizontal {
                    text-align: center;
                    .fotorama__thumb-border{
                        display: none;
                            border: none;
                    }
                    .fotorama__nav__frame--thumb.fotorama__active {
                        .fotorama__thumb {
                            border: 1px solid #000000 !important;
                        }
                    }
                    .fotorama__nav__frame--thumb {
                        .fotorama__thumb {
                            .fotorama__img{
                                padding: 5px;
                            }
                        }
                    }

                }    
            }
        }
    .addthis_toolbox{
            clear: both;
            text-align: center;
            width: 100%;
            overflow: hidden;
                margin-top: 50px;
            .txtshre {
                span {
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    text-align: center;
                    color: #AAAAAA;
                    display: block;
                    margin-bottom: 6px;
                }
            }
            a {
                margin-bottom: 5px;
                line-height: initial;
                margin-left: 18px;
            }
            .addthis_button_twitter{
                margin-left: 0px;
            }
    }

    .page-main{
            max-width: 1440px;
            padding-left: 15px !important;
            padding-right: 15px !important;
    }
    .product-info-main{
        padding-top: 0px !important;
        .price-option-social-box{
                padding-top: 35px;
                margin-bottom: 70px;
                display: flex;
                flex-wrap: wrap;
                align-items: center;
        }
        .product-social-links{
            padding-top: 0px;
            margin-bottom: 0px;
            .product-addto-links{
                .action.towishlist{
                    width: auto;
                    height: auto;
                    border:  none;
                    &:before{
                            content: url(../images/wishlistgrid.png);
                            padding: 0px 10px;
                            display: inline-block;
                            vertical-align: sub;
                                line-height: 0;

                    }
                    span{
                            display: inline-block;
                            font-weight: 700;
                            line-height: 1;
                            font-family: 'Exo';
                            text-transform: capitalize;
                    }
                }
            }
        }
      .product-info-price {
            display: block;
             width: auto;
             margin-bottom: 0px;
             padding-right: 45px;
            .price-box{
                margin-top: 0px !important;
                display: block;
                .price-wrapper {
                   margin-top: 0px; 
                   margin-bottom: 0px; 
                }
                .price {
                            font-family: Exo;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 32px !important;
                            color: #000000 !important;
                    }
                .normal-price {
                    .price {
                            font-family: Exo;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 32px !important;
                            color: #000000 !important;
                    }
                }    
            }
          
        }

    
        h1.page-title {
                padding: 0px 0 15px;
                margin-top: -10px;
            .base {
                font-family: Exo;
                font-style: normal;
                font-weight: bold;
                font-size: 32px;
                line-height: 1.5;
            }
        }
        .product-line-sku-container{
            padding-bottom: 12px;
            .product-line-sku-label{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';
            }
            .product-line-sku-value{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';   
            }
        }
        .swatch-attribute.color{
            .swatch-option {
                    margin-right: 24px;
                }
                .swatch-option.color {
                    height: 32px;
                    border: 0;
                    width: 32px;
                    border-radius: 50%;
                } 
                .swatch-option.image {
                    height: 32px !important;
                    width: 32px !important;
                    background-size: cover !important;
                    border-radius: 50%;
                }
        }
        .color-section{
                margin-bottom: 10px;
            .color-label {
                font-family: Exo;
                font-weight: bold;
                font-size: 16px;
            }
            .color-value {
                font-family: Inter;
                font-weight: 400;
                font-size: 14px;
            }
        } 

        .box-tocart {
            .actions {
                .action.tocart.primary {
                    position: relative;
                    bottom: initial;
                    border-radius: 32px;
                    height: 56px;
                    width: 170px;
                    img{
                        display: none;
                    }
                    span{
                        font-size: 16px;
                        font-weight: 700;
                        font-family: 'Exo';
                        letter-spacing: normal;
                          text-transform: capitalize;
                    }
                }    
            }
            
            }


            .product-reviews-summary {
                clear: both;
                padding-bottom: 20px;
                .reviews-actions {
                    &:before {
                        color: #D2D2D2;
                        font-size: 16px;
                    }
                    .action.view{
                        span{
                            color: #FF7200;
                        }
                    }
                    a {
                            line-height: 20px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #707070;
                            font-family: 'Inter'; 
                            padding-left: 0px;
                            border-left: none;  
                    }
                }
            }
            .product.overview {
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.005em;
                line-height: 27px;
                border-bottom: solid 1px #dae2e6;
                border-top: solid 1px #dae2e6;
            }




            .product-info-price {
                    .old-price {
                        display: block;
                        .price-wrapper {
                            .price {
                                font-size: 16px !important;
                                color: #AAAAAA  !important;
                                font-weight: 700  !important;
                                display: block;
                            }
                        }
                    }
                }
                .fieldset {
                    >.field.qty {
                            position: relative;
                            width: 159px;
                            background-color: #f3f3f3;
                            height: 56px;
                            border-radius: 48px;
                            overflow: hidden;
                            display: inline-flex;
                            margin-right: -52px;
                            align-items: center;
                    }
                }
                .nested.options-list {
                    >.field.qty {
                        position: relative;
                        width: 106px;
                    }
                }
                .qty.field {
                    .control {
                        margin-left: 40px;
                        position: relative;
                    }
                    .qty-changer {
                        >a {
                            position: absolute;
                            top: 0;
                            left: -15px;
                            height: 30px;
                            width: 15px;
                            line-height: 30px;
                            text-align: center;
                            margin: 0;
                            border-color: none;
                            border:  none;
                            &:first-child {
                                left: auto;
                                right: 0px;
                            }
                            .porto-icon-up-dir {
                                &:before {
                                    content: '\f882';
                                    color: #61605a;
                                }
                            }
                            .porto-icon-down-dir {
                                &:before {
                                    content: '\f883';
                                    color: #61605a;
                                }
                            }
                        }
                    }
                }
                .box-tocart {
                    .input-text.qty {
                        font-family: 'Inter';
                            display: inline-block;
                            vertical-align: middle;
                            height: 30px;
                            width: 30px !important;
                            font-size: 16px;
                            font-weight: 400;
                            text-align: center;
                            color: #000000;
                            margin: 0;
                            border-color: none;
                            border: none;
                            background-color: transparent;
                    }
                }

                 .mess-out-of-stock{
                    display: block;
                    float: none; 
                    clear: both;
                    padding-top: 0px;
                    .product-item-actions {
                        float: none !important;
                    }
                }
                .product-info-price{
                    span.old-price.sly-old-price.no-display {
                            position: relative;
                            display: block;
                            bottom: 0px;
                            color: #AAAAAA;
                            margin-top: -36px;
                            .price{
                                font-size: 16px !important;
                                color: #AAAAAA !important;
                            }
                        }
               }

            
    }

    .product.info.detailed{
        position: relative;
        .allboxfortitle {
            clear: both;
            overflow: hidden;
            padding: 18px 15px 24px 0px;
                background-color: #f3f3f3;
             border-radius: 7px;
            .data.item.title {
                float: left;
            }
        }
        
        .product.data.items {
            .item.title {
                padding: 7px 30px 0px 0px;
                &:first-child {
                    padding-left: 40px;
                }
                >.switch {
                    font-size: 14px;
                    font-weight: 700;
                    color: #000000;
                    border: none;
                    border-radius: 0;
                        height: 46px;
                    background: none;
                    padding: 0;
                }
                &:not(.disabled) {
                    >.switch {
                        &:focus {
                            background: none;
                            color: #FF7200;
                        }
                        &:hover {
                            background: none;
                            color: #FF7200;
                        }
                    }
                }
            }
            .item.title.active {
                >.switch {
                    color: #FF7200;
                    position: relative;
                        padding: 22px 0px;
                    border-bottom: #FF7200 solid 2px !important;
                    &:focus {
                        color: #FF7200;
                        position: relative;
                            padding: 22px 0px;
                        border-bottom: #FF7200 solid 2px !important;
                    }
                    &:hover {
                        color: #FF7200;
                        position: relative;
                            padding: 22px 0px;
                        border-bottom: #FF7200 solid 2px !important;
                    }
                }
            }
            .item.content {
                ul{
                    color: #000000 !important;
                    font-family: 'Inter';
                    font-size: 14px !important;
                    font-weight: 400;
                }
                padding: 20px 0 0;
                margin-top: 0px;
                background-color: #fff;
                box-shadow: none;
                border: none;
                color: #000000;
                font-family: 'Inter';
                font-size: 14px;
                font-weight: 400;

            }
        }
       
        .review-add{
            .review-legend{
                 span {
                    font-family: 'Inter';
                    font-size: 14px;
                    color: #000000;
                    font-weight: 600;
                } 
                strong {
                    font-family: 'Inter';
                    font-size: 16px;
                    font-weight: 400 !important;
                    color: #000000;
                } 
            }  
        }
        
    }  
    
    .block-title.title {
        margin-bottom: 35px !important;
            display: flex;
            justify-content: space-between;
            align-items: center;
            strong {
            font-family: Exo;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            background-color: #fff !important;      
            margin-bottom: 0px !important;
            padding-bottom: 0px;
        }

        .viewall {
           color: #FF7200;
            cursor: pointer;
            text-align: right;
            width: 200px;
             img {
                width: 15px;
                vertical-align: initial;
                position: relative;
                top: 2px;
            }
        }
    }
    .block-content.content{

            .owl-item{
                border: 1px solid #ccc;
                padding: 10px 20px 0px;
                 border-right: 0px;   

                .product-item{
                    padding: 0px !important;
                }
                .product-labels{
                    .product-label.grade-label
                    {
                        line-height: 13px !important;
                    }    
                }
                
                
            }
            .owl-controls{
                        position: initial;
                        right: 0;
                        top: 50%;
                        margin: 0;
                    .owl-nav{
                        top: 50%;
                        position: absolute;
                        width: 100%;
                        left: 0px;
                        transform: translateY(-50%);
                    }
                }
                .owl-stage-outer{
                    border-right: 1px solid #D2D2D2;
                     border-left: 1px solid #ccc;
                }
                .price-outstock{
                    .stockunstocsk {
                            clear: both;
                                font-size: 14px;
                            font-family: 'Inter';
                            height: 20px;
                            margin-bottom: 12px;
                            display: block;
                        }
                        .price-box.price-final_price{
                            margin-top: 0px;
                            .old-price{
                                margin-top: -18px;
                            }
                        }
                }
               
        }



        
}



@media screen and (max-width:  999px){

  .catalog-product-view{


.product-info-main{
    margin-bottom: 0px;
}

.block.related.owl-top-narrow{
    margin-top: 0px;
}

    .block-title.title strong {
            font-size: 20px;
        }
    .block.related{
            padding: 0 0px;
    }
    .block-content.content{
            .owl-item{
                border: 1px solid #ccc;
                padding: 10px 10px 0px;
                 border-right: 0px;   

                .product-item{
                    padding: 0px !important;
                }
                
            }
    }

 .product-item-details{
     .product-item-actions {
    
            clear: both;
        }
 }


  }

.fotorama__fullscreen.catalog-product-view {
    .fotorama-item.fotorama.fotorama--fullscreen{
        margin-top: 120px;
    }
}


   .catalog-product-view {

        .product.media {
            margin-top: 10px;
            overflow: hidden;
            margin-bottom: 0px;
        }
        .columns{
            width: 100%;
        }
         .page-title-wrapper{
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 18px;
            h1.page-title {
                margin-top: 0px;
                .base {
                        font-size: 24px;
                        font-family: Exo;
                        font-style: normal;
                            color: #000000;
                        font-weight: bold;
                        line-height: 1;
                    }
            }
        }
        .product-line-sku-container {
            float: left;
                padding-left: 15px;
            .product-line-sku-label{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';
            }
            .product-line-sku-value{
                color: #000000;
                font-size: 14px;
                font-weight: 400;
                font-family: 'Inter';   
            }
        }
        .product-reviews-summary {
            float: right;
                padding-right: 15px;
            clear: none !important;
            padding-bottom: 0px !important;
                .reviews-actions {
                    &:before {
                        color: #D2D2D2 !important;
                        font-size: 16px !important;
                    }
                    a {
                            line-height: 20px;
                            font-size: 14px;
                            font-weight: 400;
                            color: #FF7200;
                            font-family: 'Inter'; 
                            padding-left: 0px;
                            border-left: none;  
                    }
                }
            
            
            .action.add{
                display: none;
            }
        }
    
    .product-info-main {
        padding: 0px  0px !important;
        

       > *:first-child {
            padding-left: 0px;
        }
        .price-option-social-box{
            display: block;
            margin-bottom: 0px;
            .product-options-bottom {
                margin-top: 20px;
            }  
            .product-options-bottom{
                display: inline-flex;
            }  
            .product-social-links{
                    padding-top: 25px;
                    text-align: center;
                    clear: both;
            }
        }
        
    }
    .breadcrumbs{
        padding-top: 110px !important;
        display: block;
        padding-left: 15px !important;
        padding-right: 15px !important;
        .items {
            .item {
                a {
                    font-size: 12px;
                }
                strong{
                    font-size: 12px;
                }
            }
        }
    }

/*
   .product.info.detailed {
        .product.data.items {
            > .item.title:first-child {
                padding-left: 15px !important;
            }
            > .item.content {
                float: right !important;
                margin-left: -100% !important;
                width: 100%;
            }
             > .item.title {
                float: left !important;
                width: auto !important;
                padding: 7px 15px 0px 0px !important;
                a{
                    &:after{
                        content: none;
                    }
                 }
            }
        }
   }*/
   .product-info-price{
        span.old-price.sly-old-price.no-display {
                position: relative;
                display: block;
                bottom: 0px;
                color: #AAAAAA;
                .price{
                    font-size: 16px !important;
                    color: #AAAAAA !important;
                    font-family: 'Exo' !important;
                }
            }
   }
    .mess-out-of-stock
   {
        padding-top: 20px !important;
   } 

   .addthis_toolbox {
        margin-top: 0px;
        .txtshre {
                span {
                    margin-bottom: 0px;
                    padding-top: 6px;
                }
            }
    }  
   .custom_images {
            display: flex;
        justify-content: space-between;
        align-self: center;
        align-content: center;
        align-self: center;
        padding: 15px 0px 30px;
    }

}
}


.catalog-product-view{
    .block-content{
        .product-item-details{
            overflow: visible;
        }
        .owl-stage-outer{
            .owl-stage{
               display: flex; 

            }       
        }

        .product-item-info{
                strong.product.name.product-item-name
            {
                height: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                white-space: normal !important;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                min-height: 40px;
                .product-item-link{
                    height: auto;
                    white-space: revert;
                }
            }

           }
            

            .product_addtional_data{
                       margin-bottom: 0px;
                        height: auto;
                .color-desc{
                    display: none !important;
                }
            }

         
    }
    
}




            
.catalog-product-view{

    
.product-item-details{

    .proceboxsetd {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }


     .product-item-actions {
        .actions-primary{
            .addnonty{
                   background: #F3F3F3;
                    border-radius: 48px;
                    padding: 11.5px 36.1px !important;
                    height: auto;
                    color: #707070;
                    margin-right: 6px;
                    font-family: 'Exo';
                    font-weight: 700;
                    font-size: 14px; 
            }
        }

     }
     

}   

    .product-item-details{

        .product-item-actions{
            float: right;
            .actions-primary{
                 .action.primary {
                        position: relative;
                            margin-bottom: 0px;
                            bottom: initial;
                            top: 1px;
                            right: -9px;
                            padding: 3px 0px;
                        span{
                            font-size: 0px;
                            &:before {
                                content: "";
                                background-image: url(../images/cart-icon.png);
                                background-repeat: no-repeat;
                                background-size: cover;
                                font-size: 12px;
                                border: none;

                                line-height: 40px;
                                padding: 4px 22px 0px 1px;
                            }
                        }

                        
                }
            }
        }
    }
     
                     
}



.catalog-product-view{
    .main-upsell-product-detail{
        background-color: #ffffff;
        padding: 0px 15px 40px;
        margin-top: 0px;
        .container-box{
            max-width: 1440px ;
            padding: 0px 35px ;
            margin-left: auto;
            margin-right: auto;
            .owl-next{
                right: -30px !important;
            }
        }
    }
     .product-labels{
                    .product-label{
                        font-size: 10px;
                        padding: 7px 8px !important;

                    }
                    .product-label.sale-label {
                        padding: 0px 5px !important;
                        height: 18px;
                        
                    }
                    
                }
                .product-labels{
                .product-label{
                    font-size: 12px;
                    font-family: 'Inter';

                }
                .product-label.sale-label {
                    position: absolute;
                    top: -10px;
                    bottom: initial;
                    height: auto;
                    left: 0px;
                    width: auto;
                    padding: 4px 8px !important;
                    span {
                        display: initial;
                    }
                }
            }
}



@media screen and (max-width:  999px){
.catalog-product-view {

.product-reviews-summary ~ .product-reviews-summary.short {
    display: none;
}

    .product-labels {
        .product-label {
            font-size: 10px;
        }
    }
    .product.media{
        width: 100% !important;
    }
    .product-info-main{
        width: 100% !important;
    }
    .main-upsell-product-detail {
        .container-box {
            padding: 0px 0px;
        }
    }
}




}



@media screen and (max-width:  550px){
    .catalog-product-view {
        .product-item-details{
            .proceboxsetd {
                display: block;
                .product-item-inner {
                    clear: both;
                }
            }

        } 
        .block-content.content .price-outstock 
        .price-box.price-final_price .old-price {
            margin-top: 0px !important;
        }

        .product-labels {
            .product-label.sale-label {
                padding: 0px 5px !important;
            }
            .product-label {
                padding: 3px 5px !important;
            }
        }

    }

}


@media screen and (max-width:  414px){




.catalog-product-view {

.addthis_toolbox a {
    margin-bottom: 5px;
    line-height: initial;
    margin-left: 10px;
}

 /*   .product.info.detailed .product.data.items > .item.title > .switch {
    font-size: 12px;
}
.product.info.detailed .product.data.items > .item.title:first-child {
    padding-left: 6px !important;
}

.product.info.detailed .product.data.items > .item.title {
    padding: 7px 5px 0px 0px !important;
}*/


        .block-content{
            .product-item-details{
                .proceboxsetd {
                   .qty-box{
                     left: 0px !important;
                   }
                   .addctr{
                    &:before{
                        line-height: 35px !important;
                    }
                   } 
                }

            } 
        }
        
    }
}



.catalog-product-view{
    .product-item{
        .product-item-info{
            .proceboxsetd{
                .price-box{
                    span.old-price.sly-old-price.no-display {
                        position: relative;
                        bottom: -2px;
                    }    
                }
            }
        }    
    }    
}





.catalog-product-view{


    .product.info.detailed{
        .data.switch{
            .counter{
                color: #FF7200;
            }    
        }    
    }  
    
    #reviews{
        .block-title{
                strong {
                    font-size: 22px;
                    font-family: 'Exo';
                    font-weight: 600 !important;
                }
                
        }

        .block-content{
           
           

                    button.action.submit.primary {
                        height: auto;
                        border-radius: 20px;
                        span {
                            font-family: 'Inter';
                            font-style: normal;
                            font-weight: bold;
                            text-transform: capitalize;
                            font-size: 16px;
                            padding: 16px 10px;
                            display: block;
                            line-height: 0;
                        }
                    }
                }


        .review-author  {
            strong{
                font-family: 'Inter';
                font-weight: 400 !important;
                font-size: 14px;
                text-transform: capitalize !important;    
            }
            span{
                font-family: 'Inter';
                font-weight: 400 !important;
                font-size: 14px;
                text-transform: capitalize !important;    
            }
            
        }
        .review-title
         {
            margin: 15px 0 15px;
            font-family: 'Exo';
            font-weight: 700;
            font-size: 16px;
         }
        .review-ratings{

            float: none;
            max-width: 100%;
            width: 100%;
            ~ .review-content {
                margin-left: 0px !important;
            }
            ~ .review-details {
                margin-left: 0px !important;
            }
            .comtabsrat {
                display: flex;
                .verfied{
                    color: #707070;
                    font-size: 14px;
                    position: relative;
                    padding-left: 15px;
                    font-family: 'Inter';
                    &:before{
                        content: none;
                    }
                    &:after{
                        content: "|";
                        position: absolute;
                        color: #D2D2D2;
                        left: -5px;

                    }
                 }
            }
            .rating-result{
                    width: 120px;
                    span{
                           display: inline-block;
                    }
                 &:before{
                        color: #c3c5c9;
                        font-size: 20px;
                        height: 20px;
                        line-height: 20px;
                 }  
                 > span{
                    &:before {
                        font-size: 20px;
                        height: 20px;
                        line-height: 20px;
                    }
                 } 
                 

            }
            .review-content {
                    font-size: 16px;
                    font-family: 'Inter';
                    font-weight: 400;
                }

        }

        
    }
    
}



@media screen and (max-width:  999px){
     .catalog-product-view {
        .product.info.detailed{
            overflow-x: scroll;
            
            .product.data.items{
               border-bottom: 0px;

                 .item.title {
                    padding: 0px 30px 0px 0px;
                    background-color: #F3F3F3;
                    margin-bottom: 0px;
                    border-radius: 5px;
                    &:first-child{
                        padding-left: 30px;
                    }
                    a:after {
                    content: none;
                    }
                }
                .item.content {
                    padding: 15px;
                    margin-top: 0px;
                }

            }
        }
     }

     .footer{
        .line{
            display: none;
        }
     }
}





@media screen and (max-width: 414px){
    a.qtyplus {
        left: 3px !important;
    }
}


@media screen and (max-width: 500px){
    .catalog-product-view{
        .block-content{



            strong.product.name.product-item-name {
                    height: auto;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    white-space: normal !important;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    width: 100%;
                     min-height: auto !important;
                    .product-item-link{
                        height: auto;
                        overflow: initial;
                    }
                }
            .proceboxsetd{
                .price-box.price-final_price{
                        display: flex;
                        flex-direction: column;
                        min-height: 55px;
                        justify-content: center;
                }
                .product-item-inner {
                    margin: 0px;
                    width: 100%;
                    text-align: center;
                    float: none;
                    margin-right: 0px !important;
                    > .product-item-actions{
                        text-align: center;
                        width: 100%;
                        .actions-primary{
                            text-align: center;
                            width: 100%;
                            .qty-box {
                                margin-left: auto !important;
                            }
                        }
                    }
                }
           }     
        }    
    }
    
   
}

.catalog-product-view{
    .product.media{
        .fotorama__fullscreen-icon {
            top: 30px;
        }
        .setlableontop{
            .product-labels {
                    top: 0px !important;
                    .product-label {
                        line-height: 13px !important;
                    }
                    .product-label.new-label {
                        top: 0px;
                        bottom: initial;
                        left: 85px;
                        right: initial;
                        width: auto;
                        padding: 5px 8px !important;
                        position: absolute;
                        display: block;
                    }
                    .product-label.sale-label {
                        top: 0px;
                        padding: 5px 8px !important;
                        

                    }
                    .product-label.grade-label{
                        top: 0px !important;
                        padding: 5px 8px !important;
                    } 
                }
        }
        
    }
}



@media screen and (max-width: 999px){

.catalog-product-view{
    .product.media{
        
        .setlableontop{
            .product-labels {
                    .product-label.new-label {
                        left: 75px;
                    }
                    .product-label.grade-label{
                            /*left: 118px;
                        right: auto;*/
                    } 
                }
        }
        
    }
}


}


html.fotorama__fullscreen{
  .fotorama__fullscreen-icon {
            top: 0px;
        }  
}





@media screen and (max-width: 500px){
    .catalog-product-view{
        .product-info-main {
            .mess-out-of-stock{
                    display: block;
                     
                        .actions.product-item-actions{
                                width: 100%;
                                right: 0px;
                                display: block;
                                .action.notify-product.primary{
                                        padding: 18px 44px 15px !important;
                                        margin-right: 0px;
                                        width: 100%;
                                }
                        }
            }
        }
       .price-option-social-box{
          .product-options-bottom{
                width: 100%;
            .box-tocart{
                width: 100%;
                .fieldset{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    > .field.qty {
                        width: 100%;
                        justify-content: center;
                        .control {
                            margin-left: -20px;
                        }
                    }
                     > .actions {
                        width: 100%;
                        .action.tocart.primary {
                                width: 100%;
                        }
                    }
                }
            }
          }
       }
    }
}





@media screen and (max-width:  425px){
    .catalog-product-view {

        product-reviews-summary {
            .reviews-actions {
                .action.view{
                    margin-right: 0px;
                }
            }
        }

      .block-content{

        .products-grid {
                .list {
                    .actions-primary{
                        width: 100%;
                    }
                    .qty-box {
                               width: 100% !important;
                                justify-content: space-between;
                                padding-right: 0px;
                                input {
                                        left: 0px;
                                    }
                                    a.qtyminus {
                                        left: 5px;
                                    }
                                    a.qtyplus {
                                        left: -5px !important;
                                    }

                        }
                        button.action.notify-product.primary {
                            width: 100%;
                            position: relative;
                        }
                    button.action.tocart.primary {
                        right: 0px !important;
                    
                    }
                    .owl-nav{
                         .owl-next {
                                right: -15px !important;
                            }
                            .owl-prev {
                                left: -15px !important;
                            }
                    }
                   

                }
            }

      }  
    
}

}





.catalog-product-view{
    .fotorama__fullscreen-icon {
        display: none !important;
    }
}



@media screen and (max-width: 767px){
    .catalog-product-view{


.fotorama__nav--dots .fotorama__nav__frame {
        height: 0px;
        padding-right: 18px;
        left: 10px;
        position: absolute;
    .fotorama__dot{
            border: none;
            height: 0px;
            width: 0px;
    }
}
.fotorama__stage, .fotorama__nav {
    position: initial;
}

        .fotorama__nav.fotorama__nav--dots{
                    transform: initial;
            }
        .fotorama__nav__shaft {
                position: absolute;
                bottom: 0px;
                right: 0px;
                top: inherit;
                background-color: #F3F3F3;
                z-index: 999999;
                left: auto;
                border-radius: 30px;
                 counter-reset: slides-num;
                padding: 15px 15px 10px 20px;
            &:after {
                content: "/ " counter(slides-num);
               
                font-size: 14px;
            }

        }
        .fotorama__nav__frame--dot {
            counter-increment: slides-num;
        }


        .fotorama__nav__frame--dot.fotorama__active {
            &:before {
                 content: counter(slides-num) ;
                 font-size: 14px;
            }
        }


        





    }
}








body.catalog-product-view._has-modal {
            .page-header.type2.header-newskin {
                z-index: 10 !important;
            }
        }

.catalog-product-view {

    .product.info.detailed{
        a#writereview {
            display: block;
            background-color: #F3F3F3;
            width: 100%;
            max-width: 163px;
            padding: 20px 15px;
            text-decoration: none;
            margin-left: auto;
            color: #000000;
            text-align: center;
            border-radius: 50px;
            font-family: Exo;
            font-weight: bold;
            font-size: 16px;
            &:hover{
                box-shadow: 0px 4px 5px 0px rgba(0, 0, 0 , 0.2);
                -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0 , 0.2);
                -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);

            }
        }

        a#writereview-ac {
            display: block;
            background-color: #F3F3F3;
            width: 100%;
            max-width: 163px;
            padding: 20px 15px;
            text-decoration: none;
            margin-left: auto;
            color: #000000;
            text-align: center;
            border-radius: 50px;
            font-family: Exo;
            font-weight: bold;
            font-size: 16px;
            &:hover{
                box-shadow: 0px 4px 5px 0px rgba(0, 0, 0 , 0.2);
                -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0 , 0.2);
                -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.2);

            }
        }
    }

    .review-detail-modal{
        .modal-inner-wrap{
            max-width: 1140px;
                width: 96%;
            border-radius: 8px;
            overflow: hidden;
            .modal-header{
                .action-close{
                    &:before{
                        content: "";
                        background-image: url(../images/btnclose.png);
                        padding: 20px 20px;
                        background-repeat: no-repeat;
                        position: absolute;
                        right: 30px;
                        z-index: 1;
                    }
                    
                }    
            }
            
            .midconthere{
                align-self: center;
            }
            .modal-content{
                    padding: 30px 55px;
                    .col-md-6{
                        padding-left: 16px;
                        padding-right: 16px;
                    }
            }
            .reviewboxtexts {
                        border: 1px solid #ccc;
                        border-radius: 8px;
                        overflow: hidden;
                        padding: 25px 25px;
                        .titlerevws {
                            h2 {
                                color: #000000;
                                font-size: 24px;
                                font-weight: 700;
                                font-family: 'Exo';
                            }
                        }
                        .pararevws {
                            p {
                                font-size: 16px;
                                font-family: 'Inter';
                                color: #000;
                                    margin-top: 15px;
                                margin-bottom: 20px;
                            }
                        }
                        .orderparadetau {
                            ul {
                                padding-left: 0px;
                                li {
                                    font-family: 'Inter';
                                    font-size: 16px;
                                    list-style: none;
                                    span{
                                        color: #000;
                                        display: inline-block;
                                        width: 90%;
                                    }
                                    .contnmbr{
                                         color: #ff7200;
                                            font-size: 16px;
                                            width: 25px;
                                            font-weight: 600;
                                            vertical-align: top;
                                    }

                                }
                            }
                        }


                    }
            .review-add{
                .review-control-vote:before {
                    content: '\f844' '\f844' '\f844' '\f844' '\f844';
                }
                .review-control-vote label:before, 
                .review-control-vote:before {
                    font-size: 38px;
                    line-height: 38px;
                    height: 38px;
                    letter-spacing: 10px;
                }

                .block-title{
                    display: block;
                    strong {
                        color: #000000;
                        font-size: 32px;
                        font-family: 'Exo';
                        font-weight: 700;
                    }
                }
                .label{
                    span {
                        font-size: 14px;
                        color: #000;
                        font-family: 'Inter';
                        font-weight: 600;
                    }    
                }


                .review-form{


                    input.input-text::placeholder {
                        color: #000;
                    }
                    textarea#review_field::placeholder {
                        color: #000;
                    }
                    input.input-text {
                        background-color: #F3F3F3;
                        border-radius: 50px;
                        border: 1px solid #F3F3F3;
                        color: #000;
                        font-family: 'Inter';
                        font-size: 14px;
                        font-weight: 400;
                        padding: 2px 20px;
                        height: 40px;
                    }
                    textarea#review_field {
                            background-color: #F3F3F3;
                            border: 1px solid #F3F3F3;
                            min-height: 117px;
                            border-radius: 20px;
                                padding: 15px 20px;
                        }


                    .field.review-field-nickname.required {
                        float: left;
                        width: 48%;
                        margin-right: 8px;
                    }
                    .field.review-field-summary.required {
                        float: left;
                        width: 48%;
                        margin-left: 8px;
                    }
                    .field.review-field-text.required {
                        clear: both;
                    }
                    .review-form-actions{
                        .primary.actions-primary{
                            display: flex;
                            button.action.submit.primary {
                            font-family: 'Exo';
                            font-weight: 700;
                            text-transform: capitalize;
                            font-size: 16px;
                            height: 56px;
                            width: 162px;
                            border-radius: 32px;
                        }  
                        .close-btn-set{
                            font-family: 'Exo';
                            font-weight: 700;
                            text-transform: capitalize;
                            font-size: 16px;
                            height: 56px;
                            margin-left: 16px;
                            color: #000;
                            line-height: 56px;
                            cursor: pointer;
                            display: inline-block;
                            background-color: #F3F3F3;
                            width: 162px;
                            border-radius: 32px;
                        }
                        }
                          
                    }
                    

                }
                 
            } 
            
        }
    }



        
}



@media screen and (max-width:  999px){
    .catalog-product-view {

        .review-detail-modal.modal-popup.modal-slide._inner-scroll .modal-inner-wrap{
            max-width: 90% !important;
        }
        .review-detail-modal {
            left: 0;
            .modal-inner-wrap {
                margin: 5rem auto;
                .modal-content {
                    padding: 20px 15px;
                }
            }
        }
    }
}

@media screen and (max-width:  767px){


.catalog-product-view {
    .review-detail-modal {
        .modal-inner-wrap {
             .modal-header {
                    background-color: #fff;
                .action-close:before {
                    right: 10px;
                    top: 4px;
                }
             }
            .review-add {
                .review-form{

                    .field.review-field-nickname.required {
                        float: none;
                        width: 100%;
                        margin-right: 0px;
                    }
                    .field.review-field-summary.required {
                        float: none;
                        width: 100%;
                        margin-left: 0px;
                    }

                }
            }
        }
    }
}


}



@media screen and (min-width: 1000px){
    .catalog-product-view{

         .product-info-main {
            width: 57.17%  !important;;
        }
        .product.media{
            width: 40.83% !important;
            .fotorama__wrap{
                .fotorama__stage{
                        padding-bottom: 50px;
                    &:after{
                        width: 100%;
                        content: "Roll over image to zoom in";
                        bottom: 15px;
                        text-align: center;
                        position: absolute;
                        right: auto;
                        font-size: 14px;
                        color: #AAAAAA;
                        display: block;
                        font-family: 'Inter';
                        left: auto;
                    }
                }    
            }    
        }
        
        
    }
}





@media screen and (max-width:  999px){

#totop .bktotopback{
    display: none !important;
}

.catalog-product-view {
 .product.info.detailed{
        
        .allboxfortitle {
            width: 100%;
            overflow: scroll;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            padding: 3px 0px 0px;
             border-radius: 7px;
            .data.item.title {
              
            }
        }
        
        .product.data.items {
            .item.title {
                  min-width: max-content;
                >.switch {
                     
                        display: block;
                            height: auto;
                                padding: 22px 0px;
                }
                &:not(.disabled) {
                    >.switch {
                        &:focus {
                               height: auto; 
                        }
                        &:hover {
                            height: auto;
                        }
                    }
                }
            }
            
        }
       
        
    } 
    }
    

    }






@media screen and (min-width:  1000px){

    .catalog-product-view {

        .fotorama__nav.fotorama__nav--thumbs{
                overflow: initial;
        }
      .fotorama__nav__frame,
      .fotorama__nav__shaft {
            position: initial;

      }  
    .fotorama__nav__shaft {
        counter-reset: slides-num;
        transform: none !important;
        &:after {
            content: "/ " counter(slides-num);
            font-size: 14px;
            position: absolute;
            top: -80px;
            z-index: 999;
            border-radius: 30px;
            right: 0px;
            background-color: #F3F3F3;
            padding: 15px 15px 12px 25px;
        }
    }
    .fotorama__nav__frame--thumb {
        counter-increment: slides-num;
    }
    .fotorama__nav__frame--thumb.fotorama__active {
        &:before {
            content: counter(slides-num);
            font-size: 14px;
            position: absolute;
            top: -80px;;
            right: 36px;
            z-index: 9999;
            left: auto;
            padding: 15px 1px 12px 5px;
        }
    }
}

}


.mfp-content{
    .product-notification{
        width: 100% !important;
        max-width: 400px;
    }
}













/*cart page css start */
 

.checkout-cart-index {  
    .page-title-wrapper{
        .page-title .base {
            font-size: 32px;
            font-family: 'Exo';
            font-weight: 700;
            color: #000;
        }
    }
    .form.form-cart{
        
        .cart.items.table{
            thead , thead th {
                 display: none;
            }
            .cart.item{
                .item-info {
                        .col.item {
                            .product-item-name {
                                margin-bottom: 15px;
                                a {
                                     font-family: Inter;
                                     font-size: 18px;
                                     color: #000;
                                     font-weight: 600;
                                }
                            }

                            .cart-price {
                                .price {
                                     font-size: 18px;
                                     font-family: Exo;
                                     font-weight: 700;
                                }
                            }
                            .col.subtotal  {
                                padding-left: 0px;
                                .cart-price {
                                    display: flex;
                                    .txtlabelcust {
                                         font-size: 14px;
                                         font-family: Inter;
                                         color: black;
                                         margin-right: 5px;
                                    }
                                    .price {
                                         font-family: Inter;
                                         font-size: 14px;
                                         font-weight: 400;
                                    }
                                }
                            }

                            .sku-parent {
                                 display: flex;
                                  margin-top: 20px;
                                  .sku-title {
                                         font-family: Inter;
                                         font-size: 14px;
                                         font-weight: 400;
                                    }
                                    .sku_value {
                                         font-family: Inter;
                                         font-size: 14px;
                                          font-weight: 600;
                                         margin-left: 10px;
                                    }
                            }

                             .item-options {
                                dt {
                                     font-family: Inter;
                                     font-size: 14px;
                                     font-weight: 400;
                                }
                             
                                dd {
                                     font-family: Inter;
                                     font-size: 14px;
                                     font-weight: 600;
                                }
                            
                             }
                             .field.qty{
                                 .control.qty {
                                        label {
                                             display: inline-flex;
                                        }
                                        .label {
                                             font-size: 14px;
                                             font-family: Inter;
                                             height: 14px;
                                             display: contents;
                                        }

                                        .text {
                                             padding-top: 5px;
                                        }
                                 }
                             }


                             

                              



                        }
                    }
                }
            }
            
        }
        



    }

















.checkout-cart-index{
    .block-content{
        .product-item-details{
            overflow: visible;
        }
        .owl-stage-outer{
            .owl-stage{
               display: flex; 

            }       
        }

        .product-item-info{
                strong.product.name.product-item-name
            {
                height: auto;
                overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                white-space: normal !important;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                min-height: 40px;
                .product-item-link{
                    height: auto;
                    white-space: revert;
                }
            }

           }
            

            .product_addtional_data{
                       margin-bottom: 0px;
                        height: auto;
                .color-desc{
                    display: none !important;
                }
            }

         
    }
    
}




.checkout-cart-index{

 .block-content.content{

            .owl-item{
                padding: 10px 16px 0px;
                 border-right: 0px;
                 border-left: 1px solid #D2D2D2 !important;   

                .product-item{
                    padding: 0px !important;
                    width: 100% !important;
                }
                &:first-child{
                    border-left: 0px !important;
                }
                .product-labels{
                    .product-label.grade-label
                    {
                        line-height: 13px !important;
                    }    
                }
                
                
            }
            .owl-controls{
                        position: initial;
                        right: 0;
                        top: 50%;
                        margin: 0;
                    .owl-nav{
                        top: 50%;
                        position: absolute;
                        width: 100%;
                        left: 0px;
                        transform: translateY(-50%);
                    }
                }
                .owl-stage-outer{
                        border-right: 0px !important;
                }
                .price-outstock{
                    .stockunstocsk {
                            clear: both;
                                font-size: 14px;
                            font-family: 'Inter';
                            height: 20px;
                            margin-bottom: 12px;
                            display: block;
                        }
                        .price-box.price-final_price{
                            margin-top: 0px;
                        }
                }
               
        }

}




@media screen and (max-width:  999px){
.checkout-cart-index{
    .block-content.content{
            .owl-item{
                border: 1px solid #ccc;
                padding: 10px 10px 0px;
                 border-right: 0px;   

                .product-item{
                    padding: 0px !important;
                }
                
            }
}

}
}






@media screen and (max-width:  550px){
    .checkout-cart-index {
        .product-item-details{
            .proceboxsetd {
                display: block;
                .product-item-inner {
                    clear: both;
                }
            }

        } 
        .block-content.content .price-outstock 
        .price-box.price-final_price .old-price {
            margin-top: 0px !important;
        }

        .product-labels {
            .product-label.sale-label {
                padding: 0px 5px !important;
            }
            .product-label {
                padding: 3px 5px !important;
            }
        }

    }

}








/*cart page css end */




/*cart page css end */
.cart.table-wrapper {
    .cart {
        >.item {
            border-bottom: 0px !important;
        }
    }
    .product-image-container {
        border: 0px !important;
    }
    .actions-toolbar {
        >.action-edit {
            position: unset !important;
        }
        >.action-delete {
            position: unset !important;
        }
    }
    .product-item-photo {
        padding-left: 35px !important;
    }
}
.checkout-cart-index {
    a.use-ajax.action.towishlist.action-towishlist {
        display: none;
    }
    .cart-summary {
        .checkout-methods-items {
            .action.primary.checkout {
                text-transform: capitalize;
                background: #FF7200 !important;
                border-color: #FF7200 !important;
                font-weight: bold;
                margin-bottom: 28px;
                border-radius: 33px;
                background: #ff6300;
                border-color: #ff6300;
                min-height: 56px;
                font-family: Exo;
                font-size: 16px;
            }
        }
        .summary.title {
            font-weight: bold;
            color: #000;
            font-size: 24px;
            font-family: Exo;
        }
        .block {
            >.title {
                border-top: 0px;
                padding-right: 0px;
            }
            div#block-summary {
                display: none !important;
            }
            .actions-toolbar {
                >.primary {
                    .action.primary {
                        &:not(:focus) {
                            box-shadow: none;
                        }
                    }
                }
            }
            .fieldset {
                .field {
                    margin: 10px 0 10px !important;
                }
            }
        }
        background-color: #F3F3F3;
        border: 0px;
        padding: 10px 32px 5px;
        border-radius: 8px;
        .title {
            #block-shipping-heading {
                font-size: 14px;
                font-family: Inter;
                color: black;
                font-weight: 400 !important;
            }
        }
    }
    .cart.table-wrapper {
        .product-item-details {
            a.action.action-delete {
                img {
                    position: relative;
                    bottom: 2.5px;
                }
            }
            padding-bottom: 0px;
        }
        border: 1px solid #d2d2d2;
        border-radius: 8px;
        .col.qty {
            padding: 0px;
            .input-text {
                width: 30px;
            }
        }
        .actions-toolbar {
            >.action-edit {
                &:before {
                    content: 'Edit';
                    font-size: 14px;
                    font-family: Inter;
                    color: black;
                    position: absolute;
                    top: 0px;
                    font-weight: 600 !important;
                }
            }
            >.action-delete {
                >span {
                    display: contents;
                    color: black;
                    font-size: 14px;
                    font-family: Inter;
                    font-weight: 600;
                }
                &:before {
                    content: '\e616';
                    display: none;
                }
            }
        }
    }
    input#coupon_code {
        padding-left: 16px;
        border-radius: 32px !important;
    }
    span.old-price {
        .price {
            position: relative;
            margin-top: 0px !important;
            top: 5px;
        }
    }
    .price-final_price {
        span.price {
            margin-top: 8px;
            display: block;
        }
    }
    .field.qty {
        label {
            align-self: center;
            margin-bottom: 0px;
            margin-right: 8px;
            font-family: 'Inter';
            font-size: 14px;
        }
        a.qty-decc {
            color: #AAAAAA;
            align-self: center;
            width: 30px;
            text-decoration: none;
            font-size: 25px;
            padding-left: 10px;
        }
        a.qty-incc {
            color: #AAAAAA;
            align-self: center;
            width: 30px;
            text-decoration: none;
            font-size: 25px;
            padding-right: 9px;
        }
        margin-bottom: 16px;
        display: flex;
        .control.qty {
            display: flex !important;
            background-color: #F3F3F3;
            max-width: 85px;
            border-radius: 48px;
            justify-content: space-evenly;
        }
    }
    .outer-control-qty {
        max-width: 85px;
        width: 100%;
    }
    .checkout-cart-index {
        .block.crosssell {
            .block-title {
                margin-bottom: 24px !important;
            }
        }
    }
    tr.totals {
        font-size: 18px;
        color: #000;
        th {
            font-weight: bold;
        }
        td {
            font-weight: bold;
        }
    }
    button.action.cancel.primary {
        background-color: #000;
        border-radius: 32px !important;
        height: 40px;
        white-space: nowrap;
        margin-right: 0px;
        font-family: 'Exo';
        font-weight: bold;
        text-transform: capitalize;
    }
    tr.totals-tax {
        display: none;
    }
    .form.form-cart {
        .cart.items.table {
            .cart.item {
                .item-info {
                    .col.item {
                        .col.subtotal {
                            .cart-price {
                                .price {
                                    font-weight: 600;
                                    color: #000;
                                    font-weight: 600 !important;
                                }
                            }
                        }
                        .sku-parent {
                            margin-top: 16px !important;
                            margin-bottom: 16px;
                        }
                    }
                }
            }
        }
    }
    .block.crosssell {
        .product-label.sale-label {
            top: -10px;
            bottom: unset !important;
        }
        .owl-stage {
            padding-left: 0px !important;
        }
        .product-item-info {
            width: 100%;
        }
    }
    .price-box.price-final_price {
        .old-price {
            margin-top: -18px;
        }
    }
    .product-labels {
        .product-label.sale-label {
            padding: 0px !important;
            font-size: 12px !important;
            font-family: 'Inter';
        }
    }
    .product-label.sale-label {
        span {
            display: inline-block !important;
        }
    }
    .block.discount {
        .content {
            padding: 0px;
        }
    }
    .proceboxsetd {
        display: flex;
        justify-content: space-between;
    }
    strong#block-crosssell-heading {
        font-size: 28px;
        text-transform: capitalize;
        color: #000;
        font-weight: bold;
        font-family: 'Exo';
    }
    .block-content {
        .product-item-info {
            strong.product.name.product-item-name {
                .product-item-link {
                    color: #000;
                }
            }
        }
    }
    .cart.item {
        .item-info {
            display: inline-grid;
        }
    }
    .price-excluding-tax {
        height: 22px;
    }
    .item-info {
        .product-item-details {
            position: relative;
        }
        .item {
            color: black;
        }
    }
    .price {
        color: black;
    }
    .control.qty {
        input[type="number"] {
            border: none;
            background: #f3f3f3;
            padding: 0px;
            width: 35px;
            text-align: center;
        }
    }
    .shop_cartqty {
        background: #f3f3f3;
        border-radius: 48px;
        margin-left: 8px;
        padding-bottom: 1px;
        display: flex;
        .qty_decre {
            padding-left: 13px;
            padding-right: 5px;
            font-size: 26px;
        }
        .qty_incre {
            padding-left: 5px;
            padding-right: 13px;
            font-size: 20px;
            margin-top: 3px;
        }
    }
    .product-item {
        .price-box {
            float: left;
            text-align: unset;
        }
    }
    .price-box {
        .normal-price {
            .weee {
                .price-wrapper {
                    .price {
                        font-size: 18px;
                        font-family: Exo;
                    }
                }
            }
        }
    }
    .products-grid {
        .product-item {
            margin-bottom: 0px;
        }
    }
    .cart.main.actions {
        .action.update {
            display: none;
        }
    }
    button {
        &:not(.primary) {
            box-shadow: none;
        }
    }
    .cart-totals {
        border-top: none;
        tbody {
            .totals.sub {
                .mark {
                    font-size: 18px;
                    font-family: Exo;
                    color: black;
                }
            }
            .amount {
                font-size: 18px;
                font-family: Exo;
                color: black;
            }
            .grand.totals {
                .mark {
                    font-size: 24px;
                    font-family: Exo;
                    color: black;
                }
            }
            .totals.shipping.excl {
                .mark {
                    font-size: 18px;
                    font-family: Exo;
                    color: black;
                }
            }
        }
    }
    .opc-block-summary {
        .table-totals {
            border-top: none;
        }
    }
    .checkout.methods.items.checkout-methods-items {
        .item {
            .action.multicheckout {
                display: none;
            }
        }
    }
    .fieldset.coupon {
        .field {
            .label {
                span {
                    font-size: 14px;
                    font-family: Inter;
                    color: black;
                    font-weight: 600;
                }
            }
            .control {
                display: flex;
                border-radius: 23px;
                background-color: white;
                .primary {
                    .action.apply.primary {
                        width: 100%;
                        border-radius: 20px;
                        background: #AAAAAA;
                        height: 40px;
                        border: 1px solid #aaaaaa;
                        font-weight: 700;
                        text-transform: capitalize;
                        span {
                            font-size: 14px;
                            font-family: Exo;
                        }
                    }
                }
                input[type="text"] {
                    border: 1px solid white;
                    border-radius: 20px;
                    height: 40px;
                    font-family: Inter;
                    font-size: 16px;
                }
            }
        }
    }
    .grand.totals {
        th {
            font-size: 24px !important;
            font-family: Exo;
            border-top: none !important;
        }
        td {
            font-size: 24px !important;
            font-family: Exo;
            border-top: none !important;
        }
    }
    input {
        &:not([disabled]) {
            &:focus {
                box-shadow: none;
            }
        }
    }
    .control {
        .mage-error {
            position: absolute;
            bottom: 0;
        }
    }
    .actionsi {
        font-size: 14px;
        font-family: Inter;
        color: black;
        font-weight: 600;
        padding-right: 32px;
    }
    .block-content.content {
        .price-outstock {
            .stockunstocsk {
                height: 0px !important;
            }
        }
    }
}
html {
    .cart.table-wrapper {
        .cart {
            .item {
                &:last-child {
                    border-bottom: 0px !important;
                }
            }
        }
    }
}
.cart-totals {
    .grand {
        strong {
            font-weight: bold !important;
        }
    }
    tbody {
        .amount {
            font-size: 24px;
            font-family: Exo;
            color: black;
            font-size: 18px;
            font-family: Exo;
            color: black;
        }
    }
}
.opc-block-summary {
    .table-totals {
        .grand {
            strong {
                font-weight: bold !important;
            }
        }
    }
}
.cart-summary {
    .block {
        >.title {
            &:after {
                display: none;
            }
        }
    }
}
.owl-theme {
    .owl-controls {
        .disabled {
            display: block !important;
        }
    }
}
.price-outstock {
    margin-top: 28px;
}
.block.discount {
    .title {
        display: none;
    }
    .content {
        display: block !important;
    }
}
@media screen and (max-width: 767px) {
    .checkout-cart-index {
        .breadcrumbs {
            display: block !important;
            position: absolute;
            top: 100px;
            background-color: transparent !important;
            left: 15px;
        }
        .form.form-cart {
            .cart.items.table {
                .cart.item {
                    .item-info {
                        .col.item {
                            .cart-price {
                                .price {
                                    font-size: 14px !important;
                                }
                            }
                            .product-item-name {
                                a {
                                    font-size: 14px !important;
                                }
                                margin-top: 0px;
                                max-width: 188px;
                            }
                            .sku-parent {
                                .sku-title {
                                    font-size: 12px !important;
                                }
                                .sku_value {
                                    font-size: 12px !important;
                                }
                            }
                            .col.subtotal {
                                .cart-price {
                                    .price {
                                        font-size: 12px !important;
                                    }
                                    .txtlabelcust {
                                        font-size: 12px !important;
                                    }
                                }
                            }
                            .item-options {
                                dd {
                                    font-size: 12px !important;
                                }
                                dt {
                                    font-size: 12px !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .block-content.content {
            .owl-item {
                border: 0px !important;
                border-left: 1px solid #DADADA !important;
            }
            .owl-stage-outer {
                border: 0px !important;
                border-radius: 0px !important;
            }
        }
        strong#block-crosssell-heading {
            font-size: 24px;
        }
        .fieldset.coupon {
            .field {
                .control {
                    .primary {
                        .action.apply.primary {
                            font-weight: 700;
                            text-transform: capitalize;
                            padding: 0px 23.35px;
                        }
                    }
                    margin-bottom: 14px;
                    margin-top: 4px;
                }
            }
        }
        .block.crosssell {
            margin-top: 0px !important;
            .owl-stage {
                border: 1px solid #D2D2D2;
                border-radius: 15px;
            }
        }
        .field.qty {
            label {
                font-size: 12px !important;
            }
        }
        .cart-summary {
            .block {
                .fieldset.coupon {
                    .field {
                        margin: -20px 0 10px !important;
                    }
                }
                >.title {
                    padding-left: 0px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
                .content {
                    padding: 8px 0px 0px;
                }
                .actions-toolbar {
                    >.primary {
                        .action.primary {
                            width: 87px;
                        }
                    }
                }
            }
            padding: 10px 16px 5px !important;
            .checkout-methods-items {
                margin: 0px 0px 20px 0px;
                padding: 0px;
                order: 4;
            }
        }
        .cart.table-wrapper {
            .actions-toolbar {
                >.action-edit {
                    &:before {
                        content: 'Edit';
                        position: unset !important;
                    }
                }
            }
            .product-item-photo {
                padding-left: 0px !important;
                left: 15px !important;
                min-width: 100px !important;
                left: 40px;
            }
            .col.subtotal[data-th] {
                &:before {
                    display: none;
                }
            }
            .product-item-details {
                left: 42px;
            }
            .col.subtotal {
                margin-top: 0px;
            }
        }
        .item-info {
            .item {
                position: unset !important;
            }
            .col.item {
                .product-item-name {
                    min-height: 25px;
                    margin-bottom: 20px;
                }
            }
            .product-item-details {
                padding-top: 0px;
            }
        }
        .cart-container {
            .cart-summary {
                order: 1;
                display: flex;
                flex-direction: column;
            }
            .form.form-cart {
                order: 0;
                padding: 0px 16px;
            }
            .block.crosssell {
                order: 2;
                padding-right: 0px;
            }
            .block.discount {
                order: 3;
            }
            .cart-totals {
                order: 2;
            }
            display: flex;
            flex-direction: column;
        }
        .actionsi {
            position: unset;
            margin-bottom: 24px;
            font-weight: 600;
            color: #000 !important;
            display: block;
            padding-right: 0px;
            font-size: 12px !important;
        }
        .summary.title {
            display: block;
            margin: 16px 0px;
        }
        .shop_cartqty {
            height: 36px;
            input[type="number"] {
                font-family: Inter;
                font-size: 12px;
                height: 37px;
            }
            .qty_decre {
                width: 42px;
                text-align: center;
                padding: 0px;
            }
            input {
                width: 42px;
                text-align: center;
            }
            .qty_incre {
                margin-top: 5px;
                width: 42px;
                text-align: center;
                padding: 0px;
            }
        }
        .product-item-actions {
            .actions-primary {
                float: none;
            }
        }
        .product-item {
            .price-box {
                float: none;
            }
        }
        .cart-totals {
            padding-right: 0px;
            padding-left: 0px;
        }
        .totals.shipping.excl {
            display: none;
        }
        main#maincontent {
            margin-top: 180px;
        }
    }
    .actions-toolbar-on-mobile {
        position: absolute;
        bottom: 35px;
        left: 15px;
        a.action.action-delete {
            margin-top: 24px;
            margin-top: 24px;
            display: block;
            font-size: 12px;
            font-weight: 600;
            font-family: 'Inter';
            img {
                height: 18px;
                margin-top: -1px;
                margin-left: 4px;
            }
        }
        a.action.action-edit {
            display: block;
            font-size: 12px;
            font-weight: 600;
            font-family: 'Inter';
        }
    }
    .block.crosssell {
        .product-labels {
            .grade-label {
                width: min-content !important;
            }
        }
        .owl-next {
            margin-right: 35px !important;
        }
    }
    .cart.table-wrapper {
        .action {
            color: #000;
        }
        .actions-toolbar {
            display: flex;
            flex-direction: column;
        }
    }
    .cart-container-outer {
        order: 2;
        margin: 0px 16px;
    }
    .for-desktop-only {
        display: none !important;
    }
}
@media screen and (min-width: 1000px) {
    .abs-shopping-cart-items-desktop {
        padding-right: 1.7% !important;
        width: 72.666667% !important;
    }
    .block-cart-failed {
        padding-right: 1.7% !important;
        width: 72.666667% !important;
    }
    .cart-container {
        .form-cart {
            padding-right: 1.7% !important;
            width: 72.666667% !important;
        }
        .cart-gift-item {
            padding-right: 1.7% !important;
            width: 72.666667% !important;
        }
    }
    .checkout-cart-index {
        .block.crosssell {
            padding-right: 1.7% !important;
            width: 72.666667% !important;
        }
        .cart-summary {
            width: 100% !important;
    max-width: 388.13px;
    margin-left: auto;
    display: inline-block;
        }
    }
}
@media screen and (max-width: 355px) {
    .checkout-cart-index {
        .cart.table-wrapper {
            .product-item-details {
                max-width: 150px;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .checkout-cart-index {
        .product-labels {
            .product-label.sale-label {
                width: 80px;
                height: 28px;
            }
        }
        .field.qty {
            margin-top: 11px;
        }
        .form.form-cart {
            .cart.items.table {
                .cart.item {
                    .item-info {
                        .col.item {
                            .col.subtotal {
                                margin-bottom: 35px;
                            }
                            .sku-parent {
                                margin-bottom: 17px;
                            }
                        }
                    }
                }
            }
        }
        .cart.table-wrapper {
            .product-item-details {
                a.action.action-delete {
                    padding-left: 40px !important;
                }
                padding-top: 0px !important;
            }
            .item {
                .col.item {
                    padding: 20px 8px 0px 0px;
                }
            }
        }
    }
    .cart.table-wrapper {
        .product-item-photo {
            vertical-align: top !important;
        }
    }
    .actions-toolbar-on-mobile {
        display: none;
    }
    .for-mobile-only {
        display: none;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1549px) {
    .checkout-cart-index {
        .price-box {
            .normal-price {
                .weee {
                    .price-wrapper {
                        .price {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 874px) and (max-width: 999px) {
    .checkout-cart-index {
        .field {
            .control {
                .primary {
                    .action.apply.primary {
                        height: 33px;
                        span {
                            font-size: 13px;
                        }
                    }
                }
                input[type="text"] {
                    height: 33px;
                    font-size: 13px;
                }
                .actions-toolbar {
                    .primary {
                        .action {
                            margin: 0px;
                        }
                    }
                }
            }
        }
        .cart-totals {
            tbody {
                .totals.sub {
                    .mark {
                        font-size: 16px;
                    }
                }
                .totals.shipping.excl {
                    .mark {
                        font-size: 16px;
                    }
                }
                .grand.totals {
                    .mark {
                        font-size: 20px;
                    }
                }
            }
        }
        .amount {
            font-size: 16px;
            font-size: 20px;
        }
        .cart-summary {
            padding: 10px 15px 5px;
        }
        .cart.table-wrapper {
            .product-item-photo {
                padding-right: 0px;
            }
        }
        .actionsi {
            left: 305px;
        }
        .block.discount {
            .content {
                padding: 0px;
            }
        }
    }
    .amount {
        font-size: 16px;
    }
    .cart-summary {
        .checkout-methods-items {
            .action.primary.checkout {
                border-radius: 37px;
            }
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 873px) {
    .checkout-cart-index {
        .field {
            .control {
                .primary {
                    .action.apply.primary {
                        height: 33px;
                        span {
                            font-size: 13px;
                        }
                    }
                }
                input[type="text"] {
                    height: 33px;
                    font-size: 13px;
                }
                .actions-toolbar {
                    .primary {
                        .action {
                            margin: 0px;
                        }
                    }
                }
            }
        }
        .block.discount {
            .content {
                padding: 0px;
            }
        }
        .cart-totals {
            tbody {
                .totals.sub {
                    .mark {
                        font-size: 15px;
                    }
                }
                .totals.shipping.excl {
                    .mark {
                        font-size: 16px;
                    }
                }
                .grand.totals {
                    .mark {
                        font-size: 20px;
                    }
                }
                .amount {
                    text-align: unset;
                    font-size: 15px;
                }
            }
        }
        .amount {
            font-size: 20px;
        }
        .cart-summary {
            padding: 10px 15px 5px;
            .checkout-methods-items {
                .action.primary.checkout {
                    border-radius: 37px;
                }
            }
        }
        .cart.table-wrapper {
            .product-item-photo {
                padding-right: 0px;
            }
        }
        .actionsi {
            left: 270px;
        }
        .grand.totals {
            .mark {
                font-size: 20px !important;
            }
            .amount {
                font-size: 20px !important;
            }
        }
    }
    .amount {
        font-size: 15px;
        font-size: 16px;
    }
}
@media screen and (max-width: 767px) and (min-width: 365px) {
    .checkout-cart-index {
        .field.qty {
            .control.qty {
                max-width: 128px !important;
            }
            a.qty-decc {
                width: 46px !important;
                text-align: center;
            }
            a.qty-incc {
                width: 46px !important;
                text-align: center;
            }
        }
        .outer-control-qty {
            max-width: 128px !important;
        }
    }
}

.checkout-cart-index {
    .block.crosssell {
        .owl-stage {
            border: 1px solid #D2D2D2;
            border-radius: 15px;
            margin: initial;
        }
    }
}


