<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\ReviewHeader\RatingHistogram $block */ ?>

<?php if ($block->showReviewHeader()) : ?>
<div class="prar-histogram">
    <?php foreach ($block->getGroupedRatingPercent() as $star => $percent) : ?>
        <?php if ($percent) : ?>
            <a href="<?= $block->getUrlWithFilter($star)?>" title="<?= $star ?> stars represent <?= $percent?>%" data-rating-star="<?= $star?>">
        <?php endif; ?>
                <div class="prar-histogram-item">
                    <div class="prar-histogram-line" aria-label="<?= $percent ?>%">
                        <div class="prar-histogram-fullness" style="width: <?= $percent ?>%"></div>
                    </div>
                    <span class="prar-rat-percent">
                        <span class="width-histogram">
                        <?= $percent?>
                        </span>
                    </span>
                </div>
        <?php if ($percent) : ?>
            </a>
        <?php endif; ?>
    <?php endforeach; ?>
</div>
<?php endif; ?>
