<?php

 $helper = $this->helper('Esparksinc\Custom\Helper\Data');
?>
<div class="prar-no-review">

<button 
 <?php if(!$helper->getCustomerId()>0){
			echo "class=test-not-looged-in";
		} ?> 
 id="cutom-write-a-review">Write a Review</button>	

</div>


 <script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){
    	<?php if($helper->getCustomerId()): ?>
     $(document).on('click',"#cutom-write-a-review" , function(){
        $("#prar-btn-write-a-review").trigger("click");
      });
     <?php else: ?>
     	$(document).on('click',".test-not-looged-in" , function(){
     	 		console.log('test');
    $(".block.block-customer-login.block-header-customer-login").addClass("open");

 });
 <?php endif;?>


     });
 </script>