
<?php $data =  $block->getResponseData();
if(count($data)){
$linkArray = $data['links'];
$data['links'] = [];
foreach($linkArray as $links){
    if($links['rel'] == 'self'){
        $links['position'] = 3;
    }else if($links['rel'] == 'first'){
        $links['position'] = 1;
    }else if($links['rel'] == 'last'){
        $links['position'] = 5;
    }
    else if($links['rel'] == 'next'){
        $links['position'] = 4;
    }
    else if($links['rel'] == 'previous'){
        $links['position'] = 2;
    }
    $data['links'][] = $links;
}
$reversed = $this->arraySortByField($data['links']);
}
?>
<?php if(isset($data['items']) && count($data['items']) > 0): ?>
	<table class="return-authorization-list-results-list">
		<thead class="return-authorization-list-content-table">
			<tr class="return-authorization-list-content-table-header-row">
				<th class="return-authorization-list-content-table-header-row-title">
				<span><?= __('Return No.') ?></span></th>
				<th class="return-authorization-list-content-table-header-row-date"><span><?= __('Date') ?></span></th>
				<th class="return-authorization-list-content-table-header-row-items"><span><?= __('Items') ?></span></th>
				<th class="return-authorization-list-content-table-header-row-currency"><span><?= __('Amount') ?></span></th>
				<th class="return-authorization-list-content-table-header-row-status"><span><?= __('Status') ?></span></th>
			</tr>
		</thead>
		<tbody class="return-authorization-list-records-list">
			<?php foreach($data['items'] as $value): ?>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">  
							<a class="recordviews-title-anchor" target='_blank' href="<?= $this->getUrl('returnauthorization/index/returnview/id/'.$value['id']) ?>">
								<?= $value['tranid'] ?>
							</a>
						</span>
					</td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label"><?= __('Date:')?></span>
						<span class="recordviews-value"><?= $value['trandate'] ?></span>
					</td>
					<td class="recordviews-items">
						<span class="recordviews-actionable-label"><?= __('Qty:')?></span>
						<span class="recordviews-value"><?= $value['total_qty'] ?></span>
					</td> 
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label"><?= __('Amount:')?></span>
						<span class="recordviews-value"><?= $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(abs($value['foreigntotal']),true,false); ?></span></td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label"><?= __('Status:')?></span>
						<span class="recordviews-value"><?= $this->helper('Nexuscellular\ReturnAuthorization\Helper\Data')->getReturnStatus($value['status']) ?></span>
					</td> 
				</tr>
			<?php endforeach; ?>
		</tbody>
	</table>
	<div class="list-paginator">
		<ul class="my-account-pagination-links ">
		<?php foreach($reversed as $links): ?>
		<?php 
			$url_components = parse_url($links['href']); 
			parse_str($url_components['query'], $params);
			$relation = $links['rel'];
			if($links['rel'] == 'self'){$params['offset'] = 0;
				$page = isset($_GET['page']) && is_numeric($_GET['page']) ? $_GET['page'] : 1;
				$links['rel'] = $page;
				}
				$pageNumber = ($params['offset']/$params['limit']) +1; 
			?>   
			<li class="links-number"><a class="pagination-link <?= ($relation == 'self') ? 'active': '' ?>" data-limit= <?= $params['limit'] ?> data-param="<?= $url_components['query'];  ?>" data-pagenumber=<?= $pageNumber ?> data-offset= <?= $params['offset'] ?> href="javascript:void(0)"><?= ($relation == 'self') ? $pageNumber : $links['rel'] ?></a></li>  
			<?php endforeach; ?>
		</ul>
	</div>
<?php else: ?>
	<div class="return-authorization-list-empty-section"><h5><?= __('No returns were found') ?></h5></div>
<?php endif; ?>