<?php

/**
 * @var \Nexuscellular\ReturnAuthorization\Block\Create $block
 */
 
$helper = $this->helper('Nexuscellular\ReturnAuthorization\Helper\Data');
$workSheetRecords = $helper->getWorkSheetData();
$countWorksheet = count($workSheetRecords); 
//echo "<pre>";print_r($workSheetRecords);die();
?>
<h1 class="myaccount-layout-title"><?= __('My Account') ?></h1>
<div class="myaccount-layout-row request-return">
    <div id="content" class="myaccount-layout-main fullwidth"><div>
	<div id="returnitems-confirmation-message">
        <div class="request-return-authorization-confirmation">
            <span class="ra-num"><a href="#"></a></span>
            <h2 class="request-return-authorization-confirmation-title success-title"><?= __('Success!')?></h2>
            <h2 class="request-return-authorization-confirmation-title"><?= __('Your return authorization request has been submitted!')?></h2>
            <p class="request-return-authorization-confirmation-body"><strong><?= __('Shipping Notes:')?></strong></p>
                <ol class="request-return-authorization-confirmation-list">
                    <li><?= __('Please include your RA number or a copy of the RA with your shipment.')?></li>
                    <li><?= __("For parts, because our returns department tests each returned item individually, please write the corresponding line ID on the item's barcode sticker prior to returning it.")?></li>
                    <li><?= __('Please allow up to 7 business days from the date of receipt for us to process the return.') ?></li>
                </ol>
            <a href="javascript:void(0)" target="_blank" class="request-return-authorization-confirmation-download-pdf" style="width: auto;"><?= __('Download PDF') ?></a>
            <a class="request-return-authorization-confirmation-continue" href="#"><?= __('View Return Authorization') ?></a>
        </div>
    </div>

<div id="search_grid_wrapper">
 <div id="search_scroll"></div>
 <h2><?= __('Request a Return Authorization') ?></h2>
 <div class="return-item-search-form-wrapper">
    <div class="return-item-search-form-wrapper">
        <form class="return-item-search-form" enctype="multipart/form-data">
        <div class="row">
        <div class="return-item-search-form-control-group">
            <span class="return-item-search-form-label"><?= __('Search')?></span>
            <div data-validation="control" class="return-item-search-form-input-wrapper">
                <input type="text" class="return-item-search-form-input" name="itemSearch" placeholder="Search...">
                <label><?= __('By SKU, Item Name, Invoice#, Cash Sale#')?></label>
            </div>
            <input id="search_button" class="action primary return-item-search-form-button" type="button" value="Search">
        </div>
        </div>
        </form>
    </div>
    <div id="error_message"></div>
 </div>
    <h2><?= __('RA Search Results') ?></h2>
    <hr>
    <p><?= __('Search by SKU, Item Name or Invoice # to find the items you wish to return. Fill in the details for each required item and click the Add button to add it to the worksheet below. Once you have added all the required items, proceed to the worksheet. Note: If you have multiple reasons for return for different pieces of the same SKU, enter each reason for return with its corresponding quantity and add it to the worksheet before entering the next reason for return and its corresponding quantity.') ?></p>
    <div id="search_grid" class="return-authorization-list-container">
        <table class="return-authorization-list-results-list fixed_headers ra-search-result">
            <thead class="return-authorization-list-content-table"><tr class="return-authorization-list-content-table-header-row">
            <th class="return-authorization-list-content-table-header-row-date"><?= __('Date') ?></th>
            <th class="return-authorization-list-content-table-header-row-invoice"><?= __('Transaction#') ?></th>
            <th class="return-authorization-list-content-table-header-row-sku"><?= __('SKU') ?></th>
            <th class="return-authorization-list-content-table-header-row-name"><?= __('Name') ?></th>
            <th class="return-authorization-list-content-table-header-row-qty"><?= __('Qty')?></th>
            <th class="return-authorization-list-content-table-header-row-reason"><?= __('Reason') ?></th>
            <th class="return-authorization-list-content-table-header-row-comment"><?= __('Comment') ?></th>
            <th class="return-authorization-list-content-table-header-row-btn-action-header"><?= __('Actions') ?></th>
            </tr></thead>
			<tbody class="return-authorization-list-records-list "><tr class="recordviews-row" id="CSH3472620512"><td>2020-5-21</td><td><a href="https://demo.nexuscellular.com/transaction/index/view/id/1636703/type/cashsale/" target="_blank">CSH34726</a></td> <td>20512</td> <td>Rear Camera for Apple iPhone XR (Premium)</td><td><select class="product_qty" name="product_qty"><option value=""></option><option value="1">1</option></select><div class="global-views-message global-views-message-error alert" style="display:none" role="alert"><div>Please select Qty.</div></div></td> <td class="return-authorization-list-content-table-header-row-reason"> <select class="reason_list" name="reason_list"><option value="">Select Reason</option><option value="1">Defective</option></select><div class="global-views-message global-views-message-error alert" style="display:none" role="alert"><div>Please select Reason.</div></div></td> <td> <textarea class="return-authorization-list-row-input-comment"></textarea> <div class="global-views-message global-views-message-error alert" style="display:none" role="alert"><div>Please enter comments.</div></div></td> <td> <button type="button" class="button-tertiary button-small" data-id="CSH3472620512" title="Add to Worksheet">Add</button></td></tr><tr class="recordviews-row" id="INV1355920512"><td>2020-6-24</td><td><a href="https://demo.nexuscellular.com/transaction/index/view/id/1764473/type/invoice/" target="_blank">INV13559</a></td> <td>20512</td> <td>Rear Camera for Apple iPhone XR (Premium)</td><td><select class="product_qty" name="product_qty"><option value=""></option><option value="1">1</option></select><div class="global-views-message global-views-message-error alert" style="display:none" role="alert"><div>Please select Qty.</div></div></td> <td class="return-authorization-list-content-table-header-row-reason"> <select class="reason_list" name="reason_list"><option value="">Select Reason</option><option value="1">Defective</option></select><div class="global-views-message global-views-message-error alert" style="display:none" role="alert"><div>Please select Reason.</div></div></td> <td> <textarea class="return-authorization-list-row-input-comment"></textarea>                    <div class="global-views-message global-views-message-error alert" style="display:none" role="alert"><div>Please add a comment.</div></div></td>                <td>                    <button type="button" class="button-tertiary button-small" data-id="INV1355920512" title="Add to Worksheet">Add</button></td></tr><tr class="msg-info"><td colspan="8"><div id="info_message"><div class="global-views-message global-views-message-warning alert" role="alert"><div>Can not find an item? It might be out of the <a href="#returns-policy" data-hashtag="#returns-policy" data-touchpoint="home" target="_blank">warranty period.</a></div></div></div></td></tr></tbody>
        </table>
    </div>
</div>
        <div data-view="ReturnItems.Worksheet.View">
        <div id="worksheet_error_message"></div>
            <div id="worksheet_grid" class="return-authorization-worksheet">
                <h2 class="">My Return Authorization Worksheet</h2><hr><p>Review your selected Return Authorizations in the worksheet below. If you need to make any changes, click the Edit button to edit each line. If you have completed the Return Authorization, click the Submit button to process the returns</p>
                <div class="return-authorization-worksheet-actions-wrapper">
                    <input type="text" class="return-worksheet-input-field" name="specialInstructions" placeholder="Special Instructions">
                    <input type="text" class="return-worksheet-input-field return-worksheet-ranumber" name="customRaNumber" placeholder="Your RA Number">
                    <button type="button" <?= $countWorksheet ? '' :'disabled'  ?>  data-action="clear-worksheet" class="return-worksheet-clear-button">Clear Worksheet</button>
                    <button type="button" <?= $countWorksheet ? '' :'disabled'  ?>  data-action="submit-returns"  class="return-worksheet-submit-button">Submit</button>
                </div>
                <div class="return-authorization-list-container" id="worksheet_table">
                    <table class="return-authorization-list-results-list fixed_headers ra-work-sheet">
                    <thead class="return-authorization-list-content-table">
                    <tr class="return-authorization-list-content-table-header-row">
                    <th class="return-authorization-worksheet-col-date"><?=__('Transaction#') ?></th>
                    <th class="return-authorization-worksheet-col-sku"><?=__('SKU') ?></th>
                    <th class="return-authorization-worksheet-col-name"><?=__('Name') ?></th>
                    <th class="return-authorization-worksheet-col-qty"><?=__('Qty') ?></th>
                    <th class="return-authorization-worksheet-col-reason"><?=__('Reason') ?></th>
                    <th class="return-authorization-worksheet-col-comment"><?=__('Comment') ?></th>
                    <th class="return-authorization-worksheet-col-purchased-price"><?=__('Purchased Price') ?></th>
                    <th class="return-authorization-worksheet-col-unit-credit"><?=__('Unit Credit') ?></th>
                    <th class="return-authorization-worksheet-col-total-credit"><?=__('Total Credit') ?></th>
                    <th class="return-authorization-worksheet-col-btn-action-header"><?=__('Actions') ?></th>
                    </tr>
                    </thead>
						<tbody class="return-authorization-list-records-list" style="overflow: scroll;"><tr id="CSH3472620512">                    <td class="return-authorization-worksheet-col-date"><a href="" target="_blank">CSH34726</a><span>2020-5-21</span></td>                    <td class="return-authorization-worksheet-col-sku">20512</td>                    <td class="return-authorization-worksheet-col-name">Rear Camera for Apple iPhone XR (Premium)</td>                    <td class="return-authorization-worksheet-col-qty">1</td>                    <td class="return-authorization-worksheet-col-reason">Defective</td>                    <td class="return-authorization-worksheet-col-comment">its defective in camera</td>                    <td class="return-authorization-worksheet-col-purchased-price">CA$48.75</td>                    <td class="return-authorization-worksheet-col-unit-credit">CA$43.50</td>                    <td class="return-authorization-worksheet-col-total-credit">CA$43.50</td>                    <td class="return-authorization-worksheet-col-btn-action">                    <button type="button" data-action="edit-item" data-id="93" class="button-tertiary button-small btn-inner edit-icn" title="Edit"><i class="fa fa-pencil"></i></button>                    <button type="button" data-action="remove-item" data-id="93" class="button-tertiary button-small btn-inner del-icn" title="Remove"><i class="fa fa-trash"></i></button></td></tr><tr class="error_message"><td style="padding:0px; text-align:left;" colspan="11"></td></tr></tbody>
                    </table>
                </div>
                <div class="return-authorization-worksheet-actions-wrapper return-border-top">
                    <button type="button" <?= $countWorksheet ? '' :'disabled'  ?> data-action="clear-worksheet"   class="return-worksheet-clear-button">Clear Worksheet</button>
                    <button type="button" <?= $countWorksheet ? '' :'disabled'  ?> data-action="submit-returns" class="return-worksheet-submit-button">Submit</button>
                </div>
                <div id="ws_error_message" class="ws-error-message"></div>
            </div><!-- Ends worksheet_grid -->

        </div>
    </div>
    </div>
</div>
<script type="text/javascript">
 var dataArray = {};
 var dataObject = [];
    require([
        'jquery'
    ], function ($) {
        jQuery(document).on('click','.return-authorization-worksheet-col-btn-action .del-icn',function(){
            var elementId = jQuery(this).data('id');
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorization/index/DeleteworksheetRecord') ?>',
                    data: {entity_id:elementId},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        var trHtml = '';
                        if(response.success == true){
                            getWorksheetResponse(response);
                        }else if(response.success == false && response.customer == 0){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                            window.location.href = '<?php echo $this->getUrl('customer/account/login') ?>';
                        }else{
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                        }
                        $('body').trigger('processStop');
                    }
            });
        });
        jQuery(document).on('click','.return-authorization-worksheet-col-btn-action .edit-icn',function(){
            var elementId = jQuery(this).data('id');
            var Dataa = JSON.stringify(dataArray);
           // console.log(dataArray);
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorization/index/EditworksheetRecord') ?>',
                    data: {entity_id:elementId,Dataa:Dataa},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        var trHtml = '';
                        if(response.success == true){
                            getWorksheetResponse(response);
                        }else if(response.success == false && response.customer == 0){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                            window.location.href = '<?php echo $this->getUrl('customer/account/login') ?>';
                        }else{
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                        }
                        $('body').trigger('processStop');
                    }
            });
        });
        
        // Add data into worksheet
        jQuery(document).on('click','#search_grid .button-tertiary',function(){
            var elementId = jQuery(this).data('id');
            var tranid = dataArray[elementId].tranid;
            var tranDate = dataArray[elementId].trandate;
            var sku = dataArray[elementId].sku;
            var name = dataArray[elementId].name;
            dataArray[elementId].product_qty = $.trim(jQuery('#search_grid tr#'+elementId).find('.product_qty').val());
            dataArray[elementId].reason_id = $.trim(jQuery('#search_grid tr#'+elementId).find('.reason_list').val());
            dataArray[elementId].comment = $.trim(jQuery('#search_grid tr#'+elementId).find('.return-authorization-list-row-input-comment').val());
            var allow_to_save_data =   checkValidations(dataArray,elementId); 
            if(allow_to_save_data){
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorization/index/Saveworksheet') ?>',
                    data: {data:dataArray[elementId]},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        var trHtml = '';
                        if(response.success == true){
                            getWorksheetResponse(response);
                            jQuery('#search_grid tr#'+elementId).find('.product_qty').val('');
                            jQuery('#search_grid tr#'+elementId).find('.reason_list').val('');
                            jQuery('#search_grid tr#'+elementId).find('.return-authorization-list-row-input-comment').val('');
                            jQuery('#search_grid tbody.return-authorization-list-records-list tr').removeAttr('style');
                            document.getElementById("worksheet_grid").scrollIntoView();
                            jQuery('#error_message').html('');
                        }else if(response.success == false && response.customer == 0){
                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                            window.location.href = '<?php echo $this->getUrl('customer/account/login') ?>';
                        }else{
                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert">'+response.message+' or refer to our <a href="https://site.nexuscellular.com/knowledge-base/warranties-and-returns/" target="_blank">Returns Policy</a> for more details.</div>');
                        }
                        $('body').trigger('processStop');
                    }
                });
            }
        });
        jQuery(document).on('click','#search_button',function(){
            var searchValue = jQuery('.return-item-search-form-input').val();
            if(!searchValue ){
                //alert('Invalid Product or Qty.');
                return false;
            }
            //jQuery(this).attr("disabled", true);
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorization/index/search') ?>',
                    data: {search:searchValue},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        if(response.success == true){
                            if(response.data.length){
                            getAjaxResponse(response,0); 
                            document.getElementById("search_scroll").scrollIntoView();
                            jQuery('#error_message').html('');
                            }else{
                                jQuery('#search_grid tbody.return-authorization-list-records-list').html('');
                                jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>   Sorry, there are no items matching your search criteria that are eligible for return. Please try again or refer to our </div><a href="#returns-policy" data-hashtag="#returns-policy" data-touchpoint="home" target="_blank">Returns Policy</a> for more details.</div>');
                            }
                        }else if(response.success == false && response.customer == 1){
                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                        }
                        else if(response.success == false && response.customer == 0){
                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                            window.location.href = '<?php echo $this->getUrl('customer/account/login') ?>';
                        }
						jQuery('#returnitems-confirmation-message').hide();
                        $('body').trigger('processStop');
                    }
                });
        });
         jQuery(document).on('click','.return-worksheet-clear-button',function(){
            var searchValue = $.trim(jQuery('.return-item-search-form-input').val());
            if(!searchValue ){
                searchValue = '';
            }
            //jQuery(this).attr("disabled", true);
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorization/index/Clearworksheet') ?>',
                    data: {search:searchValue},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        if(response.success == true){
                            getAjaxResponse(response,0); 
                            getClearWorksheetResponse(response);
                            document.getElementById("search_scroll").scrollIntoView();
                        }else if(response.success == false && response.customer == 0){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                            window.location.href = '<?php echo $this->getUrl('customer/account/login') ?>';
                        }
                        $('body').trigger('processStop');
                    }
                });
        });
        $('.return-item-search-form-input').on('keypress', function (e) {
            if(e.which === 13){
                var searchValue = jQuery(this).val();
                if(!searchValue )
                    return false;
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorization/index/search') ?>',
                    data: {search:searchValue},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        if(response.success == true){
                            if(response.data.length){
                            getAjaxResponse(response,0); 
                            document.getElementById("search_scroll").scrollIntoView();
                            jQuery('#error_message').html('');
                            }else{
                                jQuery('#search_grid tbody.return-authorization-list-records-list').html('');
                                jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>   Sorry, there are no items matching your search criteria that are eligible for return. Please try again or refer to our </div><a href="#returns-policy" data-hashtag="#returns-policy" data-touchpoint="home" target="_blank">Returns Policy</a> for more details.</div>');
                            }
                        }else if(response.success == false && response.customer == 1){
                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                        }
                        else if(response.success == false && response.customer == 0){
                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                            window.location.href = '<?php echo $this->getUrl('customer/account/login') ?>';
                        }
						jQuery('#returnitems-confirmation-message').hide();
                        $('body').trigger('processStop');
                    }
                });

                
               
                return false;
            }
        
        });
        jQuery(document).on('click','.return-worksheet-submit-button',function(){
            var instruction = $.trim(jQuery('.return-worksheet-input-field').val());
            var customer_ra_number = $.trim(jQuery('.return-worksheet-ranumber').val());
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorization/index/SubmitRA') ?>',
                    data: {isAjax:1,instruction:instruction,customer_ra_number:customer_ra_number},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                       // console.log(response);
                       // console.log();
                        if(response.success == false && Object.keys(response.data).length > 0){
                            SubmitRAResponse(response);  
                        }else if(response.success == false && response.customer == 0){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                            window.location.href = '<?php echo $this->getUrl('customer/account/login') ?>';
                        }else if(response.success == false && Object.keys(response.data).length == 0){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message-error alert" role="alert">'+response.message+'</div>');
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr').removeAttr('style');
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list').find('tr.error_message').children().html('');
                            document.getElementById("worksheet_error_message").scrollIntoView();
                        }
                        else if(response.success == false){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message-error alert" role="alert">'+response.message+'</div>');
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr').removeAttr('style');
                        }
                        else{
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr').removeAttr('style');
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list').find('tr.error_message').children().html('');
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list').html('<tr class="empty-cell"><td class="empty-column" colspan="11">Please add items from search results above that you’d like to return.</td></tr>');
                           // alert('success');
                           jQuery('.request-return-authorization-confirmation .ra-num a').html(response.data.tranid);
						   jQuery('.request-return-authorization-confirmation-download-pdf').attr('href',response.data.pdfurl);
						   jQuery('.request-return-authorization-confirmation-continue').attr('href',response.data.url);
						jQuery('.request-return-authorization-confirmation .ra-num a').attr('href',response.data.url);
                            jQuery('#returnitems-confirmation-message').show();
                            document.getElementById("returnitems-confirmation-message").scrollIntoView();
                        }
                        $('body').trigger('processStop');
                    }
                });
        });
        function SubmitRAResponse(response){
            jQuery.each(response.data, function(index, entry) {
                //console.log(entry);
                console.log(entry['uniquekey']);
              var elemetnId = entry['uniquekey'];  
              if(jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr#'+elemetnId).length > 0){
                jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr#'+elemetnId).
                next().children().html('<div class="global-views-message-error alert" role="alert">'+entry['error']+'</div>');
                jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr#'+elemetnId).css('background-color','#FFE9F1');
              }    
            });
        }
        function getAjaxResponse(response,worksheetflow = 0){
            if(worksheetflow == 0)
                jQuery('#search_grid tbody.return-authorization-list-records-list').html('');
            var trHtml;
            jQuery.each(response.data, function(index, entry) {
                dataArray[entry['uniquekey']] = entry;
				var transactionurl = getTransactionUrl(entry);
                trHtml+= '<tr class="recordviews-row" id='+entry['uniquekey']+'><td>'+entry['trandate']+'</td><td><a href="'+transactionurl+'" target="_blank">'+entry['tranid']+'</a></td>\
                <td>'+getSkuDetails(entry)+'</td>\
                <td>'+entry['description']+'</td><td>'+getQtySelectHTML(entry['quantity'])+'</td>\
                <td class="return-authorization-list-content-table-header-row-reason">\
                    '+getReasonSelectHTML(entry['reason_lists'])+'\
                </td>\
                <td>\
                    <textarea  class="return-authorization-list-row-input-comment"></textarea>\
                    <div class="global-views-message global-views-message-error alert"  style="display:none" role="alert"><div>Please enter comments.</div></div>\
                </td>\
                <td>\
                    <button type="button" class="button-tertiary button-small" data-id='+entry['uniquekey']+' title="Add to Worksheet">Add</button>\
                </td></tr>';
              
                });
                trHtml+= '<tr class="msg-info"><td colspan="8"><div id="info_message"><div class="global-views-message global-views-message-warning alert" role="alert"><div>Can not find an item? It might be out of the <a href="#returns-policy" data-hashtag="#returns-policy" data-touchpoint="home" target="_blank">warranty period.</a> </div></div></div></td></tr>';
                if(worksheetflow == 0)
                jQuery('#search_grid tbody.return-authorization-list-records-list').html(trHtml);
                else
                jQuery('#search_grid tbody.return-authorization-list-records-list').append(trHtml);
              
        }
		function getTransactionUrl(transaction){
			var url='';
			if(transaction['type'] == 'CustInvc'){
				url = "<?= $this->getUrl('transaction/index/view/') ?>"+ 'id/'+transaction['transactionid']+'/type/invoice/';
			}else if(transaction['type'] == 'CashSale'){
				url = "<?= $this->getUrl('transaction/index/view/') ?>"+ 'id/'+transaction['transactionid']+'/type/cashsale/';
			}
			return url;
		}
        function getSkuDetails(entry){
            var html = entry['sku'];
            if(entry['serialnumber']){
                html+="<span style='display:block;color:#9e9a9a'>"+entry['serialnumber']+"</span>";
            }
            return html;
        }
        function getAjaxResponseAfterEditWorksheet(response){
            var trHtml;
            jQuery('#search_grid tbody.return-authorization-list-records-list tr').removeAttr('style');
            jQuery('#search_grid tr').find('.product_qty').val('');
            jQuery('#search_grid tr').find('.reason_list').val('');
            jQuery('#search_grid tr').find('.return-authorization-list-row-input-comment').val('');
            jQuery.each(response.data.item, function(index, entry){
				var transactionurl = getTransactionUrl(entry);
                trHtml+= '<tr class="recordviews-row" id='+entry['uniquekey']+'><td>'+entry['trandate']+'</td><td><a href="'+transactionurl+'" target="_blank">'+entry['tranid']+'</a></td>\
                <td>'+getSkuDetails(entry)+'</td>\
                <td>'+entry['description']+'</td><td>'+getQtySelectHTML(entry['quantity'],response.data.requested_data)+'</td>\
                <td class="return-authorization-list-content-table-header-row-reason">\
                    '+getReasonSelectHTML(entry['reason_lists'],response.data.requested_data)+'\
                </td>\
                <td>\
                    <textarea  class="return-authorization-list-row-input-comment">'+response.data.requested_data.comment+'</textarea>\
                    <div class="global-views-message global-views-message-error alert"  style="display:none" role="alert"><div>Please add a comment.</div></div>\
                </td>\
                <td>\
                    <button type="button" class="button-tertiary button-small" data-id='+entry['uniquekey']+' title="Add to Worksheet">Add</button>\
                </td></tr>';
                var elemetnId = entry['uniquekey'];
                if(entry['serialnumber'] == undefined || entry['serialnumber'] === undefined)
                {
                    if(Object.keys(dataArray).length > 0){
                      
                    if( (dataArray[elemetnId] == undefined || dataArray[elemetnId] === undefined) || Object.keys(dataArray[elemetnId]).length  == 0){
                    
                        jQuery('#search_grid tbody.return-authorization-list-records-list tr:last').before(trHtml);
                    }else{
                        jQuery('#search_grid tbody.return-authorization-list-records-list tr#'+elemetnId).replaceWith(trHtml);  
                    }
                    }else{
                        jQuery('#search_grid tbody.return-authorization-list-records-list tr:last').before(trHtml);
                    }
                    jQuery('#'+elemetnId).css('background','#F9F5CD');
                    dataArray[entry['uniquekey']] = entry;
                    document.getElementById(elemetnId).scrollIntoView();
                }else{
                        if(jQuery('#search_grid tbody.return-authorization-list-records-list tr#'+elemetnId).length == 0){
                            jQuery('#search_grid tbody.return-authorization-list-records-list tr:last').before(trHtml);
                            jQuery('#'+elemetnId).css('background','#F9F5CD');
                            dataArray[entry['uniquekey']] = entry;
                            document.getElementById(elemetnId).scrollIntoView();
                        } 
                    }
                });
        }
        function getAjaxResponseAfterDeleteWorksheet(response){
            var trHtml;
            jQuery.each(response.data.item, function(index, entry){
				var transactionurl = getTransactionUrl(entry);
                trHtml+= '<tr class="recordviews-row" id='+entry['uniquekey']+'><td>'+entry['trandate']+'</td><td><a href="'+transactionurl+'" target="_blank">'+entry['tranid']+'</a></td>\
                <td>'+getSkuDetails(entry)+'</td>\
                <td>'+entry['description']+'</td><td>'+getQtySelectHTML(entry['quantity'],edit=false)+'</td>\
                <td class="return-authorization-list-content-table-header-row-reason">\
                    '+getReasonSelectHTML(entry['reason_lists'],edit=false)+'\
                </td>\
                <td>\
                    <textarea  class="return-authorization-list-row-input-comment"></textarea>\
                    <div class="global-views-message global-views-message-error alert"  style="display:none" role="alert"><div>Please add a comment.</div></div>\
                </td>\
                <td>\
                    <button type="button" class="button-tertiary button-small" data-id='+entry['uniquekey']+' title="Add to Worksheet">Add</button>\
                </td></tr>';
                if(Object.keys(dataArray).length > 0){
                    var elemetnId = entry['uniquekey'];
                if(jQuery('#search_grid tbody.return-authorization-list-records-list tr#'+elemetnId).length == 0){
                    //console.log(dataArray[entry['uniquekey']].customer);
                    jQuery('#search_grid tbody.return-authorization-list-records-list tr:last').before(trHtml);
                }else{
                   
                    jQuery('#search_grid tbody.return-authorization-list-records-list tr#'+elemetnId).replaceWith(trHtml);  
                }
                }else{
                    jQuery('#search_grid tbody.return-authorization-list-records-list tr:last').before(trHtml);
                }
                dataArray[entry['uniquekey']] = entry;
                });
                
               
        }
        function getClearWorksheetResponse(response){
            var trHtml = '';
            if(response.worksheet.length == 0){
                jQuery('.return-worksheet-clear-button').attr("disabled", true);
                jQuery('.return-worksheet-submit-button').attr("disabled", true);
                trHtml+='<tr class="empty-cell"><td class="empty-column" colspan="11">Please add items from search results above that you’d like to return.</td></tr>';
                jQuery('#worksheet_grid tbody.return-authorization-list-records-list').html(trHtml);
            }
        }
        function getWorksheetResponse(response){
            var trHtml = '';
            if(response.data.worksheet.length == 0){
                jQuery('.return-worksheet-clear-button').attr("disabled", true);
                jQuery('.return-worksheet-submit-button').attr("disabled", true);
                trHtml+='<tr class="empty-cell"><td class="empty-column" colspan="11">Please add items from search results above that you’d like to return.</td></tr>';
            }else{
                jQuery('.return-worksheet-clear-button').attr("disabled", false);
                jQuery('.return-worksheet-submit-button').attr("disabled", false);
                jQuery.each(response.data.worksheet, function(index, res) {
                    var transactionurl = getTransactionUrl(res);
                    trHtml+="<tr id="+res['uniquekey']+">\
                    <td class='return-authorization-worksheet-col-date'><a href='"+transactionurl+"' target='_blank'>"+res['tranid']+"</a><span>"+res['trandate']+"</span></td>\
                    <td class='return-authorization-worksheet-col-sku'>"+getSkuWorksheetDetails(res)+"</td>\
                    <td class='return-authorization-worksheet-col-name'>"+res['product_name']+"</td>\
                    <td class='return-authorization-worksheet-col-qty'>"+res['qty']+"</td>\
                    <td class='return-authorization-worksheet-col-reason'>"+res['return_name']+"</td>\
                    <td class='return-authorization-worksheet-col-comment'>"+res['comment']+"</td>\
                    <td class='return-authorization-worksheet-col-purchased-price'>"+res['purchased_price_format']+"</td>\
                    <td class='return-authorization-worksheet-col-unit-credit'>"+ res['unit_credit_format']+"</td>\
                    <td class='return-authorization-worksheet-col-total-credit'>"+res['total_credit_format']+"</td>\
                    <td class='return-authorization-worksheet-col-btn-action'>\
                    <button type='button' data-action='edit-item' data-id="+res['id']+" class='button-tertiary button-small btn-inner edit-icn' title='Edit'><i class='fa fa-pencil'></i></button>\
                    <button type='button' data-action='remove-item' data-id="+res['id']+" class='button-tertiary button-small btn-inner del-icn' title='Remove'><i class='fa fa-trash'></i></button>\
                    </td>\
                    </tr><tr class='error_message'><td style='padding:0px; text-align:left;' colspan='11'></td></tr>";
                });
            }         
            if(response.data.action == "delete"){
                getAjaxResponseAfterDeleteWorksheet(response);
            }else if(response.data.action == "edit"){
                getAjaxResponseAfterEditWorksheet(response);
            }
            else{
                if(response.data.search_grid.qty <= 0){
                    dataArray[response.data.search_grid.id] = {};
                    jQuery('#search_grid tr#'+response.data.search_grid.id).remove();
                }else{
                    dataArray[response.data.search_grid.id].quantity = response.data.search_grid.qty;
                    jQuery('#search_grid tr#'+response.data.search_grid.id).find('.product_qty').parent().html(getQtySelectHTML(response.data.search_grid.qty));
                }
            }
            jQuery('#worksheet_grid tbody.return-authorization-list-records-list').html(trHtml);
        }
        

        function getSkuWorksheetDetails(entry){
            var html = entry['product_sku'];
            if(entry['serialnumber']){
                html+="<span style='display:block;color:#9e9a9a'>"+entry['serialnumber']+"</span>";
            }
            return html;
        }
        function getQtySelectHTML(quantity,editData){
            var qtyHTML = '<select  class="product_qty" name="product_qty">';
            qtyHTML +='<option value=""></option>';
            for(var i = 1;i<=quantity;i++){
                if(editData && editData.qty > 0 && editData.qty ==  i)
                qtyHTML +='<option selected value='+i+'>'+i+'</option>';
                else
                qtyHTML +='<option value='+i+'>'+i+'</option>';
            }
            qtyHTML += '</select>';
            qtyHTML+='<div class="global-views-message global-views-message-error alert" style="display:none" role="alert"><div>Please select Qty.</div></div>';
            return qtyHTML;
        }
        function getReasonSelectHTML(reasonsList,editData){
            var selectHTML = '<select  class="reason_list" name="reason_list">';
            selectHTML +='<option value="">Select Reason</option>';
                $.each(reasonsList, function(index, value) {
                    if(editData && editData.reason_id > 0 && editData.reason_id ==  value.id)
                    selectHTML +='<option selected value ='+value.id+'>'+value.return_name+'</option>';
                else
                selectHTML +='<option value ='+value.id+'>'+value.return_name+'</option>';
            });
            selectHTML += '</select>';
            selectHTML+='<div class="global-views-message global-views-message-error alert" style="display:none" role="alert"><div>Please select Reason.</div></div>';
            return selectHTML;
        }
        function checkValidations($dataArray,elementId){
            var bool = true;
            jQuery('.global-views-message-error').hide();
            if(!dataArray[elementId].product_qty){
                jQuery('#search_grid tr#'+elementId).find('.product_qty').next().show();
                bool = false;
            }
            else if(!dataArray[elementId].reason_id){
                jQuery('#search_grid tr#'+elementId).find('.reason_list').next().show();
                bool = false;
            }
            else if(!dataArray[elementId].comment){
                jQuery('#search_grid tr#'+elementId).find('.return-authorization-list-row-input-comment').next().show();
                bool = false;
            }
            return bool;
        }
    });
  
    
</script>

<?php //}?>