<?php
//$items = $this->getCustomerReturnList();
?>

<div class="ReturnAuthorizationList"><!-- TEMPLATE STARTS: return_authorization_list-->
  <section class="return-authorization-list">
        <header class="return-authorization-list-header"><h2><?= __('Returns') ?></h2></header>
            <div class="list-header-view" >
                <div class="list-header-view-accordion">
					<div class="list-header-view-accordion-link"></div>
					<div class="list-header-view-accordion-body filter" >
						<div class="list-header-view-accordion-body-header ">
							<label class="list-header-view-from" for="from"><span class="from"><?= __('Requested from') ?></span>
								<input class="list-header-view-accordion-body-input" id="from-datepicker" name="datepicker" type="text">
								<i class="list-header-view-accordion-body-calendar-icon fa fa-calendar-alt" style="display: inline;"></i>
							</label>
							<label class="list-header-view-to" for="to">
								<span class="to"><?= __('to') ?></span>
								<input class="list-header-view-accordion-body-input" id="to-datepicker" name="to" type="text" autocomplete="off">
								<i class="list-header-view-accordion-body-calendar-icon fa fa-calendar-alt" style="display: inline;"></i>
							</label>
							<span class="list-header-view-sorts"><label class="list-header-view-filters">
								<label class="list-header-view-filters">
									<select name="sort" class="list-header-view-accordion-body-select"> 
										<option value="trandate,internalid"><?= __('Sort By Date') ?></option> 
									</select>
								</label>
								<button class="list-header-view-accordion-body-button-sort" data-order='desc'>
									<i class="list-header-view-accordion-body-button-sort-up fa fa-arrow-up"></i>
										<i class="list-header-view-accordion-body-button-sort-down listheader-filter-sortorder-arrow-selected fa fa-arrow-down"></i>
								</button>
							</span>
						</div>
					</div>  
				</div>
			</div><!-- TEMPLATE ENDS: list_header_view -->
			<div class="return-authorization-list-container"> 
				<table class="return-authorization-list-results-list">
					<thead class="return-authorization-list-content-table">
						<tr class="return-authorization-list-content-table-header-row">
							<th class="return-authorization-list-content-table-header-row-title">
							<span>Return No.</span></th>
							<th class="return-authorization-list-content-table-header-row-date"><span>Date</span></th>
							<th class="return-authorization-list-content-table-header-row-items"><span>Items</span></th>
							<th class="return-authorization-list-content-table-header-row-currency"><span>Amount</span></th>
							<th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
						</tr>
					</thead>
					<tbody class="return-authorization-list-records-list">
										<tr class="recordviews-row">
								<td class="recordviews-title">
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/906467/'); ?>">
											RA3537							</a>
									</span>
								</td> 
								<td class="recordviews-date">
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">2019-9-18</span>
								</td>
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Qty:</span>
									<span class="recordviews-value">13</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">CA$39.30</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value">Closed</span>
								</td> 
							</tr>
										<tr class="recordviews-row">
								<td class="recordviews-title">
									<span class="recordviews-title-value"> 
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/857090/'); ?>">
											RA3373							</a>
									</span>
								</td> 
								<td class="recordviews-date">
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">2019-8-27</span>
								</td>
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Qty:</span>
									<span class="recordviews-value">1</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">CA$3.90</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value">Refunded</span>
								</td> 
							</tr>
										<tr class="recordviews-row">
								<td class="recordviews-title">
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/717180/'); ?>">
											RA2984							</a>
									</span>
								</td> 
								<td class="recordviews-date">
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">2019-6-19</span>
								</td>
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Qty:</span>
									<span class="recordviews-value">1</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">CA$2.45</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value">Closed</span>
								</td> 
							</tr>
						</tbody>
				</table>
				<div class="list-paginator">
					<ul class="my-account-pagination-links">
						<li class="links-number"><a class="pagination-link active" data-limit="7" data-param="limit=7&amp;offset=0" data-pagenumber="1" data-offset="0" href="javascript:void(0)">1</a>
						</li>  
					</ul>
				</div>
			</div>
   </section> 
</div>   
<script type="text/javascript">
                    /*require([
                        "jquery",
                        "mage/calendar"
                        ], function($){
                        sendAjaxCall('','',true,false);
                          $('#from-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                var todate = jQuery('#to-datepicker').val();
                                sendAjaxCall(selectedDate,todate,true,false);
                            }
                        });
                          $('#to-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                var fromdate = jQuery('#from-datepicker').val();
                                sendAjaxCall(fromdate,selectedDate,true,false);
                            }});
                            jQuery(document).on('click','.list-header-view-accordion-body-button-sort',function(){   
                                var fromdate = jQuery('#from-datepicker').val();
                                var todate = jQuery('#to-datepicker').val();
                                sendSortingAjaxCall(fromdate,todate);
                             });
                            function sendSortingAjaxCall(fromdate,todate){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                if(dir_order == 'desc')
                                    dir_order = 'asc';
                                else 
                                    dir_order = 'desc';
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('returnauthorization/index/searchdate') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                        jQuery('.list-header-view-accordion-body-button-sort').find('i').removeClass('listheader-filter-sortorder-arrow-selected');
                                        if(dir_order == 'desc'){
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-down').addClass('listheader-filter-sortorder-arrow-selected');
                                        }else{
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-up').addClass('listheader-filter-sortorder-arrow-selected');
                                        }
                                    }
                                    }); // ends ajax
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                            function sendAjaxCall(fromdate,todate,onload = false,dir = false){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                if(dir == true){
                                if(dir_order == 'desc')
                                    dir_order = 'asc';
                                else 
                                    dir_order = 'desc';
                                }
                                
                                if(dir == false || fromdate.length > 0 || todate.length > 0 ){
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('returnauthorization/index/searchdate') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               }
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                            jQuery(document).on('click','.my-account-pagination-links .pagination-link',function(){ 
                                if(!jQuery(this).hasClass('active')){
                                    var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                    var fromdate = jQuery('#from-datepicker').val();
                                    var todate = jQuery('#to-datepicker').val();
                                    var pageNumber = jQuery(this).data('pagenumber');
                                    var limit = jQuery(this).data('limit');
                                    var offset = jQuery(this).data('offset');
                                    var currentUrl = document.location.href;
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('returnauthorization/index/pagination') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,paramString:jQuery(this).data('param'),limit:jQuery(this).data('limit'),offset:jQuery(this).data('offset')},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                       
                                        if(currentUrl.indexOf('?') > -1) {
                                            var url = document.location.href;
                                            var url = history.replaceState(null, null, "?page="+pageNumber+"&limit="+limit+"&offset="+offset);
                                        }else{
                                            var url = document.location.href+"?page="+pageNumber+"&limit="+limit+"&offset="+offset;
                                        }
                                        jQuery('.return-authorization-list-container').html(response);
                                        window.history.pushState("", "", url);
                                        let urlParams = new URLSearchParams(window.location.search);
                                        if(urlParams.has('page')){
                                            var page = urlParams.get('page');
                                            jQuery('.my-account-pagination-links').find('.pagination-link.active').html(page);
                                        }
                                        $('body').trigger('processStop');
                                    }
                                   
                                    }); // ends ajax
                                }
                            });

                            function deleteParams(){ 
                                var currentUrl = document.location.href
                                let url = new URL(currentUrl);
                                let params = new URLSearchParams(url.search);
                                params.delete('page');
                                params.delete('limit');
                                params.delete('offset');     
                                if(currentUrl.indexOf('?') > -1) {
                                    var new_url = currentUrl.split('?'); 
                                window.history.pushState(null,null,new_url[0]);
                                }
                            }
                        });*/
                    </script>