<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CompanyCredit
 * @author     Extension Team
 * @copyright  Copyright (c) 2020 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
use Bss\CompanyCredit\Block\Customer\Account;

?>

<?php
// @codingStandardsIgnoreFile

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();  
$customerSession = $objectManager->create('Magento\Customer\Model\Session');  
$customer = $customerSession->getCustomer();
/** @var  $block Account */
?>

<?php
$creditInfor = $block->getDataCompanyCredit();
$credit = $this->getCurrentCompanyCredit();
$percentage = ($credit->getId()) ? (($credit->getUsedCredit()*100)/$credit->getCreditLimit()) : 0;
?>
<!-- <div class="block block-companycredit"> -->
    <!-- <div class="block-title">
        <strong></?= $block->escapeHtml(__('Account Balance')); ?></strong>
    </div> -->
    <div class="balance-billing-account-balance">
        <div class="balance-indicator">
            <div class="balance-indicator-body">
                <div class="balance-indicator-title">  <span class="balance-indicator-title-value"><?= __('Yaroslav Basov')?></span>  </div>
                <div class="balance-indicator-bar"><div class="balance-indicator-bar-progress" style="width:<?= $percentage ?>%;"></div></div>
                <div class="balance-indicator-details">
                    <div class="balance-indicator-details-outstanding-balance">
                        <span class="balance-indicator-details-outstanding-reference"></span>
                        <span class="balance-indicator-details-outstanding-label"><?= __('Outstanding Balance') ?></span>
                        <span class="balance-indicator-details-outstanding-value"><?= ($creditInfor) ? $creditInfor["used_credit"] : '-' ?> </span>
                    </div>
                    <div class="balance-indicator-details-available-credit">
                        <span class="balance-indicator-details-available-credit-reference"></span>
                        <span class="balance-indicator-details-available-credit-label"><?= __('Available') ?></span>
                        <span class="balance-indicator-details-available-credit-value"><?= ($creditInfor) ?$creditInfor["available_credit"]: '-' ?></span>
                    </div>
                </div>
            </div><!-- Ends balance-indicator-body -->
            <!-- <div class="balance-indicator-summary">
                <p class="balance-indicator-summary-credit-limit"></?= __('Credit Limit:') ?> <span class="balance-indicator-summary-credit-limit-value"></?= ($creditInfor) ? __($creditInfor["credit_limit"]) : '-'; ?></span> </p>
            </div> -->
        </div>
        <div class="payment-content">
            <div class="block-content">
                <div class="payment-title">
                    <strong class="payment-label">Payments</strong>
                </div>
                <div class="all-amount-payment-date">
                    <div class="payment-info-block-one">
                        <div class="payment-info-date">
                            <span class="payment-label-date">Next payment due date</span>
                        </div>
                        <div class="date one">Jul 23,2021</div>
                        <div class="date two">Jun 10,2021</div>
                        <div class="date three">May 10,2021</div>
                    </div>
                    <div class="payment-info-block-account">
                        <div class="account-info-label">
                            <span class="account-label-info">Amount due</span>
                        </div>
                        <div class="amount one"><div class="price-one">$39.00</div>
                            <div class="over-due">Overdue</div>
                        </div>
                        <div class="amount two">$143.00</div>
                        <div class="amount three">$231.00</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="balance-credit-and-account">
            <div class="block-contents">
                <div class="balance-summary-credit-details">
                    <div class="balance-summary-account-credit-details-card">
                        <div class="balance-summary-account-credit-details-body">
                            <strong class="credit-title">Credits</strong>
                            <div class="balane-summary-deposit-terms">
                                <span class="balane-summary-deposit-terms-label">Deposits:</span>
                                <span class="balane-summary-deposit-terms-value">$412.00</span>
                            </div>
                            <div class="balane-summary-other-credits-terms">
                                <span class="balane-summary-other-credits-terms-label">Other Credits</span>
                                <span class="balane-summary-other-credits-terms-value">$12.00</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="balance-summary-account-details">
                    <div class="balance-summary-account-details-card">
                        <div class="balance-summary-account-details-body">
                            <p class="balance-summary-account-details-title"><?= __('Account Details') ?></p>
                            <div class="balance-summary-account-terms">
                                <span class="balance-summary-account-terms-label"><?= __('Terms:') ?> </span>
                                <span class="balance-summary-account-terms-value"><?= ($customer->getTerms()) ? $customer->getTerms() : '$412.00'  ?></span>
                            </div>
                            <div class="balance-summary-account-currency">
                                <span class="balance-summary-account-currency-label"><?= __('Currency:') ?></span>
                                <span class="balance-summary-account-currency-value"><?= $customer->getCustomerCuurency() ?></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>    
        </div>
    </div>
<!-- </div> -->
<div class="buttons-print-statement-payment">
    <div class="block-display">
        <div class="print-statement">
            <button class="button-print">Print a statement</button>
        </div>
        <div class="continue-payment">
            <button class="button-payment">Continue to payment</button>
        </div>
    </div>
</div>