<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$request = $objectManager->get(\Magento\Framework\App\Request\Http::class);
 $route= $request->getFullActionName();
$Purchases = ['transaction_index_purchasehistory'=>'Purchase History','returnauthorization_index_returnlist'=>'Returns',
'returnauthorization_index_create'=>'Request a Return Authorization'
];
$Billing = ['companycredit_customer_account'=>'Account Balance'/*,'storecredit_customer_account'=>'Store Credit'*/,'transaction_index_listinvoices'=>'Invoices','transaction_index_listtransaction'=>'Transaction History',
'transaction_index_printstatement'=>'Print a Statement'
];
$relatedbilling = ['transaction_index_view'];
$cases = ['transaction_index_listcases'=>'Support Cases','transaction_index_createcase'=>'Submit New Cases'];
$relatedCasesLink = ['transaction_index_viewcase'];
$settings = ['customer_account_edit'=>'Profile Information','newsletter_manage_index'=>'Email Preferences','customer_address_index'=>'Address Books',
'customer_paymentinfo_index'=>'Credit Cards','customer_account_edit_changepass_1'=>'Update Your Password'];
?>
<nav id="side-nav" class="myaccount-layout-side-nav"><!-- TEMPLATE STARTS: menu_tree-->
    <div class="menu-tree-node">
        <a class="menu-tree-node-item-anchor <?php echo ($route == "customer_account_index") ? 'no_child' : '' ?>" href="<?= $this->getUrl('customer/account/index') ?>" style="color:#FFF"><?= __('Overview') ?></a>
    </div>
    <div class="menu-tree-node">
        <a class="menu-tree-node-item-anchor parent"><?= __('Purchases') ?><span class="menu-tree-node-item-icon"></span></a>
        <div class="menu-tree-node-submenu-wrapper" style="display:none">
        <?php foreach($Purchases as $fullAction => $label): ?>
            <div class="menu-tree-node">
                <a class="menu-tree-node-item-anchor child <?php echo ($route == $fullAction) ? 'active' : '' ?>" <?= ($fullAction == 'returnauthorization_index_create') ?'target="_blank"':'' ?> href="<?= $this->getUrl(str_replace('_','/',$fullAction)) ?>"><?= __($label) ?></a>
            </div>
            <?php endforeach; ?>
        </div>
    </div>
    <div class="menu-tree-node">
        <a class="menu-tree-node-item-anchor <?php echo ($route == "wishlist_index_index") ? 'no_child' : '' ?>" href="<?= $this->getUrl('wishlist/index/index') ?>"      style="color:#FFF"><?= __('Wishlist') ?></a>
    </div>
    <div class="menu-tree-node">
        <a class="menu-tree-node-item-anchor parent"><?= __('Billing') ?><span class="menu-tree-node-item-icon"></span></a>
        <div class="menu-tree-node-submenu-wrapper" style="display:none">
        <?php foreach($Billing as $fullAction => $label): ?>
            <div class="menu-tree-node">
            <?php $addNewclass = '';
             if($route == $fullAction || (in_array($route,$relatedbilling) && $label == "Transaction History")): 
                $addNewclass = 'active';
             ?>
            <?php endif; ?>
                <a class="menu-tree-node-item-anchor child <?php echo $addNewclass ?>"  href="<?= $this->getUrl(str_replace('_','/',$fullAction)) ?>"><?= __($label) ?></a>
            </div>
        <?php endforeach; ?>
        </div>
    </div>
    <div class="menu-tree-node">
        <a class="menu-tree-node-item-anchor parent"> Settings <span class="menu-tree-node-item-icon"></span></a>
        <div class="menu-tree-node-submenu-wrapper" style="display:none">
            <?php foreach($settings as $fullAction => $label): ?>
                <div class="menu-tree-node">
                    <a class="menu-tree-node-item-anchor child <?php echo ($route == $fullAction) ? 'active' : '' ?>" href="<?= $this->getUrl(str_replace('_','/',$fullAction)) ?>"><?= __($label) ?></a>
                </div>
            <?php endforeach; ?>
        </div>
    </div>   
    <div class="menu-tree-node">
        <a class="menu-tree-node-item-anchor parent"> Cases <span class="menu-tree-node-item-icon"></span></a>
        <div class="menu-tree-node-submenu-wrapper" style="display:none">
        <?php foreach($cases as $fullAction => $label): ?>
            <div class="menu-tree-node">
                <a class="menu-tree-node-item-anchor child <?php echo (($route == $fullAction) || (in_array($route,$relatedCasesLink) && $label == 'Support Cases')) ? 'active' : '' ?>"  href="<?= $this->getUrl(str_replace('_','/',$fullAction)) ?>" href="/purchases"><?= __($label) ?></a>
            </div>
        <?php endforeach; ?>   
        </div>
    </div>  
</nav>
<!-- TEMPLATE ENDS: menu_tree --></nav>
<script>
        require(["jquery"], function ($) {
            var collapseSelector = '.menu-tree-node .parent';
            $(collapseSelector).click(function (e) {
                $('#side-nav .menu-tree-node-submenu-wrapper').slideUp(300);
				if(jQuery(this).hasClass('_active')){
					jQuery(this).removeClass('_active');
                    $(this).next().slideUp(300);
                    $('#side-nav .menu-tree-node-item-anchor').removeClass('_active');
				}else{
                    $('#side-nav .menu-tree-node-item-anchor').removeClass('_active');
					jQuery(this).addClass('_active');
					$(this).next().slideDown(300);
                }
            });
            collapseSelector = '.menu-tree-node .child';
            $(collapseSelector).each(function (e) {
                if(jQuery(this).hasClass('active')){
                 $(this).parents('.menu-tree-node-submenu-wrapper').show();
                 $(this).parents('.menu-tree-node-submenu-wrapper').prev().addClass('_active');
                }
            });
            $('.case-detail-messages-accordion').click(function (e) {
				if(jQuery(this).hasClass('_active')){
					jQuery(this).removeClass('_active');
                    $(this).next().slideUp(300);
				}else{
					jQuery(this).addClass('_active');
					$(this).next().slideDown(300);
                }
            });
        });
    </script>