/*
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

.review__field-element {
    display: block;
}

.review__form.amp-form-submitting .initial-content,
.review__form.amp-form-submit-error .initial-content {
    display: block;
}

.reminder-products__product {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid #DEDEDE;
    margin-bottom: 12px;
    margin-left: -20px;
    margin-right: -20px;
}

.reminder-products__product button {
    margin-left: auto;
    padding: 11.5px 22px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    min-height: auto;
}

.reminder-products__name a {
    margin-right: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #5e5e5e;
    text-decoration: none;
}

.review__product_title {
    font-size: 14px;
    font-weight: 600;
    color: #5e5e5e;
}

.review__rating-stars-wrap input {
    display: none
}

.review__rating-stars-wrap label {
    display: block;
    cursor: pointer;
    color: #c2c2c2;
    position: relative;
    font-size: 43px;
    line-height: 1;
}

.hidden-star {
    position: absolute;
    color: #ffd700;
    font-size: 43px;
    line-height: 1;
    opacity: 0;
    z-index: 1;
    transition: opacity .3s ease;
    left: 0;
    top: 0
}

.review__rating-stars-wrap label:hover ~ label .hidden-star, .hidden-star:hover, .review__rating-stars-wrap input:checked ~ label .hidden-star {
    opacity: 1
}

.review__form h4 {
    margin-top: 15px;
    margin-bottom: 8px;
    font-size: 12px;
}

.review__form ul {
    margin: 15px 0 0;
    padding: 0;
    list-style: none;
}

.review__rating-stars-wrap {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.review__field {
    display: block;
    font-size: 12px;
    color: #525252;
    font-weight: bold;
}

.review__field > em{
    color: #9E0000;
    font-size: 16px;
}

.review__field-element {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    border: 1px solid #c2c2c2;
    border-radius: 3px;
}

.review__field--textarea .review__field-element,
.review__form li textarea {
    width: 100%;
    height: 120px;
}

.review__form button {
    min-width: 200px;
    padding: 15px 26px;
    margin-top: 16px;
    margin-left: 0;
    font-size: 16px;
    background-color: #2662b3;
    border-radius: 5px;
}

.review__form ul li {
    margin-bottom: 20px;
}

.review__form ul li:last-child {
    margin-bottom: 0;
}

/***************************/


.reminder-products__name,
.reminder-products__product button{
    align-self: center;
}

.reminder-products__name{
    max-width: 30%;
}


.reminder-products__name a{
    margin-left: 0;
}

.reminder-products__product amp-img {
    max-width: 100%;
    height: auto;
}

.container-product-img{
    width: 30%;
    min-width: 120px;
    margin-right: 20px;
}

.review__form {
    max-width: calc(70% - 20px);
    width: 100%;
}

.container-success{
    margin-left: -50.5%;
    padding: 40px;
}

.wrapper-success{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.success-icon{
    max-width: 120px;
    width: 120px;
    margin-bottom: 30px;
}

.wrapper-success > span{
    margin-bottom: 30px;
}

.wrapper-success > a{
    min-width: 200px;
    padding: 12px 20px;
    font-size: 16px;
    text-decoration: none;
    min-height: auto;
    letter-spacing: 1px;
    font-weight: bold;
    background-color: #2662b3;
}

.review__form .btn.btn--primary{
    margin-top: 30px;
}

@media only screen and (max-width: 767px){
    .reminder-products__product{
        flex-direction: column;
    }
    .container-product-img{
        width: 45%;
        margin: 0 auto;
    }

    .reminder-products__name{
        text-align: center;
        max-width: 70%;
    }

    .reminder-products__name a{
        margin: 0;
    }

    .reminder-products__product button{
        margin-left: 0;
    }
    .review__form{
        width: 100%;
        max-width: 100%;
    }

    .reminder-products__name,
    .reminder-products__product button {
        margin-top: 15px;
    }

    .container-success{
        margin-left: 0;
    }
}

/*-fix main content-*/
.main-content {
    border-bottom: 1px solid #DEDEDE;
    padding-bottom:12px;
}
