// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */
& when (@media-common = true) {
	.case-list-header-button-new {
		padding: 8.5px 20px;
		letter-spacing: 0.5px;
		font-size: 14px;
		text-align: center;
		text-transform: uppercase;
		background-color: #666;
		color: #fff !important;
		&:hover {
			background: #756c6c;
			color: #fff;
			text-decoration: none;
		}
	}
		.return-authorization-list {
			.case-list-header-button-new {
				float: right;
				position: absolute;
				right: 0;
				top: 15px;
			}
		}
		.account {
			h1.page-title {
				margin-top: 20px !important;
				span {
					font-weight: 400;
					text-transform: capitalize;
					color: #231f20;
					line-height: 1.2;
					font-size: 30px;
				}
			}
		}
		.myaccount-case-new-section {
			button {
				border-radius: 0;
			}
			select {
				height: 40px;
				width: 30%;
			}
			input[type="text"] {
				height: 40px;
				width: 30%;
			}
			padding: 30px;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 30px;
			border: 1px solid #c2c2c2;
			color: #231f20;
		}
		select {
			border-radius: 0;
		}
		textarea {
			border-radius: 0;
		}
		a.menu-tree-node-item-anchor {
			display: block;
			line-height: 1em;
			padding: 15px;
			background-color: #FF7200;
			border-bottom: 1px solid #c9631c;
			color: #fff;
			cursor: pointer;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 600;
			&:hover {
				text-decoration: none;
			}
		}
		a.menu-tree-node-item-anchor.parent {
			color: #fff !important;
			&:hover {
				background-color: #666;
				color: #fff !important;
				text-decoration: none;
			}
			&:focus {
				background-color: #666;
				color: #fff !important;
				text-decoration: none;
			}
			&:active {
				background-color: #666;
				color: #fff !important;
				text-decoration: none;
			}
		}
		.fieldset {
			>.fields {
				>.field {
					>.label {
						font-weight: 600;
						color: #231f20;
						font-size: 14px;
					}
				}
			}
		}
		.case-new-title {
			color: #231f20;
		}
		a.menu-tree-node-item-anchor.parent._active {
			background-color: #666;
			color: #fff !important;
			text-decoration: none;
		}
		a.menu-tree-node-item-anchor.no_child {
			background-color: #666;
			color: #fff !important;
			text-decoration: none;
		}
		.menu-tree-node-submenu-wrapper {
			a.active {
				color: #FF7200;
			}
			a.menu-tree-node-item-anchor {
				&:hover {
					color: #FF7200;
					background-color: none;
					text-decoration: none;
				}
			}
			border-bottom: 1px solid #c2c2c2;
			padding-top: 10px;
			padding-bottom: 10px;
			.menu-tree-node-item-anchor {
				&:hover {
					color: #FF7200;
				}
				background-color: #fff;
				padding: 10px;
				font-size: 14px;
				text-transform: none;
				font-weight: normal;
				padding: 10px 20px;
				border-bottom: none;
				color: #231f20;
			}
			.menu-tree-node-item-anchor.active {
				color: #FF7200;
			}
		}
		.menu-tree-node {
			.menu-tree-node-item-anchor {
				.menu-tree-node-item-icon {
					&:after {
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						font-size: 25px;
						line-height: 15px;
						color: inherit;
						content: '\f807';
						font-family: 'porto-icons';
						margin: 0 0 0 5px;
						vertical-align: top;
						display: inline-block;
						font-weight: normal;
						overflow: hidden;
						speak: none;
						text-align: center;
					}
				}
			}
			.menu-tree-node-item-anchor._active {
				.menu-tree-node-item-icon {
					&:after {
						-webkit-font-smoothing: antialiased;
						-moz-osx-font-smoothing: grayscale;
						font-size: 25px;
						line-height: 15px;
						color: inherit;
						content: '\f804';
						font-family: 'porto-icons';
						margin: 0 0 0 5px;
						vertical-align: top;
						display: inline-block;
						font-weight: normal;
						overflow: hidden;
						speak: none;
						text-align: center;
					}
				}
			}
			.menu-tree-node-item-icon {
				float: right;
			}
		}
		.case-detail-label-type {
			color: #231f20;
			font-size: 14px;
			font-weight: 600;
		}
		.case-detail-value-type {
			font-size: 14px;
		}
		button.case-detail-close-case-button {
			color: #FF7200;
			font-weight: 600;
			background-color: #ebebeb;
			display: inline-block;
			padding: 10px 15px;
			font-size: 12px;
			text-align: center;
			text-transform: uppercase;
			border-radius: 0;
			line-height: 1;
		}
		.case-detail-accordion-head-toggle {
			&:hover {
				text-decoration: none;
			}
			display: block;
			cursor: pointer;
			background-color: #fff;
			height: 100%;
			line-height: 44px;
			padding: 0 20px;
			font-size: 14px;
			border: 1px solid #c2c2c2;
			color: #8d8d8d;
			font-weight: 700;
		}
		.case-detail-accordion-head {
			font-size: 14px;
			font-weight: 600;
		}
		.case-detail-messages-accordion {
			.accordion-toggle-icon {
				&:after {
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					font-size: 32px;
					color: #FF7200;
					content: '\f807';
					font-family: 'porto-icons';
					float: right;
					vertical-align: top;
					display: inline-block;
					font-weight: normal;
					overflow: hidden;
					speak: none;
					text-align: center;
				}
			}
		}
		.case-detail-messages-accordion._active {
			.accordion-toggle-icon {
				&:after {
					content: '\f804';
				}
			}
		}
		.case-detail-accordion-container {
			overflow: hidden;
			background-color: #fff;
			border: 1px solid #c2c2c2;
			border-top: 0px;
			width: 100%;
		}
		.case-detail-message-row {
			margin: 0px;
			padding: 15px;
		}
		.case-detail-message {
			padding: 5px;
			font-size: 14px;
		}
		.case-detail-field-message-author {
			font-weight: 700;
		}
		.case-detail-message-date-section {
			margin-left: 20px;
			margin-right: 20px;
			position: relative;
			margin-top: 20px;
			text-align: center;
			&:before {
				content: "";
				display: block;
				border-top: solid 1px #dde5e9;
				width: 100%;
				height: 1px;
				position: absolute;
				top: 50%;
				z-index: 1;
			}
		}
		.case-detail-field-message-date {
			background: #fff;
			padding: 0 10px;
			position: relative;
			z-index: 5;
			color: #c4c4c4;
		}
		.case-detail-field-message-field-message-time {
			color: #c4c4c4;
		}
		.case-detail-field-message-text {
			padding-left: 5px;
			color: #79777b;
		}
		.case-detail {
			color: #000;
		}
		.case-detail-header-status-info {
			text-align: right;
		}
		.case-detail-reply-section {
			text-align: right;
		}
		.case-detail-header-col-left {
			float: left;
		}
		.case-detail-header-col-right {
			button {
				&:hover {
					background-color: #FF7200;
					color: #ebebeb;
				}
			}
		}
		.block-companycredit {
			padding: 30px;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 30px;
			border: 1px solid #c2c2c2;
			color: #231f20;
			.block-title {
				strong {
					font-size: 22px;
					color: #231f20;
					margin-bottom: 30px;
				}
			}
		}
		.balance-indicator {
			margin-bottom: 25px;
			width: 100%;
			border: 1px solid #c2c2c2;
			background-color: #fff;
		}
		.information-box {
			width: 100%;
			border: 1px solid #c2c2c2;
			background-color: #fff;
		}
		.balance-summary-credits-card {
			width: 100%;
			border: 1px solid #c2c2c2;
			background-color: #fff;
		}
		.balance-summary-account-details-card {
			width: 100%;
			border: 1px solid #c2c2c2;
			background-color: #fff;
		}
		.information-box-body {
			padding: 20px;
		}
		.balance-indicator-body {
			padding: 20px;
		}
		.balance-summary-credits-body {
			padding: 20px;
		}
		.balance-summary-account-details-body {
			padding: 20px;
			color: #231f20;
			font-size: 14px;
		}
		.balance-indicator-title {
			margin-bottom: 20px;
		}
		.balance-indicator-bar {
			width: 100%;
			background-color: #e8edf0;
			height: 35px;
			margin-bottom: 30px;
		}
		.balance-indicator-bar-progress {
			height: 100%;
			width: 0;
			background-color: #2d9e6f;
		}
		.balance-indicator-details-outstanding-balance {
			width: 50%;
			float: left;
			margin-bottom: 15px;
		}
		.balance-indicator-details-available-credit {
			width: 50%;
			float: left;
		}
		.balance-indicator-details-outstanding-reference {
			background-color: #2d9e6f;
			width: 15px;
			height: 15px;
			display: block;
			float: left;
			margin-right: 15px;
			margin-top: 5px;
		}
		.balance-indicator-details-available-credit-reference {
			width: 15px;
			height: 15px;
			display: block;
			float: left;
			margin-right: 15px;
			margin-top: 5px;
			background-color: #e8edf0;
		}
		.balance-indicator-details-outstanding-label {
			color: #231f20;
			font-size: 14px;
			font-weight: 600;
		}
		.balance-indicator-details-outstanding-value {
			color: #231f20;
			font-size: 14px;
		}
		.information-box-summary {
			padding: 10px 20px;
			padding: 10px 15px;
			border-top: 1px solid #c2c2c2;
			background-color: #f0f3f5;
		}
		.balance-indicator-summary {
			padding: 10px 20px;
			padding: 10px 15px;
			border-top: 1px solid #c2c2c2;
			background-color: #f0f3f5;
		}
		.balance-indicator-details {
			overflow: hidden;
		}
		.balance-summary-account-details-title {
			margin-bottom: 15px;
			font-weight: 700;
		}
		.balance-summary-account-terms {
			margin-bottom: 15px;
		}
		.list-header-view-accordion-body-calendar-icon {
			top: 11px !important;
		}
		.to-calender-icon {
			top: 11px !important;
		}
		.overview-home-orders-title {
			>span {
				font-size: 20px;
				color: #231f20;
			}
			padding: 8px 0;
			border-top: 1px solid #c2c2c2;
		}
		.overview-home-invoice-title {
			span {
				font-size: 20px;
				color: #231f20;
			}
			padding: 8px 0;
		}
		.overview-home-orders-title-link {
			float: right;
			margin-top: 4px;
		}
		.recordviews-row {
			border-bottom: 1px solid #c2c2c2;
		}
		.my-account-pagination-links {
			li {
				float: left;
				height: 44px;
				text-align: center;
				display: block;
				a {
					display: block;
					text-decoration: none;
					height: 35px;
					line-height: 35px;
					border: 1px solid #c2c2c2;
					margin-left: 5px;
					padding: 0 10px;
					text-transform: uppercase;
					background-color: #FF7200;
					color: #FFF;
				}
				.pagination-link.active {
					cursor: default;
					background: none;
					color: #FF7200;
				}
			}
		}
		.list-paginator {
			float: right;
			margin-top: 15px;
		}
		.track-button-toggle-icon {
			&:after {
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\f807';
				font-family: 'porto-icons';
				margin: 0 0 0 5px;
				vertical-align: top;
				display: inline-block;
				font-weight: normal;
				overflow: hidden;
				text-align: center;
			}
		}
		button.order-history-list-tracking-number-control-button {
			background-color: #ebebeb;
			color: #FF7200;
			&:hover {
				border: 1px solid #ccc;
				color: #fff;
				background-color: #FF7200;
			}
		}
		.order-history-list-tracking-number-control-numbers {
			ul {
				li {
					list-style: none;
				}
				padding: 5px 12px 0px 5px;
				position: absolute;
				background-color: #fff;
				border: 1px solid #c2c2c2;
			}
			display: none;
		}
		.order-history-tracking-content {
			float: right;
		}
		.order-history-packages-header-container-right {
			float: right;
		}
		.show.order-history-list-tracking-number-control-numbers {
			display: block;
		}
		.order-history-packages-header-col-shipping-method {
			clear: both;
		}
		.order-history-packages-header-container-title {
			display: inline-block;
			position: relative;
		}
		.order-history-packages-accordion-head-toggle {
			border: 1px solid #c2c2c2;
			display: block;
			cursor: pointer;
			background-color: #fff;
			height: 100%;
			line-height: 30px;
			padding: 0 20px;
			font-size: 14px;
		}
		.invoice-details-accordion-toggle-icon {
			float: right;
			height: 24px;
			line-height: 40px;
			font-size: 28px;
			color: #FF7200;
			&:after {
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\f807';
				font-family: 'porto-icons';
				margin: 0 0 0 5px;
				vertical-align: top;
				display: inline-block;
				font-weight: normal;
				overflow: hidden;
				text-align: center;
			}
		}
		.open {
			.invoice-details-accordion-toggle-icon {
				&:after {
					content: '\f804';
				}
			}
			.creditmemo-details-accordion-toggle-icon {
				&:after {
					content: '\f804';
				}
			}
			.order-history-packages-header-container {
				border-bottom: 1px solid #c2c2c2;
			}
			.order-history-packages-accordion-head-toggle {
				border-bottom: none;
			}
			.payment-details-accordion-toggle-icon {
				&:after {
					content: '\f804';
				}
			}
		}
		.order-history-packages-header-container-left {
			display: inline-block;
		}
		.order-history-packages-header-container {
			overflow: hidden;
			border-bottom: none;
		}
		.order-history-packages-accordion-body {
			border: 1px solid #c2c2c2;
			border-top: none;
		}
		.invoice-details-accordion-body {
			border: 1px solid #c2c2c2;
			border-top: none;
			.account-invoice-product-view {
				float: left;
			}
			.invoice-transaction-photo {
				width: 25%;
			}
			.invoice-product-details {
				width: 75%;
			}
		}
		.invoice-details-button-download-as-pdf {
			color: #FFF !important;
		}
		.order-history-packages-dropdown-menu {
			.address-details-info {
				p {
					margin-bottom: 0;
					font-size: 12px;
				}
			}
			address {
				margin-bottom: 0;
			}
		}
		.invoice-product-count {
			color: #8d8d8d;
			font-weight: 700;
			padding: 5px 0;
			display: block;
		}
		.invoice-price.price {
			font-size: 18px;
			font-weight: 700;
			color: #FF7200;
		}
		.toggle-heading {
			padding: 5px 0;
			color: #8d8d8d;
			font-weight: 700;
			display: inline-block;
		}
		.invoice-inner-details-row {
			border: 1px solid #c2c2c2;
			border-top: none;
			overflow: hidden;
			padding: 20px;
		}
		.invoice-details-info-card {
			font-size: 14px;
			color: #414042;
			background: #fff;
			border: 1px solid #c2c2c2;
			padding: 25px;
		}
		.invoice-details-info-card-title {
			font-weight: 700;
		}
		.creditmemo-details-accordion-divider,.invoice-details-accordion-divider {
			margin-top: 20px;
		}
		.address-details-container-multiselect-address-title {
			b {
				font-weight: 400;
				color: #FF7200;
			}
		}
		.invoice-details-summary-subtotal-items {
			font-weight: 700;
		}
		.order-product-link {
			p {
				font-weight: 600;
				color: #8d8d8d;
				font-size: 14px;
			}
		}

	span.recordviews-value.invoice-date-overdue {
	color: #ce0101;
	}
	.invoice-paid-list-header-button-group {
		.invoice-header-status {
			padding: 12.5px 20px;
			letter-spacing: 0.5px;
			font-size: 14px;
			text-align: center;
			line-height: 1;
			text-transform: uppercase;
			display: inline-block;
			border: 1px solid #c4c4c4;
			color: #8d8d8d;
			width: auto;
		}
	}
	.invoice-header-status.active {
		width: auto;
		display: inline-block;
		background-color: #666;
		border: 1px solid #666;
		color: #fff;
		&:hover {
			cursor: default;
		}
	}
	.invoice-header-status {
		&:nth-child(2) {
			margin-left: -4px;
		}
		&:hover {
			cursor: pointer;
		}
	}
	.order-history-packages-acordion-divider {
		margin-bottom: 20px;
	}
	.order-history-item-actions-reorder {
		display: inline-block;
		padding: 10px 15px;
		letter-spacing: 0.5px;
		font-size: 14px;
		text-align: center;
		line-height: 1;
		text-transform: uppercase;
		color: #fff !important;
		font-weight: 600;
		background-color: #575757 !important;
		border: none !important;
		cursor: pointer;
		&:hover {
			border: none !important;
		}
	}
	.invoice-details-button-download-as-pdf {
		display: inline-block;
		padding: 12.5px 20px;
		letter-spacing: 0.5px;
		font-size: 14px;
		width: 100%;
		text-align: center;
		line-height: 1;
		text-transform: uppercase;
		color: #fff !important;
		font-weight: 600;
		background: #575757;
		cursor: pointer;
		margin-bottom: 20px;
		&:hover {
			color: #FF7200;
			background: #756c6c;
			text-decoration: none;
		}
	}
	.reorder-all-items-btn {
		display: inline-block;
		padding: 12.5px 20px;
		letter-spacing: 0.5px;
		font-size: 14px;
		width: 100%;
		text-align: center;
		line-height: 1;
		text-transform: uppercase;
		color: #fff !important;
		font-weight: 600;
		background: #575757;
		cursor: pointer;
		margin-bottom: 20px;
		&:hover {
			color: #FF7200;
			background: #756c6c;
			text-decoration: none;
		}
	}
	.product-line-stock-msg-not-available {
		color: #8e7728;
		background-color: #f9f5cd;
		position: relative;
		margin-bottom: 20px;
		padding: 10px;
		font-size: 12px;
		display: inline-block;
		font-size: 12px;
	}
	/*  ============ My Account Customer Payment Section ========== */
	thead.customer-payment-details-accordion-body-container-recordviews-table {
		border-bottom: 1px solid #dde5e9;
	}

	.customer-payment-details-accordion-body-container-recordviews-table {
		th {
			vertical-align: top;
			padding-left: 15px;
			padding-right: 15px;
		}
		td {
			vertical-align: top;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
	.recordviews-row {
		border-bottom: 1px solid #c2c2c2;
		font-size: 14px;
		line-height: 1.8;
	}
	.customer-payment-details-accordion-body-container-payment-total {
		text-align: right;
	}
	.payment-details-header-row {
		margin-bottom: 1rem;
	}
	.customer-payment-details-information-col-button {
		float: right;
		margin: 10px 0px;
		padding: 12.5px 20px;
		letter-spacing: 0.5px;
		font-size: 14px;
		width: auto;
		text-align: center;
		line-height: 1;
		text-transform: uppercase;
		color: #fff !important;
		font-weight: 600;
		background: #666;
		display: inline-block;
		clear: both;
	}
	.payment-details-accordion-toggle-icon {
		float: right;
		height: 24px;
		line-height: 30px;
		font-size: 28px;
		color: #FF7200;
		-webkit-transition: transform 300ms ease;
		-o-transition: transform 300ms ease;
		transition: transform 300ms ease;
		&:after {
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			content: '\f807';
			font-family: 'porto-icons';
			margin: 0 0 0 5px;
			vertical-align: top;
			display: inline-block;
			font-weight: normal;
			overflow: hidden;
			text-align: center;
		}
	}
	.payment-details-row {
		clear: both;
	}
	.customer-payment-details-accordion-head-toggle{
		border: 1px solid #c2c2c2;
		display: block;
		cursor: pointer;
		background-color: #fff;
		height: 100%;
		line-height: 30px;
		padding: 8px 20px;
		font-size: 14px;
	}
	.billing-toggle-heading{
		padding: 0;
		color: #8d8d8d;
		font-weight: 700;
		display: inline-block;
	}
	.creditmemo-packages-header-col{
		padding: 5px 0px;
	}
	.open .creditmemo-packages-accordion-head-toggle,.creditmemo-packages-accordion-head-toggle{
		border: 1px solid #c2c2c2;
		padding: 6px 8px;
		display:block;
	}
	.creditmemo-packages-accordion-head-toggle:hover{
		  cursor: pointer;
	}
	.creditmemo-packages-header-container{
		overflow: hidden;
		border-bottom: none;
	}
	.creditmemo-details-accordion-toggle-icon {
		float: right;
		height: 24px;
		line-height: 25px;
		font-size: 28px;
		color: #FF7200;
		&:after {
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: '\f807';
				font-family: 'porto-icons';
				margin: 0 0 0 5px;
				vertical-align: top;
				display: inline-block;
				font-weight: normal;
				overflow: hidden;
				text-align: center;
			}
	}
	.open .creditmemo-details-accordion-toggle-icon {
		&:after {
			content: '\f804';
		}
	}
	.invoice-details-info-card-grid {
		width: 48%;
		float: left;
		margin-right: 10px;
	}
	.transaction-details-header-col-right .header-status-info{float:right}
	.order-history-details-content-col,.invoice-details-content-col{float:left;width: 66.66667%;padding: 0px 16px;}
    .order-history-summary-summary-col,.invoice-details-summary-col{ width: 33.33333%;float:left;}
	.invoice-details-accordion-divider.order-history-packages-acordion-divider.first{margin-top:0 !important;}
	tbody.return-authorization-list-records-list .recordviews-actionable-label{display:none}
	.responsive-col-lg-4 {
		-webkit-flex: 0 0 33.3333333333%;
		-moz-flex: 0 0 33.3333333333%;
		-ms-flex: 0 0 33.3333333333%;
		flex: 0 0 33.3333333333%;
		max-width: 33.3333333333%;
	}
	.responsive-col-lg-8 {
		-webkit-flex: 0 0 66.6666666667%;
		-moz-flex: 0 0 66.6666666667%;
		-ms-flex: 0 0 66.6666666667%;
		flex: 0 0 66.6666666667%;
		max-width: 66.6666666667%;
	}
	.invoice-details-header-amount.mobile_view{display:none}
	.transaction-details-header-col-right {float: right;overflow: hidden;width: 50%;}
	.transaction-details-header-date-value{color: #231f20;font-size: 14px;}
	.transaction-details-amount {float: right;}
	.transaction-details-summary-title {padding: 15px;margin-bottom: 20px;border-bottom: 1px solid #c2c2c2;}
	.transaction-details-summary-container {margin-bottom: 20px;border: 1px solid #c2c2c2;}
	.transaction-details-summary-grid-float {clear: both;margin: 0px;margin-bottom: 10px;padding-left: 15px;}
	.transaction-details-summary-items-number{float: right;padding-right: 15px;}
	.transaction-details-row-fluid{color:#231f20 !important}
	.transaction-history p{font-size: 14px;color: #231f20;line-height: 1.6;}
	.transaction-details-summary-container .subtotal,.transaction-details-summary-container .total{font-weight: 700;text-transform: uppercase;}
	.list-header-view-accordion {
		display: inline-block;
		clear: both;
		width: 100%;
	}
	.list-header-view-accordion-body-label-group, .list-header-view-sorts {
		width: auto;
		margin-left: 10px;
		float: right;
	}

	.list-header-view-accordion-body-header {
		display: inline-block;
		width: 100%;
		margin-top: 0;
	}
	.list-header-view-accordion-body-header {
		padding: 0;
		background-color: #fff;
		border: 0;
	}
	.list-header-view-from:first-child .list-header-view-accordion-body-input{
		width: 150px;
	}
	.list-header-view-accordion-body-input {
		margin-bottom: 0;
		margin-left: 10px;
		width: 150px !important;
		height: 44px;
		display: inline-block;
		margin-bottom: 10px;
		padding: 10px 5px;
	}

	.recordviews-title-anchor{
		font-weight: 700;
	}
	.list-header-view-accordion-body-calendar-icon{
		display: inline;display: inline;
		position: absolute;
		right: 8%;
		top: 4%;
		font-size: 15px !important;
		color:#000;
	}
	.list-header-view-accordion-body-calendar-icon:hover{
		cursor: pointer;
	}
	.list-header-view-accordion-body-calendar-icon.hide{
		display:none;
	}
	.list-header-view-accordion-body-header  .fa-times-circle:hover{
		cursor: pointer;
	}
	.list-header-view-accordion-body-header  .fa-times-circle{
		position: absolute;
		right: 7%;
		top: 4%;
	}
	.list-header-view-accordion-body-header  .fa-times-circle.hide{
		display:none;
	}
	.to-calender-icon{
		right: 8%;
		top: 4%;
		font-size: 15px !important;
		color:#000;
	}
	.list-header-view-accordion-body-header  .fa-times-circle{
		color: #c4c4c4;
		font-size: 20px;
	}
	.list-header-view-accordion-body-header .list-header-view-to,.list-header-view-accordion-body-header .list-header-view-from{position: relative;}
	.list-header-view-accordion-body-button-sort {
		height: 44px !important;
		width: 65px;
		border-right: 0;
		background: #fff;
		color: #c2c2c2;
		border: 1px solid #c2c2c2;
		text-align: center;
		display: inline-block;
		overflow: hidden;
		border-radius: 0;
	}
	.list-header-view-accordion-body-button-sort:hover{
		background: none;
		border-radius: 0;
		border:1px solid #c2c2c2;
	}
	.list-header-view-accordion-body-button-sort i.listheader-filter-sortorder-arrow-selected.fa.fa-arrow-down{
		color:#FF7200;
	}
	.list-header-view-accordion-body-button-sort i.listheader-filter-sortorder-arrow-selected.fa.fa-arrow-up {
		color: #FF7200;
	}
	.list-header-view-filters .list-header-view-accordion-body-select {
		margin-top: 0;
		width: 200px;
		border-radius: 0;
		padding:10px;
		height:44px;
	}
	.list-header-view-from .ui-datepicker-trigger {
		display: inline;
		padding:0px;
		padding-left:3px;
		vertical-align:baseline;
		position:relative;
	}
	.return-authorization-detail-summary-amount-tax {
		float: right;
		padding-right: 15px;
	}
	.list-header-view-sorts .list-header-view-accordion-body-select {
		margin: 0 10px 0 0;
		float: right;
	}
	.list-header-view-accordion-body-button-sort i {
		font-size: 14px;
		width: auto;
	}
	.list-header-view-accordion-body-button-sort i {
		color: #c2c2c2;
	}
	.list-header-view-filters{float:right;}
	.search-customer-area{ width:550px;}
	.search-customer-area .return-customer-search-form-input{
		float: left;
		padding-right: 10px;
		width: 70%;margin-bottom:20px;
	}
	.transaction-history h2{
		color:#231f20;
	}
	.invoice-details-header-col-right{
		width:50%;
	}
	.transaction-history a{
		color: #666;
		text-decoration: none;
		cursor: pointer;
	}
	.invoice-details-accordion-head-toggle {
		color: #8d8d8d;
		font-weight: 700;
		display: block;
		cursor: pointer;
		background-color: #fff;
		height: 100%;
		line-height: 44px;
		padding: 0 20px;
		font-size: 14px;
		border: 1px solid #c2c2c2;
	}
	.account-nav .nav>li>a {
		background-color: #FF7200;
		border-bottom: 1px solid #c9631c;
		color: #fff;
		padding: 13px 15px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.account-nav .nav>li>strong {
		padding: 13px 15px;
	}
	.account-nav .nav>li>a:hover{
		background-color: #666;
	}
	.account-nav .nav>li{
		margin-bottom: 0;
	}
	.autocomplete-suggestions {
		background: #fff;
		border: 1px solid #bdb5b5;
		overflow-y: scroll;
		max-height: 500px !important;
	}
	.autocomplete-suggestion {
		padding: 10px 0;
		color:#000;
	}
	.autocomplete-suggestion:hover{
		background:#f5b988;
		cursor:pointer;
	}
	 .search-customer-area .return-item-search-form-label {
		color: #666;
		float: left;
		font-size: 12px;
		font-weight: bold;
		line-height: 41px;
		padding-right: 10px;
		text-transform: uppercase;
		vertical-align: middle;
	}
	.return-item-search-form-control-group{width:100%;}
	.return-authorization-list-empty-section {
		padding: 40px 15px 15px 15px;
		text-align: center;
	}
	.return-authorization-list-empty-section h5 {
		font-size: 14px;
		font-weight: 700;
		color: #FF7200;
		text-transform: capitalize;
	}
	.list-header-view-accordion-body-select,.list-header-view-accordion-body-select option{color:#000 !important}
	.case-new-form-case-category,.case-new-form-case-category option{color:#000 !important}
}
//1100
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	span.recordviews-value.invoice-date-overdue {
		color: #ce0101;
	}
	.invoice-details-info-card-grid{
		width: 47%;
		float: left;
		padding-left: 15px;
		padding-right: 15px;
	}
	.myaccount-layout-side-nav{display:none}
	.return-authorization-list-content-table-header-row-reason .reason_list,.return-authorization-list-content-table-header-row-reason .reason_list option{color:#000 !important;border:1px solid #000 !important}
	.product_qty,.product_qty option{color:#000 !important;border:1px solid #000 !important}
	.request-return #search_button{border-radius:0 !important}
}
// 640 width
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.ReturnAuthorizationList tbody.return-authorization-list-records-list .recordviews-actionable-label,
	.transactionhistorylistpage tbody.return-authorization-list-records-list .recordviews-actionable-label,.listinvoice tbody.return-authorization-list-records-list .recordviews-actionable-label,.purchasehistory tbody.return-authorization-list-records-list .recordviews-actionable-label{display:block;}
	
	.transactionhistorylistpage tbody.return-authorization-list-records-list tr td,.listinvoice tbody.return-authorization-list-records-list tr td,.purchasehistory tbody.return-authorization-list-records-list tr td{display:block;padding: 0;}
	
	.order-history-details-content-col, .invoice-details-content-col{width:100%;padding: 0;}
	.invoice-details-info-card-grid{width:100%;margin-bottom:10px;}
	.order-history-summary-summary-col, .invoice-details-summary-col{width:100%;margin-top:10px;}
	thead.return-authorization-list-content-table{display:none}
	.request-return tbody.return-authorization-list-records-list tr td{display:table-cell;width:100%;padding:5px 6px;}
	.overview-home-orders-title-link{display:block;float:none;width:100%;}
	.responsive-col-lg-8,.responsive-col-lg-4{
		position: relative;
		width: 100%;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px;
	}
	.return-authorization-detail thead.return-authorization-list-content-table{display:contents;}
	.return-authorization-detail tbody.return-authorization-list-records-list tr td{display: table-cell;}
	.transaction-details-header-col-right .header-status-info{float:none}
	.transaction-details-header-col-right{float:none;}
	.invoice-details-header-amount.mobile_view{display:block}
	.invoice-details .transaction-details-amount{display:none;}
	.invoice-details-invoice-title{margin-bottom:10px;}
	.invoice-details-header-information p.header-date-info{margin-bottom:0px;}
	.request-return thead.return-authorization-list-content-table{display:table-header-group;}
	#worksheet_grid .empty-column{line-height:30px;display: table-cell;}
	.request-return .return-authorization-list-records-list  .return-emptycolumn{display: table-cell;width:100% !important}
	.request-return .return-authorization-list-container{overflow: scroll;}
	.return-item-search-form .row{margin:0;}
	.purchasehistory tbody.return-authorization-list-records-list tr td,.myaccount-overview tbody.return-authorization-list-records-list tr td{display:block;padding:0;}
	.list-header-view-accordion-body-input{margin-left:0;}
	.list-header-view-accordion-body-input._has-datepicker{margin:0}
	.ReturnAuthorizationList .filter .from,.ReturnAuthorizationList .filter .to,.TransactionList .filter .from,.TransactionList .filter .to{display:block;}
	.list-header-view-accordion-body-calendar-icon{position:relative !important;top:0 !important;right: 25px!important;}
	.list-header-view-filters .list-header-view-accordion-body-select{width:100% !important}
	.list-header-view-sorts,.list-header-view-filters{float:none !important}
	.list-header-view-filters{width:100% !important}
	.list-header-view-sorts{margin-left:0 !important}
	.list-header-view-accordion-body-select,.list-header-view-accordion-body-select option{color:#000 !important}
	.list-header-view-sorts .list-header-view-accordion-body-select{margin:0 !important;}
	.myaccount-case-new-section select,.myaccount-case-new-section input[type="text"]{width:100%;}
	.myaccount-case-new-section {
		padding: 0px 0px !important;
		margin-left: 0 !important;
		margin-right: 0 !important;
		border:none;
	}
	.myaccount-case-new-section .fieldset.row{margin-left:0 !important;margin-right:0 !important;}
	.myaccount-case-new-section .col-md-12{padding-left:0 !important;padding-right:0 !important;}
	.transaction-index-createcase .page-main{padding-left:14px;padding-right:14px;}
}