/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2021-10-21 16:15:15 */
body.boxed {
}
@media (min-width: 768px) {
    .page-layout-1column .product-info-main, .page-layout-2columns-left .product-info-main, .page-layout-2columns-right .product-info-main, .page-layout-3columns .product-info-main {
        width: 49%;
    }
    .page-layout-1column .product.media, .page-layout-2columns-left .product.media, .page-layout-2columns-right .product.media, .page-layout-3columns .product.media {
        width: 49%;
    }

    .page-layout-1column .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-left .column.main > .custom-block ~ .product-info-main, .page-layout-2columns-right .column.main > .custom-block ~ .product-info-main, .page-layout-3columns .column.main > .custom-block ~ .product-info-main {
        width: 36.75%;
    }
    .page-layout-1column .column.main > .custom-block ~ .product.media, .page-layout-2columns-left .column.main > .custom-block ~ .product.media, .page-layout-2columns-right .column.main > .custom-block ~ .product.media, .page-layout-3columns .column.main > .custom-block ~ .product.media {
        width: 36.75%;
    }
}
.page-header .switcher .options ul.dropdown, .page-footer .switcher .options ul.dropdown, .minicart-wrapper .block-minicart, .product-item .tocart, .bundle-options-container .block-bundle-summary .product-addto-links > .action, .product-item-actions .actions-secondary.action, .action.tocompare, .product-addto-links .action.tocompare, .product-social-links .action.tocompare, .wishlist.split.button > .action.split, .product-social-links .action.mailto.friend, .product-social-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist, input[type="text"], input[type="password"], input[type="url"], input[type="tel"], input[type="search"], input[type="number"], input[type="datetime"], input[type="email"], .footer-middle .block.newsletter input, .footer-middle .block.newsletter .action.subscribe, .filter-options-title, .filter-options-item.active .filter-options-title, .filter-options-content, .filter-options-title:after, .toolbar select, .swatch-option, .pages .page, .pages .action, .fotorama__stage, .fotorama__nav--thumbs .fotorama__thumb, .fotorama__nav .fotorama__thumb-border, .input-text.qty, .qty.field .qty-changer > a, button, a.action.primary, textarea, .minicart-items .item-qty, .block-minicart .block-content > .actions > .secondary .action.viewcart, .cart.table-wrapper .product-image-container, .cart-summary, select, #discount-coupon-form #coupon_code, .abs-discount-block .actions-toolbar .action.primary, .abs-discount-block .actions-toolbar .action.cancel, .block-compare .action.primary, .cart-summary .block .actions-toolbar > .primary .action.primary, .cart-summary .form.giftregistry .fieldset .action.primary, .paypal-review-discount .actions-toolbar .action.primary, .paypal-review-discount .actions-toolbar .action.cancel, .cart-discount .actions-toolbar .action.primary, .cart-discount .actions-toolbar .action.cancel, .login-container, .form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.form-edit-account, .form-address-edit, .form-newsletter-manage, .message, .box .box-title, .box .box-actions, .customer-welcome .header.links, .btn, .cms-index-index blockquote.testimonial, .recent-posts .item .post-image, .prev-next-products .product-nav .product-pop, #newsletter_popup, .product-label, .page-header.type11 .navigation li.level0.active, .page-header.type11 .navigation li.level0:hover, .filter .filter-current-subtitle, .filter-actions, .products-grid .product-item .product-item-info:hover .weltpixel-quickview.weltpixel_quickview_button_v2, .block-header-customer-login, .bundle-options-container .block-bundle-summary .product-addto-links > .action, .product-item-actions .actions-secondary.action, .action.tocompare, .product-addto-links .action.tocompare, .moved-add-to-links .action.tocompare, .product-social-links .action.tocompare, .wishlist.split.button > .action.split, .product-social-links .action.mailto.friend, .moved-add-to-links .action.mailto.friend, .product-social-links .action.towishlist, .product-addto-links .action.towishlist, .block-bundle-summary .action.towishlist, .product-item .action.towishlist, .table-comparison .action.towishlist
{
    border-radius: 0;
}
.sw-megamenu.navigation li.level0.fullwidth:hover > .submenu, .sw-megamenu.navigation li.level0.staticwidth:hover > .submenu, .sw-megamenu.navigation li.level0.classic .submenu, .sw-megamenu.navigation li.level0.classic .subchildmenu .subchildmenu, .sw-megamenu.navigation span.cat-label, .category-boxed-banner .owl-item .item, .iwd-summary-cart, .iwd-one-page-checkout-sidebar .iwd-opc-block-summary {
    border-radius: 0 !important;
}
@media (min-width: 768px) {
    .block-search input, .page-header.type1 .navigation > ul, .navigation li.level0, .page-header.type1 .navigation li.level0.parent:hover, .page-header.type1 .navigation li.level0.active, .page-header.type1 .navigation li.level0:hover, .page-header .navigation .level0 .submenu, .product.data.items > .item.title > .switch, .customer-welcome .header.links, .page-header.type5 .block-search input, .page-header.type5 .navigation .level0.parent:hover > .level-top, .page-header.type6 .block-search input, .page-header.type6 .navigation .level0:hover > .level-top, .page-header.type6 .navigation .level0.parent:hover > .level-top, .product.info.detailed.vertical .product.data.items > .item.title > .switch, .page-header.type5 .navigation .level0:hover > .level-top, .page-header.type11 .navigation li.level0.parent:hover
    {
        border-radius: 0;
    }
}
@media (min-width: 640px) {
    .modes-mode
    {
        border-radius: 0;
    }
}
.product-item-photo {
    border-radius: 0;
    border: 0;
    padding: 0;
}
.product-image-photo.hover_image {
    padding: 0;
    border-radius: 0;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    padding-right: 10px;
    padding-left: 10px;
}
.page-header.type2.header-newskin {
    background-color: #FFF;
}

.page-header.type2.header-newskin .minicart-wrapper .action.showcart .counter.qty {
    background-color: #ff7200;
    right: -5px;
    margin-top: -19px;
}
.page-header.type2.header-newskin.sticky-header .minicart-wrapper .action.showcart .counter.qty {
    right: -16px;
}
/*.page-header.type2.header-newskin .minicart-wrapper .action.showcart:after {
    display: none;
}*/
.page-header.type2.header-newskin .logo {
    margin: 31px 0;
}
.page-header.type2.header-newskin .minicart-wrapper {
    background: none;
    border: 0;
    box-shadow: none;
    width: auto;
    height: auto;
}
.page-header.type2.header-newskin.sticky-header .minicart-wrapper .action.showcart {
    border-color: #222529;
}
.page-header.type2.header-newskin.sticky-header .minicart-wrapper .action.showcart {
    border-color: #222529;
}
.page-header.type2.header-newskin .block-search input:focus, .page-header.type2 .search-category select:focus {
    box-shadow: none;
}
@media (min-width: 768px) {
    .page-header.type2.header-newskin .navigation .level0 > .level-top:first-child {
        padding-left: 0;
    }
    .page-header.type2.header-newskin .panel.header .header.links > li, .page-header.type2.header-newskin .panel.header .header.links > li > a, .page-header.type2.header-newskin .switcher strong {
        font-size: 11.2px;
        font-weight: 700;
    }
    .page-header.type2.header-newskin .block-search .action.search {
        height: 38px;
        line-height: 38px;
        margin-right: -3px;
        background-color: #ff7200;
        border-radius: 0 30px 30px 0;
        padding: 0 20px 0 12px;
    }
    .page-header.type2.header-newskin .block-search .action.search:before {
        color: #fff;
        font-size: 18px;
    }
    .page-header.type2.header-newskin .block-search .action.search:hover:before {
        color: #fff;
    }
    .page-header.type2.header-newskin .block-search .action.search[disabled] {
        opacity: 1;
    }
    .page-header.type2.header-newskin.sticky-header .nav-sections {
        background-color: #fff;
    }
    .page-header.type2.header-newskin .navigation .level0 > .level-top {
        font-size: 13px;
        padding-top: 8px;
        padding-bottom: 8px;
    }
}
@media (min-width: 1220px) {
    .navigation, .page-wrapper > .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main, .container, .page-wrapper > .breadcrumbs .items, .sw-megamenu.navigation li.level0.fullwidth > .submenu {
        max-width: 1200px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .page-header.type2.header-newskin .block-search {
        margin-left: 3%;
            width: 44%;
    }
}
@media (min-width: 1440px) {
    .navigation, .page-wrapper > .breadcrumbs, .page-header .header.panel, .header.content, .footer.content, .page-wrapper > .widget, .page-wrapper > .page-bottom, .block.category.event, .top-container, .page-main, .container, .page-wrapper > .breadcrumbs .items, .sw-megamenu.navigation li.level0.fullwidth > .submenu {
        max-width: 1420px;
     
    }
.page-header .header{ max-width: 1420px;}
}
@media (max-width: 991px) and (min-width: 768px) {
    .page-header.type2.header-newskin .block-search {
        max-width: 375px;
    }
}
@media (max-width: 767px) {
    .page-header.type2.header-newskin .logo {
        margin: 10px 0;
    }
    .page-header.type2.header-newskin .minicart-wrapper {
        margin: 0;
        padding: 21px 0 15px;
    }
}
.products-grid .product-item-details .product-item-actions .tocart {
    text-transform: uppercase;
    font-size: 12.53px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 30px;
    background-color: #FF7200;
}
.product-item .tocart:before {
   /* content: '\e87f';*/
    font-size: 17px;
    vertical-align: middle;
}
.product-social-links .action.towishlist:before, .product-addto-links .action.towishlist:before, .block-bundle-summary .action.towishlist:before, .product-item .action.towishlist:before, .table-comparison .action.towishlist:before {
    content: '\e889';
}
@media (min-width: 1200px) {
.products-grid.columns6 {
    margin-left: -10px;
    margin-right: -10px;
}
.products-grid.columns6 .product-item {
    padding: 10px;
}
}
.filterproduct-title {
    background: none;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    margin-bottom: 24px;
    line-height: 40px;
    font-size: 30px;
    color: #fff;
    background: #414042;
    padding: 10px 20px;
}
.filterproduct-title .content strong {
    font-weight: 500;
}
.filterproduct-title .content {
    padding: 0;
    background: transparent;
    text-transform: none;
}
.shop-by-cat-item.cat-has-icon:hover {
    color: #f4631b;
}
.footer-top .block.newsletter {
    width: 100%;
    margin: 20px 0;
}
.footer-top {
    padding: 16px 0;
}
.footer-top .block.newsletter input {
    border-radius: 30px 0 0 30px;
    height: 48px;
    padding-left: 25px;
    border: 0;
    font-size: 14px;
}
.footer-top .block.newsletter input::-webkit-input-placeholder {
    color: #8d8d8d;
}
.footer-top .block.newsletter input::-moz-placeholder {
    color: #8d8d8d;
}
.footer-top .block.newsletter input:-moz-placeholder {
    color: #8d8d8d;
}
.footer-top .block.newsletter input:-ms-input-placeholder {
    color: #8d8d8d;
}
.footer-top .block.newsletter .control:before {
    display: none;
}
.footer-top .block.newsletter .actions button {
    background-color: #666;
    height: 48px;
width:100px;
    text-transform: uppercase;
    padding: 0 25px;
    border-radius: 0 30px 30px 0;
    border: 0;
    font-family: inherit;
    letter-spacing: 0;
    font-size: 12px;
    font-weight: 600;
}

.custom-support {
    text-align: center;
}
.custom-support i {
    background-color: transparent;
    float: none;
    color: #f4631b;
    width: auto;
    height: auto;
    border-radius: 0;
    padding-bottom: 20px;
    display: inline-block;
}
.custom-support div.content {
    margin-left: 0;
}
.custom-support div.content>h2 {
    text-transform: uppercase;
    font-size: 16px;
    color: #2b2b2d;
    line-height: 22px;
}
.custom-support div.content>em {
    color: #465157;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    margin-bottom: 20px;
}
.custom-support div.content>p {
    font-size: 13px;
    line-height: 24px;
    color: #687176;
}
.product-item-name > a, .product.name a > a {
    color: #222329;
}
.price-box .price {
    font-family: 'Open Sans';
    letter-spacing: 0;
    font-weight: 600;
}
.footer .social-icons [class^="porto-icon-"] {
    color: #222529;
   font-size: 27px;
}
.social-icons > a {
    width: 45px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
}
.footer .social-icons a [class^="porto-icon-"] {
    color: inherit;
}
/*.footer .social-icons a[title="Facebook"]:hover {
    background-color: #3b5a9a;
    color: #fff;
}
.footer  .social-icons a[title="Twitter"]:hover {
    background-color: #1aa9e1;
    color: #fff;
}
.footer .social-icons a[title="Linkedin"]:hover {
    background-color: #7c4a3a;
    color: #fff;
}
.footer-middle .social-icons a {
    color: #222329;
    transition: all .3s;
}*/
.footer-middle {
    padding: 45px 0;
}
.footer-middle .block .block-title strong {
    font-size: 16px;
    font-weight: 700;
}
.footer-middle ul.links li {
    padding: 5px 0;
}
.footer-bottom {
    padding: 0 0 18px;
}
.footer-bottom > .container:before {
    content: '';
    border-top: 1px solid #e1e1e1;
    display: block;
    margin-bottom: 18px;
}
.footer-bottom address {
    float: left;
    line-height: 42px;
}
.page-wrapper > .breadcrumbs {
    max-width: 100%;
    padding: 7px 0;
}
.page-wrapper > .breadcrumbs strong {
    font-weight: 700;
font-size:12px;
}
.page-main {
    padding-top: 0px;
  padding-bottom: 0px;
}
.sidebar.sidebar-main {
    position: relative;
}
.block-category-list .block-title,.filter-options-title,.filter .filter-current-subtitle {
    border: none;
    background-color: transparent;
    padding: 16px 20px 4px 20px;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
}
.block-category-list .block-title {
    padding: 0 20px 0 20px;
}
.block-category-list .block-title strong {
    font-weight: 600;
}
.block-category-list .block-content,.filter-options-content {
    border: none;
    background-color: transparent;
    padding: 10px 20px 26px 20px;
    border-bottom: #efefef solid 1px;
    position: relative;
    z-index: 2;
    border-radius: 0;
}
.filter-current .items {
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
}
.filter-current .item {
    padding-left: 20px;
}
.filter-current .action.remove {
    right: 20px;
    color: #21293c;
}
.filter-actions {
    border: none;
    background-color: transparent;
    position: relative;
    z-index: 2;
    padding-right: 20px;
}
.filter-actions a {
    color: #858585;
}
.filter-options-title:after {
    content: '\f882';
    border: none;
    color: #21293c;
    font-size: 11px;
    margin-top: -6px;
    right: 0;
}
.filter-options-title:hover:after {
    background: none;
    color: #21293c;
}
.active > .filter-options-title:after {
    content: '\f883';
}
.active_filter > .filter-options-title:after {
    content: '\f883';
}
#ln_slider_price.ui-slider-horizontal {
    height: 3px;
    box-shadow: none;
}
#ln_slider_price .ui-slider-handle {
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.sidebar-title {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px;
    padding-left:20px;
    padding-right: 20px;
}
.porto-icon-left-open-huge:before {
    content: '\f802';
    color: #21293c;
}
.porto-icon-right-open-huge:before {
    content: '\f801';
    color: #21293c;
}
.sidebar .owl-top-narrow .owl-theme .owl-controls {
    top: -40px;
    right: -7px;
}
.sidebar .owl-top-narrow .owl-theme .owl-controls .owl-nav div *:before {
    color:#21293c;
}
.sidebar .product-items .product-item-name a {
    font-size: 12px;
    color: #5b5b5f;
    font-weight: 400;
}
.sidebar .sidebar-filterproducts {
    margin-bottom: 30px;
    padding-bottom: 40px;
    background: none;
    border-bottom: #efefef solid 1px;
}
.sidebar .product-items .product-item .product-reviews-summary {
    display: block;
}
.sidebar-filterproducts.custom-block + h2 {
    font-size: 15px !important;
    text-transform: uppercase;
    font-weight: 600;
    color: #21293c !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 +h5 {
    font-family: 'Open Sans' !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    color: #7a7d82 !important;
    letter-spacing: 0.022em;
    padding: 0 20px;
}
.sidebar-filterproducts.custom-block + h2 + h5 + p {
    color: #21293c !important;
    font-size: 15px !important;
    letter-spacing: 0.01em;
    padding: 0 20px;
}
.sidebar .custom-block {
    padding: 0 20px;
}
.category-boxed-banner.owl-theme .owl-controls {
    bottom: 0;
}

.page-with-filter .toolbar-amount {
    display: none;
}
.full-width-image-banner {
    height: 300px;
}
.full-width-image-banner:after {
    display: none;
}
.full-width-image-banner h2 {
    font-size: 36px;
    font-weight: 900;
    letter-spacing: -0.025em;
    text-transform: uppercase;
    line-height: 38px;
}
.full-width-image-banner p {
    font-size:18px;
    line-height:38px;
    font-weight: 700;
    text-transform:uppercase;
}
.full-width-image-banner .btn-default {
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.025em;
    padding: 10px 20px;
    background-color: #010204;
    color: #fff;
    font-family: 'Oswald';
    text-transform: uppercase;
    border-radius: 2px;
    margin-top: 31px;
}
.page-products .toolbar .limiter .limiter-text {
    display: none;
}
.modes-mode.active {
    border: none;
    background: none;
    color: #111;
}
.modes-mode,.modes-mode:hover {
    border: none;
    background: none;
    color: #111;
    width: 15px;
}
.toolbar select {
    border: 1px solid #e4e4e4;
    height: 37px;
    color: #7a7d82;
    font-weight: 400;
    font-size: 14px;
    text-transform: capitalize;
    padding: 0 10px;
    padding-right: 30px;
    line-height: 31px;
}
.toolbar-sorter .sorter-action {
    margin-top: 6px;
    color: #21293c;
}
.toolbar-sorter .sorter-action:before {
    color: #21293c;
}
.pages a.page,.pages strong.page,.pages .action {
    width: 32px;
    line-height: 32px;
}
.products-grid + .toolbar.toolbar-products {
    border-top: solid 1px #efefef;
    padding-top: 25px;
}
.product-item .product-reviews-summary {
    background: none;
}
.product.name a {
    color: #414042;
font-weight: 700;
}
.product.name a:hover{
color:#808080 !important;
}
.old-price .price, .old.price {
    font-size: 14px;
}
.product-label.sale-label {
   /* border-radius: 20px;*/
    color: #ffffff;
}
.product-label.new-label {
    /*border-radius: 20px;*/
    color: #ffffff;
}
/*.product-labels .product-label {
    height: 21px;
    font-size: 11px;
    line-height: 21px;
    padding: 0 10px;
}*/
.products-grid .product-item-details .product-item-actions .tocart {
    text-transform: uppercase;
    font-size: 12.53px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 30px;
    background-color: #FF7200;
}
.product-item .tocart:before {
    /*content: '\e87f';*/
    font-size: 17px;
    vertical-align: middle;
}
.catalog-product-view .sidebar .custom-block {
    border: none;
    color: #6b7a83;
    padding-bottom: 0;
    margin-bottom: 33px;
    background: none;
}
.catalog-product-view .sidebar .custom-block-1>div i {
    color: #F4631B;
    border: none;
    font-size: 40px;
    float: left;
}
.catalog-product-view .sidebar .custom-block-1>div {
    min-height: 65px;
    clear: both;
    padding: 18px 0;
    border-bottom: solid 1px #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div:last-child {
    border-bottom-width: 0;
}
.block-manufacturer {
    text-align: center;
    padding: 10px 20px 0;
    margin-bottom: 0;
}
.block-manufacturer hr {
    border-color: #dee5e8;
    margin-bottom: 0;
}
.catalog-product-view .sidebar .custom-block-1>div h3 {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0.005em;
    color: #6b7a83;
    margin-left: 80px;
}
.block.related {
    padding: 0 20px;
}
.block .title strong {
    font-size: 15px;
    font-weight: 600;
    color: #21293c;
    letter-spacing: 0.01em;
    margin-bottom: 20px !important;
    padding-top: 0;
    text-transform: uppercase;
}


.prev-next-products a {
    color: #555;
}
.product.media {
    padding-right: 12px;
}
.fotorama__stage__shaft {
    border: none;
}
.fotorama__nav--thumbs .fotorama__thumb {
    border-color: #dae2e6;
}
.product-options-bottom .price-box .price-container .price, .product-info-price .price-box .price-container .price {
    /* font-family: 'Oswald'; */
    font-size: 21px;
    font-weight: 700;
    letter-spacing: 0.005em;
}

.catalog-product-view:not(.weltpixel-quickview-catalog-product-view):not(.weltpixel_quickview-catalog_product-view) .box-tocart .action.tocart {
    height: 43px;
    font-size: 14px;
    letter-spacing: 0.05em;
    font-weight: 400;
}
.box-tocart .action.tocart:before {
    /*content: '\e87f';*/
    font-family: 'porto-icons';
    margin-right: 7px;
    font-size: 16px;
}
.action.primary,.action.primary:active {
    text-transform: uppercase;
}
.product-addto-links .action.towishlist,.product-addto-links .action.tocompare,.product-social-links .action.mailto.friend {
    width: 43px;
    height: 43px;
    line-height: 41px;
    color: #302e2a;
}



.review-ratings .rating-label {
    display: block;
}
.modes {
    float: right;
    margin-right: 0;
    margin-left: 20px;
    margin-top: 7px;
}
.modes-mode:before {
    content: '\e880';
    font-size: 14px;
}
.mode-list:before {
    content: '\e87b';
    font-size: 14px;
}
.products.wrapper ~ .toolbar .limiter {
    float: left;
}
.products.wrapper ~ .toolbar .pages {
    float: right;
}
.block-category-list .block-title, .filter-options-title, .filter .filter-current-subtitle {
    padding-left: 0;
    padding-right: 0;
}
.swatch-option.text {
    font-weight: 400;
}
.catalog-category-view .column.main .products-grid {
    padding-top: 20px;
}

.page-header.type2.header-newskin .minicart-wrapper .block-minicart:after {
    right: 17px !important;
}
.page-header.type2.header-newskin .minicart-wrapper .block-minicart:before {
    right: 18px !important;
}
header.page-header.type2 a.action.my-wishlist {
    /*display: inline-block;*/
display:none;
}
.products-grid .product-item .product-item-info .weltpixel-quickview.weltpixel_quickview_button_v2 {
    font-family: inherit;
    letter-spacing: 0;
    font-weight: 600;
}
@media (min-width: 768px) {
.page-header.type2.header-newskin > .main-panel-top {
    padding: 1px 0;
    border-bottom: 1px solid #f3f0f0;
}
.page-header.type2.header-newskin .panel.header .header.links > li:after {
    border-right:2px solid #e7e7e7;
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 1px;
    height: 20px;
    margin-top: -1px;
    opacity: .8;
}
.page-header.type2.header-newskin .panel.header .header.links > li:last-child:after {
    border: 0;
}
.page-header.type2.header-newskin .panel.header .switcher {
    padding: 0 16px;
    /*border-left: 1px solid #e7e7e7;*/
}
.page-header.type2.header-newskin .panel.header > .action.skip + .switcher {
    border: 0;
    padding-left: 0;
}
}

.page-wrapper > .breadcrumbs .items{
padding: 0px 9px;
}
.product-item-info{
text-align: left;
}
/*.products.wrapper .product-item .qty-box {
    display: block;
    width: 88px;
    margin: 0 auto 5px 30px;
}*/
.products-grid .product-item-details .notification-section.product-item-actions {
margin:0px;
margin-top:9px;
}
.product-item .tocart{
    padding: 0px 6px;
    height: 30px;
}
.page-header.header-newskin .minicart-wrapper .action.showcart:before{
content:''!important;
}
.page-header.header-newskin .minicart-wrapper .action.showcart:after{
content:''!important;
}
button.view-price:hover{
color:#FF7200;
background-color:#ebebeb !important;
display: block;
border:none;
}
button.view-price{
color:#FFF;background-color:#FF7200 !important;display: block;
    
}
.product-image-photo{
position:inherit;
}
strong.product.name.product-item-name1 {
    /*min-height: 70px;*/
    display: block;
}
.nav-sections, .rootmenu{
z-index: 999;
}
.modal-popup{
z-index:9999 !important;
}
.modals-overlay{
z-index:9998 !important;
}



