<div class="prar-no-review">
  <strong><?= __('No reviews yet ...') ?></strong>
  <span><?= __('Have an opinion? Help others decide. Share your knowledge about this product by submitting a review.') ?></span>
</div>