<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var $block \Plumrocket\AdvancedReviewAndReminder\Block\ReviewHeader\Recommendations */?>

<?php if ($block->showReviewHeader() && $block->getRecommend()) : ?>
    <div class="prar-recommend">
        <h2 class="prar-recommend-title">
            <strong><?=$block->getRecommend()?>%</strong>
            <span><?= __('would recommend to a friend.') ?></span>
        </h2>
    </div>
<?php endif; ?>
