<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var $block \Plumrocket\AdvancedReviewAndReminder\Block\ReviewHeader\Summary */?>

<?php if ($block->showReviewHeader() && $block->getRating()) : ?>
<div class="prar-rating">
    <div class="rating-summary prar-rat-sum">
        <span class="prar-stars-amount">
            <?= __('%1', $block->getRating())?>
            <span>
                <?= __('out of 5')?>
            </span>
        </span>
        <div class="rating-result" title="<?= $block->getRatingSummary()?>%">
            <span style="width: <?= $block->getRatingSummary()?>%"></span>
        </div>
        <a class="prar-all-rev-link" href="<?= $block->getAllReviewsUrl() ?>"><?php echo __('(%1 Reviews)', $block->getReviewsCount());?></a>
        <button class="prar-btn" data-pr-action="show-review-form">
            <?= __('Write a review') ?>
        </button>
    </div>
</div>
<?php endif; ?>
