<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Magento\Review\Block\Product\View\ListView $block */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */

$_items = $block->getReviewsCollection()->getItems();
$format = $block->getDateFormat() ?: \IntlDateFormatter::SHORT;
?>
<?php if (count($_items)): ?>
<div class="block review-list" id="customer-reviews">
    <?php if (!$block->getHideTitle()): ?>
        <div class="block-title">
            <strong><?= $block->escapeHtml(__('Customer Reviews')) ?></strong>
        </div>
    <?php endif ?>
    <div class="block-content">
        <div class="toolbar review-toolbar">
            <?= $block->getChildHtml('toolbar') ?>
        </div>
        <ol class="items review-items">
        <?php foreach ($_items as $_review): ?>
            <li class="item review-item" itemscope itemprop="review" itemtype="http://schema.org/Review">
               


                <?php if (count($_review->getRatingVotes())): ?>
                    <div class="review-ratings">
                    <?php foreach ($_review->getRatingVotes() as $_vote): ?>
                    <div class="rating-summary item"
                         itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
                        <!-- <span class="label rating-label">
                            <span><? // $block->escapeHtml($_vote->getRatingCode()) ?></span>
                        </span> -->
                        <div class="comtabsrat">
                        <div class="rating-result"
                             id="review_<?= /* @noEscape */ $_review->getReviewId()
                                ?>_vote_<?= /* @noEscape */ $_vote->getVoteId() ?>"
                             title="<?= $block->escapeHtmlAttr($_vote->getPercent()) ?>%">
                            <meta itemprop="worstRating" content = "1"/>
                            <meta itemprop="bestRating" content = "100"/>
                            <span>
                                <span itemprop="ratingValue"><?= $block->escapeHtml($_vote->getPercent()) ?>%</span>
                            </span>

                        </div>
                        <div class="prtyqwe"><span class="verfied">Verified Purchase</span></div>
                        </div>
                        <?= /* @noEscape */ $secureRenderer->renderStyleAsTag(
                            'width:' . $_vote->getPercent() . '%',
                            'div#review_' . $_review->getReviewId() . '_vote_' . $_vote->getVoteId() . ' span'
                        ) ?>
                    </div>
                    <?php endforeach; ?>
                    </div>
                <?php endif; ?>

                 <div class="review-title" itemprop="name"><?= $block->escapeHtml($_review->getTitle()) ?></div>

                <div class="review-content" itemprop="description">
                    <?= /* @noEscape */ nl2br($block->escapeHtml($_review->getDetail())) ?>
                </div>
                <div class="review-details">
                    <!-- <p class="review-author">
                        <span class="review-details-label"><?php // $block->escapeHtml(__('Review by')) ?></span>
                        <strong class="review-details-value"
                                itemprop="author"><?php // $block->escapeHtml($_review->getNickname()) ?></strong>
                    </p> -->
                    <p class="review-date">
                        <span class="review-details-label"><?= $block->escapeHtml(__('Posted on')) ?></span>
                        <time class="review-details-value"
                              itemprop="datePublished"
                              datetime="<?= $block->escapeHtmlAttr($block->formatDate(
                                  $_review->getCreatedAt(),
                                  $format
                              )) ?>"><?= $block->escapeHtml($block->formatDate($_review->getCreatedAt(), $format)) ?>
                        </time>
                    </p>
                </div>
            </li>
        <?php endforeach; ?>
        </ol>
        <div class="toolbar review-toolbar">
            <?= $block->getChildHtml('toolbar') ?>
        </div>
    </div>
</div>
<?php endif;?>
