<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/** @var \Amasty\ShopbyBase\Model\FilterSetting $filterSetting */
/** @var \Amasty\Shopby\Model\Layer\Filter\Item $filterItem */
/** @var \Amasty\Shopby\Block\Navigation\FilterRenderer\Category $block */
/** @var \Amasty\Shopby\Model\Layer\Filter\CategoryItems $filterItems */
$filterItems = $block->getFilter()->getItems();
$categoryHelper = $block->getCategoryHelper();
$filterSetting = $block->getFilterSetting();
$filterSubcategoriesView = $block->isFolding();
$filterSubcategoriesType = $filterSubcategoriesView
    ? "amShopbyFilterCategoryLabelsFolding"
    : 'amShopbyFilterCategoryFlyOut';
$filterFoldingClass = $filterSubcategoriesView ? '-folding' : '';
$isParent = $block->isParent($filterItems, $block->getPath());
$notShowCategories = ['Parts','Accessories','Devices'];

$filterPathItems = $filterItems->getItems($block->getPath());
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
//$category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category

?>

<?php if (count($filterPathItems)): ?>
    <?php foreach ($filterPathItems as $filterItem): ?>
        <?php if($filterItem->getOptionLabel() == "Accessories" || $filterItem->getOptionLabel() == "Devices"): ?>
            <?php continue; ?>
            <?php endif; ?>
        <?php $currentPath = ($block->getPath() ?: $filterItems->getStartPath()). '/'
            . $filterItem->getValueString();
        ?>
        <li class="item
            <?php if ($filterItems->getItemsCount($currentPath)): ?>
                <?= "-is-collapsible"; ?>
            <?php endif; ?>
            <?php if ($block->getFilter()->getItemsCount($currentPath)): ?>
                <?= "-filter-parent"; ?>
            <?php endif; ?>"
            data-label="<?= /* @noEscape */ $block->stripTags($filterItem->getOptionLabel()) ?>">
          

            <?php if ($filterItem->getCount() > 0 && !(in_array($filterItem->getOptionLabel(),$notShowCategories))): ?>
                <input  class="am-input"
                        name="amshopby[<?= $block->escapeHtml($block->getFilter()->getRequestVar()); ?>][]"
                        value="<?= $block->escapeHtml($filterItem->getValueString()); ?>"
                        type="<?= /* @noEscape */ $block->getInputType(); ?>"
                    <?= /* @noEscape */ $block->checkedFilter($filterItem) ? ' checked' : ''; ?>
                />
                <?php if($filterItems->getItemsCount($currentPath)): ?>
                <a class="<?= /* @noEscape */ ($isParent) ? 'amshopby-filter-parent' : '' ?>"
                href="javascript:void(0)">
                <?php else: ?>
                    <a class="amshopby-filter-child am-filter-item-<?= /* @noEscape */ $block->escapeId(uniqid()) ?>"
                    data-am-js='filter-item-category-<?= /* @noEscape */ $filterSubcategoriesType ?>'
                    href="<?= /* @noEscape $categoryHelper->getCategoryUrlYh(*/ $filterItem->getUrl() ?>"
                    <?= /* @noEscape */ $filterItem->isAddNofollow() ? ' rel="nofollow"' : '' ?>
                >
                <?php endif; ?>
            <?php endif; ?>
          
            <?php if ($block->getFilter()->useLabelsOnly() && !(in_array($filterItem->getOptionLabel(),$notShowCategories))): ?>
                <?php $level = $block->getLevel();?>
                <span class="label" <?php echo ($level == 2) ? 'style="text-transform: uppercase;font-size: 16px;margin-bottom: 8px;color:#000;width: 100%"' : 'style="width: 100%;"' ?> ><?= /* @noEscape */ $filterItem->getOptionLabel() ?>
                    <?php if ($block->isExpandByClick($currentPath) && !(in_array($filterItem->getOptionLabel(),$notShowCategories))): ?>
                        <span class="am-collapse-icon"></span>
                    <?php endif; ?>
                </span>
            <?php else: ?>
                <?php if ($block->isShowThumbnail($filterItem->getValue())): ?>
                    <img src="<?= /* @noEscape */ $categoryHelper->getCategoryImageUrl($filterItem->getValue()) ?>"
                         class="am-category-image"
                         title="<?= $block->escapeHtml($filterItem->getOptionLabel()); ?>"
                         alt="<?= $block->escapeHtml($filterItem->getOptionLabel()); ?>"
                         height="<?= /* @noEscape */ $categoryHelper->getCategoryFilterImageSize(); ?>"
                         width="<?= /* @noEscape */ $categoryHelper->getCategoryFilterImageSize(); ?>"/>
                <?php endif; ?>
                <?php if ($block->getFilter()->useLabelsAndImages()): ?>
                    <span class="label"><?= /* @noEscape */ $filterItem->getOptionLabel() ?></span>
                <?php endif; ?>
            <?php endif; ?>

            <?php if ($block->getFilterSetting()->isShowProductQuantities()): ?>
                <span class="count"><?= /* @noEscape */ $filterItem->getCount(); ?><span class="filter-count-label">
                        <?php $title = ($filterItem->getCount() == 1) ? __('item') : __('items'); ?><?= $block->escapeHtml($title) ?></span></span>
            <?php endif; ?>

            <?php if ($filterItem->getCount() > 0): ?>
                </a>
            <?php endif; ?>
            <?php if ($filterItems->getItemsCount($currentPath)): ?>
                <?php $level = $block->getLevel();?>
                <?php /*if($filterItem->getOptionLabel() == "Other Models"){
                    echo "<pre>";print_r($currentPath);
                } */ ?>
                <ul class="items items-children level-<?= /* @noEscape */ $level . ' ' . $filterFoldingClass; ?>">
                    <?= /* @noEscape */ $block->renderChildrenItems($currentPath); ?>
                </ul>
            <?php endif; ?>
        </li>
    <?php endforeach; ?>

    <script type="text/x-magento-init">
        {
            "[data-am-js='filter-item-category-<?= /* @noEscape */ $filterSubcategoriesType ?>']": {
                "<?= /* @noEscape */ $filterSubcategoriesType ?>" : {
                    "collectFilters": <?= /* @noEscape */ $block->collectFilters(); ?>
                }
            }
        }
    </script>
<?php endif; ?>

