<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CompanyCredit
 * @author     Extension Team
 * @copyright  Copyright (c) 2020 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
// @codingStandardsIgnoreFile

/** @var $block Magento\Backend\Block\Widget\Form\Renderer\Fieldset */
?>

<div class="entry-edit">
    <fieldset id="companycredit_history" class="fieldset admin__fieldset">
        <legend class="legend">
            <span><?= $block->escapeHtml(('Log Transaction')); ?></span>
        </legend>
        <?= $block->getLayout()
            ->createBlock(Bss\CompanyCredit\Block\Adminhtml\Edit\Tab\CompanyCredit\History::class)
            ->toHtml();
        ?>
    </fieldset>
</div>

