<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Customer\Helper\Address;

/** @var \Magento\Customer\Block\Form\Register $block */
/** @var \Magento\Framework\Escaper $escaper */
/** @var \Magento\Framework\View\Helper\SecureHtmlRenderer $secureRenderer */

/** @var Magento\Customer\Helper\Address $addressHelper */
$addressHelper = $block->getData('addressHelper');
/** @var \Magento\Directory\Helper\Data $directoryHelper */
$directoryHelper = $block->getData('directoryHelper');
$formData = $block->getFormData();
?>
<?php $cityValidationClass = $addressHelper->getAttributeValidationClass('city'); ?>
<?php $postcodeValidationClass = $addressHelper->getAttributeValidationClass('postcode'); ?>
<?php $regionValidationClass = $addressHelper->getAttributeValidationClass('region'); ?>
<?php $displayAll = $block->getConfig('general/region/display_all'); ?>
<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>
<?php $_streetValidationClass = $addressHelper->getAttributeValidationClass('street'); ?>
<form class="form-create-account"
      action="<?= $escaper->escapeUrl($block->getPostActionUrl()) ?>"
      method="post"
      id="form-validate"
      enctype="multipart/form-data"
      autocomplete="off" data-mage-init='{"validation":{}}'>
      <div class="form create account" style="overflow:hidden">
    <?= /* @noEscape */ $block->getBlockHtml('formkey') ?>
    <fieldset class="fieldset full_width_fieldset">
        <legend class="legend"><span><?= $escaper->escapeHtml(__('Company Information')) ?></span></legend>
        
        <div class="field company_name required" style="margin:0">
            <label for="company_name" class="label"><span><?= __('Company Name') ?></span></label>
            <div class="control">
                <input type="text" name="company_name" placeholder="Search or Enter Company Name" id="company_name" title="Company Name" class="input-text" data-validate="{required:true}" autocomplete="off" aria-required="true">
                <input type="hidden" name="company" id="company">
            </div>
        </div>
        <div style="display:none" id ="company_message" class="company_message"><?= __('This data was fetched from Google Maps. If any data is not matching to your address, you can change it manually.') ?></div>
    </fieldset>
    <fieldset class="fieldset create info full_width_middle_fieldset" style="margin:0">
        <input type="hidden" name="success_url" value="<?= $escaper->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $escaper->escapeUrl($block->getErrorUrl()) ?>">
     
        <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
        <?php if ($_dob->isEnabled()): ?>
            <?= $_dob->setDate($formData->getDob())->toHtml() ?>
        <?php endif ?>
       
        <div class="field street_address required">
            <label for="street_1" class="label">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span>
            </label>
                <input type="text"
                name="street[]"
                value="<?= $escaper->escapeHtmlAttr($formData->getStreet(0)) ?>"
                title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?>"
                id="street_1"
                class="input-text <?= $escaper->escapeHtmlAttr($_streetValidationClass) ?>">
        </div>
        <input type="hidden" name="create_address" value="1" />
        <?php /* $_company = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Company::class) ?>
        <?php if ($_company->isEnabled()): ?>
            <?= $_company->setCompany($formData->getCompany())->toHtml() ?>
        <?php endif */ ?>
        <?php $_fax = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Fax::class) ?>
        <?php if ($_fax->isEnabled()): ?>
            <?= $_fax->setFax($formData->getFax())->toHtml() ?>
        <?php endif ?>
        <div class="field street required">
            
            <div class="control">
                <div class="nested">
                    <?php
                        $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass));
                        $streetLines = $addressHelper->getStreetLines();
                    ?>
                    <?php for ($_i = 2, $_n = $streetLines; $_i <= $_n; $_i++): ?>
                        <div class="field" style="font-size: 14px;">
                            <label class="label" style="margin-bottom: 8px;" for="street_<?= /* @noEscape */ $_i ?>">
                                <span><?= $escaper->escapeHtml(__('Street Address'))." ".$_i ?></span>
                            </label>
                            <div class="control">
                                <input type="text"
                                        name="street[]"
                                        value="<?= $escaper->escapeHtml($formData->getStreetLine($_i - 1)) ?>"
                                        title="<?= $escaper->escapeHtmlAttr(__('Street Address %1', $_i)) ?>"
                                        id="street_<?= /* @noEscape */ $_i ?>"
                                        class="input-text <?= $escaper->escapeHtmlAttr($_streetValidationClass) ?>">
                            </div>
                        </div>
                    <?php endfor; ?>
                </div>
            </div>
        </div>
        <div class="field required">
            <label for="city" class="label">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span>
            </label>
            <div class="control">
                <input type="text"
                        name="city"
                        value="<?= $escaper->escapeHtmlAttr($formData->getCity()) ?>"
                        title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>"
                        class="input-text <?= $escaper->escapeHtmlAttr($cityValidationClass) ?>"
                        id="city">
            </div>
        </div>
        <div class="field region required">
            <label for="region_id" class="label">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span>
            </label>
            <div class="control">
                <select id="region_id"
                        name="region_id"
                        title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                        class="validate-select region_id">
                    <option value="">
                        <?= $escaper->escapeHtml(__('')) ?>
                    </option>
                </select>
                <?= /* @noEscape */ $secureRenderer->renderStyleAsTag("display: none;", 'select#region_id') ?>
                <input type="text"
                        id="region"
                        name="region"
                        value="<?= $escaper->escapeHtml($block->getRegion()) ?>"
                        title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>"
                        class="input-text <?= $escaper->escapeHtmlAttr($regionValidationClass) ?>">
                <?= /* @noEscape */ $secureRenderer->renderStyleAsTag("display: none;", 'input#region') ?>
            </div>
        </div>
        <div class="field country required">
            <label for="country" class="label">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span>
            </label>
            <div class="control">
                <?= $block->getCountryHtmlSelect() ?>
            </div>
        </div>
        <div class="field zip required">
            <label for="zip" class="label">
                <span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span>
            </label>
            <div class="control">
                <input type="text"
                        name="postcode"
                        value="<?= $escaper->escapeHtmlAttr($formData->getPostcode()) ?>"
                        title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>"
                        id="zip"
                        class="input-text validate-zip-international
                        <?= $escaper->escapeHtmlAttr($postcodeValidationClass) ?>">
            </div>
        </div>
        <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes): ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
            <?php endif;?>
            <!-- Currency Field -->
            <div class="field customer_cuurency required">
                <label for="customer_cuurency" class="label"><span>Currency</span></label>
                <div class="control">
                    <select id="customer_cuurency" name="customer_cuurency" title="Currency" data-validate="{required:true}" aria-required="true">
                            <option value="" selected="selected">Please Select</option>
                            <option value="CAD">CAD</option>
                            <option value="USD">USD</option>
                    </select>
                </div>
            </div>
            <div class="field business_type required">
                <label for="business_type" class="label"><span>Business Type</span></label>
                <div class="control">
                    <select id="business_type" name="business_type" title="Business Type" data-validate="{required:true}" aria-required="true">
                        <option value="" selected="selected">Please Select</option>
                        <option value="Franchisee Retail Store">Franchisee Retail Store</option>
                        <option value="Independent Retail Store">Independent Retail Store</option>
                        <option value="Insurance">Insurance</option>
                        <option value="Refurbishing / Repair Facility">Refurbishing / Repair Facility</option>
                        <option value="Reseller">Reseller</option>
                        <option value="School Board / Government">School Board / Government</option>
                        <option value="Warranty Centre">Warranty Centre</option>
                        <option value="Wireless Carrier">Wireless Carrier</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>
        <!-- Phone number Field -->
        <?php $_telephone = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Telephone::class) ?>
        <?php if ($_telephone->isEnabled()): ?>
            <div class="field telephone required">
                <label for="telephone" class="label">
                    <span>Phone Number</span>
                </label>
                <div class="control">
                    <input type="tel" name="telephone" id="telephone" value="" title="Phone Number" class="input-text" data-validate="{'required':true,'validate-custom-number':true}" aria-required="true">
                </div>
            </div>
            <input type="hidden" name="customer_phone" id="customer_phone">
            <?php // $_telephone->setTelephone($formData->getTelephone())->toHtml() ?>
        <?php endif ?>
        
        <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
        <?php if ($_taxvat->isEnabled()): ?>
            <?= $_taxvat->setTaxvat($formData->getTaxvat())->toHtml() ?>
        <?php endif ?>
            <input type="hidden" name="default_billing" value="1">
            <input type="hidden" name="default_shipping" value="1">
        <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
        <?php if ($_gender->isEnabled()): ?>
            <?= $_gender->setGender($formData->getGender())->toHtml() ?>
        <?php endif ?>
        <?php //echo $block->getChildHtml('form_additional_info') ?>
    </fieldset>
    <?php /*if ($block->getShowAddressFields()): ?>
       
       
        <fieldset class="fieldset address">
            <legend class="legend" style="display:none"><span><?= $escaper->escapeHtml(__('Address Information')) ?></span></legend>
            
            

            
        </fieldset>

    <?php endif;*/ ?>
    </div><!-- ends DIV of class -- .form.create.account -->
    <div class="form create account" style="overflow:hidden;margin-top:40px;margin-bottom:40px;">
        <legend class="legend personal_info_legend"><span><?= $escaper->escapeHtml(__('Personal/Login Information')) ?></span></legend>
        <fieldset class="fieldset login_section_fieldset">
            
            <?= $block->getLayout()
                    ->createBlock(\Magento\Customer\Block\Widget\Name::class)
                    ->setObject($formData)
                    ->setForceUseCustomerAttributes(true)
                    ->toHtml() ?>
           <div class="field required">
                <label for="email_address" class="label"><span><?= $escaper->escapeHtml(__('Email Address')) ?></span></label>
                <div class="control">
                    <input type="email"
                        name="email"
                        autocomplete="email"
                        id="email_address"
                        value="<?= $escaper->escapeHtmlAttr($formData->getEmail()) ?>"
                        title="<?= $escaper->escapeHtmlAttr(__('Email Address')) ?>"
                        class="input-text"
                        data-mage-init='{"mage/trim-input":{}}'
                        data-validate="{required:true, 'validate-email':true}">
                </div>
            </div>
            <div class="field mobile_number required">
                <label for="mobile_number" class="label"><span>Mobile Number</span></label>
                <div class="control">
                    <input type="text" name="mobile_number" id="mobile_number" title="Mobile Number" class="input-text " data-validate="{'required':true,'validate-custom-number':true}" autocomplete="off" aria-required="true">
                </div>
            </div>
            <!-- START Password Section -->
            <div class="field password required" style="margin-bottom:10px">
                <label for="password" class="label"><span><?= $escaper->escapeHtml(__('Password')) ?></span></label>
                <div class="control">
                    <input type="password" name="password" id="password"
                        title="<?= $escaper->escapeHtmlAttr(__('Password')) ?>"
                        class="input-text"
                        data-password-min-length="<?=
                            $escaper->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                        data-password-min-character-sets="<?=
                            $escaper->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                        data-validate="{required:true, 'validate-customer-password':true}"
                        autocomplete="off">
                    <?php /*<div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                        <div id="password-strength-meter" class="password-strength-meter">
                            <?= $escaper->escapeHtml(__('Password Strength')) ?>:
                            <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                                <?= $escaper->escapeHtml(__('No Password')) ?>
                            </span>
                        </div>
                    </div>*/ ?>
                </div>
            </div>
            <div class="field confirmation required" style="margin-bottom:10px">
                <label for="password-confirmation" class="label">
                    <span><?= $escaper->escapeHtml(__('Confirm Password')) ?></span>
                </label>
                <div class="control">
                    <input type="password"
                        name="password_confirmation"
                        title="<?= $escaper->escapeHtmlAttr(__('Confirm Password')) ?>"
                        id="password-confirmation"
                        class="input-text"
                        data-validate="{required:true, equalTo:'#password'}"
                        autocomplete="off">
                </div>
            </div>
        <!-- END Password Section -->       
        </fieldset>
    </div><!-- ends DIV of class -- .form.create.account -->
    <div class="form create account" style="overflow:hidden;margin-bottom:30px;">
        <fieldset class="fieldset full_width_fieldset">
            <div class="field sales_rep ">
                <label for="sales_rep" class="label"><span><?= __('If you have spoken to a member of our sales team, please enter his/her name') ?></span></label>
                <div class="control">
                    <input type="text" name="sales_rep" id="sales_rep" value="" title="Sales Rep" class="input-text " autocomplete="off">
                </div>
            </div>
        </fieldset>
    </div>
    <fieldset class="fieldset full_width_fieldset">
        <legend class="legend" style="font-size: 24px;font-weight: 600;"><span><?= __('Disclaimer and Agreement')?></span></legend>
        <label for="agreement" class="label" style="font-weight: 400;font-size: 17px;">
                    <span><?= $escaper->escapeHtml(__('Please note we are a wholesale business-to-business company. As such, we do not sell to individual end users. We apologize for any inconvenience,
                    however as a wholesale company our policy is to not compete with the valued customers we serve. Orders placed using invalid accounts 
                    may be subject to cancellation. Please do not hesitate to contact us if you would like further clarification or assistance.')) ?>
                 </span>
        </label>
    </fieldset>
    <fieldset class="fieldset create_account_aggrement_section">
        <div class="field required">
            <div class="control">
                <input type="checkbox" id="tcagreecreateaccount" name="tcagreecreateaccount" data-validate="{required:true}" class="input-checkbox checkbox required" value="1">
                <label for="tcagreecreateaccount" class="label"  style="font-size: 1.6rem;">
                    <?= __("I agree to the <a href='javascript:void(0)'>Terms & Conditions</a> and <a href='javascript:void(0)'>Privacy Policy</a>") ?>
                </label>
            </div>
        </div>

    <?php //if ($block->isNewsletterEnabled()): ?>
        <div class="field choice newsletter">
            <input type="checkbox"
                    name="is_subscribed"
                    title="<?= $escaper->escapeHtmlAttr(__('Newsletter Signup')) ?>"
                    value="1"
                    id="is_subscribed"
                    class="checkbox">
            <label for="is_subscribed" class="label" style="font-size: 1.6rem;">
                <?= $escaper->escapeHtml(__('Newsletter Signup')) ?>
            </label>
        </div>
        <?php /* Extensions placeholder */ ?>
        <?php // echo $block->getChildHtml('customer.form.register.newsletter') ?>
    <?php //endif ?>
    </fieldset>
    <fieldset class="fieldset captcha" style="clear:both">
    <?= $block->getChildHtml('customer_create_google_captcha') ?>
    <?php //echo $block->getChildHtml('form_additional_info') ?>
    </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit"
                    class="action submit primary"
                    title="<?= $escaper->escapeHtmlAttr(__('Submit')) ?>">
                <span><?= $escaper->escapeHtml(__('Submit')) ?></span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back"
               href="<?= $escaper->escapeUrl($block->getBackUrl()) ?>">
                <span><?= $escaper->escapeHtml(__('Back')) ?></span>
            </a>
        </div>
    </div>

</form>
<?php $ignore = /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null';
$scriptString = <<<script
require([
    'jquery',
    'mage/mage'
], function($){

    var dataForm = $('#form-validate');
    var ignore = {$ignore};
    jQuery('#company_name').keyup(function(e) {
        var txtVal = jQuery(this).val();
        jQuery('#company').val(txtVal);
     }); 
     jQuery('#telephone').keyup(function(e) {
        var txtVal = jQuery(this).val();
        jQuery('input[name="customer_phone"]').val(txtVal);
     });
     jQuery('#telephone').on("focusout blur", function (e) {
        var telephone = $.trim(jQuery(this).val().replace(/\D+/g, ""));
        if(telephone.length == 10){
            var parts = telephone.match(/^\(?(\d{3})\D*(\d{3})\D*(\d{4})$/);
            //output.value='('+parts[1]+')-'+parts[2]+'-'+parts[3];
        jQuery(this).val('('+parts[1]+') '+parts[2]+'-'+parts[3]);
        jQuery("#customer_phone").val('('+parts[1]+') '+parts[2]+'-'+parts[3]);
        }
     });
     jQuery('#mobile_number').on("focusout blur", function (e) {
        var telephone = $.trim(jQuery(this).val().replace(/\D+/g, ""));
        if(telephone.length == 10){
            var parts = telephone.match(/^\(?(\d{3})\D*(\d{3})\D*(\d{4})$/);
            //output.value='('+parts[1]+') '+parts[2]+'-'+parts[3];
        jQuery(this).val('('+parts[1]+') '+parts[2]+'-'+parts[3]);
        }
     });
    jQuery('input').keyup(function() {
			var input_length = $.trim(jQuery(this).val());
			if(input_length == ""){
				jQuery(this).validation();
				//console.log(!jQuery(this).validation('isValid'));
				if(!jQuery(this).validation('isValid')){
					$("#form-validate").find('button[type="submit"]').attr('disabled', 'disabled');
					return false;
				}else{
					$("#form-validate").find('button[type="submit"]').prop('disabled', false);
				}
			}else{	
			    jQuery(this).validation();
                if(jQuery(this).validation('isValid')){
                    $("#form-validate").find('button[type="submit"]').prop('disabled', false);
                }
			}
      });

    dataForm.mage('validation', {
script;
if ($_dob->isEnabled()):
    $scriptString .= <<<script
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
script;
else:
    $scriptString .= <<<script
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
script;
endif;
$scriptString .= <<<script
    }).find('input:text').attr('autocomplete', 'off');
    dataForm.submit(function () {
        $(this).find(':submit').attr('disabled', 'disabled');
    });
    dataForm.bind("invalid-form.validate", function () {
        $(this).find(':submit').prop('disabled', false);
    });

});
script;
?>
<?= /* @noEscape */ $secureRenderer->renderTag('script', [], $scriptString, false) ?>
<?php if ($block->getShowAddressFields()): ?>
    <?php
    $regionJson = /* @noEscape */ $directoryHelper->getRegionJson();
    //print_r($regionJson);die();
    $regionId = (int) $formData->getRegionId();
    $countriesWithOptionalZip = /* @noEscape */ $directoryHelper->getCountriesWithOptionalZip(true);
    ?>
<script type="text/javascript">
require([
'jquery', // jquery Library
'jquery/ui', // Jquery UI Library
'jquery/validate', // Jquery Validation Library
'mage/translate' // Magento text translate (Validation message translte as per language)
], function($){ 
$.validator.addMethod(
'validate-custom-number', function (value) { 
    var telephone = $.trim(value);
    if(telephone.length > 0){
        var plainNumber = telephone.replace(/\D+/g, "");
        var re = new RegExp("^[\\d() +-]+$");
       if(re.test(telephone) && plainNumber.length == 10){
        $("#form-validate").find('button[type="submit"]').prop('disabled', false);
       }else{
        $("#form-validate").find('button[type="submit"]').attr('disabled', 'disabled');
       }
        return (re.test(telephone) && plainNumber.length == 10);
    }else{
        return true; // Validation logic here
    }

}, $.mage.__('Please enter a valid number.'));
});
</script>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $displayAll ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                "defaultRegion": "{$regionId}",
                "countriesWithOptionalZip": <?= /* @noEscape */ $countriesWithOptionalZip ?>
            }
        }
    }
</script>
<?php endif; ?> 
<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>
<script>

    (function () {
        if ( typeof window.CustomEvent === "function" ) return false;

        function CustomEvent ( event, params ) {
            params = params || { bubbles: false, cancelable: false, detail: undefined };
            var evt = document.createEvent( 'CustomEvent' );
            evt.initCustomEvent( event, params.bubbles, params.cancelable, params.detail );
            return evt;
        }

        CustomEvent.prototype = window.Event.prototype;
        window.CustomEvent = CustomEvent;
    })();

    var placeSearch, autocomplete;
    var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        subpremise:'long_name',
        neighborhood: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'long_name',
        country: 'short_name',
        postal_code: 'short_name',
        postal_town: 'short_name',
        sublocality_level_1: 'short_name'
    };

    var lookupElement = {
        street_number: 'company_name',
        route: 'street_2',
        locality: 'city',
        administrative_area_level_1: 'region',
        country: 'country',
        postal_code: 'zip'
    }

    function initAutocomplete() {
        var enabled = '1';
        if(enabled) {
            var input = document.getElementById('company_name');
            //input.addEventListener('focus', geolocate, true);

            autocomplete = new google.maps.places.Autocomplete(
                /** @type {!HTMLInputElement} */(document.getElementById('company_name')),
                );

            autocomplete.addListener('place_changed', fillInAddress);
            
        }
    }
    function validationOnAddressFieldsAfterAutcomplete(){
        require([
            'jquery',
            'mage/mage'
        ], function($){
            addressInputFields = ['street_1','city','zip','telephone'];
            var i;
            for (i = 0; i < addressInputFields.length; i++) {
                jQuery("#"+addressInputFields).validation();
                if(!jQuery("#"+addressInputFields).validation('isValid')){
					$("#form-validate").find('button[type="submit"]').attr('disabled', 'disabled');
					return false;
				}else{
					$("#form-validate").find('button[type="submit"]').prop('disabled', false);
				}
            }
        });
     }
    function fillInAddress() {
        var place = autocomplete.getPlace();
        document.getElementById('company_name').value = place.name;
        var street = [];
        var region  = '';
        var city = '';
        for (var i = 0; i < place.address_components.length; i++) {
            var addressType = place.address_components[i].types[0];
            if (componentForm[addressType]) {
                var val = place.address_components[i][componentForm[addressType]];
                
                if(addressType == 'street_number') {
                    street[0] = val;
                }
                else if(addressType == 'route') {
                    street[1] = val;
                }
                else if(addressType == 'subpremise'){
                    street[2] = val;
                }
                else if (addressType == 'administrative_area_level_1') {
                    region = val;
                }
                else if (addressType == 'sublocality_level_1') {
                    city = val;
                }
                else if (addressType == 'postal_town') {
                    city = val;
                }
                else if (addressType == 'neighborhood' && city == '') {
                    //ignore if we are using one of other city values already
                    city = val;
                   
                }
                else if (addressType == 'locality' && city == '') {
                    //ignore if we are using one of other city values already
                    city = val;
                   
                }
                else {
                    var elementId = lookupElement[addressType];
                    document.getElementById(elementId).value = val;
                    if(addressType == 'country') {
                        document.getElementById(elementId).dispatchEvent(new  window.CustomEvent('change'));
                    }
                }
            }
        }
        if(street.length > 0) {
            document.getElementById('street_1').value =street.join(' ');
        }
        document.getElementById('city').value = city;
        var tel = place.formatted_phone_number;
        document.getElementById('telephone').value = tel;
        if(region != '') {
            if(document.getElementById('region_id')) {
                var regionSelector = document.getElementById('region_id');
                for (i = 0; i < regionSelector.length; i++) {
                    if(regionSelector.options[i].text === region)
                    {
                        regionSelector.selectedIndex = i;
                        break;
                    }
                }
            }
            if(document.getElementById('region')) {
                document.getElementById('region').value = region;

            }


        }
       var companyMessage = document.getElementById('company_message').style.display; 
        if(companyMessage == "none")
            document.getElementById('company_message').style.display = 'block';
            validationOnAddressFieldsAfterAutcomplete();
            document.getElementById("company").value = document.getElementById('company_name').value;
            document.getElementById("customer_phone").value = document.getElementById('telephone').value;
    }

</script>
<script type="text/javascript"
    async defer src="https://maps.googleapis.com/maps/api/js?libraries=places&fields=formatted_address,name,place_id&key=AIzaSyAGtt_0lRHcsvzQT0UyHhUgaefWD6SaouU&callback=initAutocomplete"></script>