<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<tr class="totals sub">
    <th class="mark" colspan="1">Summary</th>
    <td class="amount" data-th="Subtotal">
        <span class="price" data-bind="text: getValue()"></span>
    </td>
</tr>
