<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<div class="checkout-success">
<h1><?= $block->escapeHtml(__('Thank you for your order!')) ?></h1>
    <?php if ($block->getOrderId()) : ?>
        <?php if ($block->getIsOrderStorePickup()->execute()) : ?>
            <p><?= $block->escapeHtml(__('We\'ll email you an order and pick-up confirmation with details.')) ?></p>
        <?php else : ?>
            <p class="check-class"><?= $block->escapeHtml(__('We will begin processing it immediately!')) ?></p>
            <p class="check-class2"><?= $block->escapeHtml(__('Your order confirmation will be emailed to you.Please allow up to 5 minutes to receive it.')) ?></p>
        <?php endif; ?>
    <?php endif; ?>

    <?= $block->getAdditionalInfoHtml() ?>
    <div class="child-content">
        <p class="text">Having trouble?</p>
        <div class="contact-us"><a href="#">Contact us</a></div>
    </div>
    <div class="actions-toolbar">
        <div class="primary">
            <a class="action primary continue"
               href="<?= $block->escapeUrl($block->getContinueUrl()) ?>"><span><?= $block->escapeHtml(__('Continue to homepage')) ?></span></a>
        </div>
    </div>
</div>
