<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

declare(strict_types=1);
use Plumrocket\AdvancedReviewAndReminder\Model\System\Config\Yesnorequired as Option;

/** @var \Plumrocket\AdvancedReviewAndReminder\Block\Email\Reminder\Form $block */
/** @var \Magento\Review\Model\Rating\Option $ratingOption */
$configHelper = $block->getConfigHelper();
$productId = (int) $block->getProduct()->getId();
$ratingsData = $block->getRatingsData();
$isSingleRating = count($ratingsData) === 1;
$url = $block->escapeUrl($block->getShareReviewUrl());
?>
<!--[if IE]>
<a class="review-link" href="<?= $url ?>#arar-form-add" target="_blank" style="display: inline-block; color: #ffffff; background-color: #2662b3; text-decoration: none; font-size: 14px; font-weight: normal; padding: 7px 12px; border-radius: 4px; margin-top: 8px; text-decoration: none;">
    <?php echo __('Write a Review');?>
</a>
<![endif]-->

<a class="review-link" href="<?= $url ?>#arar-form-add" target="_blank" style="display: inline-block; color: #ffffff; background-color: #2662b3; text-decoration: none; font-size: 14px; font-weight: normal; padding: 7px 12px; border-radius: 4px; margin-top: 8px; text-decoration: none;">
    <?php echo __('Write a Review');?>
</a>
<!--[if IE]>-->
<form class="review__form"
      method="post"
      action="<?= $block->escapeUrl($block->getSubmitReviewUrl($productId)) ?>"
      >
    <h4 style="font-weight: 700; line-height: 1.1; font-size: 14px; margin-top: 20px; margin-bottom: 20px;">
        <?= $block->escapeHtml(__('How do you rate this product?')) ?>
    </h4>
    <?php foreach ($ratingsData as $ratingId => $ratingData) : ?>
        <?php if (! $isSingleRating) : ?>
            <div class="review__rating-title" style="padding-bottom: 5px; font-size: 13px; font-weight: 500;"><?= $block->escapeHtml(__($ratingData['ratingCode'])) ?></div>
        <?php endif; ?>
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; width: 100%;">
            <tbody>
                <tr>
                <?php $i = 1 ?>
                <?php foreach ($ratingData['ratingOptions'] as $ratingOption) : ?>
                    <?php $uniqueRatingId = "p{$productId}_r{$ratingOption->getId()}" ?>
                    <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; width: 75px; text-align: center;">
                        <label for="r<?= $ratingId ?>-one-star" style="display: block; margin: 0 5px; background: #2662b3; padding: 6px 0; border-radius: 5px; font-size: 15px; color: #ffd400;"><?= str_repeat('★', $i) ?></label>
                        <input name="rating___<?= /* @noEscape */ $ratingData['ratingId'] ?>"
                               required
                               type="radio"
                               id="<?= /* @noEscape */ $uniqueRatingId ?>"
                               value="<?= /* @noEscape */ $ratingOption->getId() ?>"
                               style="margin-top: 2px;"
                        />
                    </td>
                    <?php $i++ ?>
                <?php endforeach; ?>
                </tr>
            </tbody>
        </table>
        <?php endforeach; ?>
        <?php if ($ratingsData) : ?>
            <table class="spacer" align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; width: 100%;">
                <tbody>
                    <tr>
                        <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; height: 15px; font-size: 15px; color: transparent;">.</td>
                    </tr>
                </tbody>
            </table>
        <?php endif; ?>
    <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="border-collapse: collapse; width: 100%;">
        <tbody>
            <?php if (! $block->getCustomer()) : ?>
            <tr>
                <td>
                    <label class="review__field review__field--text"
                           for="nickname"
                           style="display: block; padding-bottom: 10px; font-size: 13px; font-weight: 500;">
                        <?= $block->escapeHtml(__('Username')) ?><em style="color: #da0000">*</em>
                    </label>
                    <input
                        class="review__field-element"
                        type="text"
                        id="nickname"
                        name="nickname"
                        value="<?= $block->escapeHtmlAttr(__($block->getGuestName())) ?>"
                        required
                        style="display: block; width: 90%; padding: 10.5px 10px; border: 1px solid #c2c2c2; border-radius: 3px;"/>
                </td>
            </tr>
            <?php endif; ?>
            <tr>
                <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; height: 20px; font-size: 20px; color: transparent;">.</td>
            </tr>
            <tr>
                <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
                    <label for="detail" class="review__field review__field--textarea" style="display: block; padding-bottom: 10px; font-size: 13px; font-weight: 500;">
                        <?= $block->escapeHtml(__('Review')) ?><em style="color: #da0000">*</em>
                    </label>
                    <textarea class="review__field-element" name="detail" id="detail" cols="50" rows="5" required minlength="5" style="border: 1px solid #c2c2c2; border-radius: 3px; width: 90%; height: 120px; padding: 10px;"></textarea>
                </td>
            </tr>
            <tr>
                <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; height: 20px; font-size: 20px; color: transparent;">.</td>
            </tr>
            <?php if (Option::NO !== $configHelper->getReviewSummaryOption()) : ?>
                <tr>
                    <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
                        <label for="summary" class="review__field review__field--text" style="display: block; padding-bottom: 10px; font-size: 13px; font-weight: 500;">
                            <?= $block->escapeHtml(__('Add a title')) ?>
                            <?php if (Option::REQUIRED === $configHelper->getReviewSummaryOption()) : ?>
                                <em style="color: #da0000">*</em>
                            <?php endif; ?>
                        </label>
                        <input class="review__field-element" type="text" name="title" id="summary" style="display: block; width: 90%; padding: 10.5px 10px; border: 1px solid #c2c2c2; border-radius: 3px;">
                    </td>
                </tr>
            <?php endif; ?>
            <tr>
                <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; height: 20px; font-size: 20px; color: transparent;">.</td>
            </tr>
                <?php if (Option::NO !== $configHelper->getProsAndConsOption()) : ?>
                <tr>
                    <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
                        <label for="pros" class="review__field review__field--text" style="display: block; padding-bottom: 10px; font-size: 13px; font-weight: 500;">
                        <?= $block->escapeHtml(__('Pros')) ?>
                            <?php if (Option::REQUIRED === $configHelper->getProsAndConsOption()) : ?>
                                <em style="color: #da0000">*</em>
                            <?php endif; ?>
                        </label>
                        <textarea
                            class="review__field-element"
                            id="pros"
                            name="pros"
                            cols="50"
                            rows="3"
                            style="border: 1px solid #c2c2c2; border-radius: 3px; width: 90%; height: 45px; padding: 10px;"
                            <?php if (Option::REQUIRED === $configHelper->getProsAndConsOption()) : ?>required<?php endif; ?>
                        ></textarea>
                    </td>
                </tr>
                <tr>
                    <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; height: 20px; font-size: 20px; color: transparent;">.</td>
                </tr>
                <tr>
                    <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
                        <label for="cons" class="review__field review__field--text" style="display: block; padding-bottom: 10px; font-size: 13px; font-weight: 500;">
                        <?= $block->escapeHtml(__('Cons')) ?>
                            <?php if (Option::REQUIRED === $configHelper->getProsAndConsOption()) : ?>
                                <em style="color: #da0000">*</em>
                            <?php endif; ?>
                        </label>
                        <textarea
                            class="review__field-element"
                            id="cons"
                            name="cons"
                            cols="50"
                            rows="3"
                            style="border: 1px solid #c2c2c2; border-radius: 3px; width: 90%; height: 45px; padding: 10px;"
                            <?php if (Option::REQUIRED === $configHelper->getProsAndConsOption()) : ?>required<?php endif; ?>
                            ></textarea>
                    </td>
                </tr>
                <?php endif; ?>

                <?php if ($configHelper->isEnabledRecommendedToAFriend()) : ?>
                    <tr>
                        <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
                            <label for="recommend" class="review__field review__field--text" style="display: block; padding-bottom: 10px; font-size: 13px; font-weight: 500;">
                                <?= $block->escapeHtml(__('Do you recommend this product?')) ?>
                            </label>
                            <select
                                    class="review__field-element"
                                    id="recommend"
                                    name="recommend"
                                    style="border: 1px solid #c2c2c2; border-radius: 3px; width: 90%; height: 45px; padding: 10px;"
                            >
                                <?php foreach ($block->getRecommendSelect() as $value => $label) : ?>
                                    <option value="<?= $value ?>"><?= $label ?></option>
                                <?php endforeach; ?>
                            </select>
                        </td>
                    </tr>
                <?php endif; ?>
                <tr>
                    <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; height: 20px; font-size: 20px; color: transparent;">.</td>
                </tr>
                <tr>
                    <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
                        <button class="btn btn--primary" type="submit" style="border: none; background: #2662b3; color: #fff; font-size: 18px; width: 220px; padding: 15px; border-radius: 7px;">
                            <span><?= $block->escapeHtml(__('Submit Review')) ?></span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; height: 3px; font-size: 3px; color: transparent;">.</td>
                </tr>
                <tr>
                    <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top;">
                        * <?= __('Please note, that you can always leave a review by clicking on this <a href="%1" target="_blank">link</a>.', $url) ?>
                    </td>
                </tr>
                <tr>
                    <td style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; vertical-align: top; height: 60px; min-height: 60px; font-size: 60px; color: transparent;">.</td>
                </tr>
        </tbody>
    </table>

</form>
<!--<![endif]-->
