<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

/** @var \Plumrocket\AdvancedReviewAndReminder\Block\Email\Reminder\ProductList $block */
?>

<table cellspacing="0" cellpadding="0" border="0" style="width: 640px;">
    <tr>
        <td valign="top" style="width: 100%;">
            <table cellspacing="0" cellpadding="0" border="0"  border="0" width="100%">
                <?php foreach ($block->getProducts() as $product) : ?>
                    <tr>
                        <td align="left" valign="middle" style="border-top: 1px solid #C4C4C4; height: 150px; width: 150px; padding-top: 40px; vertical-align: top;">
                            <img src="<?= $block->getProductImageUrl($product, 300) ?>" style="width: 150px; height: 150px;" />
                        </td>
                        <td align="left" valign="middle" style="width: 100%; border-top: 1px solid #C4C4C4; width:324px; padding-top: 40px; padding-left: 10px;">
                            <span style="font-size: 18px;"><?= $block->escapeHtml($product->getName()) ?></span><br />
                            <?= $block->getFormBlockHtml($product) ?>
                        </td>
                    </tr>
                <?php endforeach; ?>
                <tr>
                    <td align="center" valign="middle" style="border-top: 1px solid #C4C4C4; height: 1px; width: 110px;"> </td>
                    <td align="left" valign="middle" style="border-top: 1px solid #C4C4C4;"> </td>
                </tr>
                <?php if ($this->getReminderStore()) : ?>
                <tr>
                    <td colspan="2" style="padding: 15px 0px;" align="left">
                        <p style="font-size:12px; line-height:16px; margin:0 0 20px 0;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><?= __('In the event that there was any issue with our order or you were not 100&#37; completely satisfied with your shopping experience and / or product, please <a href="%1" style="color: #3600eb;">contact us directly</a> instead of using the product review page.', $this->getReminderStore()->getBaseUrl() . 'contact/'); ?></p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 20px 0;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><?= __('Thank you for your business and more importantly for taking the time to share your experience with our company and our products.'); ?></p>
                        <p style="margin:0 0 20px 0;">
                        </p>
                    </td>
                </tr>
                <?php endif; ?>
            </table>
        </td>
    </tr>
</table>
