<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\Email\Rating $block */ ?>
<span class="arar-rate-hld">
<?php foreach ($block->getRatingStars() as $star) : ?>
    <?php if ($star === \Plumrocket\AdvancedReviewAndReminder\Model\Review\RatingToStarsConverter::FULL_STAR) { ?>
        <img src="<?= $block->getViewFileUrl('Plumrocket_AdvancedReviewAndReminder::images/full-star.png') ?>"
             alt="<?= __('Full star') ?>"
             width="16"
             height="16"
        />
    <?php } elseif ($star === \Plumrocket\AdvancedReviewAndReminder\Model\Review\RatingToStarsConverter::HALF_STAR) { ?>
        <img src="<?= $block->getViewFileUrl('Plumrocket_AdvancedReviewAndReminder::images/half-star.png') ?>"
             alt="<?= __('Half star') ?>"
             width="16"
             height="16"
        />
    <?php } else { ?>
        <img src="<?= $block->getViewFileUrl('Plumrocket_AdvancedReviewAndReminder::images/empty-star.png') ?>"
             alt="<?= __('Empty star') ?>"
             width="16"
             height="16"
        />
    <?php } ?>
<?php endforeach; ?>
</span>
