<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<!--@pramp-styles-start@-->
<style>
    .wrapper {
        padding: 0 15px;
    }

    .reminder-products__img {
        align-self: flex-start;
    }

    fieldset {
        margin: 0;
        padding: 0;
        border: none;
    }

    .unsubscribe-wrapper{
        margin-bottom: 12px;
    }

    .unsubscribe-wrapper a{
        color: inherit;
    }
</style>
<!--@pramp-styles-end@-->

{{template config_path="design/email/header_template"}}

<div class="info">
    <p class="user__name">{{trans "Dear %name," name=$customerName}}</p>
    <p>{{trans "Welcome to %store_name." store_name=$store.getFrontendName()}}</p>
    <p>
        {{trans
        'Thank you for your purchase from <a href="%customer_url">%store_name</a>'

        customer_url=$this.getUrl($store,'customer/account/',[_nosid:1])
        store_name=$store.getFrontendName()
        |raw}}
    </p>
    <p>
        {{trans "We hope that we met your expectations. We always strive to offer
        the highest quality service to all our customers, and we rely on your feedback to help us achieve this.
        We hope you’ll take a couple of minutes to write a review of your experience with our products."}}
    </p>
</div>

{{pramp_component type="Plumrocket\AdvancedReviewAndReminder\Block\AmpComponent\Reminder\ProductList"}}
<div style="text-align: center;" class="unsubscribe-wrapper">
    <a href="{{var unsubscribe_url}}">Unsubscribe</a> from review reminder
</div>
{{template config_path="design/email/footer_template"}}
