<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
// @codingStandardsIgnoreFile

/** @var \Magento\Sales\Block\Order\History $block */
?>
<?php $_orders = $block->getOrders(); ?>
<?= $block->getChildHtml('info') ?>
<?php if ($_orders && count($_orders)) : ?>
    <div class="table-wrapper orders-history">
        <div class="outer-pdf-download">
        <div class="table-upp one-section">
            <div class="date-to-from">
                <label for="datefrom">From</label>
                <input type="date" id="datefrom" class="select">
            </div>
            <span></span>
            <div class="date-from-to">
                <label for="dateto">To</label>
                <input type="date" id="dateto" class="select">
            </div>
          
        </div>    
        <div class="radio-check download">
                <div class="pdf csv download">
                <form>
                    <label for="pdf" class="container custom-radio af">PDF
                    <input type="radio" id="pdf" name="pdf-csv" value="pdf">
                    <span class="checkmark"></span>
                    </label>
                    <label for="csv" class="container custom-radio">CSV
                    <input type="radio" id="csv"  name="pdf-csv" value="csv">
                    <span class="checkmark"></span>
                    </label>
                    <button id="down"><img class="authorize-img" src='<?php echo $this->getViewFileUrl('images/download.svg'); ?>' alt="Demo">Download</button>
                </form>
            </div>
            </div>  
</div>
<div class="outer-table-order-items-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?= $block->escapeHtml(__('Orders')) ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?= $block->escapeHtml(__('Order #')) ?></th>
                    <th scope="col" class="col date"><?= $block->escapeHtml(__('Date')) ?></th>
                    <?= $block->getChildHtml('extra.column.header') ?>
                    <th scope="col" class="col ship"><?= $block->escapeHtml(__('Ship to')) ?></th>
                    <th scope="col" class="col location"><?= $block->escapeHtml(__('Location')) ?></th>
                    <th scope="col" class="col total"><?= $block->escapeHtml(__('Total')) ?></th>
                    <th scope="col" class="col total-due"><?= $block->escapeHtml(__('Total Due')) ?></th>
                    <th scope="col" class="col status"><?= $block->escapeHtml(__('Status')) ?></th>
                    <th scope="col" class="col null"><?= $block->escapeHtml(__('')) ?></th>
                    <th scope="col" class="col null1"><?= $block->escapeHtml(__('')) ?></th>
                </tr>
            </thead>
            <tbody>
                <?php foreach ($_orders as $_order) : ?>
                    <tr class="tr t">
                        <td data-th="<?= $block->escapeHtml(__('Order #')) ?>" class="col id"><?= $block->escapeHtml($_order->getRealOrderId()) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Date')) ?>" class="col date"><?= /* @noEscape */ $block->formatDate($_order->getCreatedAt()) ?></td>
                        <?php $extra = $block->getChildBlock('extra.container'); ?>
                        <?php if ($extra) : ?>
                            <?php $extra->setOrder($_order); ?>
                            <?= $extra->getChildHtml() ?>
                        <?php endif; ?>
                        <td class="col ship">
                            <span class="ship-to">Irfan Bajwa</span>
                        </td>
                        <td class="col locationn">
                            <span class="location-to">Wireless Source Link</span>
                        </td>
                        <td data-th="<?= $block->escapeHtml(__('Total')) ?>" class="col total"><?= /* @noEscape */ $_order->formatPrice($_order->getGrandTotal()) ?></td>
                        <td class="col total-due">
                            <span class="total-due">Paid</span>
                        </td>
                        <td data-th="<?= $block->escapeHtml(__('Status')) ?>" class="col status"><?= $block->escapeHtml($_order->getStatusLabel()) ?></td>
                        <td data-th="<?= $block->escapeHtml(__('Actions')) ?>" class="col actions">

                             <a href=" <?php echo $block->getUrl('transaction/index/orderreorder'); ?> " class="action order">
                                    <span><?= $block->escapeHtml(__('Reorder')) ?></span>
                                </a>
                            <?php if ($this->helper(\Magento\Sales\Helper\Reorder::class)->canReorder($_order->getEntityId())) : ?>
                            <?php endif ?>
                            <a href="<?= $block->escapeUrl($block->getViewUrl($_order)) ?>" class="action view">
                                <span><?= $block->escapeHtml(__('View Order')) ?></span>
                            </a>
                        </td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
                            </div>
    </div>
    <?php if ($block->getPagerHtml()) : ?>
        <div class="order-products-toolbar toolbar bottom">
      <!--   <div class="total-items">
        9 Item(s)
    </div> -->
    <div class="show-by">
    <!-- <span class="show-by">Show by</span> --> <?= $block->getPagerHtml() ?>
        </div>
    </div>
    <?php endif ?>
<?php else : ?>
    <div class="message info empty"><span><?= $block->escapeHtml($block->getEmptyOrdersMessage()) ?></span></div>
<?php endif ?>