<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Magento\Customer\Block\Account\Customer $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
?>
<?php if ($block->customerLoggedIn()) : ?>
    <span class="customer-welcome">
	<span class="user-circle"></span>
	<span class="user-body"></span>
        <span class="customer-name"
              role="link"
              tabindex="0"
              data-mage-init='{"dropdown":{}}'
              data-toggle="dropdown"
              data-trigger-keypress-button="true"
              data-bind="scope: 'customer'">
            <button type="button"
                    class="action switch header-welcome-customer-name"
                    tabindex="-1"
                    data-action="customer-menu-toggle">
                <span class="header-customer-name"><?= $block->escapeHtml(__('Hi '.$customerSession->getCustomer()->getFirstname())) ?></span>
            </button>
        </span>
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>
            <div class="customer-menu" data-target="dropdown">
                <ul class="customer-header-profile-menu-myaccount-container">
                <li class="header-menu-myaccount-overview"><a class="header-menu-myaccount-overview-anchor" href="<?= $this->getUrl('customer/account/index') ?>"  name="accountoverview"> Account Overview </a>
                 <a class="header-menu-myaccount-signout-link" href="<?= $this->getUrl('customer/account/logout/') ?>" name="signout"><i class="fa fa-sign-out"></i><?= __('Sign Out') ?></a>
                </li>
                <li class="header-menu-myaccount-item-level2 header-menu-myaccount-level2-orders">
                    <a class="header-menu-myaccount-anchor-level2" href="#" name="orders">
                     <span>Purchases</span>
                    </a>
                    <ol class="header-menu-myaccount-level3 header-menu-myaccount-level3-orders">
                        <li ><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('transaction/index/purchasehistory') ?>" name="orderhistory"><?= __('Purchase History')?> </a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('returnauthorization/index/returnlist/') ?>" name="returns"><?= __('Returns')?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" target="_blank" href="<?= $this->getUrl('returnauthorization/index/create/') ?>" name="requestreturn"><?= __('Request a Return') ?></a></li>
                        <li ><a class="header-menu-myaccount-anchor-level3" href="#" name="reorderitems"><?= __('Reorder Items')?></a></li>
                     </ol>
                </li>
                <li class="header-menu-myaccount-item-level2">
                    <a class="header-menu-myaccount-anchor-level2" href="#" name="wishlist"><span><?= __('Wishlist') ?></span></a>
                    <ol class="header-menu-myaccount-level3">  
                        <li><a href="<?= $this->getUrl('wishlist/index/index') ?>" class="header-menu-myaccount-anchor-level3" name="allmylists"><?= __('All my lists') ?> </a></li>  
                    </ol>
                </li>
                <li class="header-menu-myaccount-item-level2">
                    <a class="header-menu-myaccount-anchor-level2" href="#" name="billing"><span><?= __('Billing') ?></span></a>
                    <ol class="header-menu-myaccount-level3">
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('companycredit/customer/account') ?>" name="accountbalance"><?= __('Account Balance')?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" tabindex="-1" href="#" name="invoices"><?= __('Invoices')?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" tabindex="-1" href="<?= $this->getUrl('transaction/index/listtransaction') ?>" name="transactionhistory"><?= __('Transaction History') ?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" tabindex="-1" href="#" name="printastatement"><?= __('Print a Statement')?></a></li>
                    </ol>
                </li>
                <li class="header-menu-myaccount-item-level2">
                    <a class="header-menu-myaccount-anchor-level2"  href="#"  name="settings"><span>Settings</span></a>
                    <ol class="header-menu-myaccount-level3">
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('customer/account/edit') ?>"><?= __('Profile Information') ?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" href="#"><?= __('Email Preferences')?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('customer/address/index') ?>"><?= __('Address Book') ?></a></li>
                        <?php /* <li><a class="header-menu-myaccount-anchor-level3" href="#"><?= __('Credit Cards')?></a></li> */ ?>
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('customer/account/edit/changepass/1/') ?>"><?= __('Update Your Password') ?></a></li>
                    </ol>
                </li>
                <li class="header-menu-myaccount-item-level2">
                    <a class="header-menu-myaccount-anchor-level2" href="#">
                     <span>Cases</span>
                    </a>
                    <ol class="header-menu-myaccount-level3">
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('transaction/index/listcases') ?>"><?= __('Support Cases') ?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('transaction/index/createcase') ?>"><?= __('Submit New Case') ?></a></li>
                    </ol>
                </li>
                </ul>
            </div>
    </span>
<?php endif; ?>
