/*
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

#row_advancedrar_review_form_customer_groups_permission.group_multi_not_visible {
  display : none;
}

#row_advancedrar_design_review_page_structure .value {
  display: flex;
  flex-wrap: wrap;
  width: 590px;
}

#row_advancedrar_design_review_page_structure .note {
  width: 100%;
}

#row_advancedrar_design_review_page_structure label div {
  margin-left: -40px;
}

#row_advancedrar_design_review_page_structure .admin__field-option {
  margin-top: 0;
  margin-right: 60px;
  padding-top: 5px;
}

#row_advancedrar_design_review_page_structure .admin__field-option:last-of-type {
  margin-right: 0;
}

#row_advancedrar_design_review_page_structure .admin__field-option input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
