.admin__menu #menu-magento-backend-marketing .item-pr-review > a:before,
.admin__menu #menu-magento-backend-marketing .item-marketing-reminder .submenu-group-title::before {
  background: url(../images/plumlogo.svg) center no-repeat;
  width: 20px;
  height: 24px;
  content: '';
  display: inline-block;
  margin-right: 8px;
  vertical-align: top;
}
