.field-attach_image .prar-img-wrap {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}

.field-attach_image .prar-img-wrap .delete-image {
  display: block;
  margin-bottom: 10px;
}

.field-attach_image .prar-img-wrap a img {
  width: 120px;
  height: 120px;
  object-fit: cover;
}

.field-youtube_video input {
    margin-bottom: 10px;
}
