/*
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

.advancedrar-reviews-index .grid-rating-result {
  position: relative;
}

.advancedrar-reviews-index .grid-rating-result > span {
  display: block;
  overflow: hidden;
}

.advancedrar-reviews-index .grid-rating-result .rating-box {
  background: url('../images/rating-bg.png') repeat-x 0 0;
  font-size: 0;
  height: 13px;
  line-height: 0;
  margin: 4px 0 0;
  overflow: hidden;
  width: 90px;
}

.advancedrar-reviews-index .grid-rating-result .rating-box .rating {
  background: url('../images/rating-bg.png') repeat-x 0 -12px;
  height: 13px;
}

.advancedrar-reviews-index .reviews-status {
  display: flex;
  max-width: 80%;
}

.advancedrar-reviews-index .reviews-status .reviews-status-item {
  display: flex;
  align-items: center;
  width: 180px;
  min-height: 50px;
  box-sizing: border-box;
  margin-right: 15px;
  margin-bottom: 10px;
  padding: 10px;
  padding-left: 15px;
  font-weight: 600;
  border: 1px solid #514943;
  border-radius: 3px;
  cursor: pointer;
}

.advancedrar-reviews-index .reviews-status-item.pending-stat {
  background-color: #ffe599;
}

.advancedrar-reviews-index .reviews-status-item.abuse-stat {
  background-color: #ea9999;
}

.advancedrar-reviews-index .reviews-status .reviews-status-item span:first-child {
  margin-right: 10px;
}


.advancedrar-reviews-index .modal-popup._youtube-box .modal-inner-wrap {
  margin: 5rem auto;
  max-width: 78rem;
  min-height: 500px;
  position: static;
}

.advancedrar-reviews-index ._youtube-box .thumbnail-preview-image-block {
  height: 400px;
  width: 100%;
}

.advancedrar-reviews-index ._youtube-box .thumbnail-preview-image-block iframe {
  width: 100%;
}
