<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\Widget\FeaturedReviews\Manual $block */ ?>
<?php
/** @var \Magento\Framework\Api\ExtensibleDataInterface[]|\Plumrocket\AdvancedReviewAndReminder\Api\Data\AdvancedReviewInterface[] $reviewList */
$reviewList = $block->getReviews();
/** @var \Plumrocket\AdvancedReviewAndReminder\Helper\Review $reviewHelper */
$reviewHelper = $this->helper(\Plumrocket\AdvancedReviewAndReminder\Helper\Review::class);
$reviewListCount = count($reviewList);
$countPerSlide = $block->getData('count_per_slide');
$owlItems = $block->getCountPerSlide();
$owlCarouselClass = $block->getOwlCarouselClass();
?>
<?php if ($reviewList): ?>
    <div class="reviews-content-wrapper" style="height: 1px; overflow: hidden; visibility: hidden;">
        <div class="title-container">
            <?php if ($block->getTitle() !== ''): ?>
                <h2><?= $block->escapeHtml($block->getTitle()) ?></h2>
            <?php endif; ?>
        </div>
        <div class="reviews-grid-wrapper <?= $owlCarouselClass ?>">
            <?php $count = 0;
            foreach ($reviewList as $review): ?>
                <?php
                /** @var \Magento\Catalog\Api\Data\ProductInterface|mixed|null $product */
                $product = $block->getProduct($review->getProductId());
                $productName = $product->getName();
                $productUrl = $product->getProductUrl();
                $productImageUrl = $block->getProductImageUrl($product, 150);
                ?>
                <?php if ($countPerSlide == '4' && ($count == 0 || (($count % 2) == 0))): ?>
                    <div class="container-four-item">
                <?php elseif ($countPerSlide != 4): ?>
                    <div class="container-item">
                <?php endif; ?>
                <div class="review-grid-item">
                    <div class="review-item-img">
                        <a href="<?= $productUrl ?>" title="<?= $block->escapeHtml($productName) ?>">
                            <img src="<?= $productImageUrl ?>" alt="<?= $block->escapeHtml($productName) ?>"/>
                        </a>
                    </div>
                    <div class="review-item-content">
                        <div class="review-item-product">
                            <a href="<?= $productUrl ?>" title="<?= $block->escapeHtml($productName) ?>">
                                <?= $block->escapeHtml($productName) ?>
                            </a>
                        </div>
                        <div class="user-stars-container">
                            <div>
                                <div class="review-nickname-wrapper">
                                    <span class="nickname"><?= $review->getNickname() ?></span>
                                </div>
                                <?php $ratingPercent = $review->getAggregateRatingPercent(); ?>
                                <div class="rating-summary">
                                    <div class="rating-result" title="<?= $ratingPercent . '%' ?>">
                                        <span style="width:<?= $ratingPercent . '%' ?>"></span>
                                    </div>
                                </div>
                            </div>
                            <span class="date-created-review">
                                <?= $reviewHelper->getFormattedDate($review->getCreatedAt()) ?>
                            </span>
                        </div>
                        <a href="<?= $block->getReviewUrl((int)$review->getId()) ?>" class="grid-review-url">
                            <?= $block->escapeHtml($review->getTitle()) ?>
                        </a>
                        <p class="grid-item-detail">
                            <?= $block->decorateReviewDetail($review) ?>
                        </p>
                    </div>
                </div>
                <?php $count++; ?>
                <?php if ($countPerSlide == '4' && (($count % 2) == 0 || $count == $reviewListCount)): ?>
                    </div>
                <?php elseif ($countPerSlide != 4): ?>
                    </div>
                <?php endif; ?>
            <?php endforeach; ?>
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        "*": {
            "prWidgetCarousel": {
                "owlCarouselClass": "<?= $owlCarouselClass ?>",
                "template": "grid",
                "owlOptions": {
                    "dots": true,
                    "dotsEach": 1,
                    "navElement": "div",
                    "navText": ["&#x3C;", "&#x3E;"],
                    "margin": 20,
                    "autoHeight": true,
                    "nav": true,
                    "autoplay": false,
                    "items": 1,
                    "responsive": {
                        "0": {"items": <?= 1 >= $owlItems ? $owlItems : 1 ?> },
                        "1024": {"items": <?= 2>= $owlItems ? $owlItems : 2 ?>},
                        "1280": {"items": <?= $owlItems ?>}
                    }
                }
            }
        }
    }
    </script>
<?php endif; ?>
