<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\Widget\FeaturedReviews\Manual $block */ ?>

<?php
/** @var \Magento\Framework\Api\ExtensibleDataInterface[]|\Plumrocket\AdvancedReviewAndReminder\Api\Data\AdvancedReviewInterface[] $reviewList */
$reviewList = $block->getReviews();
$countPerSlide = $block->getData('count_per_slide');
$owlCarouselClass = $block->getOwlCarouselClass();
?>
<?php if ($reviewList): ?>
    <div class="reviews-content-wrapper __carousel" style="height: 1px; overflow: hidden; visibility: hidden;">
        <div class="title-container">
            <?php if ($block->getTitle() !== ''): ?>
                <h2><?= $block->escapeHtml($block->getTitle()) ?></h2>
            <?php endif; ?>
        </div>
        <div class="reviews-carousel-wrapper <?= $owlCarouselClass ?>">
            <?php foreach ($reviewList as $review): ?>
                <?php
                /** @var \Magento\Catalog\Api\Data\ProductInterface|mixed|null $product */
                $product = $block->getProduct($review->getProductId());
                $productName = $product->getName();
                $productUrl = $product->getProductUrl();
                $productImageUrl = $block->getProductImageUrl($product, 150);
                ?>
                <div class="review-carousel-item">
                    <div class="container-img">
                        <img src="<?= $productImageUrl ?>" alt="<?= $block->escapeHtml($productName) ?>"/>
                    </div>
                    <a href="<?= $productUrl ?>" title="<?= $block->escapeHtml($productName) ?>" class="product-name">
                        <?= $block->escapeHtml($productName) ?>
                    </a>
                    <?php $ratingPercent = $review->getAggregateRatingPercent(); ?>
                    <div class="rating-summary">
                        <div class="rating-result" title="<?= $ratingPercent . '%' ?>">
                            <span style="width:<?= $ratingPercent . '%' ?>"></span>
                        </div>
                    </div>
                    <a href="<?= $block->getReviewUrl($review->getId()) ?>" class="carousel-item-title">
                        <?= $block->escapeHtml($review->getTitle()) ?>
                    </a>
                    <p class="carousel-item-detail">
                        <?= $block->decorateReviewDetail($review) ?>
                    </p>
                    <div class="carousel-item-customer">
                        <img src="<?= $block->getCustomerLogo($review->getCustomerId()) ?>"
                             alt="<?= __('Profile picture') ?>"/>
                        <span>
                            <?= $review->getNickname() ?>
                        </span>
                    </div>
                </div>
            <?php endforeach; ?>
        </div>
    </div>
    <script type="text/x-magento-init">
    {
        "*": {
            "prWidgetCarousel": {
                "owlCarouselClass": "<?= $owlCarouselClass ?>",
                "template": "slider",
                "owlOptions": {
                    "dots": true,
                    "dotsEach": 1,
                    "navElement": "div",
                    "navText": ["&#x3C;", "&#x3E;"],
                    "margin": 15,
                    "nav": true,
                    "transitionStyle": "fade",
                    "items": 1,
                    "responsive": {
                        "480": {"items": <?= 1 >= $countPerSlide ? $countPerSlide : 1 ?>},
                        "768": {"items": <?= 2 >= $countPerSlide ? $countPerSlide : 2 ?>},
                        "1024": {"items": <?= 3 >= $countPerSlide ? $countPerSlide : 3 ?>},
                        "1280": {"items": <?= $countPerSlide ?>}
                    }
                }
            }
        }
    }
    </script>
<?php endif; ?>
