<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 *  General template for displaying group of blocks divided into sections
 */

$group = $block->getGroupName();
$groupCss = $block->getGroupCss();
?>

<?php if ($detailedInfoGroup = $block->getGroupChildNames($group, 'getChildHtml')) :?>
    <div class="sections <?= $block->escapeHtmlAttr($groupCss) ?>" >
        <?php $layout = $block->getLayout(); ?>
        <div class="close-menu-icon" onclick="document.getElementsByTagName('html')[0].classList.remove('nav-open');">X</div>
         <!-- <div class="mobile-regis">

<?php 
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $customerSession = $objectManager->create('Magento\Customer\Model\Session');
            if($customerSession->isLoggedIn()) : ?>
                <span class="header_account_link_list logout">
                    <a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/logout");?>"><?php echo __('Sign Out')?></a>
                </span>
                <span class="header_account_link_list myaccount">
                    <a class= "header_account_link" href="<?php echo $this->getUrl("customer/account");?>"><?php echo __('My Account')?></a>
                </span>
            <?php else: ?>
                <span class="header_account_link_list login">
                    <a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/login");?>"><?php echo __('Sign in')?></a>
                </span>
                <span class="header_account_link_list register">
                    <a class= "header_account_link" href="<?php echo $this->getUrl("customer/account/create");?>"><?php echo __('Register')?></a>
                </span>
            <?php endif;?>      
        </div> -->
        <div class="section-items <?= $block->escapeHtmlAttr($groupCss) ?>-items"
             data-mage-init='{"tabs":{"openedState":"active"}}'>
            <?php foreach ($detailedInfoGroup as $name) : ?>
                <?php
                    $html = $layout->renderElement($name);
                if (!trim($html) && ($block->getUseForce() != true)) {
                    continue;
                }
                    $alias = $layout->getElementAlias($name);
                    $label = $block->getChildData($alias, 'title');
                ?>
                <?php if($name=="store.links"):?>
                    <div class="mobile-contact" style="display:none">
                        <?php echo $this->getChildHtml("mobile_contact"); ?>
                    </div>
                <?php  endif; ?>
                
                <div class="section-item-content <?= $block->escapeHtmlAttr($groupCss) ?>-item-content"
                     id="<?= $block->escapeHtmlAttr($alias) ?>"
                     data-role="content">
                    <?= /* @noEscape */ $html ?>
                </div>
            <?php endforeach;?>
        </div>
    </div>
<?php endif; ?>
