<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var $block \Magento\Theme\Block\Html\Title
 */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$currentProduct = $objectManager->get('Magento\Framework\Registry')->registry('current_product');
$mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
->getStore()
->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$warranty = $mediaPath."/porto/web/images/warranty.png";
?>
<?php if($currentProduct): ?>
<?php   $category_type = $currentProduct->getResource()->getAttribute('custitem_f3_category_type')->getFrontend()->getValue($currentProduct);  ?>
<div class="product-line-sku-container">
    <span class="product-line-sku-label"> <?= __('SKU:') ?> </span>
    <span class="product-line-sku-value" itemprop="sku"> <?= $currentProduct->getSku() ?> </span>
   
    <?php if($category_type == "Parts"): ?>
        <span class="product-line-warranty"> <img src="<?= $warranty ?>" style="width:30px;" /> <span><?= __('Lifetime Warranty') ?></span> </span>
    <?php endif; ?> 
</div>

<?php    //$brand = $currentProduct->getResource()->getAttribute('custitem5')->getFrontend()->getValue($currentProduct); ?>
<?php /*if($brand && $category_type == "Accessories"): ?>
        <div class="product-brand">
            <span class="product-line-brand-value"> <?= $brand ?> </span>
        </div>
<?php endif;*/ ?>
<?php endif; ?>
<?php $cssClass = $block->getCssClass() ? ' ' . $block->getCssClass() : '';
$titleHtml = '';
if (trim($block->getPageHeading())) {
    $titleHtml = '<span class="base" data-ui-id="page-title-wrapper" '
        . $block->getAddBaseAttribute()
        . '>'
        . $block->escapeHtml($block->getPageHeading())
        . '</span>';
}
?>
<?php if ($titleHtml) : ?>
<div class="page-title-wrapper<?= $block->escapeHtmlAttr($cssClass) ?>" >
    <h1 class="page-title"
        <?php if ($block->getId()) : ?> id="<?= $block->escapeHtmlAttr($block->getId()) ?>" <?php endif; ?>
        <?php if ($block->getAddBaseAttributeAria()) : ?>
            aria-labelledby="<?= $block->escapeHtmlAttr($block->getAddBaseAttributeAria()) ?>"
        <?php endif; ?>>
        <?= /* @noEscape */ $titleHtml ?>
    </h1>
    <?= $block->getChildHtml() ?>
</div>
<?php endif; ?>
