<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<div data-bind="scope: 'pr-review-list-toolbar'" class="prar-review-toolbar">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<div class="prap-rev-container">
    <div id="pr-review-list" data-bind="foreach: {data: reviewList, as: '$review'}, blockLoader: reviewListStatus() == 'loading'" class="prar-review-list-wrp">
        <div data-bind="attr: {id: 'review-item-' + $review.id}" class="prar-rev-list-item">
            <div class="prar-rev-item-top" data-bind="css: !$parent.isFuteresEnabled() ? 'no-features' : 'features'">
                <div class="prar-social-wrap">
                    <div if="$review.avatar" class="prar-social">
                        <img width="36" height="36" class="prar-social-img" data-bind="attr: {src: $review.avatar, alt: $t('Profile picture')}">
                    </div>
                    <div class="prar-wrap">
                        <span class="prar-rev-nickname" data-bind="text: $review.nickname"></span>
                        <div class="prar-rev-item-date">
                            <span text="$review.date"></span>
                        </div>
                    </div>
                </div>
                <div class="prar-rev-item-rat" if="$parent.hasMultyRatings($review)" data-bind="foreach: {data: $review.ratings, as: '$rating'}">
                    <div class="prar-rev-item-rat-wrap">
                        <div class="rating-summary">
                            <div class="rating-result" data-bind="attr: {title: $rating.percent + '%'}">
                                <span data-bind="attr: {style: 'width: ' + $rating.percent + '%'}"></span>
                            </div>
                        </div>
                        <span class="rating-label" text="$rating.label"></span>
                    </div>
                </div>
            </div>
            <div class="prar-rev-item-bottom">
            <div if="$review.ratingPercent && !$parent.hasMultyRatings($review)" class="prar-rev-rating">
                <div class="rating-summary">
                    <div class="rating-result" data-bind="attr: {title: $review.ratingPercent + '%'}">
                        <span data-bind="attr: {style: 'width: ' + $review.ratingPercent + '%'}"></span>
                    </div>
                </div>
            </div>
            <div class="prar-rev-summary">
                <a if="$parent.configuration.showTitleAsLink"
                    class="titler"
                    data-bind="attr: {href: $review.url}, text: $review.title"
                ></a>
                <span ifnot="$parent.configuration.showTitleAsLink" class="titler" data-bind="text: $review.title"></span>
                <span class="prar-rev-item-date desk" text="$review.date"></span>
            </div>

            <if args="$parent.configuration.enabledVerified && $review.verified.enable">
                <div class="prar-rev-item-verified">
                    <translate args="'Verified Purchase'"/>
                    <span class="prap-verified-details" text="'(' + $review.verified.text + ')'"></span>
                </div>
            </if>
            <div class="prar-rev-item-detail" data-bind="html: $review.detail"></div>
            <if args="$parent.configuration.enabledProsAndCons && $review.pros">
                <div class="prar-rev-item-pros">
                    <strong data-bind="html: $t('Pros:')"></strong>
                    <span html="$review.pros"></span>
                </div>
            </if>
            <if args="$parent.configuration.enabledProsAndCons && $review.cons">
                <div class="prar-rev-item-cons">
                    <strong data-bind="html: $t('Cons:')"></strong>
                    <span html="$review.cons"></span>
                </div>
            </if>
            <if args="$review.attachImages || $review.videoId">
                <ul class="prar-review-item-photos upload-images">
                    <!-- ko foreach: {data: $review.attachImages, as: '$attachImage'} -->
                        <li class="prar-review-item-photo" data-bind="
                            style: {'background-image': 'url(' + $attachImage.thumbnail + ')',
                                    'background-size': 'cover',
                                    'background-position': 'center'},
                            attr: {
                                alt: $t('Attach image'),
                                'data-review-id': $review.id,
                                'data-src': $attachImage.thumbnail,
                                'data-review-img-id': $attachImage.orderNumber
                            }
                        ">
                        </li>
                    <!-- /ko -->
                    <li if="$review.videoId" class="prar-review-item-photo youtube-video" data-bind="
                        style: {'background-image': 'url(' + 'https://img.youtube.com/vi/' + $review.videoId +  '/default.jpg' + ')',
                                'background-size': 'cover',
                                'background-position': 'center'},
                        attr: {
                            'data-review-id': $review.id,
                            'data-review-video-id': $review.videoId
                        }"
                    >
                    </li>
                </ul>
            </if>
            <div class="prar-item-footer">
                <if args="$parent.configuration.enableRecommend && $review.recommend">
                    <p class="prar-rev-recommend" if="$review.recommend == 2">
                        <svg width="12" height="12" class="icon-small">
                            <use xlink:href="#yes-icon-small"></use>
                        </svg>
                        <strong data-bind="text: $t('I would recommend this to a friend.')"></strong>
                    </p>
                    <p class="prar-rev-recommend no" if="$review.recommend == 1">
                        <svg width="7" height="12" class="icon">
                            <use xlink:href="#criss-cross-icon"></use>
                        </svg>
                        <strong data-bind="text: $t('I wouldnt recommend this to a friend.')"></strong>
                    </p>
                </if>
                <!-- ko ifnot: $parent.isMobile -->
                    <!-- ko if: $review.share.enable -->
                        <div class="prar-rev-share-wrap">
                            <span class="prar-rev-share-title" data-bind="i18n: 'Share review:'"></span>
                            <div class="prar-share-btn-wrap">
                                <div class="prar-rev-footer-share share-facebook">
                                    <a data-bind="attr: {src: $review.share.facebook.url}, click: $parent.openShareButton.bind($review, $review.share.facebook.url)">
                                        <svg width="19" height="19" class="prar-rev-share-img">
                                            <use xlink:href="#facebook-icon"></use>
                                        </svg>
                                    </a>
                                </div>

                                <div class="prar-rev-footer-share share-twitter">
                                    <a data-bind="attr: {src: $review.share.twitter.url}, click: $parent.openShareButton.bind($review, $review.share.twitter.url)">
                                        <svg width="19" height="19" class="prar-rev-share-img">
                                            <use xlink:href="#twitter-icon"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    <!-- /ko -->
                <!-- /ko -->
                <div class="prar-rev-item-helpful">
                    <span class="prar-rev-item-title" data-bind="i18n: 'Was this review helpful to you?'"></span>
                    <div class="prar-rating-btn-wrap">
                        <div if="$parent.configuration.enabledHelpful" data-bind="blockLoader: $parent.getLoading.bind($parent, $review.id, 'helpful')()">
                            <button class="prar-rating-btn" data-bind="css:{active: $review.vote() == 1}" aria-label="yes" click="$parent.rateHelpful.bind($parent, $review, 1)">
                                <svg width="23" height="23" class="icon yes-icon">
                                    <use xlink:href="#yes-icon"></use>
                                </svg>
                                <svg width="23" height="23" class="icon yes-icon-hover">
                                    <use xlink:href="#yes-icon-hover"></use>
                                </svg>
                                <span class="prar-count" data-bind="text: $review.helpfulPositive() ? $review.helpfulPositive() : ''"></span>
                                <span class="prar-rating-btn-title helpful" data-bind="i18n: 'Helpful'"></span>
                            </button>
                            <button class="prar-rating-btn btn-down" data-bind="css:{active: $review.vote() == 0}"  aria-label="no helpful" click="$parent.rateHelpful.bind($parent, $review, 0)">
                                <svg width="23" height="23" class="icon no-icon">
                                    <use xlink:href="#no-icon"></use>
                                </svg>
                                <svg width="23" height="23" class="icon no-icon-hover">
                                    <use xlink:href="#no-icon-hover"></use>
                                </svg>
                                <span class="prar-count" data-bind="text: $review.helpfulNegative() ? $review.helpfulNegative() : ''"></span>
                                <span class="prar-rating-btn-title" data-bind="i18n: 'No'"></span>
                            </button>
                        </div>
                        <div class="prar-rev-abuse" if="$parent.configuration.canReportAbuse" data-bind="blockLoader: $parent.getLoading.bind($parent, $review.id, 'abuse')()">
                            <a class="prar-rev-abuse-link" title="report abuse" href="javascript:void(0);" data-bind="click: $parent.reportAbuse.bind($parent)">
                                <svg width="19" height="22" class="icon report-icon" ifnot="$review.markedAsAbuse()">
                                    <use xlink:href="#report-icon"></use>
                                </svg>
                                <svg width="19" height="22" class="icon report-icon-hover">
                                    <use xlink:href="#report-icon-hover"></use>
                                </svg>
                                <svg width="19" height="22" class="icon report-icon-hover abuse" if="$review.markedAsAbuse()">
                                    <use xlink:href="#report-icon-hover"></use>
                                </svg>
                                <span class="prar-abuse-link-title" data-bind="style: {color: $review.markedAsAbuse() ? '#C13A3A' : '#006bb4'}, i18n: 'Report'"></span>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
            <div if="$review.adminComment" class="arar-admin-reply">
                <strong data-bind="i18n: 'Response from store'"></strong>
                <div class="arar-date" data-bind="text: $review.adminCommentDate"></div>
                <div class="arar-txt" data-bind="html: $review.adminComment"></div>
            </div>
            </div>

            </div>
        <!-- ko if: $parent.highlightSearchTermOnReview($review.id) --><!-- /ko -->
        </div>

    <div if="getStickyProductBlockHtml()" class='prar-sticky-basket' data-bind="html: getStickyProductBlockHtml()" afterRender="initScrollEvent"></div>
</div>

<div data-bind="scope: 'pr-review-list-pager'" class="pr_review_pager">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
