<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<nav class="prar-review-pager pagination">
    <if args="currentPage() < reviewStorageService.getFilterTotalReviewCount()() / reviewStorageService.getPageSize()()">
        <button class="prar-btn prar-btn-more"
            data-bind="i18n: 'Show more reviews',
                click: reviewStorageService.loadMore.bind(reviewStorageService),
                blockLoader: reviewStorageService.getListStatus()() == 'loadingMore'">
        </button>
    </if>
</nav>
