<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<div id="arrar-popup" afterRender="initPopup">
    <if args="currentTemplateType() === 'detail_view'">
        <div class="prar-rev-item-wrap">
            <div class="prar-rev-slide-wrapper prar-rev-item-l-bar">
                <if args="showBackButton()">
                    <div class="back-button" data-bind="attr: {'data-action': 'back'}, text: 'Back'"></div>
                </if>

                <div class="prar-rev-media-wrapper">
                    <if args="largeMediaType() === 'image'">
                        <img class="big-img" data-bind="attr:
	                        {src: reviewLoadStatus() === 'done' && review().attachImages[largeImageId()] ? review().attachImages[largeImageId()].large : imagePlaceholder(),
	                        alt: $t('Big image')}"
                        />
                    </if>
                    <if args="largeMediaType() === 'video'">
                        <iframe data-bind="attr: {src: isOpen() ? 'https://www.youtube.com/embed/' + review().videoId + '?autoplay=1&mute=1&enablejsapi=1' : '' }"
                                frameborder="0"
                                allowfullscreen
                                width="100%"
                                height="100%">
                        </iframe>
                    </if>
                </div>
                <if args="showNextButton()">
                    <div class="next-button" data-bind="attr: {'data-action': 'next'}, text: 'Next'"></div>
                </if>
            </div>

            <div class="prar-rev-item-cont">
                <if args="isMobile && (review().attachImages || review().videoId)">
                    <ul class="prar-rev-photos upload-images-popup">
                        <if args="review().attachImages">
                            <!-- ko foreach: {data: review().attachImages, as: '$attachImage'} -->
                            <li class="prar-rev-item-photo">
                                <button data-bind="attr: {class: $parent.isActiveImage($attachImage) ? 'active' : ''}">
                                    <img height="100"
                                         data-bind="attr: {
                                            'data-review-id': $parent.review().id,
                                            'data-review-img-id': $attachImage.orderNumber,
                                            'data-src': $attachImage.thumbnail,
                                            src: $attachImage.thumbnail,
                                            alt: $t('Attach image')
                                         }"
                                    />
                                </button>
                            </li>
                            <!-- /ko -->
                        </if>
                        <li if="review().videoId" class="prar-rev-item-photo youtube-video">
                            <button data-bind="attr: {class: isActiveVideo() ? 'active' : ''}">
                                <img data-bind="attr: {src:'https://img.youtube.com/vi/' + review().videoId +  '/default.jpg',
                                                 'data-review-id': review().id, 'data-review-video-id': review().videoId}" />
                            </button>
                        </li>
                    </ul>
                </if>

                <div class="prar-rev-item-r-bar" data-bind="blockLoader: reviewLoadStatus() === 'loading'" >
                    <div class="prar-container">
                        <span class="product-name" data-bind="text: configuration.productName"></span>
                        <div if="review().ratingPercent" class="prar-rev-item-rat">
                            <div class="rating-summary">
                                <div class="rating-result" data-bind="attr: {title: review().ratingPercent + '%'}">
                                    <span data-bind="attr: {style: 'width: ' + review().ratingPercent + '%'}"></span>
                                </div>
                            </div>
                        </div>

                        <div class="prar-rev-item-sum">
                            <a if="configuration.showTitleAsLink"
                               class="titler"
                               data-bind="attr: {href: review().url}, text: review().title"
                            ></a>
                            <span ifnot="configuration.showTitleAsLink" class="titler" data-bind="text: review().title"></span>
                        </div>

                        <div class="prar-rev-item-desc">
                            <span data-bind="text:$t('By')"></span>
                            <span class="prar-rev-nickname" data-bind="text: review( ).nickname"></span>
                            <span text="' ' + $t('on') + ' ' + review().date"></span>
                        </div>
                        <div class="prar-rev-item-det" data-bind="text: review().detail"></div>
                        <if args="configuration.enabledProsAndCons && review().pros">
                            <div class="prar-rev-item-pros">
                                <strong data-bind="text: $t('Pros:')"></strong>
                                <span text="review().pros"></span>
                            </div>
                        </if>
                        <if args="configuration.enabledProsAndCons && review().cons">
                            <div class="prar-rev-item-cons">
                                <strong data-bind="text: $t('Cons:')"></strong>
                                <span text="review().cons"></span>
                            </div>
                        </if>
                        <if args="configuration.enableRecommend && review().recommend">
                            <p class="prar-rev-recommend" if="review().recommend == 2">
                                <svg width="12" height="12" class="icon-small">
                                    <use xlink:href="#yes-icon-small"></use>
                                </svg>
                                <strong data-bind="text: $t('I would recommend this to a friend.')"></strong>
                            </p>
                            <p class="prar-rev-recommend no" if="review().recommend == 1">
                                <svg width="7" height="12" class="icon">
                                    <use xlink:href="#criss-cross-icon"></use>
                                </svg>
                                <strong data-bind="text: $t('I wouldn\'t recommend this to a friend.')"></strong>
                            </p>
                        </if>

                    </div>
                    <if args="! isMobile && (review().attachImages || review().videoId)">
                        <ul class="prar-rev-photos upload-images-popup">
                            <if args="review().attachImages">
                                <!-- ko foreach: {data: review().attachImages, as: '$attachImage'} -->
                                <li class="prar-rev-item-photo">
                                    <button data-bind="attr: {class: $parent.isActiveImage($attachImage) ? 'active' : ''}">
                                        <img height="100"
                                             data-bind="attr: {
                                                    'data-review-id': $parent.review().id,
                                                    'data-review-img-id': $attachImage.orderNumber,
                                                    'data-src': $attachImage.thumbnail,
                                                    src: $attachImage.thumbnail,
                                                    alt: $t('Attach image')
                                                    }"
                                        />
                                    </button>
                                </li>
                                <!-- /ko -->
                            </if>
                            <li if="review().videoId" class="prar-rev-item-photo youtube-video">
                                <button data-bind="attr: {class: isActiveVideo() ? 'active' : ''}">
                                    <img data-bind="attr: {src:'https://img.youtube.com/vi/' + review().videoId +  '/default.jpg',
                                                'data-review-id': review().id, 'data-review-video-id': review().videoId}" />
                                </button>
                            </li>
                        </ul>
                    </if>
                </div>
            </div>
        </div>
    </if>
    <if args="currentTemplateType() === 'list'">
        <ul class="prar-rev-item-photos upload-images-popup"
            data-bind="foreach: {data: galleryImages, as: '$image'}, blockLoader: galleryLoadStatus() === 'loading'"
        >
            <li class="prar-rev-item-photo"
                data-bind="attr: {
                        src: $image.url,
                        alt: $t('Attach image'),
                        'data-review-id': $image.reviewId,
                        'data-review-img-id': $image.orderNumber,
                        'data-src': $image.url},

                    style: {
                        'background-image': 'url(' + $image.url + ')',
                        'background-size': 'cover',
                        'background-position': 'center'}"

                aria-label="$t('Attach image')">
            </li>
        </ul>
    </if>
</div>
