<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<nav class="prar-review-pager">
    <if args="currentPage() < reviewStorageService.getFilterTotalReviewCount()() / reviewStorageService.getPageSize()()">
        <button class="prar-btn" data-bind="i18n: 'Write a review'" data-pr-action="show-review-form"></button>
        <button class="prar-btn prar-btn-more"
            data-bind="text: seeAllLabel,
            click: goToSeeAllPage">
        </button>
    </if>
</nav>
