<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<!-- ko if: reviewStorageService.getReviewTotalCount()() -->
<!-- ko ifnot: isMobile -->
<div class="prar-toolbar-search-wrap">
    <input type="text"
           class="prar-toolbar-search"
           name="review_search"
           data-bind="value: filterList.search.value, attr: {placeholder: $t('Search customer reviews')}"
    />
    <button data-bind="i18n: 'Search'"></button>
</div>
<!-- /ko -->

<div class="prar-toolbar-field-wrap">
    <label for="sort-select" for data-bind="i18n: 'Sort by:'"></label>
    <select class="prar-toolbar-select" id="sort-select" name="sort-select" data-bind="
        optgroup: sort.options,
        value: sort.value,
        optionsValue: 'value',
        optionsText: 'label'"
    />
</div>

<!-- <span class="prar-toolbar-filt-lab" data-bind="i18n: 'Filter by:'"></span> -->

<!-- ko if: isMobile -->
<button class="prar-mob-filter-btn" data-bind="i18n: 'Filter reviews', click: showMobileFilter"></button>

<div id="pr_review_mobile_filter" afterRender="initFilterPopup">
    <form id="pr_review_mobile_filter_form" class="prar-mob-filter-form" action="">
        <input class="prar-mob-filter-clear" type="reset" data-bind="value: $t('Clear all')"/>

        <!-- ko if: mobile.filterList.general.options.length -->
        <fieldset class="prar-mob-filter-field" data-bind="foreach: {data: mobile.filterList.general.options, as: '$generalOption'}">
            <label>
                <span text="$generalOption.label"></span>
                <input
                       type="checkbox"
                       data-bind="attr: {name: 'general', value: $generalOption.value}"
                />
            </label>
        </fieldset>
        <!-- /ko -->

        <!-- ko if: mobile.filterList.rating.options.length -->
        <fieldset class="prar-mob-filter-field all-field" data-bind="foreach: {data: mobile.filterList.rating.options, as: '$ratingOption'}">
            <label>
                <span text="$ratingOption.label"></span>
                <input type="radio" name="rating" data-bind="value: $ratingOption.value"/>
            </label>
        </fieldset>
        <!-- /ko -->
    </form>
    <!-- ko if: updateMobileFilterValues() --><!-- /ko -->
</div>
<!-- /ko -->

<div class="prar-toolbar-field-wrap sort-field">
    <!-- ko ifnot: isMobile -->
        <!-- ko if: filterList.general.options.length -->
        <label class="select-label" data-bind="i18n: 'Filter by:'"></label>
        <select class="prar-toolbar-select" name="filter-general" data-bind="
            optgroup: filterList.general.options,
            value: filterList.general.value,
            optionsValue: 'value',
            optionsText: 'label'"/>
        <!-- /ko -->
        <select class="prar-toolbar-select" id="filter-rating" name="filter-rating" data-bind="
            optgroup: filterList.rating.options,
            value: filterList.rating.value,
            optionsValue: 'value',
            optionsText: 'label'"/>
    <!-- /ko -->
    </div>
    <div data-bind="attr: {
        class: reviewStorageService.getFilterTotalReviewCount()() ? 'prar-toolbar-state' : 'prar-toolbar-state prar-toolbar-state-empty'}"
    >
        <if args="activeFilters().length">
            <ifnot args="reviewStorageService.getFilterTotalReviewCount()()">
                <strong class="prar-state-title" data-bind="i18n: 'Sorry, no reviews match your current selections.'"></strong>
                <span class="prar-state-text" data-bind="i18n: 'Try clearing or changing some filters.'"></span>
            </ifnot>

            <!-- ko ifnot: reviewStorageService.getFilterTotalReviewCount()() -->
                <a class="prar-clear-link" data-bind="click: clearAllFilters, i18n: 'Clear All'"></a>
            <!-- /ko -->
            <strong class="prar-filtered-by" data-bind="i18n:'Filtered by:'"></strong>
                <div class="prar-toolbar-act-filt" data-bind="foreach: {data: activeFilters, as: '$filter'}">
                    <span text="$parent.getFilterLabel($filter.group, $filter.value)"></span>
                    <span class="prar-close" aria-label="remove" data-bind="click: $parent.clearFilter.bind($parent, $filter.group, $filter.value)"></span>
                </div>
            <!-- ko if: reviewStorageService.getFilterTotalReviewCount()() -->
            <a class="prar-clear-link" data-bind="click: clearAllFilters, i18n: 'Clear All'"></a>
            <!-- /ko -->
        </if>
    </div>
<!-- ko if: showingReviewCount -->
    <div class="prar-review-num" text="showingReviewNumbersText"></div>
<!-- /ko -->

<!-- /ko -->
