<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<!-- ko if: review.count -->
<div class="ratings">
    <!-- ko if: rating -->
    <div class="rating-summary">
        <div class="rating-result" data-bind="attr: {title: rating + '%'}">
             <span data-bind="attr: {style: 'width: ' + rating + '%'}">
                 <span>
                     <span itemprop="ratingValue" data-bind="text: rating"></span>% of <span itemprop="bestRating">100</span>
                 </span>
             </span>
        </div>
    </div>
    <!-- /ko -->

    <p data-bind="attr: {class: isProductPage ? 'rating-links reviews-actions' : 'rating-links'}">
        <a data-bind="attr: {href: reviewsUrl + '#arar-review-header'}, text: reviewCountLabel" data-pr-action="scroll-to-review-list"></a>
        <!-- ko if: canWriteReview -->
            <span class="separator">|</span>
            <a data-bind="attr: {href: reviewsUrl + '#arar-form-add'}, i18n: 'Add Your Review'" data-pr-action="show-review-form"></a>
        <!-- /ko -->
    </p>
</div>
<!-- /ko -->

<!-- ko if: ! review.count && review.displayIfEmpty && canWriteReview -->
    <p data-bind="attr: {class: isProductPage ? 'no-rating reviews-actions' : 'no-rating'}">
        <a data-bind="attr: {href: reviewsUrl + '#arar-form-add'}, i18n: 'Be the first to review this product'"
           data-pr-action="show-review-form"
        >
        </a>
    </p>
<!-- /ko -->
