<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<nav class="prar-review-pager pagination">
    <ul class="prar-rev-pager-wrap" data-bind="foreach: {data: pages, as: '$page'}">
        <li data-bind="
        click: $parent.choosePage.bind($parent, $page.number),
        attr: {
            class: ($parent.currentPage() == $page.number || $parent.reviewStorageService.getPreviousReviewPages()().indexOf($page.number) !== -1) ? 'prar-pager-item active' : 'prar-pager-item'
        }">
            <a href="javascript:void(0);"
               role="button"
               data-bind="
               click: $parent.choosePage.bind($parent, $page.number),
               attr: {
                    class: ($parent.currentPage() == $page.number || $parent.reviewStorageService.getPreviousReviewPages()().indexOf($page.number) !== -1) ? 'prar-pager-link active' : 'prar-pager-link', title: $page.title
               }"
               text="$page.label"
            ></a>
        </li>
    </ul>
</nav>
