<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<div class="prar-rat-form" if="wasOpen()" data-bind="afterRender: initFormFunctionality">
    <!-- ko if: canWriteReview -->
    <div class="img" if="configuration.showProductImage">
        <div class="border">
            <img data-bind="attr:{src: product.imagePath, alt: product.name + ' image'}" alt="">
            <div class="img-hld"></div>
        </div>
    </div>
    <div id="arar-message-hld" class="prar-message-hld">
        <form action=""
                method="post"
                id="review-form"
                data-role="product-review-form"
                data-bind="attr: {action: actionUrl}">
            <fieldset>
                <h3>
                    <span data-bind="i18n: 'You\'re reviewing:'"></span>
                    <a data-bind="attr: {'href': product.url, 'title': product.name},text: product.name" target="_blank" rel="noopener"></a>
                </h3>

                <!-- ko if: rating.count -->
                    <h4 data-bind="i18n: 'How do you rate this product?'"></h4>
                    <span id="input-message-box"></span>
                    <!-- ko foreach: rating.items -->
                        <div class="prar-rating-box">
                            <!-- ko if: ! $parent.isSingleRating() -->
                                <div class="prar-rating-title" data-bind="text: ratingCode"></div>
                            <!-- /ko -->
                            <div class="prar-rating-stars arar-cf" data-bind="attr: {'id': 'rating-stars' + ratingId}"></div>
                            <div class="prar-rating-text" data-bind="attr: {'id': 'rating_form_text' + ratingId}"></div>
                            <input
                                type="text"
                                value=""
                                data-validate="{required: true, messages:{required:'Please select one of each of the ratings above.'}}"
                                class="input-text prar-invisible-field"
                                data-bind="attr: {'name': 'ratings[' + ratingId + ']', 'id': 'rating-stars-value' + ratingId}"/>
                            <div class="init-raty" data-bind="afterRender: $parent.initRating.bind($parent, index)">
                            </div>
                        </div>
                    <!-- /ko -->
                <!-- /ko -->
                <ul class="prar-form-list">
                    <li class="prar-form-item">
                        <label for="detail_field" class="required prar-form-label"><!-- ko i18n: 'Write a review' --><!-- /ko --><em>*</em></label>
                        <div class="prar-input-box control">
                            <textarea
                                name="detail"
                                id="detail_field"
                                class="prar-form-review"
                                cols="5"
                                rows="4"
                                data-validate="{'required': true, 'validate-length': true}"
                                data-bind="value: review().detail"></textarea>
                        </div>
                    </li>

                    <!-- ko if: configuration.summaryOption !== 'no' -->
                    <li class="prar-form-item">
                        <label for="title_field" data-bind="attr: {'class': (configuration.summaryOption === 'required') ? 'required' : ''}">
                            <span data-bind="i18n: 'Add a title'"></span>
                            <!-- ko if: configuration.summaryOption === 'required' -->
                            <em>*</em>
                            <!-- /ko -->
                            <span class="prar-form-item-desc" data-bind="i18n: 'Sum up your review in one line'"></span>
                        </label>
                        <div class="prar-input-box control">
                            <input
                                type="text"
                                name="title"
                                id="title_field"
                                class="input-text minimum-length-5"
                                data-bind="
                                attr: {
                                'data-validate': (configuration.summaryOption === 'required') ?
                                        '{\'required\':true, \'validate-length\':true}' :
                                        '{required: false, \'validate-length\':true}'},
                                            value: review().title, event: {input: updateSummaryCount}"

                            />
                            <!-- ko if: configuration.summaryMaxLength  -->
                                <div class="comment-summary" data-bind="text: leftCharacters"></div>
                                <span class="characters-left" data-bind="i18n: 'characters left'"></span>
                            <!-- /ko -->
                        </div>
                    </li>
                    <!-- /ko -->

                    <!-- ko if: ! configuration.prosAndCons.isDisabled -->
                        <li class="prar-form-item">
                            <label for="pros_field" data-bind="attr: {'class': configuration.prosAndCons.isRequired ? 'required' : ''}">
                                <!-- ko i18n: 'Pros' --><!-- /ko -->
                                <!-- ko if: configuration.prosAndCons.isRequired -->
                                    <em>*</em>
                                <!-- /ko -->
                            </label>
                            <div class="input-box">
                            <input
                                name="pros"
                                type="text"
                                id="pros_field"
                                data-bind="value: review().pros, attr: {'data-validate': configuration.prosAndCons.isRequired ? '{\'required\':true, \'validate-length\':true}' : '{\'required\':false, \'validate-length\':true}'}"
                                class="minimum-length-5">
                            </div>
                        </li>
                        <li class="prar-form-item">
                            <label for="cons_field" data-bind="attr: {'class': configuration.prosAndCons.isRequired ? 'required' : ''}">
                                <!-- ko i18n: 'Cons' --><!-- /ko -->
                                <!-- ko if: configuration.prosAndCons.isRequired -->
                                    <em>*</em>
                                <!-- /ko -->
                            </label>
                            <div class="input-box">
                            <input
                                name="cons"
                                type="text"
                                id="cons_field"
                                data-bind="value: review().cons, attr: {'data-validate': configuration.prosAndCons.isRequired ? '{\'required\':true, \'validate-length\':true}' : '{\'required\':false, \'validate-length\':true}'}"
                                class="minimum-length-5">
                            </div>
                        </li>
                    <!-- /ko -->

                    <!-- ko if: configuration.recommend.enabled -->
                    <li class="prar-form-item">
                        <label for="recommend_field" data-bind="attr: {'class': configuration.prosAndCons.isRequired ? 'required' : ''}">
                            <!-- ko i18n: 'Do you recommend this product?' --><!-- /ko -->
                        </label>
                        <select id="recommend_field" class="prar-recommend-field" name="recommend" data-bind="
                            optgroup: configuration.recommend.options,
                            optionsText: 'label'"></select>
                    </li>
                    <!-- /ko -->

                    <!-- ko if: configuration.uploadImg.enabled -->
                        <li class="prar-form-item">
                            <div id="arar-upload">
                                <div class="fileinput-button form-buttons button">
                                    <strong class="prar-fileinput-label"> <!-- ko i18n: 'Add a photo or video' --><!-- /ko --></strong>
                                    <span class="prar-fileinput-desc" data-bind="i18n: 'Shoppers find images and videos more helpful than text alone'"></span>
                                    <div class="prar-uploader-box">
                                        <div class="prar-uploader-list">
                                            <div class="prar-uploader-item">
                                                <label class="prar-uploader-label" for="file-uploader">
                                                    <svg width="21" height="24" class="icon">
                                                        <use xlink:href="#photo-icon"></use>
                                                    </svg>
                                                    <translate args="'Add photos'"/>
                                                    <p class="prar-uploader-desk" data-bind="i18n: 'Click to add photos or drag and drop them here'"></p>
                                                    <input id="file-uploader" type="file" name="comment_file" class="file-uploader-button"
                                                           data-bind="attr: {
                                                                'data-url': configuration.uploadImg.actionUpload,
                                                                'data-types': configuration.uploadImg.allowedExtension,
                                                                'data-max-file-size': configuration.uploadImg.maxFileSize
                                                           }"
                                                           multiple="multiple"
                                                           afterRender="initUploadFunctionality" />
                                                </label>
                                            </div>
                                            <!-- ko if: configuration.videoLink -->
                                            <div class="prar-uploader-item video">
                                                <button type="button">
                                                    <svg width="24" height="24" class="icon">
                                                        <use xlink:href="#video-icon"></use>
                                                    </svg>
                                                    <p data-bind="i18n: 'Add video'"></p>
                                                </button>
                                            </div>
                                            <input type="hidden" name="youtube_id" data-bind="value: videoLink"/>
                                            <!-- /ko -->
                                        </div>
                                        <div class="prar-uploader-box-subs">
                                            <span data-bind="text: $t('The following file types are allowed:') + ' ' + configuration.uploadImg.allowedExtension"></span>
                                            <span data-bind="text: $t('Max file size to upload:') + ' ' + configuration.uploadImg.maxFileSizeMb + ' MB'"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <!-- ko if: videoLink() -->
                            <span class="video-title" data-bind="i18n: 'Video'"></span>
                            <div class="video-preview">
                                <a href="#" class="video-delete" data-bind="event: {click: removeVideo}">
                                    <translate args="'Delete'"/>
                                </a>
                                <div data-bind="style: {
                                                        'background-image': 'url(' + 'https://img.youtube.com/vi/' + videoLink() +  '/default.jpg' + ')',
                                                        'background-size': 'cover',
                                                        'background-position': 'center',
                                                        width: '62px',
                                                        height: '46px'}">
                                </div>
                                <!-- /ko -->
                            </div>
                        </li>
                    <!-- /ko -->

                    <!-- ko if: isGuest() && needLoginForWrite -->

                    <li class="prar-form-item about-yourself">
                        <h3 class="prar-yourself-title" data-bind="i18n: 'Tell us a little about yourself'"></h3>
                        <div class="prar-form-sub-item">
                            <label for="nickname_field" class="required prar-form-label"><!-- ko i18n: 'Your Nickname' --><!-- /ko --><em>*</em></label>
                            <div class="prar-input-box control">
                                <input
                                    type="text"
                                    name="nickname"
                                    id="nickname_field"
                                    class="input-text minimum-length-2"
                                    data-validate='{"required":true, "validate-length":true}'
                                    data-bind="value: nickname()" />
                            </div>
                        </div>
                    </li>
                    <!-- /ko -->

                    <div data-bind="scope: 'pr-review-form-gdpr'" class="prar-form-gdpr">
                        <!-- ko template: getTemplate() --><!-- /ko -->
                    </div>
                </ul>
            </fieldset>

            <!-- ko if: needLoginForWrite  -->
                <!-- ko if: isGuest() && configuration.reCaptcha.enabled -->
                    <div id="prArar-g-recaptcha"></div>
                <!-- ko if: renderRecaptcha() --><!-- /ko -->
                <!-- /ko -->
                <!-- ko if: configuration.nativeCaptcha.enabled && isGuest() -->
                <div data-bind="scope: 'pr-review-form-captcha'" class="prar-form-nativeCaptcha">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
                <!-- /ko -->
            <!-- /ko -->
            <if args="configuration.magentoReCaptcha.enabled">
                <div id="pr-review-form-re-captcha-container" data-bind="scope: 'pr-review-form-re-captcha'">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
            </if>
            <div class="prar-buttons-set">
                <!-- ko if: isCustomerLoggedIn() || needLoginForWrite -->
                    <button type="button" id="pr-arar-submit-btn" class="button prar-btn">
                        <span>
                            <span data-bind="i18n: 'Submit your review'"></span>
                        </span>
                    </button>
                    <div class="prar-loader" id="arar-send-form-loader"></div>
                <!-- /ko -->
                <!-- ko ifnot: isCustomerLoggedIn() || needLoginForWrite  -->
                    <!-- ko if: isPopupLoginEnabled -->
                        <input
                            type="hidden"
                            name="popup_login"
                            id="popup_login"
                            value="true" />
                    <!-- /ko -->
                    <button type="button" id="pr-arar-submit-btn" class="button prar-submit-btn" data-referer="currentPage">
                        <span>
                            <span data-bind="i18n: 'Log In & Submit Review'"></span>
                        </span>
                    </button>
                    <div class="prar-loader" id="arar-send-form-loader"></div>
                <!-- /ko -->
            </div>
            <!-- ko ifnot: isCustomerLoggedIn() || needLoginForWrite  -->
                <div data-bind="scope: 'pr-review-form-social'" class="prar-form-social">
                    <!-- ko template: getTemplate() --><!-- /ko -->
                </div>
            <!-- /ko -->
        </form>
        <!-- ko if: configuration.videoLink -->
        <form id="video-attach-popup" class="prar-form-item video" afterRender="initVideoUploader">
            <label for="video-field">
                <!-- ko i18n: 'Enter your youtube video url' --><!-- /ko -->
            </label>
            <div class="video-link">
                <input
                        type="text"
                        name="popup-video"
                        id="video-field"
                        data-validate='{youtubevalidation:true}'
                        data-bind="event: {change: setYoutubeVideoValue}"
                        class="input-text" />
            </div>
        </form>
        <!-- /ko -->

    </div>
    <!-- /ko -->
    <!-- ko if: reasonHtml -->
        <p class="prar-review-nologged">
            <span data-bind="html: reasonHtml"></span>
        </p>
    <!-- /ko -->
</div>
