<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<!-- ko if: canShowBlock() -->
<div class="pslogin-block pslogin-login">
    <div class="pslogin-spacer pslogin-clearfix">
        <span class="pslogin-title" data-bind="i18n: 'Or login with your social account and submit a review'"></span>
    </div>

    <div data-bind="attr: {class: showFullButtons ? 'pslogin-buttons pslogin-buttons-showfull' : 'pslogin-buttons'}">
        <ul class="pslogin-clearfix">
            <!-- ko foreach: buttons -->
            <li data-bind="attr: {'class': $parent.getButtonLiClass(type, visible), 'title': login_text, 'style': visible ? '' : 'display: none;'}, afterRender: $parent.afterRenderButton(visible)">
                <a class="pslogin-button-link arar-pslogin-button-click"
                   rel="nofollow"
                   href="javascript:void(0);"
                   data-bind="attr: {'data-href': href, 'data-width': popup_width, 'data-height': popup_height}"
                >
                    <!-- ko if: $parent.showLoginFullButtons && image.login -->
                        <img class="pslogin-button-image" data-bind="attr: {'src': image.login}" />
                    <!-- /ko -->
                    <!-- ko if: ! $parent.showFullButtons && ! image.icon -->
                        <img class="pslogin-button-icon-image" data-bind="attr: {'src': image.icon}" />
                    <!-- /ko -->

                    <!-- ko if: ! image.login || ! image.icon -->
                    <span data-bind="attr: {'class': $parent.getButtonSpanClass(image.login, image.icon)}">
                        <span class="pslogin-button-icon">
                            <!-- ko if: image.icon -->
                            <img class="pslogin-button-icon-image" data-bind="attr: {'src': image.icon}" />
                            <!-- /ko -->
                        </span>
                        <span class="pslogin-button-text" data-bind="text: login_text"></span>
                    </span>
                    <!-- /ko -->
                </a>
            </li>
            <!-- /ko -->
        </ul>

        <!-- ko if: hasHiddenButtons -->
        <div class="pslogin-spacer pslogin-clearfix pslogin-showmore">
            <table>
                <tr>
                    <td><div class="pslogin-border"></div></td>
                    <td class="w100">
                        <div class="pslogin-showmore-button pslogin-bordertext" data-bind="i18n: 'show more'"></div>
                    </td>
                    <td><div class="pslogin-border"></div></td>
                </tr>
            </table>
        </div>
        <!-- /ko -->
    </div>

</div>
<div style="clear: both;"></div>

<script type="text/javascript">
    if (window.psloginButtons) {
        requirejs(['pslogin']);
    }
</script>
<!-- /ko -->
<!-- ko if: afterRender() --><!-- /ko -->
