<style>
    p.message.message-error.error:before {
        -webkit-font-smoothing: antialiased;
        font-size: 24px;
        line-height: 24px;
        color: #b30000;
        content: '\e61f';
        font-family: 'luma-icons';
        display: table-cell;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        left: 10px;
        position: absolute;
        text-align: justify;
        bottom: 8px;
    }
    p.message.message-success.success:before {
        -webkit-font-smoothing: antialiased;
        font-size: 24px;
        line-height: 24px;
        color: #006400;
        content: '\e60e';
        font-family: 'luma-icons';
        vertical-align: middle;
        display: inline-block;
        font-weight: normal;
        overflow: hidden;
        speak: none;
        left: 10px;
        position: absolute;
        text-align: center;
        bottom: 8px;
    }
</style>
<?php
/**
 * @var \Magento\Framework\View\Element\AbstractBlock $block
 */

// We should use strlen function because coupon code could be "0", converted to bool will lead to false
$hasCouponCode = (bool) strlen($block->getCouponCode());
?>
<div class="block discount"
     id="block-discount"
     data-mage-init='{"collapsible":{"active": <?= $hasCouponCode ? 'true' : 'false' ?>, "openedState": "active", "saveState": false}}'
>
    <div class="messagereturn success"  >
        <p class = "message message-success success" id="successmessage"></p>
    </div>
    <div class="messagereturn error" role="alert">
        <p class="message message-error error" id="errormessage"></p>
    </div>

    <div class="title" data-role="title">
        <strong id="block-discount-heading" role="heading" aria-level="2"><?= $block->escapeHtml(__('Apply Discount Code')) ?></strong>
    </div>
    <div class="content" data-role="content" aria-labelledby="block-discount-heading">
        <form id="discount-coupon-form"
              >
            <div class="fieldset coupon<?= $hasCouponCode ? ' applied' : '' ?>">
                <?php if (!$hasCouponCode) :?>
                    <input type="hidden" name="remove" id="remove-coupon" value="0" />
                <?php else :?>
                    <input type="hidden" name="remove" id="remove-coupon" value="1" />
                <?php endif; ?>
                <div class="field">
                    <label for="coupon_code" class="label"><span><?= $block->escapeHtml(__('Enter discount code')) ?></span></label>
                    <div class="control">
                        <input type="text"
                               class="input-text"
                               id="coupon_code"
                               name="coupon_code"
                               value="<?= $block->escapeHtmlAttr($block->getCouponCode()) ?>"
                               placeholder="<?= $block->escapeHtmlAttr(__('Enter discount code')) ?>"
                            <?php if ($hasCouponCode) :?>
                                disabled="disabled"
                            <?php endif; ?>
                        />
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary">
                        <button class="action apply primary" id ="apply-button" type="button" >
                            <?php if (!$hasCouponCode) :?>
                                    <span><?= $block->escapeHtml(__('Apply Discount')) ?></span>
                            <?php else :?>
                                    <span><?= $block->escapeHtml(__('Cancel Coupon')) ?></span>
                            <?php endif; ?>
                        </button>
                    </div>
                </div>
            </div>
            <?php if (!$hasCouponCode) : ?>
                <?= /* @noEscape */ $block->getChildHtml('captcha') ?>
            <?php endif; ?>
        </form>
    </div>
</div>
<script type="text/javascript">
    require([
        "jquery",
        'Magento_Checkout/js/action/get-totals'
    ],function($,getTotalsAction) {
        'use strict';
        $(".messagereturn").hide();
        $(".messagereturn.success").hide();
        $('#coupon_code').on('keypress', (e) => {
            const keyPressed = e.keyCode || e.which;
            if (keyPressed === 13) {
                e.preventDefault();
            }
        });

        jQuery(".action.apply.primary").click(function(e)
        {
            var deferred = $.Deferred();
            var coupon_code = $('#coupon_code').val();
            var remove = $('#remove-coupon').val();
            var url= '<?php echo $this->getBaseUrl().'checkout/cart/couponPost/' ?>';
            if(coupon_code === ""){
                $(".messagereturn").show();
                $(".messagereturn.success").hide();
                $( "#errormessage" ).html( "Enter a valid discount code!");
            }
            console.log('remove::', remove);
            jQuery.ajax({
                type: "POST",
                url: url,
                data: {"coupon_code":coupon_code, "remove":remove},
                success: function(response)
                {
                    if (response['type'] === "error"){
                        $(".messagereturn").show();
                        $(".messagereturn.success").hide();
                        $( "#errormessage" ).html( response['couponCode']);
                    }
                    else if(response['type'] === "success")
                    {
                        $(".messagereturn").hide();
                        $(".messagereturn.success").show();
                        $(".action.apply.primary span").html('Cancel');
                        $('#remove-coupon').val("1");
                        $( "#coupon_code" ).prop( "disabled", true );
                        $( "#successmessage" ).html( response['couponCode']);
                        getTotalsAction([], deferred);
                    }
                    else if (response['type'] === "cancel"){

                        $(".messagereturn").hide();
                        $(".messagereturn.success").show();
                        $(".action.apply.primary span").html('Apply Discount');
                        $('#remove-coupon').val("0");
                        $( "#coupon_code" ).prop( "disabled", false );
                        $("#coupon_code").attr("placeholder", "Enter discount code").val("");

                        $( "#successmessage" ).html( response['couponCode']);
                        getTotalsAction([], deferred);
                    }
                    setTimeout(function()
                    {
                        $(".messagereturn").hide();
                        $(".messagereturn.success").hide();
                    }, 3000);


                }
            });
        });

    });

</script>
