<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Template $block */
$url = $block->escapeUrl($block->getUrl());
?>
<p><?= $block->escapeHtml(__('You have signed out and redirecting to our homepage.')) ?></p>
<script type="text/javascript">
window.location.href = "<?php echo $url ?>";
</script>