<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/** @var \Amasty\ShopbyBase\Model\FilterSetting $filterCode */
/** @var \Magento\Framework\Escaper $escaper */
?>

<div class="amshopby-search-box">
    <input type="text"
           class="am-search-box-<?= $escaper->escapeHtml($filterCode) ?>"
           placeholder="<?= $escaper->escapeHtml(__('Search')) ?>" />
</div>

<script type="text/x-magento-init">
            {
                ".am-search-box-<?= $escaper->escapeHtml($filterCode)?>": {
                    "amShopbyFilterSearch": {
                        "highlightTemplate": "<span class='amshopby-highlighted'>$&</span>",
                        "itemsSelector": ".am-filter-items-<?= $escaper->escapeHtml($filterCode) ?>"
                    }
                }
            }
</script>
