@gray-colour:#F3F3F3;
@white-colour:#fff;
@dark-blue-colour: #3967A5;
@black--mid-colour: #1A1F25;
@dar-gray-colour:#55565A;
@mid-gray-colour:#97989C;
@light-gray-colour:#CACACA;
@light-red-colour:#BB4E4E;
@light-orange-colour:#DA7A2E;
@dark-golden-colour:#7D5B1E;
@black-colour:#000000;
@inter-font-family:'Inter';
@gray-second-colour: #707070;
@orange-colour:#FF7200;
@gray-third-colour:#E2E2E2;
@light-gray-line-colour:#D2D2D2;
@light-orange-colour:#F49345;
@second-orange-colour:#FF961C;
@light-yellow-colour:#FEB23F;



.grading-page-section {
	.side-bar {
		ul {
			a {
				font-size: 16px;
				color: @black-colour;
				font-weight: 700;
				padding-bottom: 24px;
				display: block;
				border-bottom: 1px solid @gray-third-colour;
			}
			li {
				margin-bottom: 0px;
				margin-top: 24px;
			}
			padding-left: 0px;
			list-style-type: none;
			margin-bottom: 0px;
			li.last {
				a {
					border-bottom: 0px;
				}
			}
			li.first {
				margin-top: 0px;
			}
		}
	}
	.grading-content {
		display: inline-flex;
		.column {
			background-color: @gray-colour;
			border-right: 4px solid @white-colour;
			.text {
				color: @black-colour;
				font-family: @inter-font-family;
				text-align: center;
				display: flex;
				font-size: 14px;
				align-items: center;
				justify-content: center;
				margin: 0px 10px;
				flex-direction: column;
				border-top: 1px solid @light-gray-line-colour;
				p {
					margin-bottom: 0px;
				}
			}
			.title-with-par {
				color: @white-colour;
				h3 {
					font-size: 18px;
					font-weight: 700;
					margin-bottom: 8px;
					min-height: 42px;
				}
				p {
					font-family: @inter-font-family;
					margin-bottom: 0px;
					font-size: 14px;
				}
			}
		}
		.column1 {
			width: 202px;
			padding-right: 14px;
			.title {
				h3 {
					font-size: 16px;
					color: @black-colour;
					font-weight: 600;
				}
				padding-top: 24px;
				h3.specifications {
					font-size: 18px;
					font-weight: 700;
				}
			}
			.par {
				p {
					font-size: 14px;
					color: @gray-second-colour;
					font-family: @inter-font-family;
					max-width: 185px;
				}
			}
			.title-with-par {
				border-top: 1px solid @gray-third-colour;
			}
		}
	}
	.grading-content.content1 {
		.column {
			width: 112px;
			.text {
				font-size: 13px;
			}
			.title-with-par {
				p {
					font-size: 12px;
				}
				min-height: 228px;
				padding: 24px 11px 24px 9px;
			}
		}
		.column1 {
			.par {
				p {
					font-size: 13px;
				}
			}
		}
	}
	.grading-content.content2 {
		.column {
			width: 179.2px;
			.title-with-par {
				padding: 24px 24px 0px 16px;
			}
		}
	}
	.grading-content.content3 {
		.column {
			width: 179.2px;
			.title-with-par {
				padding: 24px 24px 0px 16px;
				h3 {
					min-height: initial;
				}
			}
		}
	}
	.inner-tick {
		&:after {
			left: 9px;
			top: 6px;
			width: 5px;
			height: 10px;
			border: solid @white-colour;
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate( 45deg);
			-ms-transform: rotate(45deg);
			transform: rotate( 45deg);
			position: absolute;
			content: "";
		}
	}
	.tick {
		background-color: @orange-colour;
		height: 24px;
		width: 24px;
		position: relative;
		border-radius: 32px;
	}
	.height-228 {
		min-height: 228px;
	}
	.height-150 {
		min-height: 150px;
	}
	.height-153 {
		min-height: 153px;
	}
	.height-128 {
		min-height: 128px;
	}
	.height-108 {
		min-height: 108px;
	}
	.height-88 {
		min-height: 88px;
	}
	.height-86 {
		min-height: 86px;
	}
	.height-168 {
		min-height: 168px;
	}
	.height-183 {
		min-height: 183px;
	}
	.height-113 {
		min-height: 113px;
	}
	.height-111 {
		min-height: 111px;
	}
	.height-174 {
		min-height: 174px;
	}
	.height-114 {
		min-height: 114px;
	}
	.height-147 {
		min-height: 147px;
	}
	.height-110 {
		min-height: 110px;
	}
	.height-131 {
		min-height: 131px;
	}
	.height-92 {
		min-height: 92px;
	}
	.height-89 {
		min-height: 89px;
	}
	.height-143 {
		min-height: 143px;
	}
	.outer-tick {
		display: flex;
		align-items: center;
		justify-content: center;
		border-top: 1px solid @light-gray-line-colour;
		margin: 0px 8px;
	}
	.inner-minus {
		width: 20px;
		height: 3px;
		background-color: @black-colour;
		display: block;
		border-radius: 2px;
		margin: 0 auto;
	}
	.minus {
		display: flex;
		align-items: center;
		border-top: 1px solid @light-gray-line-colour;
		margin: 0px 8px;
	}
	.border-column-last {
		border-bottom: 1px solid @gray-third-colour;
	}
	.grading-content.content4 {
		.column {
			.title-with-par {
				h3 {
					min-height: initial;
				}
				padding: 24px 20px 0px 20px;
			}
			width: 242.4px;
		}
		.column1 {
			width: 371px;
			.par {
				p {
					max-width: 100%;
				}
			}
		}
		.column2.column {
			.title-with-par {
				background-color: @light-yellow-colour;
			}
		}
		.column3.column {
			.title-with-par {
				background-color: @second-orange-colour;
			}
		}
		.column4.column {
			.title-with-par {
				background-color: @orange-colour;
			}
		}
	}
	.no-border {
		border-top: 0px !important;
	}
	.grading-date {
		margin-top: 24px;
		font-family: @inter-font-family;
		color: @black-colour;
		font-weight: 600;
		font-size: 14px;
		text-align: right;
		margin-right: 20px;
	}
}
.page-title-wrapper-grading {
	h1 {
		margin-bottom: 45px;
		font-size: 32px;
		color: @black-colour;
		font-weight: 700;
	}
}
.cms-grading-page {
	.page-wrapper {
		>.breadcrumbs {
			.items {
				max-width: 1420px !important;
			}
		}
	}
	main#maincontent {
		max-width: 1420px;
	}
}
.grading-orange-title {
	h2 {
		font-weight: 700;
		color: @orange-colour;
		font-size: 24px;
		margin-bottom: 24px;
		margin-top: 32px;
	}
}
.grading-orange-title.second {
	h2 {
		margin-top: 0px;
	}
}
.outer-grade-title {
	h2 {
		font-weight: 700;
		color: @black-colour;
		margin-bottom: 8px;
	}
	p {
		max-width: 869px;
		width: 100%;
		color: @gray-second-colour;
		font-weight: 400;
		font-family: @inter-font-family;
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 0px;
	}
}
.outer-grade-title.title1 {
	margin-top: 0px;
}
.grading-content {
	.column2.column {
		.title-with-par {
			background-color: @dark-blue-colour;
		}
	}
	.column4.column {
		.title-with-par {
			background-color: @dar-gray-colour;
		}
	}
	.column5.column {
		.title-with-par {
			background-color: @mid-gray-colour;
		}
	}
	.column6.column {
		.title-with-par {
			background-color: @light-gray-colour;
		}
	}
	.column7.column {
		.title-with-par {
			background-color: @light-red-colour;
		}
	}
	.column8.column {
		.title-with-par {
			background-color: @light-orange-colour;
		}
	}
	.column9.column {
		.title-with-par {
			background-color: @dark-golden-colour;
		}
	}
}
.grading-content.content1 {
	.column3.column {
		.title-with-par {
			background-color: @black--mid-colour;
		}
	}
}
.grading-content.content2 {
	.column3.column {
		.title-with-par {
			background-color: @light-orange-colour;
		}
	}
}
.grading-content.content3 {
	.column3.column {
		.title-with-par {
			background-color: @second-orange-colour;
		}
	}
	.column4.column {
		.title-with-par {
			background-color: @mid-gray-colour;
		}
	}
	.column5.column {
		.title-with-par {
			background-color: @light-gray-colour;
		}
	}
	.column6.column {
		.title-with-par {
			background-color: @light-orange-colour;
		}
	}
}
@media screen and (max-width: 767px) {
	.cms-grading-page {
		.breadcrumbs {
			display: block !important;
			padding: 0px 16px !important;
		}
		.page-wrapper {
			margin-top: 120px;
		}
	}
}
@media screen and (min-width: 1000px) {
	.cms-grading-page {
		.page-wrapper {
			>.breadcrumbs {
				.items {
					padding: 17px 15px 10px !important;
				}
			}
		}
		main#maincontent {
			padding: 0px 15px;
		}
	}
	.outer-grade-title {
		margin: 64px 0px 32px;
		h2 {
			font-size: 28px;
		}
	}
	.grading-page-section {
		.side-bar {
			width: 275px;
			float: left;
			padding-right: 33px;
		}
		.right-side-grading {
			width: 80.2%;
			float: right;
		}
	}
}
@media screen and (max-width: 999px) {
	.page-title-wrapper-grading {
		h1 {
			margin-bottom: 25px !important;
			padding: 0px 16px;
		}
	}
	.grading-orange-title {
		h2 {
			padding: 0px 16px;
		}
	}
	.cms-grading-page {
		.page-wrapper {
			>.breadcrumbs {
				.items {
					padding: 17px 0px 20px !important;
				}
			}
		}
		main#maincontent {
			padding: 0px 0px;
		}
	}
	.grading-page-section {
		.side-bar {
			padding: 0px 16px;
		}
		.grading-content {
			padding: 0px 16px;
		}
	}
	.outer-grade-title {
		margin: 32px 0px 32px;
		padding: 0px 16px;
		h2 {
			font-size: 24px;
		}
	}
}
@media screen and (max-width: 1418px) and (min-width: 1000px) {
	.cms-grading-page {
		.grading-page-section {
			.side-bar {
				width: 25%;
			}
			.right-side-grading {
				width: 75%;
			}
		}
	}
}
