<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\AuthorizationLink $block */

    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$sign_in = $mediaPath."/porto/web/images/user.svg";
 $dataPostParam = '';
 ?>

 <?php 
$dataPostParam = '';
if (!$block->isLoggedIn()) {
    $dataPostParam = sprintf(" data-post='%s'", $block->getPostParams());
?>
<div class="authorization-link" data-label="<?= $block->escapeHtml(__('or')) ?>">
	
    <a class="customer-login-link"  <?= /* @noEscape */ $block->getLinkAttributes() ?><?= /* @noEscape */ $dataPostParam ?>>
	<ul class="account-icon"><li ><img src="<?= $sign_in ?>"  style="vertical-align: middle;" /></li>
        <li><?= $block->escapeHtml($block->getLabel()) ?></li>
		</ul>
    </a>
    <div class="block block-customer-login block-header-customer-login">
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login" action="<?php echo $block->getUrl('customer/ajax/login') ?>" method="post" id="header-login-form1" novalidate="novalidate">
            <input name="form_key" type="hidden" value="qJ3W3c6Waq25IDUF">            <input type="hidden" name="redirect_url" value="<?php echo $block->getBaseUrl() ?>">
            <fieldset class="fieldset login" data-hasrequired="* Required Fields">
            <div class="messages"></div>
                <div class="field email required">
                <label for="email_address" style="    text-align: left;
    display: block;
    text-transform: capitalize;
    color: #000;
    font-weight: normal;" class="label"><span>Email Address</span></label>
                    <div class="control">
                        <input name="username" value="" autocomplete="off" id="email" type="email" class="input-text" title="Email" data-validate="{required:true, 'validate-email':true}" placeholder="your@email.com" aria-required="true">
                    </div>
                </div>
                <div class="field password required">
                <label for="password" class="label" style="    text-align: left;
    display: block;
    text-transform: capitalize;
    color: #000;
    font-weight: normal;"><span>Password</span></label>
                    <div class="control">
                        <input name="password" type="password" autocomplete="off" class="input-text" id="pass" title="Password" data-validate="{required:true}" aria-required="true">
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span>Sign In</span></button></div>
                    <br><br><br><div class="secondary"><a class="action remind" href="<?= /* @noEscape */ $block->getBaseUrl() ?>customer/account/forgotpassword/"><span>Forgot Your Password?</span></a></div>
                </div>
            </fieldset>
        </form>
    </div>
    <br>
			<div class="login-register-new-customer"><p style="float:left;    margin: 0 0 10px;
    color: #666;">New Customer?</p><br>
			<a style="background-color: #FF7200;
    text-decoration: none;
    color: #fff;
    padding: 4% 5.5%;
    clear: both;
    overflow: hidden;
    display: block;
    width: 55%;
    text-align: center;
    font-size: 14px;" href="<?= /* @noEscape */ $block->getBaseUrl() ?>customer/account/create/" class=""> Register Now! </a></div>
</div>
</div>
<?php } ?>
<script type="text/javascript">
require([
    'jquery'
], function ($) {
    $(document).ready(function(){

    	$(".close-menu-icon").click(function(){
		$('html').removeClass('nav-before-open');
                });
        $(".mobile-regis .login .header_account_link").click(function(){
           $('.modals-wrapper aside:first').addClass('_show');
            return false;
          });
        if($(".authorization-link > a").length > 0) {
            //var href = $(".header.links .authorization-link > a").attr("href");
            //href.indexOf("logout") == -1 
            // $(".block-header-customer-login").detach().appendTo(".authorization-link");
            $(".block-header-customer-login").click(function(e){
                e.stopPropagation();
            })
            // $("html,body").click(function(event){
            //     var clickover = $(event.target);
            //     if($(".block-header-customer-login").hasClass("open") && !clickover.hasClass('swatch-option'))
            //         $(".block-header-customer-login").removeClass("open");
            // });
            $(".authorization-link").off("click").on("click", function(){
                if(!$(".block-header-customer-login").hasClass("open")){
                    $(".toogle-header").next('ul').hide();
                    $(".toogle-header").removeClass('active');
                    $(".block-header-customer-login").addClass("open");
                }else{
                    $(".block-header-customer-login").removeClass("open");
                }    
                return false;
            });
        }
        $(document).on('click',".show-login-form",function(){
        $('#popup-login-for-price').show();
        $('#popup-login-for-price').prev().show();
        });
        $(document).on('click',".close-login-popup",function(){
            $('#popup-login-for-price').hide();
            $('#popup-login-for-price').prev().hide();
        });



        $('body').click(function(){

            $(".block-header-customer-login").removeClass("open");


        });

        $('.authorization-link').click(function(){

$(".mage-dropdown-dialog").css("display", "none");


});


$('.showcart').click(function(){

$(".block-header-customer-login").removeClass("open");


});


    });
});
</script>



