.checkout-onepage-success .owl-next.disabled {
    opacity: 1.3 !important;
}


.checkout-success {
    text-align    : center;
    padding-top   : 92px;
    font-family   : 'Exo';
    color         : black;
    padding-bottom: 150px;
}

.checkout-success h1 {
    font-size  : 48px;
    font-weight: 700;
    margin     : 0px;
    padding    : 9px;
}

.checkout-success p {
    font-size: 16px;
}

.checkout-success .actions-toolbar .primary {
    display    : block;
    float      : none;
    font-family: 'Inter';
}

.checkout-success .action.primary.continue {
    border-radius : 26px;
    padding       : 17px 32px;
    border        : none;
    text-transform: inherit;
    font-size     : 16px;
    font-weight   : 700;
    height        : 56px;
}

.checkout-success p.check-class {
    padding-top   : 23px;
    padding-bottom: 5px;
    font-family   : 'Inter';
    margin        : 0px;

}

.checkout-success .child-content {
    display        : flex;
    justify-content: center;
    padding        : 0px 13px 24px 0px;
}

.checkout-success .contact-us {
    font-size  : 16px;
    font-family: 'Inter';
    padding    : 0px !important;
    margin-top : -1px;
    margin-left: 5px;
}

.checkout-success .contact-us a {
    text-decoration: none;
}

.checkout-onepage-success .owl-prev.disabled {
    opacity: 1.6 !important;
}

.checkout-onepage-success .owl-item {
    border-left: 1px solid #D2D2D2 !important;
    border-right: 0px !important; 
}

.checkout-onepage-success li.product-item {
    width: 100%;
}

.checkout-onepage-success .actions-secondary {
    display: none !important;
}

.checkout-onepage-success input#qty {
    background: #F3F3F3;
    border    : none;
    width     : 19%;
    text-align: center;
}

.checkout-onepage-success .qty-box {
    background   : #F3F3F3;
    display      : flex;
    padding-left : 9px;
    align-items  : center;
    box-sizing   : border-box;
    width        : 100%;
    height       : 40px !important;
    margin-left  : 0px !important;
    max-width    : 137px;
    border-radius: 26px;
    position     : relative;
}

.checkout-onepage-success li.product-item {
    width     : 100% !important;
    max-width : 372px;
    height    : 100%;
    max-height: 483px;
}

.checkout-onepage-success a.qtyplus {
    position: relative;
    top     : 1px;
    right   : 0px;
}

.checkout-onepage-success .products-grid .product-item-details .product-item-actions .actions-primary {
    float: right;
}

.checkout-onepage-success a.product-item-link {
    color      : black !important;
    font-size  : 14px;
    font-family: 'Inter';
    font-weight: 400;
}

.checkout-onepage-success strong.slider-heading {
    font-size  : 28px;
    font-weight: 700 !important;
    font-family: 'Exo';
}

.checkout-onepage-success button.action.tocart.primary {
    position: absolute;
    right   : 0px;
    bottom  : 0px !important;
}

.checkout-onepage-success main#maincontent .block-title {
    display        : flex;
    position       : relative;
    justify-content: space-between;
    margin-bottom: 32px;

}

.checkout-onepage-success p.show-content {
    font-size   : 16px;
    font-family : 'Exo';
    font-weight : 500;
}

.checkout-onepage-success p.show-content img{
     width: 18px;
     vertical-align: top;
}

.checkout-onepage-success p.show-content {
    position: absolute;
    right   : 0px;
    top     : 14px;
}

.checkout-onepage-success .owl-item.active {
    border: 1px solid #D2D2D2;
}

.checkout-onepage-success .owl-next {
    position: absolute;
    top     : 200px !important;
}

.checkout-onepage-success .owl-prev {
    position: absolute;
    top     : 200px !important;
}

.checkout-onepage-success ol#product-slider {
    display: flex;
}

.checkout-onepage-success strong.product-item-name {
    padding-bottom: 12px;
}

@media screen and (max-width:767px) {
   body .checkout-success h1 {
    font-size: 32px;
}
    .checkout-success p.check-class2 {
    padding: 10px !important;
}
    .checkout-success {
        margin: 64px 0px 0px;
    padding-bottom: 64px;
    }
    .checkout-onepage-success p.check-class {
        padding: 23px 19px 5px !important;
    }

    .checkout-onepage-success .actions-toolbar .primary {
        display: initial !important;
        float  : none;
    }

    .checkout-onepage-success .child-content {
        display        : flex;
        justify-content: center;
        margin         : 10px 0px;
    }

    .checkout-onepage-success input#qty {
        position  : relative;
        width     : 26%;
        text-align: center;
    }

    .checkout-onepage-success .qty-box {
        width    : 100% !important;
        min-width: 150px !important;
    }

    .checkout-onepage-success .owl-nav {
        display: none;
    }

    .checkout-onepage-success .products-grid .product-item-details .product-item-actions .actions-primary {
        display       : block;
        padding-bottom: 15px;
    }

    .checkout-onepage-success a.qtyminus {
        position: relative !important;
        left    : 5px !important;
    }

    .checkout-onepage-success .block-title {
        margin: 16px 20px !important;
    }

    .checkout-onepage-success strong.slider-heading {
        font-size: 22px !important;
    }

    .checkout-onepage-success p.show-content {
        position: absolute;
        right   : 0px;
        top     : 4px;
    }

    .checkout-onepage-success .slider-heading {
        font-size: 22px !important;
    }

    .checkout-onepage-success ol#product-slider {
        padding: 0px 20px;
    }

    .checkout-onepage-success .price-box.price-final_price {
        margin: 8px 0px !important;
    }

    .checkout-onepage-success strong.product-item-name {
        padding-bottom: 0px;
    }
}


    .checkout-success p.check-class2 {
        padding-bottom: 50px;
    }


@media screen and (max-width:374px) {
    .checkout-onepage-success strong.slider-heading {
        font-size: 18px !important;
    }

}

.checkout-success p.check-class2 {
    font-family: 'Inter';
    margin: 0px;
}

@media screen and (max-width: 414px){
    .checkout-onepage-success button.action.tocart.primary {
    margin-top: 0px;
    height: 40px !important;
}
}
 
.checkout-onepage-success button.action.tocart.primary span img{
    width: auto;
    margin: 0 auto;
    vertical-align: middle;
}


.checkout-onepage-success p.show-content span {
    margin-right: 5px;
}