<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Template for displaying new products widget
 *
 * @var $block \Magento\Catalog\Block\Product\Widget\NewWidget
 */

// phpcs:disable Magento2.Files.LineLength.MaxExceeded
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis

if ($exist = ($block->getProductCollection() && $block->getProductCollection()->getSize())) {
    $type = 'widget-new-grid';

    $mode = 'grid';

    $image = 'new_products_content_widget_grid';
    $title = __('New Products');
    $items = $block->getProductCollection()->getItems();

    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;
    $description = false;
}
?>

<?php if ($exist) :?>
    <div class="block widget block-new-products <?= /* @noEscape */ $mode ?>">
        <div class="block-title">
            <strong role="heading" aria-level="2" class="slider-heading">Don't forget also to buy</strong>
            <div class="show-all">
                <a href="#">
                    <p class="show-content"><span>View all</span>
<img src="<?php echo $this->getViewFileUrl('images/arowrigt.png'); ?>" alt="Demo">
                    </p>
                </a>
            </div>
        </div>
        <div class="block-content hello">
            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?= /* @noEscape */ $mode ?> <?= /* @noEscape */ $mode ?>">
                <ol class="product-items owl-carousel owl-theme <?= /* @noEscape */ $type ?>" id="product-slider">
                    <?php foreach ($items as $_item) :?>
                    <li class="product-item">
                        <div class="product-item-info">
                            <a href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                               class="product-item-photo">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?= $block->escapeHtml($_item->getName()) ?>"
                                       href="<?= $block->escapeUrl($block->getProductUrl($_item)) ?>"
                                       class="product-item-link">
                                        <?= $block->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>
                                <?= $block->getProductPriceHtml($_item, $type); ?>

                                <?php if ($templateType) :?>
                                    <?= $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>

                                <?php if ($showWishlist || $showCompare || $showCart) :?>
                                    <div class="product-item-actions">
                                        <?php if ($showCart) :?>
                                 <div class="actions-primary">
                                <form data-role="tocart-form" action="http://localhost/nexusproject/checkout/cart/add/uenc/aHR0cDovL2xvY2FsaG9zdC9uZXh1c3Byb2plY3Qv/product/18854/" method="post">
                            <input type="hidden" name="product" value="18854">
                            <input type="hidden" name="uenc" value="aHR0cDovL2xvY2FsaG9zdC9uZXh1c3Byb2plY3QvY2hlY2tvdXQvY2FydC9hZGQvdWVuYy9hSFIwY0RvdkwyeHZZMkZzYUc5emRDOXVaWGgxYzNCeWIycGxZM1F2L3Byb2R1Y3QvMTg4NTQv">
                        <div class="qty-box">
                        <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                        <input type="text" name="qty" id="qty" maxlength="12" value="1" title="Qty" class="input-text qty" data-validate="null">
                        <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                        <button type="submit" title="Add to Cart" class="action tocart primary">
                            <span><img src="<?php echo $this->getViewFileUrl('images/shopping-cart-1.x.png'); ?>" alt="Demo"></span>
                         </button>
                        </div>
                       <input name="form_key" type="hidden" value="GAbriL3RwCHi7Ede">                                            
                    <input class="swatch-input super-attribute-select" name="super_attribute[93]" type="text" value="" data-selector="super_attribute[93]" data-validate="{required: true}" aria-required="true" aria-invalid="false" attr-name="color"></form>
                                </div>
                         <?php endif; ?>
                            <?php if ($showWishlist || $showCompare) :?>
                                <div class="actions-secondary" data-role="add-to-links">
                                    <?php if ($this->helper(Magento\Wishlist\Helper\Data::class)->isAllow() && $showWishlist) :?>
                                        <a href="#"
                                           data-post='<?= /* @noEscape */ $block->getAddToWishlistParams($_item) ?>'
                                            class="action towishlist"
                                            data-action="add-to-wishlist"
                                            title="<?= $block->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                            <span><?= $block->escapeHtml(__('Add to Wish List')) ?></span>
                                        </a>
                                        <?php endif; ?>
                                            <?php if ($block->getAddToCompareUrl() && $showCompare) :?>
                                            <?php $compareHelper = $this->helper(Magento\Catalog\Helper\Product\Compare::class);?>
                                            <a href="#" class="action tocompare"
                                                data-post='<?= /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>'
                                                title="<?= $block->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                <span><?= $block->escapeHtml(__('Add to Compare')) ?></span>
                                            </a>
                                        <?php endif; ?>
                                </div>
                                        <?php endif; ?>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                     </li>
                    <?php endforeach ?>
                </ol>
            </div>
            <?= $block->getPagerHtml() ?>
        </div>
    </div>
<?php endif;?>
<script type="text/javascript">
        require([
            'jquery',
            'owlcarousel'
        ], function ($) {
          $("#product-slider").owlCarousel({
                 nav : true,
                dots: false,
                // stagePadding: 16,
                slideTransition: 'linear',
                autoplayHoverPause: true,
                autoplay:false,
                autoplayTimeout:1000,
                lazyLoad : true,
                margin:0,
                navText: ["<em class='porto-icon-left-open-big'></em>","<em class='porto-icon-right-open-big'></em>"],
                responsive:{
                    0:{
                        items:1
                    },
                    360:{
                        items:2
                    },
                    768:{
                        items:3
                    },                                                                                                                                          
                    1200:{
                        items:4
                    }

                },
            });
        });
    </script>
