<?php
$porto_helper = $this->helper('Smartwave\Porto\Helper\Data');
?>
<?php /*<li><a href="<?php echo $porto_helper->getBaseLinkUrl(); ?>contact"><?php echo __('Contact Us'); ?></a></li>*/ ?>
<?php
   $static_block_id = 'header_dropdown_block';
   $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
   if($block) {
       $block->setBlockId($static_block_id);
   }
   if($block){
       echo $block->toHtml();
   }
?>