<?php
    $footer = $this->getConfig('porto_settings/footer');
?>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
.mob-block-title {
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-bottom:0px solid #D2D2D2 !important;
}

.activet, .block-title:hover {
 /* background-color: #ccc; */
}

.mob-block-title:after {
  content: "\f107";
  color: #777;font-family: 'FontAwesome';
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.activet:after {
  content: "\f106";;
}

.mob-block-content {
  
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;

}
.mob-block-content ul.links{
    margin-top:0px;
}
</style> 
<div class="footer">
<?php
    if( $footer['footer_top'] ){
?>
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                <?php
                    $area = 'footer_top_block';
                    $type = $footer[$area];
                    if( $type == 'custom' && $footer['footer_top_custom'] ){
                        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                        if($block) {
                            $block->setBlockId($footer['footer_top_custom']);
                        }
                        if($block){
                            echo '<div class="custom-block">'.$block->toHtml().'</div>';
                        }
                    }

                ?>
                </div>
            </div>
        </div>
    </div>
<?php
    }
    if( $footer['footer_middle'] ){
?>


<div class="line">

<div class="container">
    <div class="lineve"></div>
</div>

</div>
    <div class="footer-middle">
        <div class="container">
        <?php
            if( $footer['footer_ribbon'] ){
        ?>
            <div class="footer-ribbon">
                <span><?php echo $footer['footer_ribbon_text'] ?></span>
            </div>
        <?php
            }
        ?>
            <div class="row">
            <?php
                for( $i = 1; $i <= 5; $i++ ){
                    if($i==5){
                        echo '<div class="col-lg-2">'; 
                        echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')                 ->setBlockId('footer-social-links')
                        ->toHtml();
                        echo '</div>';
                    }
                    else{
                    $area = 'footer_middle_column_'.$i;
                    $type = $footer[$area];
                    if( $type ){
                        echo '<div class="col-lg-'.$footer[$area.'_size'].'">';
                    }
                    if( $type == 'custom' && $footer[$area.'_custom'] ){
                        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                        if($block) {
                            $block->setBlockId($footer[$area.'_custom']);
                        }
                        if($block){
                            echo $block->toHtml();
                        }
                    }
                    if( $type == 'newsletter' ){
                        echo $this->getChildHtml('footer.newsletter');
                    }
                    if( $type ){
                        echo '</div>';
                    }
                }
                }
            ?>
            </div>
        </div>
       <?php  $merchantBlock = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
            if($merchantBlock) {
                $merchantBlock->setBlockId('merchant_logos');
                echo $merchantBlock->toHtml();
            }
         ?>
    </div>
<?php
    }
    if( $footer['footer_middle_2'] ){
?>
    <div class="footer-middle footer-middle-2">
        <div class="container">
            <div class="row">
            <?php
                for( $i = 1; $i <= 4; $i++ ){
                    $area = 'footer_middle_2_column_'.$i;
                    $type = $footer[$area];
                    if( $type ){
                        echo '<div class="col-lg-'.$footer[$area.'_size'].'">';
                    }
                    if( $type == 'custom' && $footer[$area.'_custom'] ){
                        $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                        if($block) {
                            $block->setBlockId($footer[$area.'_custom']);
                        }
                        if($block){
                            echo $block->toHtml();
                        }
                    }
                    if( $type == 'newsletter' ){
                        echo $this->getChildHtml('footer.newsletter');
                    }
                    if( $type ){
                        echo '</div>';
                    }
                }
            ?>
            </div>
        </div>
    </div>
<?php
    }
    if( $footer['footer_bottom'] ){
?>
    <div class="footer-bottom">
        <div class="container">
            <?php
            if($footer['footer_logo_src']){
                
                $url = $this->getFooterLogoSrc();
            ?>
            <?php if ($this->isHomePage()):?>
                <strong class="logo">
            <?php else: ?>
                <a class="logo" href="<?php echo $this->getUrl(''); ?>" title="">
            <?php endif; ?>
                <img src="<?php echo $url ?>" alt=""/>
            <?php if ($this->isHomePage()):?>
                </strong>
            <?php else:?>
                </a>
            <?php endif?>
            <?php
            }
            if($footer['footer_bottom_custom_1']){
                $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                if($block) {
                    $block->setBlockId($footer['footer_bottom_custom_1']);
                }
                if($block){
                    echo '<div class="custom-block">'.$block->toHtml().'</div>';
                }
            }
            ?>
            
            <?php
            if($footer['footer_bottom_custom_2']){
                $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
                if($block) {
                    $block->setBlockId($footer['footer_bottom_custom_2']);
                }
                if($block){
                    echo '<div class="custom-block f-right">'.$block->toHtml().'</div>';
                }
            }
            ?>
            <?php /*<address><?php echo $footer['footer_bottom_copyrights'] ?></address>*/ ?>
            <div class="col-md-12">
               <p>© Copyright 2021. Nexus Cellular. All rights reserved. All trademarks are properties of their respective holders.<br> 
Nexus Cellular is a third party supplier and does not own or make claim to those trademarks used on this website.</p>
                
            </div>
            <?php if($footer['footer_store_switcher']) echo $this->getChildHtml("footer.store_switcher"); ?>
        </div>
    </div>
<?php
    }
?>

</div>
<a href="javascript:void(0)" id="totop"><em class="porto-icon-up-open"></em></a>
<script type="text/javascript">
document.getElementsByClassName("currentYear")[0].textContent = new Date().getFullYear();
</script>
 
<!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script-->

	
<script type="text/javaScript">
		require(['jquery'], function($){ 
		//$.noConflict();
	    //$(".js-ml-stack-nav").mlStackNav(); 
		
		
	   });
 </script>
	   	   
	   
          <script type="text/javascript">
            function getarrowdn(t){
            var str=t;
            var arrowId=   str.split("catsbar");
            var submnuid='ulsub'+arrowId[1];
            var scndtopmnuid=t;
            var subx = document.getElementById(submnuid);
            var divsToHide = document.getElementsByClassName("subarrowmnu");
           var arwprntArror = document.getElementsByClassName("arwprnt");
           var topsubx = document.getElementById(scndtopmnuid);
          
         for(var i = 0; i < divsToHide.length; i++){
          if(divsToHide[i].id != submnuid ){
         var getallDivId= document.getElementById(arwprntArror[i].id);
        getallDivId.classList.add("down");
        getallDivId.classList.remove("up");

        divsToHide[i].style.display = "none"; // depending on what you're doing
        }
           }
            if ( subx.style.display == 'block'){
                topsubx.classList.remove("up");
                topsubx.classList.add("down");                
                subx.style.display = 'none';

              }
              else{
                
                topsubx.classList.remove("down");
                topsubx.classList.add("up");
                subx.style.display = 'block';

              }
              
           }
              </script>


<script> 
require([ 'jquery' ], function ($) { 
     
     !function(a){var b=/iPhone/i,c=/iPod/i,d=/iPad/i,e=/(?=.*\bAndroid\b)(?=.*\bMobile\b)/i,f=/Android/i,g=/(?=.*\bAndroid\b)(?=.*\bSD4930UR\b)/i,h=/(?=.*\bAndroid\b)(?=.*\b(?:KFOT|KFTT|KFJWI|KFJWA|KFSOWI|KFTHWI|KFTHWA|KFAPWI|KFAPWA|KFARWI|KFASWI|KFSAWI|KFSAWA)\b)/i,i=/IEMobile/i,j=/(?=.*\bWindows\b)(?=.*\bARM\b)/i,k=/BlackBerry/i,l=/BB10/i,m=/Opera Mini/i,n=/(CriOS|Chrome)(?=.*\bMobile\b)/i,o=/(?=.*\bFirefox\b)(?=.*\bMobile\b)/i,p=new RegExp("(?:Nexus 7|BNTV250|Kindle Fire|Silk|GT-P1000)","i"),q=function(a,b){return a.test(b)},r=function(a){var r=a||navigator.userAgent,s=r.split("[FBAN");return"undefined"!=typeof s[1]&&(r=s[0]),s=r.split("Twitter"),"undefined"!=typeof s[1]&&(r=s[0]),this.apple={phone:q(b,r),ipod:q(c,r),tablet:!q(b,r)&&q(d,r),device:q(b,r)||q(c,r)||q(d,r)},this.amazon={phone:q(g,r),tablet:!q(g,r)&&q(h,r),device:q(g,r)||q(h,r)},this.android={phone:q(g,r)||q(e,r),tablet:!q(g,r)&&!q(e,r)&&(q(h,r)||q(f,r)),device:q(g,r)||q(h,r)||q(e,r)||q(f,r)},this.windows={phone:q(i,r),tablet:q(j,r),device:q(i,r)||q(j,r)},this.other={blackberry:q(k,r),blackberry10:q(l,r),opera:q(m,r),firefox:q(o,r),chrome:q(n,r),device:q(k,r)||q(l,r)||q(m,r)||q(o,r)||q(n,r)},this.seven_inch=q(p,r),this.any=this.apple.device||this.android.device||this.windows.device||this.other.device||this.seven_inch,this.phone=this.apple.phone||this.android.phone||this.windows.phone,this.tablet=this.apple.tablet||this.android.tablet||this.windows.tablet,"undefined"==typeof window?this:void 0},s=function(){var a=new r;return a.Class=r,a};"undefined"!=typeof module&&module.exports&&"undefined"==typeof window?module.exports=r:"undefined"!=typeof module&&module.exports&&"undefined"!=typeof window?module.exports=s():"function"==typeof define&&define.amd?define("isMobile",[],a.isMobile=s()):a.isMobile=s()}(this);
if(isMobile.any){
    
    var acc = document.getElementsByClassName("mob-block-title");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    
    this.classList.toggle("activet");
    var panel = this.nextElementSibling;
    
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
}
else{ 
    
    $( ".block-title" ).removeClass( "mob-block-title" );
    $( ".block-content").removeClass( "mob-block-content" );
   } 
 }
 );
</script>











