<?php
$MageMehelper = $this->helper('MageMe\HidePrice\Helper\Data');
$isHidePriceEnabled = $MageMehelper->hidePrice();
    /*$static_block_id = $this->getConfig('porto_settings/header/static_block');
    $block = $this->getLayout()->createBlock('Magento\Cms\Block\Block');
    if($block) {
        $block->setBlockId($static_block_id);
    }*/
    if($isHidePriceEnabled){ ?>
           <div class="custom-block"><button class="show-login-form view-price"><?php echo __('SIGN IN') ?> </button></div>
    <?php } ?>