<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>
<?php /** @var \Plumrocket\AdvancedReviewAndReminder\Block\Helper $block */ ?>

<div data-bind="scope: 'pr-review-summary'" class="arar-review-summary">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "pr-review-summary": <?= json_encode($block->getJsComponentConfig()); ?>
                }
            }
        }
    }
</script>
