<?php
/**
 * @package     Plumrocket_SocialLoginFree
 * @copyright   Copyright (c) 2016 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>

<?php $helper = $this->helper('Plumrocket\SocialLoginFree\Helper\Data'); ?>
<?php if ($helper->photoEnabled()): ?>
    <li class="pslogin-welcome-msg" data-bind="scope: 'pslogin-photo'" data-mage-init='{"Magento_Ui/js/core/app":<?php echo $block->getJsLayout();?>}'>
    	<!-- ko if: pslogin().photo -->
        <img data-bind="attr: {'src' : pslogin().photo, 'alt': customer().fullname }" src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP<?php echo '/' . '/' . '/' ?>yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" alt="" />
       	<!-- /ko -->
    </li>
<?php endif; ?>
