/*
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

.grid-severity-notice.pending {
  background: #F9EE9F none repeat scroll 0 0;
  border-color: #D0C159;
  color: #7C701B;
}
