/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

/*normalize styles*/
.sidebar.sidebar-main,
.sidebar.sidebar-additional{
    max-width: 100%;
}

/*owl styles*/
/*owl carousel*/
.reviews-carousel-wrapper .owl-stage,
.reviews-grid-wrapper .owl-stage{
    display: flex;
}
.container-four-item .owl-item{
    align-self: flex-start;
}

.reviews-carousel-wrapper .owl-item,
.reviews-grid-wrapper .owl-item {
    display: inline-block;
}

.reviews-grid-wrapper > .owl-nav {
    position: absolute;
    top: 41px;
    right: 0;
    width: 180px;
}

.reviews-grid-wrapper .owl-nav.dotsHide{
    width: 60px;
}

.reviews-carousel-wrapper .owl-nav > .owl-prev,
.reviews-carousel-wrapper .owl-nav > .owl-next,
.reviews-grid-wrapper .owl-nav > .owl-prev,
.reviews-grid-wrapper .owl-nav > .owl-next {
    font-size: 0;
    font-weight: 600;
    width: 10px;
    height: 10px;
    cursor: pointer;
    text-align: center;
    margin: 0 20px;
    border: solid #B5B5B5;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.reviews-carousel-wrapper .owl-nav > .owl-prev.disabled,
.reviews-carousel-wrapper .owl-nav > .owl-next.disabled,
.reviews-grid-wrapper .owl-nav > .owl-prev.disabled,
.reviews-grid-wrapper .owl-nav > .owl-next.disabled{
    border: solid #E2E2E2;
    border-width: 0 3px 3px 0;
    cursor: default;
}

.reviews-grid-wrapper .owl-nav > .owl-prev{
    position: absolute;
    left:2px;
    right: auto;
    transform: translate(-100%, -50%) rotate(135deg);
    -webkit-transform: translate(-100%, -50%) rotate(135deg);
}

.reviews-grid-wrapper .owl-nav > .owl-next{
    position: absolute;
    right: 2px;
    left: auto;
    transform: translate(100%, -50%) rotate(-45deg);
    -webkit-transform: translate(100%, -50%) rotate(-45deg);
}

.reviews-grid-wrapper .owl-dots,
.reviews-carousel-wrapper .owl-dots{
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    z-index: 10;
}
.reviews-carousel-wrapper .owl-dots{
    margin-top: 1rem;
}

.reviews-grid-wrapper .owl-dots{
    position: absolute;
    top: 30px;
    right: 90px;
    transform: translateX(50%);

}

.reviews-grid-wrapper  button.owl-dot,
.reviews-carousel-wrapper button.owl-dot{
    background: 0 0;
    color: inherit;
    border: none;
    padding: 0!important;
    font: inherit;
    border-radius: 0;
    transition: background-color 300ms ease-out;
    box-shadow: none;
}


.reviews-grid-wrapper .owl-dots .owl-dot span,
.reviews-carousel-wrapper .owl-dots .owl-dot span{
    width: 6px;
    height: 6px;
    margin: 4px;
    background: #E5E5E5;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 50%;
}


.reviews-grid-wrapper .owl-dots .owl-dot.active span,
.reviews-grid-wrapper .owl-dots .owl-dot:hover > span,
.reviews-carousel-wrapper .owl-dots .owl-dot.active span,
.reviews-carousel-wrapper .owl-dots .owl-dot:hover > span{
    background: #C4C4C4;
}

/*rating stars color*/
.prar-box-reviews .rating-summary .rating-result > span:before,
.prar-rating .rating-summary .rating-result > span:before,
.prar-review-helpful-critical .rating-summary .rating-result > span:before,
.prar-review-helpful-positive .rating-summary .rating-result > span:before,
.prar-rev-item-rat .rating-summary .rating-result > span:before,
.reviews-content-wrapper .rating-summary .rating-result > span:before{
    color: #ffc700;
}


/*grid styles*/

.reviews-content-wrapper *{
    font-family: 'Open Sans', sans-serif;
}

.reviews-content-wrapper {
    position: relative;
    margin-bottom: 2rem;
    padding-top: 30px;
}

.reviews-content-wrapper .title-container {
    min-height: 30px;
    display: inline-block;
    width: 100%;
}
.reviews-content-wrapper .title-container h2{
    margin-top: 0;
    margin-bottom: .7rem;
    margin-right: 190px;
}

.reviews-content-wrapper .title-container.margin-small h2{
    margin-right: 75px;
}

.reviews-carousel-wrapper,
.reviews-grid-wrapper {
    overflow: hidden;
}

.container-four-item .review-grid-item:first-child{
    margin-bottom: 25px;
}

.review-grid-item,
.container-item{
    box-sizing: border-box;
    height: 100%;
    width: 100%;
}

.review-grid-item {
    display: flex;
    display: -ms-flexbox;
    padding: 1rem;
    overflow: hidden;
    border: 1px solid #BDE1FC;
    border-radius: 5px;
    font-size: 1rem;
}

.container-four-item .review-grid-item > *{
    height: auto;
    align-self: flex-start;
}

.review-item-img {
    min-width: 100px;
}

.review-item-content {
    width: 100%;
    max-width: 100%;
    margin-left: 1rem;
    position: relative;
}

.review-item-product{
    margin-bottom: 1rem;
    border-bottom: 1px solid #E8E8E8;
}

.review-item-product a{
    display: inline-block;
    color: #258DEC;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
    padding-bottom: 1rem;

}

.user-stars-container,
.user-stars-container > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.review-item-content .review-nickname-wrapper,
.review-item-content .rating-summary{
    margin: 0 1rem 1rem 0;
}

.review-nickname-wrapper .nickname{
    font-size: 1.2rem;
    color: #8A8A8A;
    font-weight: 600;
}

.date-created-review {
    margin-bottom: 1rem;
    color: #9D9D9D;
    font-size: 1rem;
}

.grid-review-url{
    font-size: 1.4rem;
    color: #414141;
    font-weight: 600;
    margin-bottom: 15px;
    display: block;
}

.grid-review-url:hover,
.grid-review-url:visited{
    text-decoration: none;
    color: #414141;

}

 .grid-item-detail{
    margin: 0;
     font-size: 1.2rem;
     line-height: 1.4rem;
     color: #787878;
}

 .grid-item-detail > a{
     color: #258DEC;
 }

.grid-item-detail > a:hover,
.grid-item-detail > a:visited{
    color: #2781d2;
}

/*carousel style*/
.reviews-carousel-wrapper {
    margin: 0 25px;
    background: #F7F7F7;
    padding: 15px;
}

.reviews-content-wrapper.__carousel .title-container{
    min-height: 0;
}

.reviews-content-wrapper.__carousel .title-container h2{
    margin: 0 0 2rem 0;
    text-align: center;
}

.owl-loaded .review-carousel-item{
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    text-align: center;
    background: #ffffff;
    justify-content: space-between;
    min-height: 350px;
    border: 1px solid #F3F3F3;
}

.reviews-content-wrapper.__carousel .review-carousel-item *:not(.container-img){
    max-width: 100%;
}


.review-carousel-item .container-img{
    max-width: 45%;
}

.review-carousel-item .container-img img{
    display: block;
    max-width: 100%;
    height: auto;
}

_:-ms-fullscreen, :root .review-carousel-item .container-img img{
    margin: 0 auto;
}

.review-carousel-item .product-name{
    font-size: 1.2rem
}

.review-carousel-item .carousel-item-title{
    color: #333333;
    font-size: 1.6rem;
    font-weight: 600;

}

.review-carousel-item .carousel-item-title:hover{
    text-decoration: none;
}


.reviews-carousel-wrapper .carousel-item-customer > span{
    display: block;
}

.reviews-carousel-wrapper .carousel-item-detail{
    font-size: 1.3rem;

}

.__carousel .carousel-item-customer > img{
    width: 36px;
    height: 36px;
    object-fit: cover;
    border-radius: 50%;
}

.carousel-item-customer > span{
    font-weight: 400;
    font-size: 1rem;
    color: #a9a9a9;
}

.reviews-carousel-wrapper .owl-nav > .owl-prev,
.reviews-carousel-wrapper .owl-nav > .owl-next {
    position: absolute;
    top: 50%;
    z-index: 10;
}

.reviews-carousel-wrapper .owl-nav > .owl-prev {
    transform:  translate(-80%, 50%) rotate(135deg);
    -webkit-transform:  translate(-80%, 50%) rotate(135deg);
    left: 0;
}

.reviews-carousel-wrapper .owl-nav > .owl-next {
    transform: translate(80%, 50%) rotate(-45deg);
    -webkit-transform: translate(80%, 50%) rotate(-45deg);
    right: 0;
}


@media (min-width: 768px){
    /*review grid*/
    .reviews-carousel-wrapper{
        margin: 0 50px;
    }
    .review-carousel-item .container-img{
        max-width: 50%;
    }

    .reviews-carousel-wrapper .owl-nav > .owl-prev {
        transform:  translateY(50%) rotate(135deg);
        -webkit-transform:  translateY(50%) rotate(135deg);
        left: 0;
    }

    .reviews-carousel-wrapper .owl-nav > .owl-next {
        transform: translateY(50%) rotate(-45deg);
        -webkit-transform: translateY(50%) rotate(-45deg);
        right: 0;
    }

    /*review sidebar*/

    .sidebar .reviews-content-wrapper .title-container{
        min-height: 0;
    }
    .sidebar .reviews-content-wrapper .title-container h2{
        margin-right: 0;
        text-align: center;
    }

    .sidebar .review-grid-item{
        flex-direction: column;
        height: auto;
        border: none;
        border-radius: 0;
        overflow: visible;
    }

    .sidebar .review-item-img a,
    .sidebar .review-item-img img{
        display: block;
    }
    .sidebar .review-item-img img{
        margin: 0 auto;
    }

    .sidebar .review-item-img,
    .sidebar .review-item-content{
        width: 100%;
    }

    .sidebar .review-item-content{
        display: flex;
        display: -ms-flexbox;
        flex-direction: column;
        margin: 1rem 0 2rem 0;
    }

    .sidebar .date-created-review {
        position: absolute;
        top: calc(100% + 1rem);
        left: 0;
    }

    .sidebar .user-stars-container{
        margin-top: 1rem;
    }

    .sidebar .grid-review-url{
        line-height: 1.2;
        margin-bottom: 0.5rem;
    }


    .sidebar .reviews-grid-wrapper > .owl-nav{
        bottom: -12px;
        top: auto;
        position: relative;
        height: 0;
        border: 1px solid transparent;
        width: 100%;
    }

    .sidebar .reviews-grid-wrapper .owl-dots{
        position: relative;
        top: auto;
        right: auto;
        transform: none;

    }

    .sidebar .reviews-grid-wrapper .owl-nav.dotsHide{
        position: relative;
        bottom: auto;
        margin: 1rem 0;
    }

    .sidebar  .reviews-grid-wrapper .owl-nav > .owl-next,
    .sidebar  .reviews-grid-wrapper .owl-nav > .owl-prev{
        position: absolute;
        top: 0;
        z-index: 11;
    }

    .sidebar .owl-stage{
        display: block;
    }
    .sidebar .owl-item{
        display: inline-block;
    }

    .sidebar .review-grid-item,
    .sidebar .container-item{
        height: auto;
    }

    /*------------------border------------------------*/
    .sidebar .reviews-grid-wrapper{
        padding: 1.5rem 1rem;
        border: 1px solid #BDE1FC;
        border-radius: 3px;
    }

    .sidebar .review-grid-item{
        padding: 0;
        margin-bottom: 2rem;
    }
    /*------------------/border------------------------*/
}

@media (min-width: 769px){
    .sidebar .reviews-grid-wrapper{
        padding: 2rem;
    }
}
