/* @@ Global styles @@ */
.prar-rev-recommend.no svg {
  width: 9px;
}

/* == product rating == */
@media (min-width: 375px) {
  .prar-prod-rating .prar-histogram-line {
    min-width: 130px;
  }
}
@media (min-width: 425px) {
  .prar-prod-rating .prar-recommend {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
  }
}

@media (min-width: 768px) {
  .prar-prod-rating {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    margin-top: 0;
  }

  .prar-prod-rating .prar-btn {
    align-self: center;
    margin-top: 0;
    margin-left: 15px;
  }

  .prar-prod-rating .prar-rating {
    order: 1;
    display: flex;
    float: none;
    margin-right: 7.5px;
  }

  .prar-prod-rating .rating-summary {
    width: 90px;
    max-width: 140px;
    padding: 0;
    border-bottom: none;
    align-items: center;
  }

  .prar-prod-rating .prar-all-rev-link {
    text-align: center;
  }

  .prar-prod-rating .prar-stars-amount {
    font-size: 1.4rem;
    line-height: 1.5;
  }

  .prar-prod-rating .prar-stars-amount span {
    display: inline-block;
  }

  .prar-prod-rating .prar-recommend {
    order: 2;
    width: 133px;
    margin: 0 7.5px;
    padding-top: 0;
    border-top: none;
  }

  .prar-prod-rating .prar-histogram {
    width: 207px;
    max-width: 207px;
    order: 3;
    margin-left: 7.5px;
  }

  .prar-recommend-title strong {
    font-size: 2.2rem;
    color: #333;
  }

  .prar-recommend .prar-recommend-title span {
    width: 140px;
    font-size: 1.4rem;
    line-height: 1.3;
    font-weight: 600;
    color: #333;
  }

  .prar-prod-rating .prar-recommend h2 {
    width: auto;
  }

  .prar-prod-rating .prar-no-review {
    width: 78%;
    text-align: left;
  }
}

@media (min-width: 960px) {
  .prar-prod-rating .prar-stars-amount {
    font-size: 2.4rem;
  }

  .prar-prod-rating .prar-all-rev-link {
    margin-top: 22px;
  }

  .prar-rating .rating-summary .rating-result > span:before,
  .prar-rating .rating-summary .rating-result:before {
    height: 39px;
    font-size: 39px;
    line-height: 39px;
  }

  .prar-prod-rating .rating-summary,
  .prar-rating .rating-summary .rating-result {
    width: 205px;
    max-width: 205px;
  }

  .prar-rating .rating-summary .rating-result {
    margin-top: 8px;
  }

  .prar-recommend-title strong {
    font-size: 3.4rem;
    font-weight: 700;
  }

  .prar-prod-rating .prar-histogram-item {
    font-size: 1.4rem;
  }

  .prar-prod-rating .prar-histogram {
    max-width: 230px;
    width: 230px;
  }

  .prar-prod-rating .prar-histogram-line {
    min-width: 141px;
    height: 20px;
  }
}

@media (min-width: 1200px) {
  .prar-prod-rating {
    max-width: 1045px;
    margin: 0 auto;
  }

  .prar-prod-rating .prar-recommend {
    margin: 0 35px;
  }

  .prar-prod-rating .prar-histogram {
    width: 308px;
    max-width: 308px;
    margin-left: 35px;
  }

  .prar-prod-rating .prar-histogram-line {
    min-width: 221px;
  }

  .prar-prod-rating .prar-btn {
    min-width: 190px;
    margin-left: 66px;
    padding: 10px 20px;
    font-size: 1.6rem;
  }

  .prar-prod-rating .prar-rating {
    margin-right: 35px;
  }
}

/* == owl slider == */
@media (min-width: 768px) {
  .prar-products {
    margin-top: 12px;
    padding-top: 22px;
    padding-bottom: 34px;
  }

  .prar-products .owl-carousel.prar-owl .owl-nav {
    overflow: visible;
  }

  .prar-products .prar-products-title {
    margin-bottom: 18px;
    font-size: 2.1rem;
  }

  .prar-products .owl-carousel .owl-stage-outer {
    margin-right: 0;
  }

  button.prar-popup-media {
    margin-top: 17px;
  }

  .column.main .product-items.prar-products {
    margin-left: -35px;
    margin-right: -35px;
    padding-left: 35px;
    padding-right: 35px;
  }
}

@media (min-width: 960px) {
  .prar-products .owl-carousel.owl-drag .owl-item > div {
    width: 110px;
    height: 110px;
  }

  .owl-carousel.prar-owl .owl-nav button.owl-prev {
    left: -45px;
  }

  .owl-carousel.prar-owl .owl-nav button.owl-next {
    right: -45px;
  }
}

@media (min-width: 1300px) {
  .column.main .product-items.prar-products {
    padding-left: 84px;
    padding-right: 84px;
  }

  .owl-carousel.prar-owl .owl-nav button.owl-next {
    right: -61px;
  }

  .owl-carousel.prar-owl .owl-nav button.owl-prev {
    left: -61px;
  }

  .prar-products .owl-carousel.prar-owl .owl-nav button {
    height: 36px;
  }
}

/* == customer review form == */
@media (max-width: 470px) {
  .prar-form-add#arar-form-add {
    padding: 0;
  }
}

@media (max-width: 767px) {
  .modal-popup.prar-form-popup {
    overflow-y: auto;
  }

  .prar-form-popup .message.success {
    margin-top: 45px;
  }

  .modal-popup.prar-form-popup .modal-inner-wrap {
    top: 0;
    margin: 0;
    width: 100%;
  }

  .modal-popup.prar-form-popup .modal-content {
    padding: 0 12px;
  }

  .prar-form-popup #arar-message-hld {
    text-align: left;
  }

  .prar-form-popup #arar-form-add {
    padding: 0;
  }

  .modal-popup.prar-form-popup .modal-header {
    position: sticky;
    top: 0;
    z-index: 1;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 0;
  }

  .prar-form-popup .modal-header h1 {
    width: 100%;
    padding-top: 22px;
    background-color: #fff;
    border-bottom: none;
  }

  .prar-form-popup button.action-close {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 10px !important;
    background-color: #fff !important;
    border-bottom: 1px solid #b9b9b9 !important;
  }

  .prar-form-popup button.action-close:hover {
    border-bottom: 1px solid #b9b9b9;
  }

  .prar-form-popup button.action-close::before {
    color: #8f8f8f;
  }

  .prar-form-popup button.action-close::after {
    position: absolute;
    left: 10px;
    content: "«Back";
    color: #1583ce;
  }
}

@media (min-width: 600px) {
  .prar-form-add .prar-product-img {
    display: block;
  }

  .prar-form-add .prar-product-img .img {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 138px;
    width: 138px;
    margin: 0 auto;
  }

  .prar-form-add .prar-submit-btn {
    width: auto;
  }
}

@media (min-width: 768px) {
  #arar-form-add.prar-form-add {
    margin-top: 0;
    padding: 0;
    max-width: 650px;
    max-height: 90vh;
  }

  .prar-form-add .prar-rat-form {
    display: flex;
  }

  .prar-form-add .prar-product-img {
    width: 178px;
    box-sizing: border-box;
  }

  .prar-form-add .prar-message-hld {
    width: 100%;
    border-bottom: none;
  }

  .prar-form-add .prar-message-hld h2,
  .prar-form-add form h3,
  .prar-form-add form h4,
  .prar-rating-stars {
    text-align: left;
  }

  .prar-form-add form h4 {
    font-size: 1.4rem;
  }

  .prar-rating .rating-summary .rating-result {
    margin-top: 0;
  }

  .prar-form-add .prar-message-hld #review-form,
  .prar-form-add .prar-message-hld h2 {
    margin: 0 auto;
  }

  .prar-form-add .prar-rating-title {
    text-align: left;
  }

  .prar-form-add .prar-uploader-desk {
    display: block;
  }

  .prar-form-add .prar-uploader-label span {
    display: none;
  }

  .prar-form-item label span,
  .fileinput-button .prar-fileinput-label {
    font-size: 1.4rem;
  }

  .prar-form-add .prar-uploader-label {
    width: 207px;
    height: 100%;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
  }

  .prar-form-add .prar-uploader-desk {
    width: 118px;
    font-size: 10px;
    margin: 0 0 0 20px;
    font-weight: 400;
    color: #666;
  }

  .prar-rat-form #arar-message-hld label.prar-uploader-label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
  }

  .prar-rat-form #arar-message-hld {
    margin-top: 0;
    padding-right: 0;
  }

  .prar-form-popup #arar-upload .prar-uploader-label span,
  .advancedrar-review-leavereview #arar-upload .prar-uploader-label span {
    display: none;
  }

  .modal-popup.prar-form-popup {
    left: 50%;
    top: 45%;
    bottom: initial;
    transform: translateY(-45%);
    max-width: 564px;
    margin-left: -282px;
    background-color: #fff;
    overflow-y: initial;
  }

  .modal-popup.prar-form-popup .modal-content {
    overflow-y: auto;
  }

  .modal-popup.prar-form-popup .modal-inner-wrap {
    position: static;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: none;
  }

  .modal-popup.prar-form-popup .modal-content {
    padding-left: 35px;
    padding-right: 35px;
  }

  .prar-form-add .prar-buttons-set .prar-btn {
    margin: 0;
  }

  .prar-form-popup #arar-form-messages .messages:last-child .message-error {
    margin-bottom: 20px;
  }
}

/* == Image gallery popup == */
@media (max-width: 375px) {
  .prar-gallery-wrp .modal-header h1 {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .prar-rev-item-photos li.prar-rev-item-photo {
    width: 39.24%;
    padding: 4.1%;
  }

  .prar-gallery-wrp.modal-popup .action-close {
    margin-top: 17px;
  }
}

@media (max-width: 767px) {
  .prar-gallery-wrp.modal-slide .modal-inner-wrap {
    position: fixed;
    left: 44px;
    top: 0;
    right: 0;
    width: calc(100% - 44px);
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;
    overflow-y: auto;
  }
}

@media (min-width: 480px) {
  .prar-gallery-wrp .prar-rev-item-photos {
    margin-left: -10px;
  }
  .prar-rev-item-photos li.prar-rev-item-photo {
    width: 110px;
    height: 110px;
    margin-left: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
  }
}

@media (min-width: 520px) {
  .prar-rev-photos {
    display: flex;
    margin-left: -5px;
    overflow-x: auto;
  }

  .modal-content .prar-rev-item-photos {
    display: flex;
    flex-wrap: wrap;
  }

  .prar-rev-photos .prar-rev-item-photo,
  .prar-rev-item-photos .prar-rev-item-photo {
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-bottom: 5px;
    overflow-y: hidden;
    cursor: pointer;
  }

  .prar-rev-photos .prar-rev-item-photo button {
    border: 2px solid #fff;
  }

  .prar-rev-photos .prar-rev-item-photo button.active {
    border-color: #ffc700;
  }

  .prar-rev-photos .prar-rev-item-photo {
    flex-shrink: 0;
    width: 52px;
    height: 52px;
  }

  .prar-rev-photos .prar-rev-item-photo img {
    width: 48px;
    height: 48px;
    object-fit: cover;
  }
}

@media (min-width: 768px) {
  .prar-rev-item-wrap {
    display: flex;
    height: 450px;
  }

  .prar-rev-item-l-bar {
    width: 60%;
    min-width: 280px;
    max-width: 464px;
  }

  .prar-rev-item-r-bar .prar-container {
    max-height: 362px;
    overflow-y: auto;
  }

  .prar-rev-item-l-bar img {
    width: 100%;
  }

  .prar-rev-item-cont {
    width: 38%;
    margin-left: 2%;
  }

  .prar-rev-item-r-bar {
    width: 100%;
    margin-top: 0;
  }

  .prar-rev-item-photos {
    max-height: 550px;
    overflow-y: auto;
  }

  .prar-rev-item-r-bar .prar-rev-item-pros {
    margin-bottom: 10px;
  }

  .prar-rev-item-wrap .prar-rev-item-det {
    margin-top: 15px;
    color: #000;
  }

  .prar-gallery-wrp .prar-rev-item-photo {
    margin-bottom: 0;
  }
}

@media (min-width: 1200px) {
  .prar-gallery-wrp .prar-rev-item-l-bar {
    width: 65%;
    max-width: 650px;
    overflow: hidden;
  }

  .prar-rev-item-cont {
    width: 41%;
  }

  .prar-gallery-wrp .prar-rev-item-wrap {
    height: 600px;
  }

  .prar-rev-item-r-bar .prar-container {
    max-height: 522px;
  }
}

/* == Reviews list == */
@media (max-width: 374px) {
  .prar-rev-item-bottom .prar-rev-recommend {
    width: 175px;
  }
}

@media (min-width: 480px) {
  .prar-review-list-wrp .prar-review-item-photos {
    margin-left: -5px;
  }

  .prar-review-list-wrp .prar-review-item-photo {
    display: flex;
    margin-left: 5px;
  }

  .prar-review-list-wrp .prar-item-footer {
    justify-content: flex-start;
  }
}

@media (min-width: 768px) {
  .prar-rev-item-date.desk {
    display: block;
    color: #888;
    font-size: 1.4rem;
    line-height: 1.44;
  }

  .prar-rev-item-top .prar-rev-item-date {
    display: none;
  }

  .prar-toolbar-filt-lab {
    display: none;
  }

  .prar-toolbar-field-wrap .select-label {
    display: block;
  }

  .prar-review-toolbar {
    display: flex;
    flex-wrap: wrap;
  }

  input.prar-toolbar-search {
    width: 100%;
  }

  .prar-toolbar-field-wrap {
    width: 28.8%;
    order: 3;
    margin-right: 0;
  }

  .prar-toolbar-field-wrap.sort-field {
    margin-left: 0;
  }

  .prar-toolbar-field-wrap:nth-of-type(2) {
    width: 31.8%;
    margin-right: 2%;
    max-width: initial;
  }

  .prar-review-toolbar .prar-review-num {
    order: 4;
    margin-top: 26px;
  }

  .prar-toolbar-state {
    width: 100%;
    margin-bottom: 5px;
    order: 3;
  }

  .prar-review-list-wrp .prar-rev-item-top {
    width: 180px;
    flex-shrink: 0;
  }

  .prar-rev-item-top .rating-label {
    display: block;
  }

  .prar-rev-item-top .rating-summary {
    margin-top: -3px;
  }

  .prar-rev-item-top .prar-wrap {
    width: auto;
  }

  .prar-rev-item-bottom .prar-rev-rating,
  .prar-rev-item-bottom .prar-rev-summary {
    display: inline-block;
    vertical-align: middle;
  }

  .prar-rev-item-bottom .prar-rev-rating {
    margin-right: 10px;
  }

  .prar-rev-item-bottom .prar-rev-summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
  }

  .prar-rev-item-bottom .titler,
  .prar-rev-item-r-bar .titler {
    font-size: 1.6rem;
  }

  .prar-review-list-wrp .prar-item-footer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 15px;
  }

  .prar-review-list-wrp .prar-item-footer {
    margin-top: 15px;
  }

  .prar-review-toolbar select {
    margin-bottom: 0;
  }

  .prar-rev-item-bottom .prar-rev-recommend {
    width: 100%;
    margin-top: 0;
    margin-bottom: 7px;
  }

  .prar-rev-share-wrap .prar-rev-share-title {
    margin-right: 8px;
    color: #888;
  }

  .prar-rev-item-helpful .prar-rev-item-title {
    display: block;
    margin-top: 6px;
    color: #888;
  }

  .prar-item-footer .prar-rev-item-helpful {
    display: flex;
    align-items: center;
  }

  .prar-review-list .rating-summary .rating-result > span:before,
  .prar-review-list .rating-summary .rating-result:before {
    font-size: 20px;
    line-height: 20px;
    height: 20px;
  }

  .prar-review-list .rating-summary .rating-result {
    width: 109px;
  }

  .prar-review-list .prar-rev-item-rat {
    width: 200px;
    margin-bottom: 13px;
  }

  .prar-rev-item-rat .prar-rev-item-rat-wrap:first-child {
    margin-bottom: 10px;
  }

  .prar-rev-item-verified {
    margin-top: 12px;
    padding-left: 15px;
    font-size: 1.2rem;
  }

  .prar-rev-item-verified .prap-verified-details {
    font-size: 1.4rem;
  }

  .prar-rev-item-verified::before {
    top: 6px;
  }

  .prar-review-list-wrp .prar-rev-item-detail {
    font-size: 1.4rem;
  }

  .prar-rev-item-bottom .prar-rev-item-pros {
    margin-top: 18px;
  }

  .prar-rev-item-bottom .prar-rev-item-pros strong,
  .prar-rev-item-bottom .prar-rev-item-cons strong {
    font-size: 1.4rem;
  }

  .prar-rev-item-bottom .prar-rev-item-pros span,
  .prar-rev-item-bottom .prar-rev-item-cons span {
    margin-left: 15px;
    font-size: 1.4rem;
  }

  .prar-review-list-wrp .prar-rev-list-item {
    padding-bottom: 17px;
  }

  .prar-reviews {
    margin-left: -35px;
    margin-right: -35px;
  }

  .prar-review-list-wrp .prar-review-item-photos {
    margin-right: 0;
  }
}

@media (min-width: 960px) {
  .prar-review-list-wrp .prar-review-item-photos {
    flex-wrap: wrap;
  }

  .prar-review-list-wrp .prar-review-item-photo {
    margin-bottom: 10px;
  }
}

@media (min-width: 1200px) {
  .prap-rev-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .prar-toolbar-field-wrap {
    width: 23%;
  }

  .prar-review-list-wrp {
    width: calc(98% - 310px);
  }

  .prar-review-num {
    width: 100%;
  }

  .prap-rev-container .prar-sticky-basket {
    margin-left: 8%;
  }

  .prar-toolbar-field-wrap,
  .prar-toolbar-field-wrap.sort-field {
    display: flex;
    align-items: baseline;
    order: 1;
  }

  .prar-toolbar-field-wrap label {
    margin-right: 4px;
    white-space: nowrap;
  }

  .prap-rev-container .prar-sticky-basket.visible {
    display: flex;
    align-items: center;
    width: 310px;
    margin-left: 2%;
    padding: 17px 20px;
    border: 1px solid #1979c3;
    box-sizing: border-box;
    border-radius: 5px;
    position: sticky;
    top: 20px;
    color: #000;
  }

  .prap-rev-container .prar-sticky-basket.visible .product-item-photo {
    max-width: 90px;
  }

  .prar-sticky-basket .prar-container {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
  }

  .prap-rev-container .prar-sticky-basket h3 {
    margin: 0;
    font-weight: 400;
    font-size: 1.4rem;
  }

  .prar-sticky-basket .product-image-container {
    display: block;
  }

  .prar-sticky-basket .price-box {
    margin-top: 5px;
    font-weight: 600;
  }

  .prar-rev-item-helpful .prar-rev-item-title {
    margin-right: 10px;
  }

  .prar-sticky-basket .mini-view button {
    min-height: 34px;
    margin-top: 10px;
    padding: 7px 15px;
    background: #1979c3;
    border-radius: 5px;
  }

  .prar-sticky-basket button span {
    font-size: 1.4rem;
    text-transform: initial;
    letter-spacing: 0;
  }
}

@media (min-width: 1300px) {
  .prar-sticky-basket .price-box .old-price .price-container span.price {
    color: #000;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: line-through;
  }

  .prar-toolbar-search-wrap {
    width: 350px;
  }

  .prar-toolbar-field-wrap label {
    position: static;
    clip: initial;
    width: auto;
    height: auto;
    font-size: 14px;
    overflow: initial;
    color: #000;
  }

  .prar-toolbar-field-wrap:nth-of-type(2) {
    width: auto;
    margin-left: auto;
    margin-right: 10px;
  }

  .prar-review-toolbar {
    margin-top: 41px;
  }

  .prar-review-toolbar .prar-toolbar-select {
    width: 233px;
  }

  .prar-review-toolbar .prar-toolbar-select#filter-rating {
    width: 120px;
  }

  .prar-toolbar-field-wrap.sort-field {
    justify-content: flex-end;
    align-items: center;
    width: auto;
    max-width: max-content;
  }

  input.prar-toolbar-search {
    margin-bottom: 0;
  }

  .prar-toolbar-field-wrap .select-label {
    margin-right: 4px;
  }

  .prar-toolbar-field-wrap.sort-field .prar-toolbar-select:first-of-type {
    margin-right: 10px;
  }

  .prar-toolbar-field-wrap:nth-of-type(2) {
    margin-right: 38px;
  }

  .prar-review-toolbar .prar-toolbar-select#sort-select {
    width: 172px;
  }

  .prar-review-toolbar .prar-review-num {
    order: 3;
    font-size: 1.6rem;
  }

  .prar-review-toolbar .prar-toolbar-state {
    display: flex;
    align-items: baseline;
    order: 4;
  }

  .prar-review-toolbar .prar-toolbar-state-empty {
    flex-direction: column;
  }

  .prar-review-list-wrp .prar-review-item-photo {
    width: 126px;
    height: 93px;
  }
}

/* == review helpful == */
@media (min-width: 768px) {
  .prar-review-helpful {
    display: flex;
    margin: 25px -35px 30px;
    padding-left: 35px;
    padding-right: 35px;
    border-bottom: 1px solid #c4c4c4;
  }

  .prar-review-helpful h3 {
    margin: 0 0 19px;
    font-size: 1.8rem;
  }

  .prar-review-helpful .prar-review-helpful-positive,
  .prar-review-helpful .prar-review-helpful-critical {
    width: 50%;
    padding-bottom: 15px;
    box-sizing: border-box;
  }

  .prar-review-helpful .prar-review-helpful-positive {
    position: relative;
    padding-right: 16px;
  }

  .prar-review-helpful .prar-review-helpful-positive::after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 1px;
    height: 85%;
    background: #c4c4c4;
  }

  .prar-review-helpful .prar-review-helpful-critical {
    padding-left: 50px;
  }

  .prar-review-helpful .rating-summary .rating-result > span:before,
  .prar-review-helpful .rating-summary .rating-result:before {
    font-size: 26px;
    line-height: 26px;
    height: 26px;
  }

  .prar-review-helpful .prar-helpful-pros-cons {
    margin-top: 15px;
  }

  .prar-review-helpful .rating-summary .rating-result {
    width: 138px;
  }

  .prar-review-helpful .prar-review-item-rat {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .prar-review-helpful .prar-review-item-rat span {
    color: #888;
  }

  .prar-review-helpful .prar-helpful-title {
    margin-top: 18px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 1.6rem;
    color: #333;
  }

  .prar-review-helpful .prar-helpful-cust-amount {
    display: block;
    margin-top: 28px;
    color: #888;
    font-weight: 400;
  }

  .prar-review-helpful .prar-helpful-detail {
    color: #000;
  }

  .prar-review-helpful .prar-pros-cons-wrap {
    display: flex;
  }

  .prar-review-helpful .prar-pros-cons-wrap:first-child {
    margin-bottom: 24px;
  }

  .prar-review-helpful .prar-pros-cons-wrap strong {
    margin-right: 18px;
  }

  .prar-review-helpful .prar-read-full {
    display: block;
    margin-top: 14px;
  }
}

@media (min-width: 960px) {
  .prar-review-helpful h3 {
    font-size: 2.1rem;
  }
}

@media (min-width: 1300px) {
  .prar-review-helpful {
    padding-left: 66px;
    padding-right: 66px;
  }
}

/* == video popup == */
@media (max-width: 767px) {
  .modal-popup.prar-video-popup .modal-inner-wrap {
    width: 315px;
    height: 100%;
    margin-top: 0;
    background-color: #f4f4f4;
  }
}

@media (min-width: 768px) {
  .modal-popup.modal-slide.prar-video-popup .modal-footer {
    border-top: none;
  }

  .modal-popup.prar-video-popup .modal-inner-wrap {
    width: 75%;
    max-width: 500px;
  }

  .prar-video-popup label span {
    display: block;
    margin-bottom: 2px;
  }

  .modal-popup.prar-video-popup .modal-footer button {
    width: auto;
  }

  .modal-popup.prar-video-popup {
    width: 550px;
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/* == review list header == */
@media (min-width: 768px) {
  .prar-review-list-head {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    border-bottom: 1px solid #c4c4c4;
  }

  .prar-review-list-head .prar-prod-rating {
    flex-wrap: nowrap;
    flex-shrink: 0;
    margin-right: 12px;
    margin-top: 0;
    padding-top: 25px;
    width: auto;
    margin-left: 0;
    overflow: hidden;
  }

  .prar-review-list-head .product-info {
    min-width: 270px;
    max-width: 300px;
    margin: 0;
    border-bottom: none;
  }

  .prar-review-list-head .box-tocart .action.tocart {
    min-width: 135px;
    padding: 7px;
    color: #fff;
    background-color: #1979c3;
    border-radius: 3px;
  }

  .prar-review-list-head .prar-recommend .prar-recommend-title {
    display: block;
  }

  .prar-review-list-head .prar-prod-rating .prar-stars-amount {
    font-size: 2.8rem;
  }

  .prar-review-list-head .prar-prod-rating .prar-stars-amount span {
    display: none;
  }

  .prar-review-list-head .prar-prod-rating .prar-histogram {
    margin-left: 12px;
  }

  .prar-review-list-head .prar-prod-rating .prar-rating {
    margin-right: 12px;
  }

  .prar-review-list-head .prar-prod-rating {
    margin-top: 0;
    padding-top: 25px;
  }

  .prar-review-list-head .page-title .base {
    position: absolute;
    left: 73px;
    top: 0;
    z-index: 2;
    margin-left: -65px;
  }

  .page-layout-1column .prar-review-list-head .product.media {
    grid-row: 2 / span 4;
    align-self: center;
    margin-left: 0;
  }
}

@media (min-width: 960px) {
  .prar-review-list-head {
    justify-content: center;
    position: relative;
    padding: 0 25px;
  }

  .prar-review-list-head .prar-prod-rating .prar-stars-amount {
    margin-bottom: 9px;
    font-size: 5.3rem;
    font-weight: 400;
    line-height: 1;
  }

  .prar-review-list-head .prar-rating .prar-btn {
    margin-top: 20px;
    font-size: 1.6rem;
  }

  .prar-review-list-head
    .page-title
    .base.prar-review-list-head
    .page-title
    .base {
    margin-left: -25px;
  }

  .prar-review-list-head
    .prar-rating
    .rating-summary
    .rating-result
    > span:before,
  .prar-review-list-head .prar-rating .rating-summary .rating-result:before {
    height: 26px;
    font-size: 26px;
    line-height: 26px;
  }

  .prar-review-list-head .prar-prod-rating .rating-summary,
  .prar-review-list-head .prar-rating .rating-summary .rating-result {
    width: 140px;
    max-width: 140px;
  }

  .prar-review-list-head .prar-prod-rating .prar-rating {
    margin-left: 12px;
  }

  .prar-review-list-head .prar-prod-rating {
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .prar-review-list-head .prar-prod-rating {
    max-width: inherit;
    margin: 0;
  }

  .prar-review-list-head .product-info {
    margin-left: 60px;
    margin-right: 0;
  }

  .prar-review-list-head .prar-prod-rating .prar-rating {
    margin-left: 0;
    margin-right: 45px;
  }

  .prar-review-list-head .prar-prod-rating .prar-histogram {
    width: 306px;
    max-width: 306px;
    margin-left: 45px;
  }

  .prar-review-list-head .prar-recommend-title strong {
    font-size: 3.8rem;
  }

  .prar-review-list-head .prar-prod-rating .prar-btn {
    min-width: initial;
  }

  .prar-review-list-head .product-info {
    max-width: 300px;
    min-width: 300px;
  }

  .prar-review-list-head .box-tocart .action.tocart {
    min-width: 176px;
  }
}

/* == one review page == */
@media (min-width: 768px) {
  #arar-product-review .product-img-box {
    display: block;
    width: 290px;
  }

  .advancedrar-review-view .arar-rew-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .advancedrar-review-view .prap-rev-container .prar-sticky-basket {
    display: none;
  }

  .advancedrar-review-view .arar-rew-item .buttons-set {
    width: 100%;
  }

  #arar-product-review .prar-details {
    width: calc(97% - 290px);
    margin-right: 3%;
  }

  .advancedrar-review-view.page-layout-1column .product-info-main {
    width: 100%;
  }

  #arar-product-review .product-img-box h2 {
    margin-bottom: 24px;
  }

  #arar-product-review .prar-product-info {
    display: flex;
  }

  #arar-product-review .prar-product-info .prar-product-description {
    width: 140px;
  }

  #arar-product-review .prar-product-description h2 {
    font-size: 1.6rem;
    color: #000;
    margin-top: 14px;
    margin-bottom: 0;
  }

  #arar-product-review .prar-product-description .product-info-price .price {
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
  }

  .advancedrar-review-view .prar-prod-rating .prar-recommend {
    order: 3;
    max-width: 370px;
  }

  #arar-product-review .prar-prod-rating .prar-rating {
    order: 2;
  }

  #arar-product-review .prar-prod-rating .prar-histogram {
    order: 1;
  }

  #arar-product-review .product-info-main .rating-summary {
    margin-right: 0;
  }

  #arar-product-review .prar-prod-rating .prar-stars-amount span {
    display: none;
  }

  #arar-product-review .prar-prod-rating .prar-stars-amount {
    font-size: 4.6rem;
    margin-top: -14px;
    display: block;
  }

  #arar-product-review .prar-prod-rating .prar-recommend {
    width: 100%;
    margin: 22px 0 0;
  }

  #arar-product-review .prar-prod-rating .prar-recommend h2 {
    flex-direction: row;
    align-items: center;
  }

  #arar-product-review .prar-recommend-title strong {
    margin-bottom: 0;
    margin-right: 3px;
    font-size: 1.6rem;
    font-weight: 600;
    color: #222;
  }

  .advancedrar-review-view #arar-product-review .box-tocart {
    margin-top: 5px;
    text-align: left;
  }

  .advancedrar-review-view .arar-rew-item .product-info-price .price-box {
    padding-bottom: 0;
  }

  .advancedrar-review-view #arar-product-review .box-tocart .action.tocart {
    width: 109px;
    padding: 5px 10px;
    font-size: 1.4rem;
    letter-spacing: 0;
    text-transform: initial;
    background-color: #1979c3;
    border-radius: 3px;
  }

  .advancedrar-review-view #arar-product-review .arar-rew-item {
    border-bottom: none;
  }

  .prar-product-description
    .product-info-price
    .price-box
    .price-container
    > span {
    margin-bottom: 0;
  }

  .advancedrar-review-view .prar-recommend .prar-recommend-title span {
    width: auto;
    font-weight: 400;
    color: #222;
  }

  .product-img-box .prar-prod-rating {
    justify-content: flex-start;
    align-items: flex-start;
  }

  .product-img-box .prar-prod-rating .prar-histogram {
    margin-left: 0;
    width: 185px;
  }

  .product-img-box .prar-prod-rating .prar-rating {
    margin-left: 15px;
    margin-right: 0;
  }

  .advancedrar-review-view .prar-rev-item-helpful .prar-rev-item-title {
    display: none;
  }

  .advancedrar-review-view .buttons-set {
    margin-top: 100px;
  }

  .product-img-box .prar-prod-rating .prar-histogram-line {
    min-width: 114px;
  }

  .prar-product-info .product-image {
    margin-right: 10px;
  }
}

@media (min-width: 960px) {
  .advancedrar-review-view
    .prar-rating
    .rating-summary
    .rating-result
    > span:before,
  .advancedrar-review-view .prar-rating .rating-summary .rating-result:before {
    height: 16px;
    font-size: 16px;
    line-height: 16px;
  }

  .advancedrar-review-view .prar-rating .rating-summary .rating-result {
    width: 90px;
  }

  .advancedrar-review-view .prar-prod-rating .prar-histogram {
    width: 207px;
  }

  .advancedrar-review-view .prar-prod-rating .prar-all-rev-link {
    margin-top: 5px;
    font-size: 1.2rem;
  }

  #arar-product-review .prar-prod-rating .prar-rating {
    margin-left: 7%;
  }

  #arar-product-review .product-img-box .prar-prod-rating .prar-stars-amount {
    font-size: 5.3rem;
    margin-top: -3px;
    margin-bottom: 2px;
    line-height: 1;
  }

  #arar-product-review .prar-prod-rating .prar-histogram-line {
    height: 12px;
  }

  #arar-product-review .product-img-box .prar-prod-rating .prar-histogram-item {
    margin-bottom: 0;
  }

  #arar-product-review .prar-recommend .prar-recommend-title span {
    font-size: 1.6rem;
    color: #222;
    font-weight: 400;
  }

  .advancedrar-review-view .prar-prod-rating .rating-summary {
    width: 91px;
    max-width: 91px;
  }

  .advancedrar-review-view .prar-rev-item-helpful .prar-rev-item-title {
    display: block;
  }

  #arar-product-review .product-img-box {
    width: 323px;
  }

  #arar-product-review .prar-details {
    width: calc(93.5% - 323px);
    margin-right: 5.5%;
  }
}

@media (min-width: 1300px) {
  #arar-product-review .prar-recommend .prar-recommend-title span {
    font-size: 1.8rem;
  }

  #arar-product-review .prar-recommend-title strong {
    font-size: 1.8rem;
    margin-right: 5px;
  }

  #arar-product-review .product-img-box {
    width: 374px;
  }

  #arar-product-review .prar-details {
    width: calc(93.5% - 374px);
  }

  #arar-product-review .prar-prod-rating .prar-rating {
    margin-left: 45px;
  }
}

/* == Review pager == */
@media (min-width: 1200px) {
  .prar-review-pager.pagination,
  .prar-review-pager {
    width: calc(98% - 310px);
  }
}

/* == mobile filter popup == */ 
@media (max-width: 767px) {
  .modal-popup.prar-mobile-filter-wrp.modal-slide .modal-inner-wrap {
    height: 100%;
    margin: 0;
  }
}
