/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

body.pl-thm-smartwave {
  overflow-x: initial;
}

.pl-thm-smartwave button.prar-btn {
  line-height: 0.7;
}

.pl-thm-smartwave .modal-popup .action-close:before,
.pl-thm-smartwave .modal-slide .action-close:before {
  margin: 0;
}

.pl-thm-smartwave .prar-rating .rating-summary .rating-result {
  width: 83px;
}

.pl-thm-smartwave .products {
  margin: 4px 0;
}

.pl-thm-smartwave
  .prar-mobile-filter-wrp.modal-slide
  .action-close::before {
  margin: 0;
}

.pl-thm-smartwave .prar-form-popup button.action-close {
  min-height: 50px;
}

.pl-thm-smartwave .prar-review-product-list .product-image-photo {
  object-fit: contain;
}

.pl-thm-smartwave .prar-review-list-head .price-box {
  margin-bottom: 0;
}

.pl-thm-smartwave .prar-review-list-head .box-tocart .action.tocart {
  margin-left: 0;
}

.pl-thm-smartwave .prar-rev-item-rat-wrap .rating-label {
  margin-top: 1px;
}

.pl-thm-smartwave.prar-review-product-list
  .product-info
  .prev-next-products,
.pl-thm-smartwave.prar-review-product-list
  .product-info
  .product-social-links,
.pl-thm-smartwave.prar-review-product-list
  .product-info
  .pschart-sizechart-link {
  display: none !important;
}

.pl-thm-smartwave.prar-review-product-list .box-tocart {
  margin-bottom: 0;
}

.pl-thm-smartwave .prar-mobile-filter-wrp button {
  height: auto;
}

.pl-thm-smartwave .prar-rev-item-helpful .prar-rating-btn .prar-count{
  line-height: 1.6rem
}

.pl-thm-smartwave.page-layout-2columns-right .prar-toolbar-search-wrap{
  width: 100%;
}

.pl-thm-smartwave.prar-review-product-list .prar-review-list-head .box-tocart button[prajaxcart].action.tocart,
.pl-thm-smartwave.advancedrar-review-view #arar-product-review .box-tocart button[prajaxcart].action.tocart{
    margin-left: 0;
    min-width: auto;
    width: 100%;
 }

 .pl-thm-smartwave.prar-review-product-list #estimateddelivery{
    grid-column: 1/-1;
 }

@media (min-width: 375px) {
  .pl-thm-smartwave .prar-prod-rating .prar-histogram-line {
    min-width: 105px;
  }
}

.pl-thm-smartwave .prar-prod-rating .prar-btn {
  height: auto;
}

@media (min-width: 768px) {
  .pl-thm-smartwave .prar-review-list .rating-summary .rating-result {
    width: 101px;
  }
}

@media (min-width: 960px) {
  .pl-thm-smartwave .prar-rating .rating-summary .rating-result {
    width: 192px;
  }

  .pl-thm-smartwave
    .prar-review-list-head
    .prar-prod-rating
    .rating-summary,
  .pl-thm-smartwave
    .prar-review-list-head
    .prar-rating
    .rating-summary
    .rating-result {
    width: 129px;
    max-width: 129px;
  }

  .pl-thm-smartwave[class*="page-layout-2"] .prar-prod-rating .prar-btn {
    height: auto;
    margin-left: 35px;
  }

  .pl-thm-smartwave[class*="page-layout-2"] .prar-prod-rating {
    margin-bottom: 15px;
  }

  .pl-thm-smartwave.advancedrar-review-view .prar-rating .rating-summary .rating-result {
    width: 83px;
  }

  .pl-thm-smartwave .prar-prod-rating .prar-histogram-line {
    min-width: 141px;
  }
}

@media (min-width: 1200px) {
  .pl-thm-smartwave .prar-prod-rating .prar-histogram {
    width: 302px;
    max-width: 302px;
  }

  .pl-thm-smartwave .prar-prod-rating .prar-histogram-line {
    min-width: 221px;
  }

  .pl-thm-smartwave[class*="page-layout-2"]
    .prar-prod-rating
    .prar-histogram {
    width: 308px;
    max-width: 308px;
    margin: 0;
  }

  .pl-thm-smartwave[class*="page-layout-2"]
    .prar-prod-rating
    .prar-rating {
    margin-top: 0;
  }

  .pl-thm-smartwave[class*="page-layout-2"] .prar-prod-rating .prar-btn {
    height: auto;
    margin-left: 8px;
  }

  .pl-thm-smartwave[class*= "page-layout-2"]
  .prar-prod-rating .prar-rating {
    margin-right: 0;
  }

  .pl-thm-smartwave.advancedrar-review-view .prar-prod-rating .prar-histogram {
    width: 207px;
  }

  .pl-thm-smartwave.advancedrar-review-view .prar-prod-rating .prar-histogram-line {
    min-width: 114px;
  }
}

@media (min-width: 1300px) {
  .pl-thm-smartwave .owl-carousel.prar-owl .owl-nav button.owl-prev {
    left: -50px;
  }

  .pl-thm-smartwave .owl-carousel.prar-owl .owl-nav button.owl-next {
    right: -50px;
  }

  .pl-thm-smartwave .prar-toolbar-field-wrap:nth-of-type(2) {
    margin-right: 20px;
  }

  .pl-thm-smartwave[class*="page-layout-2"] .prar-toolbar-field-wrap {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .pl-thm-smartwave button.prar-mob-filter-btn {
    max-width: 170px;
    padding-left: 27px;
    text-align: center;
    background-position: 10% center;
  }

  .pl-thm-smartwave .modal-popup.prar-gallery-wrp{
    left: 0
  }

  .pl-thm-smartwave .prar-gallery-wrp.modal-slide .modal-inner-wrap{
    position: static;
    margin-right: 0;
    margin-left: auto;
  }

 .pl-thm-smartwave .prar-gallery-wrp.modal-slide .modal-inner-wrap .modal-header{
    position: sticky;
    top: 0;
    z-index: 150;
    background: #f4f4f4;
 }
}
