/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/*
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

/* @@ Global styles @@ */
html,
body {
  -webkit-overflow-scrolling: touch;
}

button.prar-btn {
  padding: 10px 8px;
  text-align: center;
  font-size: 1.4rem;
  color: white;
  background: #1979c3;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  text-transform: initial;
  border-radius: 3px;
  letter-spacing: 0;
  line-height: 1.2;
}

button.prar-btn:hover {
  background-color: #006bb4;
}

.owl-carousel.prar-owl .owl-nav button span,
#arar-upload .fileinput-button input[type="file"],
.prar-toolbar-field-wrap label,
.img-upload .file-delete span,
.video-preview .video-delete span,
.prar-review-list-head .price-box .old-price .price-container > .price-label,
.product-img-box .price-box .old-price .price-container > .price-label,
.prar-sticky-basket .price-label {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  font-size: 1px;
  overflow: hidden;
}

#arar-form-messages {
  margin: 0;
  padding: 0;
}

.prar-rev-item-bottom .titler,
.prar-rev-item-r-bar .titler {
  font-weight: 600;
  font-size: 1.6rem;
  color: #333;
  line-height: 1.5;
  letter-spacing: 0;
  vertical-align: middle;
  margin-top: 1px;
}

.prar-rating .rating-summary .rating-result > span:before,
.prar-rating .rating-summary .rating-result:before {
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}

.prar-rating .rating-summary .rating-result {
  width: 90px;
  margin-top: 9px;
}

.prar-review-product-list .page-main {
  padding: 0 10px;
}

.prar-form-popup .modal-header h1,
.prar-gallery-wrp .modal-header h1 {
  padding-bottom: 0;
  font-size: 2.2rem;
  line-height: 1.5;
  font-weight: 600;
  cursor: pointer;
  border-bottom: 1px solid #c1c1c1;
  margin-bottom: 0;
}

.prar-form-popup button.action-close {
  border-radius: 0;
}

.prar-form-popup button.action-close::after {
  font-size: 1.4rem;
  text-transform: initial;
  letter-spacing: 0;
}

.prar-rev-recommend {
  display: flex;
  align-items: center;
  margin: 11px 0 0;
}

.prar-rev-recommend strong {
  margin-left: 5px;
  font-size: 1rem;
  line-height: 1.4rem;
  color: #378735;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0;
}

.prar-rev-recommend.no strong {
  color: #ff9797;
}

.prar-rev-recommend svg path {
  fill: #378735;
}

.prar-rev-recommend.no svg path {
  fill: #d34e4e;
}

.prar-rev-recommend svg {
  transform: rotate(0deg);
  fill: #378735;
}

.prar-rev-recommend.no svg {
  fill: #ff9797;
}

.rating-summary.prar-rat-sum .rating-result:before {
  top: 0;
}

.advancedrar-review-leavereview .success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.advancedrar-review-leavereview .success-message__title {
  margin-top: 20px;
  margin-bottom: 5px;
}

/* == product rating == */
.prar-prod-rating {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 355px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.prar-prod-rating .prar-recommend {
  order: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  width: 116px;
  border-top: 1px solid #c4c4c4;
}

.prar-prod-rating .prar-recommend h2 {
  display: flex;
  width: 116px;
  flex-direction: column;
  margin: 0;
  text-align: center;
  color: #888;
}

.prar-prod-rating .rating-summary {
  position: relative;
  order: 2;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 5px 10px;
  white-space: normal;
  width: 116px;
  box-sizing: border-box;
  overflow: initial;
}

.prar-prod-rating .prar-all-rev-link {
  width: 100%;
  margin-top: 14px;
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.22;
  letter-spacing: 0;
}

.prar-prod-rating .prar-btn {
  order: 3;
  margin-top: 8px;
  padding: 9px 20px;
  text-transform: initial;
  border-radius: 3px;
  letter-spacing: 0;
  line-height: 1;
}

.prar-prod-rating .prar-rating .prar-btn {
  display: none;
}

.prar-recommend .prar-recommend-title span {
  font-size: 1rem;
  line-height: 1.1;
  font-weight: 500;
  display: inline-block;
}

.prar-recommend-title strong {
  display: block;
  margin-bottom: 3px;
  font-size: 1.4rem;
  font-weight: 600;
}

.prar-prod-rating .prar-stars-amount {
  margin-top: -5px;
  text-align: center;
  font-size: 5.3rem;
  line-height: 1;
  font-weight: 600;
}

.prar-prod-rating .prar-stars-amount span {
  display: none;
}

.prar-prod-rating .prar-histogram {
  order: -1;
  display: block;
  max-width: 208px;
  width: 59%;
}

.prar-prod-rating .prar-histogram-item {
  display: flex;
  align-items: center;
  margin-bottom: 7px;
  font-size: 1.2rem;
  line-height: 1.3;
  white-space: nowrap;
  letter-spacing: 0;
}

.prar-prod-rating .prar-histogram-item:first-child {
  margin-top: 0;
}

.prar-prod-rating .prar-histogram-line {
  position: relative;
  min-width: 107px;
  height: 12px;
  box-sizing: border-box;
  margin-left: 6px;
  margin-right: 8px;
  background-color: #e7e7e7;
  border: 1px solid #d8d8d8;
  border-radius: 2px;
}

.prar-prod-rating .prar-histogram-fullness {
  position: absolute;
  top: -1px;
  left: 0;
  bottom: -1px;
  box-sizing: border-box;
  background-color: #ffc700;
  box-shadow: inset 0 0 0 1px #cfa200;
  border-radius: 2px;
}

.prar-prod-rating .prar-no-review {
  margin-bottom: 10px;
  text-align: center;
}

.prar-prod-rating .prar-no-review strong {
  display: block;
  font-size: 1.6rem;
}

.prar-prod-rating .prar-no-review ~ .prar-btn {
  margin-left: auto;
  margin-right: auto;
}

/* == owl slider == */
.column.main .prar-products.product-items {
  margin-left: 0;
}

.prar-products {
  margin-top: 14px;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 13px;
  border-top: 1px solid #c4c4c4;
  border-bottom: 1px solid #c4c4c4;
}

.prar-products .prar-products-title {
  margin: 0 0 8px;
  font-size: 1.4rem;
  font-weight: 600;
}

.prar-products .owl-carousel.prar-owl .owl-nav {
  position: absolute;
  top: 50%;
  transform: translatey(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
}

.prar-products .owl-carousel.prar-owl .owl-nav button {
  position: relative;
  width: 36px;
  height: 28px;
  margin-right: 10px;
  margin-left: 10px;
  box-sizing: border-box;
  background-color: transparent;
  border-radius: 0;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: none;
}

.owl-carousel.prar-owl .owl-nav button.owl-prev {
  left: -40px;
  pointer-events: all;
  background-image: url("../images/left-arrow.svg");
}

.owl-carousel.prar-owl .owl-nav button.owl-next {
  right: -40px;
  pointer-events: all;
  background-image: url("../images/right-arrow.svg");
}

.prar-products .owl-dots {
  margin: 15px;
  text-align: center;
}

button.prar-popup-media {
  margin-top: 12px;
  padding: 0;
  border: none;
  font-weight: 400;
  color: #1583ce;
  text-transform: initial;
  letter-spacing: 0;
  background-color: transparent;
  box-shadow: none;
}

button.prar-popup-media:hover {
  color: #1583ce;
  text-decoration: underline;
  background-color: transparent;
}

.prar-products .owl-carousel.owl-drag .owl-item > div {
  width: 68px;
  height: 68px;
  cursor: pointer;
}

.prar-products .owl-carousel .owl-stage-outer {
  margin-right: -10px;
}

.prar-rev-media-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* == Reviews list == */
.prar-reviews {
  margin-top: 15px;
  padding: 10px 13px;
  background-color: #eee;
  font-size: 1.4rem;
  color: #000;
}

.prar-reviews a {
  color: #1583ce;
}

.prar-review-list {
  letter-spacing: 0;
}

.prar-review-list-wrp .prar-social-wrap {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.prar-review-list-wrp .prar-social-wrap .prar-social {
  margin-right: 10px;
  flex-shrink: 0;
}

.prar-review-list-wrp .prar-social-wrap img {
  display: flex;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.prar-review-toolbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 14px;
}

.prar-review-toolbar span {
  margin-right: 3px;
}

.prar-review-toolbar select,
input.prar-toolbar-search {
  margin-bottom: 15px;
  font-size: 1.6rem;
}

.prar-review-toolbar select {
  height: 34px;
  font-size: 1.4rem;
  border-radius: 3px;
}

.prar-toolbar-field-wrap.sort-field .prar-toolbar-select:last-child {
  margin-bottom: 0;
}

.prar-toolbar-field-wrap.sort-field {
  display: flex;
  width: 66.2%;
  max-width: 66.2%;
}

.prar-toolbar-field-wrap.sort-field .prar-toolbar-select:first-of-type {
  margin-right: 3%;
}

.prar-toolbar-field-wrap {
  margin-right: 2.8%;
}

.prar-review-toolbar .prar-review-num {
  width: 100%;
  margin-top: 18px;
  font-weight: 600;
}

body input.prar-toolbar-search {
  height: 34px;
  margin-right: 10px;
  padding-left: 30px;
  background-image: url("../images/search-icon.svg");
  background-repeat: no-repeat;
  background-position: 5px center;
  border-radius: 3px;
}

input.prar-toolbar-search::placeholder {
  font-size: 1.4rem;
}

.prar-toolbar-search-wrap {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.prar-toolbar-search-wrap input.prar-toolbar-search::-webkit-input-placeholder {
  color: #888;
}

.prar-toolbar-search-wrap input.prar-toolbar-search::placeholder {
  color: #888;
}

.prar-box-reviews .prar-toolbar-search-wrap button {
  padding: 8px 21px;
  color: #1979c3;
  background-color: transparent;
  border: 1px solid #1979c3;
  transition: 0.3s;
  font-size: 1.4rem;
  line-height: 1.15;
  letter-spacing: 0;
  text-transform: initial;
  border-radius: 3px;
}

.prar-box-reviews .prar-toolbar-search-wrap button:hover {
  color: #333;
  border-color: #333;
}

.prar-review-list-wrp .prar-rev-item-detail,
.prar-review-list-wrp .prar-rev-item-pros,
.prar-rev-item-bottom .prar-rev-item-cons {
  margin-top: 13px;
  font-size: 1.6rem;
  line-height: 1.33;
  color: #000;
}

.prar-review-list-wrp mark {
  background: #fcde62;
}

#pr-review-list .loading-mask {
  margin: 0 -10px;
}

#pr-review-list .loading-mask img {
  bottom: auto;
}

input.prar-toolbar-search::placeholder {
  color: #000;
}

.prar-toolbar-field-wrap .select-label {
  display: none;
}

#pr-review-list .prar-review-item-photos {
  margin-top: 19px;
  margin-right: -10px;
  margin-bottom: 0;
  display: flex;
  overflow-x: auto;
  padding: 0;
  list-style: none;
}

.prar-review-list-wrp .prar-review-item-photo {
  flex-shrink: 0;
  width: 102px;
  height: 76px;
  margin-right: 6px;
  margin-bottom: 4px;
  cursor: pointer;
}

.prar-review-list-wrp .prar-rating-btn {
  position: relative;
  display: inline-table;
  width: 35px;
  margin-right: 5px;
  padding: 0;
  height: 32px;
  border: none;
  background-color: transparent;
  box-shadow: none;
  transition: 0.3s;
}

.prar-review-list-wrp .prar-rating-btn::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -4px;
  width: 1px;
  height: 35px;
  background-color: #c4c4c4;
}

.prar-review-list-wrp .prar-rev-share-wrap {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.prar-review-list-wrp .prar-rev-share-img::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

.prar-review-list-wrp .prar-rev-share-img:hover {
  opacity: 0.8;
}

.prar-rev-footer-share:last-child .prar-rev-share-img {
  margin-right: 0;
}

.prar-review-list-wrp .prar-rev-list-item {
  padding-top: 11px;
  padding-bottom: 27px;
  border-bottom: 1px solid #c4c4c4;
}

.prar-rev-abuse .prar-rev-abuse-link {
  position: relative;
  display: block;
  width: 38px;
  height: 32px;
  transition: 0.3s;
}

.prar-item-footer .prar-rev-item-helpful {
  margin-left: auto;
}

.prar-rev-item-helpful .prar-rev-item-title {
  display: none;
}

.prar-rev-item-helpful .prar-rating-btn .icon,
.prar-rev-abuse .prar-rev-abuse-link .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.prar-rev-item-helpful .prar-rating-btn .yes-icon-hover,
.prar-rev-item-helpful .prar-rating-btn .no-icon-hover,
.prar-rev-item-helpful .prar-rev-abuse-link .report-icon-hover {
  opacity: 0;
}

.prar-rev-item-helpful .prar-rev-abuse-link .report-icon-hover.abuse {
  opacity: 1;
}

.prar-rev-item-helpful .prar-rating-btn:hover .yes-icon,
.prar-rev-item-helpful .prar-rating-btn:hover .no-icon,
.prar-rev-item-helpful .prar-rev-abuse-link:hover .report-icon,
.prar-rev-item-helpful .prar-rating-btn.active .yes-icon,
.prar-rev-item-helpful .prar-rating-btn.active .no-icon {
  opacity: 0;
}

.prar-rev-item-helpful .prar-rating-btn:hover .yes-icon-hover,
.prar-rev-item-helpful .prar-rating-btn:hover .no-icon-hover,
.prar-rev-item-helpful .prar-rev-abuse-link:hover .report-icon-hover,
.prar-rev-item-helpful .prar-rating-btn.active .yes-icon-hover,
.prar-rev-item-helpful .prar-rating-btn.active .no-icon-hover {
  opacity: 1;
}

.prar-rating-btn.active .prar-rating-btn-title,
.prar-rating-btn.active .prar-abuse-link-title {
  color: #c13a3a;
}

.prar-rating-btn.active .prar-rating-btn-title.helpful {
  color: #319e43;
}

.prar-rating-btn:hover .prar-rating-btn-title.helpful {
  color: #319e43;
}

.prar-rating-btn:hover .prar-rating-btn-title {
  color: #d34e4e;
}

.prar-rev-abuse-link:hover .prar-abuse-link-title {
  color: #d34e4e !important;
}

.prar-review-list-wrp .prar-share-btn-wrap {
  display: flex;
  justify-content: flex-end;
}

.prar-review-list-wrp .prar-rating-btn-wrap {
  display: flex;
}

.prar-review-list-wrp .prar-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}

.prar-rev-item-date.desk {
  display: none;
}

.prar-rev-footer-share a {
  position: relative;
  display: flex;
  margin-right: 6px;
  cursor: pointer;
}

.prar-rev-footer-share a::before {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
}

.prar-rev-footer-share:last-child a {
  margin-right: 0;
}

.prar-rev-item-top .prar-wrap {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 100%;
}

.prar-rev-item-top .prar-rev-wrap {
  clear: both;
  overflow: hidden;
}

.prar-rev-item-top .prar-rev-nickname {
  font-size: 1.6rem;
}

.prar-rev-item-top .prar-rev-item-date {
  font-size: 1.2rem;
  color: #888;
}

.prar-toolbar-field-wrap,
.prar-mob-filter-btn {
  max-width: 220px;
  width: 48.5%;
}

button.prar-mob-filter-btn {
  margin-bottom: 15px;
  padding: 8px 15px 8px 48px;
  text-align: left;
  color: #1979c3;
  background-color: transparent;
  box-shadow: none;
  background-image: url(../images/filter-icon.svg);
  background-repeat: no-repeat;
  background-position: 27px center;
  font-size: 1.4rem;
  line-height: 1.2;
  letter-spacing: 0;
  text-transform: initial;
  border: 1px solid #1979c3;
  border-radius: 3px;
}

.prar-rev-item-helpful .prar-rating-btn .prar-count {
  position: absolute;
  top: -8px;
  left: 23px;
  z-index: 2;
  font-size: 1rem;
  color: #888;
}

.prar-rev-item-helpful .prar-rating-btn.btn-down .prar-count {
  left: 27px;
}

.prar-rev-item-helpful .prar-rating-btn-title,
.prar-review-list-wrp .prar-abuse-link-title {
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  font-size: 9px;
  font-weight: 400;
  text-transform: initial;
  letter-spacing: 0;
  line-height: 1;
}

.prar-rev-item-helpful .prar-rating-btn-title {
  color: #1583ce;
}

.prar-rev-item-helpful .loading-mask .loader > img {
  width: 32px;
}

.prar-review-list-wrp .prar-abuse-link-title {
  bottom: -11px;
}

.prar-review-toolbar .prar-toolbar-state {
  width: 100%;
}

.prar-toolbar-state strong {
  display: block;
  margin-top: 8px;
  margin-right: 11px;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
}

.prar-toolbar-state span {
  color: #000;
  white-space: nowrap;
}

.prar-toolbar-state span:nth-child(2n) {
  margin-right: 13px;
}

.prar-toolbar-act-filt {
  display: inline;
}

.prar-toolbar-state .prar-close {
  position: relative;
  display: inline-block;
  width: 17px;
  height: 17px;
  top: 4px;
  background-color: #c4c4c4;
  border-radius: 3px;
  cursor: pointer;
}

.prar-toolbar-state .prar-close::before {
  content: "X";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.prar-toolbar-state .prar-close::after {
  content: ",";
  position: absolute;
  right: -5px;
}

.prar-toolbar-state .prar-clear-link {
  color: #1583ce;
  cursor: pointer;
  white-space: nowrap;
}

.prar-review-toolbar .prar-toolbar-state.prar-toolbar-state-empty {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 30px;
}

.prar-toolbar-state-empty .prar-state-title {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.6rem;
  text-transform: none;
}

.prar-toolbar-state-empty span:nth-child(2n) {
  margin-right: 11px;
}

.prar-toolbar-state-empty .prar-state-text {
  width: 100%;
  text-align: center;
}

.prar-toolbar-state-empty .prar-filtered-by {
  order: -3;
}

.prar-toolbar-state-empty .prar-toolbar-act-filt {
  order: -2;
}

.prar-toolbar-state-empty .prar-clear-link {
  order: -1;
}

.prar-rev-item-verified {
  position: relative;
  margin-top: 7px;
  padding-left: 13px;
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: #ed6c0f;
}

.prar-rev-item-verified::before {
  content: "";
  position: absolute;
  left: 0;
  top: 3px;
  width: 9px;
  height: 6px;
  box-sizing: border-box;
  transform: rotate(-45deg);
  border: 2px solid #ed6c0f;
  border-top: none;
  border-right: none;
}

.prar-rev-item-verified .prap-verified-details {
  font-weight: 400;
  color: #888;
  text-transform: initial;
}

.prar-rev-item-verified span:first-child {
  margin-right: 3px;
}

.prar-sticky-basket {
  display: none;
}

.prar-sticky-basket button:hover {
  background: #006bb4;
}

/* == customer review form == */
.prar-form-add .prar-product-img {
  display: none;
}

.prar-form-add .prar-message-hld {
  padding: 0 0 18px;
}

.prar-form-add .prar-message-hld h2 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 2.4rem;
  font-weight: 600;
}

.prar-form-add .prar-message-hld h3 {
  margin: 0;
  font-weight: 400;
  color: #1583ce;
}

.prar-form-add fieldset {
  padding: 0;
  border: none;
}

.prar-form-add form .prar-yourself-title {
  margin: 0 0 5px;
  font-size: 2.1rem;
  font-weight: 600;
  color: #333;
}

.prar-form-add form h4 {
  margin-top: 20px;
  margin-bottom: 3px;
  font-size: 1.6rem;
  font-weight: 600;
}

.prar-rating-stars img {
  width: 36px;
}

.prar-rating-box {
  position: relative;
  width: 250px;
  margin-top: 10px;
}

.prar-rating-box .prar-rating-text {
  position: absolute;
  left: 200px;
  bottom: 10px;
  width: 150px;
  text-align: left;
  pointer-events: none;
}

.prar-rating-box .prar-rating-stars {
  width: 250px;
}

.prar-form-list {
  margin: 25px 0 15px;
  padding: 0;
  list-style: none;
}

.prar-form-item label span {
  font-size: 1.6rem;
  font-weight: 600;
}

.prar-form-item label em {
  color: #e02b27;
}

.prar-form-item label .prar-form-item-desc {
  display: block;
  margin-bottom: 5px;
  font-size: 1.2rem;
  font-weight: 400;
  color: #888888;
}

.prar-form-item.about-yourself {
  margin-top: 25px;
}

.prar-form-sub-item {
  margin-bottom: 10px;
}

.prar-form-list input:not(input[type= "file"]),
.prar-form-list textarea {
  font-size: 1.6rem;
  width: 100%;
}

.prar-form-add .prar-submit-btn {
  width: 100%;
  padding: 14px 17px;
  color: #fff;
  font-size: 1.8rem;
  background-color: #1979c3;
  border-color: #1979c3;
  box-shadow: none;
}

.prar-form-add .prar-submit-btn:hover {
  background-color: #006bb4;
  border-color: #006bb4;
}

.prar-form-add .comment-summary,
.prar-form-add .characters-left {
  display: inline-block;
}

.prar-form-add .prar-input-box,
.prar-form-add #pros_field-error,
.prar-form-add #cons_field-error {
  text-align: right;
}

.prar-form-add .comment-summary {
  margin-left: auto;
}

.prar-form-add .prar-uploader-label,
.prar-uploader-box .prar-uploader-item button {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  box-sizing: border-box;
  margin-right: 6px;
  padding: 18px 8px 13px;
  background-color: #eaeaea;
  cursor: pointer;
}

.modal-popup.prar-form-popup {
  pointer-events: auto;
}

.prar-form-popup #arar-upload .fileinput-button {
  width: 100%;
  margin-top: 17px;
}

.prar-form-popup #arar-upload .file-row {
  display: inline-block;
  border: none;
}

.prar-form-popup .pslogin-spacer {
  text-align: left;
}

.fileinput-button .prar-fileinput-label {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}

.fileinput-button .prar-fileinput-desc {
  display: block;
  font-size: 1.2rem;
  line-height: 1.5;
  color: #888888;
}

.prar-form-item #arar-upload .fileinput-button span {
  display: block;
}

.fileinput-button .prar-uploader-list {
  display: flex;
  margin-top: 5px;
}

.prar-form-add .prar-uploader-label span,
.prar-uploader-box .prar-uploader-item button {
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 400;
  color: #666;
}

.prar-form-add .prar-uploader-box-subs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 1rem;
}

.prar-uploader-box-subs span:first-child {
  margin-right: 5px;
}

.prar-form-add .comment-file {
  display: inline-block;
  margin-top: 5px;
  margin-right: 7px;
  margin-bottom: 7px;
}

.prar-form-add .prar-uploader-box-title {
  margin-right: 5px;
}

.prar-form-add input[type="text"],
.prar-form-add input[type="text"],
.prar-form-add .prar-recommend-field {
  width: 100%;
  box-sizing: border-box;
  height: 34px;
  font-size: 1.6rem;
}

.prar-form-add textarea {
  font-size: 1.6rem;
}

.prar-form-add .prar-rating-title {
  font-weight: 600;
}

.prar-uploader-box .prar-uploader-item button {
  width: 70px;
  height: 100%;
  border: none;
  box-shadow: none;
  background-color: #eaeaea;
  border-radius: 0;
}

.prar-uploader-box .prar-uploader-item button p {
  margin: 0;
  font-size: inherit;
  text-transform: initial;
}

.prar-form-add .comment-summary,
.prar-form-add .characters-left {
  font-size: 1rem;
  color: #8888;
}

#arar-form-add #arar-upload .file-info {
  display: flex;
}

#arar-form-add #arar-upload .file-info .img-upload {
  position: relative;
  width: 62px;
  height: 46px;
  background-image: url(../images/photo.svg);
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #eaeaea;
}

#arar-form-add #arar-upload .file-info .img-upload > div {
  background-color: #fff;
}

#arar-form-add .video-preview {
  position: relative;
  width: 62px;
  margin-top: 5px;
}

#arar-form-add #arar-upload .file-delete,
#arar-form-add .video-delete {
  position: absolute;
  top: -7px;
  right: -7px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background-color: #df1f1f;
  border-radius: 50%;
}

#arar-form-add .file-delete::before,
#arar-form-add .file-delete::after,
#arar-form-add .video-delete::before,
#arar-form-add .video-delete::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 10px;
  height: 2px;
  background-color: #fff;
}

#arar-form-add .file-delete::after,
#arar-form-add .video-delete::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.prar-form-popup #arar-upload .image-title {
  display: block;
}

.prar-form-add .prar-buttons-set {
  display: flex;
  margin-top: 10px;
}

.prar-form-add .prar-buttons-set .prar-btn {
  min-width: 203px;
  margin: 0 auto;
}

.prar-form-add .prar-uploader-desk {
  display: none;
}

.prar-rev-item-rat-wrap {
  display: flex;
  margin-bottom: 5px;
}

.prar-rev-item-rat-wrap:last-child {
  margin-bottom: 0;
}

.prar-rev-item-rat-wrap .rating-label {
  margin-top: 1px;
  margin-left: 5px;
}

.prar-form-add #arar-message-hld label em {
  float: none;
}

.prar-message-hld#arar-message-hld h2 {
  margin-top: 12px;
}

.prar-message-hld#arar-message-hld h3 {
  margin-top: 8px;
  font-size: 1.8rem;
  font-weight: 400;
}

.prar-message-hld#arar-message-hld .prar-yourself-title {
  font-size: 2.1rem;
  color: #333;
  font-weight: 600;
}

.prar-form-label em {
  margin-left: 5px;
}

.prar-form-popup .message.success {
  padding: 100px 12px 25px;
  color: inherit;
  text-align: center;
  font-size: 1.4rem;
  background-color: transparent;
}

.prar-form-popup .message.success strong {
  display: block;
  margin-bottom: 5px;
  text-align: center;
  font-size: 1.8rem;
}

.prar-form-popup .message.success div::before {
  content: "";
  left: 50%;
  transform: translateX(-50%);
  font-family: inherit;
  width: 70px;
  height: 70px;
  background-image: url(../images/success-icon.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.prar-form-add .prar-rating-box input[type="text"] {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.prar-form-add .prar-rating-box div.mage-error[generated] {
  position: absolute;
  width: 300px;
  bottom: -15px;
}

#arar-form-add .progressbar {
  height: 8px;
}

#arar-form-add .progressbar.upload-progress {
  background-image: -webkit-linear-gradient(
      -45deg,
      transparent 33%,
      rgba(0, 0, 0, .1) 33%,
      rgba(0, 0, 0, .1) 66%,
      transparent 66%
    ),
    -webkit-linear-gradient(top, rgba(255, 255, 255, .25), rgba(0, 0, 0, .25)),
    -webkit-linear-gradient(left, #80a3bf, #87ec04);
  border-radius: 2px;
  background-size: 10px 8px, 100% 100%, 100% 100%;
}

.prar-rat-form .img {
  margin-right: 35px;
}

.prar-rat-form .img .border .img-hld {
  box-shadow: inset 0 0 6px 0 rgba(0,0,0,0.2);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  width: 138px;
  height: 138px;
  z-index: 5;
}

.prar-rat-form .img .border > img {
  bottom: 0;
  height: 124px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 124px;
  border-radius: 50%;
}

.prar-rat-form .img .border {
  width: 146px;
  height: 146px;
  border-radius: 50%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 4px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background: #Fff;
  position: relative;
  text-align: center;
  border: 4px solid #fff;
}

/* == mobile filter popup == */
.prar-mob-filter-form .prar-mob-filter-clear {
  width: 100%;
  margin-bottom: 18px;
  padding: 8px;
  font-size: 14px;
  color: #1583ce;
  background-color: #fff;
  border: 1px solid #1979c3;
  border-radius: 3px;
}

.prar-mob-filter-field {
  padding: 0;
  margin: 0;
  border: none;
}

.prar-mob-filter-field label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
  padding: 6px 14px;
  font-weight: 600;
  font-size: 1.4rem;
  background-color: #fff;
  border: 1px solid #ccc;
}

.prar-mob-filter-field.all-field label {
  margin-bottom: -1px;
}

.prar-mob-filter-field label input {
  margin: 0;
}

.modal-popup.prar-mobile-filter-wrp {
  width: 84%;
  right: 0;
  left: auto;
}

.prar-mobile-filter-wrp .modal-content {
  padding: 0 19px;
}

.modal-popup.prar-mobile-filter-wrp.modal-slide .modal-inner-wrap {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f4f4f4;
}

.prar-mobile-filter-wrp .action-close,
.prar-mobile-filter-wrp .action-close:hover,
.prar-mobile-filter-wrp .action-close:focus {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: -18px;
  margin-left: 14px;
  padding: 10px 10px 13px;
  border-bottom: 1px solid #b9b9b9;
  border-radius: 0;
}

.prar-mobile-filter-wrp .action-close span {
  position: static;
  width: auto;
  height: auto;
  margin-left: 2px;
  color: #1583ce;
  font-size: 1.4rem;
  text-transform: initial;
  letter-spacing: 0;
}

.prar-mobile-filter-wrp .modal-header {
  padding-bottom: 26px;
  padding-left: 5px;
  padding-right: 33px;
}

.prar-mobile-filter-wrp.modal-popup .modal-footer {
  box-sizing: border-box;
  margin-top: 16px;
  padding-top: 0;
  padding-left: 19px;
  padding-right: 19px;
}

.prar-mobile-filter-wrp .modal-footer button {
  width: 100%;
  padding: 11px 32px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.2;
  color: white;
  background-color: #1979c3;
  box-shadow: none;
  border: none;
  cursor: pointer;
  transition: 0.2s;
  text-transform: initial;
  border-radius: 3px;
  letter-spacing: 0;
}

.prar-mobile-filter-wrp .modal-footer button:hover {
  width: 100%;
  background-color: #006bb4;
}

.prar-mobile-filter-wrp.modal-slide .action-close::before {
  position: absolute;
  right: 0;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
}

.prar-mobile-filter-wrp.modal-slide .action-close::after {
  content: "«";
  position: absolute;
  left: 0;
  top: 9px;
  font-size: 1.4rem;
  line-height: 20px;
  color: #1583ce;
}

.prar-mob-filter-field:last-of-type label:last-child {
  margin-bottom: 0;
}

/* == Image gallery popup == */
.prar-gallery-wrp.modal-slide .modal-inner-wrap {
  width: 80%;
  max-width: 1200px;
}

.prar-gallery-wrp.modal-slide .modal-content {
  padding: 0 30px;
  padding-bottom: 26px;
}

.prar-gallery-wrp .modal-title.prar-view {
  padding-left: 30px;
  background-image: url(../images/menu-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 center;
}

.prar-gallery-wrp .modal-title.prar-view:hover {
  opacity: 0.7;
}

.prar-rev-photos {
  display: flex;
  margin-left: -5px;
  margin-top: 10px;
  padding: 0;
  list-style: none;
  overflow-x: auto;
}

.modal-content .prar-rev-item-photos {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.prar-rev-photos .prar-rev-item-photo,
.prar-rev-item-photos .prar-rev-item-photo {
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-bottom: 5px;
  overflow-y: hidden;
  cursor: pointer;
}

.prar-rev-photos .prar-rev-item-photo button {
  border: 2px solid #fff;
}

.prar-rev-photos .prar-rev-item-photo button.active {
  border-color: #ffc700;
}

.prar-rev-photos .prar-rev-item-photo {
  flex-shrink: 0;
  width: 52px;
  height: 52px;
}

.prar-rev-photos .prar-rev-item-photo img {
  width: 48px;
  height: 48px;
  object-fit: cover;
}

.prar-rev-item-desc {
  margin-top: 5px;
  font-size: 1.2rem;
}

.prar-rev-item-photos {
  margin-top: 5px;
  padding: 0;
  list-style: none;
  overflow-y: auto;
}

.prar-rev-item-photo {
  width: 102px;
  height: 76px;
}

.prar-rev-item-l-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.prar-rev-item-r-bar {
  margin-top: 15px;
}

.prar-rev-item-l-bar img,
.prar-rev-item-r-bar img {
  display: block;
}

.prar-rev-photos .prar-rev-item-photo button {
  position: relative;
  box-sizing: border-box;
  padding: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.prar-rev-item-wrap .prar-rev-item-rat {
  margin-top: 5px;
  margin-right: 10px;
  vertical-align: sub;
}

.prar-rev-item-wrap .product-name {
  font-size: 1.6rem;
  font-weight: 600;
}

.prar-rev-item-wrap .prar-rev-item-det {
  max-width: 500px;
  margin-bottom: 15px;
  margin-top: 15px;
  color: #000;
}

.prar-rev-item-bottom .prar-rev-item-pros,
.prar-rev-item-bottom .prar-rev-item-cons {
  display: flex;
}

.prar-rev-item-bottom .prar-rev-item-cons {
  margin-top: 9px;
}

.prar-rev-item-bottom .prar-rev-item-pros {
  margin-top: 15px;
}

.prar-rev-item-bottom .prar-rev-item-pros strong,
.prar-rev-item-bottom .prar-rev-item-cons strong {
  flex-shrink: 0;
  font-weight: 600;
}

.prar-rev-item-bottom .prar-rev-item-pros span,
.prar-rev-item-bottom .prar-rev-item-cons span {
  margin-left: 10px;
}

.prar-rev-item-wrap .prar-rev-item-sum {
  margin-top: 5px;
}

.prar-rev-item-bottom .prar-rev-rating {
  float: left;
  margin-right: 4px;
}

#pr-review-list .rating-result:before {
  top: 0;
}

.prar-rev-item-bottom .arar-admin-reply {
  margin-top: 25px;
  padding: 15px;
  background-color: transparent;
  border: 1px solid #c4c4c4;
  border-radius: 0;
}

.prar-rev-item-bottom .arar-admin-reply .arar-date {
  color: #6191a9;
}

.prar-rev-item-bottom .arar-admin-reply::before,
.prar-rev-item-bottom .arar-admin-reply::after {
  display: none;
}

.prar-rev-item-bottom .arar-admin-reply strong {
  font-size: 1.4rem;
  font-weight: 600;
}

.prar-rev-item-bottom .arar-admin-reply .arar-date {
  text-align: left;
  font-size: 1.2rem;
  color: inherit;
}

.prar-rev-item-bottom .arar-admin-reply .arar-txt {
  margin-top: 15px;
  font-size: 1.4rem;
}

.prar-rev-item-bottom .arar-admin-reply .arar-txt p {
  margin: 0;
}

/* == Review pager == */
.prar-review-pager {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 11px;
  text-align: center;
}

.prar-review-pager.pagination {
  flex-direction: column;
  align-items: center;
}

.product.detailed .prar-rev-pager-wrap {
  margin-top: 28px;
  padding-left: 0;
  display: flex;
  justify-content: center;
  list-style: none;
}

.prar-pager-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 18px;
  font-weight: 600;
  font-size: 16px;
  color: #222;
  margin: 0 5px;
}

.prar-pager-link.active,
.prar-pager-link.active:hover {
  color: #006bb4;
  text-decoration: underline;
}

.prar-pager-link:hover {
  color: #333;
}

.prar-review-pager .prar-btn {
  width: 50%;
  max-width: 225px;
  margin-bottom: 15px;
}

.prar-review-pager .prar-btn:first-child {
  margin-right: 10px;
}

.prar-review-pager .prar-btn-more {
  color: #1979c3;
  background-color: transparent;
  border: 1px solid #1979c3;
}

.prar-review-pager .prar-btn-more:hover {
  color: #006bb4;
  border-color: #006bb4;
  background-color: transparent;
  box-shadow: inset 0 0 2px #1979c3;
}

.prar-review-pager .prar-btn._block-content-loading img {
  width: 30px;
  bottom: -80px;
}

/* == review helpful == */
.prar-review-helpful {
  display: none;
}

/* == video popup == */
.prar-video-popup h1.modal-title {
  margin: 0;
  padding-bottom: 14px;
  font-size: 1.6rem;
  font-weight: 600;
  color: #000;
  border-bottom: 1px solid #b9b9b9;
}

.prar-video-popup label span {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000;
}

.modal-popup.prar-video-popup .modal-footer {
  margin-top: 0;
  padding-top: 0;
}

.modal-popup.prar-video-popup .modal-footer button {
  width: 100%;
  min-height: 34px;
  padding: 7px 15px;
  border-radius: 3px;
  letter-spacing: 0;
  text-transform: initial;
  line-height: 1;
  background: #1979c3;
}

.modal-popup.prar-video-popup .modal-footer button:hover {
  background: #006bb4;
}

.prar-form-popup #arar-upload .prar-uploader-label {
  display: flex;
}

.prar-form-popup #arar-upload .prar-uploader-label span {
  display: block;
  white-space: nowrap;
}

.prar-video-popup .modal-header,
.prar-video-popup .modal-content,
.modal-popup.prar-video-popup .modal-footer {
  padding-left: 20px;
  padding-right: 20px;
}

.modal-popup.prar-video-popup {
  width: 315px;
  left: auto;
  right: 0;
}

.prar-video-popup.modal-slide .action-close {
  top: 16px;
  right: 5px;
  padding: 15px;
  margin: 0;
}

.modal-popup.prar-video-popup .input-text {
  height: 32px;
}

.prar-video-popup .modal-content {
  padding-bottom: 26px;
}

/* == review list header == */
.page-layout-1column .prar-review-list-head .product.media {
  float: left;
  width: 120px;
  margin: 0;
}

.prar-review-list-head .product-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.6rem;
  line-height: 1.2;
}

.prar-review-list-head .product-title .base {
  font-weight: 400;
  color: #006bb4;
}

.prar-review-list-head .attribute.sku {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5px;
}

.prar-review-list-head .attribute.sku strong {
  margin-right: 5px;
}

.prar-review-list-head .price-box {
  display: block;
  margin-top: 5px;
  padding-bottom: 0;
}

.prar-review-list-head .box-tocart .action.tocart {
  width: auto;
  font-size: 1.6rem;
  font-weight: 600;
  color: #006bb4;
  text-transform: initial;
  letter-spacing: 0;
  background-color: transparent;
  border: none;
  margin-bottom: 0;
  padding: 0;
  opacity: 1;
}

.prar-review-list-head .product-info-price .price-box .price-container .price {
  font-size: 1.6rem;
  color: #000;
}

.prar-review-list-head .page-title .base {
  font-size: 2.1rem;
  font-weight: 400;
}

.prar-review-list-head .product-info {
  display: grid;
  grid-template-columns: 120px 1fr 1fr;
  grid-column-gap: 10px;
  margin-right: 0;
  margin-left: 0;
  padding-bottom: 20px;
  border-bottom: 1px solid #c4c4c4;
}

.prar-review-list-head .page-title-wrapper {
  grid-column: 1 / -1;
}

.prar-review-list-head .product.media {
  grid-column: 1 / 2;
  grid-row: 2 / span 3;
}

.prar-review-list-head .product-info-price,
.prar-review-list-head .product-title-wrapper {
  grid-column: 2 / -1;
}

.prar-review-list-head .product-info-price {
  margin: 0;
}

.prar-review-list-head #product-addtocart-button {
  margin-top: 15px;
  margin-bottom: 0;
}

.prar-review-list-head .product-options-bottom .box-tocart {
  margin-bottom: 0;
}

.prar-review-list-head .prar-prod-rating .prar-btn,
.prar-review-list-head .prar-recommend .prar-recommend-title {
  display: none;
}

.prar-review-list-head .prar-prod-rating .rating-summary {
  border-bottom: none;
}

.prar-review-list-head .prar-prod-rating {
  margin-top: 20px;
}

.prar-review-list-head .prar-prod-rating .prar-all-rev-link {
  display: none;
}

.prar-review-list-head .prar-rating .prar-btn {
  display: block;
  margin: 7px 0 0;
  padding: 0;
  font-weight: 400;
  font-size: 1.2rem;
  color: #006bb4;
  background-color: transparent;
}

.prar-review-list-head .prar-prod-rating .prar-recommend {
  border-top: none;
}

.prar-review-list-head .price-box .price-container > span {
  display: inline-block;
}

.prar-review-list-head .price-box .old-price .price-container span.price {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}

.prar-review-list-head .product-info .product-info-price .price-box span {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1;
}

.prar-review-list-head .product-info-stock-sku {
  padding-left: 0;
}

/* == one review page == */
#arar-product-review .product-info-main {
  float: none;
}

#arar-product-review .product-img-box {
  display: none;
}

#arar-product-review .prar-review-toolbar {
  display: none;
}

#arar-product-review .prar-review-list-wrp .prar-rev-list-item {
  border-bottom: none;
}

#arar-product-review .prar-details h1,
#arar-product-review .product-img-box h2 {
  font-weight: 400;
}

.advancedrar-review-view .prar-review-list-wrp {
  width: 100%;
}

.advancedrar-review-view .page-main {
  padding: 0 10px;
}

.product-img-box .price-box .price-container > span {
  display: inline-block;
}

#arar-product-review .product-img-box .price-box .old-price span.price {
  font-size: 14px;
  font-weight: 400;
  text-decoration: line-through;
}

#arar-product-review .prar-details h2,
#arar-product-review .product-img-box h2 {
  margin: 0 0 10px;
  font-size: 2.4rem;
  font-weight: 400;
}

#arar-product-review .product-img-box .price-label {
  font-size: 1.6rem;
}

.advancedrar-review-view .buttons-set {
  margin-top: 50px;
}

.advancedrar-review-view .buttons-set a {
  letter-spacing: 0;
}

#arrar-popup > .prar-gallery-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.prar-message-hld#arar-message-hld h3 a,
.prar-form-add form h4,
.prar-form-add .prar-uploader-desk {
  letter-spacing: 0;
}

.prar-form-add .image-title,
.prar-form-add .video-title {
  font-weight: 600;
  display: block;
}

/*@@@ Arrows from the slider @@@*/

.prar-rev-slide-wrapper{
  position: relative;
}

.prar-rev-slide-wrapper:hover .back-button,
.prar-rev-slide-wrapper:hover .next-button{
  opacity:1;
}

.prar-rev-slide-wrapper .back-button,
.prar-rev-slide-wrapper .next-button{
  height: 100%;
  width: 70px;
  font-size: 0;
  cursor: pointer;
  opacity: 0;
  background:rgba(0,0,0,.3);
  transition: opacity .3s ease;
}

.prar-rev-slide-wrapper .back-button,
.prar-rev-slide-wrapper .next-button,
.prar-rev-slide-wrapper .back-button:before,
.prar-rev-slide-wrapper .next-button:before{
  position:absolute;
}

.prar-rev-slide-wrapper .back-button{
  left: 0;
}

.prar-rev-slide-wrapper .next-button{
  right: 0;
}

.prar-rev-slide-wrapper .back-button:before,
.prar-rev-slide-wrapper .next-button:before{
  content: "";
  border: solid #fff;;
  border-width: 0 6px 6px 0;
  display: inline-block;
  padding: 10px;
  top: 50%;
  z-index:2;
  color: #fff;
}

.prar-rev-slide-wrapper .next-button:before{
    left: 50%;
      transform: translate(-65%, -50%) rotate(-45deg);
    -webkit-transform: translate(-65%, -50%) rotate(-45deg);
}


.prar-rev-slide-wrapper .back-button:before{
    right:50%;
    transform: translate(65%, -50%) rotate(135deg);
    -webkit-transform: translate(65%, -50%) rotate(135deg);
}

@media (max-width: 500px){
  .prar-rev-slide-wrapper .back-button,
  .prar-rev-slide-wrapper .next-button{
    width: 40px
  }

  .prar-rev-slide-wrapper .back-button:before,
  .prar-rev-slide-wrapper .next-button:before{
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 6px;
  }
}
/*@@@ end Arrows @@@*/
