#reminder-unsubscribe-form {
  max-width: 450px;
}

#reminder-unsubscribe-form > p {
  font-weight: 600;
}

#reminder-unsubscribe-form fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

#reminder-unsubscribe-form .field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 5px;
}

#reminder-unsubscribe-form .field textarea {
  width: 100%;
  margin: 5px 0;
}

#reminder-unsubscribe-form input[type="radio"] {
  margin-top: 0;
}

#reminder-unsubscribe-form input.action {
  margin-top: 15px;
  border-radius: 3px;
}

#reminder-unsubscribe-form div.mage-error[generated] {
  margin-top: 0;
  margin-left: 5px;
}

.unsubscribe-success-message {
  display: none;
}

.unsubscribe-success-message .success-additional-message {
  padding-top: 15px;
  display: block;
  text-align: center;
}

.unsubscribe-success-message .success-message {
  display: flex;
  flex-direction: column;
  align-items: center;
}