<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->
<div class="thumbnail-preview" data-role="thumbnail-preview">
    <div class="thumbnail-preview-image-block">
        <iframe src="<%- videoUrl %>?autoplay=1&mute=1&enablejsapi=1" frameborder="0" allowfullscreen height="100%">
        </iframe>
    </div>
</div>
