<?php

/**
 * @var \Nexuscellular\ReturnAuthorizationPortal\Block\Create $block
 */
$helper = $this->helper('Nexuscellular\ReturnAuthorizationPortal\Helper\Data');
$workSheetRecords = $helper->getWorkSheetData();
$countWorksheet = count($workSheetRecords); 
//echo "<pre>";print_r($workSheetRecords);die();
?>
<h1 class="myaccount-layout-title">My Account</h1>
<div class="myaccount-layout-row">
    <div id="content" class="myaccount-layout-main fullwidth"><div><!-- TEMPLATE STARTS: request_return_authorization-->
    <div id="returnitems-confirmation-message"><!-- TEMPLATE STARTS: request_return_authorization_confirmation-->
        <div class="request-return-authorization-confirmation">
            <span class="ra-num"><a href="#"></a></span>
            <h2 class="request-return-authorization-confirmation-title success-title">Success!</h2>
            <h2 class="request-return-authorization-confirmation-title">Your return authorization request has been submitted!</h2>
            <a href="javascript:void(0)" target="_blank" class="request-return-authorization-confirmation-download-pdf"> Download PDF </a>
        </div>
    </div>

<div id="search_grid_wrapper"><!-- TEMPLATE STARTS: request_return_authorization_search-->
 <div id="search_scroll"></div>
 <h2>Request a Return Authorization</h2>
 <div class="return-item-search-form-wrapper">
    <div class="return-item-search-form-wrapper">
        <form class="return-item-search-form" data-toggle="validator" role="form" enctype="multipart/form-data" novalidate="">
        <div class="row">
        <div class='search-customer-area'>
            <span class="return-item-search-form-label">Customer </span>
            <input type="text" class="return-customer-search-form-input" id="search-customer" name="customer" placeholder="Search Customer">
            </br>
            <div id='customer-error-message'></div>
        </div>
        <div class="return-item-search-form-control-group" data-validation="control-group">
            <span class="return-item-search-form-label">Search </span>
            <div data-validation="control" class="return-item-search-form-input-wrapper">
                <input type="text" class="return-item-search-form-input" name="itemSearch" placeholder="Search...">
                <label>By SKU, Item Name, Invoice#, Cash Sale# or PO#</label>
            </div>
            <input id="search_button" class="action primary return-item-search-form-button" type="button" value="Search">
        </div>
        </div>
        </form>
    </div>
    <div id="error_message"></div>
 </div>
    <h2>RA Search Results</h2>
    <hr>
    <p> Search by SKU, Item Name or Invoice # to find the items you wish to return. Fill in the details for each required item and click the Add button to add it to the worksheet below. Once you have added all the required items, proceed to the worksheet. Note: If you have multiple reasons for return for different pieces of the same SKU, enter each reason for return with its corresponding quantity and add it to the worksheet before entering the next reason for return and its corresponding quantity. </p>
    <div id="search_grid" class="return-authorization-list-container">
        <table class="return-authorization-list-results-list fixed_headers ra-search-result">
            <thead class="return-authorization-list-content-table"><tr class="return-authorization-list-content-table-header-row">
            <th class="return-authorization-list-content-table-header-row-date">Date</th>
            <th class="return-authorization-list-content-table-header-row-invoice">Transaction#</th>
            <th class="return-authorization-list-content-table-header-row-sku">SKU</th>
            <th class="return-authorization-list-content-table-header-row-name">Name</th>
            <th class="return-authorization-list-content-table-header-row-qty">Qty</th>
            <th class="return-authorization-list-content-table-header-row-reason">Reason</th>
            <th class="return-authorization-list-content-table-header-row-comment">Comment</th>
            <th class="return-authorization-list-content-table-header-row-btn-action-header">Actions</th>
            </tr></thead>
            <tbody class="return-authorization-list-records-list ">  
                  
                <tr class="msg-info">
                    <td colspan="8">
                        <div id="info_message"><!-- TEMPLATE STARTS: global_views_message-->
                            <div class="global-views-message global-views-message-warning alert" role="alert">
                                <div>   Can't find an item? It might be out of the <a href="#returns-policy" data-hashtag="#returns-policy" data-touchpoint="home" target="_blank">warranty period.</a> </div>  
                            </div>  <!-- TEMPLATE ENDS: global_views_message -->
                        </div>
                    </td>
                </tr> 
                </tbody>
        </table>
    </div>
</div>
        <div data-view="ReturnItems.Worksheet.View">
        <div id="worksheet_error_message"></div>
            <div id="worksheet_grid" class="return-authorization-worksheet">
                <h2 class="">My Return Authorization Worksheet</h2><hr><p>Review your selected Return Authorizations in the worksheet below. If you need to make any changes, click the Edit button to edit each line. If you have completed the Return Authorization, click the Submit button to process the returns</p>
                <div class="return-authorization-worksheet-actions-wrapper">
                    <input type="text" class="return-worksheet-input-field" name="specialInstructions" placeholder="Special Instructions">
                    <input type="text" class="return-worksheet-input-field return-worksheet-ranumber" name="customRaNumber" placeholder="Your RA Number">
                    <button type="button" <?= $countWorksheet ? '' :'disabled'  ?>  data-action="clear-worksheet" class="return-worksheet-clear-button">Clear Worksheet</button>
                    <button type="button" <?= $countWorksheet ? '' :'disabled'  ?>  data-action="submit-returns"  class="return-worksheet-submit-button">Submit</button>
                </div>
                <div class="return-authorization-list-container" id="worksheet_table" style="overflow: unset;">
                    <table class="return-authorization-list-results-list fixed_headers ra-work-sheet">
                    <thead class="return-authorization-list-content-table">
                    <tr class="return-authorization-list-content-table-header-row">
                    <th class="return-authorization-worksheet-col-date">Transaction#</th>
                    <th class="return-authorization-worksheet-col-sku">SKU</th>
                    <th class="return-authorization-worksheet-col-name">Name</th>
                    <th class="return-authorization-worksheet-col-qty">Qty</th>
                    <th class="return-authorization-worksheet-col-reason">Reason</th>
                    <th class="return-authorization-worksheet-col-comment">Comment</th>
                    <th class="return-authorization-worksheet-col-purchased-price">Purchased Price</th>
                    <th class="return-authorization-worksheet-col-unit-credit">Unit Credit</th>
                    <th class="return-authorization-worksheet-col-total-credit">Total Credit</th>
                    <th class="return-authorization-worksheet-col-btn-action-header"> Actions </th>
                    </tr>
                    </thead>
                    <tbody class="return-authorization-list-records-list" style="overflow: scroll;">  
                   <?php if( $countWorksheet > 0): ?>
                    <?php foreach($workSheetRecords as $sheet): ?>
                        <tr id="<?= $sheet['uniquekey'] ?>">
                        <td class="return-authorization-worksheet-col-date"><a href="javascript:void(0)"><?= $sheet['tranid'] ?></a><span><?= $sheet['trandate'] ?></span></td>
                        <td class="return-authorization-worksheet-col-sku"><?= $sheet['product_sku'] ?>
                        <?php echo isset($sheet['serialnumber']) ? '<span style="display:block;color:#9e9a9a">'.$sheet['serialnumber'].'</span>': '' ?>
                         </td>
                        <td class="return-authorization-worksheet-col-name"><?= $sheet['product_name'] ?></td>
                        <td class="return-authorization-worksheet-col-qty"><?= $sheet['qty'] ?></td>
                        <td class="return-authorization-worksheet-col-reason"><?= $sheet['return_name'] ?></td>
                        <td class="return-authorization-worksheet-col-comment"><?= $sheet['comment'] ?></td>
                        <td class="return-authorization-worksheet-col-purchased-price"><?= $sheet['purchased_price_format'] ?></td>
                        <td class="return-authorization-worksheet-col-unit-credit"><?= $sheet['unit_credit_format'] ?></td>
                        <td class="return-authorization-worksheet-col-total-credit"><?= $sheet['total_credit_format'] ?></td>
                        <td class="return-authorization-worksheet-col-btn-action">
                            <button type="button" data-action="edit-item"  class="button-tertiary button-small btn-inner edit-icn" data-id="<?= $sheet['id'] ?>" title="Edit"><i class="fa fa-pencil"></i></button>
                            <button type="button" data-action="remove-item" class="button-tertiary button-small btn-inner del-icn" data-id="<?= $sheet['id'] ?>" title="Remove"><i class="fa fa-trash"></i></button>
                        </td>
                        </tr>
                        <tr class="error_message"><td style='padding:0px; text-align:left;' colspan="11"></td></tr>
                    <?php endforeach; ?>
                    <?php else: ?>
                        <tr class="empty-cell"><td class="empty-column" colspan="11">Please add items from search results above that you’d like to return.</td></tr>  
                    <?php endif; ?>
                </tbody>
                    </table>
                </div>
                <div class="return-authorization-worksheet-actions-wrapper return-border-top">
                    <button type="button" <?= $countWorksheet ? '' :'disabled'  ?> data-action="clear-worksheet"   class="return-worksheet-clear-button">Clear Worksheet</button>
                    <button type="button" <?= $countWorksheet ? '' :'disabled'  ?> data-action="submit-returns" class="return-worksheet-submit-button">Submit</button>
                </div>
                <div id="ws_error_message" class="ws-error-message"></div>
            </div><!-- Ends worksheet_grid -->

        </div>
    </div>
    </div>
</div>
<script type="text/javascript">
 var dataArray = {};
 var dataObject = [];
    require([
        'jquery',
        'Nexuscellular_ReturnAuthorizationPortal/js/autocomplete-search'
    ], function ($) {
        "use strict";
			var searchInput = $('#search-customer');
		var searchCotent = <?php echo file_get_contents($helper->getJsUrl()) ?>;
        searchInput.devbridgeAutocomplete({
            lookup: searchCotent,
            lookupLimit: 500,
            maxHeight: 2000,
            minChars: 2,
            formatResult: function (suggestion) {
                var html = '';
                html += '<div class="suggestion-section">';
                html += '<div class="product-line customer-name" option-id='+suggestion.id+'>' + suggestion.value + '</div>';
                html += '</div>';
                return html;
            }
        });
        
            jQuery(document).on('click','.autocomplete-suggestion',function(){
                var customerId = jQuery(this).find('.suggestion-section .product-line').attr('option-id');
                $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorizationportal/index/InitialReturnData') ?>',
                    data: {customer_id:customerId},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        if(response.success != true){
                            alert('Error Please try again');
                        }else{
                            $('.return-item-search-form-input').focus();
                            $('#customer-error-message').html('');
                            $('.return-item-search-form-input').html('');
                        }
						noItemFoundMessage();
                        $('body').trigger('processStop');
                    }
             });
        });
        jQuery(document).on('click','.return-authorization-worksheet-col-btn-action .del-icn',function(){
            var elementId = jQuery(this).data('id');
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorizationportal/index/DeleteworksheetRecord') ?>',
                    data: {entity_id:elementId},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        var trHtml = '';
                        if(response.success == true){
                            getWorksheetResponse(response);
                        }else if(response.success == false && response.customer == 0){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                        }else{
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                        }
                        $('body').trigger('processStop');
                    }
            });
        });
        jQuery(document).on('click','.return-authorization-worksheet-col-btn-action .edit-icn',function(){
            var elementId = jQuery(this).data('id');
            var Dataa = JSON.stringify(dataArray);
           // console.log(dataArray);
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorizationportal/index/EditworksheetRecord') ?>',
                    data: {entity_id:elementId,Dataa:Dataa},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        var trHtml = '';
                        if(response.success == true){
                            getWorksheetResponse(response);
                        }else if(response.success == false && response.customer == 0){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                           
                        }else{
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                        }
                        $('body').trigger('processStop');
                    }
            });
        });
        
        // Add data into worksheet
        jQuery(document).on('click','#search_grid .button-tertiary',function(){
            var elementId = jQuery(this).data('id');
            var tranid = dataArray[elementId].tranid;
            var tranDate = dataArray[elementId].trandate;
            var sku = dataArray[elementId].sku;
            var name = dataArray[elementId].name;
            dataArray[elementId].product_qty = $.trim(jQuery('#search_grid tr#'+elementId).find('.product_qty').val());
            dataArray[elementId].reason_id = $.trim(jQuery('#search_grid tr#'+elementId).find('.reason_list').val());
            dataArray[elementId].comment = $.trim(jQuery('#search_grid tr#'+elementId).find('.return-authorization-list-row-input-comment').val());
            var allow_to_save_data =   checkValidations(dataArray,elementId); 
            if(allow_to_save_data){
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorizationportal/index/Saveworksheet') ?>',
                    data: {data:dataArray[elementId]},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        var trHtml = '';
                        if(response.success == true){
                            getWorksheetResponse(response);
                            jQuery('#search_grid tr#'+elementId).find('.product_qty').val('');
                            jQuery('#search_grid tr#'+elementId).find('.reason_list').val('');
                            jQuery('#search_grid tr#'+elementId).find('.return-authorization-list-row-input-comment').val('');
                            jQuery('#search_grid tbody.return-authorization-list-records-list tr').removeAttr('style');
                            document.getElementById("worksheet_grid").scrollIntoView();
                            jQuery('#error_message').html('');
                        }else if(response.success == false && response.customer == 0){
                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                           
                        }else{
                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert">'+response.message+' or refer to our <a href="javascript:void(0)" target="_blank">Returns Policy</a> for more details.</div>');
                        }
                        $('body').trigger('processStop');
                    }
                });
            }
        });
        jQuery(document).on('click','#search_button',function(){
            var searchValue = jQuery('.return-item-search-form-input').val();
            if(!searchValue ){
                //alert('Invalid Product or Qty.');
                return false;
            }
            //jQuery(this).attr("disabled", true);
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorizationportal/index/search') ?>',
                    data: {search:searchValue},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        if(response.success == true){
                            if(response.data.length){
                            getAjaxResponse(response,0); 
                            document.getElementById("search_scroll").scrollIntoView();
                            jQuery('#error_message').html('');
                            jQuery('#customer-error-message').html('');
                            }else{
                              noItemFoundMessage();
                                jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>   Sorry, there are no items matching your search criteria that are eligible for return. Please try again or refer to our </div><a href="#returns-policy" target="_blank">Returns Policy</a> for more details.</div>');
                            }
                        }else if(response.success == false && response.customer == 1){
                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                        }
                        else if(response.success == false && response.customer == 0){
                            jQuery('#customer-error-message').html('<div class="global-views-message global-views-message-error alert" role="alert" style="margin: 30px 0px;"><div>'+response.message+'</div></div>');
                        }
                        $('body').trigger('processStop');
                        jQuery('#returnitems-confirmation-message').hide();
                    }
                });
                jQuery('#worksheet_error_message').html('');
        });
         jQuery(document).on('click','.return-worksheet-clear-button',function(){
            var searchValue = $.trim(jQuery('.return-item-search-form-input').val());
            if(!searchValue ){
                searchValue = '';
            }
            //jQuery(this).attr("disabled", true);
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorizationportal/index/Clearworksheet') ?>',
                    data: {search:searchValue},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        if(response.success == true){
                            getAjaxResponse(response,0); 
                            getClearWorksheetResponse(response);
                            document.getElementById("search_scroll").scrollIntoView();
                        }else if(response.success == false && response.customer == 0){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                        }else{
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                            document.getElementById("worksheet_error_message").scrollIntoView();
                        }
                        $('body').trigger('processStop');
                    }
                });
        });
        $('.return-item-search-form-input').on('keypress', function (e) {
            if(e.which === 13){
                var searchValue = jQuery(this).val();
                if(!searchValue )
                    return false;
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorizationportal/index/search') ?>',
                    data: {search:searchValue},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        if(response.success == true){
                            if(response.data.length){
                            getAjaxResponse(response,0); 
                            document.getElementById("search_scroll").scrollIntoView();
                            jQuery('#error_message').html('');
                            jQuery('#customer-error-message').html('');
                            }else{
                                noItemFoundMessage();
                                jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>Sorry, there are no items matching your search criteria that are eligible for return. Please try again or refer to our </div><a href="#returns-policy" data-hashtag="#returns-policy" data-touchpoint="home" target="_blank">Returns Policy</a> for more details.</div>');
                            }
                        }else if(response.success == false && response.customer == 1){
                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                        }
                        else if(response.success == false && response.customer == 0){
                            jQuery('#customer-error-message').html('<div class="global-views-message global-views-message-error alert" role="alert" style="margin: 30px 0px;"><div>'+response.message+'</div></div>');
                        }
                        $('body').trigger('processStop');
                        jQuery('#returnitems-confirmation-message').hide();
                    }
                });

                
                jQuery('#worksheet_error_message').html('');
                return false;
            }
        
        });
        jQuery(document).on('click','.return-worksheet-submit-button',function(){
            var instruction = $.trim(jQuery('.return-worksheet-input-field').val());
            var customer_ra_number = $.trim(jQuery('.return-worksheet-ranumber').val());
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('returnauthorizationportal/index/SubmitRA') ?>',
                    data: {isAjax:1,instruction:instruction,customer_ra_number:customer_ra_number},
                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                       // console.log(response);
                       // console.log();
                        if(response.success == false && Object.keys(response.data).length > 0){
                            SubmitRAResponse(response);  
                        }else if(response.success == false && response.customer == 0){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                           
                        }else if(response.success == false && Object.keys(response.data).length == 0){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message-error alert" role="alert">'+response.message+'</div>');
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr').removeAttr('style');
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list').find('tr.error_message').children().html('');
                            document.getElementById("worksheet_error_message").scrollIntoView();
                        }
                        else if(response.success == false){
                            jQuery('#worksheet_error_message').html('<div class="global-views-message-error alert" role="alert">'+response.message+'</div>');
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr').removeAttr('style');
                        }
                        else{
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr').removeAttr('style');
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list').find('tr.error_message').children().html('');
                            jQuery('#worksheet_grid tbody.return-authorization-list-records-list').html('<tr class="empty-cell"><td class="empty-column" colspan="11">Please add items from search results above that you’d like to return.</td></tr>');
							noItemFoundMessage();
                           jQuery('.request-return-authorization-confirmation .ra-num a').html(response.data.tranid);
                           jQuery('.request-return-authorization-confirmation-download-pdf').attr("href", "https://4000493.app.netsuite.com/app/accounting/print/hotprint.nl?regular=T&sethotprinter=T&formnumber=113&trantype=rtnauth&&id="+response.data.internal_id+"&label=Return+Authorisation&printtype=transaction");
                            jQuery('#returnitems-confirmation-message').show();
                            jQuery('.return-customer-search-form-input').val('');
                            jQuery('.return-item-search-form-input').val('');
                            
                            document.getElementById("returnitems-confirmation-message").scrollIntoView();
                        }
                        $('body').trigger('processStop');
                    }
                });
        });
        function SubmitRAResponse(response){
            jQuery.each(response.data, function(index, entry) {
                //console.log(entry);
               
              var elemetnId = entry['uniquekey'];  
              if(jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr#'+elemetnId).length > 0){
                jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr#'+elemetnId).
                next().children().html('<div class="global-views-message-error alert" role="alert">'+entry['error']+'</div>');
                jQuery('#worksheet_grid tbody.return-authorization-list-records-list tr#'+elemetnId).css('background-color','#FFE9F1');
              }    
            });
        }
		function noItemFoundMessage(){
			 jQuery('#search_grid tbody.return-authorization-list-records-list').html('<tr class="msg-info"><td colspan="8"><div id="info_message"><div class="global-views-message global-views-message-warning alert" role="alert">\
                                <div>Can not find an item? It might be out of the <a href="#returns-policy" target="_blank">warranty period.</a></div></div></div></td></tr>');
		}
        function getAjaxResponse(response,worksheetflow = 0){
            if(worksheetflow == 0)
                jQuery('#search_grid tbody.return-authorization-list-records-list').html('');
            var trHtml;
            jQuery.each(response.data, function(index, entry) {
                dataArray[entry['uniquekey']] = entry;
                trHtml+= '<tr class="recordviews-row" id='+entry['uniquekey']+'><td>'+entry['trandate']+'</td><td><a href="">'+entry['tranid']+'</a></td>\
                <td>'+getSkuDetails(entry)+'</td>\
                <td>'+entry['description']+'</td><td>'+getQtySelectHTML(entry['quantity'])+'</td>\
                <td class="return-authorization-list-content-table-header-row-reason">\
                    '+getReasonSelectHTML(entry['reason_lists'])+'\
                </td>\
                <td>\
                    <textarea  class="return-authorization-list-row-input-comment"></textarea>\
                    <div class="global-views-message global-views-message-error alert"  style="display:none" role="alert"><div>Please add a comment.</div></div>\
                </td>\
                <td>\
                    <button type="button" class="button-tertiary button-small" data-id='+entry['uniquekey']+' title="Add to Worksheet">Add</button>\
                </td></tr>';
              
                });
                trHtml+= '<tr class="msg-info"><td colspan="8"><div id="info_message"><div class="global-views-message global-views-message-warning alert" role="alert"><div>Can not find an item? It might be out of the <a href="#returns-policy" data-hashtag="#returns-policy" data-touchpoint="home" target="_blank">warranty period.</a> </div></div></div></td></tr>';
                if(worksheetflow == 0)
                jQuery('#search_grid tbody.return-authorization-list-records-list').html(trHtml);
                else
                jQuery('#search_grid tbody.return-authorization-list-records-list').append(trHtml);
              
        }
        function getSkuDetails(entry){
            var html = entry['sku'];
            if(entry['serialnumber']){
                html+="<span style='display:block;color:#9e9a9a'>"+entry['serialnumber']+"</span>";
            }
            return html;
        }
        function getAjaxResponseAfterEditWorksheet(response){
            var trHtml;
            jQuery('#search_grid tbody.return-authorization-list-records-list tr').removeAttr('style');
            jQuery('#search_grid tr').find('.product_qty').val('');
            jQuery('#search_grid tr').find('.reason_list').val('');
            jQuery('#search_grid tr').find('.return-authorization-list-row-input-comment').val('');
            jQuery.each(response.data.item, function(index, entry){
                trHtml+= '<tr class="recordviews-row" id='+entry['uniquekey']+'><td>'+entry['trandate']+'</td><td><a href="">'+entry['tranid']+'</a></td>\
                <td>'+getSkuDetails(entry)+'</td>\
                <td>'+entry['description']+'</td><td>'+getQtySelectHTML(entry['quantity'],response.data.requested_data)+'</td>\
                <td class="return-authorization-list-content-table-header-row-reason">\
                    '+getReasonSelectHTML(entry['reason_lists'],response.data.requested_data)+'\
                </td>\
                <td>\
                    <textarea  class="return-authorization-list-row-input-comment">'+response.data.requested_data.comment+'</textarea>\
                    <div class="global-views-message global-views-message-error alert"  style="display:none" role="alert"><div>Please add a comment.</div></div>\
                </td>\
                <td>\
                    <button type="button" class="button-tertiary button-small" data-id='+entry['uniquekey']+' title="Add to Worksheet">Add</button>\
                </td></tr>';
                var elemetnId = entry['uniquekey'];
                if(entry['serialnumber'] == undefined || entry['serialnumber'] === undefined)
                {
                    if(Object.keys(dataArray).length > 0){
                      
                    if( (dataArray[elemetnId] == undefined || dataArray[elemetnId] === undefined) || Object.keys(dataArray[elemetnId]).length  == 0){
                    
                        jQuery('#search_grid tbody.return-authorization-list-records-list tr:last').before(trHtml);
                    }else{
                        jQuery('#search_grid tbody.return-authorization-list-records-list tr#'+elemetnId).replaceWith(trHtml);  
                    }
                    }else{
                        jQuery('#search_grid tbody.return-authorization-list-records-list tr:last').before(trHtml);
                    }
                    jQuery('#'+elemetnId).css('background','#F9F5CD');
                    dataArray[entry['uniquekey']] = entry;
                    document.getElementById(elemetnId).scrollIntoView();
                }else{
                        if(jQuery('#search_grid tbody.return-authorization-list-records-list tr#'+elemetnId).length == 0){
                            jQuery('#search_grid tbody.return-authorization-list-records-list tr:last').before(trHtml);
                            jQuery('#'+elemetnId).css('background','#F9F5CD');
                            dataArray[entry['uniquekey']] = entry;
                            document.getElementById(elemetnId).scrollIntoView();
                        } 
                    }
                });
        }
        function getAjaxResponseAfterDeleteWorksheet(response){
            var trHtml;
            var edit;
            jQuery.each(response.data.item, function(index, entry){
                trHtml+= '<tr class="recordviews-row" id='+entry['uniquekey']+'><td>'+entry['trandate']+'</td><td><a href="">'+entry['tranid']+'</a></td>\
                <td>'+getSkuDetails(entry)+'</td>\
                <td>'+entry['description']+'</td><td>'+getQtySelectHTML(entry['quantity'],edit=false)+'</td>\
                <td class="return-authorization-list-content-table-header-row-reason">\
                    '+getReasonSelectHTML(entry['reason_lists'],edit=false)+'\
                </td>\
                <td>\
                    <textarea  class="return-authorization-list-row-input-comment"></textarea>\
                    <div class="global-views-message global-views-message-error alert"  style="display:none" role="alert"><div>Please add a comment.</div></div>\
                </td>\
                <td>\
                    <button type="button" class="button-tertiary button-small" data-id='+entry['uniquekey']+' title="Add to Worksheet">Add</button>\
                </td></tr>';
                if(Object.keys(dataArray).length > 0){
                    var elemetnId = entry['uniquekey'];
                if(jQuery('#search_grid tbody.return-authorization-list-records-list tr#'+elemetnId).length == 0){
                    //console.log(dataArray[entry['uniquekey']].customer);
                    jQuery('#search_grid tbody.return-authorization-list-records-list tr:last').before(trHtml);
                }else{
                   
                    jQuery('#search_grid tbody.return-authorization-list-records-list tr#'+elemetnId).replaceWith(trHtml);  
                }
                }else{
                    jQuery('#search_grid tbody.return-authorization-list-records-list tr:last').before(trHtml);
                }
                dataArray[entry['uniquekey']] = entry;
                });
                
               
        }
        function getClearWorksheetResponse(response){
            var trHtml = '';
            if(response.worksheet.length == 0){
                jQuery('.return-worksheet-clear-button').attr("disabled", true);
                jQuery('.return-worksheet-submit-button').attr("disabled", true);
                trHtml+='<tr class="empty-cell"><td class="empty-column" colspan="11">Please add items from search results above that you’d like to return.</td></tr>';
                jQuery('#worksheet_grid tbody.return-authorization-list-records-list').html(trHtml);
            }
        }
        function getWorksheetResponse(response){
            var trHtml = '';
            if(response.data.worksheet.length == 0){
                jQuery('.return-worksheet-clear-button').attr("disabled", true);
                jQuery('.return-worksheet-submit-button').attr("disabled", true);
                trHtml+='<tr class="empty-cell"><td class="empty-column" colspan="11">Please add items from search results above that you’d like to return.</td></tr>';
            }else{
                jQuery('.return-worksheet-clear-button').attr("disabled", false);
                jQuery('.return-worksheet-submit-button').attr("disabled", false);
                jQuery.each(response.data.worksheet, function(index, res) {
                    
                    trHtml+="<tr id="+res['uniquekey']+">\
                    <td class='return-authorization-worksheet-col-date'><a href='javascript:void(0)'>"+res['tranid']+"</a><span>"+res['trandate']+"</span></td>\
                    <td class='return-authorization-worksheet-col-sku'>"+getSkuWorksheetDetails(res)+"</td>\
                    <td class='return-authorization-worksheet-col-name'>"+res['product_name']+"</td>\
                    <td class='return-authorization-worksheet-col-qty'>"+res['qty']+"</td>\
                    <td class='return-authorization-worksheet-col-reason'>"+res['return_name']+"</td>\
                    <td class='return-authorization-worksheet-col-comment'>"+res['comment']+"</td>\
                    <td class='return-authorization-worksheet-col-purchased-price'>"+res['purchased_price_format']+"</td>\
                    <td class='return-authorization-worksheet-col-unit-credit'>"+ res['unit_credit_format']+"</td>\
                    <td class='return-authorization-worksheet-col-total-credit'>"+res['total_credit_format']+"</td>\
                    <td class='return-authorization-worksheet-col-btn-action'>\
                    <button type='button' data-action='edit-item' data-id="+res['id']+" class='button-tertiary button-small btn-inner edit-icn' title='Edit'><i class='fa fa-pencil'></i></button>\
                    <button type='button' data-action='remove-item' data-id="+res['id']+" class='button-tertiary button-small btn-inner del-icn' title='Remove'><i class='fa fa-trash'></i></button>\
                    </td>\
                    </tr><tr class='error_message'><td style='padding:0px; text-align:left;' colspan='11'></td></tr>";
                });
            }         
            if(response.data.action == "delete"){
                getAjaxResponseAfterDeleteWorksheet(response);
            }else if(response.data.action == "edit"){
                getAjaxResponseAfterEditWorksheet(response);
            }
            else{
                if(response.data.search_grid.qty <= 0){
                    dataArray[response.data.search_grid.id] = {};
                    jQuery('#search_grid tr#'+response.data.search_grid.id).remove();
                }else{
                    dataArray[response.data.search_grid.id].quantity = response.data.search_grid.qty;
                    jQuery('#search_grid tr#'+response.data.search_grid.id).find('.product_qty').parent().html(getQtySelectHTML(response.data.search_grid.qty));
                }
            }
            jQuery('#worksheet_grid tbody.return-authorization-list-records-list').html(trHtml);
        }
        

        function getSkuWorksheetDetails(entry){
            var html = entry['product_sku'];
            if(entry['serialnumber']){
                html+="<span style='display:block;color:#9e9a9a'>"+entry['serialnumber']+"</span>";
            }
            return html;
        }
        function getQtySelectHTML(quantity,editData){
            var qtyHTML = '<select  class="product_qty" name="product_qty">';
            qtyHTML +='<option value=""></option>';
            for(var i = 1;i<=quantity;i++){
                if(editData && editData.qty > 0 && editData.qty ==  i)
                qtyHTML +='<option selected value='+i+'>'+i+'</option>';
                else
                qtyHTML +='<option value='+i+'>'+i+'</option>';
            }
            qtyHTML += '</select>';
            qtyHTML+='<div class="global-views-message global-views-message-error alert" style="display:none" role="alert"><div>Please select Qty.</div></div>';
            return qtyHTML;
        }
        function getReasonSelectHTML(reasonsList,editData){
            var selectHTML = '<select  class="reason_list" name="reason_list">';
            selectHTML +='<option value="">Select Reason</option>';
                $.each(reasonsList, function(index, value) {
                    if(editData && editData.reason_id > 0 && editData.reason_id ==  value.id)
                    selectHTML +='<option selected value ='+value.id+'>'+value.return_name+'</option>';
                else
                selectHTML +='<option value ='+value.id+'>'+value.return_name+'</option>';
            });
            selectHTML += '</select>';
            selectHTML+='<div class="global-views-message global-views-message-error alert" style="display:none" role="alert"><div>Please select Reason.</div></div>';
            return selectHTML;
        }
        function checkValidations($dataArray,elementId){
            var bool = true;
            jQuery('.global-views-message-error').hide();
            if(!dataArray[elementId].product_qty){
                jQuery('#search_grid tr#'+elementId).find('.product_qty').next().show();
                bool = false;
            }
            else if(!dataArray[elementId].reason_id){
                jQuery('#search_grid tr#'+elementId).find('.reason_list').next().show();
                bool = false;
            }
            else if(!dataArray[elementId].comment){
                jQuery('#search_grid tr#'+elementId).find('.return-authorization-list-row-input-comment').next().show();
                bool = false;
            }
            return bool;
        }
    });
  
    
</script>
