<?php
$items = $this->getCustomerReturnList();
?>

<div class="ReturnAuthorizationPortalList"><!-- TEMPLATE STARTS: return_authorization_list-->
  <section class="return-authorization-list">
        <header class="return-authorization-list-header"><h2>Returns</h2></header>
            <div data-view="ListHeader.View"><!-- TEMPLATE STARTS: list_header_view-->
            <div class="list-header-view" data-type="accordion">
                <div class="list-header-view-accordion" data-action="accordion-header"><div class="list-header-view-accordion-link"></div>  
               
            <div class="list-header-view-accordion-body " data-type="accordion-body">
                <div class="list-header-view-accordion-body-header ">
                    <label class="list-header-view-from" for="from"><span>Requested from</span>
                        <input class="list-header-view-accordion-body-input" id="from-datepicker" name="datepicker" type="text">
                        <script type="text/javascript">
                    require([
                        "jquery",
                        "mage/calendar"
                        ], function($){
                          $('#from-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                $.ajax({
                                type: 'post',
                                url: '<?php echo $block->getUrl('returnauthorizationportal/index/searchdate') ?>',
                                data: {fromdate:selectedDate},
                                beforeSend: function () {
                                    $('body').trigger('processStart');
                                },
                                success: function (response) {
                                    if(response.success == true){
                                        if(response.data.length){
                                        getAjaxResponse(response,0); 
                                        document.getElementById("search_scroll").scrollIntoView();
                                        jQuery('#error_message').html('');
                                        }else{
                                            jQuery('#search_grid tbody.return-authorization-list-records-list').html('');
                                            jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>   Sorry, there are no items matching your search criteria that are eligible for return. Please try again or refer to our </div><a href="#returns-policy" data-hashtag="#returns-policy" data-touchpoint="home" target="_blank">Returns Policy</a> for more details.</div>');
                                        }
                                    }else if(response.success == false && response.customer == 1){
                                        jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                                    }
                                    else if(response.success == false && response.customer == 0){
                                        jQuery('#error_message').html('<div class="global-views-message global-views-message-error alert" role="alert"><div>'+response.message+'</div></div>');
                                        window.location.href = '<?php echo $this->getUrl('customer/account/login') ?>';
                                    }
                                    $('body').trigger('processStop');
                                }
                            }); // ends ajax
                            }
                        });
                          $('#to-datepicker').datepicker({dateFormat: "yy-mm-dd"});
                        });
                    </script>
                        <i class="list-header-view-accordion-body-calendar-icon fa fa-calendar-alt" style="display: inline;"></i>
                    </label>
                    <label class="list-header-view-to" for="to">
                        <span>to</span>
                        <input class="list-header-view-accordion-body-input" id="to-datepicker" name="to" type="text" autocomplete="off">
                        <i class="list-header-view-accordion-body-calendar-icon fa fa-calendar-alt" style="display: inline;"></i>
                    </label>
                    <span class="list-header-view-sorts"><label class="list-header-view-filters">
                        <label class="list-header-view-filters">
                            <select name="sort" class="list-header-view-accordion-body-select" data-action="sort"> 
                                <option value="trandate,internalid" data-permissions="">Sort By Date</option> 
                                <option value="tranid" data-permissions="" selected="">Sort By Number</option>
                            </select>
                        </label>
                        <button class="list-header-view-accordion-body-button-sort" data-action="toggle-sort">
                            <i class="list-header-view-accordion-body-button-sort-up fa fa-arrow-up"></i>
                                <i class="list-header-view-accordion-body-button-sort-down listheader-filter-sortorder-arrow-selected fa fa-arrow-down"></i>
                        </button>
                    </span>
                </div>
             </div>  
        </div>
        <!-- TEMPLATE ENDS: list_header_view --></div>
        <div class="return-authorization-list-container"> 
        <table class="return-authorization-list-results-list">
            <thead class="return-authorization-list-content-table">
                <tr class="return-authorization-list-content-table-header-row">
                <th class="return-authorization-list-content-table-header-row-title">
                <span>Return No.</span></th>
                <th class="return-authorization-list-content-table-header-row-date"><span>Date</span></th>
                <th class="return-authorization-list-content-table-header-row-items"><span>Items</span></th>
                <th class="return-authorization-list-content-table-header-row-currency"><span>Amount</span></th>
                <th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
                </tr>
            </thead>
            <tbody data-view="Records.List" class="return-authorization-list-records-list">
            <?php foreach($items as $item): ?>
                <tr class="recordviews-row">
                    <td class="recordviews-title" data-name="title">
                        <span class="recordviews-title-value">  
                    <a class="recordviews-title-anchor" href="<?php echo $this->getUrl('returnauthorizationportal/index/returnview/id/'.$item['id']) ?>"><?= $item['tranid'] ?></a></span></td> 
                    <td class="recordviews-date"><span class="recordviews-value"><?= $item['trandate'] ?></span></td>
                    <td class="recordviews-items">
                        <span class="recordviews-value"><?= $item['total_qty'] ?></span>
                    </td> 
                    <td class="recordviews-currency"> 
                     <span class="recordviews-value"><?= $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(abs($item['foreigntotal']),true,false); ?></span>  </td>
                    <td class="recordviews-status">
                        <span class="recordviews-value"><?= $this->getStatus($item['status']) ?></span>
                    </td> 
                </tr>
                <?php endforeach; ?>
            </tbody>
        </table> 
        <div class="return-authorization-list-paginator">
            <div data-view="GlobalViews.Pagination"></div>
        </div>
    </div>
   </section>  
<!-- TEMPLATE ENDS: return_authorization_list --></div>