<?php
$items = $this->getCustomerReturnItem();
//echo "<pre>";
$renderItems = $items['itemList']['item'];
//print_r($items);die();
?>

<div class="ReturnAuthorizationPortalDetail"><!-- TEMPLATE STARTS: return_authorization_detail-->
 <a href="/returns" class="return-authorization-detail-back">&lt; Back to Returns</a>
 <article class="return-authorization-detail">
     <div data-type="alert-placeholder"></div>
        <div class="return-authorization-detail-header-info">
            <header><h2 class="return-authorization-detail-title"> Return <span class="return-authorization-detail-number">#<?= $items['tranId'] ?></span> </h2></header>
            <div class="return-authorization-detail-header-row">
                <div class="return-authorization-detail-header-info-left"> 
                    <p class="return-authorization-detail-header-info-return-date"> Submission Date: <span class="return-authorization-detail-header-info-return-date-value"><?= $items['tranDate'] ?></span></p>
                    <p class="return-authorization-detail-header-info-return-date"> Number of Items: <span class="return-authorization-detail-header-info-return-date-value"> 2 </span></p>  
                </div>
                <div class="return-authorization-detail-header-info-right">
                    <p class="return-authorization-detail-status"><span class="return-authorization-detail-header-info-status-label"> Status: </span>
                        <span class="return-authorization-detail-header-info-status-value"><?= $items['status'] ?></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="return-authorization-detail-summary-col">
            <div class="return-authorization-detail-summary-container">
                <div class="return-authorization-detail-summary-total">
                    <p class="return-authorization-detail-summary-grid-float"><span class="return-authorization-detail-summary-amount-total"> <?= $items['total'] ?> </span> TOTAL </p>
                </div>
                <p class="return-authorization-detail-summary-grid-float"><span class="return-authorization-detail-summary-subtotal"> <?= $items['subTotal'] ?> </span> Subtotal </p>
                <p class="return-authorization-detail-summary-grid-float"><span class="return-authorization-detail-summary-amount-tax"> <?= $items['taxTotal'] ?> </span> Tax Total </p>
            </div>
            <div class="return-authorization-detail-summary-pdf">
                <a class="return-authorization-detail-summary-pdf-download-button" data-stdnav="" target="_blank" href=""> Download as PDF </a>
            </div>  
        </div>
        <div class="clearfix"></div>
        <h2 class="return-authorization-detail-title inner-title"> Return Details </h2>
        <div class="return-authorization-detail-row" name="return-content-layout">
            <div class="return-authorization-detail-content-col">
                <table class="return-authorization-list-results-list ra-list-wrap">
                    <thead class="return-authorization-list-content-table">
                        <tr class="return-authorization-list-content-table-header-row">
                            <th>No.</th>
                            <th>Transaction</th>
                            <th>SKU</th>
                            <th>Item Name</th>
                            <th>Item Options</th>
                            <th>Qty</th>
                            <th>Reason for Return</th>
                            <th>Comment</th>
                            <th>Purchase Price</th>
                            <th>Unit Credit</th>
                            <th>Total Credit</th>
                            <th>Results</th>
                        </tr>
                    </thead>
                    <tbody class="return-authorization-list-records-list ra-list">
                        <?php foreach($renderItems as $item): ?>
                            <tr>
                                <td><?= $this->getCustomFieldValue('custcol_f3_ra_sequence_number',$item['customFieldList']['customField']) ?></td>
                                <td><a href="transactionhistory/cashsale/2371601">CSH48248</a><small>2020-11-20</small></td>
                                <td>  <a href="javascript:void(0)"><?= $item['item']['name'] ?></a></td>
                                <td><a href="javascript:void(0)"><?= $item['description'] ?></a></td>
                                <td><span class="item-option-label"></span></td>
                                <td><?= $item['quantity'] ?></td>
                                <td><?= $this->getCustomSelectFieldValue('custcol_es_reason_for_return',$item['customFieldList']['customField']) ?></td>
                                <td><?= $this->getCustomFieldValue('custcol3',$item['customFieldList']['customField']) ?></td>
                                <td><?= $item['rate'] ?></td>
                                <td><?= $item['rate'] ?></td>
                                <td><?= $item['amount'] ?></td>
                                <td></td>
                            </tr>
                        <?php endforeach; ?>
                    </tbody>
                </table>
            </div>
        </div>  
    </article>
</div>

