<?php
/**
 * Edit customer account
 *
 * @var $block \Clarion\CustomerAttribute\Block\Account\Edit
 */
?> 
<!-- custom attributes -->
<?php $attributeHelper = $this->helper('Clarion\CustomerAttribute\Helper\Customerattribute');?>
<?php $excludedFields = ['company_name','customer_phone','mobile_number','sales_rep']; ?>
<?php $attributeCollection = $attributeHelper->getUserDefinedAttribures()?>
<?php if ($attributeCollection->getSize() > 0) : ?>
    <!-- For all user defined attributes -->
    <?php foreach ($attributeCollection as $attribute) :?>
    <!-- For all user defined attributes which are set for customer create account -->
    <?php if ($attributeHelper->isAttribureForCustomerAccountCreate($attribute->getAttributeCode())) :?>
    <?php $frontEndLabel = $attribute->getStoreLabel($attributeHelper->getStoreId()); ?>
    <?php $getAttributeCodeFunction = "get" .  str_replace(' ', '', ucwords(str_replace('_', ' ', $attribute->getAttributeCode()))); ?>
    <?php $fieldRequiredClass = ($attribute->getIsRequired()) ? 'data-validate="{required:true}"' : '' ?>
    <?php $fieldFrontendClass = ($attribute->getFrontendClass()) ? $attribute->getFrontendClass() : '' ?>
    <?php $fieldValue = ($block->getFormData()->getData($attribute->getAttributeCode()))
            ?$block->getFormData()->getData($attribute->getAttributeCode()): $attribute->getDefaultValue() ?>
        <?php if ($attribute->getFrontendInput()== 'text' &&  !in_array($attribute->getAttributeCode(),$excludedFields)) :?>
            <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                              endif;?>">
                <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                <div class="control">
                    <input type="text" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" title="<?php echo __($frontEndLabel) ?>" class="input-text <?php echo $fieldFrontendClass ;?>" <?php echo $fieldRequiredClass; ?>>
                </div>
            </div>
        <?php elseif ($attribute->getFrontendInput()== 'textarea') :?>
            <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                              endif;?>">
                <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                <div class="control">
                    <textarea class="textarea" cols="15" rows="2" title="<?php echo __($frontEndLabel); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" id="<?php echo $attribute->getAttributeCode(); ?>" <?php echo $fieldRequiredClass; ?>><?php echo $block->escapeHtml($fieldValue); ?></textarea>
                </div>
            </div>
        <?php elseif ($attribute->getFrontendInput()== 'date') :?>
            <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                              endif;?>">
                <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                <div class="control">
                    <input type="text" style="width:110px !important;" class="input-text" title="<?php echo __($frontEndLabel); ?>" value="<?php echo $block->escapeHtml($fieldValue) ?>" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" <?php echo $fieldRequiredClass; ?>>
                    <br><span>(mm/dd/yy)</span>
                </div>
            </div>
        <?php elseif ($attribute->getFrontendInput()== 'boolean') :?>
            <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                              endif;?>">
                <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                <div class="control">
                    <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo __($frontEndLabel); ?>" <?php echo $fieldRequiredClass; ?>>
                        <?php $options = $attributeHelper->getAttributeOptions($attribute->getAttributeCode());?>
                        <?php foreach ($options as $option) :?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) {
                                echo ' selected="selected"';
                                           } ?>><?php echo $option['label']->getText();?></option>
                        <?php endforeach;?>
                    </select>
                </div>
            </div>
        <?php elseif ($attribute->getFrontendInput()== 'select') :?>
            <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                              endif;?>">
                <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                <div class="control">
                    <select id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>" title="<?php echo __($frontEndLabel); ?>" <?php echo $fieldRequiredClass; ?>>
                        <?php $options = $attributeHelper->getAttributeOptions($attribute->getAttributeCode());?>
                        <?php foreach ($options as $option) :?>
                            <option value="<?php echo $option['value'] ?>"<?php if ($option['value'] == $fieldValue) {
                                echo ' selected="selected"';
                                           } ?>><?php echo $option['label'];?></option>
                        <?php endforeach;?>
                    </select>
                </div>
            </div>
        <?php elseif ($attribute->getFrontendInput()== 'multiselect') :?>
            <div class="field <?php echo $attribute->getAttributeCode(); ?> <?php if ($attribute->getIsRequired()) :
?>required<?php
                              endif;?>">
                <label for="<?php echo $attribute->getAttributeCode(); ?>" class="label"><span><?php /* @escapeNotVerified */ echo __($frontEndLabel) ?></span></label>
                <div class="control">
                     <select multiple="multiple" size="5" id="<?php echo $attribute->getAttributeCode(); ?>" name="<?php echo $attribute->getAttributeCode(); ?>[]" title="<?php echo __($frontEndLabel); ?>"  class="multiselect" <?php echo $fieldRequiredClass; ?>>
                        <?php $options = $attributeHelper->getAttributeOptions($attribute->getAttributeCode());?>
                        <?php foreach ($options as $option) :?>
                        <?php $selectedOptions = is_array($fieldValue) ? $fieldValue : explode(',', $fieldValue);?>
                            <option value="<?php echo $option['value'] ?>"
                                <?php if (in_array($option['value'], $selectedOptions)) {
                                    echo ' selected="selected"';
                                } ?>>
                                    <?php echo $option['label'];?>
                            </option>
                        <?php endforeach;?>
                    </select>
                </div>
            </div>
        <?php endif; ?>
    <?php endif; ?>
    <?php endforeach;?>
<?php endif; ?>