<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2020 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/** @var \Amasty\ShopbyBase\Model\FilterSetting $filterSetting */
/** @var \Amasty\Shopby\Block\Navigation\FilterRenderer $block */

$filterUniqId = $block->escapeId(uniqid());
$filterCode = $block->escapeHtml($filterSetting->getFilterCode());
?>

<?php if ($filterSetting->isShowSearchBox(count($filterItems))): ?>
    <?= /* @noEscape */ $block->getSearchForm(); ?>
<?php endif; ?>

<form class="am-ranges"
      data-am-js="ranges"
      data-amshopby-filter="<?= $block->escapeHtml($filterCode);?>"
      data-amshopby-filter-request-var="<?= $block->escapeHtml($block->getFilter()->getRequestVar()); ?>"
      autocomplete="off">
    <?php if($filterCode == 'attr_custitem_f3_item_nested_brand'): ?>
        <ol class="items am-filter-items-<?= /* @noEscape */ $filterCode;?>"
            <?php if ($filterSetting->getEnableOverflowScroll() > 0): ?>
                style="max-height:<?= $block->escapeHtml($filterSetting->getEnableOverflowScroll()) ?>px;"
            <?php endif; ?>>
            <?php  $uniqueValues = []; $uniqueParentsPath = [];$cat = 1;/** @var \Amasty\Shopby\Model\Layer\Filter\Item $filterItem */?>
            <?php foreach ($filterItems as $filterItem): ?>
                <?php $optionLabel = $filterItem->getOptionLabel(); ?>
                <?php $inputType = !$filterSetting->isMultiselect() ||
                in_array($filterCode, ['rating', 'stock']) ? 'radio' : 'checkbox'?>
                 <?php
                    $splitArrays = explode(':',$optionLabel);
                    $count = count($splitArrays);
                    $c = 1;
                    $lastString = '';
                     foreach($splitArrays as $string):
                         if($count == $c):
                            $lastString = $string; break; 
                         else:
                            $newParentString1 = '';
                            if(($c-1) == 0){
                                $newParentString1 =$splitArrays[$c-1];
                            }else{
                                for($i=0;$i<=($c-1);$i++){
                                    $newParentString1.= $splitArrays[$i].":";
                                }
                            }
                         ?>
                         <?php if(!in_array($newParentString1,$uniqueParentsPath)): ?>
                            <?php
                            $splitParentId = 0;
                            $parentId = 0;
                            $splitsubParentId = 0;
								$index = array_search($string,$splitArrays);
								$newParentString = '';
								if(isset($splitArrays[$index-1])){
									$newSplitArray = $splitArrays;
									$temp_data = [];
									for($i=0;$i<=count($newSplitArray);$i++){
										if($index > $i){
											$temp_data[] = $newSplitArray[$i];
										}
									}
									$newParentString = implode(":",$temp_data);
									$newString = htmlspecialchars(trim($newParentString.':'.$string));
								}else{
									$newParentString = trim($splitArrays[$index]); 
									$newString = htmlspecialchars(trim($newParentString));
								}
								if(in_array($string,$splitArrays) && $c != 1){
								$parentString = $splitArrays[$index - 1];
								$parentId = array_search($parentString,$uniqueValues);
								}
							   $newStringArray = explode(':',$newParentString1);
							   $countArray = count($newStringArray);
                             $newCorrectValue = $newStringArray[$countArray-1];
                                ?>
                            <li data-target="nested_cat_<?= $cat ?>" data-id='cat_<?= $newString ?>' data-parent-id ='cat_<?= rtrim($newParentString) ?>' class="item  nested_cat_<?= $c ?> <?php echo ($c != 1) ? 'collapse':'top-parent' ?>"  >
                                <?php if($c== 2): ?>
                                    <i class="fa fa-circle" style="font-size: 4px;float: left;color: #000;margin-top: 8px;border-radius: 38px;background-color: #000;"></i>
                                <?php endif; ?>
                            <a class="facets-faceted-navigation-item-category-facet-option" style="<?php echo ($c == 1)? 'text-transform: uppercase;font-size:16px;margin-bottom: 0px;' :'' ?>" href="javascript:void(0)" title="<?= $string ?>"><?= $string ?><span class="nested-am-collapse-icon"></span></a></li>
                            <?php $uniqueValues[$cat] = $string;$uniqueParentsPath[$cat]=$newParentString1; $cat++; ?>
                            <?php endif; ?>
                        <?php endif; ?>
                 <?php $c++; endforeach; ?>
                 <?php
                 $count = count($splitArrays);
                 $splitParentId = 0;
                
                 $index = array_search($lastString,$splitArrays);
                 $newParentString = '';
                 if(isset($splitArrays[$index-1])){
                    $newSplitArray = $splitArrays;
                    unset($newSplitArray[$index]);
                    $newParentString = trim(implode(":",$newSplitArray));  
                }else{
                    $newParentString = trim($splitArrays[$index]);  
                }
                 ?>
            <li  class="item last collapse" data-parent-id='cat_<?php echo $newParentString ?>'
                data-label="<?= /* @noEscape */ trim(preg_replace('/\s+/', ' ', $block->stripTags($optionLabel))) . ($filterCode == 'rating' ? __(' star(s)') : ''); ?>">
                <?php if ($filterItem->getCount() >= 0): ?>
                         <input
                                name="amshopby[<?= $block->getFilter()->getRequestVar();?>][]"
                                value="<?= $block->escapeHtml($filterItem->getValueString());?>"
                                type="<?=  $inputType;?>"
                                
                            <?=  $block->checkedFilter($filterItem) ? ' checked' : ''; ?>
                        />
                        <a
                            class="am-filter-item-<?= /* @noEscape */ $block->escapeId(uniqid())?>"
                            data-am-js="filter-item-default"
                            href="<?= $block->escapeUrl($filterItem->getUrl()) ?>"
                            <?= /* @noEscape */ $filterSetting->isAddNofollow() ? ' rel="nofollow"' : '' ?>
                        >
                    
                    <span class="label"><?= /* @noEscape */ $lastString;?></span>
                    </a>
                <?php else: ?>
                    <span class="label"><?= /* @noEscape */ $lastString;?></span>
                <?php endif; ?>
                </li>
            <?php endforeach ?>
        </ol>
    <?php else: ?>
    <!-- START OTHER ATTRIBUTES -->
    <ol class="items am-filter-items-<?= /* @noEscape */ $filterCode;?>"
        <?php if ($filterSetting->getEnableOverflowScroll() > 0): ?>
            style="max-height:<?= $block->escapeHtml($filterSetting->getEnableOverflowScroll()) ?>px;"
        <?php endif; ?>>
        <?php /** @var \Amasty\Shopby\Model\Layer\Filter\Item $filterItem */?>
        <?php foreach ($filterItems as $filterItem): ?>
            <?php $optionLabel = $filterItem->getOptionLabel(); ?>
            <?php $inputType = !$filterSetting->isMultiselect() ||
            in_array($filterCode, ['rating', 'stock']) ? 'radio' : 'checkbox'?>
            <?php if($optionLabel == 'Out of Stock' && $filterCode == 'stock') continue ?>
        <li class="item"
            data-label="<?= /* @noEscape */ trim(preg_replace('/\s+/', ' ', $block->stripTags($optionLabel))) . ($filterCode == 'rating' ? __(' star(s)') : ''); ?>">
            <?php if ($filterItem->getCount() >= 0): ?>
                <?php if($filterCode == "stock"): ?>
                    <input
                            name="amshopby[<?= /* @noEscape */ $block->getFilter()->getRequestVar();?>][]"
                            value="<?= $block->escapeHtml($filterItem->getValueString());?>"
                            type="checkbox"
                            
                        <?= /* @noEscape */ $block->checkedFilter($filterItem) ? ' checked' : ''; ?>
                    />
                    <span class="new_checkbox"></span>
                <?php elseif($filterCode == "am_on_sale"): ?>
                <input
                        name="amshopby[<?= /* @noEscape */ $block->getFilter()->getRequestVar();?>][]"
                        value="<?= $block->escapeHtml($filterItem->getValueString());?>"
                        type="checkbox"
                       
                    <?= /* @noEscape */ $block->checkedFilter($filterItem) ? ' checked' : ''; ?>
                />
                <span class="new_checkbox"></span>


                <?php elseif($filterCode == "rating"): ?>
                <input
                        name="amshopby[<?= /* @noEscape */ $block->getFilter()->getRequestVar();?>][]"
                        value="<?= $block->escapeHtml($filterItem->getValueString());?>"
                        type="checkbox"
                       
                    <?= /* @noEscape */ $block->checkedFilter($filterItem) ? ' checked' : ''; ?>
                />
                <span class="new_checkbox"></span>
                
                <?php elseif($filterCode == "am_is_new"): ?>
                <input
                        name="amshopby[<?= /* @noEscape */ $block->getFilter()->getRequestVar();?>][]"
                        value="<?= $block->escapeHtml($filterItem->getValueString());?>"
                        type="checkbox"
                       
                    <?= /* @noEscape */ $block->checkedFilter($filterItem) ? ' checked' : ''; ?>
                />
                <span class="new_checkbox"></span>
                <?php elseif($filterCode == "custitem_bluetooth"): ?>
                <input
                        name="amshopby[<?= /* @noEscape */ $block->getFilter()->getRequestVar();?>][]"
                        value="<?= $block->escapeHtml($filterItem->getValueString());?>"
                        type="checkbox"
                       
                    <?= /* @noEscape */ $block->checkedFilter($filterItem) ? ' checked' : ''; ?>
                />
                <span class="new_checkbox"></span>
                <?php else: ?>
                    <?php $style = ($inputType == 'radio' && !$block->getRadioAllowed())
                    || in_array($filterCode, ['rating', 'stock'])  ? 'display: none;' : ''; ?>
                    <input
                            name="amshopby[<?= /* @noEscape */ $block->getFilter()->getRequestVar();?>][]"
                            value="<?= $block->escapeHtml($filterItem->getValueString());?>"
                            type="<?= /* @noEscape */ $inputType;?>"
                            style="<?= /* @noEscape */ $style ?>"
                        <?= /* @noEscape */ $block->checkedFilter($filterItem) ? ' checked' : ''; ?>
                    />
                    <?php if($inputType == "checkbox"): ?>
                        <span class="new_checkbox"></span>
                    <?php  endif; ?>
                <?php endif; ?>
               
                
                <a
                    class="am-filter-item-<?= /* @noEscape */ $block->escapeId(uniqid())?>"
                    data-am-js="filter-item-default"
                    href="<?= $block->escapeUrl($filterItem->getUrl()) ?>"
                    <?= /* @noEscape */ $filterSetting->isAddNofollow() ? ' rel="nofollow"' : '' ?>
                >
                    <?php if($filterCode == "stock"): ?>
                        <span class="label filter-on-instock-label"><?= /* @noEscape */ $optionLabel;?></span>
                    <?php elseif($filterCode == "am_on_sale"): ?>
                        <span class="label filter-on-sale-label"><?= /* @noEscape */ __("On Sale");?></span>
                    <?php elseif($filterCode == "attr_custitem_bluetooth"): ?>
                        <span class="label filter-on-bluetooth-label"><?= /* @noEscape */ __("Bluetooth");?></span>
                    <?php else: ?>
                        <span class="label"><?= /* @noEscape */ $optionLabel;?></span>
                    <?php endif; ?>   
                    <?php if ($filterSetting->isShowProductQuantities()): ?>
                        <?php //Delete spaces around counter ?>
                        <span class="count"><?= /* @noEscape */ $filterItem->getCount(); ?><span class="filter-count-label">
                                <?php $title = ($filterItem->getCount() == 1) ? __('item') : __('items');?><?= /* @noEscape */ $block->escapeHtml($title) ?></span></span>
                    <?php endif; ?>
                </a>
            <?php else: ?>
                <span class="label"><?= /* @noEscape */ $optionLabel;?></span>
                <?php if ($filterSetting->isShowProductQuantities()): ?>
                    <?php //Delete spaces around counter ?>
                    <span class="count"><?= /* @noEscape */ $filterItem->getCount(); ?><span class="filter-count-label">
                            <?php $title = ($filterItem->getCount() == 1) ? __('item') : __('items');?><?= $block->escapeHtml($title) ?></span></span>
                <?php endif; ?>
            <?php endif; ?>
            </li>
        <?php endforeach ?>
    </ol>
    <!-- END OTHER ATTRIBUTES-->    
    <?php endif; ?>
    
</form>

<?php if ($filterSetting->getAddFromToWidget() && isset($fromToConfig) && is_array($fromToConfig)): ?>
    <?= /* @noEscape */ $block->getFromToWidget('default') ?>
<?php endif;?>

