<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Address\Grid $block */
$customerAddressView = $block->getData('customer_address');
?>

<div class="block block-addresses-list">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Additional Address Entries')) ?></strong></div>
    <div class="block-content">
        <?php if ($_pAddsses = $block->getAdditionalAddresses()) : ?>

            <div class="table-wrapper additional-addresses">
                <div class="data table table-additional-addresses-items history" id="additional-addresses-table">
                  
                    <div class="table-content">
                    <?php foreach ($_pAddsses as $address) : ?>
                        <address>
                           <div class="fullname">
                           <span data-th="<?= $block->escapeHtml(__('First Name')) ?>" class="  firstname"><?= $block->escapeHtml($address->getFirstname()) ?></span>
                            <span data-th="<?= $block->escapeHtml(__('Last Name')) ?>" class="  lastname"><?= $block->escapeHtml($address->getLastname()) ?></span>
                           </div> 
                            <span data-th="<?= $block->escapeHtml(__('Street Address')) ?>" class=" streetaddress"><?= $block->escapeHtml($block->getStreetAddress($address)) ?></span>
                            <div class="state-cityaddresss">
                                <span data-th="<?= $block->escapeHtml(__('City')) ?>" class="grid-table city"><?= $block->escapeHtml($address->getCity()) ?></span>
                                <span data-th="<?= $block->escapeHtml(__('State')) ?>" class=" grid-table state"><?= $block->escapeHtml($address->getRegion()->getRegion()) ?></span>
                                <span data-th="<?= $block->escapeHtml(__('Zip/Postal Code')) ?>" class="grid-table zip"><?= $block->escapeHtml($address->getPostcode()) ?></span>
                            </div>
                            <span data-th="<?= $block->escapeHtml(__('Country')) ?>" class="grid-table country"><?= $block->escapeHtml($block->getCountryByCode($address->getCountryId())) ?></span>
                            <span data-th="<?= $block->escapeHtml(__('Phone')) ?>" class="grid-table  phone"><?= $block->escapeHtml($address->getTelephone()) ?></span>
                            <span data-th="<?= $block->escapeHtml(__('Actions')) ?>" class=" actions">
                                <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/address/edit', ['id' => $address->getId()])) ?>"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
                                <a class="action delete" href="#" role="delete-address" data-address="<?= $block->escapeHtmlAttr($address->getId()) ?>"><span><?= $block->escapeHtml(__('Delete Address')) ?></span></a>
                            </span>
                    </address>
                    <?php endforeach; ?>
                    </div>
                    </div>
            </div>
            <?php if ($block->getChildHtml('pager')) : ?>
                <div class="customer-addresses-toolbar toolbar bottom"><?= $block->getChildHtml('pager') ?></div>
            <?php endif ?>
        <?php else : ?>
            <p class="empty"><?= $block->escapeHtml(__('You have no other address entries in your address book.')) ?></p>
        <?php endif ?>
    </div>
</div>

<div class="actions-toolbar">
    <div class="secondary">
        <a class="action back" href="<?= $block->escapeUrl($block->getUrl('customer/account')) ?>"><span><?= $block->escapeHtml(__('Back to My Orders')) ?></span></a>
    </div>
</div>
<script type="text/x-magento-init">
    {
        ".page-main": {
            "address": {
                "deleteAddress": "span a[role='delete-address']",
                "deleteUrlPrefix": "<?= $block->escapeJs($block->escapeUrl($block->getDeleteUrl())) ?>id/",
                "addAddress": "button[role='add-address']",
                "addAddressLocation": "<?= $block->escapeJs($block->escapeUrl($block->getAddAddressUrl())) ?>"
            }
        }
    }
</script>
