<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->



<!-- ko if: reviewStorageService.getReviewTotalCount()() -->
<div class="sort-review-custom">
<!-- ko ifnot: isMobile -->
<span data-bind="i18n: 'Sort'"></span>
<!-- /ko -->
<select class="prar-toolbar-select" name="sort" data-bind="
    optgroup: sort.options,
    value: sort.value,
    optionsValue: 'value',
    optionsText: 'label'"
/>
</div>

<!-- ko if: showingReviewCount -->
    <div class="prar-review-num" text="showingReviewNumbersText"></div>
<!-- /ko -->

<div data-bind="attr: {
    class: reviewStorageService.getFilterTotalReviewCount()() ? 'pr-ar-toolbar__state' : 'pr-ar-toolbar__state pr-ar-toolbar__state--no_items'}"
>
    <if args="activeFilters().length">
        <ifnot args="reviewStorageService.getFilterTotalReviewCount()()">
            <strong class="prar-state-title" data-bind="i18n: 'Sorry, no reviews match your current selections.'"></strong>
            <span data-bind="i18n: 'Try clearing or changing some filters.'"></span>
            <a data-bind="click: clearAllFilters, i18n: 'Clear All'"></a>
        </ifnot>
    </if>
</div>
<!-- /ko -->
