<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<div data-bind="scope: 'pr-review-list-toolbar'" class="prar-review-toolbar">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<div class="prap-rev-container">
    <div id="pr-review-list" data-bind="foreach: {data: reviewList, as: '$review'}, blockLoader: reviewListStatus() == 'loading'" class="prar-review-list-wrp">
        <div data-bind="attr: {id: 'review-item-' + $review.id}" class="prar-rev-list-item">
            <div class="prar-rev-item-top" data-bind="css: !$parent.isFuteresEnabled() ? 'no-features' : 'features'">
                <div class="prar-rev-item-rat" if="$parent.hasMultyRatings($review)" data-bind="foreach: {data: $review.ratings, as: '$rating'}">
                    <div class="prar-rev-item-rat-wrap">
                        <div class="rating-summary">
                            <div class="rating-result" data-bind="attr: {title: $rating.percent + '%'}">
                                <span data-bind="attr: {style: 'width: ' + $rating.percent + '%'}"></span>
                            </div>
                        </div>
                        <span class="rating-label" text="$rating.label"></span>
                    </div>
                </div>
            </div>
            <div class="prar-rev-item-bottom">


            <div if="$review.ratingPercent && !$parent.hasMultyRatings($review)" class="prar-rev-rating">
                <div class="rating-summary">
                    <div class="rating-result" data-bind="attr: {title: $review.ratingPercent + '%'}">
                        <span data-bind="attr: {style: 'width: ' + $review.ratingPercent + '%'}"></span>
                    </div>
                </div>
            </div>
            <if args="$parent.configuration.enabledVerified && $review.verified.enable">
                <div class="prar-rev-item-verified">
                    <translate args="'Verified Purchase'"/>
                </div>
            </if>
              <div class="prar-rev-summary">
                <a if="$parent.configuration.showTitleAsLink"
                    class="titler"
                    data-bind="attr: {href: $review.url}, text: $review.title"
                ></a>
            </div>


            <div class="prar-rev-item-detail" data-bind="html: $review.detail"></div>
             <span class="prar-rev-item-date desk" text="$review.date">
            <if args="$parent.configuration.enabledProsAndCons && $review.pros">
                <div class="prar-rev-item-pros">
                    <strong data-bind="html: $t('Pros:')"></strong>
                    <span html="$review.pros"></span>
                </div>
            </if>
            <if args="$parent.configuration.enabledProsAndCons && $review.cons">
                <div class="prar-rev-item-cons">
                    <strong data-bind="html: $t('Cons:')"></strong>
                    <span html="$review.cons"></span>
                </div>
            </if>
            <if args="$review.attachImages || $review.videoId">
                <ul class="prar-review-item-photos upload-images">
                    <!-- ko foreach: {data: $review.attachImages, as: '$attachImage'} -->
                        <li class="prar-review-item-photo" data-bind="
                            style: {'background-image': 'url(' + $attachImage.thumbnail + ')',
                                    'background-size': 'cover',
                                    'background-position': 'center'},
                            attr: {
                                alt: $t('Attach image'),
                                'data-review-id': $review.id,
                                'data-src': $attachImage.thumbnail,
                                'data-review-img-id': $attachImage.orderNumber
                            }
                        ">
                        </li>
                    <!-- /ko -->
                    <li if="$review.videoId" class="prar-review-item-photo youtube-video" data-bind="
                        style: {'background-image': 'url(' + 'https://img.youtube.com/vi/' + $review.videoId +  '/default.jpg' + ')',
                                'background-size': 'cover',
                                'background-position': 'center'},
                        attr: {
                            'data-review-id': $review.id,
                            'data-review-video-id': $review.videoId
                        }"
                    >
                    </li>
                </ul>
            </if>
            <div if="$review.adminComment" class="arar-admin-reply">
                <strong data-bind="i18n: 'Response from store'"></strong>
                <div class="arar-date" data-bind="text: $review.adminCommentDate"></div>
                <div class="arar-txt" data-bind="html: $review.adminComment"></div>
            </div>
            </div>

            </div>
        <!-- ko if: $parent.highlightSearchTermOnReview($review.id) --><!-- /ko -->
        </div>

    <div if="getStickyProductBlockHtml()" class='prar-sticky-basket' data-bind="html: getStickyProductBlockHtml()" afterRender="initScrollEvent"></div>
</div>

<div data-bind="scope: 'pr-review-list-pager'" class="pr_review_pager">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>

