<form class="form-add-location" action="http://localhost/nexus-project/customer/address/formPost/id/367/" method="post" id="form-validate" enctype="multipart/form-data" data-hasrequired="* Required Fields">
    <fieldset class="fieldset field">
        <input name="form_key" type="hidden" value="pxHa23CdeJYjhtDZ">        <div class="parentclass-contact">
            <input type="hidden" name="success_url" value="">
            <input type="hidden" name="error_url" value="">
            
            <div class="field field-name-frstname required col-lg-4">
            <label class="label" for="firstname"><span>First Name <span class="red">*</span></span></label>
            <div class="control">
                <input type="text" id="firstname" name="firstname" value="frefrefer" title="First Name" class="input-text required-entry" data-validate="{required:true}">
            </div>
        </div>
            <div class="field field-name-lstname required col-lg-4">
            <label class="label" for="lastname"><span>Last Name <span class="red">*</span></span></label>
            <div class="control">
                <input type="text" id="lastname" name="lastname" value="gtrgrtg" title="Last Name" class="input-text required-entry" data-validate="{required:true}">
            </div>
        </div>
    
             <div class="field compny col-lg-4">
    <label for="company" class="label">
        <span>Company <span class="red">*</span></span>
    </label>
    <div class="control">
                    <input type="text" name="company" id="company" value="" title="Company" class="input-text ">
    </div>
</div>
            
                    </div>

        <div class="parentclass-contact">          
<div class="field mobile-num required col-lg-4">
    <label for="telephone" class="label">
        <span>Business Number <span class="red">*</span></span>
    </label>
    <div class="control">
        <input type="tel" name="telephone" id="telephone" title="Mobile Phone" class="input-text required-entry">
    </div>
</div>
                         <div class="field fax col-lg-4">
                <label class="label" for="fax_id">
                    <span>Fax</span>
                </label>
                <div class="control">
                    <input type="text" name="vat_id" class="input-text" id="vat_id">
                </div>
            </div>
                        <div class="field business-address col-lg-4">
                <label class="label" for="fax_id">
                    <span>Business Address <span class="red">*</span></span>
                </label>
                <div class="control">
                    <input type="text" name="vat_id" class="input-text" id="vat_id">
                </div>
            </div>

        </div>

 <div class="parentclass-contact">          

 <div class="field country required col-lg-4">
            <label class="label" for="country">
                <span>Country <span class="red">*</span></span>
            </label>
            <div class="control">
                <select name="country_id" id="country" class="" title="Country" data-validate="{'validate-select':true}"><option value=""> </option><option value="CA">Canada</option><option value="US">United States</option><option value="AF">Afghanistan</option><option value="AX" selected="selected">Åland Islands</option><option value="AL">Albania</option><option value="DZ">Algeria</option><option value="AS">American Samoa</option><option value="AD">Andorra</option><option value="AO">Angola</option><option value="AI">Anguilla</option><option value="AQ">Antarctica</option><option value="AG">Antigua &amp; Barbuda</option><option value="AR">Argentina</option><option value="AM">Armenia</option><option value="AW">Aruba</option><option value="AU">Australia</option><option value="AT">Austria</option><option value="AZ">Azerbaijan</option><option value="BS">Bahamas</option><option value="BH">Bahrain</option><option value="BD">Bangladesh</option><option value="BB">Barbados</option><option value="BY">Belarus</option><option value="BE">Belgium</option><option value="BZ">Belize</option><option value="BJ">Benin</option><option value="BM">Bermuda</option><option value="BT">Bhutan</option><option value="BO">Bolivia</option><option value="BA">Bosnia &amp; Herzegovina</option><option value="BW">Botswana</option><option value="BV">Bouvet Island</option><option value="BR">Brazil</option><option value="IO">British Indian Ocean Territory</option><option value="VG">British Virgin Islands</option><option value="BN">Brunei</option><option value="BG">Bulgaria</option><option value="BF">Burkina Faso</option><option value="BI">Burundi</option><option value="KH">Cambodia</option><option value="CM">Cameroon</option><option value="CV">Cape Verde</option><option value="BQ">Caribbean Netherlands</option><option value="KY">Cayman Islands</option><option value="CF">Central African Republic</option><option value="TD">Chad</option><option value="CL">Chile</option><option value="CN">China</option><option value="CX">Christmas Island</option><option value="CC">Cocos (Keeling) Islands</option><option value="CO">Colombia</option><option value="KM">Comoros</option><option value="CG">Congo - Brazzaville</option><option value="CD">Congo - Kinshasa</option><option value="CK">Cook Islands</option><option value="CR">Costa Rica</option><option value="CI">Côte d’Ivoire</option><option value="HR">Croatia</option><option value="CU">Cuba</option><option value="CW">Curaçao</option><option value="CY">Cyprus</option><option value="CZ">Czechia</option><option value="DK">Denmark</option><option value="DJ">Djibouti</option><option value="DM">Dominica</option><option value="DO">Dominican Republic</option><option value="EC">Ecuador</option><option value="EG">Egypt</option><option value="SV">El Salvador</option><option value="GQ">Equatorial Guinea</option><option value="ER">Eritrea</option><option value="EE">Estonia</option><option value="SZ">Eswatini</option><option value="ET">Ethiopia</option><option value="FK">Falkland Islands</option><option value="FO">Faroe Islands</option><option value="FJ">Fiji</option><option value="FI">Finland</option><option value="FR">France</option><option value="GF">French Guiana</option><option value="PF">French Polynesia</option><option value="TF">French Southern Territories</option><option value="GA">Gabon</option><option value="GM">Gambia</option><option value="GE">Georgia</option><option value="DE">Germany</option><option value="GH">Ghana</option><option value="GI">Gibraltar</option><option value="GR">Greece</option><option value="GL">Greenland</option><option value="GD">Grenada</option><option value="GP">Guadeloupe</option><option value="GU">Guam</option><option value="GT">Guatemala</option><option value="GG">Guernsey</option><option value="GN">Guinea</option><option value="GW">Guinea-Bissau</option><option value="GY">Guyana</option><option value="HT">Haiti</option><option value="HM">Heard &amp; McDonald Islands</option><option value="HN">Honduras</option><option value="HK">Hong Kong SAR China</option><option value="HU">Hungary</option><option value="IS">Iceland</option><option value="IN">India</option><option value="ID">Indonesia</option><option value="IR">Iran</option><option value="IQ">Iraq</option><option value="IE">Ireland</option><option value="IM">Isle of Man</option><option value="IL">Israel</option><option value="IT">Italy</option><option value="JM">Jamaica</option><option value="JP">Japan</option><option value="JE">Jersey</option><option value="JO">Jordan</option><option value="KZ">Kazakhstan</option><option value="KE">Kenya</option><option value="KI">Kiribati</option><option value="XK">Kosovo</option><option value="KW">Kuwait</option><option value="KG">Kyrgyzstan</option><option value="LA">Laos</option><option value="LV">Latvia</option><option value="LB">Lebanon</option><option value="LS">Lesotho</option><option value="LR">Liberia</option><option value="LY">Libya</option><option value="LI">Liechtenstein</option><option value="LT">Lithuania</option><option value="LU">Luxembourg</option><option value="MO">Macao SAR China</option><option value="MG">Madagascar</option><option value="MW">Malawi</option><option value="MY">Malaysia</option><option value="MV">Maldives</option><option value="ML">Mali</option><option value="MT">Malta</option><option value="MH">Marshall Islands</option><option value="MQ">Martinique</option><option value="MR">Mauritania</option><option value="MU">Mauritius</option><option value="YT">Mayotte</option><option value="MX">Mexico</option><option value="FM">Micronesia</option><option value="MD">Moldova</option><option value="MC">Monaco</option><option value="MN">Mongolia</option><option value="ME">Montenegro</option><option value="MS">Montserrat</option><option value="MA">Morocco</option><option value="MZ">Mozambique</option><option value="MM">Myanmar (Burma)</option><option value="NA">Namibia</option><option value="NR">Nauru</option><option value="NP">Nepal</option><option value="NL">Netherlands</option><option value="NC">New Caledonia</option><option value="NZ">New Zealand</option><option value="NI">Nicaragua</option><option value="NE">Niger</option><option value="NG">Nigeria</option><option value="NU">Niue</option><option value="NF">Norfolk Island</option><option value="MP">Northern Mariana Islands</option><option value="KP">North Korea</option><option value="MK">North Macedonia</option><option value="NO">Norway</option><option value="OM">Oman</option><option value="PK">Pakistan</option><option value="PW">Palau</option><option value="PS">Palestinian Territories</option><option value="PA">Panama</option><option value="PG">Papua New Guinea</option><option value="PY">Paraguay</option><option value="PE">Peru</option><option value="PH">Philippines</option><option value="PN">Pitcairn Islands</option><option value="PL">Poland</option><option value="PT">Portugal</option><option value="QA">Qatar</option><option value="RE">Réunion</option><option value="RO">Romania</option><option value="RU">Russia</option><option value="RW">Rwanda</option><option value="WS">Samoa</option><option value="SM">San Marino</option><option value="ST">São Tomé &amp; Príncipe</option><option value="SA">Saudi Arabia</option><option value="SN">Senegal</option><option value="RS">Serbia</option><option value="SC">Seychelles</option><option value="SL">Sierra Leone</option><option value="SG">Singapore</option><option value="SX">Sint Maarten</option><option value="SK">Slovakia</option><option value="SI">Slovenia</option><option value="SB">Solomon Islands</option><option value="SO">Somalia</option><option value="ZA">South Africa</option><option value="GS">South Georgia &amp; South Sandwich Islands</option><option value="KR">South Korea</option><option value="ES">Spain</option><option value="LK">Sri Lanka</option><option value="BL">St. Barthélemy</option><option value="SH">St. Helena</option><option value="KN">St. Kitts &amp; Nevis</option><option value="LC">St. Lucia</option><option value="MF">St. Martin</option><option value="PM">St. Pierre &amp; Miquelon</option><option value="VC">St. Vincent &amp; Grenadines</option><option value="SD">Sudan</option><option value="SR">Suriname</option><option value="SJ">Svalbard &amp; Jan Mayen</option><option value="SE">Sweden</option><option value="CH">Switzerland</option><option value="SY">Syria</option><option value="TW">Taiwan, Province of China</option><option value="TJ">Tajikistan</option><option value="TZ">Tanzania</option><option value="TH">Thailand</option><option value="TL">Timor-Leste</option><option value="TG">Togo</option><option value="TK">Tokelau</option><option value="TO">Tonga</option><option value="TT">Trinidad &amp; Tobago</option><option value="TN">Tunisia</option><option value="TR">Turkey</option><option value="TM">Turkmenistan</option><option value="TC">Turks &amp; Caicos Islands</option><option value="TV">Tuvalu</option><option value="UG">Uganda</option><option value="UA">Ukraine</option><option value="AE">United Arab Emirates</option><option value="GB">United Kingdom</option><option value="UY">Uruguay</option><option value="UM">U.S. Outlying Islands</option><option value="VI">U.S. Virgin Islands</option><option value="UZ">Uzbekistan</option><option value="VU">Vanuatu</option><option value="VA">Vatican City</option><option value="VE">Venezuela</option><option value="VN">Vietnam</option><option value="WF">Wallis &amp; Futuna</option><option value="EH">Western Sahara</option><option value="YE">Yemen</option><option value="ZM">Zambia</option><option value="ZW">Zimbabwe</option></select>            </div>
        </div>
          
        <div class="field region required col-lg-4">
            <label class="label" for="region_id">
                <span>State/Province <span class="red">*</span></span>
            </label>
            <div class="control">
                <select id="region_id" name="region_id" title="State" class="validate-select region_id">
                    <option value="">Please select a region, state or province.</option>
                </select>
                <input style="display: none;" type="text" id="region" name="region" value="t54t4trgrt" title="State" class="input-text validate-not-number-first
                        ">
            </div>
        </div>
  <div class="field city required col-lg-4">
            <label class="label" for="city">
                <span>City <span class="red">*</span></span>
            </label>
            <div class="control">
                <input type="text" name="city" value="fewfwef" title="City" class="input-text required-entry" id="city">
            </div>
        </div>
        

        </div>
 <div class="parentclass-contact parentclass">    
           <div class="field zip required col-lg-4">
            <label class="label" for="zip">
                <span>Zip Code <span class="red">*</span></span>
            </label>
            <div class="control">
                <input type="text" name="postcode" value="342344" title="Zip Code" id="zip" class="input-text validate-zip-international
                        ">
                <div role="alert" class="message warning" style="display: none;">
                    <span></span>
                </div>
                <script type="text/javascript">var elemkRzpUfx0 = document.querySelector('div.message.warning');
if (elemkRzpUfx0) {
elemkRzpUfx0.style.display = 'none';
}</script>            </div>
        </div>

        <div class="field phone required col-lg-4">
    <label for="phone" class="label">
        <span>Phone <span class="red">*</span> </span>
    </label>
    <div class="control">
        <input type="number" name="number" id="number"  title="Phone" class="input-text required-phone-num">
    </div>
    </div>
    </div>

    <div class="outer-add-user-t-all">
    <div class="field choice add-user-t-all">
              <label class="container custom-checkbox">
                <input type="checkbox" id="add-a-user-location" name="default_billing" value="1" class="checkbox">
                <span class="checkmark"></span>
               </label>

                <label class="label add-user" for="add_user">
                    <span>Add a user to this Account</span>
                </label>
            </div>
</div>
    </fieldset>
    <fieldset class="fieldset not-show">

      <div class="parentclass-contact">          
<div class="field mobile-num required col-lg-4">
    <label for="telephone" class="label">
        <span>Email Address <span class="red">*</span> </span>
    </label>
    <div class="control">
        <input type="email" name="email" id="email"  title="Email" class="input-text required-entry">
    </div>
</div>
                         <div class="field fax col-lg-4">
                <label class="label" for="fax_id">
                    <span>Mobile Number</span>
                </label>
                <div class="control mobile-code-with-num">
                	<select>
                		<option>+1</option>
                	</select>
                    <input type="text" name="vat_id" class="input-text" id="vat_id">
                </div>
                <label class="note">Mobile Number or User Name use for login your account</label>
            </div>
                        <div class="field business-address col-lg-4">
                <label class="label" for="fax_id">
                    <span>Contact Name</span>
                </label>
                <div class="control">
                    <input type="text" name="vat_id" class="input-text" id="vat_id">
                </div>
            </div>

        </div>

             <div class="parentclass-contact">          
<div class="field user-name required col-lg-4">
    <label for="telephone" class="label">
        <span>User Name <span class="red">*</span></span>
    </label>
    <div class="control">
        <input type="text" name="username" id="username" title="username" class="input-text required-entry">
    </div>
</div>
                         <div class="field fax col-lg-4">
                <label class="label" for="fax_id">
                    <span>Telephone <span class="red">*</span></span>
                </label>
                <div class="control">
                    <input type="text" name="vat_id" class="input-text" id="vat_id">
                </div>
            </div>
                        <div class="field business-address col-lg-4">
                <label class="label" for="fax_id">
                    <span>Location selection</span>
                </label>
              <div class="control">
                <select id="region_id" name="region_id" title="State" class="validate-select region_id">
                    <option value="">Name of business</option>
                </select>
                <input style="display: none;" type="text" id="region" name="region" value="t54t4trgrt" title="State" class="input-text validate-not-number-first
                        ">
            </div>
            </div>

        </div>
        

        
  
 

                    
       
            </fieldset>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary" data-action="save-address" title="Save Address">
                <span>Save</span>
            </button>
        </div>
        <div class="secondary">
            <a class="action back" href="http://localhost/nexus-project/customer/address/">
                <span>Back</span>
            </a>
        </div>
    </div>
</form>

<script type="text/javascript">

require(['jquery', 'jquery/ui'], function($){ 
   
    $(document).ready(function() {
    $('#textbox1').val(this.checked);
    $("fieldset.fieldset.not-show").hide();
    $('#add-a-user-location').change(function() {
        if(this.checked) {
           $(".transaction-index-addlocation .field.choice.add-user-t-all").addClass("line"); 
           $("fieldset.fieldset.not-show").show();
            $(this).prop("checked", returnVal);
        
        }
        else{
            $(".transaction-index-addlocation .field.choice.add-user-t-all").removeClass("line"); 
            $("fieldset.fieldset.not-show").hide();
            
        }
        $('#add-a-user-location').val(this.checked);        
    });
});


 });


</script>