<?php $data =  $block->getResponseData(); ?>
<?php if(count($data) > 0): ?>
<table class="return-authorization-list-results-list">
<thead class="return-authorization-list-content-table">
    <tr class="return-authorization-list-content-table-header-row">
        <th class="return-authorization-list-content-table-header-row-title">
            <span>Case No.</span>
        </th>
        <th class="return-authorization-list-content-table-header-row-date"><span>Subject</span></th>
        <th class="return-authorization-list-content-table-header-row-currency"><span>Creation Date</span></th>
        <th class="return-authorization-list-content-table-header-row-status"><span>Last Message</span></th>
        <th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
    </tr>
</thead>
<tbody class="return-authorization-list-records-list">
<?php foreach($data as $value): ?>
<tr class="recordviews-row">
    <td class="recordviews-title">
        <span class="recordviews-title-value">  
    <a class="recordviews-title-anchor" target='_blank' href="<?= $this->getUrl('transaction/index/viewcase/id/'.$value['id']) ?>"><?= __("Case #").$value['casenumber'] ?></a></span></td> 
    <td class="recordviews-date"><span class="recordviews-value"><?= $value['title'] ?></span></td>
    <td class="recordviews-date"> 
        <span class="recordviews-value"><?= $value['datecreated']; ?></span>
    </td>
    <td class="recordviews-date"> 
        <span class="recordviews-value"><?= $value['datecreated']; ?></span>
    </td>
    <td class="recordviews-status">
        <span class="recordviews-value"><?= $this->getStatus($value['status']) ?></span>
    </td> 
</tr>
<?php endforeach; ?>
</tbody>
</table>
<div class="return-authorization-list-paginator">
    <div></div>
</div>
<?php else: ?>
    <div class="return-authorization-list-empty-section"><h5><?= __('No support cases were found') ?></h5></div>
<?php endif; ?>