<?php $data =  $block->getResponseData();
//echo "<pre>";print_r($data);die();
if(count($data)){
$linkArray = $data['links'];
$data['links'] = [];
foreach($linkArray as $links){
    if($links['rel'] == 'self'){
        $links['position'] = 3;
    }else if($links['rel'] == 'first'){
        $links['position'] = 1;
    }else if($links['rel'] == 'last'){
        $links['position'] = 5;
    }
    else if($links['rel'] == 'next'){
        $links['position'] = 4;
    }
    else if($links['rel'] == 'previous'){
        $links['position'] = 2;
    }
    $data['links'][] = $links;
}

//echo "<pre>";print_r($data['links']);die();
$reversed = $this->arraySortByField($data['links']);
}
//print_r($reversed);die();
?>
<?php if(isset($data['items']) && count($data['items']) > 0): ?>
<table class="return-authorization-list-results-list">
<thead class="return-authorization-list-content-table">
    <tr class="return-authorization-list-content-table-header-row">
        <th class="return-authorization-list-content-table-header-row-title">
        <span>Number</span></th>
        <th class="return-authorization-list-content-table-header-row-date"><span>Date</span></th>
        <th class="return-authorization-list-content-table-header-row-currency"><span>Amount</span></th>
        <th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
    </tr>
</thead>
<tbody class="return-authorization-list-records-list">
<?php foreach($data['items'] as $value): ?>
<tr class="recordviews-row">
    <td class="recordviews-title">
        <span class="recordviews-title-value">
		<?php if($value['recordtype']=="returnauthorization"): ?>
		 <a class="recordviews-title-anchor" target='_blank' href="<?= $this->getUrl('returnauthorization/index/returnview/id/'.$value['id']) ?>"><?= $value['trandisplayname'] ?></a>
		<?php else: ?>
		<a class="recordviews-title-anchor" target='_blank' href="<?= $this->getUrl('transaction/index/view/id/'.$value['id'].'/type/'.$value['recordtype']) ?>"><?= $value['trandisplayname'] ?></a>
		<?php endif; ?>
		</span>
	</td> 
    <td class="recordviews-date">
		<span class="recordviews-actionable-label"><?= __('Date:')?></span>
		<span class="recordviews-value"><?= $value['trandate'] ?></span>
	</td>
    <td class="recordviews-currency"> 
		<span class="recordviews-actionable-label"><?= __('Amount:')?></span>
        <span class="recordviews-value"><?= $this->helper('Magento\Framework\Pricing\Helper\Data')->currency(abs($value['foreigntotal']),true,false); ?></span>
	</td>
    <td class="recordviews-status">
		<span class="recordviews-actionable-label"><?= __('Status:')?></span>
        <span class="recordviews-value"><?= $this->helper('Nexuscellular\Transaction\Helper\Data')->getReturnStatus($value['recordtype'],$value['status']) ?></span>
    </td> 
</tr>
<?php endforeach; ?>
</tbody>
</table>
<?php else: ?>
    <div class="return-authorization-list-empty-section"><h5><?= __('No Data found') ?></h5></div>
<?php endif; ?>