
<div class="TransactionList"><!-- TEMPLATE STARTS: support_cases-->
  <section class="return-authorization-list" style="position:relative">
        <header class="return-authorization-list-header" >
            <h2>Support Cases</h2></header>
            <a class="case-list-header-button-new" href="<?= $this->getUrl('transaction/index/createcase') ?>">Create New Case</a>
            <div ><!-- TEMPLATE STARTS: list_header_view-->
            <div class="list-header-view" >
                <div class="list-header-view-accordion"><div class="list-header-view-accordion-link"></div>
               
            <div class="list-header-view-accordion-body " >
                <div class="list-header-view-accordion-body-header ">
                    <span class="list-header-view-sorts"><label class="list-header-view-filters">
                    <label class="list-header-view-filters">
                    <select name="filter" class="list-header-view-accordion-body-select" data-action="filter">  
                            <option value="'datecreated'" >By creation Date</option> 
                        </select>
                        </label>
                        <button class="list-header-view-accordion-body-button-sort" data-order='desc'>
                            <i class="list-header-view-accordion-body-button-sort-up fa fa-arrow-up"></i>
                                <i class="list-header-view-accordion-body-button-sort-down listheader-filter-sortorder-arrow-selected fa fa-arrow-down"></i>
                        </button>
                    </span>
                    <label class="list-header-view-filters">
                        <select name="status_filter" class="list-header-view-accordion-body-select" data-action="filter"> 
                            <option value="1,2,3,4,5" selected="">Show All Statuses</option> 
                            <option value="1">Not Started</option> 
                            <option value="2">In Progress</option>  
                            <option value="3">Escalated</option>  
                            <option value="4">Re-Opened</option> 
                            <option value="5">Closed</option>
                        </select>
                    </label>
                </div>
             </div>  
        </div>
        <!-- TEMPLATE ENDS: list_header_view --></div>
        <div class="return-authorization-list-container"> 
            <table class="return-authorization-list-results-list">
				<thead class="return-authorization-list-content-table">
					<tr class="return-authorization-list-content-table-header-row">
						<th class="return-authorization-list-content-table-header-row-title">
							<span>Case No.</span>
						</th>
						<th class="return-authorization-list-content-table-header-row-date"><span>Subject</span></th>
						<th class="return-authorization-list-content-table-header-row-currency"><span>Creation Date</span></th>
						<th class="return-authorization-list-content-table-header-row-status"><span>Last Message</span></th>
						<th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
					</tr>
				</thead>
				<tbody class="return-authorization-list-records-list">
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value"> 
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/viewcase/id/150/'); ?>">Case #80</a></span></td> 
					<td class="recordviews-date"><span class="recordviews-value">Mohsin Test</span></td>
					<td class="recordviews-date"> 
						<span class="recordviews-value">2019-12-16</span>
					</td>
					<td class="recordviews-date"> 
						<span class="recordviews-value">2019-12-16</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-value">Closed</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">   
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/viewcase/id/124/'); ?>">Case #73</a></span></td> 
					<td class="recordviews-date"><span class="recordviews-value">Test Case from Mohsin</span></td>
					<td class="recordviews-date"> 
						<span class="recordviews-value">2019-6-7</span>
					</td>
					<td class="recordviews-date"> 
						<span class="recordviews-value">2019-6-7</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-value">Closed</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">  
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/viewcase/id/109/'); ?>">Case #60</a></span></td> 
					<td class="recordviews-date"><span class="recordviews-value">[TEST] Mobile Phone Not Working</span></td>
					<td class="recordviews-date"> 
						<span class="recordviews-value">2018-12-12</span>
					</td>
					<td class="recordviews-date"> 
						<span class="recordviews-value">2018-12-12</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-value">Closed</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">  
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/viewcase/id/106/'); ?>">Case #57</a></span></td> 
					<td class="recordviews-date"><span class="recordviews-value">Defective Accessory return policy</span></td>
					<td class="recordviews-date"> 
						<span class="recordviews-value">2018-11-28</span>
					</td>
					<td class="recordviews-date"> 
						<span class="recordviews-value">2018-11-28</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-value">Closed</span>
					</td> 
				</tr>
				</tbody>
				</table>
    </div>
   </section>  
<!-- TEMPLATE ENDS: return_authorization_list --></div>
<script type="text/javascript">
                   /* require([
                        "jquery",
                        "mage/calendar"
                        ], function($){
                        sendAjaxCall(true);
                          $('#from-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                var todate = jQuery('#to-datepicker').val();
                                sendAjaxCall(selectedDate,todate);
                                if(jQuery('#from-datepicker').val().length >0){
                                    console.log(jQuery('#from-datepicker').length);
                                jQuery(this).next().addClass('hide');
                                jQuery(this).next().next().removeClass('hide');
                                }
                            }
                        });
                        jQuery(document).on('change','select[name=status_filter]',function(){
                            searchFilter();
                        });
                        
                        jQuery(document).on('click','.list-header-view-accordion-body-calendar-icon',function(){
                            jQuery(this).prev().trigger('focus');
                        });
                        jQuery(document).on('click','.list-header-view-accordion-body-button-sort',function(){   
                            sendAjaxCall();
                            var dir_order = jQuery(this).attr('data-order');
                            jQuery('.list-header-view-accordion-body-button-sort').find('i').removeClass('listheader-filter-sortorder-arrow-selected');
                            if(dir_order == 'desc'){
                                jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-down').addClass('listheader-filter-sortorder-arrow-selected');
                            }else{
                                jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-up').addClass('listheader-filter-sortorder-arrow-selected');
                            }
                        });
                            function sendAjaxCall(onload=false){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                console.log(onload);
                                if(onload == false){
                                if(dir_order == 'desc')
                                    set_dir_order = 'asc';
                                else 
                                set_dir_order = 'desc';
                                 }else{
                                    set_dir_order = dir_order;
                                 }
                                // console.log(set_dir_order);
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/cases') ?>',
                                    data: {fromdate:'',todate:'',dir_order:set_dir_order,status:''},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',set_dir_order);
                            }

                            function searchFilter(){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                var statusFilter = jQuery("select[name=status_filter]").val();
                                if(dir_order == 'desc')
                                    dir_order = 'asc';
                                else 
                                    dir_order = 'desc';
                                if(statusFilter.length > 0 ){
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/cases') ?>',
                                    data: {dir_order:dir_order,status:statusFilter},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               }
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                               
                        });*/
                    </script>