<div class="row myaccount-case-new-section">
    <div class="col-md-12">
        <form name="addData" method="post" id="addData" class="form"
              action="<?php echo $this->getFormAction(); ?>"
              data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
              data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <h2 class="case-new-title"><?= $block->escapeHtmlAttr(__('How can we help you?')) ?></h2>
                <fieldset class="fieldset row">
                    <div class="fields col-md-12">
                        <div class="field name required">
                            <label class="label" for="title"><span><?= $block->
                                escapeHtmlAttr(__('Subject')) ?></span></label>
                            <div class="control">
                                <input name="title" id="title" title="title" autocomplete="off" class="input-text" type="text"
                                       data-validate="{required:true, 'validate-alphanum-with-spaces':true}">
                            </div>
                        </div>
                        <div class="field name">
                            <label class="label" for="title"><span><?= $block->
                                escapeHtmlAttr(__('Type of Inquiry')) ?></span></label>
                            <div class="control">
                                <select name="category" title="category" id="category" class="case-new-form-case-category" data-validate="{required:true}">          
                                    <option value="1">Question</option>
                                    <option value="2">Concern</option>
                                    <option value="4">Return</option>
                                    <option value="3">Problem</option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="field name required">
                            <label class="label" for="title"><span><?= $block->escapeHtmlAttr(__('Message')) ?></span></label>
                            <div class="control">
                                <textarea name="incomingMessage" rows="6" id="incomingMessage" class="case-new-form-textarea" data-validate="{required:true}"></textarea>
                            </div>
                        </div>
                        <div class="field name required">
                            <input type="checkbox" name="include_email" id="include_email" class="case-new-form-include-email"><label style="font-weight:600;font-size: 14px;">I want to use another email address for this case </label>
                        </div>
                        <div class="field name required secondary-email" style="display:none">
                        <label class="label" for="title"><span><?= $block->escapeHtmlAttr(__('Email')) ?></span></label>
                            <input name="email" id="email" title="email" class="input-text" type="text" data-validate="{required:true, 'validate-email':true}">
                        </div>
                    </div>
                </fieldset>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <button type="submit" class="action submit primary" title="Save"><span><?= $block->
                        escapeHtmlAttr(__('Submit')) ?></span></button>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        jQuery(document).on('click','.return-authorization-worksheet-col-btn-action .del-icn',function(){
        });
        jQuery("#include_email").change(function() {
            var ischecked= $(this).is(':checked');
             jQuery('.myaccount-case-new-section .secondary-email').slideToggle();     
        }); 
    });
</script>