<?php
$transaction = $this->getTransactionDetails();
//echo "<pre>";print_r($transaction);die();
$helper = $this->helper('Nexuscellular\Customization\Helper\Data');
if(isset($transaction['error']) && $transaction['error'] == true){
    echo "<div class='message-error error message'>".$transaction['error_message']."</div>";
}else{
	$getItemsImages =	$this->getAllItemsImages($transaction['itemList']['item']);
	$fulfillItems =		$this->getItemFulfillmentBySalesOrderId($transaction,$getItemsImages);
	$mappingItems = 	$this->mappingItemsWithfulFillment($transaction['itemList']['item'],$fulfillItems);
	$transaction['itemList']['item'] = $mappingItems;
?>

<section class="invoice-details transaction-history">
    <div class="content invoice-details-view"> 
        <header>
            <?php if(isset($transaction['tranId'])) ?>
            <h2 class="invoice-details-invoice-title"> <?= __('Credit Memo # ')?> <b><span class="invoice-details-invoice-number"><?= $transaction['tranId'] ?></span></b> 
                <span class="transaction-details-amount">  <span class="amount"><?= $helper->setsetOrderCurrencyFormat($transaction['total'],$transaction['currencyName']) ?></span></span>
            </h2>
        </header> 
        <div class="invoice-details-header-information">
            <div class="invoice-details-header-row">
                <div class="transaction-details-header-col-left">
                    <p class="header-date-info">
                        <span class="myaccount-transaction-status-label"><?= __('Date:') ?></span>
                        <span class="transaction-details-header-date-value"><?= date('Y-m-d',strtotime($transaction['createdDate'])) ?></span>
                    </p>
                </div>
                <div class="transaction-details-header-col-right">
                    <p class="header-status-info">
                        <span class="myaccount-transaction-status-label"><?= __('Status:') ?></span>
                        <span class="myaccount-transaction-status-value"><?= $transaction['status'] ?></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="invoice-details-row" name="invoice-content-layout">
            <div class="invoice-details-content-col">
                <?php if(count($transaction['itemList']['item'])): ?>
				<div class="creditmemo-details-accordion-divider order-history-packages-acordion-divider">
                    <div class="creditmemo-details-accordion-head open">
                        <div class="creditmemo-packages-accordion-head-toggle">
                            <span class="creditmemo-details-accordion-toggle-icon"></span>
                            <div class="creditmemo-packages-header-container">
                                <div class="creditmemo-packages-header-container-left">
                                    <div class="creditmemo-packages-header-col">
                                        <strong><?= __('Products')  ?></strong>
                                        
                                    </div>  
                                </div>
                            </div>
                        </div>
                    </div><!-- ENDS creditmemo-details-accordion-head -->
                    <div class="order-history-packages-accordion-body invoice-details-accordion-body" id="invoice-details-products" role="tabpanel">
                         <div class= "order-history-packages-accordion-container">
                            <table class="invoice-details-products-table lg2sm-first">
                                <tbody>
                                    <?php foreach($transaction['itemList']['item'] as $item): ?>
                                    <tr class="transaction-line-views-cell-navigable">
                                        <td class="transaction-line-views-cell-navigable-item-image" name="item-image">
                                        
                                        <div class="account-invoice-product-view invoice-transaction-photo">
                                            <img src="<?= $this->getImage($item['item']['internalId'],$getItemsImages) ?>" alt="<?= $item['description'] ?>" 
											style="width:300px;" />
                                        </div>
                                        <div class="account-invoice-product-view invoice-product-details">  
                                            <p>
                                                <span class="transaction-line-views-cell-navigable-product-title"><?= $item['description'] ?></span> 
                                            </p>
                                            <p><span class="invoice-price price"><?= $helper->setsetOrderCurrencyFormat($item['rate'],$transaction['currencyName']) ?></span></p> 
                                            <p><!-- TEMPLATE STARTS: product_line_sku-->
                                                <div class="product-line-sku-container">
                                                    <span class="product-line-sku-label"><?= __('SKU:')?> </span>
                                                    <span class="product-line-sku-value"><?= $this->getSku($item['item']['name']) ?></span>
                                                </div>  <!-- TEMPLATE ENDS: product_line_sku -->
                                            </p>
                                            <p>
                                            <?php if(isset($item['options']) && count($item['options']) > 0): ?>
                                            <?php foreach($item['options']['customField'] as $field): ?>
                                                <span class="transaction-line-views-cell-navigable-item-amount-label"><?= ($field['scriptId'] == "custcol_color") ? 'Color: ' : $field['scriptId'] ?></span>
                                                <span class="value"><?php echo $field['value']['name'] ?></span>
                                            <?php endforeach; ?>
                                            <?php endif; ?>
                                            </p>
                                             <!--<p>
                                                <span class="transaction-line-views-cell-navigable-stock">
                                                    <div class="product-line-stock">
                                                        <div class="product-line-stock-msg-not-available">This item is no longer available</div>
                                                    </div>
                                                </span>
                                            </p>-->
                                            <div data-view="StockDescription"></div>
                                              <!-- Quantity -->
												<p>
													<span class="transaction-line-views-cell-navigable-item-amount-label">
														<?= __('Quantity:') ?>
													</span>
													<span><?= $item['quantity'] ?></span>
												</p> 
												<!-- Subtotal -->
												<?php $amount = $item['quantity'] * $item['rate'] ?>
												<p>
													<span class="transaction-line-views-cell-navigable-item-amount-label"><?= __('Total Amount:')?> </span>
													<span class="invoice-price price"><?= $helper->setsetOrderCurrencyFormat($amount,$transaction['currencyName']) ?></span>
												</p>
												<p>
												<?php if($this->isProductAvailable($item['item']['name']) == 1): ?>
													<span class="transaction-line-views-cell-navigable-stock">
														<div class="product-line-stock">
															<div class="product-line-stock-msg-not-available"><?= __('This item is no longer available') ?></div>
														</div>
													</span>
													
												<?php elseif($this->isProductAvailable($item['item']['name']) == 2): ?>
														<span class="transaction-line-views-cell-navigable-stock">
														<div class="product-line-stock">
															<div class="product-line-stock-msg-not-available"><?= __('OUT OF STOCK') ?></div>
														</div>
													</span>
												<?php endif; ?>
												</p>
                                        </div>
                                        </td>
                                    </tr>
                                    <?php endforeach; ?>
                                </tbody>
                                </table>
                            </div>
                        </div>
                </div><!-- ENDS section 1 -->
				<?php endif; ?>
				<div class="creditmemo-details-accordion-divider billing-section open">
					<a class="creditmemo-packages-accordion-head-toggle"> 
						<span class="toggle-heading"><?= __('More Details')?></span>  
						<span class="creditmemo-details-accordion-toggle-icon"></span>
					</a>
				</div>
				<div class="invoice-inner-details-row">
					<div class="invoice-details-info-card-grid">
						
						<div class="invoice-details-info-card-terms-container">
							<span><?= __('Memo:') ?></span> 
							<span><?= !empty($transaction['memo']) ? $transaction['memo'] : '-' ?></span> 
						</div><!-- Ends invoice-details-info-card-terms-container -->
					</div><!-- Ends invoice-details-info-card-grid -->
				</div><!-- Ends invoice-inner-details-row -->
              </div>  
				<div class="invoice-details-summary-col" name="summary-container">
					<div class="transaction-details-row-fluid">
						<div class="transaction-details-summary-container">
							<h3 class="transaction-details-summary-title"><?= __('Summary') ?></h3>
							<p class="transaction-details-summary-grid-float">
								<span class="transaction-details-summary-items-number"><?= $helper->setsetOrderCurrencyFormat($transaction['subTotal'],$transaction['currencyName'])  ?></span><?= __('Subtotal')?><span class="invoice-details-summary-subtotal-items">  <?= $this->countItems($transaction['itemList']['item']) ?><?= __('Items') ?></span>
							</p>
							<?php if(isset($transaction['promotionsList']['promotions']) && count($transaction['promotionsList']['promotions'])): ?>
								<?php foreach($transaction['promotionsList']['promotions'] as $promocode): ?>
									<p class="transaction-details-summary-grid-float"><span class="transaction-details-summary-items-number"><?= $promocode['couponCode']['name']  ?></span><?= __('Promocode')?></p>
								<?php endforeach; ?>
							<?php endif; ?>
							<p class="transaction-details-summary-grid-float"><span class="transaction-details-summary-items-number"><?= $helper->setsetOrderCurrencyFormat($transaction['taxTotal'],$transaction['currencyName'])  ?></span><?= __('Tax Total') ?></p>
							<p class="transaction-details-summary-grid-float"><span class="transaction-details-summary-items-number"><?= $helper->setsetOrderCurrencyFormat($transaction['shippingCost'],$transaction['currencyName'])  ?></span><?= __('Shipping Cost') ?></p>
							<?php if($transaction['discountTotal'] > 0): ?>
								<p class="transaction-details-summary-grid-float"><span class="transaction-details-summary-items-number"><?= $helper->setsetOrderCurrencyFormat($transaction['discountTotal'],$transaction['currencyName'])  ?></span><?= __('Discount Total') ?></p>
							<?php endif; ?>
							<p class="transaction-details-summary-grid-float total"><span class="transaction-details-summary-items-number"> <?= $helper->setsetOrderCurrencyFormat($transaction['total'],$transaction['currencyName'])  ?> </span> <?= __('Total') ?></p>
						</div>
					</div>
					<div class="invoice-details-buttons-container">
						<?php /*<a href="<?= $this->getUrl('') ?>" class="reorder-all-items-btn"><?= __('Reorder All Items') ?></a>*/ ?>
						<a href="<?= $this->getUrl('transaction/index/creditmemopdf/id/'.$transaction['internalId']) ?>" class="invoice-details-button-download-as-pdf"><?= __('Download as PDF') ?></a>
					</div>
				</div>
             </div>
        </div>
    </section>
    <?php } ?>
    <script type="text/javascript">
                    require([
                        "jquery"
                        ], function($){
                        jQuery(".creditmemo-packages-header-container-title").click(function(e){
                            jQuery(this).toggleClass('open');
                        });
                        jQuery(".creditmemo-details-accordion-head").click(function(e){
                            var senderElement = e.target;
                            //console.log(senderElement);
                            if($(senderElement).attr('class') != 'order-history-packages-address-data-link' && $(senderElement).attr('class') != 'order-history-packages-icon-angle-down'
                            && $(senderElement).attr('class') != 'creditmemo-packages-accordion-head-toggle-status' 
                            && $(senderElement).attr('class') != 'order-history-list-tracking-number-control-button'
							&& $(senderElement).attr('class') != 'track-button-toggle-icon'
							){
								jQuery(this).next().slideToggle('fast');
								jQuery(this).toggleClass('open');
                            }
                        });
                        jQuery(".order-history-list-tracking-number-control-button").click(function(e){ 
                            jQuery(this).next().toggleClass('show');
                        });
						jQuery(".billing-section").click(function(e){ 
                            jQuery(this).next().slideToggle('fast');
							jQuery(this).toggleClass('open');
                        });
						
						
                    });
    </script>
	
