<?php //echo "fulfillment";
$helper = $this->helper('Nexuscellular\Customization\Helper\Data');
$fulfillItems = $this->getFulfillitemsData();
 ?>
 <?php foreach($fulfillItems as  $value): ?>
		<?php	$shippingAddress = $value['shippingAddress'];
				$shipStatus = $value['shipStatus'];
				?>
		<div class="order-history-packages-acordion-divider">
			<div class="invoice-details-accordion-head open">
				<div class="order-history-packages-accordion-head-toggle">
					<div class="order-history-packages-header-container-title">
							<span class="order-history-packages-accordion-head-toggle-status"><?= $shipStatus ?></span>
							<span class="order-history-packages-accordion-head-toggle-auxiliar-text" style="vertical-align: -1px;">   to  </span>
							<a class="order-history-packages-address-data-link">
								<?= trim($shippingAddress['addressee']) ?>  
								<span class="order-history-packages-icon-angle-down"></span>
							</a>
							<div class="order-history-packages-dropdown-menu" aria-labelledby="order-history-packages-address-dropdown"> 
								<div>
									<div class="address-details">
										<div class="address-details-container">
												<address>
												<div class="address-details-info">
													<p class="address-details-container-multiselect-address-details-addr1">
														<?= $shippingAddress['addr1'] ?>
													</p>
													<p class="address-details-container-multiselect-address-details-addr2"><?= $shippingAddress['addr2']." ".$shippingAddress['city']." ".$shippingAddress['state']. " ".$shippingAddress['zip'] ?> </p>
													<p class="address-details-container-multiselect-address-line">
														<p class="address-details-country"><?= (substr($shippingAddress['country'], 0, 1) === '_') ? ucfirst(ltrim($shippingAddress['country'], '_')) : $shippingAddress['country'] ?> </p>
														<p class="address-details-phone"><a href="tel:"><?= $shippingAddress['addrPhone'] ?></p></a>
													</p>
												 </div>
											</address>
										</div>
									</div>  
								</div> 
							</div><!-- Ends order-hsitory-packages-dropdown-menu -->
					</div><!-- Ends Order Title-->
					<span class="invoice-details-accordion-toggle-icon"></span>
					<div class="order-history-packages-header-container">
						<div class="order-history-packages-header-container-left">
							<div class="order-history-packages-header-col">
							<?php $shipStatisCondition = ($shipStatus == "Shipped" && $value['shipMethod'] !='Pick Up') ?>
								<?php /*<span class="order-history-packages-shipped-date-label"><?= ($shipStatisCondition) ? 'Shipped on:' : 'Status:' ?></span>
								<span class="order-history-packages-shipped-date-value"><?= ($shipStatisCondition) ? '2021-08-21' : $shipStatus ?></span>*/ ?>
								<span class="order-history-packages-shipped-date-label"><?= 'Status:' ?></span>
								<span class="order-history-packages-shipped-date-value"><?= $shipStatus ?></span>
							</div>
						</div><!-- Ends Left Section-->
						<div class="order-history-packages-header-container-right">
						  <?php if(is_array($value['trackingInfo']) && count($value['trackingInfo'])): ?>    
							<div class="order-history-tracking-content">
								<button class="order-history-list-tracking-number-control-button">
									<?= __('Track Packages') ?><span class="track-button-toggle-icon"></span>
								</button>
								<div class="order-history-list-tracking-number-control-numbers ">
									<ul>  
										<?php $trackArray = $value['trackingInfo'] ?>
										<?php foreach($trackArray as $trackNumber): ?>
											<li><a target="_blank" class="order-history-list-tracking-number-control-numbers-link" href="<?php echo $this->getTrackingLink($trackNumber['shipmethod'],$trackNumber['trackingnumber']) ?>"><?= $trackNumber['trackingnumber'] ?></a> <?php echo $this->getShipMethodName($trackNumber['shipmethod']) ?></li>
										<? endforeach; ?>
									</ul>
								</div>
							</div><!-- Ends racking content -->
							<?php endif; ?>
							<div class="order-history-packages-header-col-shipping-method">
								<span class="order-history-packages-delivery-label"><?= __('Delivery Method:') ?></span>
								<span class="order-history-packages-delivery-value"><?= $value['shipMethod'] ?></span>
							</div>
						</div>
					</div>
				</div>
			</div><!-- Ends accordion-invoice-head -->
			<div class= "order-history-packages-accordion-container invoice-details-accordion-body">
				<table class="invoice-details-products-table lg2sm-first">
					<tbody>
						<?php foreach($value as $key => $iterateItem): ?>
						<?php if(is_numeric($key)): ?>
							<?php foreach($iterateItem as $item): ?>
								
								<tr class="transaction-line-views-cell-navigable">
									<td class="transaction-line-views-cell-navigable-item-image" name="item-image">
									<div class="account-invoice-product-view invoice-transaction-photo">
										<img src="<?= $item['image'] ?>" alt="<?= $item['name'] ?>" 
										style="width:300px;" />
									</div>
									<div class="account-invoice-product-view invoice-product-details">  
										<p>
											<span class="transaction-line-views-cell-navigable-product-title"><?= $item['name'] ?></span> 
										</p>
										<p><span class="invoice-price price"><?= $helper->setsetOrderCurrencyFormat($item['unitprice'],$item['currencyName']) ?></span></p> 
										<p><!-- TEMPLATE STARTS: product_line_sku-->
											<div class="product-line-sku-container">
												<span class="product-line-sku-label"><?= __('SKU:') ?> </span>
												<span class="product-line-sku-value"><?= $item['sku'] ?></span>
											</div>  <!-- TEMPLATE ENDS: product_line_sku -->
										</p>
										<p>
										<?php echo $item['options'] ?>
										</p>
										 <!--<p>
											<span class="transaction-line-views-cell-navigable-stock">
												<div class="product-line-stock">
													<div class="product-line-stock-msg-not-available">This item is no longer available</div>
												</div>
											</span>
										</p>-->
										<div data-view="StockDescription"></div>
										<!-- Quantity -->
										<p>
											<span class="transaction-line-views-cell-navigable-item-amount-label"><?= __('Quantity:') ?></span>
											<span><?= $item['quantity'] ?></span>
										</p> 
										<!-- Subtotal -->
										<p>
											<span class="transaction-line-views-cell-navigable-item-amount-label"><?= __('Total Amount:') ?></span>
											<span class="invoice-price price"><?= $helper->setsetOrderCurrencyFormat($item['amount'],$item['currencyName']) ?></span>
										</p>
										<p>
										<?php if($item['is_available'] == 1): ?>
											<span class="transaction-line-views-cell-navigable-stock">
												<div class="product-line-stock">
													<div class="product-line-stock-msg-not-available"><?= __('This item is no longer available') ?></div>
												</div>
											</span>	
										<?php elseif($item['is_available'] == 2): ?>
											<span class="transaction-line-views-cell-navigable-stock">
												<div class="product-line-stock">
													<div class="product-line-stock-msg-not-available"><?= __('OUT OF STOCK') ?></div>
												</div>
											</span>
										<?php else:  ?>
											<form class="form" method="post" action="<?php echo $this->getUrl('transaction/index/reorder') ?>">
												<input name="form_key" type="hidden" value="<?php echo $block->getFormKey();?>">
												<input name="reorder_sku" type="hidden" value="<?php echo $item['whole_sku'] ?>">
												<input name="qty" type="hidden" value="<?php echo $item['quantity'] ?>">
												<input name="optionName" type="hidden" value="<?php echo $item['optionName'] ?>">
											<button type='submit' class="order-history-item-actions-reorder"><?= __('Reorder') ?></button>
											</form>
										<?php endif; ?>
										</p>
									</div>
									</td>
								</tr>
							<?php endforeach; ?>
							<?php endif; ?>
						<?php endforeach; ?>
					</tbody>
				</table>
			</div>
		</div><!--Ends order-history-packages-acordion-divider -->
<?php endforeach; ?>