<?php
//$items = $this->getCustomerReturnList();
?>
<div class="TransactionList listinvoice"><!-- TEMPLATE STARTS: return_authorization_list-->
  <section class="return-authorization-list">
        <header class="return-authorization-list-header"><h2><?= __('Invoices') ?></h2></header>
            <div ><!-- TEMPLATE STARTS: list_header_view-->
          <div class="list-header-view" >
			<div class="invoice-paid-list-header-button-group">
				<span class="invoice-header-status active"><?= __('Open') ?></span>
				<span class="invoice-header-status"><?= __('Paid in Full') ?></span>
			</div>
           <div class="list-header-view-accordion">
            <div class="list-header-view-accordion-body ">
				
                <div class="list-header-view-accordion-body-header ">
                    <span class="list-header-view-sorts"><label class="list-header-view-filters">
                        <label class="list-header-view-filters">
                            <select name="sort" class="list-header-view-accordion-body-select"> 
                                <option value="trandate,internalid"><?= __('Sort By Date') ?></option> 
                            </select>
                        </label>
                        <button class="list-header-view-accordion-body-button-sort" data-order='desc'>
                            <i class="list-header-view-accordion-body-button-sort-up fa fa-arrow-up"></i>
                            <i class="list-header-view-accordion-body-button-sort-down listheader-filter-sortorder-arrow-selected fa fa-arrow-down"></i>
                        </button>
                    </span>
                    <label class="list-header-view-filters">
                        <select name="filter" class="list-header-view-accordion-body-select">  
                           <option value="overdue" ><?= __('Show Overdue') ?></option>
						   <option value="next7days" ><?= __('Show Due next 7 days') ?></option>
						   <option value="next30days"><?= __('Show Due next 30 days') ?></option>
						   <option value="next60days" ><?= __('Show Due next 60 days') ?></option>
						   <option value="next90days"><?= __('Show Due next 90 days') ?></option>
						   <option value="all" selected="selected"><?= __('Show All') ?></option>  
                        </select>
                    </label>
					<div class="filter-date-section" style="display:none">
						<label class="list-header-view-from" for="from"><span>From</span>
							<input class="list-header-view-accordion-body-input" id="from-datepicker" name="datepicker" type="text" autocomplete="off">
							<i class="list-header-view-accordion-body-calendar-icon fa fa-calendar-alt"></i>
							<i class="fas fa-times-circle from-close hide"></i>
						</label>
						<label class="list-header-view-to" for="to">
							<span>to</span>
							<input class="list-header-view-accordion-body-input" id="to-datepicker" name="to" type="text" autocomplete="off">
							<i class="list-header-view-accordion-body-calendar-icon to-calender-icon fa fa-calendar-alt"></i>
							<i class="fas fa-times-circle to-close hide"></i>
						</label>
					</div><!-- Ends Date DIV Section -->
                </div>
             </div>  
        </div>
        <!-- TEMPLATE ENDS: list_header_view --></div>
        <div class="return-authorization-list-container"> 
            <table class="return-authorization-list-results-list">
				<thead class="return-authorization-list-content-table">
					<tr class="return-authorization-list-content-table-header-row">
						<th class="return-authorization-list-content-table-header-row-title"><span>Number</span></th>
						<th class="return-authorization-list-content-table-header-row-date"><span>Date</span></th>
						<th class="return-authorization-list-content-table-header-row-status"><span>Due Date</span></th>
						<th class="return-authorization-list-content-table-header-row-currency"><span>Amount</span></th>
									<th class="return-authorization-list-content-table-header-row-currency"><span>Due Amount</span></th>
							</tr>
				</thead>
				<tbody class="return-authorization-list-records-list">
				<tr class="recordviews-row">
					<td class="recordviews-title"><!-- invoice number -->
						<span class="recordviews-title-value">  
							<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/932921/type/invoice/'); ?>">
								Invoice #INV10489			</a>
						</span>
					</td> 
					<td class="recordviews-date"><!-- Date -->
						 <span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2019-10-2</span>
					</td>
					<td class="recordviews-date"><!-- due Date -->
						 <span class="recordviews-actionable-label"><span>Due Date</span></span>
						<span class="recordviews-value invoice-date-overdue">2019-10-9<i class="fa fa-flag"></i></span>    </td> 
					<td class="recordviews-currency"> 
						 <span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">$3.92</span>
					</td>
							<td class="recordviews-currency"> 
							<span class="recordviews-actionable-label">Due Amount:</span>
							<span class="recordviews-value">$0.02</span>
						</td>
					</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title"><!-- invoice number -->
						<span class="recordviews-title-value">  
							<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/906145/type/invoice/'); ?>">
								Invoice #INV10299			</a>
						</span>
					</td> 
					<td class="recordviews-date"><!-- Date -->
						 <span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2019-9-18</span>
					</td>
					<td class="recordviews-date"><!-- due Date -->
						 <span class="recordviews-actionable-label"><span>Due Date</span></span>
						<span class="recordviews-value invoice-date-overdue">2019-9-25<i class="fa fa-flag"></i></span>    </td> 
					<td class="recordviews-currency"> 
						 <span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">$17.27</span>
					</td>
							<td class="recordviews-currency"> 
							<span class="recordviews-actionable-label">Due Amount:</span>
							<span class="recordviews-value">$17.27</span>
						</td>
					</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title"><!-- invoice number -->
						<span class="recordviews-title-value">  
							<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/906365/type/invoice/'); ?>">
								Invoice #INV10301			</a>
						</span>
					</td> 
					<td class="recordviews-date"><!-- Date -->
						 <span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2019-9-18</span>
					</td>
					<td class="recordviews-date"><!-- due Date -->
						 <span class="recordviews-actionable-label"><span>Due Date</span></span>
						<span class="recordviews-value invoice-date-overdue">2019-9-25<i class="fa fa-flag"></i></span>    </td> 
					<td class="recordviews-currency"> 
						 <span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">$22.04</span>
					</td>
							<td class="recordviews-currency"> 
							<span class="recordviews-actionable-label">Due Amount:</span>
							<span class="recordviews-value">$22.04</span>
						</td>
					</tr>
				</tbody>
			</table>
    </div>
   </section>  
   <style>
   .invoice-paid-list-header-button-group{margin-bottom: 20px;}
   </style>
<!-- TEMPLATE ENDS: return_authorization_list --></div>
<script type="text/javascript">
                   /* require([
                        "jquery",
                        "mage/calendar"
                        ], function($){
                            deleteParams();
                        sendAjaxCall('A',true);
						
						 $('#from-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                deleteParams();
                                var todate = jQuery('#to-datepicker').val();
                                sendDateAjaxCall('B',selectedDate,todate);
                                if(jQuery('#from-datepicker').val().length >0){
                                jQuery(this).next().addClass('hide');
                                jQuery(this).next().next().removeClass('hide');
                                }
                            }
                        });
						 jQuery(document).on('click','.fa-times-circle',function(){
                            deleteParams();
                            jQuery(this).prev().prev().datepicker('setDate', null);
                            jQuery(this).prev().prev().focus();
                            jQuery(this).addClass('hide');
                            jQuery(this).prev().removeClass('hide');
                            var fromdate = jQuery('#from-datepicker').val();
                            var todate = jQuery('#to-datepicker').val();
                            sendDateAjaxCall('B',fromdate,todate,true);
                        });
						$('#to-datepicker').datepicker({dateFormat: "yy-mm-dd",
						onClose: function (selectedDate) {
							deleteParams();
							var fromdate = jQuery('#from-datepicker').val();
							sendDateAjaxCall('B',fromdate,selectedDate);
							if(jQuery('#to-datepicker').val().length >0){
							jQuery(this).next().addClass('hide');
							jQuery(this).next().next().removeClass('hide');
							}
						}});
                        jQuery(document).on('click','.invoice-header-status',function(){
                            if(!jQuery(this).hasClass('active')){
                            deleteParams();
							jQuery('.invoice-header-status').removeClass('active');
							jQuery(this).addClass('active');
							var status = getStatus();
                            sendAjaxCall(status,true);
							}
                        });
						 jQuery(document).on('change','select[name=filter]',function(){
                            deleteParams();
							var status= getStatus();
                            sendRecordTypeAjaxCall('A');
                        });
                        jQuery(document).on('click','.list-header-view-accordion-body-button-sort',function(){  
							deleteParams(); 
							var status = getStatus();
							var fromdate = jQuery('#from-datepicker').val();
							var todate = jQuery('#to-datepicker').val();
							//var dir_order = jQuery(this).attr('data-order');
							sendSortingAjaxCall(status,fromdate,todate);
                        });
                            function sendSortingAjaxCall(status,fromdate,todate){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                if(dir_order == 'desc')
                                    dir_order = 'asc';
                                else 
                                    dir_order = 'desc';
                                var recordtypes = jQuery("select[name=filter]").val();
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/invoices') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,recordtypes:recordtypes},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                        jQuery('.list-header-view-accordion-body-button-sort').find('i').removeClass('listheader-filter-sortorder-arrow-selected');
                                        if(dir_order == 'desc'){
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-down').addClass('listheader-filter-sortorder-arrow-selected');
                                        }else{
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-up').addClass('listheader-filter-sortorder-arrow-selected');
                                        }
                                    }
                                    }); // ends ajax
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
							function sendRecordTypeAjaxCall(status,onload = false){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                var filter = jQuery("select[name=filter]").val();
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/invoices') ?>',
                                    data: {status:status,dir_order:dir_order,filter:filter},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
							 function sendDateAjaxCall(status,fromdate,todate){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                var recordtypes = 'invoice';
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/invoices') ?>',
                                    data: {fromdate:fromdate,todate:todate,status:status,dir_order:dir_order,recordtypes:recordtypes},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                            function sendAjaxCall(status,onload = false){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                var recordtypes = 'invoice';
                               
                                if( onload == true){
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/invoices') ?>',
                                    data: {status:status,dir_order:dir_order,recordtypes:recordtypes},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               }
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
							function getStatus(){
									var statusName = jQuery(".invoice-header-status.active").text();
									if(statusName == "Paid in Full"){
										status = 'B';
										jQuery("select[name=filter]").hide();
										jQuery(".filter-date-section").show();
									}else{
										jQuery("select[name=filter]").show();
										jQuery(".filter-date-section").hide();
										status = 'A';
									}
									return status;
							}
                            jQuery(document).on('click','.my-account-pagination-links .pagination-link',function(){ 
                                if(!jQuery(this).hasClass('active')){
                                    var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                    var recordtypes = 'invoice';
                                    var fromdate = jQuery('#from-datepicker').val();
                                    var todate = jQuery('#to-datepicker').val();
                                    var pageNumber = jQuery(this).data('pagenumber');
                                    var limit = jQuery(this).data('limit');
                                    var offset = jQuery(this).data('offset');
									var filter = jQuery("select[name=filter]").val();
									var status = getStatus();
                                    var currentUrl = document.location.href;
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/InvoicePagination') ?>',
                                    data: {filter:filter,status:status,dir_order:dir_order,recordtypes:recordtypes,paramString:jQuery(this).data('param'),limit:jQuery(this).data('limit'),offset:jQuery(this).data('offset')},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                       
                                        if(currentUrl.indexOf('?') > -1) {
                                            var url = document.location.href;
                                            var url = history.replaceState(null, null, "?page="+pageNumber+"&limit="+limit+"&offset="+offset);
                                        }else{
                                            var url = document.location.href+"?page="+pageNumber+"&limit="+limit+"&offset="+offset;
                                        }
                                        jQuery('.return-authorization-list-container').html(response);
                                        window.history.pushState("", "", url);
                                        let urlParams = new URLSearchParams(window.location.search);
                                        if(urlParams.has('page')){
                                            var page = urlParams.get('page');
                                            jQuery('.my-account-pagination-links').find('.pagination-link.active').html(page);
                                        }
                                        $('body').trigger('processStop');
                                    }
                                   
                                    }); // ends ajax
                                }
                            });

                            function deleteParams(){ 
                                var currentUrl = document.location.href
                                let url = new URL(currentUrl);
                                let params = new URLSearchParams(url.search);
                                params.delete('page');
                                params.delete('limit');
                                params.delete('offset');     
                                if(currentUrl.indexOf('?') > -1) {
                                    var new_url = currentUrl.split('?'); 
                                window.history.pushState(null,null,new_url[0]);
                                }
                            }
                        });*/
                    </script>