<?php
//$items = $this->getCustomerReturnList();
?>

<div class="TransactionList transactionhistorylistpage"><!-- TEMPLATE STARTS: return_authorization_list-->
  <section class="return-authorization-list">
        <header class="return-authorization-list-header"><h2><?= __('Transaction History') ?></h2></header>
            <div ><!-- TEMPLATE STARTS: list_header_view-->
            <div class="list-header-view" >
                <div class="list-header-view-accordion"><div class="list-header-view-accordion-link"></div>  
               
            <div class="list-header-view-accordion-body filter">
                <div class="list-header-view-accordion-body-header ">
                    <label class="list-header-view-from" for="from"><span class="from"><?= __('From') ?></span>
                        <input class="list-header-view-accordion-body-input" id="from-datepicker" name="datepicker" type="text">
                        <i class="list-header-view-accordion-body-calendar-icon fa fa-calendar-alt"></i>
                        <i class="fas fa-times-circle from-close hide"></i>
                    </label>
                    <label class="list-header-view-to" for="to">
                        <span class="to"><?= __('to') ?></span>
                        <input class="list-header-view-accordion-body-input" id="to-datepicker" name="to" type="text" autocomplete="off">
                        <i class="list-header-view-accordion-body-calendar-icon to-calender-icon fa fa-calendar-alt"></i>
                        <i class="fas fa-times-circle to-close hide"></i>
                    </label>
                    <span class="list-header-view-sorts"><label class="list-header-view-filters">
                        <label class="list-header-view-filters">
                            <select name="sort" class="list-header-view-accordion-body-select"> 
                                <option value="trandate,internalid"><?= __('Sort By Date') ?></option> 
                            </select>
                        </label>
                        <button class="list-header-view-accordion-body-button-sort" data-order='desc'>
                            <i class="list-header-view-accordion-body-button-sort-up fa fa-arrow-up"></i>
                                <i class="list-header-view-accordion-body-button-sort-down listheader-filter-sortorder-arrow-selected fa fa-arrow-down"></i>
                        </button>
                    </span>
                    <label class="list-header-view-filters">
                        <select name="filter" class="list-header-view-accordion-body-select" data-action="filter">  
                            <option value="'salesorder','invoice','cashsale','creditmemo','customerpayment'" class="" data-permissions="" selected="">Show all record types</option>  
                            <option value="'creditmemo'" ><?= __('Show Credit Memo') ?></option> 
                            <option value="'customerpayment'"><?= __('Show Payment') ?></option>
                            <option value="'invoice'"><?= __('Show Invoices') ?></option>  
                            <option value="'cashsale'"><?= __('Show Cash Receipts') ?></option>  
                        </select>
                    </label>
                </div>
             </div>  
        </div>
        <!-- TEMPLATE ENDS: list_header_view --></div>
        <div class="return-authorization-list-container"> 
            <table class="return-authorization-list-results-list">
				<thead class="return-authorization-list-content-table">
					<tr class="return-authorization-list-content-table-header-row">
						<th class="return-authorization-list-content-table-header-row-title">
						<span>Number</span></th>
						<th class="return-authorization-list-content-table-header-row-date"><span>Date</span></th>
						<th class="return-authorization-list-content-table-header-row-currency"><span>Amount</span></th>
						<th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
					</tr>
				</thead>
				<tbody class="return-authorization-list-records-list">
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">  
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1978513/type/cashsale/'); ?>">Cash Sale #CSH40178</a></span></td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2020-7-14</span>
					</td>
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">CA$151.96</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label">Status:</span>
						<span class="recordviews-value">Paid In Full</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">  
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1627854/type/cashsale/'); ?>">Cash Sale #CSH34469</a></span></td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2020-5-14</span>
					</td>
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">CA$7.64</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label">Status:</span>
						<span class="recordviews-value">Paid In Full</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">  
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1626064/type/cashsale/'); ?>">Cash Sale #CSH34421</a></span></td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2020-5-13</span>
					</td>
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">CA$26.86</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label">Status:</span>
						<span class="recordviews-value">Paid In Full</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">  
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1564951/type/cashsale/'); ?>">Cash Sale #CSH32585</a></span></td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2020-3-25</span>
					</td>
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">CA$2.77</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label">Status:</span>
						<span class="recordviews-value">Paid In Full</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">  
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1418964/type/cashsale/'); ?>">Cash Sale #CSH30523</a></span></td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2020-2-5</span>
					</td>
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">CA$36.07</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label">Status:</span>
						<span class="recordviews-value">Paid In Full</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">  
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1418965/type/cashsale/'); ?>">Cash Sale #CSH30524</a></span></td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2020-2-5</span>
					</td>
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">CA$5.90</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label">Status:</span>
						<span class="recordviews-value">Paid In Full</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">  
					<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1232083/type/cashsale/'); ?>">Cash Sale #CSH28021</a></span></td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2020-1-10</span>
					</td>
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">CA$9.04</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label">Status:</span>
						<span class="recordviews-value">Paid In Full</span>
					</td> 
				</tr>
				</tbody>
			</table>
    </div>
   </section>  
<!-- TEMPLATE ENDS: return_authorization_list --></div>
<script type="text/javascript">
                   /* require([
                        "jquery",
                        "mage/calendar"
                        ], function($){
                            deleteParams();
                        sendAjaxCall('','',true);
                          $('#from-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                deleteParams();
                                var todate = jQuery('#to-datepicker').val();
                                sendAjaxCall(selectedDate,todate);
                                if(jQuery('#from-datepicker').val().length >0){
                                    console.log(jQuery('#from-datepicker').length);
                                jQuery(this).next().addClass('hide');
                                jQuery(this).next().next().removeClass('hide');
                                }
                            }
                        });
                        jQuery(document).on('change','select[name=filter]',function(){
                            deleteParams();
                            var fromdate = jQuery('#from-datepicker').val();
                            var todate = jQuery('#to-datepicker').val();
                            sendRecordTypeAjaxCall(fromdate,todate);
                        });
                        
                        jQuery(document).on('click','.list-header-view-accordion-body-calendar-icon',function(){
                            deleteParams();
                            jQuery(this).prev().trigger('focus');
                        });
                        jQuery(document).on('click','.fa-times-circle',function(){
                            deleteParams();
                            jQuery(this).prev().prev().datepicker('setDate', null);
                            jQuery(this).prev().prev().focus();
                            jQuery(this).addClass('hide');
                            jQuery(this).prev().removeClass('hide');
                            var fromdate = jQuery('#from-datepicker').val();
                            var todate = jQuery('#to-datepicker').val();
                            sendAjaxCall(fromdate,todate,true);
                        });
                        jQuery(document).on('click','.list-header-view-accordion-body-button-sort',function(){  
                                deleteParams(); 
                                var fromdate = jQuery('#from-datepicker').val();
                                var todate = jQuery('#to-datepicker').val();
                                //var dir_order = jQuery(this).attr('data-order');
                                sendSortingAjaxCall(fromdate,todate);
                             });
                            function sendSortingAjaxCall(fromdate,todate){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                if(dir_order == 'desc')
                                    dir_order = 'asc';
                                else 
                                    dir_order = 'desc';
                                //var recordtypes = "'salesorder'";
                                var recordtypes = jQuery("select[name=filter]").val();
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/searchdate') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,recordtypes:recordtypes},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                        jQuery('.list-header-view-accordion-body-button-sort').find('i').removeClass('listheader-filter-sortorder-arrow-selected');
                                        if(dir_order == 'desc'){
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-down').addClass('listheader-filter-sortorder-arrow-selected');
                                        }else{
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-up').addClass('listheader-filter-sortorder-arrow-selected');
                                        }
                                    }
                                    }); // ends ajax
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                          $('#to-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                deleteParams();
                                var fromdate = jQuery('#from-datepicker').val();
                                sendAjaxCall(fromdate,selectedDate);
                                if(jQuery('#to-datepicker').val().length >0){
                                jQuery(this).next().addClass('hide');
                                jQuery(this).next().next().removeClass('hide');
                                }
                            }});
                            function sendAjaxCall(fromdate,todate,onload = false){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                var recordtypes = jQuery("select[name=filter]").val();
                                if(fromdate.length > 0 || todate.length > 0 || onload == true){
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/searchdate') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,recordtypes:recordtypes},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               }
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                            function sendRecordTypeAjaxCall(fromdate,todate,onload = false){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                var recordtypes = jQuery("select[name=filter]").val();
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/searchdate') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,recordtypes:recordtypes},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                            jQuery(document).on('click','.my-account-pagination-links .pagination-link',function(){ 
                                if(!jQuery(this).hasClass('active')){
                                    var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                    var recordtypes = jQuery("select[name=filter]").val();
                                    var fromdate = jQuery('#from-datepicker').val();
                                    var todate = jQuery('#to-datepicker').val();
                                    var pageNumber = jQuery(this).data('pagenumber');
                                    var limit = jQuery(this).data('limit');
                                    var offset = jQuery(this).data('offset');
                                    var currentUrl = document.location.href;
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/pagination') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,recordtypes:recordtypes,paramString:jQuery(this).data('param'),limit:jQuery(this).data('limit'),offset:jQuery(this).data('offset')},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                       
                                        if(currentUrl.indexOf('?') > -1) {
                                            var url = document.location.href;
                                            var url = history.replaceState(null, null, "?page="+pageNumber+"&limit="+limit+"&offset="+offset);
                                        }else{
                                            var url = document.location.href+"?page="+pageNumber+"&limit="+limit+"&offset="+offset;
                                        }
                                        jQuery('.return-authorization-list-container').html(response);
                                        window.history.pushState("", "", url);
                                        let urlParams = new URLSearchParams(window.location.search);
                                        if(urlParams.has('page')){
                                            var page = urlParams.get('page');
                                            jQuery('.my-account-pagination-links').find('.pagination-link.active').html(page);
                                        }
                                        $('body').trigger('processStop');
                                    }
                                   
                                    }); // ends ajax
                                }
                            });

                            function deleteParams(){ 
                                var currentUrl = document.location.href
                                let url = new URL(currentUrl);
                                let params = new URLSearchParams(url.search);
                                params.delete('page');
                                params.delete('limit');
                                params.delete('offset');     
                                if(currentUrl.indexOf('?') > -1) {
                                    var new_url = currentUrl.split('?'); 
                                window.history.pushState(null,null,new_url[0]);
                                }
                            }
                        });*/
                    </script>