<div class="radio-check download">
    <div class="pdf csv download">
                <form>
                    <label for="pdf" class="container custom-radio af">PDF
                    <input type="radio" id="pdf" name="pdf-csv" value="pdf">
                    <span class="checkmark"></span>
                    </label>
                    <label for="csv" class="container custom-radio">CSV
                    <input type="radio" id="csv"  name="pdf-csv" value="csv">
                    <span class="checkmark"></span>
                    </label>
                    <button id="down"><img class="authorize-img" src='<?php echo $this->getViewFileUrl('images/download.svg'); ?>' alt="Demo">Download</button>
                </form>
    </div>
    <div class="cart-select-button">
        <a class="add-cart-button" href="#">Add selected items to cart button</a>
    </div>
</div>  
<div class="outer-table-block">
<table class="reorder-authorization-list-results">
					<thead class="reorder-authorization-content-table">
						<tr class="reorder-authorization-content-table-header-row">
							<th class="reorder-authorization-list-content-table-header-row-title">
							<span></span></th>
							<th class="reorder-authorization-list-content-table-header-row-product-name"><span>Product Name</span></th>
							<th class="reorder-authorization-list-content-table-header-row-nul"><span></span></th>
							<th class="reorder-authorization-list-content-table-header-row-price-unit"><span>Unit Price</span></th>
							<th class="reorder-authorization-list-content-table-header-row-qty"><span>QTY</span></th>
                            <th class="reorder-authorization-list-content-table-header-row-status"><span>Status</span></th>
                            <th class="reorder-authorization-list-content-table-header-row-empty"><span></span></th>
						</tr>
					</thead>
					<tbody class="return-authorization-list-records product-items">
										<tr class="recordviews-row bottom-line">
                                <td class="recordviews-images-mobile">
									<!-- <span class="recordviews-actionable-label">SKU</span> -->
                                    <div class="mobile-img">
                                    <img src='<?php echo $this->getViewFileUrl('images/Rectangle89.png'); ?>' alt="Demo">
                                    </div>
								</td>
								<td class="recordviews-product-name">
								<!-- <span class="recordviews-actionable-label">QTY</span> -->
								<span class="info-product">Lightning to USB Cable Apple iPhone X Series (1m) (Bulk)</span>
                                <p>SKU:<span> GH82-22131D</span></p>
                                <div class="reorder-colour">
                                <p class="color-title">Color:</p>
								<div class="swatch-attribute color">
									
										<div class="swatch-option color" style="background: #3A4E98 no-repeat center; background-size: initial;"></div>
									 
									 </div>
									 <span class="colour-name">Cloud Blue</span>
									</div>
								</td> 
								<td class="recordviews-nul">
									<!-- <span class="recordviews-actionable-label">Price</span> -->
									<div>
									<a href="#" class="recordviews-value">Edit</a></div>
								</td> 
								<td class="recordviews-price-unit"> 
									<!-- <span class="recordviews-actionable-label">Description</span> -->
									<div>
									<span class="recordviews-value">CA$3,978.95</span></td></div>
                                <td class="recordviews-qty"> 
								<div class="name-sku-inner-qty">     
                    <a class="alo_qty alo_qty_dec ajax-cart-qty-minus minicart_qty_minus" href="javascript:void(0)">-</a>
                    <input type="number" class="item-qty" value="1" />
                    <a class="alo_qty alo_qty_inc ajax-cart-qty-plus minicart_qty_plus" href="javascript:void(0)">+</a>
                    </div>
                                </td>
                                <td class="recordviews-price-unit">
									<!-- <span class="recordviews-actionable-label">Availability</span> -->
									<div>
									<span class="recordviews-value">CA$3,978.95</span></div>
								</td> 
								<td class="recordviews-delete"> 
									<a href="#" class="img-del">
                                    <img src='<?php echo $this->getViewFileUrl('images/save-cart-trash.svg'); ?>' alt="Demo">
</a>
									<!-- <span class="recordviews-actionable-label del">Delete</span> -->
                                </td>
							</tr>
                            <tr class="recordviews-row bottom-line">
                                <td class="recordviews-images-mobile">
									<!-- <span class="recordviews-actionable-label">SKU</span> -->
                                    <div class="mobile-img">
                                    <img src='<?php echo $this->getViewFileUrl('images/Rectangle162.png'); ?>' alt="Demo">
                                    </div>
								</td>
								<td class="recordviews-product-name">
								<!-- <span class="recordviews-actionable-label">QTY</span> -->
								<span class="info-product">USB-C Power Adapter (18W) (Bulk)</span>
                                <p>SKU:<span> GH81-22124A</span></p>
                                <div class="reorder-colour">
<p class="color-title">Color:</p>                   
    <div class="swatch-attribute color">
	<div class="swatch-option color" style="background: #1E1E1E no-repeat center; background-size: initial;"></div>
 </div>
  <span class="colour-name">Black</span>
</div>
								</td> 
								<td class="recordviews-nul">
									<!-- <span class="recordviews-actionable-label">Price</span> -->
									<div>
									<a href="#" class="recordviews-value">Edit</a></div>
								</td> 
								<td class="recordviews-price-unit"> 
									<!-- <span class="recordviews-actionable-label">Description</span> -->
									<div>
									<span class="recordviews-value">CA$3,978.95</span></td></div>
                                <td class="recordviews-qty"> 
								<div class="name-sku-inner-qty">     
                    <a class="alo_qty alo_qty_dec ajax-cart-qty-minus minicart_qty_minus" href="javascript:void(0)">-</a>
                    <input type="number" class="item-qty" value="1" />
                    <a class="alo_qty alo_qty_inc ajax-cart-qty-plus minicart_qty_plus" href="javascript:void(0)">+</a>
                    </div>
                                </td>
                                <td class="recordviews-price-unit">
									<!-- <span class="recordviews-actionable-label">Availability</span> -->
									<div>
									<span class="recordviews-value">CA$3,978.95</span></div>
								</td> 
								<td class="recordviews-delete"> 
									<a href="#" class="img-del">
                                    <img src='<?php echo $this->getViewFileUrl('images/save-cart-trash.svg'); ?>' alt="Demo">
</a>
									<!-- <span class="recordviews-actionable-label del">Delete</span> -->
                                </td>
							</tr>
                            <tr class="recordviews-row bottom-line">
                                <td class="recordviews-images-mobile">
									<!-- <span class="recordviews-actionable-label">SKU</span> -->
                                    <div class="mobile-img">
                                    <img src='<?php echo $this->getViewFileUrl('images/Rectangle89.png'); ?>' alt="Demo">
                                    </div>
								</td>
								<td class="recordviews-product-name">
								<!-- <span class="recordviews-actionable-label">QTY</span> -->
								<span class="info-product">Lightning to USB Cable Apple iPhone X Series (1m) (Bulk)</span>
                                <p>SKU:<span> GH82-22131D</span></p>
                <div class="reorder-colour">
                                <p class="color-title">Color:</p>
                                <div class="swatch-attribute color">
									
										<div class="swatch-option color" style="background: #3A4E98 no-repeat center; background-size: initial;"></div>
									 
									 </div>
									 <span class="colour-name">Cloud Blue</span>
</div>
								</td> 
								<td class="recordviews-nul">
									<!-- <span class="recordviews-actionable-label">Price</span> -->
									<div>
									<a href="#" class="recordviews-value">Edit</a></div>
								</td> 
								<td class="recordviews-price-unit"> 
									<!-- <span class="recordviews-actionable-label">Description</span> -->
									<div>
									<span class="recordviews-value">CA$3,978.95</span></td></div>
                                <td class="recordviews-qty"> 
								<div class="name-sku-inner-qty">     
                    <a class="alo_qty alo_qty_dec ajax-cart-qty-minus minicart_qty_minus" href="javascript:void(0)">-</a>
                    <input type="number" class="item-qty" value="1" />
                    <a class="alo_qty alo_qty_inc ajax-cart-qty-plus minicart_qty_plus" href="javascript:void(0)">+</a>
                    </div>
                                </td>
                                <td class="recordviews-price-unit">
									<!-- <span class="recordviews-actionable-label">Availability</span> -->
									<div>
									<span class="recordviews-value">CA$3,978.95</span></div>
								</td> 
								<td class="recordviews-delete"> 
									<a href="#" class="img-del">
                                    <img src='<?php echo $this->getViewFileUrl('images/save-cart-trash.svg'); ?>' alt="Demo">
</a>
									<!-- <span class="recordviews-actionable-label del">Delete</span> -->
                                </td>
							</tr>
                            <tr class="recordviews-row bottom-line">
                                <td class="recordviews-images-mobile">
									<!-- <span class="recordviews-actionable-label">SKU</span> -->
                                    <div class="mobile-img">
                                    <img src='<?php echo $this->getViewFileUrl('images/Rectangle162.png'); ?>' alt="Demo">
                                    </div>
								</td>
								<td class="recordviews-product-name">
								<!-- <span class="recordviews-actionable-label">QTY</span> -->
								<span class="info-product">USB-C Power Adapter (18W) (Bulk)</span>
                                <p>SKU:<span> GH81-22124A</span></p>
                                <div class="reorder-colour">
                                <p class="color-title">Color:</p>
                                <div class="swatch-attribute color">
									
										<div class="swatch-option color" style="background: #1E1E1E no-repeat center; background-size: initial;"></div>
									
									 </div>
									  <span class="colour-name">Black</span>
									</div>
								</td> 
								<td class="recordviews-nul">
									<!-- <span class="recordviews-actionable-label">Price</span> -->
									<div>
									<a href="#" class="recordviews-value">Edit</a></div>
								</td> 
								<td class="recordviews-price-unit"> 
									<!-- <span class="recordviews-actionable-label">Description</span> -->
									<div>
									<span class="recordviews-value">CA$3,978.95</span></td></div>
                                <td class="recordviews-qty"> 
								<div class="name-sku-inner-qty">     
                    <a class="alo_qty alo_qty_dec ajax-cart-qty-minus minicart_qty_minus" href="javascript:void(0)">-</a>
                    <input type="number" class="item-qty" value="1" />
                    <a class="alo_qty alo_qty_inc ajax-cart-qty-plus minicart_qty_plus" href="javascript:void(0)">+</a>
                    </div>
                                </td>
                                <td class="recordviews-price-unit">
									<!-- <span class="recordviews-actionable-label">Availability</span> -->
									<div>
									<span class="recordviews-value">CA$3,978.95</span></div>
								</td> 
								<td class="recordviews-delete"> 
									<a href="#" class="img-del">
                                    <img src='<?php echo $this->getViewFileUrl('images/save-cart-trash.svg'); ?>' alt="Demo">
</a>
									<!-- <span class="recordviews-actionable-label del">Delete</span> -->
                                </td>
							</tr>

						</tbody>
		</table>
</div>
            <div class="items-end">
                <span class="items">
                    6 Item(s)
                </span>
                <div class="cart-select-button">
        <a class="add-cart-button" href="#">Add selected items to cart button</a>
    </div>
            </div>