<?php
//$items = $this->getCustomerReturnList();
?>
<div class="TransactionList myaccount-overview"><!-- TEMPLATE STARTS: return_authorization_list-->
  <section class="recent-order-authorization-list">
  <div class="overview-home-orders-title" style="border-bottom:none"><span><?= __('Recent Purchases') ?></span><a href="<?= $this->getUrl('transaction/index/purchasehistory') ?>" class="overview-home-orders-title-link"><?= __('View Purchase History') ?></a></div>
        <div class="return-authorization-list-container" style="margin-top:0"> 
            <div class="return-authorization-list-container" style="margin-top:0"> 
				<table class="return-authorization-list-results-list">
				<thead class="return-authorization-list-content-table">
					<tr class="return-authorization-list-content-table-header-row">
						<th class="return-authorization-list-content-table-header-row-title">
						<span>Number</span></th>
						<th class="return-authorization-list-content-table-header-row-date"><span>Date</span></th>
						<th class="return-authorization-list-content-table-header-row-currency"><span>Amount</span></th>
						<th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
					</tr>
				</thead>
				<tbody class="return-authorization-list-records-list">
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value"> 
								<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/906041/type/salesorder/'); ?>">Sales Order #SO12273</a>
								</span>
					</td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2019-9-18</span>
					</td>
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">CA$17.27</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label">Status:</span>
						<span class="recordviews-value">Billed</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value">
								<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/906361/type/salesorder/'); ?>">Sales Order #SO12279</a>
								</span>
					</td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2019-9-18</span>
					</td>
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">CA$22.04</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label">Status:</span>
						<span class="recordviews-value">Billed</span>
					</td> 
				</tr>
				<tr class="recordviews-row">
					<td class="recordviews-title">
						<span class="recordviews-title-value"> 
								<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/687081/type/salesorder/'); ?>">Sales Order #SO9760</a>
								</span>
					</td> 
					<td class="recordviews-date">
						<span class="recordviews-actionable-label">Date:</span>
						<span class="recordviews-value">2019-6-7</span>
					</td>
					<td class="recordviews-currency"> 
						<span class="recordviews-actionable-label">Amount:</span>
						<span class="recordviews-value">CA$1.07</span>
					</td>
					<td class="recordviews-status">
						<span class="recordviews-actionable-label">Status:</span>
						<span class="recordviews-value">Closed</span>
					</td> 
				</tr>
				</tbody>
				</table>
			</div><!-- ends return-authorization-list-container -->
        </div>
   </section>  
   <section class="recent-authorization-list">
   <div class="overview-home-invoice-title"><span><?= __('Recent Transactions') ?></span><a href="<?= $this->getUrl('transaction/index/listtransaction') ?>" class="overview-home-orders-title-link"><?= __('View Transaction History')?></a></div>
        <div class="transaction-list-container"> 
            <table class="return-authorization-list-results-list">
				<thead class="return-authorization-list-content-table">
					<tr class="return-authorization-list-content-table-header-row">
						<th class="return-authorization-list-content-table-header-row-title">
						<span>Number</span></th>
						<th class="return-authorization-list-content-table-header-row-date"><span>Date</span></th>
						<th class="return-authorization-list-content-table-header-row-currency"><span>Amount</span></th>
						<th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
					</tr>
				</thead>
				<tbody class="return-authorization-list-records-list">
					<tr class="recordviews-row">
						<td class="recordviews-title">
							<span class="recordviews-title-value"> 
									<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1978513/type/cashsale/'); ?>">Cash Sale #CSH40178</a>
									</span>
						</td> 
						<td class="recordviews-date">
							<span class="recordviews-actionable-label">Date:</span>
							<span class="recordviews-value">2020-7-14</span>
						</td>
						<td class="recordviews-currency"> 
							<span class="recordviews-actionable-label">Amount:</span>
							<span class="recordviews-value">CA$151.96</span>
						</td>
						<td class="recordviews-status">
							<span class="recordviews-actionable-label">Status:</span>
							<span class="recordviews-value">Paid In Full</span>
						</td> 
					</tr>
					<tr class="recordviews-row">
						<td class="recordviews-title">
							<span class="recordviews-title-value"> 
									<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1627854/type/cashsale/'); ?>">Cash Sale #CSH34469</a>
									</span>
						</td> 
						<td class="recordviews-date">
							<span class="recordviews-actionable-label">Date:</span>
							<span class="recordviews-value">2020-5-14</span>
						</td>
						<td class="recordviews-currency"> 
							<span class="recordviews-actionable-label">Amount:</span>
							<span class="recordviews-value">CA$7.64</span>
						</td>
						<td class="recordviews-status">
							<span class="recordviews-actionable-label">Status:</span>
							<span class="recordviews-value">Paid In Full</span>
						</td> 
					</tr>
					<tr class="recordviews-row">
						<td class="recordviews-title">
							<span class="recordviews-title-value"> 
									<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1626064/type/cashsale/'); ?>">Cash Sale #CSH34421</a>
									</span>
						</td> 
						<td class="recordviews-date">
							<span class="recordviews-actionable-label">Date:</span>
							<span class="recordviews-value">2020-5-13</span>
						</td>
						<td class="recordviews-currency"> 
							<span class="recordviews-actionable-label">Amount:</span>
							<span class="recordviews-value">CA$26.86</span>
						</td>
						<td class="recordviews-status">
							<span class="recordviews-actionable-label">Status:</span>
							<span class="recordviews-value">Paid In Full</span>
						</td> 
					</tr>
				</tbody>
			</table>
        </div>
   </section>  
<!-- TEMPLATE ENDS: return_authorization_list --></div>
<script type="text/javascript">
                   /* require([
                        "jquery",
                        "mage/calendar"
                        ], function($){
                        sendAjaxCall('','',true);
                       
                        function sendAjaxCall(fromdate,todate,onload = false){
                                var recordtypes = "'salesorder'";
                                if(fromdate.length > 0 || todate.length > 0 || onload == true){
                                    var limit = 3;
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/overviewfilter') ?>',
                                    data: {fromdate:fromdate,todate:todate,recordtypes:recordtypes,limit:limit},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        sendTransAjaxCall('','',true);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               }
                              
                            }
                            function sendTransAjaxCall(fromdate,todate,onload = false){
                                var recordtypes = "'salesorder','invoice','cashsale','creditmemo','customerpayment','returnauthorization'";
                                if(fromdate.length > 0 || todate.length > 0 || onload == true){
                                    var limit = 10;
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/overviewfilter') ?>',
                                    data: {fromdate:fromdate,todate:todate,recordtypes:recordtypes,limit:limit},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.transaction-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               }
                              
                            }
                            
                        });*/
                    </script>