<section class="invoice-details transaction-history"><div class="content invoice-details-view"><header> <h2 class="invoice-details-invoice-title">Payment# <span class="invoice-details-invoice-number">PMT8274</span> <span class="transaction-details-amount"><span class="amount">$277.75</span></span></h2></header><div class="invoice-details-header-information"><div class="payment-details-header-row"><span class="transaction-details-header-col-left"><span class="header-date-info"><span class="myaccount-transaction-status-label">Date:</span> <span class="transaction-details-header-date-value">2021-12-02</span></span></span> <span class="transaction-details-header-col-right"><span class="header-status-info"><span class="myaccount-transaction-status-label">Status:</span> <span class="myaccount-transaction-status-value">Deposited</span></span></span> <span class="header-status-info"><a href="https://demo.nexuscellular.com/transaction/index/customerpaymentpdf/id/3249331/" class="customer-payment-details-information-col-button">Download as PDF</a></span></div></div><div class="payment-details-row" name="invoice-content-layout"><div class="payment-details-content-col"><div><div class="invoice-details-accordion-head open"><div class="customer-payment-details-accordion-head-toggle"> Invoices<span class="payment-details-accordion-toggle-icon"></span></div></div><!-- ENDS invoice-details-accordion-head --><div class="order-history-packages-accordion-body invoice-details-accordion-body" id="invoice-details-products" role="tabpanel"><div class="order-history-packages-accordion-container"><table class="invoice-details-products-table lg2sm-first"><thead class="customer-payment-details-accordion-body-container-recordviews-table"><tr><th style="text-align:left">Number</th><th style="text-align:right">Date</th><th class="invoice-details-table-products-header-unit-price" style="padding:11px 6px">Disc</th><th style="text-align:right">Amount</th></tr></thead><tbody>   </tbody><tfoot><tr><td colspan="4" class="customer-payment-details-accordion-body-container-payment-total"><span> <span class="customer-payment-details-payment-total-label">Payment Total:</span> <span class="customer-payment-details-payment-total-value">$277.75</span></span></td></tr></tfoot></table></div></div></div><!-- ENDS section 1 --><div class="invoice-details-accordion-divider open"><a class="customer-payment-details-accordion-head-toggle"><span class="billing-toggle-heading">Billing</span> <span class="payment-details-accordion-toggle-icon"></span></a></div><div class="invoice-inner-details-row"><div class="invoice-details-info-card-grid"><div class="invoice-details-info-card"><div class="invoice-details-info-card-terms-container"><span>Till P1 Debit</span></div></div><!-- Ends invoice-details-info-card --></div><!-- Ends invoice-details-info-card-grid --></div><!-- Ends invoice-inner-details-row --></div></div></div></section>
    <script type="text/javascript">
                    require([
                        "jquery"
                        ], function($){
                        jQuery(".order-history-packages-header-container-title").click(function(e){
                            jQuery(this).toggleClass('open');
                        });
                        jQuery(".invoice-details-accordion-head").click(function(e){
                            var senderElement = e.target;
                            if($(senderElement).attr('class') != 'order-history-packages-address-data-link' && $(senderElement).attr('class') != 'order-history-packages-icon-angle-down'
                            && $(senderElement).attr('class') != 'order-history-packages-accordion-head-toggle-status' 
                            && $(senderElement).attr('class') != 'order-history-list-tracking-number-control-button'){
                            jQuery(this).next().slideToggle();
                            jQuery(this).toggleClass('open');
                            }
                        });
                        jQuery(".order-history-list-tracking-number-control-button").click(function(e){ 
                            jQuery(this).next().toggleClass('show');
                        });
                        
                        jQuery(".invoice-details-accordion-divider").click(function(e){
                            jQuery(this).next().slideToggle();
                            jQuery(this).toggleClass('open');
                        });
                    });
    </script>
	