<?php
//$items = $this->getCustomerReturnList();
?>

<div class="TransactionList purchasehistory"><!-- TEMPLATE STARTS: return_authorization_list-->
  <section class="return-authorization-list">
        <header class="return-authorization-list-header"><h2>Purchase History</h2></header>
            <div ><!-- TEMPLATE STARTS: list_header_view-->
            <div class="list-header-view" >
                <div class="list-header-view-accordion"><div class="list-header-view-accordion-link"></div>  
               
            <div class="list-header-view-accordion-body">
                <div class="list-header-view-accordion-body-header filter">
                    <label class="list-header-view-from" for="from"><span class="from">From</span>
                        <input class="list-header-view-accordion-body-input" id="from-datepicker" name="datepicker" type="text">
                        <i class="list-header-view-accordion-body-calendar-icon fa fa-calendar-alt"></i>
                        <i class="fas fa-times-circle from-close hide"></i>
                    </label>
                    <label class="list-header-view-to" for="to">
                        <span class="to">to</span>
                        <input class="list-header-view-accordion-body-input" id="to-datepicker" name="to" type="text" autocomplete="off">
                        <i class="list-header-view-accordion-body-calendar-icon to-calender-icon fa fa-calendar-alt"></i>
                        <i class="fas fa-times-circle to-close hide"></i>
                    </label>
                    <span class="list-header-view-sorts"><label class="list-header-view-filters">
                        <label class="list-header-view-filters">
                            <select name="sort" class="list-header-view-accordion-body-select"> 
                                <option value="trandate,internalid">Sort By Date</option> 
                            </select>
                        </label>
                        <button class="list-header-view-accordion-body-button-sort" data-order='desc'>
                            <i class="list-header-view-accordion-body-button-sort-up fa fa-arrow-up"></i>
                                <i class="list-header-view-accordion-body-button-sort-down listheader-filter-sortorder-arrow-selected fa fa-arrow-down"></i>
                        </button>
                    </span>
                   
                </div>
             </div>  
        </div>
        <!-- TEMPLATE ENDS: list_header_view --></div>
        <div class="return-authorization-list-container"> 
          <table class="return-authorization-list-results-list"><thead class="return-authorization-list-content-table"><tr class="return-authorization-list-content-table-header-row"><th class="return-authorization-list-content-table-header-row-title"><span>Number</span></th><th class="return-authorization-list-content-table-header-row-date"><span>Date</span></th><th class="return-authorization-list-content-table-header-row-currency"><span>Amount</span></th><th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th></tr></thead><tbody class="return-authorization-list-records-list"> <tr class="recordviews-row"><td class="recordviews-title"><span class="recordviews-title-value"><a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('transaction/index/view/id/1474722/type/salesorder/'); ?>">Sales Order #SO15691</a></span></td><td class="recordviews-date"><span class="recordviews-actionable-label">Date:</span> <span class="recordviews-value">2020-2-20</span></td><td class="recordviews-currency"><span class="recordviews-actionable-label">Amount:</span> <span class="recordviews-value">CA$560.00</span></td><td class="recordviews-status"><span class="recordviews-actionable-label">Status:</span> <span class="recordviews-value">Closed</span></td></tr></tbody></table>
    </div>
   </section>  
<!-- TEMPLATE ENDS: return_authorization_list --></div>
<script type="text/javascript">
                   /* require([
                        "jquery",
                        "mage/calendar"
                        ], function($){
                        deleteParams();
                        sendAjaxCall('','',true);
                          $('#from-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                deleteParams();
                                var todate = jQuery('#to-datepicker').val();
                                sendAjaxCall(selectedDate,todate);
                                if(jQuery('#from-datepicker').val().length >0){
                                jQuery(this).next().addClass('hide');
                                jQuery(this).next().next().removeClass('hide');
                                }
                            }
                        }); 
                        jQuery(document).on('click','.list-header-view-accordion-body-calendar-icon',function(){
                            jQuery(this).prev().trigger('focus');
                        });
                        jQuery(document).on('click','.fa-times-circle',function(){
                            deleteParams();
                            jQuery(this).prev().prev().datepicker('setDate', null);
                            jQuery(this).addClass('hide');
                            jQuery(this).prev().removeClass('hide');
                            jQuery("#ui-datepicker-div").hide();
                            var todate = jQuery('#to-datepicker').val();
                            var fromdate = jQuery('#from-datepicker').val();
                            sendAjaxCall(fromdate,todate,true);
                        });
                          $('#to-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                deleteParams();
                                var fromdate = jQuery('#from-datepicker').val();
                                sendAjaxCall(fromdate,selectedDate);
                                if(jQuery('#to-datepicker').val().length >0){
                                jQuery(this).next().addClass('hide');
                                jQuery(this).next().next().removeClass('hide');
                                }
                            }});
                            function sendAjaxCall(fromdate,todate,onload = false){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                var recordtypes = "'salesorder'";
                                var limit = "<?php echo (isset($_GET['limit'])) ? $_GET['limit'] : '' ?>";
                                var offset = "<?php echo (isset($_GET['offset'])) ? $_GET['offset'] : '' ?>";
                                if(onload == false){
                                if(dir_order == 'desc')
                                    dir_order = 'asc';
                                else 
                                    dir_order = 'desc';
                                }
                                if(fromdate.length > 0 || todate.length > 0 || onload == true){
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/searchdate') ?>',
                                    data: {limit:limit,offset:offset,fromdate:fromdate,todate:todate,dir_order:dir_order,recordtypes:recordtypes},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        let urlParams = new URLSearchParams(window.location.search);
                                        if(urlParams.has('page')){
                                            var page = urlParams.get('page');
                                            jQuery('.my-account-pagination-links').find('.pagination-link.active').html(page);
                                        }
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               }
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                            jQuery(document).on('click','.list-header-view-accordion-body-button-sort',function(){   
                                var fromdate = jQuery('#from-datepicker').val();
                                var todate = jQuery('#to-datepicker').val();
                                //var dir_order = jQuery(this).attr('data-order');
                                sendSortingAjaxCall(fromdate,todate);
                             });
                            function sendSortingAjaxCall(fromdate,todate){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                if(dir_order == 'desc')
                                    dir_order = 'asc';
                                else 
                                    dir_order = 'desc';
                                var recordtypes = "'salesorder'";
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/searchdate') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,recordtypes:recordtypes},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                        jQuery('.list-header-view-accordion-body-button-sort').find('i').removeClass('listheader-filter-sortorder-arrow-selected');
                                        if(dir_order == 'desc'){
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-down').addClass('listheader-filter-sortorder-arrow-selected');
                                        }else{
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-up').addClass('listheader-filter-sortorder-arrow-selected');
                                        }
                                    }
                                    }); // ends ajax
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                            jQuery(document).on('click','.my-account-pagination-links .pagination-link',function(){ 
                                if(!jQuery(this).hasClass('active')){
                                    var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                     var recordtypes = "'salesorder'";
                                    var fromdate = jQuery('#from-datepicker').val();
                                    var todate = jQuery('#to-datepicker').val();
                                    var pageNumber = jQuery(this).data('pagenumber');
                                    var limit = jQuery(this).data('limit');
                                    var offset = jQuery(this).data('offset');
                                    var currentUrl = document.location.href;
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/pagination') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,recordtypes:recordtypes,paramString:jQuery(this).data('param'),limit:jQuery(this).data('limit'),offset:jQuery(this).data('offset')},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                       
                                        if(currentUrl.indexOf('?') > -1) {
                                            var url = document.location.href;
                                            var url = history.replaceState(null, null, "?page="+pageNumber+"&limit="+limit+"&offset="+offset);
                                        }else{
                                            var url = document.location.href+"?page="+pageNumber+"&limit="+limit+"&offset="+offset;
                                        }
                                        jQuery('.return-authorization-list-container').html(response);
                                        window.history.pushState("", "", url);
                                        let urlParams = new URLSearchParams(window.location.search);
                                        if(urlParams.has('page')){
                                            var page = urlParams.get('page');
                                            jQuery('.my-account-pagination-links').find('.pagination-link.active').html(page);
                                        }
                                        $('body').trigger('processStop');
                                    }
                                   
                                    }); // ends ajax
                                }
                        });

                            function deleteParams(){ 
                                var currentUrl = document.location.href
                                let url = new URL(currentUrl);
                                let params = new URLSearchParams(url.search);
                                params.delete('page');
                                params.delete('limit');
                                params.delete('offset');     
                                if(currentUrl.indexOf('?') > -1) {
                                    var new_url = currentUrl.split('?'); 
                                window.history.pushState(null,null,new_url[0]);
                                }
                            }
                        });*/
                        
                    </script>