<?php
//$items = $this->getCustomerReturnList();
?>

<div class="TransactionList"><!-- TEMPLATE STARTS: return_authorization_list-->
  <section class="return-authorization-list">
        <header class="return-authorization-list-header"><h2>Purchase History</h2></header>
            <div ><!-- TEMPLATE STARTS: list_header_view-->
            <div class="list-header-view" >
                <div class="list-header-view-accordion"><div class="list-header-view-accordion-link"></div>  
               
            <div class="list-header-view-accordion-body " >
                <div class="list-header-view-accordion-body-header ">
                    <label class="list-header-view-from" for="from"><span>From</span>
                        <input class="list-header-view-accordion-body-input" id="from-datepicker" name="datepicker" type="text">
                        <i class="list-header-view-accordion-body-calendar-icon fa fa-calendar-alt"></i>
                        <i class="fas fa-times-circle from-close hide"></i>
                    </label>
                    <label class="list-header-view-to" for="to">
                        <span>to</span>
                        <input class="list-header-view-accordion-body-input" id="to-datepicker" name="to" type="text" autocomplete="off">
                        <i class="list-header-view-accordion-body-calendar-icon to-calender-icon fa fa-calendar-alt"></i>
                        <i class="fas fa-times-circle to-close hide"></i>
                    </label>
                    <span class="list-header-view-sorts"><label class="list-header-view-filters">
                        <label class="list-header-view-filters">
                            <select name="sort" class="list-header-view-accordion-body-select"> 
                                <option value="trandate,internalid">Sort By Date</option> 
                            </select>
                        </label>
                        <button class="list-header-view-accordion-body-button-sort" data-order='desc'>
                            <i class="list-header-view-accordion-body-button-sort-up fa fa-arrow-up"></i>
                                <i class="list-header-view-accordion-body-button-sort-down listheader-filter-sortorder-arrow-selected fa fa-arrow-down"></i>
                        </button>
                    </span>
                   
                </div>
             </div>  
        </div>
        <!-- TEMPLATE ENDS: list_header_view --></div>
        <div class="return-authorization-list-container"> 
            <Loading class="">Loading...</Loading>
        </div>
   </section>  
<!-- TEMPLATE ENDS: return_authorization_list --></div>
<script type="text/javascript">
                    require([
                        "jquery",
                        "mage/calendar"
                        ], function($){
                        sendAjaxCall('','',true);
                          $('#from-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                var todate = jQuery('#to-datepicker').val();
                                sendAjaxCall(selectedDate,todate);
                                if(jQuery('#from-datepicker').val().length >0){
                                    console.log(jQuery('#from-datepicker').length);
                                jQuery(this).next().addClass('hide');
                                jQuery(this).next().next().removeClass('hide');
                                }
                            }
                        }); 
                        jQuery(document).on('click','.list-header-view-accordion-body-calendar-icon',function(){
                            jQuery(this).prev().trigger('focus');
                        });
                        jQuery(document).on('click','.fa-times-circle',function(){
                            jQuery(this).prev().prev().datepicker('setDate', null);
                            jQuery(this).addClass('hide');
                            jQuery(this).prev().removeClass('hide');
                            jQuery("#ui-datepicker-div").hide();
                            var todate = jQuery('#to-datepicker').val();
                            var fromdate = jQuery('#from-datepicker').val();
                            sendAjaxCall(fromdate,todate,true);
                        });
                          $('#to-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                var fromdate = jQuery('#from-datepicker').val();
                                sendAjaxCall(fromdate,selectedDate);
                                if(jQuery('#to-datepicker').val().length >0){
                                jQuery(this).next().addClass('hide');
                                jQuery(this).next().next().removeClass('hide');
                                }
                            }});
                            function sendAjaxCall(fromdate,todate,onload = false){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                var recordtypes = "'salesorder'";
                                var sort_dir_order = 'desc';
                                if(onload == false){
                                if(dir_order == 'desc')
                                    sort_dir_order = 'asc';
                                }
                                if(fromdate.length > 0 || todate.length > 0 || onload == true){
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/searchdate') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,recordtypes:recordtypes},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               }
                            }
                            jQuery(document).on('click','.list-header-view-accordion-body-button-sort',function(){   
                                var fromdate = jQuery('#from-datepicker').val();
                                var todate = jQuery('#to-datepicker').val();
                                //var dir_order = jQuery(this).attr('data-order');
                                sendSortingAjaxCall(fromdate,todate);
                             });
                            function sendSortingAjaxCall(fromdate,todate){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                if(dir_order == 'desc')
                                    dir_order = 'asc';
                                else 
                                    dir_order = 'desc';
                                var recordtypes = "'salesorder'";
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('transaction/index/searchdate') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,recordtypes:recordtypes},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                        jQuery('.list-header-view-accordion-body-button-sort').find('i').removeClass('listheader-filter-sortorder-arrow-selected');
                                        if(dir_order == 'desc'){
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-down').addClass('listheader-filter-sortorder-arrow-selected');
                                        }else{
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-up').addClass('listheader-filter-sortorder-arrow-selected');
                                        }
                                    }
                                    }); // ends ajax
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                        });
                    </script>