<div class="quick-order-section">
    <div class="quick-order-block">
        <div class="quick-order-head-title-block">
            <h2 class="name-sku-head">
            Name / Sku
            </h2>
            <p class="name-sku-para">
            If you know the sku codes of the products you would like to order, you can use our helpful Express Order function. Simply enter the quantity required, product sku(s) and then click Add to Cart.
            </p>
        </div>
        <table class="return-authorization-list-results">
					<thead class="return-authorization-content-table">
						<tr class="return-authorization-content-table-header-row">
							<th class="return-authorization-list-content-table-header-row-title">
							<span>SKU</span></th>
							<th class="return-authorization-list-content-table-header-row-date"><span>QTY</span></th>
							<th class="return-authorization-list-content-table-header-row-items"><span>Price</span></th>
							<th class="return-authorization-list-content-table-header-row-currency"><span>Description</span></th>
							<th class="return-authorization-list-content-table-header-row-status"><span>Availability</span></th>
                            <th class="return-authorization-list-content-table-header-row-amount-credited"><span>Total</span></th>
                            <th class="return-authorization-list-content-table-header-row-empty"><span>Delete</span></th>
						</tr>
					</thead>
					<tbody class="return-authorization-list-records">
										<tr class="recordviews-row bottom-line">
                                <td class="recordviews-sku">
									<span class="recordviews-actionable-label">SKU</span>
                                    <div class="control">
                                        <input type="text" id="lastname" value="GH82 - 22131D" class="input-text required-entry" data-validate="{required:true}">
                                    </div>
								</td>
								<td class="recordviews-title">
								<span class="recordviews-actionable-label">QTY</span>
								<div class="name-sku-inner-qty">     
                    <a class="alo_qty alo_qty_dec ajax-cart-qty-minus minicart_qty_minus" href="javascript:void(0)">-</a>
                    <input type="number" class="item-qty" value="1" />
                    <a class="alo_qty alo_qty_inc ajax-cart-qty-plus minicart_qty_plus" href="javascript:void(0)">+</a>
                    </div>
								</td> 
								<td class="recordviews-price">
									<span class="recordviews-actionable-label">Price</span>
									<div>
									<span class="recordviews-value">$147.48</span></div>
								</td> 
								<td class="recordviews-description"> 
									<span class="recordviews-actionable-label">Description</span>
									<div>
									<span class="recordviews-value">Purchase product limit</span></td></div>
								<td class="recordviews-stock">
									<span class="recordviews-actionable-label">Availability</span>
									<div>
									<span class="recordviews-value1">In Stock</span></div>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Total</span>
									<div>
									<span class="recordviews-valuee">$147.48</span></div>
                                </td>
								<td class="recordviews-delete"> 
									<a href="#" class="img-del">
										<img class="x-img-black" src='<?php echo $this->getViewFileUrl('images/x.png'); ?>' alt="Demo" />
									</a>
									<span class="recordviews-actionable-label del">Delete</span>
                                </td>
							</tr>
										<tr class="recordviews-row bottom-line">
                                <td class="recordviews-sku">
									<span class="recordviews-actionable-label">SKU</span>
                                    <div class="control">
                                        <input type="text" id="lastname" value="GH82 - 22131D" class="input-text required-entry" data-validate="{required:true}">
                                    </div>
								</td>
								<td class="recordviews-title">
								<span class="recordviews-actionable-label">QTY</span>
								<div class="name-sku-inner-qty">     
                    <a class="alo_qty alo_qty_dec ajax-cart-qty-minus minicart_qty_minus" href="javascript:void(0)">-</a>
                    <input type="number" class="item-qty" value="1" />
                    <a class="alo_qty alo_qty_inc ajax-cart-qty-plus minicart_qty_plus" href="javascript:void(0)">+</a>
                    </div>
								</td> 
								<td class="recordviews-price">
									<span class="recordviews-actionable-label">Price</span>
									<div>
									<span class="recordviews-value">$3,939.99</span></div>
								</td> 
								<td class="recordviews-description"> 
									<span class="recordviews-actionable-label">Description</span>
									<div>
									<span class="recordviews-value">Wireless Source Link</span></td></div>
								<td class="recordviews-stock">
									<span class="recordviews-actionable-label">Availability</span>
									<div>
									<span class="recordviews-value2">Out of Stock</span></div>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Total</span>
									<div>
									<span class="recordviews-valuee">$3,939.99</span></div>
                                </td>
								<td class="recordviews-delete"> 
									<a href="#" class="img-del">
										<img class="x-img-black" src='<?php echo $this->getViewFileUrl('images/x.png'); ?>' alt="Demo" />
									</a>
									<span class="recordviews-actionable-label del">Delete</span>
                                </td>
							</tr>
										<tr class="recordviews-row none">
                                <td class="recordviews-sku">
									<span class="recordviews-actionable-label">SKU</span>
                                    <div class="control">
                                        <input type="text" id="lastname" placeholder="Name or Sku" class="input-text sku required-entry" data-validate="{required:true}">
                                    </div>
								</td>
								<td class="recordviews-title">
								<span class="recordviews-actionable-label">QTY</span>
								<div class="name-sku-inner-qty">     
                    <a class="alo_qty alo_qty_dec ajax-cart-qty-minus minicart_qty_minus" href="javascript:void(0)">-</a>
                    <input type="number" class="item-qty" value="1" />
                    <a class="alo_qty alo_qty_inc ajax-cart-qty-plus minicart_qty_plus" href="javascript:void(0)">+</a>
                    </div>
								</td> 
								<td class="recordviews-price">
									
									<span class="recordviews-value"></span>
								</td> 
								<td class="recordviews-description"> 
									
									<span class="recordviews-value"></span></td>
								<td class="recordviews-stock">
									
									<span class="recordviews-value3"></span>
								</td> 
                                <td class="recordviews-currency"> 
									
									<span class="recordviews-valuee"></span>
                                </td>
								<td class="recordviews-delete"> 
									<span class="recordviews-actionable-labell">Delete</span>
									<a href="#">
									<img class="x-img-grey" src='<?php echo $this->getViewFileUrl('images/x.png'); ?>' alt="Demo" />
									</a>
                                </td>
							</tr>
                            <tr class="recordviews-row none">
                                <td class="recordviews-sku">
                                    <div class="control">
                                        <input type="text" id="lastname" placeholder="Name or Sku" class="input-text sku required-entry" data-validate="{required:true}">
                                    </div>
								</td>
								<td class="recordviews-title">
								<div class="name-sku-inner-qty">     
                    <a class="alo_qty alo_qty_dec ajax-cart-qty-minus minicart_qty_minus" href="javascript:void(0)">-</a>
                    <input type="number" class="item-qty" value="1" />
                    <a class="alo_qty alo_qty_inc ajax-cart-qty-plus minicart_qty_plus" href="javascript:void(0)">+</a>
                    </div>
								</td> 
								<td class="recordviews-price">
									
									<span class="recordviews-value"></span>
								</td> 
								<td class="recordviews-description"> 
									
									<span class="recordviews-value"></span></td>
								<td class="recordviews-stock">
									
									<span class="recordviews-value4"></span>
								</td> 
                                <td class="recordviews-currency"> 
									
									<span class="recordviews-valuee"></span>
                                </td>
								<td class="recordviews-delete"> 
									<span class="recordviews-actionable-labell">Delete</span>
									<a href="#">
									<img class="x-img-grey" src='<?php echo $this->getViewFileUrl('images/x.png'); ?>' alt="Demo" />
									</a>
                                </td>
							</tr>
                            <tr class="recordviews-row none">
                                <td class="recordviews-sku">
                                    <div class="control">
                                        <input type="text" id="lastname" placeholder="Name or Sku" class="input-text sku required-entry" data-validate="{required:true}">
                                    </div>
								</td>
								<td class="recordviews-title">
									
                    <div class="name-sku-inner-qty">     
                    <a class="alo_qty alo_qty_dec ajax-cart-qty-minus minicart_qty_minus" href="javascript:void(0)">-</a>
                    <input type="number" class="item-qty" value="1" />
                    <a class="alo_qty alo_qty_inc ajax-cart-qty-plus minicart_qty_plus" href="javascript:void(0)">+</a>
                    </div>
								</td> 
								<td class="recordviews-price">
									
									<span class="recordviews-value"></span>
								</td> 
								<td class="recordviews-description"> 
									
									<span class="recordviews-value"></span></td>
								<td class="recordviews-stock">
									
									<span class="recordviews-value2"></span>
								</td> 
                                <td class="recordviews-currency"> 
									
									<span class="recordviews-valuee"></span>
                                </td>
								<td class="recordviews-delete"> 
									<span class="recordviews-actionable-labell">Delete</span>
									<a href="#">
									<img class="x-img-grey" src='<?php echo $this->getViewFileUrl('images/x.png'); ?>' alt="Demo" />
									</a>
                                </td>
							</tr>
						</tbody>
		</table>
        <div class="buttons-item-cart-block">
            <div class="add-item">
                <button class="item-button">
                    <a href="<?php echo $block->getBaseUrl(); ?>transaction/index/storecredit">Add Item</a>
                </button>
            </div>
            <div class="add-cart">
                <button class="cart-button">
                    <a href="#">Add to Cart</a>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="import-csv-file-block">
    <div class="csv-file-import">
        <div class="import-file-head download-csv">
            <div class="csv-file-title">
                <h2 class="head-title-csv">Import CSV file for Quick Order</h2>
            </div>
            <div class="download-csv-file">
                <a href="#">Download CSV demo file</a>
            </div>
        </div>
        <div class="choose-file">
            <div class="control file">
			<label for="file-upload" class="custom-file-upload" >
			<img class="upload-img" src='<?php echo $this->getViewFileUrl('images/upload.svg'); ?>' alt="Demo"> Choose file
</label>
<label class="no-selected">No file selected</label>
<input id="file-upload" type="file"/>
            </div>
        </div>
    </div>
</div>