<?php
$transaction = $this->getTransactionDetails();
//echo "<pre>";print_r($transaction);die();
$helper = $this->helper('Nexuscellular\Customization\Helper\Data');
if(isset($transaction['error']) && $transaction['error'] == true){
    echo "<div class='message-error error message'>".$transaction['error_message']."</div>";
}else{
	$getItemsImages = $this->getAllItemsImages($transaction['itemList']['item']);
?>

<section class="invoice-details transaction-history">
    <div class="content invoice-details-view"> 
        <header>
            <?php if(isset($transaction['tranId'])) ?>
            <h2 class="invoice-details-invoice-title"> <?= __('Online Purchase')?> <b><span class="invoice-details-invoice-number"><?= $transaction['tranId'] ?></span></b> 
                <span class="transaction-details-amount">  <span class="amount"><?= $helper->setsetOrderCurrencyFormat($transaction['total'],$transaction['currencyName']) ?></span></span>
            </h2>
        </header> 
        <div class="invoice-details-header-information">
            <div class="invoice-details-header-row">
                <div class="transaction-details-header-col-left">
                    <p class="header-date-info">
                        <span class="myaccount-transaction-status-label"><?= __('Date:') ?></span>
                        <span class="transaction-details-header-date-value"><?= date('Y-m-d',strtotime($transaction['createdDate'])) ?></span>
                    </p>
                </div>
                <div class="transaction-details-header-col-right">
                    <p class="header-status-info">
                        <span class="myaccount-transaction-status-label"><?= __('Status:') ?></span>
                        <span class="myaccount-transaction-status-value"><?= $transaction['status'] ?></span>
                    </p>
                </div>
            </div>
        </div>
        <div class="invoice-details-row" name="invoice-content-layout">
            <div class="invoice-details-content-col">
                <div class="invoice-details-accordion-divider">
                    <div class="invoice-details-accordion-head open">
                        <div class="order-history-packages-accordion-head-toggle">
                            <div class="order-history-packages-header-container-title">
                                <span class="order-history-packages-accordion-head-toggle-status">Shipped</span>
                                <span class="order-history-packages-accordion-head-toggle-auxiliar-text" style="vertical-align: -1px;">   to  </span>
                                <a id="order-history-packages-address-dropdown" class="order-history-packages-address-data-link">
									<?= trim($transaction['shippingAddress']['addressee']) ?>  
                                    <span class="order-history-packages-icon-angle-down"></span>
                                </a>
                                <div class="order-history-packages-dropdown-menu" aria-labelledby="order-history-packages-address-dropdown"> 
                                    <div data-view="Shipping.Address.View"><!-- TEMPLATE STARTS: address_details-->
                                        <div class="address-details">
                                            <div class="address-details-container">
                                                    <address>
                                                    <div class="address-details-info">
                                                        <?php /* <p class="address-details-container-multiselect-custrecord_f3_address_unit" data-name="custrecord_f3_address_unit"> <?= $transaction['shippingAddress']['addressee'] ?> </p>*/ ?>
                                                        <p class="address-details-container-multiselect-address-details-addr1"><?= $transaction['shippingAddress']['addr1'] ?> </p>
                                                        <p class="address-details-container-multiselect-address-details-addr2"><?= $transaction['shippingAddress']['addr2']." ".$transaction['shippingAddress']['city']." ".$transaction['shippingAddress']['state']. " ".$transaction['shippingAddress']['zip'] ?> </p>
                                                        <p class="address-details-container-multiselect-address-line">
                                                            <p class="address-details-country"><?= (substr($transaction['shippingAddress']['country'], 0, 1) === '_') ? ucfirst(ltrim($transaction['shippingAddress']['country'], '_')) : $transaction['shippingAddress']['country'] ?> </p>
                                                            <p class="address-details-phone"><a href="tel:"><?= $transaction['shippingAddress']['addrPhone'] ?></p></a>
                                                        </p>
                                                     </div>
                                                </address>
                                            </div>
                                        </div>  
                                    </div> 
                                </div><!-- Ends order-hsitory-packages-dropdown-menu -->
                            </div>
                            <span class="invoice-details-accordion-toggle-icon"></span>
                            <div class="order-history-packages-header-container">
                                <div class="order-history-packages-header-container-left">
                                    <div class="order-history-packages-header-col">
                                        <span class="order-history-packages-shipped-date-label">Shipped on: </span>
                                        <span class="order-history-packages-shipped-date-value"><?= date('Y-m-d',strtotime($transaction['shipDate'])) ?></span>
                                    </div>  
                                </div>
                                <div class="order-history-packages-header-container-right">
                                <?php if(!empty($transaction['linkedTrackingNumbers'])): ?>    
                                    <div class="order-history-tracking-content">
                                        <button class="order-history-list-tracking-number-control-button">
                                            Track Packages <span class="track-button-toggle-icon"></span>
                                        </button>
                                        <div class="order-history-list-tracking-number-control-numbers ">
                                            <ul>  
                                                <?php $trackArray = explode(' ',trim($transaction['linkedTrackingNumbers'])) ?>
                                                <?php foreach($trackArray as $trackNumber): ?>
                                                    <li><a target="_blank" class="order-history-list-tracking-number-control-numbers-link" href="<?php echo $this->getTrackingLink($transaction['shipMethod']['name'],$trackNumber) ?>"><?= $trackNumber ?></a> <?php echo $this->getShipMethodName($transaction['shipMethod']['name']) ?></li>
                                                <? endforeach; ?>
                                            </ul>
                                        </div>
                                    </div><!-- Ends racking content -->
                                    <?php endif; ?>
                                    <div class="order-history-packages-header-col-shipping-method">
                                        <span class="order-history-packages-delivery-label"><?= __('Delivery Method:') ?></span>
                                        <span class="order-history-packages-delivery-value"><?= isset($transaction['shipMethod']['name']) ? $transaction['shipMethod']['name'] : '-'; ?></span>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div><!-- ENDS invoice-details-accordion-head -->
                    <div class="order-history-packages-accordion-body invoice-details-accordion-body" id="invoice-details-products" role="tabpanel">
                        <div class= "order-history-packages-accordion-container">
                            <table class="invoice-details-products-table lg2sm-first">
                                <thead class="invoice-details-table-products-header">
                                    <tr>
                                        <th class="invoice-details-table-products-header-image"></th>
                                        <th class="invoice-details-table-products-header-product"><?= __('Product') ?></th>
                                        <th class="invoice-details-table-products-header-qty"><?= __('Qty') ?></th>
                                        <th class="invoice-details-table-products-header-unit-price" style="padding:11px 6px"><?= __('Unit Price') ?></th>
                                        <th class="invoice-details-table-products-header-amount"><?= __('Amount') ?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach($transaction['itemList']['item'] as $item): ?>
                                    <tr class="transaction-line-views-cell-navigable">
                                        <td class="transaction-line-views-cell-navigable-item-image" name="item-image">
                                            <img src="<?= $this->getImage($item['item']['internalId'],$getItemsImages) ?>" alt="<?= $item['description'] ?>" 
											style="width:200px;" />
                                        </td>
                                        <td class="transaction-line-views-cell-navigable-details" name="item-details">
                                            <p class="transaction-line-views-cell-navigable-product-name">
                                                <span class="transaction-line-views-cell-navigable-product-title"><?= $item['description'] ?></span> 
                                            </p>
                                            <p></p>
                                            <div><!-- TEMPLATE STARTS: product_line_sku-->
                                                <div class="product-line-sku-container">
                                                    <span class="product-line-sku-label"><?= __('SKU:') ?></span>
                                                    <span class="product-line-sku-value"><?= $this->getSku($item['item']['name']) ?></span>
                                                </div>  <!-- TEMPLATE ENDS: product_line_sku -->
                                            </div>
                                            <!--<p>
                                                <span class="transaction-line-views-cell-navigable-stock">
                                                    <div class="product-line-stock">
                                                        <div class="product-line-stock-msg-not-available">This item is no longer available</div>
                                                    </div>
                                                </span>
                                            </p>-->
                                            <div data-view="StockDescription"></div>
                                        </td>
                                        <td class="transaction-line-views-cell-navigable-item-unit-price" name="item-totalprice"> 
                                             <p>  
												<span class="transaction-line-views-cell-navigable-item-unit-price-label"><?= __('Unit price:') ?></span> 
												<span class="transaction-line-views-cell-navigable-item-reason-value">
													<?= $helper->setsetOrderCurrencyFormat($item['rate'],$transaction['currencyName']) ?>
												</span>
											  </p> 
										</td>
										<td class="transaction-line-views-cell-navigable-item-quantity" name="item-quantity">
											<p>
												<span class="transaction-line-views-cell-navigable-item-quantity-label"><?= __('Quantity:') ?></span>
												<span class="transaction-line-views-cell-navigable-item-quantity-value"><?= $item['quantity'] ?></span>
											</p>
										</td>
                                            <td class="transaction-line-views-cell-navigable-amount" name="item-amount">
                                                <p>
                                                    <span class="transaction-line-views-cell-navigable-item-amount-label"><?= __('Amount:') ?></span>
                                                    <span class="transaction-line-views-cell-navigable-item-amount-value">
														<?= $helper->setsetOrderCurrencyFormat($item['amount'],$transaction['currencyName']) ?>
													</span>
                                                </p>
                                            </td>
                                        </tr>
                                        <?php endforeach; ?>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div><!-- ENDS section 1 -->
                    <div class="invoice-details-accordion-divider open">
                            <a class="order-history-packages-accordion-head-toggle"> 
                                <span class="toggle-heading"><?= __('Billing')?></span>  
                                <span class="invoice-details-accordion-toggle-icon"></span>
                            </a>
                        </div>
                        <div class="invoice-inner-details-row">
                            <div class="invoice-details-info-card-grid">
                                <div class="invoice-details-info-card"> 
                                    <div class="address-details">
                                        <div class="address-details-container">
                                            <address>
                                                <div class="address-details-info">
                                                    <p class="address-details-container-multiselect-address-title">
                                                        <b><?= $transaction['billingAddress']['addressee'] ?></b>
                                                    </p>
                                                    <p class="address-details-container-multiselect-custrecord_f3_address_unit">  </p>
                                                    <p class="address-details-container-multiselect-address-details-addr1"><?= $transaction['billingAddress']['addr1'] ?></p>
                                                    <p class="address-details-container-multiselect-address-line">
                                                        <span class="address-details-container-multiselect-address-details-city" data-name="city"><?= $transaction['billingAddress']['city'] ?></span>
                                                        <span class="address-details-container-multiselect-address-details-state" data-name="state"><?= $transaction['billingAddress']['state'] ?></span>
                                                        <span class="address-details-container-multiselect-address-zip" data-name="zip"><?= $transaction['billingAddress']['zip'] ?></span>
                                                    </p>
                                                    <p class="address-details-country" data-name="country"> <?= (substr($transaction['billingAddress']['country'], 0, 1) === '_') ? ucfirst(ltrim($transaction['billingAddress']['country'], '_')) : $transaction['billingAddress']['country'] ?> </p>
                                                    <p class="address-details-phone" data-name="phone">
                                                        <a href="tel:<?= $transaction['billingAddress']['addrPhone'] ?>"><?= $transaction['billingAddress']['addrPhone'] ?></a>
                                                    </p>
                                                </div>
                                            </address>
                                        </div>
                                    </div>
                                </div><!-- Ends invoice-details-info-card -->
                            </div><!-- Ends invoice-details-info-card-grid -->
                            <div class="invoice-details-info-card-grid">
                                <div class="invoice-details-info-card">
                                <div class="invoice-details-info-card-terms-container">
                                    <p class="invoice-details-info-card-title"><?= __('Payment Method') ?></p> 
                                    <span><?= !empty($transaction['paymentMethod']) ? $transaction['paymentMethod']['name'] : 'N/A' ?></span> 
                                </div>
                                </div><!-- Ends invoice-details-info-card -->
                            </div><!-- Ends invoice-details-info-card-grid -->
                        </div><!-- Ends invoice-inner-details-row -->
                    </div>  
                    <div class="invoice-details-summary-col" name="summary-container">
                        <div class="transaction-details-row-fluid">
                            <div class="transaction-details-summary-container">
                                <h3 class="transaction-details-summary-title"><?= __('Summary') ?></h3>
                                <p class="transaction-details-summary-grid-float subtotal">
                                    <span class="transaction-details-summary-items-number"><?= $helper->setsetOrderCurrencyFormat($transaction['subTotal'],$transaction['currencyName'])  ?></span><?= __('Subtotal')?>
                                </p>
                                <?php if(isset($transaction['promotionsList']['promotions']) && count($transaction['promotionsList']['promotions'])): ?>
                                    <?php foreach($transaction['promotionsList']['promotions'] as $promocode): ?>
                                        <p class="transaction-details-summary-grid-float"><span class="transaction-details-summary-items-number"><?= $promocode['couponCode']['name']  ?></span><?= __('Promocode')?></p>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                                <p class="transaction-details-summary-grid-float"><span class="transaction-details-summary-items-number"><?= $helper->setsetOrderCurrencyFormat($transaction['taxTotal'],$transaction['currencyName'])  ?></span><?= __('Tax Total') ?></p>
                                <p class="transaction-details-summary-grid-float"><span class="transaction-details-summary-items-number"><?= $helper->setsetOrderCurrencyFormat($transaction['shippingCost'],$transaction['currencyName'])  ?></span><?= __('Shipping') ?></p>
                                <?php if($transaction['discountTotal'] > 0): ?>
                                    <p class="transaction-details-summary-grid-float"><span class="transaction-details-summary-items-number"><?= $helper->setsetOrderCurrencyFormat($transaction['discountTotal'],$transaction['currencyName'])  ?></span><?= __('Discount Total') ?></p>
                                <?php endif; ?>
                                <p class="transaction-details-summary-grid-float total"><span class="transaction-details-summary-items-number"> <?= $helper->setsetOrderCurrencyFormat($transaction['total'],$transaction['currencyName'])  ?> </span> <?= __('Total') ?></p>
                            </div>
                        </div>
                        <div class="invoice-details-buttons-container">
							<a href="<?= $this->getUrl('transaction/index/salesorderpdf/id/'.$transaction['internalId']) ?>" class="invoice-details-button-download-as-pdf" href=""><?= __('Download as PDF') ?></a>
						</div>
                </div>
             </div>
        </div>
    </section>
    <?php } ?>
    <script type="text/javascript">
                    require([
                        "jquery"
                        ], function($){
                        jQuery(".order-history-packages-header-container-title").click(function(e){
                            jQuery(this).toggleClass('open');
                        });
                        jQuery(".invoice-details-accordion-head").click(function(e){
                            var senderElement = e.target;
                            console.log(senderElement);
                            if($(senderElement).attr('class') != 'order-history-packages-address-data-link' && $(senderElement).attr('class') != 'order-history-packages-icon-angle-down'
                            && $(senderElement).attr('class') != 'order-history-packages-accordion-head-toggle-status' 
                            && $(senderElement).attr('class') != 'order-history-list-tracking-number-control-button'){
                            jQuery(this).next().slideToggle();
                            jQuery(this).toggleClass('open');
                            }
                        });
                        jQuery(".order-history-list-tracking-number-control-button").click(function(e){ 
                            jQuery(this).next().toggleClass('show');
                        });
                    });
    </script>
