<div class="credit-debit-cards">
    <div class="inner-credit-debit">
        <div class="header-title">
            <div class="header-label"><h2 class="head-label">Your credit and debit cards</h2></div>
            <div class="head-value">
                <p class="expires-label">Expires</p>
            </div>
        </div>
        <div class="master-card-section">
            <div class="ending-mastercard">
        <div class="img-card">
            <img class="mastercard-img" src='<?php echo $this->getViewFileUrl('images/card.png'); ?>' alt="Demo">
            </div>
            
            <div class="credit-debit-cards-info section-part-one">
            

            <div class="mastercard-info info2">
                <div class="info-card-details">
                <span class="info-card-title t2">
                Mastercard <span class="master-ending">ending in <strong>0012</strong>
                <strong class="default" style="display: none;">Default</strong>
                </span>
                 </span>
                </div>
                <div class="expiry-info">
                <span class="expiry-date">09/2024</span>
                </div>
                <div class="arrow" id="arrow">
                <img class="coolicon-img" src='<?php echo $this->getViewFileUrl('images/coolicon.png'); ?>' alt="Demo">
                </div>
            </div>
        </div>

        </div>
        <div class="payment-default-method" style="display: none;">
            <div class="expire-date">
                <span class="date-expire-label">Expires: </span>
                <span class="date-expire">09/2024</span>
            </div>
            <div class="card-name">
                <span class="card-on-name">Name on card: </span>
                <span class="user-name-card">Yaroslav Basov</span>
            </div>
            <div class="payment-method-default">
                <div class="payment-user-method"><p class="default-payment"><a href="#">Set as default</a> payment method.<span class="whats-this"> <a href="#">What’s this</a><img class="coolicon-img" src='<?php echo $this->getViewFileUrl('images/coolicon.png'); ?>' alt="Demo"></span> </p> </div>
                <div class="actions-toolbar">
                <div class="remove-button">
                <button type="submit" class="remove button" data-action="remove-action" title="Remove">
                <span>Remove</span>
                </button>
            </div>
            <div class="edit-buttons">
                <button type="submit" class="edit button" data-action="edit-action" title="Edit">
                    <span>Edit</span>
                </button>
            </div>
        </div>
        </div>
        </div>
        </div>
        
        <div class="master-card-section">
        <div class="ending-mastercard">
        <div class="img-card">
            <img class="mastercard-img" src='<?php echo $this->getViewFileUrl('images/card.png'); ?>' alt="Demo">
            </div>
        <div class="credit-debit-cards-info section-part-one">
            

            <div class="mastercard-info info2">
                <div class="info-card-details">
                <span class="info-card-title t2">
                Mastercard <span class="master-ending">ending in <strong>0012</strong>
                <strong class="default" style="display: none;">Default</strong>
                </span>
                </span>
                </div>
                <div class="expiry-info">
                <span class="expiry-date">09/2024</span>
                </div>
                <div class="arrow" id="arrow">
                <img class="coolicon-img" src='<?php echo $this->getViewFileUrl('images/coolicon.png'); ?>' alt="Demo">
                </div>
            </div>
        </div>
    </div>
    <div class="payment-default-method" style="display: none;">
            <div class="expire-date">
                <span class="date-expire-label">Expires: </span>
                <span class="date-expire">09/2024</span>
            </div>
    <div class="card-name">
            <span class="card-on-name">Name on card: </span>
            <span class="user-name-card">Yaroslav Basov</span>
        </div>
        <div class="payment-method-default">
            <div class="payment-user-method"><p class="default-payment"><a href="#">Set as default</a> payment method.<span class="whats-this"> <a href="#" >What’s this</a><img class="coolicon-img" src='<?php echo $this->getViewFileUrl('images/coolicon.png'); ?>' alt="Demo"> </span></p> </div>
            <div class="actions-toolbar">
            <div class="remove-button">
        <button type="submit" class="remove button" data-action="remove-action" title="Remove">
            <span>Remove</span>
        </button>
    </div>
    <div class="edit-buttons">
        <button type="submit" class="edit button" data-action="edit-action" title="Edit">
            <span>Edit</span>
        </button>
    </div>
    </div>
            </div>
        </div>
        </div>

        <div class="master-card-section">
        <div class="ending-mastercard">
        <div class="img-card">
            <img class="mastercard-img" src='<?php echo $this->getViewFileUrl('images/card.png'); ?>' alt="Demo">
            </div>
        <div class="credit-debit-cards-info section-part-one">
            

            <div class="mastercard-info info2">
                <div class="info-card-details">
                <span class="info-card-title t2">
                Mastercard <span class="master-ending">ending in <strong>0012</strong>
                <strong class="default" style="display: none;">Default</strong>
                </span>
                </span>
                </div>
                <div class="expiry-info">
                <span class="expiry-date">09/2024</span>
                </div>
                <div class="arrow" id="arrow">
                <img class="coolicon-img" src='<?php echo $this->getViewFileUrl('images/coolicon.png'); ?>' alt="Demo">
                </div>
            </div>
        </div>
        </div>
        <div class="payment-default-method" style="display: none;">
            <div class="expire-date">
                <span class="date-expire-label">Expires: </span>
                <span class="date-expire">09/2024</span>
            </div>
            <div class="card-name">
                <span class="card-on-name">Name on card: </span>
                <span class="user-name-card">Yaroslav Basov</span>
            </div>
            <div class="payment-method-default">
                <div class="payment-user-method"><p class="default-payment"><a href="#">Set as default</a> payment method.<span class="whats-this"> <a href="#">What’s this</a><img class="coolicon-img" src='<?php echo $this->getViewFileUrl('images/coolicon.png'); ?>' alt="Demo"></span> </p> </div>
                <div class="actions-toolbar">
                <div class="remove-button">
            <button type="submit" class="remove button" data-action="remove-action" title="Remove">
                <span>Remove</span>
            </button>
        </div>
        <div class="edit-buttons">
            <button type="submit" class="edit button" data-action="edit-action" title="Edit">
                <span>Edit</span>
            </button>
        </div>
        </div>
                </div>
            </div>
        </div>

 
        
        
    </div>
</div>

<div class="add-a-new-payment-block">
    <div class="add-new-payment">
        <div class="inner-payment-block">
        <div class="new-payment-method-block">
            <h2 class="new-payment-method">Add a New Payment Method</h2>
            <h2 class="new-payment-method label">Nexus Cellular accepts major credit cards</h2>
        </div>
        <div class="img-payments">
        <img class="mastercard-img" src='<?php echo $this->getViewFileUrl('images/payment.png'); ?>' alt="Demo">
        </div>
        </div>
        <div class="button-action">
            <a class="action credit button" data-action="credit-action" href="<?php echo $block->getBaseUrl(); ?>customer/paymentinfo/index/" title="Add a Credit Card">
                <span>
                Add a Credit Card
                </span>
            </a>
        </div>
    </div>
    
</div>

<script type="text/javascript">

require(['jquery', 'jquery/ui'], function($){ 
   
    $(document).ready(function() {
$(document).on('click','.master-card-section',function(){
      $(".payment-default-method").hide();
        $(".default").hide();
    $('.master-card-section.active').removeClass("active");
    $(this).addClass("active");
    $(".master-card-section.active .payment-default-method").show();
$(".master-card-section.active .default").show();

});        
   });
});
</script>