<?php
//$items = $this->getCustomerReturnList();
?>

<div class="ReturnAuthorizationList"><!-- TEMPLATE STARTS: return_authorization_list-->
  <section class="return-authorization-list">
	  <div class="top-head-block-info-credit">
		  <div class="head-credit-title">
			  <h2 class="credit-info-title">Your current credit balance:<!--  <strong>512</strong> <b>credits</b> ( --><span class="current-credit-price">$512</span><!-- ) --></h2>
		  </div>
		  <!-- <div class="payment-net-terms">
		  		<p class="payment-terms-title">Payment Terms:</p>
			  <p class="p1 p2">Net 30</p>
			  <p class="p1">Net 7</p>
		  </div> -->
	  </div>
    <div class="date-filter-block">
        <header class="return-authorization-list-header"><h2><?= __('Date Filter') ?></h2></header>
            <div class="list-header-view" >
                <div class="list-header-view-accordion">
					<div class="list-header-view-accordion-link"></div>
					<div class="list-header-view-accordion-body filter" >
						<div class="list-header-view-accordion-body-header ">
							<div class="status-history-date-from">
							<label class="list-header-view-from" for="from"><span class="from"><?= __('From Date') ?></span>
								<input type="date">
								
							</label>
							<label class="list-header-view-to" for="to">
								<span class="to"><?= __('To Date') ?></span>
								<input type="date">
								
							</label>
                            </div>
							<!-- <span class="list-header-view-sorts"><label class="list-header-view-filters">
								<label class="list-header-view-filters">
									<select name="sort" class="list-header-view-accordion-body-select"> 
										<option value="trandate,internalid"></?= __('Sort By Date') ?></option> 
									</select>
								</label>
								<button class="list-header-view-accordion-body-button-sort" data-order='desc'>
									<i class="list-header-view-accordion-body-button-sort-up fa fa-arrow-up"></i>
										<i class="list-header-view-accordion-body-button-sort-down listheader-filter-sortorder-arrow-selected fa fa-arrow-down"></i>
								</button>
							</span> -->
                            <div class="submit-button-opacity">
                                <p class="opacity">Opacity</p>
                                <button class="submit-button">Submit</button>
                            </div>
							<div class="show-credit-memo">
								<label class="container custom-checkbox">
									<input type="checkbox" >
                            		<span class="checkmark"></span>
                            	</label>
								<p class="credit-memo-only">Show only Credit Memo</p>
							</div>
						</div>
					</div>  
				</div>
                </div>  
			</div><!-- TEMPLATE ENDS: list_header_view -->
			<div class="return-authorization-list-container"> 
				<table class="return-authorization-list-results-list">
					<thead class="return-authorization-list-content-table">
						<tr class="return-authorization-list-content-table-header-row">
							<th class="return-authorization-list-content-table-header-row-title">
							<label class="container custom-checkbox">
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            </label>
							<span>Date</span></th>
							<th class="return-authorization-list-content-table-header-row-date"><span>Credit Memo #</span></th>
							<th class="return-authorization-list-content-table-header-row-items"><span>Type</span></th>
							<th class="return-authorization-list-content-table-header-row-currency"><span>Created From</span></th>
							<th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
                            <th class="return-authorization-list-content-table-header-row-amount-credited"><span>Credit Balance</span></th>
                            <th class="return-authorization-list-content-table-header-row-empty"><span></span></th>
						</tr>
					</thead>
					<tbody class="return-authorization-list-records-list">
										<tr class="recordviews-row">
                                <td class="recordviews-date">
                                <label class="container custom-checkbox">
                                <input type="checkbox" >
                                <span class="checkmark"></span>
                                </label>
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">Jul 10,2021</span>
								</td>
								<td class="recordviews-title">
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/906467/'); ?>">
                                        82-22131-222							</a>
									</span>
								</td> 
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Type:</span>
									<span class="recordviews-value">Type 1</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">Purchase product limit.</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value1">Complete</span>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-valuee">$597.95</span>
                                </td>
                                <td class="recordviews-view"> 
									<span class="recordviews-actionable-label">View:</span>
									<a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>"><span class="recordviews-value">View</span></a>
                                </td>
                                    
							</tr>
										<tr class="recordviews-row">
                                <td class="recordviews-date">
                                <label class="container custom-checkbox">
                                <input type="checkbox" >
                                <span class="checkmark"></span>
                                </label>
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">Jul 8,2021</span>
								</td>
								<td class="recordviews-title">
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/857090/'); ?>">
                                        76-22130-000							</a>
									</span>
								</td> 
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Type:</span>
									<span class="recordviews-value">Type 2</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">Type 2</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value2">Complete</span>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-valuee">$597.95</span>
                                </td>
                                <td class="recordviews-view"> 
									<span class="recordviews-actionable-label">View:</span>
									<a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>"><span class="recordviews-value">View</span></a>
                                </td>
							</tr>
										<tr class="recordviews-row">
                                <td class="recordviews-date">
                                <label class="container custom-checkbox">
                                <input type="checkbox" >
                                <span class="checkmark"></span>
                                </label>
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">Jul 5,2021</span>
								</td>
								<td class="recordviews-title">
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/717180/'); ?>">
                                        12-22135-121							</a>
									</span>
								</td> 
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Type:</span>
									<span class="recordviews-value">Type 7</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">Cash Receipt</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value3">Delivered</span>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-valuee">$597.95</span>
                                </td>
                                <td class="recordviews-view"> 
									<span class="recordviews-actionable-label">View:</span>
									<a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>"><span class="recordviews-value">View</span></a>
                                </td>
							</tr>
                            <tr class="recordviews-row">
                                <td class="recordviews-date">
                                <label class="container custom-checkbox">
                                <input type="checkbox">
                                <span class="checkmark"></span>
                                </label>
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">May 24,2021</span>
								</td>
								<td class="recordviews-title">
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/717180/'); ?>">
                                        11-22131-310							</a>
									</span>
								</td> 
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Type:</span>
									<span class="recordviews-value">Type 1</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">Type 2</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value4">Complete</span>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-valuee">$597.95</span>
                                </td>
                                <td class="recordviews-view"> 
									<span class="recordviews-actionable-label">View:</span>
									<a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>"><span class="recordviews-value">View</span></a>
                                </td>
							</tr>
                            <tr class="recordviews-row">
                                <td class="recordviews-date">
                                    <label class="container custom-checkbox">
                                    <input type="checkbox">
                                    <span class="checkmark"></span>
                                    </label>
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">May 13,2021</span>
								</td>
								<td class="recordviews-title">
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/717180/'); ?>">
                                        00-22131-401							</a>
									</span>
								</td> 
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Type:</span>
									<span class="recordviews-value">Type 7</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">Wireless Source Link</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value2">Complete</span>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-valuee">$597.95</span>
                                </td>
                                <td class="recordviews-view"> 
									<span class="recordviews-actionable-label">View:</span>
									<a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>"><span class="recordviews-value">View</span></a>
                                </td>
							</tr>
						</tbody>
				</table>
			</div>
            <div class="whatever">
                <span class="items">5 Items(s)</span>
                <div class="list-paginator">
                    <label class="show-by">Show by</label>
                    <select class="my-account-pagination-links" id="pagination">
                        <option value="">10 items</option>
                    </select>
                </div>
            </div>
   </section> 
</div>   



<script type="text/javascript">
 require(['jquery', 'jquery/ui'], function($){ 
   /**
 * Detect Mobile device
 */
var isMobile = false; //initiate as false
// device detection
if(/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|ipad|iris|kindle|Android|Silk|lge |maemo|midp|mmp|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows (ce|phone)|xda|xiino/i.test(navigator.userAgent)
  || /1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(navigator.userAgent.substr(0,4))) {
  isMobile = true;
}

jQuery('input[type="date"]').change(function() {
  if( isMobile) {
    if (!jQuery(this).val()) {
      jQuery(this).addClass('mobile');
    }
    else {
      jQuery(this).removeClass('mobile');
    }
  }
});
 });	
</script>


<style type="text/css">
	input[type="date"].mobile{
&:before{
  content: 'mm/dd/yyyy';
}
</style>