<?php
date_default_timezone_set('America/Toronto');
//echo "<pre>";
$messages = $this->getMessageDetails();
$caseDetails = $this->getCaseDetails();
/*echo "<pre>";print_r($messages);
die();*/
?>
<div class="caseDetail">
    <section class="case-detail">
        <header class="case-detail-title" >
            <h2 class="case-detail-header-title" style="color: #231f20;font-weight: 400;"><span class="case-detail-field-number"><?= "Case # ".$caseDetails['caseNumber'] ?></span>
                <span class="case-detail-field-subject"><?= $caseDetails['title'] ?></span>
            </h2>
        </header>
        <div class="case-detail-header-information">
            <div class="case-detail-header-row">
                <div class="case-detail-header-col-left">
                    <p>
                        <span class="case-detail-label-type">Type of inquiry:</span>
                        <span class="case-detail-value-type"><?= isset($caseDetails['category']['name']) ? $caseDetails['category']['name'] : '' ?></span>
                    </p>
                    <p>
                        <span class="case-detail-label-creation-date">Creation date: </span>
                        <span class="case-detail-value-creation-date"><?= date('Y-m-d',strtotime($caseDetails['createdDate'])) ?></span>
                    </p>
                    <p>
                        <span class="case-detail-label-last-message-date">Last message: </span>
                        <span class="case-detail-value-last-message-date"><?= date('Y-m-d',strtotime($caseDetails['lastMessageDate'])) ?></span>
                    </p>
                </div>
                <div class="case-detail-header-col-right">
                    <p class="case-detail-header-status-info">
                        <span class="case-detail-label-status">Status: </span>
                        <span class="case-detail-value-status"><?= $caseDetails['status']['name'] ?></span>
                    </p>  
                    <?php $status = $caseDetails['status']['internalId'] ;
                    if($status != 5):
                    ?>
                    <div class="case-detail-reply-section">
                        <form name="addData" method="post" id="replyData" class="form"
                        action="<?php echo $this->getUrl('transaction/index/Closecase'); ?>"
                        data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
                        data-mage-init='{"validation":{}}'>
                            <input type="hidden" name="caseid" value="<?= $this->getCaseInternalId() ?>" />
                            <input type="hidden" name="title" value="<?= $caseDetails['title'] ?>" />
                            <input type="hidden" name="category" value="<?= $caseDetails['category']['internalId'] ?>" />
                            <input type="hidden" name="incomingMessage" value="<?= $caseDetails['incomingMessage'] ?>" />
                            <button type="submit" class="case-detail-close-case-button" data-action="close-case">Close Case</button>
                        </form>
                    </div>
                    <?php endif; ?>
                </div>
            </div>
        </div>
        <div class="row myaccount-case-new-section"  style="clear:both">
            <div class="col-md-12">
                <form name="addData" method="post" id="replyData" class="form"
                    action="<?php echo $this->getFormAction(); ?>"
                    data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
                    data-mage-init='{"validation":{}}'>
                    <fieldset class="fieldset">
                        <fieldset class="fieldset row">
                            <div class="fields col-md-12">
                                <div class="field name required">
                                    <label class="label" for="title"><span><?= $block->escapeHtmlAttr(__('Reply with a message:')) ?></span></label>
                                    <div class="control">
                                        <textarea name="incomingMessage" rows="6" id="incomingMessage" class="case-new-form-textarea" data-validate="{required:true}"></textarea>
                                        <input type="hidden" name="caseid" value="<?= $this->getCaseInternalId() ?>" />
                                        <input type="hidden" name="subject" value="<?= $caseDetails['title'] ?>" />
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </fieldset>
                    <div class="actions-toolbar">
                        <div class="primary">
                            <button type="submit" class="action submit primary" title="Save"><span><?= $block->
                                escapeHtmlAttr(__('REPLY')) ?></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="case-detail-messages-accordion _active">
            <div class="case-detail-accordion-head">
                <a class="case-detail-accordion-head-toggle">
                     Messages (<?= count($messages) ?>) <span class="case-detail-accordion-toggle-icon accordion-toggle-icon"></span>
                </a>
            </div>
        </div>
        <div class="case-detail-accordion-container">
            <?php $existDateArray=[]; foreach($messages as $record):  ?>
                <?php if(!in_array($record['messageDate'],$existDateArray)): ?>
                    <div class="case-detail-message-date-section"><span class="case-detail-field-message-date"><?= ($record['messageDate'] == date('Y-m-d')) ? 'Today' : $record['messageDate']  ?></span></div>
                <?php $existDateArray[] = $record['messageDate']; endif; ?>
                    <div class="case-detail-message-row ">
                        <div class="case-detail-message">
                            <span class="case-detail-field-message-author"><?= $this->getAuthorName($record['author']) ?></span>
                            <span class="case-detail-field-message-field-message-time"> <?= '('.$record['messageTime'].')' ?></span>  
                        </div>
                        <p class="case-detail-field-message-text"><?= $record['message'] ?></p>
                    </div>
            <?php endforeach; ?>
        </div><!-- Ends Accordian Container -->
    </section>
</div><!-- Ends caseDetails -->