<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\Dashboard\Address $block */
?>
<div class="block block-dashboard-addresses">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Address Book')) ?></strong>
        <a class="action edit" href="<?= $block->escapeUrl($block->getAddressBookUrl()) ?>"><span><?= $block->escapeHtml(__('Manage Addresses')) ?></span></a>
    </div>
    <div class="block-content">
        <div class="box box-billing-address">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Default Billing Address')) ?></span>
            </strong>
            <div class="box-content">
                <address>
                    <?= $block->getPrimaryBillingAddressHtml() ?>
                </address>
            </div>
            <div class="box-actions">
                <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryBillingAddressEditUrl()) ?>" data-ui-id="default-billing-edit-link"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
            </div>
        </div>
        <div class="box box-shipping-address">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Default Shipping Address')) ?></span>
            </strong>
            <div class="box-content">
                <address>
                    <?= $block->getPrimaryShippingAddressHtml() ?>
                </address>
            </div>
            <div class="box-actions">
                <a class="action edit" href="<?= $block->escapeUrl($block->getPrimaryShippingAddressEditUrl()) ?>" data-ui-id="default-shipping-edit-link"><span><?= $block->escapeHtml(__('Edit Address')) ?></span></a>
            </div>
        </div>
    </div>
</div>

<section class="account-overview-account">
    <div class="title-search">
        <p class="title">Account Overview</p>
        <select class="filter-days">
            <option>Last 30 Days</option>
        </select>
    </div>
    <div class="account-overview-content row">
       <div class="col-lg-4 paddingzero-acc-overview">
        <div class="account-overview-innercontent border1">
           <div class="acc-over-title">Total Spend</div>
           <div class="acc-over-price">$190.99</div>
       </div>
       </div>  
        <div class="col-lg-4 paddingzero-acc-overview">
            <div class="account-overview-innercontent border2">
           <div class="acc-over-title">Average Order Total</div>
           <div class="acc-over-price">$0.00</div>
       </div>
       </div>  
        <div class="col-lg-4 paddingzero-acc-overview">
            <div class="account-overview-innercontent border3">
           <div class="acc-over-title">Total Orders</div>
           <div class="acc-over-price">3</div>
           <a href="#" class="view-all">View all</a>
       </div>
       </div>  
        <div class="col-lg-4 paddingzero-acc-overview">
            <div class="account-overview-innercontent border4">
           <div class="acc-over-title">Total Items Ordered</div>
           <div class="acc-over-price">3</div>
       </div>
       </div>  
        <div class="col-lg-4 paddingzero-acc-overview">
            <div class="account-overview-innercontent border5">
           <div class="acc-over-title">Average items per order</div>
           <div class="acc-over-price">39</div>
       </div>
       </div>  
        <div class="col-lg-4 paddingzero-acc-overview">
            <div class="account-overview-innercontent border6">
           <div class="acc-over-title">Member Points</div>
           <div class="acc-over-price">1,321,057</div>
       </div>
       </div>  
        <div class="col-lg-4 paddingzero-acc-overview">
            <div class="account-overview-innercontent border7">
           <div class="acc-over-title">Screen Buyback Payouts</div>
           <div class="acc-over-price">$481.99</div>
           <a href="#" class="view-all">View all</a>
       </div>
       </div>  
        <div class="col-lg-4 paddingzero-acc-overview">
            <div class="account-overview-innercontent border8">
           <div class="acc-over-title">Latest Credit Amount</div>
           <div class="acc-over-price">$190.99</div>
           <a href="#" class="view-all">View all</a>
       </div>
       </div>  
        <div class="col-lg-4 paddingzero-acc-overview">
            <div class="account-overview-innercontent border9">
           <div class="acc-over-title">Latest RMA Status </div>
           <div class="acc-over-price">No Returns</div>
           <a href="#" class="view-all">View all</a>
       </div>
       </div>   
    </div>
</section>