    <?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Account\Dashboard\Info $block */
?>


<div class="add-new-location desktop-view">
    <button class="button">Add New Location</button>
</div>
<section class="userassistance-content">

<div class="welcome-user-block">
    <div class="user-welcome">
        <h1>Welcome,  <span> <?= $block->escapeHtml($block->getName()) ?></span></h1>      
    </div>
    <div class="welcome-user-content">
        <p>The Account Dashboard makes managing your account a breeze.
        Update your account information or view your recent activity whenever you’d like, all in one place. Click a link below to get started.</p>
    </div>
</div>

    <div class="need-assistance">
        <div class="need-assistance-heading">
            <h1>Need Assistance?</h1>
        </div>
        <div class="assistance-content">
            <ul>
                <li class="assistance contact">
                     <a class="assistance-flex" href="tel:616-551-9999 "><i class="fa fa-phone" aria-hidden="true"></i>
                        <p>616-551-9999</p></a> 
                </li>
                <li class="assistance mail">
                    <a class="assistance-flex" href="mailto:sales@nexuscellular.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>
                  <p>sales@nexuscellular.com</p></a>
                </li>
                <li class="assistance contact">
                    <a href="#" class="assistance-flex"><i class="fa fa-question-circle-o" aria-hidden="true"></i>
                     <p>We’re here to help! Contact us for assistance.</p></a>
                </li>          
            </ul>
        </div>
    </div>
</section>

<div class="add-new-location mobile-view">
    <button class="button">Add New Location</button>
</div>

<?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Nexuscellular_Transaction::overview.phtml")->toHtml() ?>


<div class="block block-dashboard-info">
    <div class="block-title"><strong><?= $block->escapeHtml(__('Account Information')) ?></strong></div>
    <div class="block-content">
        <div class="box box-information">
            <strong class="box-title">
                <span><?= $block->escapeHtml(__('Contact Information')) ?></span>
            </strong>
            <div class="box-content">
                <p>
                    <?= $block->escapeHtml($block->getName()) ?><br>
                    <?= $block->escapeHtml($block->getCustomer()->getEmail()) ?><br>
                </p>
                <?= $block->getChildHtml('customer.account.dashboard.info.extra'); ?>
            </div>
            <div class="box-actions">
                <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('customer/account/edit')) ?>">
                    <span><?= $block->escapeHtml(__('Edit')) ?></span>
                </a>
                <a href="<?= $block->escapeUrl($block->getChangePasswordUrl()) ?>" class="action change-password">
                    <?= $block->escapeHtml(__('Change Password')) ?>
                </a>
            </div>
        </div>
        <?php if ($block->isNewsletterEnabled()): ?>
            <div class="box box-newsletter">
                <strong class="box-title">
                    <span><?= $block->escapeHtml(__('Newsletters')) ?></span>
                </strong>
                <div class="box-content">
                    <p>
                        <?php if ($block->getIsSubscribed()): ?>
                            <?= $block->escapeHtml(__('You are subscribed to "General Subscription".')) ?>
                        <?php else: ?>
                            <?= $block->escapeHtml(__('You aren\'t subscribed to our newsletter.')) ?>
                        <?php endif; ?>
                    </p>
                </div>
                <div class="box-actions">
                    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('newsletter/manage')) ?>">
                        <span><?= $block->escapeHtml(__('Edit')) ?></span></a>
                </div>
            </div>
        <?php endif; ?>
        <?= $block->getChildHtml('additional_blocks'); ?>
    </div>
    <div class="account-balance-and-next">
    <div class="customer-acc-balance">
        <div class="ac-bal">
            <p class="title">Account Balance</p>
            <p class="balance">$190.99</p>
        </div>
        <div class="credit-limit">
            <p class="credit-limit">Credit Limit</p>
            <p class="balance">$481.99</p>
        </div>
        <a href="#" class="action-edit">Edit</a>
    </div>
    <div class="next-payment-due-date">
         <div class="next-pay">
            <p class="title">Next payment due date</p>
            <p class="date">Jul 5, 2021</p>
        </div>
        <div class="next-status">
              <p class="status">Status</p>
            <p class="overdue">Overdue</p>
        </div>
        <a href="#" class="action-edit">Edit</a>
    </div>
    </div>

</div>
