<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

declare(strict_types=1);

use Plumrocket\AdvancedReviewAndReminder\Model\System\Config\Yesnorequired as Option;

/** @var \Plumrocket\AdvancedReviewAndReminder\Block\AmpComponent\Reminder\Form $block */
/** @var \Magento\Review\Model\Rating\Option $ratingOption */
$configHelper = $block->getConfigHelper();
$formScripts = $block->getFormScripts();
$product = $block->getProduct();
$productId = (int) $block->getProduct()->getId();
$ratingsData = $block->getRatingsData();
$isSingleRating = count($ratingsData) === 1;
?>
<form class="review__form"
      method="post"
      action-xhr="<?= $block->escapeUrl($block->getSubmitReviewUrl($productId)) ?>"
      on="submit: <?= /* @noEscape */ $formScripts->showLoader($productId) ?>;
          submit-success: <?= /* @noEscape */ $formScripts->submitSuccess($productId) ?>;
          submit-error: <?= /* @noEscape */ $formScripts->hideLoader($productId) ?>"
>
    <div
    <?php if (! $block->getIsSingleProduct()) : ?>
        hidden="hidden"
        [hidden]="<?= /* @noEscape */ $formScripts->isFormClosed($productId) ?> || <?= /* @noEscape */ $formScripts->isReviewHasBeenWritten($productId) ?>"
    <?php else: ?>
        [hidden]="<?= /* @noEscape */ $formScripts->isReviewHasBeenWritten($productId) ?>"
    <?php endif; ?>
    >
        <div class="review__product_title">
            <?= $block->escapeHtml(__('You\'re reviewing: %1', $product->getName())) ?>
        </div>

        <h4><?= $block->escapeHtml(__('How do you rate this product?')) ?></h4>
        <?php foreach ($ratingsData as $ratingId => $ratingData) : ?>
            <?php if (! $isSingleRating) : ?>
                <div class="review__rating-title"><?= $block->escapeHtml(__($ratingData['ratingCode'])) ?></div>
            <?php endif; ?>
            <fieldset class="review__rating-stars rating">
                <div class="review__rating-stars-wrap">
                    <?php $i = 1 ?>
                    <?php foreach ($ratingData['ratingOptions'] as $ratingOption) : ?>
                        <?php $uniqueRatingId = "p{$productId}_r{$ratingOption->getId()}" ?>
                        <input name="rating[<?= /* @noEscape */ $ratingData['ratingId'] ?>]"
                               required
                               type="radio"
                               id="<?= /* @noEscape */ $uniqueRatingId ?>"
                               value="<?= /* @noEscape */ $ratingOption->getId() ?>"
                        />
                        <label for="<?= /* @noEscape */ $uniqueRatingId ?>" title="<?= /* @noEscape */ $i ?> stars">
                            &#9733;
                            <span class="hidden-star">&#9733;</span>
                        </label>
                        <?php $i++ ?>
                    <?php endforeach; ?>
                </div>
            </fieldset>
        <?php endforeach; ?>
        <ul>
            <?php if (! $block->getCustomer()) : ?>
                <li>
                    <label class="review__field review__field--text">
                        <?= $block->escapeHtml(__('Username')) ?><em>*</em>
                        <input
                            class="review__field-element"
                            type="text"
                            name="nickname"
                            value="<?= $block->escapeHtmlAttr(__($block->getGuestName())) ?>"
                            required/>
                    </label>
                </li>
            <?php endif; ?>
            <li>
                <label class="review__field review__field--textarea">
                    <?= $block->escapeHtml(__('Review')) ?><em>*</em>
                    <textarea class="review__field-element" name="detail" autoexpand cols="50" rows="5" required
                              minlength="5"></textarea>
                </label>
            </li>
            <?php if (Option::NO !== $configHelper->getReviewSummaryOption()) : ?>
                <li>
                    <label class="review__field review__field--text">
                        <?= $block->escapeHtml(__('Add a title')) ?>
                        <?php if (Option::REQUIRED === $configHelper->getReviewSummaryOption()) : ?>
                            <em>*</em>
                        <?php endif; ?>
                        <input class="review__field-element" type="text" name="title"
                               <?php if (Option::REQUIRED === $configHelper->getReviewSummaryOption()) : ?>required<?php endif; ?> />
                    </label>
                </li>
            <?php endif; ?>
            <?php if (Option::NO !== $configHelper->getProsAndConsOption()) : ?>
                <li>
                    <label class="review__field review__field--text">
                        <?= $block->escapeHtml(__('Pros')) ?>
                        <?php if (Option::REQUIRED === $configHelper->getProsAndConsOption()) : ?>
                            <em>*</em>
                        <?php endif; ?>
                        <input
                            class="review__field-element"
                            name="pros"
                            <?php if (Option::REQUIRED === $configHelper->getProsAndConsOption()) : ?>required<?php endif; ?>
                        />
                    </label>
                </li>
                <li>
                    <label class="review__field review__field--text">
                        <?= $block->escapeHtml(__('Cons')) ?>
                        <?php if (Option::REQUIRED === $configHelper->getProsAndConsOption()) : ?>
                            <em>*</em>
                        <?php endif; ?>
                        <input
                            class="review__field-element"
                            name="cons"
                            <?php if (Option::REQUIRED === $configHelper->getProsAndConsOption()) : ?>required<?php endif; ?>
                        />
                    </label>
                </li>
            <?php endif; ?>
            <?php if ($configHelper->isEnabledRecommendedToAFriend()) : ?>
                <li>
                    <label for="recommend" class="review__field review__field--text">
                        <?= $block->escapeHtml(__('Do you recommend this product?')) ?>
                    </label>
                    <select
                        class="review__field-element"
                        id="recommend"
                        name="recommend"
                        style="border: 1px solid #c2c2c2; border-radius: 3px; height: 45px; padding: 10px;"
                    >
                        <?php foreach ($block->getRecommendSelect() as $value => $label) : ?>
                            <option value="<?= $value ?>"><?= $label ?></option>
                        <?php endforeach; ?>
                    </select>
                </li>
            <?php endif; ?>
        </ul>

        <button
            class="btn btn--primary"
            [class]="reminder.product<?= /* @noEscape */ $productId ?>.loader == 'show' ? 'btn btn--primary loader' : 'btn btn--primary'"
            type="submit"
        >
            <span class="loader-bar">
                <amp-anim width=32 height=8 src="<?= /* @noEscape */
                $block->getViewFileUrl('Plumrocket_AmpEmail/images/loader.gif') ?>">
                    <amp-img placeholder width=32 height=8 src="<?= /* @noEscape */
                    $block->getViewFileUrl('Plumrocket_AmpEmail/images/loader.png') ?>"></amp-img>
                </amp-anim>
            </span>
            <span><?= $block->escapeHtml(__('Submit Review')) ?></span>
        </button>
    </div>

    <div submit-success class="container-success">
        <template type="amp-mustache">
            <div class="wrapper-success">
                <div class="success-icon">
                    <amp-img placeholder
                             width=160
                             height=150
                             layout="responsive"
                             src="<?= /* @noEscape */ $block->getViewFileUrl('Plumrocket_AdvancedReviewAndReminder/images/successIcon.png') ?>">
                    </amp-img>
                </div>
                <span>{{success}}</span>
                <a class="btn btn--visit" href="<?= /* @noEscape */
                                             $block->getVisitStoreUrl() ?>">
                    <?= $block->escapeHtml(__('Visit Store')) ?>
                </a>
            </div>


        </template>
    </div>

    <div submit-error>
        <template type="amp-mustache">
            {{#error}}
                {{error}}
            {{/error}}
            {{^error}}
                <?= $block->escapeHtml(__('Sorry, something went wrong.')) ?>
                <?= /* @noEscape */ __('Please try post your review on site by clicking on the following link: <a href="%1">Share my review</a>', $block->getShareReviewUrl()) ?>
            {{/error}}
        </template>
    </div>
</form>
