<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

declare(strict_types=1);
/** @var \Plumrocket\AdvancedReviewAndReminder\Block\AmpComponent\Reminder\ProductList $block */
$imageWidth = $block->getImageAttribute('pr_amp_email_product_view', 'width');
$imageHeight = $block->getImageAttribute('pr_amp_email_product_view', 'height');
$formScripts = $block->getFormScripts();
?>
<div class="reminder-products">
    <?php foreach ($block->getProducts() as $product) : ?>
        <?php $productImage = $block->getProductImage($product) ?>
        <?php $productId = (int) $product->getId() ?>
        <div class="reminder-products__product">
            <div class="container-product-img">
                <a href="<?= $block->escapeUrl($product->getProductUrl()) ?>">
                    <amp-img
                        width="<?= $block->escapeHtmlAttr($imageWidth) ?>"
                        height="<?= $block->escapeHtmlAttr($imageHeight) ?>"
                        layout="responsive"
                        [hidden]="<?= /* @noEscape */ $formScripts->isReviewHasBeenWritten($productId) ?>"
                        alt="<?= $block->escapeHtmlAttr($productImage->getLabel()) ?>"
                        src="<?= $block->escapeUrl($productImage->getImageUrl()) ?>">
                    </amp-img>
                </a>
            </div>
            <?php if (! $block->isSingleProduct()) : ?>
                <div class="reminder-products__name"
                     [hidden]="<?= /* @noEscape */ $formScripts->isFormOpen($productId) ?> || <?= /* @noEscape */ $formScripts->isReviewHasBeenWritten($productId) ?>"
                >
                    <a href="<?= $block->escapeUrl($product->getProductUrl()) ?>"><?= $block->escapeHtml($product->getName()) ?></a>
                </div>
                <button
                    class="btn btn--primary"
                    on="tap:<?= /* @noEscape */ $formScripts->openForm($productId) ?>"
                    [hidden]="<?= /* @noEscape */ $formScripts->isFormOpen($productId) ?> || <?= /* @noEscape */ $formScripts->isReviewHasBeenWritten($productId) ?>"
                >
                    <?= $block->escapeHtml(__('Leave a review')) ?>
                </button>
            <?php endif; ?>
            <?= $block->createFormBlock($product)->toHtml() ?>
        </div>
    <?php endforeach; ?>
</div>
