<?php
/**
 * @package     Plumrocket_SocialLoginFree
 * @copyright   Copyright (c) 2015 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>

<?php
/** @var Plumrocket\SocialLoginFree\Block\General $block */
$helper = $this->helper('Plumrocket\SocialLoginFree\Helper\Data');
if (!$helper->moduleEnabled()) {
    return;
}
?>

<script type="text/javascript">
    requirejs(['jquery', 'jquery/jquery.cookie', 'domReady!'], function($) {
        'use strict';

        window.psloginLoginPath = "<?php echo $block->escapeJsQuote($block->getUrl('pslogin/account/login')); ?>";
        window.customerLogoutPath = "<?php echo $block->escapeJsQuote($block->getUrl('customer/account/logout')); ?>";

        var url = document.URL.toLowerCase();
        if (url) {
            var skip = false;
            $.each(<?php echo $block->getSkipModules(); ?>, function(i, path) {
                if (url.indexOf(path) !== -1) {
                    skip = true;
                    return false;
                }
            });

            if (!skip) {
                $.cookie('<?php echo \Plumrocket\SocialLoginFree\Helper\Data::REFERER_QUERY_PARAM_NAME ?>', document.URL, {
                    path: '/'
                });
            }
        }
    });
</script>

<form style="display:none;" class="form"
              action="<?php /* @escapeNotVerified */ echo $block->getUrl('pslogin/account/loginPost', ['_secure' => true]) ?>"
              method="post"
              id="pslogin-login-form"
              >
    <?php echo $block->getBlockHtml('formkey')?>
    <input id="pslogin-login-referer" name="<?php echo \Magento\Customer\Model\Url::REFERER_QUERY_PARAM_NAME ?>" type="hidden" value="" />
    <input id="pslogin-login-submit" type="submit" value="" />
</form>
