<?php
$categories = $block->getCategories();
//$categories = $this->getStoreCategories(true,false,false);
/*$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$categoryFactory = $objectManager->create('Magento\Catalog\Helper\Category');
$categories = $categoryFactory->getStoreCategories(true,false,false);*/
$notToShowWholeCategories = ['Accessories','Devices'];
$notShowCategories = ['Parts'];
/*$categoryIds = [2463,2464,2465,2466,2467,2453,2454,2468,2485,2486,2487,2488,2489,2490,3018,3254,3288,2475,2482,3459,3466,2469,2470,2471,2472,2473,2474.2476,2477,2479,2480,2481,2483,2484,3058,3255,3256,3287,
    3296,3331];*/
	
	/*$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $currentCategoryId = '';
    $category = $objectManager->get('Magento\Framework\Registry')->registry('current_category');//get current category
    if($category){
    $currentCategoryId = $category->getId();
	
	}*/
?>
<div class="category-filter">
    <ul class="o-list items" style="padding:0">
        <?php
        // Loop through categories
        foreach ( $categories as $category ) {
          if(!in_array($category->getName(),$notToShowWholeCategories)){
            ?>
            <?php if(!in_array($category->getName(),$notShowCategories)): ?>
            <li class="level0 item">
                <?php  $isUrl = $category->hasChildren() ? 'javascript:void(0)': $block->getCategoryUrl($category);  ?>
                    <a href="<?php echo $isUrl; ?>" data-urlpath="<?php echo $category->getPath() ?>" data-id="<?= $category->getId() ?>" class=" <?php echo ($category->hasChildren()) ? 'amshopby-filter-parent':'' ?> category-name" title="<?php echo $category->getName(); ?>">
                        <?php echo $category->getName(); ?>
                    </a>
                    <?php /*if ( $category->hasChildren() ) { ?>
                        <span class="cat-collapse-icon"></span>
                    <?php }*/ ?>
            </li>
            <?php endif; ?>
            <?php echo $block->getChildCategoryView($category, $html = '', $level = $category->getLevel() + 1); ?>
        <?php } } ?>
    </ul>
</div> 