<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_StoreCredit
 * @author     Extension Team
 * @copyright  Copyright (c) 2017-2018 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
?>

<?php
// @codingStandardsIgnoreFile

/** @var  $block \Bss\StoreCredit\Block\Customer\Account */
?>

<?php
    $histories = $block->getHistory();
?>
<div class="block block-storecredit">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Current Balance')); ?></strong>
    </div>
    <div class="block-content">
        <span class="label">
            <?= /* @noEscape */ __('Your balance is: %1', $block->getBalanceWebsite()); ?>
        </span>
    </div>
</div>

