// /**
//  * Copyright © 2015 Magento. All rights reserved.
//  * See COPYING.txt for license details.
//  */
& when (@media-common = true) {
	.request-return-authorization-confirmation-continue {
		color: #FF7200;
		font-weight: 600;
		background: #ebebeb;
		display: inline-block;
		cursor: pointer;
		padding: 10.5px 20px;
		letter-spacing: 0.5px;
		font-size: 14px;
		width: auto;
	}
	.return-item-search-form-wrapper {
		.return-item-search-form-input-wrapper {
			float: left;
			padding-right: 10px;
			width: 25%;
		}
		.return-item-search-form {
			.return-item-search-form-control-group {
				.return-item-search-form-label {
					color: #666;
					float: left;
					font-size: 12px;
					font-weight: bold;
					line-height: 41px;
					padding-right: 10px;
					text-transform: uppercase;
					vertical-align: middle;
				}
			}
		}
	}
	.return-authorization-list-container {
		>table.fixed_headers.ra-search-result {
			td {
				&:nth-child(2) {
					width: 100px;
					text-align: center;
				}
				&:nth-child(1) {
					width: 120px;
					text-align: center;
				}
			}
			th {
				&:nth-child(2) {
					width: 100px;
					text-align: center;
				}
				&:nth-child(1) {
					width: 116px;
				}
			}
		}
		>table.fixed_headers {
			th {
				text-align: center;
				font-weight: normal;
				box-sizing: border-box;
				padding: 10px;
				font-size: 13px;
				vertical-align: middle;
			}
			table-layout: fixed;
			border-collapse: collapse;
			table-layout: fixed;
			border-collapse: collapse;
			thead {
				tr {
					display: table-row;
				}
			}
			tbody {
				display: contents;
				overflow-x: auto;
				overflow-y: unset;
				width: 1300px;
				max-height: none;
			}
			.msg-info {
				td {
					width: 100% !important;
				}
			}
			.empty-cell {
				display: block;
				width: 500px;
			}
		}
		border-top: 1px solid #c2c2c2;
		margin-top: 22.5px;
		overflow-y: auto;
		border-top: 1px solid #c2c2c2;
		margin-top: 22.5px;
		overflow-y: auto;
		.return-authorization-list-row-input-comment {
			height: 48px;
			resize: none;
			width: 100%;
			padding: 5px;
			font-size: 13px;
			border: 1px solid #c2c2c2;
			border-radius: 0;
		}
	}
	.return-item-search-form-button {
		text-transform: inherit !important;
		&:hover {
			background: #ebebeb !important;
			color: #FF7200 !important;
			border: none !important;
		}
	}
	#worksheet_grid {
		h2 {
			font-size: 22px;
			color: #231f20;
			font-weight: 400;
		}
		.empty-column {
			text-align: center;
			color: #79777b;
			line-height: 100px;
			vertical-align: middle;
			width: 100%;
		}
	}
	#search_grid_wrapper {
		h2 {
			font-size: 22px;
			color: #231f20;
			font-weight: 400;
		}
		p {
			font-size: 14px;
			color: #414042;
			line-height: 1.6;
		}
	}
	.return-authorization-list-content-table {
		border-bottom: 1px solid #c2c2c2;
		font-size: 14px;
		line-height: 1.8;
	}
	.return-authorization-worksheet {
		.return-authorization-worksheet-actions-wrapper {
			text-align: right;
			.return-worksheet-input-field {
				max-width: 205px;
			}
			.return-worksheet-clear-button {
				&:disabled {
					opacity: 0.6;
					cursor: default;
					color: #666;
					background: #ebebeb;
					border-radius: 0;
					border: none;
					text-transform: uppercase;
					font-weight: 600;
					opacity: 0.6;
					cursor: default;
					color: #666;
					background: #ebebeb;
				}
				display: inline-block;
				height: 40px;
				text-transform: uppercase;
				font-weight: 600;
				border-radius: 0;
			}
			.return-worksheet-submit-button {
				&:disabled {
					background: #ffa55c;
					pointer-events: none;
					border-radius: 0;
					border: none;
					color: #fff;
					height: 40px;
					text-transform: uppercase;
					cursor: default;
					font-weight: 600;
				}
				background: #FF7200;
				border-radius: 0;
				border: none;
				color: #fff;
				height: 40px;
				text-transform: uppercase;
				font-weight: 600;
				&:hover {
					background: #ebebeb;
					color: #FF7200;
					cursor: pointer;
				}
			}
		}
		>p {
			margin-bottom: 10px;
			font-size: 14px;
			color: #414042;
			line-height: 1.6;
		}
	}
	.return-worksheet-input-field {
		display: inline-block;
		margin-right: 10px;
		color: #231f20;
		font-size: 14px;
		border: 1px solid #c2c2c2;
	}
	.ra-search-result {
		.global-views-message-warning {
			color: #8e7728;
			background-color: #f9f5cd;
			position: relative;
			padding: 10px;
			font-size: 12px;
			display: inline-block;
		}
	}
	.global-views-message-error {
		color: #ce0101;
		background-color: #FFE9F1;
		padding: 10px;
	}
	.return-authorization-list-records-list {
		&::-webkit-scrollbar {
			width: 10px;
			height: 10px;
		}
		&::-webkit-scrollbar-thumb {
			background: 0 0;
			background-color: rgba(50,50,50,0.25);
			border: 2px solid transparent;
			border-radius: 10px;
			background-clip: padding-box;
		}
		&::-webkit-scrollbar-track {
			background-color: rgba(50,50,50,0.05);
		}
	}
	.push-button-secondary {
		.return-authorization-worksheet {
			>span {
				margin-bottom: 10px;
				font-size: 14px;
				color: #414042;
				line-height: 1.6;
			}
		}
	}
	.product-details-information-pusher {
		.return-authorization-worksheet {
			>span {
				margin-bottom: 10px;
				font-size: 14px;
				color: #414042;
				line-height: 1.6;
			}
		}
	}
	tbody.return-authorization-list-records-list {
		color: #000;
	}
	.return-authorization-worksheet .return-authorization-list-results-list tr td, .return-authorization-worksheet .return-authorization-list-results-list tr th {
		font-size: 13px;
		vertical-align: middle;
		padding: 10px;
	}

	.return-authorization-worksheet .return-authorization-worksheet-col-date span {
		display: block;
		color: grey;
		font-size: 11px;
	}
	 .return-authorization-list-container>table.fixed_headers.ra-work-sheet th:nth-child(1) {
		width: 88px;
		text-align: center;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet td:nth-child(1){
		width: 110px;
		text-align: center;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet td:nth-child(3) {
		width: 230px;
	}
	 .return-authorization-list-container>table.fixed_headers.ra-work-sheet th:nth-child(3){
		 width:139px;
	 }
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet td:nth-child(4), .return-authorization-list-container>table.fixed_headers.ra-work-sheet th:nth-child(4) {
		width: 45px;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet th:nth-child(5) {
		width: 90px;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet td:nth-child(5){
		width:169px;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet th:nth-child(6) {
		width: 160px;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet td:nth-child(6){
		width: 154px;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet td:nth-child(7), .return-authorization-list-container>table.fixed_headers.ra-work-sheet th:nth-child(7) {
		width: 94px;
		text-align: center;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet th:nth-child(8) {
		width: 121px;
		text-align: center;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet td:nth-child(8){width: 154px;text-align: center;}
	 .return-authorization-list-container>table.fixed_headers.ra-work-sheet th:nth-child(9) {
		width: 94px;
		text-align: center;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet td:nth-child(9){ width: 140px;text-align: center;}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet td:nth-child(10), .return-authorization-list-container>table.fixed_headers.ra-work-sheet th:nth-child(10) {
		width: 65px;
	}
	.return-authorization-worksheet .btn-inner {
		font-size: 16px;
	}
	.return-authorization-worksheet .button-small{margin-top: 2.5px;margin-bottom: 2.5px;}
	.return-authorization-worksheet .btn-inner {
		background-color: #FF7200;
		color: #fff;
		width: 30px !important;
		height: 29px;
		padding: 0px;
		border-radius: 0 !important;
		border:none;
	}
	.return-authorization-list-container>table.fixed_headers.ra-work-sheet td:nth-child(2), .return-authorization-list-container>table.fixed_headers.ra-work-sheet th:nth-child(2) {
		width: 125px;
		text-align: center;
	}
	.return-authorization-list-container>table.fixed_headers.ra-search-result td:nth-child(3), .return-authorization-list-container>table.fixed_headers.ra-search-result th:nth-child(3) {
		width: 120px;
		text-align: center;
	}
	.return-authorization-list-container>table.fixed_headers.ra-search-result td:nth-child(2), .return-authorization-list-container>table.fixed_headers.ra-search-result th:nth-child(2) {
		width: 200px;
		text-align: center;
	}
	.return-authorization-list-container>table.fixed_headers.ra-search-result td:nth-child(4), .return-authorization-list-container>table.fixed_headers.ra-search-result th:nth-child(4) {
		width: 290px;
	}
	.return-authorization-list-container>table.fixed_headers.ra-search-result td:nth-child(5), .return-authorization-list-container>table.fixed_headers.ra-search-result th:nth-child(5) {
		width: 65px;
	}
	.return-authorization-list-container>table.fixed_headers.ra-search-result td:nth-child(6), .return-authorization-list-container>table.fixed_headers.ra-search-result th:nth-child(6) {
		width: 170px;
	}
	.return-authorization-list-container>table.fixed_headers.ra-search-result td:nth-child(7), .return-authorization-list-container>table.fixed_headers.ra-search-result th:nth-child(7) {
		width: 250px;
	}
	.return-authorization-list-container>table.fixed_headers.ra-search-result td:nth-child(8), .return-authorization-list-container>table.fixed_headers.ra-search-result th:nth-child(8) {
		width: 85px;
	}
	.return-authorization-worksheet .return-authorization-worksheet-actions-wrapper.return-border-top {
		border-top: 1px solid #c2c2c2;
		padding-top: 10px;
	}
	.return-authorization-list-container>table.fixed_headers .empty-cell td, .return-authorization-list-container>table.fixed_headers .msg-info td {
		width: 100% !important;
	}
	.return-authorization-worksheet .return-authorization-worksheet-actions-wrapper .return-worksheet-submit-button {
		display: inline-block;
		margin-left: 10px;
		min-width: 120px;
	}
	.return-authorization-worksheet .return-authorization-worksheet-actions-wrapper .return-worksheet-submit-button{width:auto}
	.return-authorization-list-container>table.fixed_headers tbody {
		overflow-y: auto;
		max-height: 405px;
	} 
	.request-return-authorization-confirmation {
		display: block;
		padding: 35px;
		background: #eef7e4;
		margin-bottom: 30px;
	}
	.request-return-authorization-confirmation h2.success-title {
		margin-bottom: 10px;
		
	}
	.request-return-authorization-confirmation-title {
		color: #4a7f35;
		margin: 0 0 10px;
		text-transform: capitalize;
	}
	.request-return-authorization-confirmation h2 {
		font-size: 26px;
		margin-bottom: 20px;
	}
	.request-return-authorization-confirmation-download-pdf{
		color:#fff !important;
	}
	.request-return-authorization-confirmation-body {
		color: #4a7f35;
	}
	.request-return-authorization-confirmation p, .request-return-authorization-confirmation .push-button-secondary span,.request-return-authorization-confirmation span {
		font-size: 18px;
		margin-bottom: 10px;
	}
	.request-return-authorization-confirmation ol {
		list-style: decimal;
		padding: 0px 0px 30px 40px;
	}
	.request-return-authorization-confirmation ol li {
		list-style: inherit;
		font-size: 17px;
		margin-bottom: 6px;
		color: #4a7f35;
	}
	.request-return-authorization-confirmation-download-pdf {
		display: inline-block;
		padding: 12.5px 20px;
		letter-spacing: 0.5px;
		font-size: 14px;
		width: 100%;
		text-align: center;
		line-height: 1;
		text-transform: uppercase;
		color: #fff;
		font-weight: 600;
		background: #575757;
		cursor: pointer;
	}
	.request-return-authorization-confirmation-download-pdf:hover{
		color: #FF7200;
		background: #756c6c;
		text-decoration: none;
	}
	.request-return-authorization-confirmation-continue{
		color: #FF7200;
		font-weight: 600;
		background: #ebebeb;
		display: inline-block;
		cursor: pointer;
		padding: 12.5px 20px;
		letter-spacing: 0.5px;
		font-size: 14px;
		width: auto;
	}
	.request-return-authorization-confirmation-continue:hover{
		background: #FF7200;
		text-decoration: none;
		color:#fff;
	}
	.return-authorization-list-header {
		border-top: 1px solid #c2c2c2;
		padding: 15px 0;
	}
	.return-authorization-detail-title {
		margin-bottom: 20px;
		font-weight: 700;
		font-size: 20px;
	}
	.return-authorization-detail-header-info-left {
		padding: 0;
	}
	.return-authorization-detail-header-info-left{
		width: 33.33333%;
	}
	.return-authorization-detail-header-info-return-date {
		font-weight: 400;
		font-size: 15px;
		margin-bottom: 5px;
	}
	.return-authorization-detail-header-info-return-date {
		font-weight: 400;
		font-size: 15px;
		margin-bottom: 5px;
	}
	.return-authorization-detail-header-info-right{
		width: 66.66667%;float: left;
		text-align: left;
		padding: 0px;
		padding-left: 15px;
		padding-right: 15px;
		position: relative;
		min-height: 1px;
	}
	.return-authorization-detail-summary-col {
		float: right;
		padding-left: 15px;
		padding-right: 0px;
	}
	.return-authorization-detail-summary-col {
		padding: 0px;
	}
	.return-authorization-detail-summary-col{
		width: 33.33333%;
	}
	.return-authorization-detail-header-row {
		margin: 0;
		margin-bottom: 20px;
	}
	.return-authorization-detail-summary-container {
		margin-bottom: 0;
		padding-top: 15px;
	}
	.return-authorization-detail-summary-container{
		border: 1px solid #c2c2c2;
	}
	.return-authorization-detail-summary-total p{
		font-size: 16px;
		font-weight: 700;
		text-transform: capitalize;
	}
	.return-authorization-detail-summary-amount-total{
		float: right;
		padding-right: 15px;
	}
	.return-authorization-detail-summary-grid-float{
		clear: both;
		margin: 0px;
		margin-bottom: 10px;
		padding-left: 15px;
	}
	.return-authorization-detail-summary-subtotal{
		float: right;
		padding-right: 15px;
	}
	.return-authorization-detail-title.inner-title {border-top: 1px solid #c2c2c2;margin-top: 25px;padding-top: 25px;margin-bottom: 15px;}
	.return-authorization-detail-row {
		border-top: 1px solid #c2c2c2;
		margin: 0;
		overflow-y: auto;
	}
	.return-authorization-detail-content-col {
		margin-bottom: 20px;
	}
	.ra-list-wrap {
		width: 1140px;
		overflow-x: auto;
	}.return-authorization-list-content-table {
		display: table-header-group; line-height: normal;
		border-bottom: 1px solid #c2c2c2;
		font-size: 14px;
	}
	.return-authorization-detail-content-col thead tr th {
		font-size: 13px;
		color: #666;
		padding: 5px 10px;
		vertical-align: middle;
		text-align: center;
	}
	.return-authorization-list-results-list th{
		font-weight: 400;
	}
	.ra-list-wrap td:nth-child(2), .ra-list-wrap th:nth-child(2) {
		text-align: center;
	}
	.ra-list-wrap td:nth-child(6), .ra-list-wrap th:nth-child(6) {
		text-align: center;
	}
	.return-authorization-detail-content-col thead tr th:last-child {
		width: 170px;
	}
	.ra-list-wrap .ra-list tr td {
		font-size: 13px;
		padding: 5px 10px;
	}
	.return-authorization-list-records-list tr td {
		display: table-cell;
	}
	.return-authorization-detail-content-col a {
		color: #FF7200;
	}
	.ra-list-wrap td:nth-child(2) a {
		font-weight: bold;
	}
	.return-authorization-detail-content-col a:hover {
		color: #808080;
	}
	.ra-list-wrap td:nth-child(2) small, .ra-list-wrap td:nth-child(2) .invoice-date-legend {
		display: block;
		color: grey;
		font-size: 11px;
	}
	.ra-list-wrap .ra-list tr:nth-child(even) {
		background: #f4f4f2;
	}

	.return-authorization-detail-header-info-status-value {
		color: #FF7200;
	}
	.request-return-authorization-confirmation .ra-num{float:right}
	#returnitems-confirmation-message{display:none}

	.return-authorization-worksheet .return-authorization-worksheet-actions-wrapper .return-worksheet-submit-button {
		width: auto;
	}
}
// 1100 width
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m) {
	.return-item-search-form-wrapper .return-item-search-form-input-wrapper{
		width:50%;
	}
	.return-authorization-list-container > table.fixed_headers .empty-cell {
		display: contents;
		width:100%;
	}
	
}
// 640 width
.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__s) {
	.return-authorization-worksheet .return-authorization-worksheet-actions-wrapper .return-worksheet-input-field{
		max-width:100%;
		display: block;
		margin-bottom: 5px;
	}
	.return-authorization-worksheet .return-authorization-worksheet-actions-wrapper .return-worksheet-clear-button,.return-authorization-worksheet .return-authorization-worksheet-actions-wrapper .return-worksheet-submit-button{
		width:100%;
		margin-bottom:5px;
	}
	.return-authorization-worksheet .return-authorization-worksheet-actions-wrapper .return-worksheet-submit-button {
		margin-left:0px;
	}
	.return-authorization-list-container > table.fixed_headers tbody{width:100%}
	.return-authorization-list-container > table.fixed_headers .empty-cell {
		display: contents;
		width:100%;
	}
	.return-authorization-detail-header-info-left{width:100%;}
	.return-authorization-detail-header-info-right{padding:0}
	.ReturnAuthorizationList tbody.return-authorization-list-records-list tr td{display:block;padding:0}
}