<?php
/**
 * Mega Menu HTML File.
 *
 * @category  Site Search & Navigation
 * @package   Root_Mega_Menu
 * @author    Developer RootwaysInc <developer@rootways.com>
 * @copyright 2017 Rootways Inc. (https://www.rootways.com)
 * @license   Rootways Custom License
 * @link      https://www.rootways.com/shop/media/extension_doc/license_agreement.pdf
*/

$categories = $this->getStoreCategories(true,false,true);
$categoryHelper = $this->getCategoryHelper();
$_objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$helper = $this->helper('Rootways\Megamenu\Helper\Data');
$storeManager = $_objectManager->get('\Magento\Store\Model\StoreManagerInterface');
$base_url = $storeManager->getStore()->getBaseUrl();

if ($helper->getConfig('rootmegamenu_option/general/enable') == 1) { ?>
    <div class="page-main rrr">
        <nav class="rootmenu" data-action="navigation">
            <ul id="rw-menutop" class="mobile-sub rootmenu-list">
                <?php if ($helper->getConfig('rootmegamenu_option/general/show_home_link') == 1) { ?>
                    <li><a <?php if ( $this->getIsHomePage() == 1 ) { echo 'class="active"'; } ?>href="<?php echo $base_url;?>" title="Home" ><span class="fa fa-home homeicon"></span><em><?php echo __('Home');?></em></a></li>
                <?php }
                echo $this->viewAllCategoriesHTML();
                $view_more_array = array();
                $main_cat_cnt = 1;
                foreach ($categories as $category) {
                    $main_category_load = $_objectManager->create('Magento\Catalog\Model\Category')->load($category->getId());
                    echo $this->getCustomLinks($main_category_load->getId());
                    
                    if ($helper->getConfig('rootmegamenu_option/general/show_view_more') == 1) {
                        if ($helper->getConfig('rootmegamenu_option/general/view_more') == '') {
                            $view_more_after = 8;
                        } else {
                            $view_more_after = $helper->getConfig('rootmegamenu_option/general/view_more');
                        }
                        if ($main_cat_cnt > $view_more_after) {
                            $view_more_array[$main_category_load->getName()] = $main_category_load->getURL();
                            continue;
                        }
                    }
                    
                    if (!$main_category_load->getIsActive()) {
                        continue;
                    }
                    $active_cls = $this->_getMenuItemAttributes($category);
                    //file_put_contents('vishmenu.txt','ELSE = '.$request->getFullActionName().print_r($item->getId(), true), FILE_APPEND);
                    $custom_cls = '';
                    if ($main_category_load->getMegamenuTypeClass() != '') {
                       $custom_cls .= $main_category_load->getMegamenuTypeClass();
                    }
                    if ($main_category_load->getMegamenuTypeHalfPos() == 1) {
                       $custom_cls .= ' dropdown_left';
                    }
                    if ($custom_cls == '') {
                        $custom_cls .= 'nav-'.$main_cat_cnt.' category-item';
                    } else {
                        $custom_cls .= ' nav-'.$main_cat_cnt.' category-item';
                    }
                    if ($main_category_load->getMegamenuType() == 2) {
                         $custom_cls .= ' rw-vertical-menu';
                    }
                    ?>
                    <li class="<?php echo $custom_cls; ?>">
                       <a class="<?php echo $active_cls; ?>" href="javascript:void(0)<?php //echo $categoryHelper->getCategoryUrl($main_category_load) ?>">
                            <?php if ( $helper->getConfig('rootmegamenu_option/general/topmenu_icon') == 1 && $main_category_load->getImageUrl() != '') { ?>
                                <span class="main-category-name">
                                    <i class="main-category-icon"><img src="<?php echo $main_category_load->getImageUrl(); ?>"/></i>
                                    <em><?php echo $category->getName();?></em>
                                </span>
                            <?php } else {
                                echo $main_category_load->getName();
                            } ?>
                           <?php if ( $main_category_load->getMegamenuTypeLabeltx() != '' ) {
                                echo '<span class="roottag"><em class="rootmenutag" style="background-color: #'.$main_category_load->getMegamenuTypeLabelclr().'">'.$main_category_load->getMegamenuTypeLabeltx().'</em></span>'; 
                            } ?>
							<span class="cat-arrow"></span>
                        </a>
                        <?php
                        if ($main_category_load->getMegamenuType() == 1) {
                            echo $this->simpletMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 2) {
                            echo $this->megadropdown($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 3) {
                            echo $this->dropdownTitle($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 4) {
                            echo $this->halfMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 5) {
                             echo $this->halfTitleMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 6) {
                             echo $this->fullWidthMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 7) {
                            echo $this->fullTitleMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 8) {
                            echo $this->tabMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 9) {
                            echo $this->tabHorizontal($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 10) {
                            echo $this->productMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 14) {
                            echo $this->categoryProductMenu($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 11) {
                            echo $this->multiTabbing($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 12) {
                            echo $this->halfMenuContentOnly($category, $main_cat_cnt);
                        } elseif ($main_category_load->getMegamenuType() == 13) {
                            echo $this->fullWidthContentOnly($category, $main_cat_cnt);
                        } else {
                            echo $this->simpletMenu($category, $main_cat_cnt);
                        } ?>
                    </li>
                    <?php $main_cat_cnt++; ?>
                <?php } ?>

                <?php echo $this->getCustomLinks(false);?>

                <?php if ($helper->getConfig('rootmegamenu_option/general/show_contactus') == 1 ||
                        $helper->getConfig('rootmegamenu_option/general/show_contactus') == 2) { ?>
                     <?php echo $this->contactus(); ?>
                <?php } ?>

                <?php if ( $view_more_array != NULL ) { ?>
                    <li class="level0-view-more">
                        <a class="has-sub-cat" href="javaScript:void(0);"><?= __('View More') ?> <i aria-hidden="true" class="fa fa-angle-down"></i></a>
                        <ul class="rootmenu-submenu topmenu_main dropdown-leftside">
                            <?php foreach ( $view_more_array as $key => $value ) { ?>
                                <li><a href="<?=$value?>"><?=$key?></a></li>
                            <?php } ?>
                        </ul>
                    </li>
                <?php } ?>
                <?php /* ?>
                <li>
                <?php echo $this->getChildHtml("store_language_nav"); ?>
                </li>
                <?php */ ?>
            </ul>
            <?php if( $this->act() != '' ) {
                echo $act_data = base64_decode($this->act());
            } ?>
        </nav>

    </div>
    <span class="hotline test" style="text-align:center;"><i class="fa fa-phone" aria-hidden="true"></i><span style="font-weight: 600;color:#707070">+1-877-614-1001</span></span>
<?php } else { ?>
   
    <?php $columnsLimit = $block->getColumnsLimit() ?: 0; ?>
    <?php $_menu = $block->getHtml('level-top', 'submenu', $columnsLimit) ?>

    <nav class="navigation" data-action="navigation">
        <ul data-mage-init='{"menu":{"responsive":true, "expanded":true, "position":{"my":"left top","at":"left bottom"}}}'>
            <?php /* @escapeNotVerified */ echo $_menu; ?>
            <?php /* @escapeNotVerified */ echo $block->getChildHtml(); ?>
        </ul>
    </nav>
<?php }
