<?php
    $_helper = $this->helper('Smartwave\Porto\Helper\Data');
    $header_type = $this->getConfig('porto_settings/header/header_type');
    $header_new_skin = $this->getConfig('porto_settings/header/new_skin');
    $class = $header_type == 17 || $header_type == 19 || $header_type == 16 || $header_type == 20 || $header_type == 21 || $header_type == 22 || $header_type == 25 || $header_type == 26 || $header_type == 27 ? 'header-newskin':'';
    if(isset($header_new_skin) && $header_new_skin && ($header_type == 2 || $header_type == 5 || $header_type == 6 || $header_type == 7 || $header_type == 8 || $header_type == 13))
        $class = 'header-newskin';
    if(isset($header_new_skin) && $header_new_skin && $header_type == 10)
        $class = 'header-new-skin';
    $show_notice = $this->getConfig('porto_settings/general/show_site_notice');

    if ($show_notice && $show_notice == 1)
        echo $this->getChildHtml("porto_custom_notice");
?>
<header class="page-header type<?php echo $header_type; ?> <?php echo $class;?>" >
<?php echo $this->getChildHtml("header_customer_form_login"); ?>
<?php if($header_type == 2 && isset($header_new_skin) && $header_new_skin): ?>
    <?php
    $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
    $mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
                    ->getStore()
                    ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$ship_icon = $mediaPath."/porto/web/images/shipping.png";
$warranty = $mediaPath."/porto/web/images/warranty.png";
$cut_off = $mediaPath."/porto/web/images/cut-off.png";
$quick_order = $mediaPath."/porto/web/images/shopping-bag.svg";
$mobilelogo = $mediaPath."/porto/web/images/mobilelogo.png";
 ?>
    <div class="main-panel-top">
        <div class="container">
        <script type="text/javascript">
       
            require([
                'jquery'
            ], function ($) {
                hideShowButton();
        jQuery(window).bind("load resize", function() {
            hideShowButton();
        });
                 
                    function hideShowButton(){
                    var w_width = parseInt(jQuery( window ).width());
                    if(w_width > 1000) {
                        jQuery(".main-panel-inner").show();
                    }else{
                        jQuery(".main-panel-inner").hide();
                    }
                }
            });
            </script>
            <div class="main-panel-inner" style="display:none">
                <div class="panel wrapper">
                    <div class="panel header">
                        <?php echo $this->getChildHtml("skip_to_content"); ?>
                       
                        <?php echo $this->getChildHtml("store_language"); ?>
                        <div class="store-info">
                        <span><img style="margin-left:0;width: 23px;"src="<?= $ship_icon ?>"  /><?= __('Free Shipping on orders over ')?><span style="color:#707070;font-weight:600;">$400</span></span>
                        <span ><img src="<?= $warranty ?>" style="width: 16px;"/><?= __('Lifetime Warranty On Parts') ?></span>
                        <span><img src="<?= $cut_off ?>"  style="width: 20px;vertical-align: middle;" /><?= __('Up to ') ?><span style="color:#707070;font-weight:600;">8pm</span><?= __(' order Cutoffs')?></span>
                        </div>
                        <?php echo $this->getChildHtml("header.links"); ?>
                        <?php //echo $this->getChildHtml("currency"); ?>
                    </div>
                </div>
            </div>
          
        </div>
    </div>
    <div class="header content">
        <?php echo $this->getChildHtml("logo"); ?> 
        <span data-action="toggle-nav" class="action nav-toggle"><img src="<?php echo $block->getUrl('media/wysiwyg/')?>thicon.png" class="img-responsive" alt=""></span>
        <div class="mobile-logo" style="display:none">
            <strong class="logo">
                <a class="logo" href="<?php echo $block->getUrl(''); ?>" title="<?php /* @escapeNotVerified */ echo $block->getStoreName(); ?>"><img src="<?= $mobilelogo ?>" alt="" ></a>
            </strong>
        </div>
       
        <!-- <span data-action="toggle-nav" class="action nav-toggle"><span><?php echo __('Menu') ?></span></span> -->

                



        
        <a href="<?php echo $_helper->getBaseLinkUrl(). 'wishlist' ?>" class="action my-wishlist" title="My Wish List" role="button"><i class="porto-icon-heart-empty"></i></a>
        <?php echo $this->getChildHtml("top.search"); ?>
        <ul class="header-rightbar">
         <li class="minicart-li">
          <?php echo $this->getChildHtml("minicart"); ?>
          </li>
          <li> 
              <ul class="quick-order-header">
              <li><img src="<?= $quick_order ?>"  style="vertical-align: middle;" /></li>
              <li class="quick-order-label"><?= __('Quick Order') ?></li>
              </ul>
          </li>
        <li style="margin-left: 0%;">
        <?php 
        echo $this->getLayout()
          ->createBlock('Magento\Customer\Block\Account\Customer')
          ->setTemplate('Magento_Customer::account/customer.phtml')
          ->toHtml();?>
        <?php echo $this->getLayout()
          ->createBlock('Magento\Customer\Block\Account\AuthorizationLink')
          ->setTemplate('Magento_Customer::account/link/authorization.phtml')
          ->toHtml(); ?>
          </li> 
          </ul>
        <?php //echo $this->getChildHtml("custom_block"); ?>
    </div>
    
    <?php echo $this->getChildHtml("navigation.sections"); ?>
    <?php endif; ?>



    
</header><?php
    if($show_notice && $show_notice == 2)
        echo $this->getChildHtml("porto_custom_notice");
    
?>
<div class="mfp-wrap mfp-close-btn-in mfp-auto-cursor mfp-ready" style="background:#00000061;display: none;position: fixed;
    z-index: 999999;
    width: 100%;
    bottom: 0;
    overflow-y: scroll;
    top:0%;">
    <div class="mfp-container mfp-s-ready mfp-inline-holder"><div class="mfp-content">
        <div class="product-notification" >
            <div><button type="button" style="float: right;clear: both;display: block;" class="close-notification-popup" data-dismiss="modal" aria-hidden="true"> × </button></div>
            <div class="global-views-modal-header-title"><h2 class="global-views-modal-content-header-title"> Availability Notice </h2> </div> <div id="modal-body" data-type="modal-body" class=" global-views-modal-content-body" data-view="Child.View"><!-- TEMPLATE STARTS: global_views_notify_popup-->
            <div class="global-views-notify-popup-body   global-views-modal-content-body"><div data-view="ChildViewMessage"><!-- TEMPLATE STARTS: product_line_stock_notify-->
            <div id="in-modal-backInStock"><div class="login-register-login-header-form-controls-group">
            <div class="desire-quantity"><label> Desired Quantity: </label></div>
            <!-- <div class="name-sku-inner-qty">     
                <a class="alo_qty alo_qty_dec ajax-cart-qty-minus minicart_qty_minus" href="javascript:void(0)">-</a>
                <input type="number" class="item-qty input-text" value="0" name="requested_qty" autocomplete="off" id="requested_qty" data-validate="{required:true}" aria-required="true"/>
                <input name="notify_product_id" type="hidden" id="notify_product_id" title="product_id" />
                <a class="alo_qty alo_qty_inc ajax-cart-qty-plus minicart_qty_plus" href="javascript:void(0)">+</a>
            </div> -->
            <div class="qty-box">
                <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                <input type="number" class="item-qty input-text" value="1" name="requested_qty" autocomplete="off" id="requested_qty" data-validate="{required:true}" aria-required="true"/>
                <input name="notify_product_id" type="hidden" id="notify_product_id" title="product_id" />
                <a href="javascript:void(0)" class="qtyplus plusqty"><i class="porto-icon-plus"></i></a>
            </div>    
            <label class="email-address-field"> Email Address </label>
            <div class="control email-address-control">
                <input type="email" placeholder="">
            </div>
            <div class="actions-toolbar">
            <div class="primary"><button type="button" class="action login primary" name="save_notification" id="save_notification"><span>CONFIRM</span></button></div>
        </div>
           
            <div id="in-modal-ErrorDiv" data-type="alert-placeholder" class="login-register-login-form-messages"></div></div>  
        <!-- TEMPLATE ENDS: product_line_stock_notify --></div>
        <div class="message-success success message" style="display:none;">Thank you for your interest in the availability of this item. As soon as it is back in stock, you will receive <span>an email notification.</span></div>
    </div> </div> 
            </div>
            </div>
        </div>                      
    </div>
</div>
<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        jQuery(window).bind("load resize", function() { 
            var w_width = parseInt(jQuery( window ).width());
            if(w_width > 1000) {
                jQuery(".main-panel-inner").show();
            }else{
                jQuery(".main-panel-inner").hide();
            }
            });
        jQuery(document).on('click','.close-notification-popup',function(){
            jQuery(this).parents('.mfp-close-btn-in').hide();
             jQuery('#requested_qty').val(0);
        });
        jQuery(document).on('click','button.notify-product',function(){
            jQuery('.product-notification').find('button#save_notification span').html('Confirm');
            jQuery('.product-notification').find('.message-success').hide();        
            jQuery('.product-notification').find('button#save_notification').attr("disabled", false);
            jQuery('.mfp-close-btn-in').find('#notify_product_id').val(jQuery(this).attr('out-of-stock-product-id'));
            jQuery('.mfp-close-btn-in').show();
        });
        jQuery(document).on('click','button#save_notification',function(){
            var productId = jQuery('#notify_product_id').val();
            var productQty = jQuery('#requested_qty').val();
            if(!productQty || !productQty  || !$.isNumeric(productQty) ){
                alert('Invalid Product or Qty.');
                return false;
            }
            jQuery('.product-notification').find('button#save_notification span').html('PROCESSING...');
            jQuery('.product-notification').find('button#save_notification').attr("disabled", true);
            $.ajax({
                    type: 'post',
                    url: '<?php echo $block->getUrl('outofstocknotify/index/save') ?>',
                    data: {product_qty:productQty,product_id:productId},

                    beforeSend: function () {
                        $('body').trigger('processStart');
                    },
                    success: function (response) {
                        if(response.success == true){
                            jQuery('.product-notification').find('button#save_notification span').html('Sucess!');
                            jQuery('.product-notification').find('button#save_notification').attr("disabled", true);
                            jQuery('.product-notification').find('.message-success').show();  
                            // jQuery('#requested_qty').val(null);
                            jQuery('#notify_product_id').val(null);
                            
                        }else{
                            alert(response.message);
                        }
                        console.log(response);
                       
                        $('body').trigger('processStop');
                    }
                });
        }); 
        jQuery(document).on('click','.minicart-wrapper',function(){
            jQuery(this).toggleClass('active');
            jQuery(this).find('.showcart').toggleClass('active');
            jQuery(this).find('mage-dropdown-dialog').toggle();
            
        });         
    });
</script>






<script type="text/javascript">
    require([
        'jquery'
    ], function ($) {
        jQuery(window).scroll(function(){
  if (jQuery(window).scrollTop() >= 10) {
    jQuery('.page-header').addClass('fixed');
    jQuery('.main-panel-top').hide();

    // jQuery('.page-header').slideup();

   }
   else {
    jQuery('.page-header').removeClass('fixed');
    jQuery('.main-panel-top').show();

   }
});




// jQuery('.tabbing_lev4 li .arrow').click(function(){

// jQuery(this).toggleClass('arrowdevup');

// });




// jQuery('.megamenu').mouseover(function(){
//     jQuery('body').toggleClass('noscroll');
// });


// jQuery('.vertical-menu').mouseover(function(){
//     jQuery('body').toggleClass('noscroll');
// });


// jQuery('.verticalopen').mouseover(function(){
//     jQuery('body').toggleClass('noscroll');
// });


// jQuery('.padding-zero').mouseover(function(){
//     jQuery('body').toggleClass('noscroll');
// });










    });
</script>

<script type="text/javascript">
    require([
        'jquery',
        ], function ($) {
         $(function(){

        $('.qtyplus').on('click',add);
        $('.qtyminus').on('click',remove);

    });


    function add(){

    var input = $('#requested_qty'),
    value = input.val();
    
    input.val(++value);

    if(value > 0){
    $('.qtyplus').removeAttr('disabled');
   }

 }


 function remove(){

    var input = $('#requested_qty'),
    value = input.val();
    
   if(value > 0){
   input.val(--value);
   }else{
   $('.qtyminus').attr('disabled','disabled');
   }

 }
}); 
</script>