<div class="block block-customer-login block-header-customer-login">
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
              method="post"
              id="header-login-form"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <fieldset class="fieldset login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                <div class="field email required">
                    <div class="control">
                        <input name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}" placeholder="<?php /* @escapeNotVerified */ echo __('Email') ?>">
                    </div>
                </div>
                <div class="field password required">
                    <div class="control">
                        <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true}" placeholder="<?php /* @escapeNotVerified */ echo __('Password') ?>">
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?php /* @escapeNotVerified */ echo __('Sign In') ?></span></button></div>
                    <div class="secondary"><p><a class="action remind" href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></span></a></p></div>
                </div>
            </fieldset>
        </form>
    </div>
	<br/>
	<div class="login-register-new-customer"><p style="color:#999999;float:left">New Customer?</p><br/>
	<a style="background-color: #FF7200;text-decoration: none;color: #fff;padding: 3.5%;clear: both;
    overflow: hidden;
    float: left;" href="<?php echo $this->getUrl('customer/account/create') ?>"> Register Now! </a></div>
</div>
<?php $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
?>

<?php if(!$customerSession->isLoggedIn()): ?>
<div class="mfp-bg mfp-ready" style="display:none;"></div>
	<div id="popup-login-for-price" style="display:none;top: 100px;
    left: 50%;
    bottom: 0;
    right: 50%;
    z-index: 2000;
    position: fixed;
    width: 350px;
    overflow: hidden;
    height: 100%;">
		<button title="Close (Esc)" type="button" class="mfp-close close-login-popup">×</button>
		<div style="width: 100%;
		background: #fff;
		padding: 51px;" >
			<div class="block-content">
				<form class="form form-login"
					  action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
					  method="post"
					  id="priceshow-login-form"
					  data-mage-init='{"validation":{}}'>
					<?php echo $block->getBlockHtml('formkey'); ?>
					<fieldset class="fieldset login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
						<div class="field email required">
							<div class="control">
								<input name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}" placeholder="<?php /* @escapeNotVerified */ echo __('Email') ?>">
							</div>
						</div>
						<div class="field password required">
							<div class="control">
								<input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true}" placeholder="<?php /* @escapeNotVerified */ echo __('Password') ?>">
							</div>
						</div>
						<div class="actions-toolbar">
							<div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?php /* @escapeNotVerified */ echo __('Sign In') ?></span></button></div>
							<div class="secondary"><p><a class="action remind" href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></span></a></p></div>
						</div>
					</fieldset>
				</form>
			</div>
			<br/>
			<div class="login-register-new-customer"><p style="color:#999999;float:left">New Customer?</p><br/>
			<a style="    background-color: #FF7200; text-decoration: none;color: #fff;padding: 3.5%;clear: both;overflow: hidden;margin-bottom: 20px;display: block;width: 110px;" href="<?php echo $this->getUrl('customer/account/create') ?>"> Register Now! </a></div>
		</div>
	</div>
	
<?php  endif; ?>
<script type="text/javascript">
require([
    'jquery'
], function ($) {
    $(document).ready(function(){
        var href = $(".header.links .authorization-link > a").attr("href");
        if(href.indexOf("logout") == -1) {
            $(".block-header-customer-login").detach().appendTo(".authorization-link");
            $(".block-header-customer-login").click(function(e){
                e.stopPropagation();
            })
            $("html,body").click(function(){
                if($(".block-header-customer-login").hasClass("open"))
                    $(".block-header-customer-login").removeClass("open");
            });
            $(".header.links .authorization-link > a").off("click").on("click", function(){
                if(!$(".block-header-customer-login").hasClass("open"))
                    $(".block-header-customer-login").addClass("open");
                else
                    $(".block-header-customer-login").removeClass("open");
                    
                return false;
            });
        }
    });
	$(document).on('click',".show-login-form",function(){
		$('#popup-login-for-price').show();
		$('#popup-login-for-price').prev().show();
	});
	$(document).on('click',".close-login-popup",function(){
		$('#popup-login-for-price').hide();
		$('#popup-login-for-price').prev().hide();
	});
		
});
</script>