<div class="block block-customer-login block-header-customer-login">
    <div class="block-content" aria-labelledby="block-customer-login-heading">
        <form class="form form-login"
              action="<?php /* @escapeNotVerified */ echo $block->getUrl('customer/ajax/login') ?>"
              method="post"
              id="header-login-form1"
              data-mage-init='{"validation":{}}'>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <input type="hidden" name="redirect_url" value="<?php echo $this->getUrl('*/*/*', ['_current' => true, '_use_rewrite' => true]); ?>" />
            <fieldset class="fieldset login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
            <div class="messages"></div>
                <div class="field email required">
                <label for="email_address" style="    text-align: left;
    display: block;
    text-transform: capitalize;
    color: #000;
    font-weight: normal;" class="label"><span>Email Address</span></label>
                    <div class="control">
                        <input name="username" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}" placeholder="<?php /* @escapeNotVerified */ echo __('your@email.com') ?>">
                    </div>
                </div>
                <div class="field password required">
                <label for="password" class="label" style="    text-align: left;
    display: block;
    text-transform: capitalize;
    color: #000;
    font-weight: normal;"><span>Password</span></label>
                    <div class="control">
                        <input name="password" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true}" >
                    </div>
                </div>
                <div class="actions-toolbar">
                    <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?php /* @escapeNotVerified */ echo __('Sign In') ?></span></button></div>
                    <br/><br/><br/><div class="secondary"><a class="action remind" href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></span></a></div>
                </div>
            </fieldset>
        </form>
    </div>
    <br>
			<div class="login-register-new-customer"><p style="float:left;    margin: 0 0 10px;
    color: #666;">New Customer?</p><br>
			<a style="background-color: #FF7200;
    text-decoration: none;
    color: #fff;
    padding: 4% 5.5%;
    clear: both;
    overflow: hidden;
    display: block;
    width: 55%;
    text-align: center;
    font-size: 14px;" href="<?php echo $this->getUrl('customer/account/create') ?>"> Register Now! </a></div>
</div>
<div class="mfp-bg mfp-ready" style="display:none;"></div>
<div id="popup-login-for-price" style="display:none;top: 100px; left: 50%; bottom: 0px; right: 50%; z-index: 2000; position: fixed; width: 350px; overflow: hidden; height: 100%;">
		<button title="Close (Esc)" type="button" class="mfp-close close-login-popup">×</button>
		<div style="width: 100%;
		background: #fff;
		padding: 51px;">
			<div class="block-content" aria-labelledby="block-customer-login-heading">
                <form class="form form-login"
                    action="<?php /* @escapeNotVerified */ echo $block->getPostActionUrl() ?>"
                    method="post"
                    id="priceshow-login-form"
                    data-mage-init='{"validation":{}}'>
                    <?php echo $block->getBlockHtml('formkey'); ?>
                    <fieldset class="fieldset login" data-hasrequired="<?php /* @escapeNotVerified */ echo __('* Required Fields') ?>">
                        <div class="field email required">
                            <div class="control">
                                <input name="login[username]" value="<?php echo $block->escapeHtml($block->getUsername()) ?>" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> id="email" type="email" class="input-text" title="<?php /* @escapeNotVerified */ echo __('Email') ?>" data-validate="{required:true, 'validate-email':true}" placeholder="<?php /* @escapeNotVerified */ echo __('Email') ?>">
                            </div>
                        </div>
                        <div class="field password required">
                            <div class="control">
                                <input name="login[password]" type="password" <?php if ($block->isAutocompleteDisabled()) :?> autocomplete="off"<?php endif; ?> class="input-text" id="pass" title="<?php /* @escapeNotVerified */ echo __('Password') ?>" data-validate="{required:true}" placeholder="<?php /* @escapeNotVerified */ echo __('Password') ?>">
                            </div>
                        </div>
                        <div class="actions-toolbar">
                            <div class="primary"><button type="submit" class="action login primary" name="send" id="send2"><span><?php /* @escapeNotVerified */ echo __('Sign In') ?></span></button></div>
                            <div class="secondary"><a class="action remind" href="<?php /* @escapeNotVerified */ echo $block->getForgotPasswordUrl() ?>"><span><?php /* @escapeNotVerified */ echo __('Forgot Your Password?') ?></span></a></div>
                        </div>
                    </fieldset>
                </form>
            </div>
			<br>
			<div class="login-register-new-customer"><p style="color:#999999;float:left">New Customer?</p><br>
			<a style="background-color: #FF7200;
    text-decoration: none;
    color: #fff;
    padding: 4%;
    clear: both;
    overflow: hidden;
    display: block;
    width: 123px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;" href="<?php echo $this->getUrl('customer/account/create') ?>"> Register Now! </a></div>
		</div>
    </div>
<script type="text/javascript">
require([
    'jquery'
], function ($) {
    $(document).ready(function(){
        
        if($(".header.links .authorization-link > a").length > 0) {
            //var href = $(".header.links .authorization-link > a").attr("href");
            //href.indexOf("logout") == -1 
            $(".block-header-customer-login").detach().appendTo(".authorization-link");
            $(".block-header-customer-login").click(function(e){
                e.stopPropagation();
            })
            $("html,body").click(function(event){
                var clickover = $(event.target);
                if($(".block-header-customer-login").hasClass("open") && !clickover.hasClass('swatch-option'))
                    $(".block-header-customer-login").removeClass("open");
            });
            $(".header.links .authorization-link > a").off("click").on("click", function(){
                if(!$(".block-header-customer-login").hasClass("open")){
                    $(".toogle-header").next('ul').hide();
                    $(".toogle-header").removeClass('active');
                    $(".block-header-customer-login").addClass("open");
                }else{
                    $(".block-header-customer-login").removeClass("open");
                }    
                return false;
            });
        }
       /* $(document).on('click',".show-login-form",function(){
		$('#popup-login-for-price').show();
		$('#popup-login-for-price').prev().show();
        });*/
        $(document).on('click',".close-login-popup",function(){
            $('#popup-login-for-price').hide();
            $('#popup-login-for-price').prev().hide();
        });
    });
});
</script>