<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
?>

<?php
/**
 * @var \Plumrocket\AdvancedReviewAndReminder\Helper\Data $helper
 * @var \Plumrocket\AdvancedReviewAndReminder\Helper\ReminderConfig $reminderConfig
 * @var \Magento\Catalog\Helper\Image $imageHelper
 */
$helper = $this->helper(\Plumrocket\AdvancedReviewAndReminder\Helper\Data::class);
$reminderConfig = $this->helper(\Plumrocket\AdvancedReviewAndReminder\Helper\ReminderConfig::class);
$imageHelper = $this->helper(\Magento\Catalog\Helper\Image::class);
?>

<table cellspacing="0" cellpadding="0" border="0" style="width: 640px;">
    <tr>
        <td valign="top">
            <table cellspacing="0" cellpadding="0" border="0"  border="0">
                <?php foreach ($block->getProducts() as $_product) : ?>
                <tr>
                    <td
                        align="left"
                        valign="middle"
                        style="border-top: 1px solid #C4C4C4; height: 170px; width: 170px;"
                    >
                        <img
                            src="<?php echo $imageHelper->init($_product, 'product_base_image')
                                    ->setImageFile($_product->getFile())
                                    ->resize(300)
                                    ->getUrl();
                                ?>"
                            style="width: 150px; height: 150px;" />
                    </td>


                    <?php if ($reminderConfig->isSingleFormEnabled()) : ?>
                        <?php $url = $this->getReminderStore()->getBaseUrl() .'advancedrar/review/leavereview/id/' .  $_product->getId() . '/'; ?>
                    <?php else : ?>
                        <?php $url = $_product->getProductUrl();?>
                    <?php endif; ?>

                    <?php $_url = $helper->addSecretToUrl($url, $block->getCustomer(), $block->getReminder()); ?>
                    <td align="left" valign="middle" style="border-top: 1px solid #C4C4C4; width:324px;">
                        <span style="font-size: 18px;"><?= $block->escapeHtml($_product->getName()) ?></span><br />
                        <a href="<?php echo $_url ?>#arar-form-add" target="_blank" style="
                        display: inline-block; color: #ffffff; background-color: #2196F3; text-decoration: none; text-transform: uppercase; font-size: 14px; font-weight: bold; padding: 5px 12px; border-radius: 4px; margin-top: 6px;"><?php echo __('share my review');?></a>
                    </td>
                </tr>
                <?php endforeach; ?>
                <tr>
                    <td align="center" valign="middle" style="border-top: 1px solid #C4C4C4; height: 1px; width: 110px;"> </td>
                    <td align="left" valign="middle" style="border-top: 1px solid #C4C4C4;"> </td>
                </tr>
                <tr>
                    <td colspan="2" style="padding: 15px 0px;" align="left">
                        <p style="font-size:12px; line-height:16px; margin:0 0 20px 0;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><?= __('In the event that there was any issue with our order or you were not 100&#37; completely satisfied with your shopping experience and / or product, please <a href="%1" style="color: #3600eb;">contact us directly</a> instead of using the product review page.', $this->getReminderStore()->getBaseUrl() . 'contact/'); ?></p>
                        <p style="font-size:12px; line-height:16px; margin:0 0 20px 0;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><?= __('Thank you for your business and more importantly for taking the time to share your experience with our company and our products.'); ?></p>
                        <p style="margin:0 0 20px 0;">
                        </p>
                    </td>
                </tr>
            </table>
        </td>

        <td style="padding: 0 0 0 7px">&nbsp;</td>
        <?php
        /** @var array $relatedProducts */
        $relatedProducts = is_array($block->getRelatedProducts())
            ? $block->getRelatedProducts()
            : $block->getRelatedProducts()->getItems();
        ?>
        <?php if (! empty($relatedProducts)) : ?>
        <td style="border-left: 1px solid #C4C4C4; padding: 0 0 0 7px">&nbsp;</td>
        <?php endif; ?>

        <td valign="top">
            <table cellspacing="0" cellpadding="0" border="0">

                <?php
                if (! empty($relatedProducts)) {
                    foreach ($relatedProducts as $_relatedProduct) {
                        if (! $_relatedProduct->getFinalPrice()) {
                            continue;
                        }
                        $relatedProduct = $_relatedProduct;
                        break;
                    }

                    if (empty($relatedProduct)) {
                        $relatedProduct = reset($relatedProducts);
                    }

                    if ($relatedProduct->getId()) {
                ?>
                    <?php
                        $_url = $helper->addSecretToUrl($relatedProduct->getProductUrl(), $block->getCustomer(), $block->getReminder());
                        $name = $block->escapeHtml($relatedProduct->getName());
                    ?>
                    <tr>
                        <td align="center" valign="middle" style="">
                            <h3 style="padding-top: 20px;  font-size: 14px;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;"><?= __('Featured Product') ?></h3>
                            <a href="<?= $_url ?>" style="font-size:14px; line-height:20px; color: #3600eb;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">
                            <img src="<?= $imageHelper->init($relatedProduct, 'product_base_image')->setImageFile($relatedProduct->getFile())->resize(157*2, 221*2)->getUrl(); ?>" style=" border: none; width:157px; height:221px;" /><br /><br />
                            <?= $name ?>
                            </a>
                        </td>
                    </tr>
                <?php } ?>
                <?php } ?>
            </table>
        </td>
    </tr>
</table>
