.autocomplete-suggestions {
	max-height: 4999px;
	border: 1px solid #bbb;
	border-top: none;
	overflow: auto;
	background: #fff;
	cursor: default;
}
.autocomplete-suggestion {
  cursor: pointer;
  overflow: hidden;
  padding: 10px 5px 10px 5px;
  font-size: 1.2em;
  border-bottom: 1px solid #eee;
  display: block;
}

input#searchauto {
  border: 1px solid #bbb;
  border-radius: 2px;
  width: 375px;
}

.suggestion-left-section {
  float: left;
  width: 15%;
  padding: auto;
}

.suggestion-right-section {
  width: 74%;
  padding-left: 10px;
  text-align: left;
  color: black;
  float: left;
}

.product-name {
  font-size: 14px;
  color: #3399cc;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.product-price {
  font-size: 12px;
}


.product-line {
  margin-bottom: 5px;
}

ul#ui-id-1 {
  background: #fff;
  width: 373px;
  font-family: inherit;
  padding: 0px;
  border-bottom: none;
}

.autocomplete-selected {
  background: #f3f3f3;
}

#view_all {
  text-align: center;
  background: #eff4f7;
  cursor: pointer;
}