<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->
<div class="thumbnail-preview" data-role="thumbnail-preview">
    <% _.each(images, function(image) { %>
    <div class="thumbnail-preview-image-block">
        <img class="thumbnail-preview-image" src="<%- image.src %>" alt="<%- image.alt %>" />
    </div>
    <% }); %>
</div>
