<?php
//$items = $this->getCustomerReturnList();
?>

<div class="ReturnAuthorizationList"><!-- TEMPLATE STARTS: return_authorization_list-->
<button class="rqst-return"><a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>">Request a Return</a></button>
  <section class="return-authorization-list">
        <header class="return-authorization-list-header"><h2><?= __('Status/history of Return Authorizations') ?></h2>
        </header>
            <div class="list-header-view" >
                <div class="list-header-view-accordion">
					<div class="list-header-view-accordion-link"></div>
					<div class="list-header-view-accordion-body filter" >
						<div class="list-header-view-accordion-body-header ">
							<div class="status-history-date-from">
							<label class="list-header-view-from" for="from"><span class="from"><?= __('From Date') ?></span>
								<!-- <input class="list-header-view-accordion-body-input" id="from-datepicker" name="datepicker" type="text"> -->
								<input type="date" id="datefrom" class="date from">
							</label>
                            <span class="line"></span>
							<label class="list-header-view-to" for="to">
								<span class="to"><?= __('To Date') ?></span>
								<!-- <input class="list-header-view-accordion-body-input" id="to-datepicker" name="to" type="text" autocomplete="off"> -->
								<input type="date" id="dateto" class="date to">
							</label>
</div>
							<!-- <span class="list-header-view-sorts"><label class="list-header-view-filters">
								<label class="list-header-view-filters">
									<select name="sort" class="list-header-view-accordion-body-select"> 
										<option value="trandate,internalid"></?= __('Sort By Date') ?></option> 
									</select>
								</label>
								<button class="list-header-view-accordion-body-button-sort" data-order='desc'>
									<i class="list-header-view-accordion-body-button-sort-up fa fa-arrow-up"></i>
										<i class="list-header-view-accordion-body-button-sort-down listheader-filter-sortorder-arrow-selected fa fa-arrow-down"></i>
								</button>
							</span> -->
							<button class="submit-button">Submit</button>
						</div>
					</div>  
				</div>
			</div><!-- TEMPLATE ENDS: list_header_view -->
			<div class="return-authorization-list-container"> 
				<table class="return-authorization-list-results-list">
					<thead class="return-authorization-list-content-table">
						<tr class="return-authorization-list-content-table-header-row">
							<th class="return-authorization-list-content-table-header-row-title">
							<label class="container custom-checkbox">
                            <input type="checkbox" >
                            <span class="checkmark"></span>
                            </label>
							<span>Return Authorization #</span></th>
							<th class="return-authorization-list-content-table-header-row-date"><span>Date</span></th>
							<th class="return-authorization-list-content-table-header-row-items"><span>Total Items</span></th>
							<th class="return-authorization-list-content-table-header-row-currency"><span>Amount</span></th>
							<th class="return-authorization-list-content-table-header-row-status"><span>Status</span></th>
                            <th class="return-authorization-list-content-table-header-row-amount-credited"><span>Amount credited</span></th>
                            <th class="return-authorization-list-content-table-header-row-empty"><span></span></th>
						</tr>
					</thead>
					<tbody class="return-authorization-list-records-list">
										<tr class="recordviews-row">
								<td class="recordviews-title">
								<label class="container custom-checkbox">
                                <input type="checkbox" >
                                <span class="checkmark"></span>
                                </label>
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/906467/'); ?>">
                                        82-22131-222							</a>
									</span>
								</td> 
								<td class="recordviews-date">
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">Jul 10,2021</span>
								</td>
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Qty:</span>
									<span class="recordviews-value">23</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">$147.48</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value1">Pending</span>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">$597.95</span>
                                </td>
                                <td class="recordviews-view"> 
									<span class="recordviews-actionable-label">View:</span>
									<a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>"><span class="recordviews-value">View</span></a>
                                </td>
                                    
							</tr>
										<tr class="recordviews-row">
								<td class="recordviews-title">
								<label class="container custom-checkbox">
                                <input type="checkbox" >
                                <span class="checkmark"></span>
                                </label>
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/857090/'); ?>">
                                        76-22130-000							</a>
									</span>
								</td> 
								<td class="recordviews-date">
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">Jul 8,2021</span>
								</td>
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Qty:</span>
									<span class="recordviews-value">11</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">$2,372.48</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value2">Complete</span>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">$597.95</span>
                                </td>
                                <td class="recordviews-view"> 
									<span class="recordviews-actionable-label">View:</span>
									<a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>"><span class="recordviews-value">View</span></a>
                                </td>
							</tr>
										<tr class="recordviews-row">
								<td class="recordviews-title">
								<label class="container custom-checkbox">
                                <input type="checkbox" >
                                <span class="checkmark"></span>
                                </label>
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/717180/'); ?>">
                                        12-22135-121							</a>
									</span>
								</td> 
								<td class="recordviews-date">
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">Jul 5,2021</span>
								</td>
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Qty:</span>
									<span class="recordviews-value">145</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">$39,000.00</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value3">Delivered</span>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">$597.95</span>
                                </td>
                                <td class="recordviews-view"> 
									<span class="recordviews-actionable-label">View:</span>
									<a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>"><span class="recordviews-value">View</span></a>
                                </td>
							</tr>
                            <tr class="recordviews-row">
								<td class="recordviews-title">
								<label class="container custom-checkbox">
                                <input type="checkbox" >
                                <span class="checkmark"></span>
                                </label>
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/717180/'); ?>">
                                        11-22131-310							</a>
									</span>
								</td> 
								<td class="recordviews-date">
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">May 24,2021</span>
								</td>
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Qty:</span>
									<span class="recordviews-value">1001</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">$62.99</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value4">Denied</span>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">$597.95</span>
                                </td>
                                <td class="recordviews-view"> 
									<span class="recordviews-actionable-label">View:</span>
									<a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>"><span class="recordviews-value">View</span></a>
                                </td>
							</tr>
                            <tr class="recordviews-row">
								<td class="recordviews-title">
								<label class="container custom-checkbox">
                                <input type="checkbox" >
                                <span class="checkmark"></span>
                                </label>
									<span class="recordviews-title-value">  
										<a class="recordviews-title-anchor" target="_blank" href="<?php echo $block->getUrl('returnauthorization/index/returnview/id/717180/'); ?>">
                                        00-22131-401							</a>
									</span>
								</td> 
								<td class="recordviews-date">
									<span class="recordviews-actionable-label">Date:</span>
									<span class="recordviews-value">May 13,2021</span>
								</td>
								<td class="recordviews-items">
									<span class="recordviews-actionable-label">Qty:</span>
									<span class="recordviews-value">57</span>
								</td> 
								<td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">$597.95</span></td>
								<td class="recordviews-status">
									<span class="recordviews-actionable-label">Status:</span>
									<span class="recordviews-value2">Complete</span>
								</td> 
                                <td class="recordviews-currency"> 
									<span class="recordviews-actionable-label">Amount:</span>
									<span class="recordviews-value">$597.95</span>
                                </td>
                                <td class="recordviews-view"> 
									<span class="recordviews-actionable-label">View:</span>
									<a href="<?php echo $block->getUrl('returnauthorization/index/create/'); ?>"><span class="recordviews-value">View</span></a>
                                </td>
							</tr>
						</tbody>
				</table>
			</div>
            <div class="whatever">
                <span class="items">5 Items(s)</span>
                <div class="list-paginator">
                    <label class="show-by">Show by</label>
                    <select class="my-account-pagination-links" id="pagination">
                        <option value="">10 items</option>
                    </select>
                </div>
            </div>
   </section> 
</div>   
<script type="text/javascript">
                    /*require([
                        "jquery",
                        "mage/calendar"
                        ], function($){
                        sendAjaxCall('','',true,false);
                          $('#from-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                var todate = jQuery('#to-datepicker').val();
                                sendAjaxCall(selectedDate,todate,true,false);
                            }
                        });
                          $('#to-datepicker').datepicker({dateFormat: "yy-mm-dd",
                            onClose: function (selectedDate) {
                                var fromdate = jQuery('#from-datepicker').val();
                                sendAjaxCall(fromdate,selectedDate,true,false);
                            }});
                            jQuery(document).on('click','.list-header-view-accordion-body-button-sort',function(){   
                                var fromdate = jQuery('#from-datepicker').val();
                                var todate = jQuery('#to-datepicker').val();
                                sendSortingAjaxCall(fromdate,todate);
                             });
                            function sendSortingAjaxCall(fromdate,todate){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                if(dir_order == 'desc')
                                    dir_order = 'asc';
                                else 
                                    dir_order = 'desc';
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('returnauthorization/index/searchdate') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                        jQuery('.list-header-view-accordion-body-button-sort').find('i').removeClass('listheader-filter-sortorder-arrow-selected');
                                        if(dir_order == 'desc'){
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-down').addClass('listheader-filter-sortorder-arrow-selected');
                                        }else{
                                            jQuery('.list-header-view-accordion-body-button-sort').find('.fa-arrow-up').addClass('listheader-filter-sortorder-arrow-selected');
                                        }
                                    }
                                    }); // ends ajax
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                            function sendAjaxCall(fromdate,todate,onload = false,dir = false){
                                var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                if(dir == true){
                                if(dir_order == 'desc')
                                    dir_order = 'asc';
                                else 
                                    dir_order = 'desc';
                                }
                                
                                if(dir == false || fromdate.length > 0 || todate.length > 0 ){
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('returnauthorization/index/searchdate') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                        jQuery('.return-authorization-list-container').html(response);
                                        $('body').trigger('processStop');
                                    }
                                    }); // ends ajax
                               }
                               jQuery('.list-header-view-accordion-body-button-sort').attr('data-order',dir_order);
                            }
                            jQuery(document).on('click','.my-account-pagination-links .pagination-link',function(){ 
                                if(!jQuery(this).hasClass('active')){
                                    var dir_order = jQuery('.list-header-view-accordion-body-button-sort').attr('data-order');
                                    var fromdate = jQuery('#from-datepicker').val();
                                    var todate = jQuery('#to-datepicker').val();
                                    var pageNumber = jQuery(this).data('pagenumber');
                                    var limit = jQuery(this).data('limit');
                                    var offset = jQuery(this).data('offset');
                                    var currentUrl = document.location.href;
                                    $.ajax({
                                    type: 'post',
                                    url: '<?php echo $block->getUrl('returnauthorization/index/pagination') ?>',
                                    data: {fromdate:fromdate,todate:todate,dir_order:dir_order,paramString:jQuery(this).data('param'),limit:jQuery(this).data('limit'),offset:jQuery(this).data('offset')},
                                    beforeSend: function () {
                                        $('body').trigger('processStart');
                                    },
                                    success: function (response) {
                                       
                                        if(currentUrl.indexOf('?') > -1) {
                                            var url = document.location.href;
                                            var url = history.replaceState(null, null, "?page="+pageNumber+"&limit="+limit+"&offset="+offset);
                                        }else{
                                            var url = document.location.href+"?page="+pageNumber+"&limit="+limit+"&offset="+offset;
                                        }
                                        jQuery('.return-authorization-list-container').html(response);
                                        window.history.pushState("", "", url);
                                        let urlParams = new URLSearchParams(window.location.search);
                                        if(urlParams.has('page')){
                                            var page = urlParams.get('page');
                                            jQuery('.my-account-pagination-links').find('.pagination-link.active').html(page);
                                        }
                                        $('body').trigger('processStop');
                                    }
                                   
                                    }); // ends ajax
                                }
                            });

                            function deleteParams(){ 
                                var currentUrl = document.location.href
                                let url = new URL(currentUrl);
                                let params = new URLSearchParams(url.search);
                                params.delete('page');
                                params.delete('limit');
                                params.delete('offset');     
                                if(currentUrl.indexOf('?') > -1) {
                                    var new_url = currentUrl.split('?'); 
                                window.history.pushState(null,null,new_url[0]);
                                }
                            }
                        });*/
                    </script>