<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list template
 *
 * @var $block \Smartwave\Filterproducts\Block\
 */
?>
<?php
//$_productCollection = $block->getLoadedProductCollection();
$_productCollection = $block->getAccessHotsLoadedProductCollection();
$_productCollectionnew=$block->getAccessNewLoadedProductCollection();
$_productCollectionLowPrice = $block->getAccessLowPriceLoadedProductCollection();
$_productCollectionBackStock=$block->getAccessBackStockProductCollection();


$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$_portohelper = $this->helper('Smartwave\Porto\Helper\Data'); 
$_category_config = $_portohelper->getConfig('porto_settings/category');
$_category_grid_config = $_portohelper->getConfig('porto_settings/category_grid');
$_product_label_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/product_label');
$_lazyload = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/optimization/lazyload');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore()
            ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$cart_image = $mediaPath."/porto/web/images/shopping-cart-1.x.png";
// Daily deal Helper 
$_dailydealhelper =$this->helper('Smartwave\Dailydeals\Helper\Data');

$aspect_ratio = $this->getData("aspect_ratio");
if($aspect_ratio == null) {
    $aspect_ratio = $_category_config['aspect_ratio'];
}
$image_width = $this->getData("image_width");
if(!$image_width) {
    $image_width = ($_category_config['ratio_width'])?$_category_config['ratio_width']:300;
}
$image_height = $this->getData("image_height");
if($aspect_ratio)
    $image_height = $image_width;
if(!$image_height) {
    $image_height = ($_category_config['ratio_height'])?$_category_config['ratio_height']:300;  
}
$product_type = $this->getData("product_type");

if($product_type == null) {
    $product_type = $_category_grid_config['product_type'];
}
if($product_type == null) {
    $product_type = 1;
}
$aspect_ratio = 0;
?>
<!-- 
<div class="ancchr">
                        <a href="javascript:void(0);">View all <img src="https://dev.nexuscellular.com/media/wysiwyg/homepage_banner/arrowred.png" alt=""></a>
                </div> -->
                <style>
.tab-content>.active {
    display: block !important;
}
.owl-carousel .owl-wrapper {
    display: flex !important;
}
.owl-carousel .owl-item img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    max-width: initial;
}    

    </style>

     
                <div class="homepage-header-section" id="partssectiopn">
<span  class="header-title"><?= __('Accessories') ?></span>
<ul class="nav nav-tabs">
<?php if(count($_productCollection)>=1){ ?> <li class="active"><a data-toggle="tab" id="act1"  href="#tabac1">Hottest</a></li><?php } ?>
<?php if(count($_productCollectionnew)>=1){ ?> <li><a data-toggle="tab" id="act2" href="#tabac2">New Arrivals</a></li><?php } ?>
<?php if(count($_productCollectionLowPrice)>=1){ ?> <li><a data-toggle="tab" id="act3" href="#tabac3">Low prices</a></li><?php } ?>

<?php if(count($_productCollectionBackStock)>=1){ ?>  <li><a data-toggle="tab" id="act4" href="#tabac4">Back In Stock</a></li><?php } ?>

                    </ul>



      
                    <!-- <div class="ancchr">
                        <a href="javascript:void(0);">View all <img src="https://dev.nexuscellular.com/media/wysiwyg/homepage_banner/arrowred.png" alt=""></a>
                </div> -->
</div>
<!--                 
<div class="product_attribute_types">
    <span  class="header-title"><?= __('Accessories') ?></span>
    <span class="attribute_type"><?= __('Hottest') ?></span>
    <span class="attribute_type"><?= __('New Arrivals')?></span>
    <span class="attribute_type"><?= __('Low Prices')?></span>
    <span class="attribute_type"><?= __('Back In Stock')?></span>
</div> -->

<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
<div id="">
    <?php
    $viewMode = 'grid';
    $image = 'category_page_grid';
    $hover_image = 'category_page_grid-hover';
    $showDescription = false;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    ?>
    <div class="products wrapper <?php echo $viewMode; ?> tab-content products-<?php echo $viewMode; ?> <?php if($product_type == 2): ?>no-padding divider-line<?php endif; ?> <?php if($product_type == 5 || $product_type == 6 || $product_type == 7 || $product_type == 8): ?>no-padding<?php endif; ?> <?php if($product_type == 6): ?>divider-line<?php endif; ?>">
        <div id="tabac1" class="tab-pane active">
        <div class="hotsale-accessories tab1" id="accessories-hottest-selling-items">
       <nav class="bx-pager bx-default-pager counter_cust_279"><span class="current">1</span> of 1</nav>

        <?php $iterator = 1; ?>
        <div class="filterproducts products list items product-items newtabaccess owl-carousel <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
         
                <?php echo($iterator++ == 1) ? '<div class="item product product-item">' : '</div><div class="item product product-item">' ?>
                <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label"><span>'.__('SALE').'</span>'.' -'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }else if($_product->getTypeId() == "configurable"){
                                    $product_label .= '<div class="product-label sale-label" style="display:none;"><span>SALE</span>'.' -0%'.'</div>';
                                }
                            }
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }
                            }
                            /* optimize the query */
                            $grade = strtoupper($_product->getData('custitem_grade_value'));
                            //$grade = strtoupper($_product->getResource()->getAttribute('custitem_grade')->getFrontend()->getValue($_product));
                            if($grade == "PREMIUM")
                            $bk_color = '#BB9BFF';
                            else if($grade == "PLUS")
                                $bk_color = '#da7a2e';
                            else if($grade == "DYNAMIC")
                                $bk_color = '#bb4e4e';
                            else if($grade == "VALUE")
                                $bk_color = '#7d5b1e';
                            else if($grade == "SPECIAL")
                                $bk_color = '#1a1f25';
                            else if($grade == "OEM RECLAIM A")
                                $bk_color = '#55565a';
                            else if($grade == "OEM RECLAIM C")
                                $bk_color = '#cacaca';
                            else if($grade == "NEW ORIGINAL")
                                $bk_color = '#7EA9FD';
                            else
                            $bk_color = '#000000';                
                            $style = "style=background-color:".$bk_color;
                            if(!empty($grade))
                            $product_label .= '<div class="product-label grade-label" '. $style .' >'.$grade.'</div>';
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                        ?>
                <div class="product-item-info type<?php echo $product_type; ?>" data-container="product-grid">
                    <?php // Product Image ?>
                    <div class="product photo product-item-photo">
                        <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                        <?php
                            if($aspect_ratio)
                                $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                            $productImageUrl = $productImage->getUrl();
                        ?>
                            <img class="product-image-photo default_image img-responsive" src="<?php echo $productImageUrl; ?>" <?php  /*width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>"*/ ?> alt=""/>
                        <?php if($_category_config['alternative_image']): ?>
                        <?php
                            if($aspect_ratio)
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->resize($image_width, $image_height);
                            $productHoverImageUrl = $productHoverImage->getUrl();
                        ?>
                            <?php /*if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                            <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>" alt=""/>
                            <?php endif;*/ ?>
                        <?php endif; ?>
                        </a>
                        
                    </div>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name1">
                        <?php $getNewProd=$_helper->productAttribute($_product, $_product->getName(), 'name');
                          $len = strlen($getNewProd);
                          ?>
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>" title="<?php echo (($len >= 99)?$getNewProd:'');?>">
                               <?php $getNewProd=$_helper->productAttribute($_product, $_product->getName(), 'name');
                               
                                if($len >= 99){
                                    echo substr($getNewProd,0,96).'...';
                                }
                                else{
                                   echo $getNewProd;
                                }
                                ?>
                            </a>
                        </strong>
                      
                        
                        <div class="product_addtional_data">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        </div>
                          <!--outofstock-->

                          <?php if ($_product->isSaleable()): ?>
                            <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable customstock"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                        <!--outofstock-->

                        <?php echo $block->getProductPricetoHtml($_product) ?>
                        
                         <?php if($product_type == 3 || $product_type == 5 || $product_type == 6 || $product_type == 7 || $product_type == 8 || $product_type == 9 || $product_type == 10): ?>
                             <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="0" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                       <span class="1"><img src="<?php echo $cart_image ?>" style="width:auto !important;vertical-align: middle;margin: 0 auto;"/></span>
                                                     </button>
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                      <div class="notification-section product actions product-item-actions"><button type="button" out-of-stock-product-id="<?php echo $_product->getId();?>" class="action notify-product primary"><span>Notify me</span></button></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                 

                                </div>
                               
                            </div>
                        </div>
                        <?php endif; ?>
                        <!-- ENDS DISPLAY ACTION BLOCK  -->
                        <?php if($product_type != 3 && $product_type != 5 && $product_type != 6 && $product_type != 7 && $product_type != 8 && $product_type != 9 && $product_type != 10 && $product_type != 11): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                     <span class="2"><img src="<?php echo $cart_image ?>" /></span>
                                                     </button>
                                                </div>

                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                           
                                        </form>
                                    <?php else: ?>
                                          <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                      <div class="notification-section product actions product-item-actions"><button type="button" out-of-stock-product-id="<?php echo $_product->getId();?>" class="action notify-product primary"><span>Notify me</span></button></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() == 'grid'): ?>
                                <?php if($_category_config['addtowishlist'] && $product_type == 4): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       class="action towishlist actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</div>' : '' ?>
            <?php endforeach; ?>
        </div>
     </div>
     
                                   </div><!--Pagination-->
     <!--tab2-->
     <div id="tabac2" class="tab-pane">
     <div class="hotsale-accessories tab2" id="accessories-hottest-selling-items">
       <nav class="bx-pager bx-default-pager counter_cust_279"><span class="current">1</span> of 1</nav>

        <?php $iterator = 1; ?>
        <div class="filterproducts products list items product-items newtabaccess owl-carousel <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">

            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollectionnew as $_product): ?>
         
                <?php echo($iterator++ == 1) ? '<div class="item product product-item">' : '</div><div class="item product product-item">' ?>
                <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label"><span>'.__('SALE').'</span>'.' -'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }else if($_product->getTypeId() == "configurable"){
                                    $product_label .= '<div class="product-label sale-label" style="display:none;"><span>SALE</span>'.' -0%'.'</div>';
                                }
                            }
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }
                            }
                            /* optimize the query */
                            $grade = strtoupper($_product->getData('custitem_grade_value'));
                            //$grade = strtoupper($_product->getResource()->getAttribute('custitem_grade')->getFrontend()->getValue($_product));
                            if($grade == "PREMIUM")
                            $bk_color = '#BB9BFF';
                            else if($grade == "PLUS")
                                $bk_color = '#da7a2e';
                            else if($grade == "DYNAMIC")
                                $bk_color = '#bb4e4e';
                            else if($grade == "VALUE")
                                $bk_color = '#7d5b1e';
                            else if($grade == "SPECIAL")
                                $bk_color = '#1a1f25';
                            else if($grade == "OEM RECLAIM A")
                                $bk_color = '#55565a';
                            else if($grade == "OEM RECLAIM C")
                                $bk_color = '#cacaca';
                            else if($grade == "NEW ORIGINAL")
                                $bk_color = '#7EA9FD';
                            else
                            $bk_color = '#000000';                
                            $style = "style=background-color:".$bk_color;
                            if(!empty($grade))
                            $product_label .= '<div class="product-label grade-label" '. $style .' >'.$grade.'</div>';
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                        ?>
                <div class="product-item-info type<?php echo $product_type; ?>" data-container="product-grid">
                    <?php // Product Image ?>
                    <div class="product photo product-item-photo">
                        <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                        <?php
                            if($aspect_ratio)
                                $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                            $productImageUrl = $productImage->getUrl();
                        ?>
                            <img class="product-image-photo default_image img-responsive" src="<?php echo $productImageUrl; ?>" <?php  /*width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>"*/ ?> alt=""/>
                        <?php if($_category_config['alternative_image']): ?>
                        <?php
                            if($aspect_ratio)
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->resize($image_width, $image_height);
                            $productHoverImageUrl = $productHoverImage->getUrl();
                        ?>
                            <?php /*if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                            <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>" alt=""/>
                            <?php endif;*/ ?>
                        <?php endif; ?>
                        </a>
                        
                    </div>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name1">
                        <?php $getNewProd=$_helper->productAttribute($_product, $_product->getName(), 'name');
                          $len = strlen($getNewProd);
                          ?>
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>" title="<?php echo (($len >= 99)?$getNewProd:'');?>">
                               <?php $getNewProd=$_helper->productAttribute($_product, $_product->getName(), 'name');
                               
                                if($len >= 99){
                                    echo substr($getNewProd,0,96).'...';
                                }
                                else{
                                   echo $getNewProd;
                                }
                                ?>
                            </a>
                        </strong>
                      
                        
                        <div class="product_addtional_data">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        </div>
                        <!--outofstock-->

                        <?php if ($_product->isSaleable()): ?>
                            <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable customstock"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                        <!--outofstock-->

                        <?php echo $block->getProductPricetoHtml($_product) ?>
                        
                         <?php if($product_type == 3 || $product_type == 5 || $product_type == 6 || $product_type == 7 || $product_type == 8 || $product_type == 9 || $product_type == 10): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="0" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                       <span class="3"><img src="<?php echo $cart_image ?>" style="width:auto !important;vertical-align: middle;margin: 0 auto;"/></span>
                                                     </button>
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            
                                        </form>
                                    <?php else: ?>
                                          <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                      <div class="notification-section product actions product-item-actions"><button type="button" out-of-stock-product-id="<?php echo $_product->getId();?>" class="action notify-product primary"><span>Notify me</span></button></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                               
                            </div>
                        </div>
                        <?php endif; ?>
                        <!-- ENDS DISPLAY ACTION BLOCK  -->
                        <?php if($product_type != 3 && $product_type != 5 && $product_type != 6 && $product_type != 7 && $product_type != 8 && $product_type != 9 && $product_type != 10 && $product_type != 11): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                     <span class="4"><img src="<?php echo $cart_image ?>" /></span>
                                                     </button>
                                                </div>

                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                           
                                        </form>
                                   <?php else: ?>
                                          <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                      <div class="notification-section product actions product-item-actions"><button type="button" out-of-stock-product-id="<?php echo $_product->getId();?>" class="action notify-product primary"><span>Notify me</span></button></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() == 'grid'): ?>
                                <?php if($_category_config['addtowishlist'] && $product_type == 4): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       class="action towishlist actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollectionnew)+1) ? '</div>' : '' ?>
            <?php endforeach; ?>
        </div>
     </div>
     
                                   </div> <!--Pagination-->
     <!--end-->
     <!--tab3-->
     <div id="tabac3" class="tab-pane">
     <div class="hotsale-accessories tab3" id="accessories-hottest-selling-items">
       <nav class="bx-pager bx-default-pager counter_cust_279"><span class="current">1</span> of 1</nav>

        <?php $iterator = 1; ?>
        <div class="filterproducts products list items product-items newtabaccess owl-carousel <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollectionLowPrice as $_product): ?>
         
                <?php echo($iterator++ == 1) ? '<div class="item product product-item">' : '</div><div class="item product product-item">' ?>
                <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label"><span>'.__('SALE').'</span>'.' -'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }else if($_product->getTypeId() == "configurable"){
                                    $product_label .= '<div class="product-label sale-label" style="display:none;"><span>SALE</span>'.' -0%'.'</div>';
                                }
                            }
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }
                            }
                            /* optimize the query */
                            $grade = strtoupper($_product->getData('custitem_grade_value'));
                            //$grade = strtoupper($_product->getResource()->getAttribute('custitem_grade')->getFrontend()->getValue($_product));
                            if($grade == "PREMIUM")
                            $bk_color = '#BB9BFF';
                            else if($grade == "PLUS")
                                $bk_color = '#da7a2e';
                            else if($grade == "DYNAMIC")
                                $bk_color = '#bb4e4e';
                            else if($grade == "VALUE")
                                $bk_color = '#7d5b1e';
                            else if($grade == "SPECIAL")
                                $bk_color = '#1a1f25';
                            else if($grade == "OEM RECLAIM A")
                                $bk_color = '#55565a';
                            else if($grade == "OEM RECLAIM C")
                                $bk_color = '#cacaca';
                            else if($grade == "NEW ORIGINAL")
                                $bk_color = '#7EA9FD';
                            else
                            $bk_color = '#000000';                
                            $style = "style=background-color:".$bk_color;
                            if(!empty($grade))
                            $product_label .= '<div class="product-label grade-label" '. $style .' >'.$grade.'</div>';
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                        ?>
                <div class="product-item-info type<?php echo $product_type; ?>" data-container="product-grid">
                    <?php // Product Image ?>
                    <div class="product photo product-item-photo">
                        <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                        <?php
                            if($aspect_ratio)
                                $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                            $productImageUrl = $productImage->getUrl();
                        ?>
                            <img class="product-image-photo default_image img-responsive" src="<?php echo $productImageUrl; ?>" <?php  /*width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>"*/ ?> alt=""/>
                        <?php if($_category_config['alternative_image']): ?>
                        <?php
                            if($aspect_ratio)
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->resize($image_width, $image_height);
                            $productHoverImageUrl = $productHoverImage->getUrl();
                        ?>
                            <?php /*if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                            <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>" alt=""/>
                            <?php endif;*/ ?>
                        <?php endif; ?>
                        </a>
                        
                    </div>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
               <strong class="product name product-item-name1">
                        <?php $getNewProd=$_helper->productAttribute($_product, $_product->getName(), 'name');
                          $len = strlen($getNewProd);
                          ?>
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>" title="<?php echo (($len >= 99)?$getNewProd:'');?>">
                               <?php $getNewProd=$_helper->productAttribute($_product, $_product->getName(), 'name');
                               
                                if($len >= 99){
                                    echo substr($getNewProd,0,96).'...';
                                }
                                else{
                                   echo $getNewProd;
                                }
                                ?>
                            </a>
                        </strong>
                      
                        
                        <div class="product_addtional_data">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        </div>

                      <!--outofstock-->

                                                  <?php if ($_product->isSaleable()): ?>
                            <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable customstock"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                        <!--outofstock-->

                         
                        <?php echo $block->getProductPricetoHtml($_product) ?>
                        
                         <?php if($product_type == 3 || $product_type == 5 || $product_type == 6 || $product_type == 7 || $product_type == 8 || $product_type == 9 || $product_type == 10): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="0" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                       <span class="5"><img src="<?php echo $cart_image ?>" style="width:auto !important;vertical-align: middle;margin: 0 auto;"/></span>
                                                     </button>
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            
                                        </form>
                                   <?php else: ?>
                                          <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                      <div class="notification-section product actions product-item-actions"><button type="button" out-of-stock-product-id="<?php echo $_product->getId();?>" class="action notify-product primary"><span>Notify me</span></button></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                               
                            </div>
                        </div>
                        <?php endif; ?>
                        <!-- ENDS DISPLAY ACTION BLOCK  -->
                        <?php if($product_type != 3 && $product_type != 5 && $product_type != 6 && $product_type != 7 && $product_type != 8 && $product_type != 9 && $product_type != 10 && $product_type != 11): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                     <span class="6"><img src="<?php echo $cart_image ?>" /></span>
                                                     </button>
                                                </div>

                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                           
                                        </form>
                                    <?php else: ?>
                                          <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                      <div class="notification-section product actions product-item-actions"><button type="button" out-of-stock-product-id="<?php echo $_product->getId();?>" class="action notify-product primary"><span>Notify me</span></button></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() == 'grid'): ?>
                                <?php if($_category_config['addtowishlist'] && $product_type == 4): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       class="action towishlist actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollectionLowPrice)+1) ? '</div>' : '' ?>
            <?php endforeach; ?>
        </div>
     </div>
     
     </div> <!--Pagination-->
     <!--end-->
     <!--Tab4-->
     <div id="tabac4" class="tab-pane">
     <div class="hotsale-accessories tab4" id="accessories-hottest-selling-items">
       <nav class="bx-pager bx-default-pager counter_cust_279"><span class="current">1</span> of 1</nav>

        <?php $iterator = 1; ?>
        <div class="filterproducts products list items product-items newtabaccess owl-carousel <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollectionBackStock as $_product): ?>
         
                <?php echo($iterator++ == 1) ? '<div class="item product product-item">' : '</div><div class="item product product-item">' ?>
                <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label"><span>'.__('SALE').'</span>'.' -'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }else if($_product->getTypeId() == "configurable"){
                                    $product_label .= '<div class="product-label sale-label" style="display:none;"><span>SALE</span>'.' -0%'.'</div>';
                                }
                            }
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }
                            }
                            /* optimize the query */
                            $grade = strtoupper($_product->getData('custitem_grade_value'));
                            //$grade = strtoupper($_product->getResource()->getAttribute('custitem_grade')->getFrontend()->getValue($_product));
                            if($grade == "PREMIUM")
                            $bk_color = '#BB9BFF';
                            else if($grade == "PLUS")
                                $bk_color = '#da7a2e';
                            else if($grade == "DYNAMIC")
                                $bk_color = '#bb4e4e';
                            else if($grade == "VALUE")
                                $bk_color = '#7d5b1e';
                            else if($grade == "SPECIAL")
                                $bk_color = '#1a1f25';
                            else if($grade == "OEM RECLAIM A")
                                $bk_color = '#55565a';
                            else if($grade == "OEM RECLAIM C")
                                $bk_color = '#cacaca';
                            else if($grade == "NEW ORIGINAL")
                                $bk_color = '#7EA9FD';
                            else
                            $bk_color = '#000000';                
                            $style = "style=background-color:".$bk_color;
                            if(!empty($grade))
                            $product_label .= '<div class="product-label grade-label" '. $style .' >'.$grade.'</div>';
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                        ?>
                <div class="product-item-info type<?php echo $product_type; ?>" data-container="product-grid">
                    <?php // Product Image ?>
                    <div class="product photo product-item-photo">
                        <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                        <?php
                            if($aspect_ratio)
                                $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                            $productImageUrl = $productImage->getUrl();
                        ?>
                            <img class="product-image-photo default_image img-responsive" src="<?php echo $productImageUrl; ?>" <?php  /*width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>"*/ ?> alt=""/>
                        <?php if($_category_config['alternative_image']): ?>
                        <?php
                            if($aspect_ratio)
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->resize($image_width, $image_height);
                            $productHoverImageUrl = $productHoverImage->getUrl();
                        ?>
                            <?php /*if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                            <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>" alt=""/>
                            <?php endif;*/ ?>
                        <?php endif; ?>
                        </a>
                        
                    </div>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name1">
                        <?php $getNewProd=$_helper->productAttribute($_product, $_product->getName(), 'name');
                          $len = strlen($getNewProd);
                          ?>
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>" title="<?php echo (($len >= 99)?$getNewProd:'');?>">
                               <?php $getNewProd=$_helper->productAttribute($_product, $_product->getName(), 'name');
                               
                                if($len >= 99){
                                    echo substr($getNewProd,0,96).'...';
                                }
                                else{
                                   echo $getNewProd;
                                }
                                ?>
                            </a>
                        </strong>
                      
                        
                        <div class="product_addtional_data">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        </div>
                                                  <!--outofstock-->

                                                   <?php if ($_product->isSaleable()): ?>
                            <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable customstock"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                        <!--outofstock-->

                        <?php echo $block->getProductPricetoHtml($_product) ?>
                        
                         <?php if($product_type == 3 || $product_type == 5 || $product_type == 6 || $product_type == 7 || $product_type == 8 || $product_type == 9 || $product_type == 10): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="0" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                       <span class="7"><img src="<?php echo $cart_image ?>" style="width:auto !important;vertical-align: middle;margin: 0 auto;"/></span>
                                                     </button>
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            
                                        </form>
                                   <?php else: ?>
                                          <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                      <div class="notification-section product actions product-item-actions"><button type="button" out-of-stock-product-id="<?php echo $_product->getId();?>" class="action notify-product primary"><span>Notify me</span></button></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                               
                            </div>
                        </div>
                        <?php endif; ?>
                        <!-- ENDS DISPLAY ACTION BLOCK  -->
                        <?php if($product_type != 3 && $product_type != 5 && $product_type != 6 && $product_type != 7 && $product_type != 8 && $product_type != 9 && $product_type != 10 && $product_type != 11): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                     <span class="8"><img src="<?php echo $cart_image ?>" /></span>
                                                     </button>
                                                </div>

                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                           
                                        </form>
                                   <?php else: ?>
                                          <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                      <div class="notification-section product actions product-item-actions"><button type="button" out-of-stock-product-id="<?php echo $_product->getId();?>" class="action notify-product primary"><span>Notify me</span></button></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() == 'grid'): ?>
                                <?php if($_category_config['addtowishlist'] && $product_type == 4): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       class="action towishlist actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollectionBackStock)+1) ? '</div>' : '' ?>
            <?php endforeach; ?>
        </div>
     </div>
     
     </div> <!--Pagination-->
     <!---->
    </div>
</div>
   
<?php endif; ?>
<script type="text/javascript">
            require([
                'jquery',
                'owl.carousel/owl.carousel.min','mageplaza/core/bootstrap',
                'domReady!'
            ], function ($) {
               'use strict';

                $(document).ready(function() {
                    $("#tabac2").css("display","block");
                $("#tabac3").css("display","block");
                $("#tabac4").css("display","block");
                // $(".tab-pane").addClass("active");
                    window.setTimeout(function(){
                            $('#act1').trigger('click');
                            $("#tabac2").css("display","none");
                $("#tabac3").css("display","none");
                $("#tabac4").css("display","none");
                          
                        }, 500);
            var owl = $('.newtabaccess');
            owl.owlCarousel({
                autoplay: false,
                    autoplayTimeout: 5000,
                    /*autoplayHoverPause: true,*/
                    margin: 0,
                    slideBy: 5,
                    nav: true,
                    navText: ["<em class='porto-icon-left-open-big'></em>","<em class='porto-icon-right-open-big'></em>"],
                    dots: true,
                    loop: true,
                   // rewind: true,
                    slideSpeed: 10,
                    paginationSpeed: 500,
                    lazyLoad: true,
                    mouseDrag:false,
                    responsive: {
                        320: {
                            items:1
                        },
                        360: {
                            items:2

                        },
                        415: {
                            items:1

                        },
                        640: {
                            items:1
                        },
                        768: {
                            items:2
                        },
                        992: {
                            items:3
                        },
                        1200: {
                            items:4
                        },
                        
                        1300: {
                            items:4
                        },
                        1400: {
                            items:4
                        },
                        1600: {
                            items:5
                        }
                    }

             });
          }
        );               
        var count_pages = 0;
                $('.hotsale-accessories.tab1 .owl-dot').each(function(){
                    count_pages++;
                //$(this).children('span').text($(this).index()+1);
                $(this).attr('page-number',$(this).index()+1);
                });
                var actntab1=count_pages;
                //alert(count_pages);
               // $(".hotsale-accessories.tab1 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                $(".hotsale-accessories.tab1 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                var maxHeight = 0;
                $('.hotsale-accessories.tab1 .product-item-info').each(function(){
                    var thisH = $(this).height();
                    if (thisH > maxHeight) { maxHeight = thisH; }
                });
                maxHeight = maxHeight / 2;
                var finalHeight = maxHeight -  jQuery('.hotsale-accessories.tab1 .owl-prev').height();
                $(".hotsale-accessories.tab1 .owl-prev").css('top','208px');
                $(".hotsale-accessories.tab1 .owl-next").css('top','208px');
                $(".hotsale-accessories.tab1 .counter_cust_279").html('<span class="current">1</span> of '+count_pages);
                $('.hotsale-accessories.tab1 .owl-next').click(function(){
                    var currentPage = $('.hotsale-accessories.tab1 .owl-dot.active').attr('page-number');
                    $(".hotsale-accessories.tab1 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+actntab1);
                });
                $('.hotsale-accessories.tab1 .owl-prev').click(function(){
                    var currentPage = $('.hotsale-accessories.tab1 .owl-dot.active').attr('page-number');
                    $(".hotsale-accessories.tab1 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+actntab1);
                });

                //tab2
                
                var count_pages = 0;
                $('.hotsale-accessories.tab2 .owl-dot').each(function(){
                    count_pages++;
                //$(this).children('span').text($(this).index()+1);
                $(this).attr('page-number',$(this).index()+1);
                });
                var actntab2=count_pages;
                //alert(count_pages);
               // $(".hotsale-accessories.tab2 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                $(".hotsale-accessories.tab2 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                $(".hotsale-accessories.tab2 .owl-prev").css('top','208px');
                $(".hotsale-accessories.tab2 .owl-next").css('top','208px');
                $(".hotsale-accessories.tab2 .counter_cust_279").html('<span class="current">1</span> of '+count_pages);
                $('.hotsale-accessories.tab2 .owl-next').click(function(){
                    var currentPage = $('.hotsale-accessories.tab2 .owl-dot.active').attr('page-number');
                    $(".hotsale-accessories.tab2 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+actntab2);
                });
                $('.hotsale-accessories.tab2 .owl-prev').click(function(){
                    var currentPage = $('.hotsale-accessories.tab2 .owl-dot.active').attr('page-number');
                    $(".hotsale-accessories.tab2 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+actntab2);
                });
                //tab2 end

                // tab3 
                var count_pages1 = 0;
                $('.hotsale-accessories.tab3 .owl-dot').each(function(){
                    count_pages1++;
                //$(this).children('span').text($(this).index()+1);
                $(this).attr('page-number',$(this).index()+1);
                });
                var actntab3=count_pages1;
                $(".hotsale-accessories.tab3 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                $(".hotsale-accessories.tab3 .owl-prev").css('top','208px');
                $(".hotsale-accessories.tab3 .owl-next").css('top','208px');
                $(".hotsale-accessories.tab2 .counter_cust_279").html('<span class="current">1</span> of '+count_pages);
                $('.hotsale-accessories.tab3 .owl-next').click(function(){
                    var currentPage = $('.hotsale-accessories.tab3 .owl-dot.active').attr('page-number');
                    $(".hotsale-accessories.tab3 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+actntab3);
                });
                $('.hotsale-accessories.tab3 .owl-prev').click(function(){
                    var currentPage = $('.hotsale-accessories.tab3 .owl-dot.active').attr('page-number');
                    $(".hotsale-accessories.tab3 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+actntab3);
                });
                //tab3 end

                //tab4 
                //$(document).on('click', '#act4', function () {
                //$('#tabac4 .owl-stage-outer').hide();
                 //});

                var count_pages2 = 0;
                $('.hotsale-accessories.tab4 .owl-dot').each(function(){
                    count_pages2++;
                //$(this).children('span').text($(this).index()+1);
                $(this).attr('page-number',$(this).index()+1);
                });
                var actntab4=count_pages2;
                //alert(count_pages);
               // $(".hotsale-accessories.tab4 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                $(".hotsale-accessories.tab4 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                
                $(".hotsale-accessories.tab4 .owl-prev").css('top','208px');
                $(".hotsale-accessories.tab4 .owl-next").css('top','208px');
                $(".hotsale-accessories.tab4 .counter_cust_279").html('<span class="current">1</span> of '+count_pages);
                $('.hotsale-accessories.tab4 .owl-next').click(function(){
                    var currentPage = $('.hotsale-accessories.tab4 .owl-dot.active').attr('page-number');
                    $(".hotsale-accessories.tab4 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+actntab4);
                });
                $('.hotsale-accessories.tab4 .owl-prev').click(function(){
                    var currentPage = $('.hotsale-accessories.tab4 .owl-dot.active').attr('page-number');
                    $(".hotsale-accessories.tab4 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+actntab4);
                });
                //end tab4
            });

           // function getarrowdn(t){
              
           //    var submnuid='ulsub'+t;
           //    var subx = document.getElementById(submnuid);
           //    if ( subx.style.display == 'block' )
           //    subx.style.display = 'none';
           //    else
           //    subx.style.display = 'block';

           //    //$(submnuid).css('display','block');
           // }
            </script>
