<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Wishlist\Block\Customer\Wishlist $block */
?>

<?php if ($this->helper(\Magento\Wishlist\Helper\Data::class)->isAllow()) : ?>
    <div class="toolbar wishlist-toolbar"><?= $block->getChildHtml('wishlist_item_pager'); ?></div>
    <?= ($block->getChildHtml('wishlist.rss.link')) ?>
    <form class="form-wishlist-items" id="wishlist-view-form"
          data-mage-init='{"wishlist":{
          "addToCartUrl":<?= /* @noEscape */ $block->getItemAddToCartParams("%item%") ?>,
          "addAllToCartUrl":<?= /* @noEscape */ $block->getAddAllToCartParams() ?>,
          "commentString":""},
          "validation": {}}' action="<?= $block->escapeUrl($block->getUrl('wishlist/index/update', ['wishlist_id' => $block->getWishlistInstance()->getId()])) ?>" method="post">
        <?= $block->getChildHtml('top') ?>
        <?php if ($block->hasWishlistItems()) : ?>
            <?= $block->getBlockHtml('formkey') ?>
            <?php $block->getChildBlock('items')->setItems($block->getWishlistItems()); ?>
            <?= $block->getChildHtml('items') ?>
        <?php else : ?>
             <div class="mesage info empty">
<div class="wishlist-empty">
  <div class="list-view">
              <div class="title"><?= $block->escapeHtml(__('List 1')) ?>
              </div>
<div class="dots"> 
</div>
<ul class="list" id="list" style="display: none;">
  <li><a href="#">Delete list</a></li>
  <li><a href="#">Edit title</a></li>
</ul>
              </div>
<div class="inner-wishlist-empty">
<div class="empty-image">
  <img src='<?php echo $this->getViewFileUrl('images/emptywishlist.svg'); ?>' alt="Demo">
</div>
<div class="message">
 <p class="p1">Oops! Your wishlist is empty</p>
 <p class="p2">Fill it up with products</p> 
</div>
<div class="back-home">
  <a href="<?php echo $block->getBaseUrl(); ?>">Go to Home page</a>
</div>
</div>

</div>
              
            </div>
        <?php endif ?>
        <?= $block->getChildHtml('bottom') ?>
    </form>
    <script id="form-tmpl" type="text/x-magento-template">
      <form id="wishlist-hidden-form" method="post" action="<%- data.url %>" class="no-display">
          <% if (data.qty) { %>
          <input name="qty" value="<%- data.qty %>">
          <% } %>
          
          <% if (data.item) { %>
          <input name="item" value="<%- data.item %>">
          <% } %>
          
          <% if (data.entity) { %>
          <input name="entity" value="<%- data.entity %>">
          <% } %>
      </form>
    </script>
    <div class="toolbar wishlist-toolbar" style="display: none;"><br><?= $block->getChildHtml('wishlist_item_pager'); ?></div>
<?php endif ?>




<script type="text/javascript">
  require(['jquery', 'jquery/ui'], function($){ 
  $(".wishlist-empty .dots").click(function(){
  $(".wishlist-empty  #list").toggle();
});
 });
</script>