<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */

/** @var \Magento\Framework\View\Element\Template $block */
?>
<div class="success-message">
    <svg class="success-message__img" xmlns="http://www.w3.org/2000/svg" width="132" height="132" viewBox="0 0 132 132" fill="none">
        <path d="M65.9997 0C29.6077 0 0 29.607 0 65.9996C0 102.392 29.6077 132 65.9997 132C102.392 132 131.999 102.392 131.999 65.9996C131.999 29.607 102.392 0 65.9997 0ZM103.898 54.8518L62.4336 96.316C60.6705 98.079 58.3269 99.0494 55.8338 99.0494C53.3408 99.0494 50.9971 98.079 49.2341 96.316L28.1015 75.1834C26.3384 73.4203 25.3674 71.0767 25.3674 68.5836C25.3674 66.0899 26.3384 63.7462 28.1015 61.9832C29.8639 60.2201 32.2075 59.2491 34.7012 59.2491C37.1943 59.2491 39.5386 60.2201 41.301 61.9839L55.8331 76.5153L90.6969 41.6516C92.46 39.8885 94.8036 38.9181 97.2967 38.9181C99.7898 38.9181 102.133 39.8885 103.896 41.6516C107.537 45.292 107.537 51.2127 103.898 54.8518Z" fill="#23A729"/>
    </svg>
    <strong class="success-message__title"></strong>
    <p class="success-message__text"></p>
    <a class="success-message__link" href="<?= $block->getBaseUrl() ?>"><?= __('Continue Shopping') ?></a>
</div>
