<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
  -->

<!--@subject New Abuse Report @-->
<!--@subject {{trans "%store_name: New review abuse report" store_name=$store.getFrontendName()}} @-->
<!--@vars
{"var admin_path":"Backend path"}
@-->

{{template config_path="design/email/header_template"}}
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="padding: 5px; font-size: 13px; border-collapse: collapse">
            <table style="padding-bottom:15px; width:100%; border-bottom:1px solid #ccc;">
                <tr>
                    <td style="padding: 0;">
                        <h4>Dear Admin,</h4>
                        <p class="admin-not__info-message">
                            This is an automated message notifying about review <strong style="color:#9e0000;">abuse complaints</strong> at your store.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 0;">
                        {{if isGuest}}
                        <p class="admin-not__info-review admin-not__title">
                            Guest reported an abusive review.
                            <!-- @ -->
                        </p>
                        {{/if}}
                        {{if isCustomer}}
                        <p class="admin-not__info-review admin-not__title">
                            Customer ({{var customerFullName}}, Customer ID: {{var customerId}}) reported an abusive review.
                            <!-- @ -->
                        </p>
                        {{/if}}
                    </td>
                </tr>
            </table>
            <br>
            <table cellpadding="0 " cellspacing="0 " border="0 " width="100%">
                <td style="padding: 0; padding-bottom: 15px; width: 15%; border-bottom:1px solid #ccc;">
                    <div style="padding: 10px;">
                        <a href="{{var productUrl}}">
                            <img src="{{var productImageUrl}}" alt="foto {{var productName}}" height="150" width="150">
                        </a>
                    </div>
                </td>
                <td style="padding: 0; padding-bottom: 15px; width: 85%; border-bottom:1px solid #ccc; text-align: left;">
                    <p class="admin-not__info-review admin-not__rating" style="margin-top: 0;">
                        <span style="font-weight: 700;">Rating: </span>{{block class='Plumrocket\\AdvancedReviewAndReminder\\Block\\Email\\Rating' area='frontend' template='Plumrocket_AdvancedReviewAndReminder::email/review/rating.phtml' review=$review}}
                        <!-- @ -->
                    </p>
                    {{if review.getTitle()}}
                    <p class="admin-not__info-review admin-not__title">
                        <span style="font-weight: 700;">Summary: </span>{{var review.getTitle()}}
                        <!-- @ -->
                    </p>
                    {{/if}}
                    {{if review.getDetail()}}
                    <p class="admin-not__info-review admin-not__review">
                        <span style="font-weight: 700;">Review: </span>{{var review.getDetail()}}
                    </p>
                    {{/if}}
                    {{if review.getPros()}}
                    <p class="admin-not__info-review admin-not__pros">
                        <span style="font-weight: 700;">Pros: </span>{{var review.getPros()}}
                        <!-- @ -->
                    </p>
                    {{/if}}
                    {{if review.getCons()}}
                    <p class="admin-not__info-review admin-not__cons">
                        <span style="font-weight: 700;">Cons: </span> {{var review.getCons()}}
                        <!-- @ -->
                    </p>
                    {{/if}}
                </td>
            </table>
            <table cellpadding="0 " cellspacing="0 " border="0 ">
                <tr>
                    <td>
                        <p class="admin-not__path-in-admin" style="font-size: 11px; margin-top: 20px;">
                            To view and manage this review, click on the link below:
                            <a href="{{var review_url}}">{{var review_url}}</a>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
