<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
  -->

<!--@subject New product reviews are available for approval @-->
<!--@subject {{trans "%store_name: New review" store_name=$store.getFrontendName()}} @-->
<!--@vars
{"var admin_path":"Backend path"}
@-->

{{template config_path="design/email/header_template"}}
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td style="padding: 5px; font-size: 13px; border-collapse: collapse">
            <table style="padding-bottom:15px; width:100%; border-bottom:1px solid #ccc;">
                <tr>
                    <td style="padding: 0;">
                        <h4>New <a href="{{var review_url}}">product review</a> for {{var product.getName()}} is available for your approval.</h4>
                    </td>
                </tr>

                <tr>
                    <td style="padding: 0;">
                        <p class="admin-not__product-info" style="margin-top: 0;">
                            <span class="admin-not__name" style="font-weight: 700;">{{var review.getNickname()}}</span> submitted below review for product
                            <a href="{{var productUrl}}" class="admin-not__link" style="font-weight: 700; text-decoration: none;">{{var productName}}</a>
                        </p>
                    </td>
                </tr>
            </table>
            <br>
            <table cellpadding="0 " cellspacing="0 " border="0 " width="100%">
                <td style="padding: 0; padding-top:15px; border-bottom:1px solid #ccc; padding-bottom: 15px; width: 15%;">
                    <div style="padding: 10px;">
                        <a href="{{var productImageUrl}}">
                            <img src="{{var productImageUrl}}" alt="foto {{var productName}}" height="150" width="150">
                        </a>

                    </div>
                </td>
                <td style="padding: 0; padding-top:15px; border-bottom:1px solid #ccc; padding-bottom: 15px; width: 85%; text-align: left;">
                    {{if isRatings}}
                    <p class="admin-not__info-review admin-not__rating" style="margin-top: 0;">
                        <span style="font-weight: 700;">Rating: </span>{{block class='Plumrocket\\AdvancedReviewAndReminder\\Block\\Email\\Rating' area='frontend' template='Plumrocket_AdvancedReviewAndReminder::email/review/rating.phtml' review=$review}}
                        <!-- @ -->
                    </p>
                    {{/if}}
                    {{if review.getTitle()}}
                    <p class="admin-not__info-review admin-not__title">
                        <span style="font-weight: 700;">Summary: </span>{{var review.getTitle()}}
                        <!-- @ -->
                    </p>
                    {{/if}}
                    {{if review.getDetail()}}
                    <p class="admin-not__info-review admin-not__review">
                        <span style="font-weight: 700;">Review: </span>{{var review.getDetail()}}
                    </p>
                    {{/if}}
                    {{if review.getPros()}}
                    <p class="admin-not__info-review admin-not__pros">
                        <span style="font-weight: 700;">Pros: </span>{{var review.getPros()}}
                        <!-- @ -->
                    </p>
                    {{/if}}
                    {{if review.getCons()}}
                    <p class="admin-not__info-review admin-not__cons">
                        <span style="font-weight: 700;">Cons: </span> {{var review.getCons()}}
                        <!-- @ -->
                    </p>
                    {{/if}}
                </td>
            </table>
            <table cellpadding="0 " cellspacing="0 " border="0 ">
                <tr>
                    <td>
                        <p class="admin-not__path-in-admin" style="font-size: 11px; margin-top: 20px;">
                            Click <a href="{{var pendingReviewsUrl}}">here</a> to view all pending reviews in Magento admin panel.
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
