<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
  -->

<!--@subject {{trans "%customer_name, did  %most_expensive meet your expectations? Review it on %store_name." customer_name=$customerName most_expensive=$mostExpensive store_name=$store.getFrontendName()}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"var store.getFrontendName()":"Store Name",
"var customer":"Customer",
"var products":"Order products",
"var relatedProducts":"Related products",
"var reminder":"Reminder",
"var reminderStore":"Reminder posted Store",
"store url=\"customer/account/\"":"Customer Account Url",
"layout handle=\"advancedrar_email_product_list\" reminder=$reminder customer=$customer products=$products relatedProducts=$relatedProducts":"Products Grid"}
@-->
<!--@styles
td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="background:#fff; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0;">
    <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
            <td align="center" valign="top" style="padding:20px 0 20px 0">
                <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" style="border:1px solid #E0E0E0; width: 640px; padding: 10px 15px;">
                    <tr>
                        <td valign="top"><a href='{{store url=""}}'><img src="{{var logo_url}}" alt="{{var logo_alt}}" width="200" style="margin-bottom:10px;max-height: 80px;" border="0"/></a></td>
                    </tr>
                    <tr>
                        <td colspan="2" valign="top" align="left">
                            <h1 style="font-size:22px; font-weight:bold; line-height:22px; margin:0 0 11px 0; font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">Dear {{var customerName}},</h1>
                            <p style="font-size:12px; line-height:16px; margin:0;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">
                                Thank you again for your purchase at <a href="{{var alogin_secret }}" style="color: #3600eb;">{{var store.getFrontendName() }}</a>!
                            </p><br/>
                            <p style="font-size:12px; line-height:16px; margin:0;font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;">
                                As you are our valuable customer, we would like to invite you to share your purchase experience with us.
                                Your review can make a difference and will help other store visitors in selecting their products.
                                This process only takes a minute or so.
                            </p><br/>
                            {{layout handle="advancedrar_email_product_list" reminder=$reminder reminderStore=$reminderStore customer=$customer products=$products relatedProducts=$relatedProducts is_email=1 area="frontend"}}
                         </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
