<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Product list toolbar
 *
 * @var $block \Magento\Catalog\Block\Product\ProductList\Toolbar
 */
?>
<p class="toolbar-amount" id="toolbar-amount">
    <?php if ($block->getLastPageNum() > 1) :?>
        <?= $block->escapeHtml(
            __(
                'Items %1-%2 of %3',
                '<span class="toolbar-number ">' .'Showing ' . $block->getFirstNum() . '</span>',
                '<span class="toolbar-number ">' .'Showing ' . $block->getLastNum() . '</span>',
                '<span class="toolbar-number ">'. 'Showing ' . $block->getTotalNum() . '</span>'
            ),
            ['span']
        ) ?>
    <?php elseif ($block->getTotalNum() == 1) :?>
        <?= $block->escapeHtml(
            __('%1 Item', '<span class="toolbar-number ">' .'Showing ' . $block->getTotalNum() . '</span>'),
            ['span'] 
        ) ?>
    <?php else :?>
        <?= $block->escapeHtml(
            __('%1 Items', '<span class="toolbar-number "> ' .'Showing '. $block->getTotalNum() . '</span>'),
            ['span']
        ) ?>
    <?php endif; ?>
</p>
