<!-- ko if: (visible)-->
<div class="field addresses">
    <div class="control">
        <div class="shipping-address-items">

            <select class="select" name="shipping_address_id" data-bind="
                options: addressOptions,
                optionsText: addressOptionsText,
                value: selectedAddress,
                event: {change: onAddressChange(selectedAddress())};
            "></select>
        </div>
    </div>
</div>
<!-- /ko -->

