<?php
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2021 Amasty (https://www.amasty.com)
 * @package Amasty_Shopby
 */
?>
<?php
/** @var \Amasty\Shopby\Block\Navigation\ApplyButton $block */
/** @var \Magento\Framework\Escaper $escaper */

use Amasty\Shopby\Block\Navigation\UrlModifier;

$postfix = uniqid();
?>

<?php if ($block->blockEnabled()): ?>
    <?php if (!$block->isAjaxEnabled()): ?>
        <form data-amshopby-filter="">
            <input type="hidden"
                   name="<?= /* @noEscape */ UrlModifier::VAR_REPLACE_URL ?>"
                   value="1"/>
        </form>
    <?php endif; ?>
    <style type="text/css">
        .am_shopby_apply_filters.visible {
            width: 90%;
            right: 0;
        }
       body .am_shopby_apply_filters.visible  .amshopby-byn-reset{
            border-radius: 32px;
            font-family: Exo;
            font-weight: 700;
            margin: 0px 4px 0px 15px;
            font-size: 12px;
            background-color: #F3F3F3;
            color: #000;
            border: none;
            width: 100%;
            height: 45px;
        }
      body .am_shopby_apply_filters.visible  .viewresult-btn{
             border-radius: 32px;
            font-family: Exo;
            font-weight: 700;
            margin: 0px 15px 0px 4px;
            font-size: 12px;
            background-color: #FF7200;
            color: #fff;
            border: 1px solid #ff7200;
            width: 100%;
            height: 45px;
        }

    .filter-active .visible.hide{
      display: block !important;
    }

    </style>
    <div class="am_shopby_apply_filters visible">
        <div class="am-show-button -horizontal">
            
            <button 
                    title="<?= $escaper->escapeHtmlAttr(__('Reset')) ?>"
                    aria-label="<?= $escaper->escapeHtmlAttr(__('Reset')) ?>"
                    class="amshopby-byn-reset">
                <?= $escaper->escapeHtml(__('Reset')) ?>
            </button>
            <span class="am-items"></span>
            <button amshopby-apply-filter="1"
                    id="amasty_shopby_apply_filters_<?= /* @noEscape */ $postfix ?>"
                    data-mage-init='{"amShopbyApplyFilters":{
                        "ajaxEnabled": <?= /* @noEscape */ ($block->isAjaxEnabled() ? '1' : '0') ?>,
                        "navigationSelector": "<?= $escaper->escapeHtml($block->getNavigationSelector()) ?>",
                        "clearUrl": "<?= $escaper->escapeUrl($block->getClearUrl()) ?>",
                        "buttonPosition": "<?= $escaper->escapeHtml($block->getButtonPosition()) ?>"
                    }}'
                    title="<?= $escaper->escapeHtmlAttr(__('View Result')) ?>"
                    aria-label="<?= $escaper->escapeHtmlAttr(__('View Result')) ?>"
                    class="amshopby-button viewresult-btn">
                <?= $escaper->escapeHtml(__('View Result')) ?>
            </button>
        </div>
    </div>
<?php endif; ?>
<script type="text/javascript">

    require(["jquery"],function($){
     $(document).ready(function(){




             $('#dismobile > strong').on('click', function () {
                
                    $(".am_shopby_apply_filters.visible").addClass("hide");
                    $(".amshopby-byn-reset").trigger('click');
               });
               

             $(".amshopby-byn-reset").on('click', function () {
                // $('#narrow-by-list .filter-options-content input[type="radio"]:checked').trigger('click');


                 $('#narrow-by-list .filter-options-content input[type="radio"]:checked ~ .amshopby-link-selected').trigger('click');


                $('#narrow-by-list .filter-options-content input[type="checkbox"]:checked').trigger('click');
                if($("#narrow-by-list .filter-options-item").hasClass("allow")){
                    $("#narrow-by-list .filter-options-item").addClass("active");
                }
            });


     });
 });



 
</script>