<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CompanyCredit
 * @author     Extension Team
 * @copyright  Copyright (c) 2020 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
use Bss\CompanyCredit\Block\Customer\Account;

?>

<?php
// @codingStandardsIgnoreFile

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();  
$customerSession = $objectManager->create('Magento\Customer\Model\Session');  
$customer = $customerSession->getCustomer();
/** @var  $block Account */
?>

<?php
$creditInfor = $block->getDataCompanyCredit();
$credit = $this->getCurrentCompanyCredit();
$percentage = ($credit->getId()) ? (($credit->getUsedCredit()*100)/$credit->getCreditLimit()) : 0;
?>
<div class="block block-companycredit">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Account Balance')); ?></strong>
    </div>
    <div class="balance-billing-account-balance">
        <div class="balance-indicator">
            <div class="balance-indicator-body">
                <div class="balance-indicator-title">  <span class="balance-indicator-title-value"><?= __('Identify')?></span>  </div>
                <div class="balance-indicator-bar"><div class="balance-indicator-bar-progress" style="width:<?= $percentage ?>%;"></div></div>
                <div class="balance-indicator-details">
                    <div class="balance-indicator-details-outstanding-balance">
                        <span class="balance-indicator-details-outstanding-reference"></span>
                        <span class="balance-indicator-details-outstanding-label"><?= __('Outstanding Balance') ?></span>
                        <span class="balance-indicator-details-outstanding-value"><?= ($creditInfor) ? $creditInfor["used_credit"] : '-' ?> </span>
                    </div>
                    <div class="balance-indicator-details-available-credit">
                        <span class="balance-indicator-details-available-credit-reference"></span>
                        <span class="balance-indicator-details-available-credit-label"><?= __('Available') ?></span>
                        <span class="balance-indicator-details-available-credit-value"><?= ($creditInfor) ?$creditInfor["available_credit"]: '-' ?></span>
                    </div>
                </div>
            </div><!-- Ends balance-indicator-body -->
            <div class="balance-indicator-summary">
                <p class="balance-indicator-summary-credit-limit"><?= __('Credit Limit:') ?> <span class="balance-indicator-summary-credit-limit-value"><?= ($creditInfor) ? __($creditInfor["credit_limit"]) : '-'; ?></span> </p>
            </div>
        </div>
        <div class="balance-credit-and-account">
            <div class="balance-summary-account-details">
                <div class="balance-summary-account-details-card">
                    <div class="balance-summary-account-details-body">
                        <p class="balance-summary-account-details-title"><?= __('Account Details') ?></p>
                        <div class="balance-summary-account-terms">
                            <span class="balance-summary-account-terms-label"><?= __('Term:') ?> </span>
                            <span class="balance-summary-account-terms-value"><?= ($customer->getTerms()) ? $customer->getTerms() : '-'  ?></span>
                        </div>
                        <div class="balance-summary-account-currency">
                            <span class="balance-summary-account-currency-label"><?= __('Currency:') ?></span>
                            <span class="balance-summary-account-currency-value"><?= $customer->getCustomerCuurency() ?></span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- Ends balance-credit-and-account-->
    </div>
</div>