


body {
    .breadcrumbs 
    {
        .items{
                padding: 25px  0px  12px !important;
            .item{

                a{
                  color: #828282;
                font-weight: 600;
                font-size: 14px;
                line-height: 1;
                font-family: 'Inter';
                }
                strong{
                   color: #828282;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 1;
                    font-family: 'Inter';
                }
            }
        }
       
        .item:not(:last-child){
            &:after {
                border-right: none;
                content: "\f0da" !important;
                font-family: 'FontAwesome' !important;
                width: 5px;
            }
        }
    }
}


.catalog-category-view{






.swatch-option-tooltip .title {
    position: relative;
    top: 63px;
    left: 37px;
    border: 1px solid #000000;
    padding: 4px 8px;
    color: #000000;
    border-radius: 2px;
    font-size: 12px;
    background-color: #ffffff;
}

    .breadcrumbs{
        max-width: 1440px !important;
        padding-left: 15px !important;
        padding-right: 15px !important;
        .items{
            max-width: 1440px !important;
        }
    }
    .page-main{
        max-width: 1440px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }
    .bottom_toolbar{
            padding-top: 25px;
        .toolbar-products{

            .toolbar-sorter{
                display: none;
            }
            .modes{
                display: none;
            }
            .toolbar-amount{
                display: none !important;
            }
            .pages{
                display: block;
                float: right ;
                .pages-items{
                    .action.next {
                         &:hover{
                            &:before {
                                 color: #000000;
                            }
                        }    
                        &:before {
                                 color: #000000;
                            }
                    }
                    .item a,
                    .item strong {
                            border-radius: 50%;
                            background-color: #F3F3F3;
                            border-color: #F3F3F3;
                            color: #111111;
                            font-size: 16px;
                            font-family: 'Inter';
                            width: 40px;
                            line-height: 38px;
                    }
                    .item.current{
                        .page{
                            background-color: #f37231 !important;
                            color: #fff !important;
                        }

                    }
                }
            }
            .field.limiter{
                display: block;
                float: left;
                clear: none;
                .label span {
                    color: #000000;
                    font-family: Inter;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 14px;
                }
                .control {
                    #limiter{
                            border: 1px solid #F3F3F3;
                            background-color: #F3F3F3;
                            color: #040404;
                            border-radius: 32px;
                            padding: 0px 16px;
                            padding-right: 30px;
                            line-height: 40px;
                            height: 40px;
                            width: 150px;
                            font-family: Inter;
                            font-style: normal;
                            background-size: 45px 60px;
                            font-weight: normal;
                            font-size: 16px;
                    }
                }
            }
        }
    }
    #product-listing-shopby-state {
        margin-top: 0%;
    }
    .toolbar-sorter {
        .sorter-action {
            &:before {
               content: none;

            }
        }
        .sorter-label{
            display: none;
        }
        #sorter{
                margin-right: 0px;
                border: 1px solid #f3f3f3;
                color: #000000;
                border-radius: 5px;
                background-color: #F3F3F3;
                font-size: 16px;
                padding-right: 30px;
                width: 268px;
                background-size: 40px 60px;
                height: 40px;
                padding-left: 15px;
        }
    }
    .toolbar {
            border-bottom: none;
            padding-bottom: 0px;
        .toolbar-amount{
            display: block !important;
            color: #828282;
            font-weight: 600;
            font-family: 'Inter';
            margin-top: 6px;
        }
        .sorter{
            margin-right: 0px;
        }
        .modes {
            display: flex;
            flex-direction: row-reverse;

            .mode-list{
                &:before {
                    /*content: '\e87b';*/
                    content: url(../images/AddtoList12.png);
                    position: relative;
                    top: 1px;
                    
                }
                &:hover{

                    &:before {
                        content: url(../images/AddtoList13.png);
                    }

                }
            }
            .active.mode-list{

                margin-left: 0px;
                &:before {
                    /*
                        content: url(../images/AddtoList13.png);
                        top: 0px;*/
                        content: url(../images/AddtoList13.png);
                        position: relative;
                        top: 2px;
                        width: 20px
                    }
            }
            .modes-mode {
                &:before{
                        font-size: 21px;
                        width: 21px;

                }
                margin-right: 5px;
                margin-left: 15px;
                color: #AAAAAA;
                width: 18px;
            }
            .modes-mode.active {
                color: #F37231;
            }
            .modes-mode:hover {
                border: none;
                background: none;
                color: #ff7200;
            }
        }
        
    }
    .column.main{
        margin-bottom: 70px !important;
        .products-grid.products{
           padding-top: 25px;           
        }
    }
    ol.filterproducts {
        display: flex;
            flex-wrap: wrap;
        overflow: hidden;
        border-radius: 8px;
        border: 1px solid #ccc;
        >.item {
            padding: 0px !important;
            border-right: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            margin-bottom: 0px;
            .product-item-info{
                padding: 10px 10px;
                .product-item-photo{
                    a{
                       .product-image-photo{
                         padding-top: 0px;
                       } 
                    }
                }
            }

            .outofpro span {
                font-size: 14px;
                font-family: 'Inter';
                height: 20px;
                margin-bottom: 10px;
                display: block;
            }
            .price-box.price-final_price{
                .old-price {
                    margin-top: -18px;
                
                }    
            }
            

            span.old-price.sly-old-price.no-display {
                position: relative;
                bottom: inherit;
                margin-top: -18px;
            }
            .carttopics{
                width:auto !important;
                vertical-align: middle;
            }
            .product-item-link{
                height: auto;
                overflow          : hidden;
                text-overflow     : ellipsis;
                display           : -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                    min-height: 34px;
            }
            .product-item-details{
                 padding-left: 0px;
                padding-right: 0px;
                padding-top: 0px;
                padding-bottom: 0px;
                min-height: 165px;
                &:before {
                    content: "";
                    display: table;
                }
                &:after {
                    clear: both;
                    content: "";
                    display: table;
                }
                .price-box.price-final_price {
                    margin-top: 0px;
                    height: 40px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .notify-product-inner{
                    margin-top: 0px !important;
                    .notify-product.primary{
                        margin-right: 0px;
                        top: 0px;
                    }
                }
           }
           .product_addtional_data{
                    min-height: 45px;
                    margin-bottom: 0px;
                    padding: 12px 0px 10px;
                    position: relative;
                    height: auto;
                .color-desc{
                
                   display: none !important;
                }
                .swatch-attribute {
                    .swatch-option {
                        margin: 0px 7px 5px 0px !important;
                    }
                }

           }
        }
        .category-custom-image {
            width: 100%;
            clear: both;
            overflow: hidden;
            padding: 0px 0px;
            /*border-bottom: 1px solid #ccc;*/
            /*border-right: 1px solid #ccc;*/
            .custpics-category{
                width: 100%;
                max-width: 100%;
            }
        }
    }


}


.catalog-category-view{

    .products-list{
        .filterproducts{
            .item{

                 .product-labels{
                
                .product-label.grade-label{
                    top: -10px !important;
                }
                .product-label.sale-label {
                
                    top: -10px;
                }
                .product-label.new-label {
 
                        top: -10px;
                    
                }
            }





            }
        }
    }


    .filterproducts{
        .item{
            button.action.tocart.primary{ 
                font-size: 0px;
                 height: 40px;
                     border: none;
                span{
                    font-size: 0px;
                    &:before {
                        content: "";
                        background-image: url(../images/cart-icon.png);
                        background-repeat: no-repeat;
                        background-size: cover;
                        font-size: 12px;
                            border: none;
                        line-height: 45px;
                       
                        padding: 4px 22px 0px 1px;
                    }
                }
            }
            .product-labels{
                .product-label{
                    font-size: 12px;
                    font-family: 'Inter';

                }
                .product-label.grade-label{
                    /*top: 0px !important;*/
                }
                .product-label.sale-label {
                    position: absolute;
                    top: -10px;
                    bottom: initial;
                    left: 0px;
                    width: auto;
                    padding: 5px 8px !important;
                    span {
                        display: inline-block;
                    }
                }
                .product-label.new-label {
 
                        top: -10px;
                        bottom: initial;
                        left: 85px;
                        right: initial;
                        width: auto;
                        padding: 5px 8px !important;
                        position: absolute;
                        display: block;
                    
                }
            }




        }
    }
}


@media screen and (min-width:  1100px) and (max-width:  1279px){
    .catalog-category-view{
        .products-grid {
            .product-item {
                width: 33.33% !important;
            }
        }
    }
}

@media screen and (max-width:  767px){
    .header.content {
       
          min-height: 120px;

    }
}

@media screen and (min-width:  768px){
    .catalog-category-view{
        .sidebar.sidebar-main{
          padding-right: 0px;
             #layered-filter-block{
                max-height:  auto;
                margin-top: 47px;
             }
        }
        .column.main{
             padding-left: 22px;
        }
    }
}



.catalog-category-view{
    .sidebar.sidebar-main{
        padding-right: 0px;


.filtercount {
    font-size: 14px;
    color: #D2D2D2;
    font-family: 'Inter';
    position: relative;
    font-weight: 600;
    padding-left: 10px;
    &:after {
            padding: 0px 0px;
            content: "";
            width: 6px;
            position: absolute;
            height: 6px;
            background-color: #f37231;
            right: -12px;
            border-radius: 50%;
            top: 6px;
        }
}




        .amshopby-slider-wrapper.-improved{
            margin-left: 0px;
            margin-right: 0px;
        }
                    .amshopby-slider-container.-improved {
                            background-color: #F3F3F3;
                            border-radius: 48px;
                            margin-top: 0px;
                            padding-top: 8px;
                            padding-bottom: 0px;
                            padding-left: 16px;
                            display: flex;
                            flex-direction: column-reverse;
                            margin-bottom: 20px;
                            padding-right: 16px;
                            .amshopby-slider-display {
                                font-size: 0px;
                                font-family: 'Inter';
                                font-weight: 600;
                                margin-top:22px;
                                color: #828282;
                                margin-bottom: 7px;
                                .lftyr{
                                        position: absolute;
                                        left: 18px;
                                        top: 13px;
                                        font-size: 12px;

                                }
                                .rightu{
                                        position: absolute;
                                        right: 18px;
                                        top: 13px;
                                        font-size: 12px;
                                }
                            }
                            [data-amshopby-slider-id="slider"] a:last-child .amshopby-slider-tooltip {
                                left: -20px !important;
                            }
                            .amshopby-slider-tooltip {
                                left: 20px;
                                border: 1px solid #FF7200;
                                background: #FF7200;
                                &:after {
                                    left: calc(50% - 14px);
                                    background: #FF7200;  
                                }
                                &:before {
                                    left: calc(50% - 14px);
                                    background: #FF7200;  
                                }

                                
                            }
                        .ui-slider-range {
                            background: #FF7200;
                        }
                        .ui-slider-handle{
                            background: #FF7200;
                        }
                    }
            #layered-filter-block{
                max-height: 1200px;
                margin-top: 47px;
                .filter-content{

                    .filter-options {
                        .filter-options-item {
                                margin-bottom: 0px;
                                border-top: 1px solid #D2D2D2;
                                    margin-right: 8px;
                            }
                        .filter-options-title {
                            padding: 16px 0px !important;
                            background-color: #ffffff;
                            font-family: 'Inter';
                            color: #000;
                            font-size: 14px;
                            text-transform: capitalize;
                            font-weight: 600;
                            &:after{
                                margin-top: -11px !important;
                                font-size: 26px !important;
                                color: #000 !important;
                                content: '\f813';
                            }
                        }
                        .active {
                            > .filter-options-title{
                                &:after {
                                    margin-top: -11px !important;
                                    content: '\f810';
                                    font-size: 26x;
                                }
                            }
                        }
                    }


                }
                .filter-options-content {
                        padding: 0px 0px 15px 0px;
                        border-bottom: nono;
                       
                            .am-show-more {
                                font-weight: 600;
                                font-size: 14px;
                                background: #ffffff;
                                color: #FF7200 !important;
                                font-family: 'Inter';
                                padding: 0px 0px;
                                &hover{
                                        color: #ff7200 !important;
                                }
                            }
                        

                        .items{
                            margin-left: 0px;
                            margin-right: 0px;
                        }
                    .item {
                        > [data-am-js="filter-item-default"]{
                            display: flex;
                                color: #000 !important;
                                font-size: 14px;
                                font-family: 'Inter';
                                font-weight: 600;
                                span.label{
                                    font-size: 14px;
                                    color: #000000;
                                    font-family: 'Inter';
                                    font-weight: 600 !important;
                                        text-transform: capitalize;
                                        vertical-align: bottom !important;
                                        overflow: hidden;
                                        text-overflow: ellipsis;
                                        display: -webkit-box;
                                        -webkit-line-clamp: 1;
                                        -webkit-box-orient: vertical;
                                        width: 90%;
                                }
                                span.count {
                                    font-size: 14px;
                                    color: #D2D2D2 !important;
                                    font-family: 'Inter';
                                        font-weight: 600;
                                }
                        }
                        .facets-faceted-navigation-item-category-facet-option{
                            color: #000 !important;
                            font-size: 14px !important;
                            font-family: 'Inter';
                            font-weight: 600;
                            text-transform: capitalize !important;
                            span{
                                &:after{
                                    width: 16%;
                                        color: #000;
                                }
                            }
                        }
                    }
                    .am-ranges {
                        li {
                            display: flex;
                            padding: 9px 0;
                            align-items: center;
                            input[type="checkbox"] {
                                &:checked {
                                    &+.new_checkbox {
                                        &:before {
                                            color: #ffffff;
                                            font-size: 12px;
                                            margin: 3px 0px 0px 2px;
                                        }
                                        border: 2px solid #f37231;
                                        background-color: #f37231;
                                    }
                                }
                            }
                            .new_checkbox {
                                margin-top: 0px !important;
                                vertical-align: bottom: !important;
                                width: 20px;
                                margin-right: 10px;
                                height: 20px;
                                border-radius: 4px;
                                border: 2px solid #D2D2D2;
                            }
                        }
                    }

                }
            }
    }
    
}


@media screen and (min-width:  768px){
    .catalog-category-view {
        .filterproducts{
            > .item{
                .product-item-link {
                    font-size: 14px !important;
                } 
                  
            }
        }
    }
}



@media screen and (min-width:  1280px){
    .catalog-category-view {
        .products-grid{
        .filterproducts{
            > .item{
                        &:nth-child(4n -4){
                                border-right: none;
                        
                    }
                        &:nth-child(-n + 4){
                                border-top: none;
                                .product-item-info{
                                    /*padding-top: 0px;*/
                                }
                                &:hover {
                                    .product-item-info {
                                        /*padding-top: 0px !important;*/
                                    }
                                }
                        
                    }
                    &:nth-last-child(-n+4) {
                           margin-bottom: -1px;
                    }
                    
                 
            }

             .category-custom-image ~ .item:nth-child(4n -3) {
                    border-left: 1px solid #ccc;
                    border-right:  0px;
                }
        }

       

        }
    }
}



@media screen and (min-width:  1100px) and (max-width:  1279px){
    .catalog-category-view {
       .products-grid {
           .filterproducts {
            > .item{
                        &:nth-child(3n -3){
                                border-right: 0px !important;
                        
                    }
                        &:nth-child(-n + 3){
                                 border-top: none !important;
                                 .product-item-info{
                                    /*padding-top: 0px;*/
                                }
                                 &:hover {
                                    .product-item-info {
                                        /*padding-top: 0px !important;*/
                                    }
                                }
                        
                    }
                    &:nth-last-child(-n+3) {
                        margin-bottom: -1px;
                    }
                    
                 
            }
                .category-custom-image ~ .item:nth-child(3n -2) {
                border-right: 0px !important;
            }
        }
    }
    }
}


@media screen  and (max-width:  1099px){
    .catalog-category-view {
        .products-grid{
        .filterproducts{
            border-right: 0px !important;
            > .item{
                        &:nth-child(2n -2){
                                border-right: none;
                        
                    }
                        &:nth-child(-n + 2){
                                border-top: none;
                                .product-item-info{
                                    /*padding-top: 0px;*/
                                }
                                 &:hover {
                                    .product-item-info {
                                        /*padding-top: 0px !important;*/
                                    }
                                }
                        
                    }
                     &:nth-last-child(-n+2) {
                        margin-bottom: -1px;
                    }
                    
                 
            }
            .category-custom-image ~ .item:nth-child(2n -1) {
                border-left: 1px solid #ccc !important;
                border-right: 0px !important;
            }
        }
    }
    }
}







@media screen and (max-width:  999px){


.catalog-category-view {


 .filterproducts .item .product-labels .product-label.new-label {
    left: 67px;
     line-height: 0.8 !important;
    
}

    .sidebar.sidebar-main {
        #layered-filter-block {
            .filter-options-content {
                .am-ranges{
                     li {
                            padding: 3px 0;
                        }
                }
            }
        }
    }
}


.catalog-category-view.filter-active  {
    .page-header.header-newskin{
            z-index: 99 !important;
    }
    
}

    .catalog-category-view {
        /*#dismobile{
            display: none;
        }*/
        .bottom_toolbar {
            .toolbar-products {
                .pages{
                    margin-bottom: 0px;
                    margin-top: 25px;
                }
                .field.limiter {
                    .label{
                        display: block !important;
                    }
                    .control {
                        #limiter {
                            margin-left: 0px;
                            margin-top: 8px;
                            width: 130px;
                        }
                    }
                }
            }
        }
        .column.main {
            padding-left: 0px;
            .products-grid.products{
                   margin-left: -15px !important;
                    margin-right: -15px !important;           
            }
        }
        .filterproducts{
                border-left: none !important;
                border-radius: 0px !important;
            > .item{

                .swatch-option {
                    min-width: 12px;
                    width: 12px !important;
                    height: 12px !important;
                }
                .qty-box {
                    width: 150px !important;
                    height: 40px !important;
                }
                 .outofpro {
                    span {
                        font-size: 12px !important;
                    }
                 }
                .product-item-link {
                    font-size: 12px !important;
                }
                .product-labels{
                    .product-label{
                        font-size: 10px;
                        padding: 7px 8px !important;

                    }
                    .product-label.sale-label {
                        padding: 0px 5px !important;
                        height: 18px;
                        
                    }
                    
                }
                .product-item-details {
                    .product-item-actions {
                        white-space: nowrap;
                        margin: 9px 0 9px 0px;
                    }
                    .product-item-inner {
                        float: none;
                        margin-left: 0px;
                        text-align: center;
                    }
                    .price-box.price-final_price {
                        margin-top: 0px !important;
                        clear: inherit;
                        float: none;
                         span.price {;
                            font-size: 14px;
                        }
                        .old-price{
                         .price{
                            font-size: 12px !important;
                            top: 0px !important;
                         }   
                        }

                    }
                }
            }
        }

    .sidebar.sidebar-main{
        .filter.active{
             .filter-title {
                right: 0;
                left: auto;
                    width: 50%;
                .strong {
                    right: 0px;
                    left: auto;
                }
            }
            .filter-content{
                position: fixed;
                top: 0px;
                bottom: 0px;
                overflow-y: scroll;
                right: 0;
                width: 90%;
                background-color: #fff;


                .filter-current{
                        left: auto;
                        right: 0px;
                        z-index: 11;
                         padding: 0px 0px;
                          position: relative;
                        width: 100%;
                        height: auto !important;
                }
                 .filter-subtitle {
                        left: auto;
                        /*right: 0px;*/
                        z-index: 99;
                        background-color: #fff;
                            width: 50%;
                    }
                    #narrow-by-list{
                        padding: 10px 10px 10px 15px !important;
                        right: 0px;
                        left: auto;
                        position: relative;
                        top: 47px !important;
                        width: 100%;
                        .filter-options-content {
                            padding: 0px  0px 20px!important;
                        }
                    }
            }
        }
    }



    }
}


.catalog-category-view {
    .sidebar{

        [data-amshopby-filter="color"]{
            padding: 0px;
            margin: 0 0px;
            .am-swatch-wrapper{
                    margin: 5px 0 0px !important;
            }
        }
        #layered-filter-block{
            [data-amshopby-filter="am_on_sale"]{
                padding-top: 15px;
                > ol {
                    > li 
                    {
                            flex-direction: row-reverse;
                        justify-content: space-between;

                     > .new_checkbox {
                        float: right;
                        margin-right: 11px;    
                        position: relative;
                        top: 4px;
                    }
                        > a {
                            span.label{
                                color: #FF7200 !important;
                            }    
                        }
                    }
                }
            }
            [data-amshopby-filter="stock"]{
                padding-top: 15px;
                > ol {
                    > li {
                            flex-direction: row-reverse;
                        justify-content: space-between;
                        > .new_checkbox {
                            float: right;
                            margin-right: 11px;    
                            position: relative;
                            top: 4px;

                        }
                        > a {
                            span.label{
                                color: #FF7200 !important;
                            }    
                        }
                    }
                }
            }

            .block-combine-filters{
                    margin-bottom: 15px;
                    display: flex;
                     align-self: center;
                     justify-content: space-between;
                     align-items: center;
                     a.action.clear.filter-clear {
                        font-family: 'Inter';
                        padding: 0px;
                        background-color: transparent;
                        text-transform: capitalize;
                        font-weight: 600;
                        &:hover{
                            color: #000;
                        }
                            span{
                                 font-size: 14px;
                                     padding: 0px; 
                            }
                    }
                .block-subtitle.filter-current-subtitle {
                    padding: 0px !important;
                    text-transform: capitalize;
                    font-size: 14px;
                    font-family: 'Inter';
                }
                .block-actions.filter-actions {
                    padding: 0px;
                }
            
            }  
            .amshopby-filter-current {
                    .amshopby-remove {
                        top: 12px;
                        &:after {
                            height: 2px;
                        }
                        &:before {
                            height: 2px;
                        }
                    }
                    .amshopby-filter-name {
                     display: none;
                }
                .amshopby-filter-value {
                    font-family: Inter;
                    font-weight: 600;
                        color: #000;
                    font-size: 14px;

                    .swatch-option-link-layered {
                            .swatch-option {
                                margin-right: 2px;
                                margin-left: 2px;
                                margin-bottom: 0px;
                                min-width: 18px !important;
                                height: 18px !important;
                                border-radius: 14px;
                            }
                    }
                    
                } 
                ol>.item.amshopby-item {
                    background-color: #F3F3F3;
                    border-radius: 16px;
                        padding: 6px 26px 7px 10px;
                    margin-bottom: 10px;
                    margin-right: 10px;
                }                
            }
        }
            
    }
    
}


@media screen and (min-width:  999px){
    .catalog-category-view {
        .sidebar.sidebar-main{
            margin-bottom: 100px;
        }
        #amasty-shopby-product-list{
            .onlydisplaymobile{
                display: none;
            }

            #sortmovilew{
                    display: block !important;
            }#sorter{
                    display: block !important;
            }

        }
        
    }
}


@media screen and (max-width:  999px){
    .catalog-category-view {
        .breadcrumbs {
                display: block;
             padding-top: 115px !important;
        }
        .column.main {
            .products-grid.products{
               padding-top: 40px;           
            }
        }
        
        #amasty-shopby-product-list{
            .toolbar.toolbar-products{
                    position: relative;
            }
            .modes{
                float: left;
                a#mode-list {
                margin-left: 0px;
                }    
            }
            
            p#toolbar-amount {
                position: absolute;
                    top: -45px;
            }
            .toolbar-sorter.sorter{
                    line-height: 1;
                    overflow: hidden;
                    padding-top: 9px;
                    margin-bottom: 0px;
                    .sortmovile{
                        background-color: #fff;
                        display: block;
                        padding: 5px 20px;
                        overflow: hidden;
                        position: absolute;
                        left: 0px;
                        width: 100%;
                        bottom: -41px;
                        z-index: 9;
                        text-align: center;
                    }
               /* #sorter{
                    position: absolute;
                    right: 0;
                    bottom: -35px;
                    z-index: 2;
                }*/
                .inverboxsrtfiltr {
                    display: flex;
                    justify-content: flex-end;
                }
                .sortsicons {
                    font-family: 'Inter';
                    font-size: 16px;
                    color: #000;
                    font-weight: 400;
                    margin-right: 15px;
                    span{
                        &:before{
                            content: "";
                            background-image: url(../images/menu.png);
                            background-repeat: no-repeat;
                            padding: 0px 11px 2px;
                                margin-right: 10px;
                                position: relative;
                                top: -2px;
                        }
                    }
                }
                .filtericons{

                    font-family: 'Inter';
                    font-size: 16px;
                    color: #000;
                    font-weight: 400;
                    span{
                        &:before{
                                content: "";
                                background-image: url(../images/sliders.png);
                                background-repeat: no-repeat;
                                padding: 2px 11px;
                                    margin-right: 10px;
                        }
                    }
                }
            }
        }
        
    }
}


                


@media screen and (max-width:  414px){
    .catalog-category-view {

    .filterproducts {
        .item {
            .qty-box {
                   left: 1px !important;
                }
            button.action.tocart.primary {
                span {
                    &:before {
                       
                        line-height: 40px;
                    }
                }
            }
        }
    }
}

}



@media screen and (max-width:  414px){
    .catalog-category-view {
      .products-list{

        .filterproducts {
                .item {
                    .qty-box {
                           left: 1px !important;
                        }
                    button.action.tocart.primary {
                        
                        span {
                            &:before {
                               
                                line-height: 40px;
                            }
                        }
                    }
                }
            }

      }  
    
}

}








@media screen and (max-width:  999px){




    .catalog-category-view {
        #amasty-shopby-product-list{
            >.toolbar.fixed-menu {
                background-color: #ffffff;
                left: 0;
                padding-left: 15px;
                padding-right: 15px;
                position: fixed !important;
                top: 120px;
                width: 100%;
                z-index: 15;
                padding-top: 5px;
                padding-bottom: 5px;
                border-bottom: 1px solid #f5f0f0;                
              #toolbar-amount{
                    display: none !important;
                }
            }
        }
        .sidebar {
            .filter.active {
                .filter-options-title{
                    &:after {
                        right: -2px;
                    }
                }
               .filter-current {
                padding: 10px 15px !important;
                .items {
                    display: flex !important;
                        padding: 0px 0px !important;
                        flex-wrap:wrap ;
                }
                .filter-actions {
                    a {
                        span{
                        padding-right: 0px !important;    
                        color: #ff7200 ;
                        }
                    }
                    display: contents;
                }
               }
                .filter-title {
                        background-color: #fff;
                        strong{
                            right: -2px;
                            &:before {
                                color: #000;
                                    content: url(../images/corss.png);
                            }
                        }

                    }
                    .filter-subtitle{
                            color: #000 !important;
                            font-family: 'Exo';
                            font-size: 24px;
                            text-transform: capitalize;
                            padding: 8px 15px !important;
                            font-weight: 600;
                    }
                    div#am-shopby-container{
                         ~ div#narrow-by-list {
                            /*top: 187px !important;*/
                        }
                    }
            }
        }
         .toolbar {
            .modes {
                .mode-list {
                    &:before {
                        content: url(../images/checkgird.png);
                        position: relative;
                        top: 2px;
                        width: 20px;
                    }
                    &:hover {
                        content: url(../images/checkgirdyellow.png);
                        position: relative;
                        top: 2px;
                        width: 20px;
                    }
                }
                .mode-list.active {
                    &:before {
                        content: url(../images/checkgirdyellow.png);
                        position: relative;
                        top: 2px;
                        width: 20px;
                    }
                }
            }
        }
    }

}



@media screen and (min-width:  1000px){
    .catalog-category-view{
        .sidebar-main{
                #narrow-by-list {
                    overflow-y: auto;
                    overflow-x: hidden;
                    max-height: 1200px;
                        &::-webkit-scrollbar-track {
                                background-color: #E9E9E9;
                                 border-radius: 8px;
                            }
                            &::-webkit-scrollbar {
                                width: 8px;
                                border-radius: 8px;
                            }
                            &::-webkit-scrollbar-thumb {
                                background: #D2D2D2;
                                 border-radius: 8px;
                            }

                }
            }
    }
    
    
}

.catalog-category-view{
    #amasty-shopby-product-list{
            .block {
                    margin: 15px 0 15px;
                    background-color: #f4f4f4;
                    padding: 15px 15px;
                    border-radius: 10px;
                
                > .item a {
                    font-size: 14px;
                    color: #f37231;
                    font-family: 'Inter';
                }
                > .title {
                    font-size: 16px;
                    color: #000000;
                    font-weight: 700 !important;
                    font-family: 'Exo';
                }
            }

    }
}    

   




.catalogsearch-result-index .page-title-wrapper .base {
    font-size: 24px;
    color: #000000;
    font-weight: 700;
}


@media screen and (min-width:  999px){

.catalog-category-view{

    .products-grid{
    ol.filterproducts{
        /*min-height: 490px;*/
        &:hover{
            overflow: visible;
        }
    }
    li.item.product.product-item{
        position: relative;

        .product-item-info {
              /*transition: 0.3s;*/
              height: 100%;
        }
        &:hover {
            > .product-item-info {
                position: relative;
    padding: 10px 10px;
    transform: scale(1.01);
    left: 0px;
    z-index: 9;
    top: 1px;
                box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
            }
        }
    }
    }
}
}




.catalog-category-view{
    .products-list{
        ol.filterproducts{
                border-radius: 8px !important;
                 border: 1px solid #ccc !important;
              .product-labels {
                    .product-label.grade-label {
                        left: 166px;
                        right: auto;
                    }
                    .product-label.new-label {
                        left: 85px;
                    } 

              }

              /*.product-item-photo {
                        padding-top: 24px;
                    }  */  
                 
            .listview-productbox{
                float: left;
               
            }
             .leftside-list{
                        width: 70%; 
                        padding-left: 15px;      
                }
                .rightside-list{
                        width: 30%;
                        padding-right: 20px;
                        margin-bottom: 50px;
                        .combine-comapre-whilst {
                                overflow: hidden;
                                float: right;
                                clear: both;
                                .addcomaprebtn {
                                        padding-right: 12px;
                                    }
                            }  

                        .price-final_price span.price {
                            
                            font-size: 32px;
                        }

                }

            .product-item{

                 border-right: 0px solid #ccc;
                &:first-child{
                       
                        border-top: 0px solid #ccc;
                }

                .rating-summary .rating-result {
                    width: 100px;
                        margin-top: 12px;
                        height: 20px;
                     &:before {
                        font-size: 18px;
                        height: 18px;
                        line-height: 18px;
                        
                    }
                     span{
                        &:before {
                            
                            font-size: 18px;
                            height: 18px;
                            line-height: 18px;
                            color: #FFA740;
                        }
                     }



                }

                .product-item-details{
                    padding-top: 24px;
                    a.product-item-link {
                        font-family: Exo;
                        font-style: normal;
                        font-weight: bold;
                        line-height: normal;
                        font-size: 24px !important;

                    }
                     .qty-box{
                            position: relative;
                            padding: 0px 0px 0px 15px;
                        }
                }
                .product-item-info{
                    display: block;
                    .price-box.price-final_price {
                            display: block;
                            clear: both;
                            float: right;
                            margin-top: 0px;
                            height: auto;
                            margin-bottom: 30px;
                            .old-price.sly-old-price.no-display{
                                margin-top: 0px;
                                text-align: right;
                                 margin-right: 0px;
                                 span.price {
                                    font-family: 'Exo' !important;
                                    font-size: 16px !important;
                                        font-weight: 700 !important;
                                    }
                            }

                            .normal-price span.price {
                                font-weight: 700;
                               font-size: 32px;
                                   font-family: 'Exo';
                            }
                    }
                    .product-item-inner {
                            clear: both;
                         float: right;
                         button.action.tocart.primary{
                            position: relative;
                            right: 0px;
                            bottom: 0px;
                         }
                    }
                    .product-item-inner.notify-product-inner {
                        clear: both;
                        float: right;
                    }
                }
            }
        }
        .skugird {
            font-family: Inter;
            font-style: normal;
            font-weight: normal;
            color: #000000;
            font-size: 14px;
            text-transform: uppercase;
            span {
                    padding-left: 5px;
                    color: #000000;
                }
        }

    }
}




@media screen and (max-width: 999px){
    .catalog-category-view{
    .products-list{
        ol.filterproducts{
                border-radius: 8px !important;
                 border: 1px solid #ccc !important;
                 margin-top: 15px !important;
            .listview-productbox{
                float: left;
               
            }
             .leftside-list{
                        width: 50%;
                        padding-left: 0px;       
                }
                .rightside-list{
                        width: 50%;
                        padding-right: 0px;
                        margin-bottom: 0px;
                        .combine-comapre-whilst {
                                overflow: hidden;
                                float: right;
                                clear: both;
                                .addcomaprebtn {
                                        padding-right: 12px;
                                    }


                            }       
                }
                .product-item-details{
                    width: 100%;
                }
            .product-item{

                .product-item-details{
                    padding-top: 24px;
                   
                     .qty-box{
                            position: relative;
                            padding: 0px 0px 0px 15px;
                        }
                }
                .product-item-info{
                    display: block;
                    .product-item-photo{
                            width: 100%;
                            padding: 0;
                            display: block;
                    }
                    
                     .product-item-inner {
                            
                         button.action.tocart.primary{
                            right: -7px;

                         }
                    }
                    

                }
            }
        }
      

    }
}


.catalog-category-view {
    .products-list {
        ol.filterproducts {
            .product-labels {
                .product-label.grade-label {
                    left: auto; 
                    right: 0;
                }
            }
        }
    }
}





}




@media screen and (max-width: 500px){

    .catalog-category-view{
    .products-list{
        ol.filterproducts{
               
               .rightside-list{ 
                        .price-final_price span.price {
                            
                            font-size: 14px !important;
                        }

                }
            .product-item{

                .product-item-details{
                    padding-top: 24px;
                    a.product-item-link {
                        font-size: 16px !important;

                    }
                   
                }
                .product-item-info{                   
                    
                     .product-item-inner {   
                         button.action.tocart.primary{
                            right: -7px;

                         }
                    }
                    

                }
            }
        }
      

    }
}



#totop {
    bottom: 0px;
    right: 8px;
}


}

                    


@media screen and (max-width:  425px){
    .catalog-category-view {
      .products-grid{

        .filterproducts {
                .item {
                    .actions-primary{
                        width: 100%;
                        display: block;
                    }
                    .qty-box {
                               width: 100% !important;
                                justify-content: space-between;
                                padding-right: 0px;
                                input {
                                        left: 0px;
                                    }
                                    a.qtyminus {
                                        left: 5px;
                                    }
                                    a.qtyplus {
                                        left: -5px !important;
                                    }

                        }
                        button.action.notify-product.primary {
                            width: 100%;
                            position: relative;
                            top:  2px;
                            span{
                                position: relative;
                                top:  0px;
                            }
                        }
                    button.action.tocart.primary {
                        right: 0px !important;
                        position: relative;
                        bottom: 0px;
                        margin-top: 0px;
                    
                    }
                }
            }

      }  
    
}

}



@media screen and  (max-width: 999px){
    body.filter-active.catalog-category-view{
        overflow: hidden;
    }
}


@media screen and  (min-width: 1000px){
.catalog-category-view {
    .products-list {
        ol.filterproducts {
            .product-item {
                .product-item-info {
                    .price-box.price-final_price {
                            text-align: right;
                        .old-price {

                            span.price {
                                font-size: 16px !important;
                                font-weight: 700 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
}

.catalog-category-view {
    .products-list {

        .outofpro{
                float: right;
                clear: both;
                span {
                        font-size: 16px;
                        font-family: 'Exo';
                        height: 20px;
                        margin-top: 20px;
                        margin-bottom: 7px;
                        display: block;
                        color: #AAAAAA;
                        font-weight: 700;
                }
        }

        ol.filterproducts {
            .product-item {
                .product-item-info {
                    .price-box.price-final_price {
                            text-align: right;
                        .old-price {
                            margin-top: 0px;
                             margin-right: 0px;
                            span.price {
                                font-family: 'Exo' !important;
                                color: #AAAAAA !important;
                                text-align: right;
                                font-weight: 700 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media screen and  (max-width: 999px){
.catalog-category-view {
    .products-list {

         .outofpro{
                span {
                    height: 16px !important;
                    margin-bottom: 0px !important;
        
                }
        }

        ol.filterproducts {
            .product-item {
                .product-item-info {
                    .price-box.price-final_price {
                        .old-price.sly-old-price.no-display {
                            span.price {
                                font-size: 12px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
}