<?php
/**
 * BSS Commerce Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://bsscommerce.com/Bss-Commerce-License.txt
 *
 * @category   BSS
 * @package    Bss_CompanyCredit
 * @author     Extension Team
 * @copyright  Copyright (c) 2020 BSS Commerce Co. ( http://bsscommerce.com )
 * @license    http://bsscommerce.com/Bss-Commerce-License.txt
 */
use Bss\CompanyCredit\Block\Customer\Account;

?>

<?php
// @codingStandardsIgnoreFile

/** @var  $block Account */
?>

<?php
$histories = $block->getHistory();
$creditInfor = $block->getDataCompanyCredit();
?>
<div class="block block-companycredit">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Company Credit Information')); ?></strong>
    </div>
    <?php if ($creditInfor) : ?>
        <div class="block-content">
            <table class="data-grid">
                <tr>
                    <th class="data-grid-th"><?= $block->escapeHtml(__("Credit Limit")) ?></th>
                    <th class="data-grid-th"><?= $block->escapeHtml(__("Used Credit")) ?></th>
                    <th class="data-grid-th"><?= $block->escapeHtml(__("Available Credit")) ?></th>
                    <th class="data-grid-th"><?= $block->escapeHtml(__("Allow Excess")) ?></th>
                </tr>
                <tr>
                    <td class="a-right"><?= __($creditInfor["credit_limit"]); ?></td>
                    <td class="a-right"><?= __($creditInfor["used_credit"]); ?></td>
                    <td class="a-right"><?= __($creditInfor["available_credit"]); ?></td>
                    <td class="a-right"><?= __($creditInfor["allow_exceed"]); ?></td>
                </tr>
            </table>
        </div>
    <?php endif; ?>
</div>
<div class="block block-companycredit-history">
    <div class="block-title">
        <strong><?= $block->escapeHtml(__('Log Transaction')); ?></strong>
    </div>
    <div class="block-content">
        <div class="table-wrapper companycredit-history">
            <?php if ($block->getPagerHtml()) : ?>
                <div class="bss-companycredit-history-toolbar toolbar top">
                    <?= /* @noEscape */
                    $block->getPagerHtml(); ?>
                </div>
            <?php endif; ?>
            <table id="customerbalance-history" class="data table table-companycredit-history">
                <caption class="table-caption"><?= $block->escapeHtml(__('Log Transaction')); ?></caption>
                <thead>
                <tr>
                    <th scope="col" class="col transaction">
                        <?= $block->escapeHtml(__('ID')); ?>
                    </th>
                    <th scope="col" class="col date">
                        <?= $block->escapeHtml(__('Update At')); ?>
                    </th>
                    <th scope="col" class="col change">
                        <?= $block->escapeHtml(__('Type')); ?>
                    </th>
                    <th scope="col" class="col balance">
                        <?= $block->escapeHtml(__('Credit Change')); ?>
                    </th>
                    <th scope="col" class="col balance">
                        <?= $block->escapeHtml(__('Available Credit')); ?>
                    </th>
                    <th scope="col" class="col balance">
                        <?= $block->escapeHtml(__('Comment')); ?>
                    </th>
                    <th scope="col" class="col date">
                        <?= $block->escapeHtml(__('PO Number')); ?>
                    </th>
                    <th scope="col" class="col date">
                        <?= $block->escapeHtml(__('Order ID')); ?>
                    </th>
                    <th scope="col" class="col addition">
                        <?= $block->escapeHtml(__('Action')); ?>
                    </th>
                </tr>
                </thead>
                <tbody>
                <?php if (!empty($histories)) : ?>
                    <?php foreach ($histories as $history) : ?>
                        <tr>
                            <td data-th="<?= $block->escapeHtmlAttr(__('ID')); ?>"
                                class="col actions">
                                <?= /* @noEscape */ $history->getId(); ?>
                            </td>
                            <td data-th="<?= $block->escapeHtmlAttr(__('Update At')); ?>"
                                class="col date">
                                <?= /* @noEscape */ $block->formatDateTime($history->getUpdatedTime()); ?>
                            </td>
                            <td data-th="<?= $block->escapeHtmlAttr(__('Type')); ?>"
                                class="col actions">
                                <?= /* @noEscape */ $block->getTypeAction($history->getType(), $history->isAllowExceed()); ?>
                            </td>
                            <td data-th="<?= $block->escapeHtmlAttr(__('Credit Change')); ?>"
                                class="col change">
                                <?php if ($history->getChangeCredit() > 0) : ?>
                                <span class="bss-companycredit-green">
                                    <?php else : ?>
                                <span class="bss-companycredit-red">
                                    <?php endif; ?>
                                    <?= /* @noEscape */ $block->convertPrice($history->getChangeCredit(), $history->getCurrencyCode()); ?>
                                </span>
                            </td>
                            <td data-th="<?= $block->escapeHtmlAttr(__('Available Credit')); ?>"
                                class="col balance">
                                <?= /* @noEscape */ $block->convertPrice($history->getAvailableCreditCurrent(), $history->getCurrencyCode()); ?>
                            </td>
                            <td data-th="<?= $block->escapeHtmlAttr(__('Comment')); ?>"
                                class="col comment">
                                <?= /* @noEscape */ $history->getComment(); ?>
                            </td>
                            <td data-th="<?= $block->escapeHtmlAttr(__('PO Number')); ?>"
                                class="col po_number">
                                <?= /* @noEscape */ $history->getPONumber(); ?>
                            </td>
                            <td data-th="<?= $block->escapeHtmlAttr(__('Order Id')); ?>"
                                class="col order_id">
                                <?= /* @noEscape */ $history->getOrderId(); ?>
                            </td>
                            <td data-th="<?= $block->escapeHtmlAttr(__('Action')); ?>"
                                class="col action">
                                <?= /* @noEscape */ $block->viewOrder($history->getOrderId(), $history->getType()); ?>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                <?php endif; ?>
                </tbody>
            </table>
        </div>
        <?php if ($block->getPagerHtml()) : ?>
            <div class="bss-companycredit-history-toolbar toolbar bottom">
                <?= /* @noEscape */
                $block->getPagerHtml(); ?>
            </div>
        <?php endif; ?>
    </div>
</div>

