<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<?php /* @var $block \Magento\ProductAlert\Block\Product\View */?>
<!-- <div class="product alert <?php // $block->getHtmlClass() ?>">
    <a href="<?php // $block->escapeUrl($block->getSignupUrl()) ?>"
       title="<?php // $block->escapeHtml(__($block->getSignupLabel())) ?>" class="action alert">
        <?php // $block->escapeHtml(__($block->getSignupLabel())) ?>
    </a>
</div>
 -->

<span class="mess-out-of-stock alertboxset">
  <div class="notification-section product actions product-item-actions">
   <button type="button" out-of-stock-product-id="'+out_product_id+'" class="action notify-product primary"><span>Notify me</span></button></div>
</span>