<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Magento\Customer\Block\Account\Customer $block */
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
?>
<?php if ($block->customerLoggedIn()) : ?>
    <span class="customer-welcome">
	<span class="user-circle"></span>
	<span class="user-body"></span>
        <span class="customer-name"
              role="link"
              tabindex="0"
              data-mage-init='{"dropdown":{}}'
              data-toggle="dropdown"
              data-trigger-keypress-button="true"
              data-bind="scope: 'customer'">
            <button type="button"
                    class="action switch header-welcome-customer-name"
                    tabindex="-1"
                    data-action="customer-menu-toggle">
                <span class="header-customer-name"><?= $block->escapeHtml(__('Hi '.$customerSession->getCustomer()->getFirstname())) ?></span>
            </button>
        </span>
        <script type="text/x-magento-init">
        {
            "*": {
                "Magento_Ui/js/core/app": {
                    "components": {
                        "customer": {
                            "component": "Magento_Customer/js/view/customer"
                        }
                    }
                }
            }
        }
        </script>
            <div class="customer-menu" data-target="dropdown">
                <ul class="customer-header-profile-menu-myaccount-container">
                <li class="header-menu-myaccount-overview"><a class="header-menu-myaccount-overview-anchor" href="<?= $this->getUrl('customer/account/index') ?>"  name="accountoverview"> Account Overview </a>
                 <a class="header-menu-myaccount-signout-link" href="<?= $this->getUrl('customer/account/logout/') ?>" name="signout"><i class="fa fa-sign-out"></i><?= __('Sign Out') ?></a>
                </li>
                <li class="header-menu-myaccount-item-level2 header-menu-myaccount-level2-orders">
                    <a class="header-menu-myaccount-anchor-level2" href="#" name="orders">
                     <span>My Account</span>
                    </a>
                    <ol class="header-menu-myaccount-level3 header-menu-myaccount-level3-orders">
                        <li ><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('customer/account/index/') ?>" name="dashboard"><?= __('Account Dashboard')?> </a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('customer/account/edit/') ?>" name="account information"><?= __('Account Information')?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" target="_blank" href="<?= $this->getUrl('customer/address/index/') ?>" name="addressbook"><?= __('Address Book') ?></a></li>
                        <li ><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('transaction/index/addlocation/') ?>" name="addlocation"><?= __('Add Location')?> </a></li>
                        <li ><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('transaction/index/addnewuser/') ?>" name="addnewuser"><?= __('Add New User')?> </a></li>
                        <li ><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('newsletter/manage/') ?>" name="newsletter"><?= __('Email Preferences')?> </a></li>
                     </ol>
                </li>
                <li class="header-menu-myaccount-item-level2">
                    <a class="header-menu-myaccount-anchor-level2" href="#" name="wishlist"><span><?= __('Order Information') ?></span></a>
                    <ol class="header-menu-myaccount-level3">  
                        <li><a href="<?= $this->getUrl('sales/order/history/') ?>" class="header-menu-myaccount-anchor-level3" name="myorder"><?= __('My Orders') ?> </a></li>  
                        <li><a href="<?= $this->getUrl('transaction/index/listtransaction/') ?>" class="header-menu-myaccount-anchor-level3" name="alltransactions"><?= __('All Transactions') ?> </a></li> 
                        <li><a href="<?= $this->getUrl('mpsavecart/dashboard/') ?>" class="header-menu-myaccount-anchor-level3" name="savedforlater"><?= __('Saved For Later') ?> </a></li>
                        <li><a href="<?= $this->getUrl('transaction/index/quickorder/') ?>" class="header-menu-myaccount-anchor-level3" name="importorder"><?= __('Import Order') ?> </a></li> 
                    </ol>
                </li>
                <li class="header-menu-myaccount-item-level2">
                    <a class="header-menu-myaccount-anchor-level2" href="#" name="billing"><span><?= __('Payment Information') ?></span></a>
                    <ol class="header-menu-myaccount-level3">
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('companycredit/customer/account/') ?>" name="accountbalance"><?= __('Account Balance')?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('transaction/index/storecredit/') ?>" name="storecredit"><?= __('Store Credit')?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" tabindex="-1" href="<?= $this->getUrl('transaction/index/savedcreditcards/') ?>" name="savedcreditcards"><?= __('Saved Credit Cards') ?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" tabindex="-1" href="<?= $this->getUrl('#') ?>" name="statements"><?= __('Statements') ?></a></li>
                    </ol>
                </li>
                <li class="header-menu-myaccount-item-level2">
                    <a class="header-menu-myaccount-anchor-level2"  href="#"  name="settings"><span>Service and Support</span></a>
                    <ol class="header-menu-myaccount-level3">
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('customer/account/edit') ?>"><?= __('Member Reward') ?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('customer/account/edit') ?>"><?= __('Screen Buyback') ?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('returnauthorization/index/returnlist/') ?>"><?= __('Product Returns') ?></a></li>
                        <?php /* <li><a class="header-menu-myaccount-anchor-level3" href="#"><?= __('Credit Cards')?></a></li> */ ?>
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('transaction/index/listcases/') ?>"><?= __('Support Tickets') ?></a></li>
                    </ol>
                </li>
                <!-- <li class="header-menu-myaccount-item-level2">
                    <a class="header-menu-myaccount-anchor-level2" href="#">
                     <span>Cases</span>
                    </a>
                    <ol class="header-menu-myaccount-level3">
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('transaction/index/listcases') ?>"><?= __('Support Cases') ?></a></li>
                        <li><a class="header-menu-myaccount-anchor-level3" href="<?= $this->getUrl('transaction/index/createcase') ?>"><?= __('Submit New Case') ?></a></li>
                    </ol>
                </li> -->
                </ul>
            </div>
    </span>
<?php endif; ?>
