<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

 $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
 $request = $objectManager->get(\Magento\Framework\App\Request\Http::class);
$isProductviewPage= ($request->getFullActionName() == "catalog_product_view") ? 1 : 0;
$isProductview= ($isProductviewPage) ? 'Nexus' : 'Nexus';
 $request = $objectManager->get('Magento\Framework\App\Request\Http');
 $backUrl = $request->getServer('HTTP_REFERER');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore()
            ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);
$home_icon = $mediaPath."/porto/web/images/global-views-breadcrumb-home-icon.png";
$homeImg = $isProductview
?>
<?php if ($crumbs && is_array($crumbs)) : ?>
<div class="breadcrumbs">
    <ul class="items">
        <?php foreach ($crumbs as $crumbName => $crumbInfo) : ?>
            <li class="item <?= $block->escapeHtmlAttr($crumbName) ?>">
            <?php if ($crumbInfo['link']) : ?>
                <?php if($isProductviewPage && $crumbInfo['label'] == "Home"): ?>
                    <a href="<?= $backUrl ?>" style="color:#FF7200">
                        <?= $crumbInfo['label'] == "Home" ? $homeImg :$block->escapeHtml($crumbInfo['label']) ?>
                    </a>
                    <?php else: ?>
                        <a href="<?= $crumbInfo['link'] ?>">
                            <?= $crumbInfo['label'] == "Home" ? $homeImg :$block->escapeHtml($crumbInfo['label']) ?>
                        </a>
                <?php endif; ?>    
            <?php elseif ($crumbInfo['last']) : ?>
                <strong><?= $block->escapeHtml($crumbInfo['label']) ?></strong>
            <?php else : ?>
                <?= $block->escapeHtml($crumbInfo['label']) ?>
            <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
</div>
<?php endif; ?>

