<?php /**  @var $block \Magento\Checkout\Block\Cart\Grid */ ?>
<?php $mergedCells = ($this->helper('Magento\Tax\Helper\Data')->displayCartBothPrices() ? 2 : 1); ?>
<?= $block->getChildHtml('form_before') ?>
<div class="stickygotocheckout-total">
    <div class="inner-stickygotocheckout-total">
    
    </div>
</div>
<form action="<?= /* @escapeNotVerified */
$block->getUrl('checkout/cart/updatePost') ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"validation":{}}'
      class="form form-cart">
    <?= $block->getBlockHtml('formkey') ?>
    <div class="cart table-wrapper<?= $mergedCells == 2 ? ' detailed' : '' ?>">
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-top toolbar"
                 data-attribute="cart-products-toolbar-top"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
        <table id="shopping-cart-table"
               class="cart items data table"
               data-mage-init='{"shoppingCart":{"emptyCartButton": "action.clear",
               "updateCartActionContainer": "#update_cart_action_container"}}'>
            <caption role="heading" aria-level="2" class="table-caption"><?= /* @escapeNotVerified */
                __('Shopping Cart Items') ?></caption>
            <thead>
            <tr>
                <th class="col item" scope="col"><span><?= /* @escapeNotVerified */
                        __('Item') ?></span></th>
                <th class="col price" scope="col"><span><?= /* @escapeNotVerified */
                        __('Price') ?></span></th>
                <th class="col qty" scope="col"><span><?= /* @escapeNotVerified */
                        __('Qty') ?></span></th>
                <th class="col subtotal" scope="col"><span><?= /* @escapeNotVerified */
                        __('Subtotal') ?></span></th>
            </tr>
            </thead>
            <?php foreach ($block->getItems() as $_item): ?>
                <?= $block->getItemHtml($_item) ?>
            <?php endforeach ?>
        </table>
        <?php if ($block->getPagerHtml()): ?>
            <div class="cart-products-toolbar cart-products-toolbar-bottom toolbar"
                 data-attribute="cart-products-toolbar-bottom"><?= $block->getPagerHtml() ?></div>
        <?php endif ?>
    </div>
    <div class="cart main actions">
        <?php if ($block->getContinueShoppingUrl()): ?>
            <a class="action continue"
               href="<?= $block->escapeUrl($block->getContinueShoppingUrl()) ?>"
               title="<?= $block->escapeHtml(__('Continue Shopping')) ?>">
                <span><?= /* @escapeNotVerified */
                    __('Continue Shopping') ?></span>
            </a>
        <?php endif; ?>
        <button type="submit"
                name="update_cart_action"
                data-cart-empty=""
                value="empty_cart"
                title="<?= $block->escapeHtml(__('Clear Shopping Cart')) ?>"
                class="action clear" id="empty_cart_button">
            <span><?= /* @escapeNotVerified */
                __('Clear Shopping Cart') ?></span>
        </button>
        <input type="hidden" value="" id="update_cart_action_container" data-cart-item-update=""/>
    </div>
</form>
<?= $block->getChildHtml('checkout.cart.order.actions') ?>
<?= $block->getChildHtml('shopping.cart.table.after') ?>
<script type="text/javascript">
    require(['jquery', 'CartQtyUpdate'], function ($) {
    });
</script>




 <script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){



  $(window).scroll(function() {
      if($(window).width() > 999){
     var height1 = $(window).scrollTop();
       height1 = height1 -90;
       var zeroheight1 = 0;
     if ($(this).scrollTop() >= 10) {
       if($(document).scrollTop() < $('.cart-container .form-cart .actions.main').offset().top - 550){   
        $(".cart-summary").addClass("position-fixed");
        $(".cart-summary").css({
          "top": height1 + 110 + 'px',
          "position":"relative"  
        }); 
      }
      else if($(document).scrollTop() < $('.cart-container .form-cart .actions.main').offset().top - 550){
        $(".cart-summary").css({
        "top": height1 + 110 + 'px',
        "position":"relative"

      });
      }
      else if($(document).scrollTop() > $('.cart-container .form-cart .actions.main').offset().top - 550){
        $(".cart-summary").removeClass("position-fixed");
      }
      }
      else if($(this).scrollTop() < 10) {
     if($(document).scrollTop() < $('.cart-container .form-cart .actions.main').offset().top - 550){   
      $(".cart-summary").removeClass("position-fixed");
           $(".cart-summary").css({
             "top": zeroheight1 + 'px',
             "position": "relative"
           });
        }
      }
     
     }
     
     });
     






      $("#beforeloginsavecart span").click(function(){
        $("button.mpsavecart-toggle").trigger("click");
      });
  
      $(window).resize(function() {
        if (window.innerWidth < 768) {
          $('.checkout-cart-index tr.grand.totals').appendTo(".inner-stickygotocheckout-total");
          $('.checkout-cart-index .cart-summary button.action.primary.checkout').appendTo(".inner-stickygotocheckout-total");

          $(window).scroll(function() {            
            if ($(this).scrollTop()>100)
            {
              $('.stickygotocheckout-total').show();
            }
            else
            {
              $('.stickygotocheckout-total').hide();
            }
          });}

});

     });
 </script>