<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
use Magento\Framework\App\ActionInterface;

/** @var \Plumrocket\AdvancedReviewAndReminder\Block\Product\View $block */

$postParams = $block->getAddToCartPostParams();
$product = $block->getProduct();
$productImage = $block->getImage($product, 'product_page_image_small');
?>

<a href="<?= $block->escapeUrl($product->getProductUrl()) ?>"
   class="product photo product-item-photo"
   tabindex="-1">
    <?= $productImage->toHtml() ?>
</a>
<div class="prar-container">
    <h3>
        <a href="<?= $block->escapeUrl($product->getProductUrl()) ?>">
            <?= __($product->getName()); ?></h3>
        </a>
    <?= $block->getPriceHtml(); ?>

    <form data-role="tocart-form"
          class="mini-view"
          <?php if (!$block->hasOptions()) :?>data-mage-init='{"catalogAddToCart": {"product_sku": "<?= $product->getSku(); ?>"}}'<?php endif; ?>
          data-product-sku="<?= $block->escapeHtml($product->getSku()) ?>"
          action="<?= $block->escapeUrl($postParams['action']) ?>"
          method="post"
          novalidate="novalidate">
        <input type="hidden"
               name="product"
               value="<?= /* @noEscape */ $postParams['data']['product'] ?>">
        <input type="hidden" name="<?= /* @noEscape */ ActionInterface::PARAM_NAME_URL_ENCODED ?>"
               value="<?= /* @noEscape */ $postParams['data'][ActionInterface::PARAM_NAME_URL_ENCODED] ?>">
        <input name="form_key" type="hidden" value="{{form_key}}">
        <?php if ($block->hasOptions()) :?>
            <button type="button"
                    title="<?= $block->escapeHtmlAttr(__('View')) ?>"
                    class="action tocart primary scroll-to-options">
                <span><?= $block->escapeHtml(__('Choose options')) ?></span>
            </button>
            <script>
                require(['jquery'], function ($) {
                    if (window.plumrocket && window.plumrocket.ajaxCart) {
                        window.plumrocket.ajaxCart.prepareForms();
                    }

                    $('form[data-role="tocart-form"].mini-view .scroll-to-options').on('click', function () {
                        var element = $(this);
                        if (element.attr('prajaxcart')) {
                            if (window.plumrocket && window.plumrocket.ajaxCart) {
                                window.plumrocket.ajaxCart.addToCart(element);
                            }
                            return false;
                        }

                        var optionsElement = $("#product-options-wrapper");
                        if (optionsElement.length) {
                            $("html").animate({
                                scrollTop: optionsElement.position().top
                            }, 1000);
                        } else {
                            window.location.href = '<?= $block->escapeUrl($product->getProductUrl()); ?>';
                        }
                    });
                });
            </script>
        <?php else: ?>
            <button type="submit"
                    title="<?= $block->escapeHtmlAttr(__('Add to Cart')) ?>"
                    class="action tocart primary">
                <span><?= $block->escapeHtml(__('Add to Cart')) ?></span>
            </button>
        <?php endif; ?>
    </form>
</div>
