<?php
/**
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
 */
/** @var \Magento\Framework\View\Element\Template $block */

$product = $block->getData('productProvider')->execute();
?>

<div class="product-title-wrapper product">
    <h2 class="product-title">
        <a href="<?= $block->escapeUrl($product->getProductUrl()) ?>">
            <span class="base" data-ui-id="product-title-wrapper"><?= $block->escapeHtml($product->getName());?></span>
        </a>
    </h2>
</div>
