<?php
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
use Magento\Framework\App\Action\Action;

// @codingStandardsIgnoreFile
?>
<?php
/**
 * Product list template
 *
 * @var $block \Smartwave\Filterproducts\Block\
 */
?>
<?php
//$_productCollection = $block->getLoadedProductCollection();

$_productCollectionHot = $block->getBackiwkHotsLoadedProductCollection();
 $_productCollectionnew=$block->getBackiwkNewLoadedProductCollection();
 $_productCollectionLowPrice = $block->getBackiwkLowPriceLoadedProductCollection();
 $_productCollection=$block->getLoadedProductCollection();


$_helper = $this->helper('Magento\Catalog\Helper\Output');
$_imagehelper = $this->helper('Magento\Catalog\Helper\Image');
$_portohelper = $this->helper('Smartwave\Porto\Helper\Data'); 
$_category_config = $_portohelper->getConfig('porto_settings/category');
$_category_grid_config = $_portohelper->getConfig('porto_settings/category_grid');
$_product_label_config = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/product_label');
$_lazyload = $this->helper('Smartwave\Porto\Helper\Data')->getConfig('porto_settings/optimization/lazyload');
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$mediaPath =  $objectManager->get('Magento\Store\Model\StoreManagerInterface')
            ->getStore()
            ->getBaseUrl(\Magento\Framework\UrlInterface::URL_TYPE_MEDIA);

$cart_image = $mediaPath."/porto/web/images/shopping-cart-1.x.png";
// Daily deal Helper 
$_dailydealhelper =$this->helper('Smartwave\Dailydeals\Helper\Data');

$aspect_ratio = $this->getData("aspect_ratio");
if($aspect_ratio == null) {
    $aspect_ratio = $_category_config['aspect_ratio'];
}
$image_width = $this->getData("image_width");
if(!$image_width) {
    $image_width = ($_category_config['ratio_width'])?$_category_config['ratio_width']:300;
}
$image_height = $this->getData("image_height");
if($aspect_ratio)
    $image_height = $image_width;
if(!$image_height) {
    $image_height = ($_category_config['ratio_height'])?$_category_config['ratio_height']:300;  
}
$product_type = $this->getData("product_type");

if($product_type == null) {
    $product_type = $_category_grid_config['product_type'];
}
if($product_type == null) {
    $product_type = 1;
}
$aspect_ratio = 0;
?>
<!-- 
<div class="ancchr">
<a href="javascript:void(0);">View: 1 of 5</a>
                </div> -->
                <style>
    .owl-carousel:not(.owl-loaded){ 
    opacity: 0; 
    visibility:hidden;
    height:0;
}
    </style>

                <div class="homepage-header-section" id="partssectiopn">
<span  class="header-title"><?= __('Back In Stock This Week') ?></span>
<ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tabbis1">Hottest</a></li>
                        <li><a data-toggle="tab" href="#tabbis2">New Arrivals</a></li>
                        <li><a data-toggle="tab" href="#tabbis3">Low prices</a></li>

                        <li><a data-toggle="tab" href="#tabbis4">Back In Stock</a></li>

                    </ul>



      
                    <!-- <div class="ancchr">
                        <a href="javascript:void(0);">View all <img src="https://dev.nexuscellular.com/media/wysiwyg/homepage_banner/arrowred.png" alt=""></a>
                </div> -->
                </div>
<!-- <div class="product_attribute_types">
	<span  class="header-title"><?= __('Back In Stock This Week') ?></span>
	<span class="attribute_type"><?= __('Hottest') ?></span>
	<span class="attribute_type"><?= __('New Arrivals')?></span>
	<span class="attribute_type"><?= __('Low Prices')?></span>
	<span class="attribute_type"><?= __('Back In Stock')?></span>
</div> -->


<?php if (!$_productCollection->count()): ?>
    <div class="message info empty"><div><?php echo __('We can\'t find products matching the selection.') ?></div></div>
<?php else: ?>
<div id="" class="devs">
    <?php
    $viewMode = 'grid';
    $image = 'category_page_grid';
    $hover_image = 'category_page_grid-hover';
    $showDescription = false;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    ?>
    <div class="products wrapper <?php echo $viewMode; ?> tab-content products-<?php echo $viewMode; ?> <?php if($product_type == 2): ?>no-padding divider-line<?php endif; ?> <?php if($product_type == 5 || $product_type == 6 || $product_type == 7 || $product_type == 8): ?>no-padding<?php endif; ?> <?php if($product_type == 6): ?>divider-line<?php endif; ?>">
        <div id="tabbis1" class="tab-pane active">
        <div class="backstock-title tab1" id="backinstock-items">
       <nav class="bx-pager bx-default-pager counter_cust_279"><span class="current">1</span> of 1</nav>

        <?php $iterator = 1; ?>
        <div class="filterproducts products list items product-items newtablsbiw owl-carousel <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollectionHot as $_product): ?>
         
                <?php echo($iterator++ == 1) ? '<div class="item product product-item">' : '</div><div class="item product product-item">' ?>
                <div class="product-item-info type<?php echo $product_type; ?>" data-container="product-grid">
                    <?php // Product Image ?>
                    <div class="product photo product-item-photo">
                        <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                        <?php
                            if($aspect_ratio)
                                $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                            $productImageUrl = $productImage->getUrl();
                        ?>
                            <img class="product-image-photo default_image" src="<?php echo $productImageUrl; ?>" <?php /*width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>"*/ ?> alt=""/>
                        <?php if($_category_config['alternative_image']): ?>
                        <?php
                            if($aspect_ratio)
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->resize($image_width, $image_height);
                            $productHoverImageUrl = $productHoverImage->getUrl();
                        ?>
                            <?php /*if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                            <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>" alt=""/>
                            <?php endif;*/ ?>
                        <?php endif; ?>
                        </a>
                        <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label"><span>SALE</span>'.' -'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }else if($_product->getTypeId() == "configurable"){
                                    $product_label .= '<div class="product-label sale-label" style="display:none;"><span>SALE</span>'.' -0%'.'</div>';
                                }
                            }
                            
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                $new_arrival = $_product->getResource()->getAttribute('custitem_f3_new_arrival')->getFrontend()->getValue($_product);
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }else  if($new_arrival  == "Yes"){
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }else if($new_arrival == "Yes"){
                                    $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                }
                            }
                            //$grade = strtoupper($_product->getResource()->getAttribute('custitem_grade')->getFrontend()->getValue($_product));
                            /* optimize the query */
                            $grade = strtoupper($_product->getData('custitem_grade_value'));
							if($grade == "PREMIUM")
                                $bk_color = '#BB9BFF';
                            else if($grade == "PLUS")
                                $bk_color = '#da7a2e';
                            else if($grade == "DYNAMIC")
                                $bk_color = '#bb4e4e';
                            else if($grade == "VALUE")
                                $bk_color = '#7d5b1e';
                            else if($grade == "SPECIAL")
                                $bk_color = '#1a1f25';
                            else if($grade == "OEM RECLAIM A")
                                $bk_color = '#55565a';
                            else if($grade == "OEM RECLAIM C")
                                $bk_color = '#cacaca';
                            else if($grade == "NEW ORIGINAL")
                                $bk_color = '#7EA9FD';
                            else
                            $bk_color = '#000000';                
                            $style = "style=background-color:".$bk_color;
                            if(!empty($grade))
                            $product_label .= '<div class="product-label grade-label" '. $style .' >'.$grade.'</div>';
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                        ?>
                    </div>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name1">
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                       
                        
						<div class="product_addtional_data">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        </div>
						
						
                        <?php echo $block->getProductPricetoHtml($_product) ?>
                        <!-- DISPLAY ACTION BLOCK -->
						<?php //if(!$isHidePriceEnabled): ?>
						 <?php if($product_type == 3 || $product_type == 5 || $product_type == 6 || $product_type == 7 || $product_type == 8 || $product_type == 9 || $product_type == 10): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="1" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                       <span><img src="<?php echo $cart_image ?>" style="width:auto !important;vertical-align: middle;margin: 0 auto;"/></span>
                                                     </button>
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                
                            </div>
                        </div>
						<?php //endif; ?>
                        <?php endif; ?>
						<!-- ENDS DISPLAY ACTION BLOCK  -->
                        <?php if($product_type != 3 && $product_type != 5 && $product_type != 6 && $product_type != 7 && $product_type != 8 && $product_type != 9 && $product_type != 10 && $product_type != 11): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                               
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                     <span><img src="<?php echo $cart_image ?>" /></span>
                                                     </button>
                                                </div>

                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                           
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() == 'grid'): ?>
                                <?php if($_category_config['addtowishlist'] && $product_type == 4): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       class="action towishlist actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</div>' : '' ?>
            <?php endforeach; ?>
        </div>
    </div>
                                   </div><!--pagination-->
    <?php if($_productCollectionHot->count()<6) {?>
                                   </div>
                                   <?php } ?>
    <!--tab2-->
    <div id="tabbis2" class="tab-pane">
    <div class="backstock-title tab2" id="backinstock-items">
       <nav class="bx-pager bx-default-pager counter_cust_279"><span class="current">1</span> of 1</nav>

        <?php $iterator = 1; ?>
        <div class="filterproducts products list items product-items newtablsbiw owl-carousel <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollectionnew as $_product): ?>
         
                <?php echo($iterator++ == 1) ? '<div class="item product product-item">' : '</div><div class="item product product-item">' ?>
                <div class="product-item-info type<?php echo $product_type; ?>" data-container="product-grid">
                    <?php // Product Image ?>
                    <div class="product photo product-item-photo">
                        <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                        <?php
                            if($aspect_ratio)
                                $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                            $productImageUrl = $productImage->getUrl();
                        ?>
                            <img class="product-image-photo default_image" src="<?php echo $productImageUrl; ?>" <?php /*width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>"*/ ?> alt=""/>
                        <?php if($_category_config['alternative_image']): ?>
                        <?php
                            if($aspect_ratio)
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->resize($image_width, $image_height);
                            $productHoverImageUrl = $productHoverImage->getUrl();
                        ?>
                            <?php /*if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                            <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>" alt=""/>
                            <?php endif;*/ ?>
                        <?php endif; ?>
                        </a>
                        <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label"><span>SALE</span>'.' -'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }else if($_product->getTypeId() == "configurable"){
                                    $product_label .= '<div class="product-label sale-label" style="display:none;"><span>SALE</span>'.' -0%'.'</div>';
                                }
                            }
                            
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                $new_arrival = $_product->getResource()->getAttribute('custitem_f3_new_arrival')->getFrontend()->getValue($_product);
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }else  if($new_arrival  == "Yes"){
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }else if($new_arrival == "Yes"){
                                    $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                }
                            }
                            //$grade = strtoupper($_product->getResource()->getAttribute('custitem_grade')->getFrontend()->getValue($_product));
                            /* optimize the query */
                            $grade = strtoupper($_product->getData('custitem_grade_value'));
							if($grade == "PREMIUM")
                                $bk_color = '#BB9BFF';
                            else if($grade == "PLUS")
                                $bk_color = '#da7a2e';
                            else if($grade == "DYNAMIC")
                                $bk_color = '#bb4e4e';
                            else if($grade == "VALUE")
                                $bk_color = '#7d5b1e';
                            else if($grade == "SPECIAL")
                                $bk_color = '#1a1f25';
                            else if($grade == "OEM RECLAIM A")
                                $bk_color = '#55565a';
                            else if($grade == "OEM RECLAIM C")
                                $bk_color = '#cacaca';
                            else if($grade == "NEW ORIGINAL")
                                $bk_color = '#7EA9FD';
                            else
                            $bk_color = '#000000';                
                            $style = "style=background-color:".$bk_color;
                            if(!empty($grade))
                            $product_label .= '<div class="product-label grade-label" '. $style .' >'.$grade.'</div>';
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                        ?>
                    </div>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name1">
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                       
                        
						<div class="product_addtional_data">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        </div>
						
						
                        <?php echo $block->getProductPricetoHtml($_product) ?>
                        <!-- DISPLAY ACTION BLOCK -->
						<?php //if(!$isHidePriceEnabled): ?>
						 <?php if($product_type == 3 || $product_type == 5 || $product_type == 6 || $product_type == 7 || $product_type == 8 || $product_type == 9 || $product_type == 10): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="1" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                       <span><img src="<?php echo $cart_image ?>" style="width:auto !important;vertical-align: middle;margin: 0 auto;"/></span>
                                                     </button>
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                
                            </div>
                        </div>
						<?php //endif; ?>
                        <?php endif; ?>
						<!-- ENDS DISPLAY ACTION BLOCK  -->
                        <?php if($product_type != 3 && $product_type != 5 && $product_type != 6 && $product_type != 7 && $product_type != 8 && $product_type != 9 && $product_type != 10 && $product_type != 11): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                               
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                     <span><img src="<?php echo $cart_image ?>" /></span>
                                                     </button>
                                                </div>

                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                           
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() == 'grid'): ?>
                                <?php if($_category_config['addtowishlist'] && $product_type == 4): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       class="action towishlist actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</div>' : '' ?>
            <?php endforeach; ?>
        </div>
    </div>
    </div><!--pagination-->
</div>
    <!--tab end-->
    <!--tab3-->
    <div id="tabbis3" class="tab-pane">
    <div class="backstock-title tab3" id="backinstock-items">
       <nav class="bx-pager bx-default-pager counter_cust_279"><span class="current">1</span> of 1</nav>

        <?php $iterator = 1; ?>
        <div class="filterproducts products list items product-items newtablsbiw owl-carousel <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollectionLowPrice as $_product): ?>
         
                <?php echo($iterator++ == 1) ? '<div class="item product product-item">' : '</div><div class="item product product-item">' ?>
                <div class="product-item-info type<?php echo $product_type; ?>" data-container="product-grid">
                    <?php // Product Image ?>
                    <div class="product photo product-item-photo">
                        <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                        <?php
                            if($aspect_ratio)
                                $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                            $productImageUrl = $productImage->getUrl();
                        ?>
                            <img class="product-image-photo default_image" src="<?php echo $productImageUrl; ?>" <?php /*width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>"*/ ?> alt=""/>
                        <?php if($_category_config['alternative_image']): ?>
                        <?php
                            if($aspect_ratio)
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->resize($image_width, $image_height);
                            $productHoverImageUrl = $productHoverImage->getUrl();
                        ?>
                            <?php /*if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                            <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>" alt=""/>
                            <?php endif;*/ ?>
                        <?php endif; ?>
                        </a>
                        <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label"><span>SALE</span>'.' -'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }else if($_product->getTypeId() == "configurable"){
                                    $product_label .= '<div class="product-label sale-label" style="display:none;"><span>SALE</span>'.' -0%'.'</div>';
                                }
                            }
                            
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                $new_arrival = $_product->getResource()->getAttribute('custitem_f3_new_arrival')->getFrontend()->getValue($_product);
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }else  if($new_arrival  == "Yes"){
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }else if($new_arrival == "Yes"){
                                    $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                }
                            }
                            //$grade = strtoupper($_product->getResource()->getAttribute('custitem_grade')->getFrontend()->getValue($_product));
                            /* optimize the query */
                            $grade = strtoupper($_product->getData('custitem_grade_value'));
							if($grade == "PREMIUM")
                                $bk_color = '#BB9BFF';
                            else if($grade == "PLUS")
                                $bk_color = '#da7a2e';
                            else if($grade == "DYNAMIC")
                                $bk_color = '#bb4e4e';
                            else if($grade == "VALUE")
                                $bk_color = '#7d5b1e';
                            else if($grade == "SPECIAL")
                                $bk_color = '#1a1f25';
                            else if($grade == "OEM RECLAIM A")
                                $bk_color = '#55565a';
                            else if($grade == "OEM RECLAIM C")
                                $bk_color = '#cacaca';
                            else if($grade == "NEW ORIGINAL")
                                $bk_color = '#7EA9FD';
                            else
                            $bk_color = '#000000';                
                            $style = "style=background-color:".$bk_color;
                            if(!empty($grade))
                            $product_label .= '<div class="product-label grade-label" '. $style .' >'.$grade.'</div>';
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                        ?>
                    </div>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name1">
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                       
                        
						<div class="product_addtional_data">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        </div>
						
						
                        <?php echo $block->getProductPricetoHtml($_product) ?>
                        <!-- DISPLAY ACTION BLOCK -->
						<?php //if(!$isHidePriceEnabled): ?>
						 <?php if($product_type == 3 || $product_type == 5 || $product_type == 6 || $product_type == 7 || $product_type == 8 || $product_type == 9 || $product_type == 10): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="1" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                       <span><img src="<?php echo $cart_image ?>" style="width:auto !important;vertical-align: middle;margin: 0 auto;"/></span>
                                                     </button>
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                
                            </div>
                        </div>
						<?php //endif; ?>
                        <?php endif; ?>
						<!-- ENDS DISPLAY ACTION BLOCK  -->
                        <?php if($product_type != 3 && $product_type != 5 && $product_type != 6 && $product_type != 7 && $product_type != 8 && $product_type != 9 && $product_type != 10 && $product_type != 11): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                               
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                     <span><img src="<?php echo $cart_image ?>" /></span>
                                                     </button>
                                                </div>

                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                           
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() == 'grid'): ?>
                                <?php if($_category_config['addtowishlist'] && $product_type == 4): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       class="action towishlist actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</div>' : '' ?>
            <?php endforeach; ?>
        </div>
    </div>
    </div><!--pagination-->
</div>
    <!--tab end-->
    <!--tab4-->
    <div id="tabbis4" class="tab-pane">
    <div class="backstock-title tab4" id="backinstock-items">
       <nav class="bx-pager bx-default-pager counter_cust_279"><span class="current">1</span> of 1</nav>

        <?php $iterator = 1; ?>
        <div class="filterproducts products list items product-items newtablsbiw owl-carousel <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>">
            <?php /** @var $_product \Magento\Catalog\Model\Product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
         
                <?php echo($iterator++ == 1) ? '<div class="item product product-item">' : '</div><div class="item product product-item">' ?>
                <div class="product-item-info type<?php echo $product_type; ?>" data-container="product-grid">
                    <?php // Product Image ?>
                    <div class="product photo product-item-photo">
                        <a href="<?php echo $_product->getProductUrl() ?>" tabindex="-1">
                        <?php
                            if($aspect_ratio)
                                $productImage = $_imagehelper->init($_product, $image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productImage = $_imagehelper->init($_product, $image)->resize($image_width, $image_height);
                            $productImageUrl = $productImage->getUrl();
                        ?>
                            <img class="product-image-photo default_image" src="<?php echo $productImageUrl; ?>" <?php /*width="<?php echo $image_width; ?>" height="<?php echo $image_height; ?>"*/ ?> alt=""/>
                        <?php if($_category_config['alternative_image']): ?>
                        <?php
                            if($aspect_ratio)
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->constrainOnly(FALSE)->keepAspectRatio(TRUE)->keepFrame(FALSE)->resize($image_width);
                            else
                                $productHoverImage = $_imagehelper->init($_product, $hover_image)->resize($image_width, $image_height);
                            $productHoverImageUrl = $productHoverImage->getUrl();
                        ?>
                            <?php /*if($productImageUrl != str_replace("/thumbnail/","/small_image/",$productHoverImageUrl)): ?>
                            <img class="product-image-photo hover_image" src="<?php echo $productHoverImageUrl; ?>" alt=""/>
                            <?php endif;*/ ?>
                        <?php endif; ?>
                        </a>
                        <?php
                            $product_label = "";
                            if($_product_label_config['sale_label']) {
                                $orgprice = $_product->getPrice();
                                $specialprice = $_product->getSpecialPrice();
                                $specialfromdate = $_product->getSpecialFromDate();
                                $specialtodate = $_product->getSpecialToDate();
                                $today = time();
                                if(!$specialprice)
                                    $specialprice = $orgprice;
                                if($specialprice < $orgprice) {
                                    if((is_null($specialfromdate) && is_null($specialtodate)) || ($today >= strtotime($specialfromdate) && is_null($specialtodate)) || ($today <= strtotime($specialtodate) && is_null($specialfromdate)) || ($today >= strtotime($specialfromdate) && $today <= strtotime($specialtodate))){
                                        if($_product_label_config['sale_label_percent']) {
                                            $save_percent = 100-round(($specialprice/$orgprice)*100);
                                            $product_label .= '<div class="product-label sale-label"><span>SALE</span>'.' -'.$save_percent.'%'.'</div>';
                                        } else {
                                            $product_label .= '<div class="product-label sale-label">'.$_product_label_config['sale_label_text'].'</div>';
                                        }
                                    }
                                }else if($_product->getTypeId() == "configurable"){
                                    $product_label .= '<div class="product-label sale-label" style="display:none;"><span>SALE</span>'.' -0%'.'</div>';
                                }
                            }
                            
                            if($_product_label_config['new_label']) {
                                $now = date("Y-m-d");
                                $newsFrom= substr($_product->getData('news_from_date'),0,10);
                                $newsTo=  substr($_product->getData('news_to_date'),0,10);
                                $new_arrival = $_product->getResource()->getAttribute('custitem_f3_new_arrival')->getFrontend()->getValue($_product);
                                if ($newsTo != '' || $newsFrom != ''){
                                    if (($newsTo != '' && $newsFrom != '' && $now>=$newsFrom && $now<=$newsTo) || ($newsTo == '' && $now >=$newsFrom) || ($newsFrom == '' && $now<=$newsTo)) {
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }else  if($new_arrival  == "Yes"){
                                        $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                    }
                                }else if($new_arrival == "Yes"){
                                    $product_label .= '<div class="product-label new-label">'.$_product_label_config['new_label_text'].'</div>';
                                }
                            }
                            //$grade = strtoupper($_product->getResource()->getAttribute('custitem_grade')->getFrontend()->getValue($_product));
                            /* optimize the query */
                            $grade = strtoupper($_product->getData('custitem_grade_value'));
							if($grade == "PREMIUM")
                                $bk_color = '#BB9BFF';
                            else if($grade == "PLUS")
                                $bk_color = '#da7a2e';
                            else if($grade == "DYNAMIC")
                                $bk_color = '#bb4e4e';
                            else if($grade == "VALUE")
                                $bk_color = '#7d5b1e';
                            else if($grade == "SPECIAL")
                                $bk_color = '#1a1f25';
                            else if($grade == "OEM RECLAIM A")
                                $bk_color = '#55565a';
                            else if($grade == "OEM RECLAIM C")
                                $bk_color = '#cacaca';
                            else if($grade == "NEW ORIGINAL")
                                $bk_color = '#7EA9FD';
                            else
                            $bk_color = '#000000';                
                            $style = "style=background-color:".$bk_color;
                            if(!empty($grade))
                            $product_label .= '<div class="product-label grade-label" '. $style .' >'.$grade.'</div>';
                            
                            if($product_label)
                                echo '<div class="product-labels">'.$product_label.'</div>';
                        ?>
                    </div>
                    <div class="product details product-item-details">
                        <?php
                            $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name1">
                            <a class="product-item-link"
                               href="<?php echo $_product->getProductUrl() ?>">
                                <?php echo $_helper->productAttribute($_product, $_product->getName(), 'name'); ?>
                            </a>
                        </strong>
                       
                        
						<div class="product_addtional_data">
                        <?php echo $block->getProductDetailsHtml($_product); ?>
                        </div>
						
						
                        <?php echo $block->getProductPricetoHtml($_product) ?>
                        <!-- DISPLAY ACTION BLOCK -->
						<?php //if(!$isHidePriceEnabled): ?>
						 <?php if($product_type == 3 || $product_type == 5 || $product_type == 6 || $product_type == 7 || $product_type == 8 || $product_type == 9 || $product_type == 10): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="1" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                       <span><img src="<?php echo $cart_image ?>" style="width:auto !important;vertical-align: middle;margin: 0 auto;"/></span>
                                                     </button>
                                                </div>
                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                            
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                
                            </div>
                        </div>
						<?php //endif; ?>
                        <?php endif; ?>
						<!-- ENDS DISPLAY ACTION BLOCK  -->
                        <?php if($product_type != 3 && $product_type != 5 && $product_type != 6 && $product_type != 7 && $product_type != 8 && $product_type != 9 && $product_type != 10 && $product_type != 11): ?>
                        <div class="product-item-inner">
                            <div class="product actions product-item-actions">
                               
                                <div class="actions-primary">
                                    <?php if ($_product->isSaleable()): ?>
                                        <?php $postParams = $block->getAddToCartPostParams($_product); ?>
                                        <form data-role="tocart-form" action="<?php echo $postParams['action']; ?>" method="post">
                                            <input type="hidden" name="product" value="<?php echo $postParams['data']['product']; ?>">
                                            <input type="hidden" name="<?php echo Action::PARAM_NAME_URL_ENCODED; ?>" value="<?php echo $postParams['data'][Action::PARAM_NAME_URL_ENCODED]; ?>">
                                            <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>
                                                <div class="qty-box">
                                                    <a href="javascript:void(0)" class="qtyminus"><i class="porto-icon-minus"></i></a>
                                                    <input type="text" name="qty" id="qty" maxlength="12" value="<?php /* @escapeNotVerified */ echo $block->getProductDefaultQty() * 1 ?>" title="<?php /* @escapeNotVerified */ echo __('Qty') ?>" class="input-text qty" data-validate="<?php echo $block->escapeHtml(json_encode($block->getQuantityValidators())) ?>"/>
                                                    <a href="javascript:void(0)" class="qtyplus"><i class="porto-icon-plus"></i></a>
                                                    <button type="submit"
                                                    title="<?php echo $block->escapeHtml(__('Add to Cart')); ?>"
                                                    class="action tocart primary">
                                                     <span><img src="<?php echo $cart_image ?>" /></span>
                                                     </button>
                                                </div>

                                            <?php endif;?>
                                            <?php echo $block->getBlockHtml('formkey')?>
                                           
                                        </form>
                                    <?php else: ?>
                                        <?php if ($_product->getIsSalable()): ?>
                                            <div class="stock available"><span><?php echo __('In stock') ?></span></div>
                                        <?php else: ?>
                                            <div class="stock unavailable"><span><?php echo __('Out of stock') ?></span></div>
                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                                <?php if ($block->getMode() == 'grid'): ?>
                                <?php if($_category_config['addtowishlist'] && $product_type == 4): ?>
                                <?php if ($this->helper('Magento\Wishlist\Helper\Data')->isAllow()): ?>
                                    <a href="#"
                                       class="action towishlist actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                       title="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       aria-label="<?php echo $block->escapeHtml(__('Add to Wish List')); ?>"
                                       data-post='<?php echo $block->getAddToWishlistParams($_product); ?>'
                                       data-action="add-to-wishlist"
                                       role="button">
                                        <span><?php echo __('Add to Wish List') ?></span>
                                    </a>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php endif; ?>
                                <?php if($_category_config['addtocompare']): ?>
                                <?php
                                $compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
                                ?>
                                <a href="#"
                                   class="action tocompare actions-secondary <?php if(isset($_category_config['qty_field']) && $_category_config['qty_field']):?>has-qty<?php endif;?>"
                                   title="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   aria-label="<?php echo $block->escapeHtml(__('Add to Compare')); ?>"
                                   data-post='<?php echo $compareHelper->getPostDataParams($_product); ?>'
                                   role="button">
                                    <span><?php echo __('Add to Compare') ?></span>
                                </a>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php endif; ?>
                    </div>
                </div>
                <?php echo($iterator == count($_productCollection)+1) ? '</div>' : '' ?>
            <?php endforeach; ?>
        </div>
    </div>
    </div><!--pagination-->
                                   </div>
    <!--tab end-->
    </div>
</div>
    <?php if (!$_dailydealhelper->isLoadedTimer()): ?>
    <script type="text/javascript">
    require([
        'jquery'        
    ], function ($) {
    // Timer for LEFT time for Dailydeal product
        var _second = 1000;
        var _minute = _second * 60;
        var _hour = _minute * 60;
        var _day = _hour * 24;
        var timer;

        //Set date as magentodatetime 
        var date = new Date('<?php echo $_dailydealhelper->getcurrentDate() ?>');
        var l_date = new Date();
        var offset_date = l_date - date;

        function showRemaining() 
        {
            $(".sw-dailydeal-wrapper").each(function(){
                var unique_id = $(this).attr("data-unique-id");
                // get Value of dailydeal product
                var cid='countdown_'+unique_id;
                var daysid='countdown_days_'+unique_id;
                var hoursid='countdown_hours_'+unique_id;
                var minutesid='countdown_minutes_'+unique_id;
                var secondsid='countdown_seconds_'+unique_id;

                var startdateid='fromdate_'+unique_id;
                var id='todate_'+unique_id;

                var enddate = new Date($('#'+id).val());
                var dealstartdate=new Date($('#'+startdateid).val());

                var currentdate=new Date();

                //Get Difference between Two dates
                var distance = enddate - (currentdate - offset_date);

                $('.sw-dailydeal-wrapper').show();

                if (distance < 0) {
                   // clearInterval(timer);
                    $('#expired_'+unique_id).html("<span style='font-size:25px; color:#000;'>EXPIRED!<span>");

                } else if(dealstartdate > currentdate) {
                   $('.countdowncontainer_'+unique_id).hide();
                   var msg="<span style='font-size:15px; color:#000;'> Coming Soon..<br>Deal Start at:<br>"+$('#'+startdateid).val()+"<span>";
                   $('#expired_'+unique_id).html(msg);
                } else {
                    var days = Math.floor(distance / _day);
                    var hours = Math.floor((distance % _day) / _hour);
                    var minutes = Math.floor((distance % _hour) / _minute);
                    var seconds = Math.floor((distance % _minute) / _second);

                    if(hours < 10)
                        hours = "0" + hours;
                    if(minutes < 10)
                        minutes = "0" + minutes;
                    if(seconds < 10)
                        seconds = "0" + seconds;
                    $('.countdowncontainer_'+unique_id).show();
                    $('#'+daysid).html(days);
                    $('#'+hoursid).html(hours);
                    $('#'+minutesid).html(minutes);
                    $('#'+secondsid).html(seconds);
                }
            });
        }
        
        // Set Interval
        timer = setInterval(function() 
        {
            showRemaining();
        }, 1000);
			
    });   
    </script>
    <?php $_dailydealhelper->setLoadedTimer(); ?>
    <?php endif; ?>
    <?php if (!$block->isRedirectToCartEnabled()) : ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {}
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
<script type="text/javascript">
            require([
                'jquery',
                'owl.carousel/owl.carousel.min','mageplaza/core/bootstrap',
				'domReady!'
            ], function ($) {
               'use strict';
                $(document).ready(function() {
            var owl = $('.newtablsbiw');
            owl.owlCarousel({
                autoplay: false,
                    autoplayTimeout: 5000,
                    /*autoplayHoverPause: true,*/
                    margin: 0,
                    slideBy: 6,
                    nav: true,
                    navText: ["<em class='porto-icon-left-open-big'></em>","<em class='porto-icon-right-open-big'></em>"],
                    dots: true,
                    loop: true,
                   // rewind: true,
                    slideSpeed: 10,
                    paginationSpeed: 500,
					lazyLoad: true,
                    responsive: {
                        0: {
                            items:1
                        },
                        640: {
                            items:1
                        },
                        768: {
                            items:2
                        },
                        992: {
                            items:3
                        },
                        1200: {
                            items:5
                        },
						1400: {
                            items:5
                        },
						1600: {
                            items:5
                        }
                    }
        });
        });
        var count_pages = 0;
                $('.backstock-title.tab1 .owl-dot').each(function(){
                    count_pages++;
                //$(this).children('span').text($(this).index()+1);
                $(this).attr('page-number',$(this).index()+1);
                });
                $(".backstock-title.tab1 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                
                var maxHeight = 0;
                $('.backstock-title.tab1 .product-item-info').each(function(){
                    var thisH = $(this).height();
                    if (thisH > maxHeight) { maxHeight = thisH; }
                });
                maxHeight = maxHeight / 2;
                var finalHeight = maxHeight -  jQuery('.backstock-title.tab1 .owl-prev').height();
                $(".backstock-title.tab1 .owl-prev").css('top',maxHeight+'px');
                $(".backstock-title.tab1 .owl-next").css('top',maxHeight+'px');

                
                $('.backstock-title.tab1 .owl-next').click(function(){
                    var currentPage = $('.backstock-title.tab1 .owl-dot.active').attr('page-number');
                    $(".backstock-title.tab1 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                });
                $('.backstock-title.tab1 .owl-prev').click(function(){
                    var currentPage = $('.backstock-title.tab1 .owl-dot.active').attr('page-number');
                    $(".backstock-title.tab1 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                });

                //tab2
                var count_pages = 0;
                $('.backstock-title.tab2 .owl-dot').each(function(){
                    count_pages++;
                //$(this).children('span').text($(this).index()+1);
                $(this).attr('page-number',$(this).index()+1);
                });
                $(".backstock-title.tab2 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                
                
                $(".backstock-title.tab2 .owl-prev").css('top','208px');
                $(".backstock-title.tab2 .owl-next").css('top','208px');

                $(".backstock-title.tab2 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                $('.backstock-title.tab2 .owl-next').click(function(){
                    var currentPage = $('.backstock-title.tab2 .owl-dot.active').attr('page-number');
                    $(".backstock-title.tab2 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                });
                $('.backstock-title.tab2 .owl-prev').click(function(){
                    var currentPage = $('.backstock-title.tab2 .owl-dot.active').attr('page-number');
                    $(".backstock-title.tab2 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                });
                //tab2 end

              //tab3 
              var count_pages = 0;
                $('.backstock-title.tab3 .owl-dot').each(function(){
                    count_pages++;
                //$(this).children('span').text($(this).index()+1);
                $(this).attr('page-number',$(this).index()+1);
                });
                $(".backstock-title.tab3 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                
                
                $(".backstock-title.tab3 .owl-prev").css('top','208px');
                $(".backstock-title.tab3 .owl-next").css('top','208px');

                $(".backstock-title.tab3 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                $('.backstock-title.tab3 .owl-next').click(function(){
                    var currentPage = $('.backstock-title.tab3 .owl-dot.active').attr('page-number');
                    $(".backstock-title.tab3 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                });
                $('.backstock-title.tab3 .owl-prev').click(function(){
                    var currentPage = $('.backstock-title.tab3 .owl-dot.active').attr('page-number');
                    $(".backstock-title.tab3 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                });
              //tab3 end
// tab4
var count_pages = 0;
                $('.backstock-title.tab4 .owl-dot').each(function(){
                    count_pages++;
                //$(this).children('span').text($(this).index()+1);
                $(this).attr('page-number',$(this).index()+1);
                });
                $(".backstock-title.tab4 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                
                $(".backstock-title.tab4 .owl-prev").css('top','208px');
                $(".backstock-title.tab4 .owl-next").css('top','208px');

                $(".backstock-title.tab4 .counter_cust_279").html('<span class="current test">1</span> of '+count_pages);
                $('.backstock-title.tab4 .owl-next').click(function(){
                    var currentPage = $('.backstock-title.tab4 .owl-dot.active').attr('page-number');
                    $(".backstock-title.tab4 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                });
                $('.backstock-title.tab4 .owl-prev').click(function(){
                    var currentPage = $('.backstock-title.tab4 .owl-dot.active').attr('page-number');
                    $(".backstock-title.tab4 .counter_cust_279").html('<span class="current">'+currentPage+'</span> of '+count_pages);
                });
//tab end

            });
           
            </script>