<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Review\Block\Form $block */
//phpcs:disable Generic.Files.LineLength
?>


<div id="addreviewpop" >
    <div class="row">

        <div class="col-md-6 offset-md-3 col-sm-12">

            <div class="lftsierviews">

                <div class="block review-add">
                    <div class="block-title"><strong><?= $block->escapeHtml(__('Write a Review')) ?></strong></div>
                    <div class="block-content">
                        <?php if ($block->getAllowWriteReviewFlag()):?>
                            <form action="<?= $block->escapeUrl($block->getAction()) ?>" class="review-form" method="post" id="review-form" data-role="product-review-form" data-bind="scope: 'review-form'">
                                <?= $block->getBlockHtml('formkey') ?>
                                <?= $block->getChildHtml('form_fields_before') ?>
                                <fieldset class="fieldset review-fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                                    <br />
                                    <?php if ($block->getRatings() && $block->getRatings()->getSize()): ?>
                                    <span id="input-message-box"></span>
                                    <fieldset class="field required review-field-ratings">
                                        <legend class="label"><span><?= $block->escapeHtml(__('Rate the product')) ?></span></legend><br/>
                                        <div class="control">
                                            <div class="nested" id="product-review-table">
                                                <?php foreach ($block->getRatings() as $_rating): ?>
                                                    <div class="field choice review-field-rating">
                                                        <div class="control review-control-vote">
                                                            <?php $options = $_rating->getOptions();?>
                                                            <?php $iterator = 1; foreach ($options as $_option): ?>
                                                            <input
                                                            type="radio"
                                                            name="ratings[<?= $block->escapeHtmlAttr($_rating->getId()) ?>]"
                                                            id="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>"
                                                            value="<?= $block->escapeHtmlAttr($_option->getId()) ?>"
                                                            class="radio"
                                                            data-validate="{'rating-required':true}"
                                                            aria-labelledby="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_rating_label <?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_label" />
                                                            <label
                                                            class="rating-<?= $block->escapeHtmlAttr($iterator) ?>"
                                                            for="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>"
                                                            title="<?= $block->escapeHtmlAttr(__('%1 %2', $iterator, $iterator > 1 ? __('stars') : __('star'))) ?>"
                                                            id="<?= $block->escapeHtmlAttr($_rating->getRatingCode()) ?>_<?= $block->escapeHtmlAttr($_option->getValue()) ?>_label">
                                                            <span><?= $block->escapeHtml(__('%1 %2', $iterator, $iterator > 1 ? __('stars') : __('star'))) ?></span>
                                                        </label>
                                                        <?php $iterator++; ?>
                                                    <?php endforeach; ?>
                                                </div>
                                            </div>
                                        <?php endforeach; ?>
                                    </div>
                                    <input type="hidden" name="validate_rating" class="validate-rating" value="" />
                                </div>
                            </fieldset>
                        <?php endif ?>
                        <div class="field review-field-nickname required">
                            <label for="nickname_field" class="label"><span><?= $block->escapeHtml(__('Name')) ?></span></label>
                            <div class="control">
                                <input type="text" name="nickname" id="nickname_field" class="input-text" data-validate="{required:true}" data-bind="value: nickname()" placeholder="Name..." />
                            </div>
                        </div>
                        <div class="field review-field-summary required">
                            <label for="summary_field" class="label"><span><?= $block->escapeHtml(__('title')) ?></span></label>
                            <div class="control">
                                <input type="text" name="title" id="summary_field" class="input-text" data-validate="{required:true}" data-bind="value: review().title" placeholder="title..." />
                            </div>
                        </div>
                        <div class="field review-field-text required">
                            <label for="review_field" class="label"><span><?= $block->escapeHtml(__('Message')) ?></span></label>
                            <div class="control">
                                <textarea name="detail" id="review_field" cols="5" rows="3" data-validate="{required:true}" data-bind="value: review().detail" placeholder="Message..."></textarea>
                            </div>
                        </div>
                    </fieldset>
                    <div class="actions-toolbar review-form-actions">
                        <div class="primary actions-primary">
                            <button type="submit" class="action submit primary"><span><?= $block->escapeHtml(__('Submit')) ?></span></button>
                            <div  class="close-btn-set" id="mymodal1"><span><?= $block->escapeHtml(__('Cancel')) ?></span></div>
                        </div>
                    </div>
                </form>




                <script type="text/x-magento-init">
                    {
                        "[data-role=product-review-form]": {
                            "Magento_Ui/js/core/app": <?= /* @noEscape */ $block->getJsLayout() ?>
                        },
                        "#review-form": {
                            "Magento_Review/js/error-placement": {},
                            "Magento_Review/js/validate-review": {},
                            "Magento_Review/js/submit-review": {}
                        }
                    }
                </script>


            <?php else: ?>
                <div class="message info notlogged" id="review-form">
                    <div>
                        <?= $block->escapeHtml(__('Only registered users can write reviews. Please <a href="%1">Sign in</a> or <a href="%2">create an account</a>', $block->getLoginLink(), $block->getRegisterUrl()), ['a']) ?>
                    </div>
                </div>
            <?php endif ?>
        </div>
    </div>


</div>

</div>
<!-- <div class="col-md-6 col-sm-12  midconthere">
    <div class="rightsidereviews">
        <div class="reviewboxtexts">
            <div class="titlerevws"><h2>How to write a review</h2></div>
            <div class="pararevws"><p>Describe your experience of using the product in free form or in the form of answers to questions:</p></div>
            <div class="orderparadetau">
                <ul>
                    <li><span class="contnmbr">1</span><span>How long have you been using this product?</span></li>
                    <li><span class="contnmbr">2</span><span>What criteria did you use when choosing a product?</span></li>
                    <li><span class="contnmbr">3</span><span>What advantages and disadvantages have you noticed in the process of using the product?</span></li>
                </ul>
            </div>
        </div>
    </div>
</div> -->



</div>


</div>

 <?php if ($block->getAllowWriteReviewFlag()){ ?>
<a href="#" class="writeareview" id="writereview">Write a Review</a>
<?php } else {?>

<a href="javascript:void(0)" class="writeareview" id="writereview-ac">Write a Review</a>
<?php } ?>



<script type="text/javascript">
   require(
    [
    'jquery',
    'Magento_Ui/js/modal/modal'
    ],
    function(
        $,
        modal
        ) {
        var options = {
            type: 'popup',
            responsive: true,
            innerScroll: true,
            modalClass: 'review-detail-modal',
        };

        var popup = modal(options, $('#addreviewpop'));
        $("#writereview").on('click',function(){
            $("#addreviewpop").modal("openModal");
             $(".modal-footer").hide();
        });


         $("#mymodal1").on('click',function(){
             $(".review-detail-modal").hide();
        });


    }
    );  
</script>

<script type="text/javascript">
    

 // require(['jquery'], function($) {

 //     $(document).ready(function($){
 //         $("#writereview-ac").click(function(){
 //               alert("hello");
 //              $(".authorization-link").trigger("click");
 //              console.log("after login");
 //         });
 //     });
 //   });

// require(['jquery'], function($) {
//     $(document).ready(function($){
//         $("#writereview-ac").click(function(){
//               alert("hello2");
//              $(".header-rightbar").find(".block-header-customer-login").addClass("open");
//              console.log("after login2");
//         });
//     });
//   });



</script>