<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->
<div data-bind="if: $row().attach_image">
    <!-- ko foreach: $row().attach_image -->
    <img if="$index() < 2" class="admin__control-thumbnail" attr="src: $col.getSrc($data), alt: $col.getAlt($data)"/>
    <!-- /ko -->
    <!-- ko if: $row().attach_image.length > 2 -->
        <div><a href="#" data-bind="text: '+ ' + parseInt($row().attach_image.length - 2) + ' ' + $t('Images')"></a></div>
    <!-- /ko -->
</div>

