<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2019 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->

<div class="grid-rating-result">
    <div class="rating-box">
        <div class="rating" data-bind="style: {width: $col.getLabel($row()) + '%'}"></div>
    </div>
</div>
