<!--
 * @package     Plumrocket_AdvancedReviewAndReminder
 * @copyright   Copyright (c) 2020 Plumrocket Inc. (https://plumrocket.com)
 * @license     https://plumrocket.com/license   End-user License Agreement
-->
<!-- ko if: $row().status_id == 1 -->
<div class="grid-severity-notice">
    <span data-bind="case: 1, text: $col.getLabel($row())" />
</div>
<!-- /ko -->
<!-- ko if: $row().status_id == 2 -->
<div class="grid-severity-minor">
    <span data-bind="case: 2, text: $col.getLabel($row())" />

</div>
<!-- /ko -->
<!-- ko if: $row().status_id == 3 -->
<div class="grid-severity-critical">
    <span data-bind="case: 3, text: $col.getLabel($row())"/>
</div>
<!-- /ko -->
